backups/(cron)-birthday_promotion-euk4zqr9XooRkU9l.json
{"updatedAt":"2026-01-03T20:17:19.011Z","createdAt":"2026-01-02T23:47:37.393Z","id":"euk4zqr9XooRkU9l","name":"(cron) birthday_promotion","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 1 * *"}]}},"id":"be6ba957-fff9-4706-a811-87f0b6628ed9","name":"Trigger Mensal - Dia 1 as 08:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-464,-64]},{"parameters":{"url":"https://api.clinicorp.com/rest/v1/patient/birthdays","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"subscriber_id","value":"dentaly"}]},"options":{}},"id":"54f12740-46ea-4274-8ee7-de15302cc819","name":"Clinicorp - Buscar Aniversariantes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,-64],"credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const firstName = item.json.Name.split(' ')[0];\n  item.json.birthday_message = `Feliz mês de aniversário, ${firstName}! 🎉 A Dentaly preparou um presente: você ganhou uma profilaxia (limpeza) para realizar este mês! Responda à nossa central oficial para agendar.`;\n  item.json.evolution_payload = {\n    \"number\": item.json.MobilePhone.replace(/\\D/g, ''),\n    \"options\": {\n      \"delay\": 1200,\n      \"presence\": \"composing\",\n      \"linkPreview\": false\n    },\n    \"textMessage\": {\n      \"text\": item.json.birthday_message\n    }\n  };\n}\nreturn $input.all();"},"id":"dacc2556-8bb9-4b40-9171-2660f5abc071","name":"Preparar Mensagem e Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,-48]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[496,-48],"id":"9bd09537-c2e5-4af1-b380-773ca5d5e8b3","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1104,256],"id":"bb3fa8ea-2eb5-40ed-8f07-03b7738d79d7"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[912,192],"id":"e255b9a8-9717-4abc-95bf-732432bdc951","name":"Wait","webhookId":"320e8f88-0fa1-4234-a7be-eca9aadc11df"},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.evolution_payload.number }}"},{"name":"text","value":"={{ $json.evolution_payload.textMessage.text }}"}]},"options":{}},"id":"9fe491c2-3459-4b9a-9641-39d5052444e3","name":"Notificar Responsável3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,48],"retryOnFail":true,"onError":"continueRegularOutput"}],"connections":{"Trigger Mensal - Dia 1 as 08:00":{"main":[[{"node":"Clinicorp - Buscar Aniversariantes","type":"main","index":0}]]},"Clinicorp - Buscar Aniversariantes":{"main":[[{"node":"Preparar Mensagem e Payload","type":"main","index":0}]]},"Preparar Mensagem e Payload":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Notificar Responsável3","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Notificar Responsável3":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Clinicorp - Buscar Aniversariantes":[{"json":{"PatientId":4524002113028096,"Name":"Diego Teste","BirthDate":"1990-01-01T00:00:00.000Z","Age":36,"Email":"diego@teste.com","MobilePhone":"(55) 51 9344-8124"}}]},"versionId":"eba6dd1c-3f02-41c7-8ce3-f42bc6117a22","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-02T23:47:37.393Z","createdAt":"2026-01-02T23:47:37.393Z","role":"workflow:owner","workflowId":"euk4zqr9XooRkU9l","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-01-02T17:21:30.678Z","createdAt":"2026-01-02T17:21:30.678Z","id":"ZnlUtd5Un2HQcpz6","name":"dentaly"}]}