backups/(tool)elevenlabs_confirm_appointment-JzN2aPFWULspSz80.json
{"updatedAt":"2026-01-05T14:35:20.465Z","createdAt":"2026-01-03T18:26:55.066Z","id":"JzN2aPFWULspSz80","name":"(tool)elevenlabs_confirm_appointment","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"elevenlabs-dentaly-confirm-appointment","responseMode":"responseNode","options":{}},"id":"42ef8e30-7977-45f2-9de5-69313a72c898","name":"Webhook - ElevenLabs Confirm","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-352,80],"webhookId":"7b0b9c6a-d4b9-4b1a-9f9d-2a1b038ba2da"},{"parameters":{"method":"POST","url":"https://api.clinicorp.com/rest/v1/appointment/confirm_appointment","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": \"dentaly\",\n  \"id\": {{ $json.body.appointment_id }}\n}","options":{}},"id":"6605c9a3-0597-4f31-abdc-03df3d1cd04d","name":"Clinicorp - Confirm Appointment","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,80],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const success = $input.all().length > 0 && !$input.first().json.Error;\nreturn {\n  status: success ? \"success\" : \"error\",\n  message: success ? \"Consulta confirmada com sucesso.\" : \"Erro ao confirmar.\"\n};"},"id":"5a09d139-9dba-4e23-b4cb-351bb15463f9","name":"Validar Resposta","type":"n8n-nodes-base.code","typeVersion":2,"position":[96,80]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"42448be6-56dd-4d7f-bfa3-186dba2619af","name":"Responder ElevenLabs","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[528,80]},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=number","value":"=5551993299031"},{"name":"text","value":"=✅ *Agendamento Confirmado via SUPERBOT*\n\nO paciente acaba de confirmar a consulta pelo canal de voz.\n\n*ID Agendamento:* {{ $('Webhook - ElevenLabs Confirm').item.json.body.appointment_id }}\n*Status:* Confirmado no Clinicorp"}]},"options":{}},"id":"dd3ed68f-388e-4eab-bfd2-259a7c5a4619","name":"Evolution: Send Reminder1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,-192],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"}],"connections":{"Webhook - ElevenLabs Confirm":{"main":[[{"node":"Clinicorp - Confirm Appointment","type":"main","index":0}]]},"Clinicorp - Confirm Appointment":{"main":[[{"node":"Validar Resposta","type":"main","index":0}]]},"Validar Resposta":{"main":[[{"node":"Responder ElevenLabs","type":"main","index":0},{"node":"Evolution: Send Reminder1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook - ElevenLabs Confirm":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"Mozilla/5.0 (Windows NT; Windows NT 10.0; pt-BR) WindowsPowerShell/5.1.19041.6456","content-length":"45","content-type":"application/json","x-forwarded-for":"177.10.2.193","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"177.10.2.193","accept-encoding":"gzip"},"params":{},"query":{},"body":{"appointment_id":5432706060582912},"webhookUrl":"https://ai.superbot.digital/webhook/elevenlabs-dentaly-confirm-appointment","executionMode":"production"}}]},"versionId":"1f464a3c-dab3-4b68-a4ea-73191e50e5db","activeVersionId":"1f464a3c-dab3-4b68-a4ea-73191e50e5db","triggerCount":1,"shared":[{"updatedAt":"2026-01-03T18:26:55.066Z","createdAt":"2026-01-03T18:26:55.066Z","role":"workflow:owner","workflowId":"JzN2aPFWULspSz80","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-05T14:35:20.447Z","createdAt":"2026-01-05T14:35:20.447Z","versionId":"1f464a3c-dab3-4b68-a4ea-73191e50e5db","workflowId":"JzN2aPFWULspSz80","nodes":[{"parameters":{"httpMethod":"POST","path":"elevenlabs-dentaly-confirm-appointment","responseMode":"responseNode","options":{}},"id":"42ef8e30-7977-45f2-9de5-69313a72c898","name":"Webhook - ElevenLabs Confirm","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-352,80],"webhookId":"7b0b9c6a-d4b9-4b1a-9f9d-2a1b038ba2da"},{"parameters":{"method":"POST","url":"https://api.clinicorp.com/rest/v1/appointment/confirm_appointment","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": \"dentaly\",\n  \"id\": {{ $json.body.appointment_id }}\n}","options":{}},"id":"6605c9a3-0597-4f31-abdc-03df3d1cd04d","name":"Clinicorp - Confirm Appointment","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,80],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const success = $input.all().length > 0 && !$input.first().json.Error;\nreturn {\n  status: success ? \"success\" : \"error\",\n  message: success ? \"Consulta confirmada com sucesso.\" : \"Erro ao confirmar.\"\n};"},"id":"5a09d139-9dba-4e23-b4cb-351bb15463f9","name":"Validar Resposta","type":"n8n-nodes-base.code","typeVersion":2,"position":[96,80]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"42448be6-56dd-4d7f-bfa3-186dba2619af","name":"Responder ElevenLabs","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[528,80]},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=number","value":"=5551993299031"},{"name":"text","value":"=✅ *Agendamento Confirmado via SUPERBOT*\n\nO paciente acaba de confirmar a consulta pelo canal de voz.\n\n*ID Agendamento:* {{ $('Webhook - ElevenLabs Confirm').item.json.body.appointment_id }}\n*Status:* Confirmado no Clinicorp"}]},"options":{}},"id":"dd3ed68f-388e-4eab-bfd2-259a7c5a4619","name":"Evolution: Send Reminder1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,-192],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"}],"connections":{"Webhook - ElevenLabs Confirm":{"main":[[{"node":"Clinicorp - Confirm Appointment","type":"main","index":0}]]},"Clinicorp - Confirm Appointment":{"main":[[{"node":"Validar Resposta","type":"main","index":0}]]},"Validar Resposta":{"main":[[{"node":"Responder ElevenLabs","type":"main","index":0},{"node":"Evolution: Send Reminder1","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[{"updatedAt":"2026-01-02T17:21:30.678Z","createdAt":"2026-01-02T17:21:30.678Z","id":"ZnlUtd5Un2HQcpz6","name":"dentaly"}]}