backups/1---search-booking-by-phone-xTof59LaQcXCSt9W.json
{"updatedAt":"2026-01-09T18:24:08.331Z","createdAt":"2025-11-24T18:55:55.685Z","id":"xTof59LaQcXCSt9W","name":"1 - Search Booking by Phone","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pacificsurf-search-phone","responseMode":"responseNode","options":{}},"id":"6e8ab7bf-d058-4c0d-98c5-77ebf43a0bc0","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,48],"webhookId":"5b7f375e-4a69-47e3-a999-c2cd05f66b4c"},{"parameters":{"jsCode":"// Normalizar telefone para formato do banco: (XXX) XXX-XXXX\nconst phoneNumber = $input.first().json.body.phone_number || '';\n\n// Remover tudo exceto dígitos\nconst digitsOnly = phoneNumber.replace(/\\D/g, '');\n\n// Pegar últimos 10 dígitos (US format)\nconst last10 = digitsOnly.slice(-10);\n\nlet searchPattern;\n\nif (last10.length === 10) {\n  // Formatar para (XXX) XXX-XXXX\n  const areaCode = last10.substring(0, 3);\n  const firstPart = last10.substring(3, 6);\n  const secondPart = last10.substring(6, 10);\n  searchPattern = `(${areaCode}) ${firstPart}-${secondPart}`;\n} else if (last10.length >= 7) {\n  // Se tiver menos de 10, formatar últimos 7: XXX-XXXX\n  const firstPart = last10.substring(last10.length - 7, last10.length - 4);\n  const secondPart = last10.substring(last10.length - 4);\n  searchPattern = `${firstPart}-${secondPart}`;\n} else {\n  // Se tiver muito poucos, usar como está\n  searchPattern = last10;\n}\n\nreturn {\n  json: {\n    phone_number: phoneNumber,\n    search_pattern: searchPattern,\n    digits_only: digitsOnly\n  }\n};"},"id":"cdf3f715-92e0-45a3-98be-91c407478ece","name":"Normalize Phone","type":"n8n-nodes-base.code","typeVersion":2,"position":[64,48]},{"parameters":{"operation":"executeQuery","query":"=SELECT pr.purchase_id AS purchase_code, pr.reservation_id AS reservation_code, r.reservation_date, CONCAT(p.first_name, ' ', p.last_name) AS customer, p.email AS customer_email, p.cell_phone AS customer_phone, school.name as school_name, l.name AS lesson_type_name, SUM(ra.checkin = 1) AS checkins, SUM(ra.noshow = 1) AS noshows, GROUP_CONCAT(ra.name ORDER BY ra.name SEPARATOR ', ') AS attendees FROM reservations r JOIN purchases_reservations pr ON pr.reservation_id = r.id JOIN purchases p ON p.id = pr.purchase_id JOIN schools school on school.id = p.school_id LEFT JOIN reservations_attendees ra ON ra.reservation_id = r.id LEFT JOIN lessons l ON l.id = r.lesson_id WHERE p.cell_phone LIKE CONCAT('%', '{{ $json.search_pattern }}', '%') AND r.reservation_date >= CURRENT_DATE AND (r.status_id != 2 OR r.status_id IS NULL) GROUP BY p.school_id, pr.purchase_id, pr.reservation_id, r.reservation_date, r.lesson_id, r.id, p.first_name, p.last_name, p.email, p.cell_phone, school.name, l.name ORDER BY r.reservation_date ASC LIMIT 10","options":{}},"id":"a53584bb-ff93-4354-84d9-c3d7ca766eb4","name":"Query MySQL","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[288,48],"alwaysOutputData":true,"retryOnFail":true,"credentials":{"mySql":{"id":"XUWpwf4pSOuTVYH9","name":"MySQL pacific"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const results = $input.all();\nconst now = new Date();\n\nif (results.length === 0) {\n  return { json: { status: 404, reason: 'No reservations found for this phone number', total: 0, eligible_count: 0, data: [], eligible_reservations: [], completed_reservations: [] }};\n}\n\nconst reservations = results.map(item => {\n  const r = item.json;\n  const resDate = new Date(r.reservation_date);\n  const isPast = resDate < now;\n  const isUsed = parseInt(r.checkins || '0') > 0;\n  \n  const dateOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\n  const timeOptions = { hour: 'numeric', minute: '2-digit', hour12: true };\n  const friendlyDate = resDate.toLocaleDateString('en-US', dateOptions);\n  const friendlyTime = resDate.toLocaleTimeString('en-US', timeOptions);\n  \n  let status = 'upcoming';\n  if (isUsed) status = 'completed';\n  else if (isPast) status = 'missed';\n  \n  return {\n    purchase_code: String(r.purchase_code),\n    reservation_code: String(r.reservation_code),\n    reservation_date: r.reservation_date,\n    friendly_date: friendlyDate,\n    friendly_time: friendlyTime,\n    customer: r.customer,\n    customer_email: r.customer_email,\n    customer_phone: r.customer_phone,\n    school_name: r.school_name,\n    checkins: String(r.checkins || '0'),\n    noshows: String(r.noshows || '0'),\n    attendees: r.attendees || r.customer || '',\n    lesson_type_name: r.lesson_type_name || 'Lesson',\n    status: status,\n    is_past: isPast,\n    is_used: isUsed,\n    is_eligible: !isPast && !isUsed\n  };\n});\n\nconst eligible = reservations.filter(r => r.is_eligible);\nconst completed = reservations.filter(r => !r.is_eligible);\n\nreturn {\n  json: {\n    status: 200,\n    total: reservations.length,\n    eligible_count: eligible.length,\n    data: reservations,\n    eligible_reservations: eligible,\n    completed_reservations: completed\n  }\n};"},"id":"8a25e1a0-d689-47e0-b064-0282e098dceb","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,48]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"c9fa9ae4-2b9a-412f-b038-2970a541833b","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[848,48]}],"connections":{"Webhook":{"main":[[{"node":"Normalize Phone","type":"main","index":0}]]},"Normalize Phone":{"main":[[{"node":"Query MySQL","type":"main","index":0}]]},"Query MySQL":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"ElevenLabs/1.0","content-length":"34","accept":"*/*","accept-encoding":"gzip, deflate, br","content-type":"application/json","x-forwarded-for":"34.59.11.47","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"34.59.11.47"},"params":{},"query":{},"body":{"phone_number":"(785) 979-3224"},"webhookUrl":"https://ai.superbot.digital/webhook/pacificsurf-search-phone","executionMode":"production"}}]},"versionId":"7883253e-fbb9-4498-8c51-87719481ce5e","activeVersionId":"7883253e-fbb9-4498-8c51-87719481ce5e","triggerCount":1,"shared":[{"updatedAt":"2025-11-24T18:55:55.685Z","createdAt":"2025-11-24T18:55:55.685Z","role":"workflow:owner","workflowId":"xTof59LaQcXCSt9W","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-09T18:24:08.291Z","createdAt":"2026-01-09T18:24:08.291Z","versionId":"7883253e-fbb9-4498-8c51-87719481ce5e","workflowId":"xTof59LaQcXCSt9W","nodes":[{"parameters":{"httpMethod":"POST","path":"pacificsurf-search-phone","responseMode":"responseNode","options":{}},"id":"6e8ab7bf-d058-4c0d-98c5-77ebf43a0bc0","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,48],"webhookId":"5b7f375e-4a69-47e3-a999-c2cd05f66b4c"},{"parameters":{"jsCode":"// Normalizar telefone para formato do banco: (XXX) XXX-XXXX\nconst phoneNumber = $input.first().json.body.phone_number || '';\n\n// Remover tudo exceto dígitos\nconst digitsOnly = phoneNumber.replace(/\\D/g, '');\n\n// Pegar últimos 10 dígitos (US format)\nconst last10 = digitsOnly.slice(-10);\n\nlet searchPattern;\n\nif (last10.length === 10) {\n  // Formatar para (XXX) XXX-XXXX\n  const areaCode = last10.substring(0, 3);\n  const firstPart = last10.substring(3, 6);\n  const secondPart = last10.substring(6, 10);\n  searchPattern = `(${areaCode}) ${firstPart}-${secondPart}`;\n} else if (last10.length >= 7) {\n  // Se tiver menos de 10, formatar últimos 7: XXX-XXXX\n  const firstPart = last10.substring(last10.length - 7, last10.length - 4);\n  const secondPart = last10.substring(last10.length - 4);\n  searchPattern = `${firstPart}-${secondPart}`;\n} else {\n  // Se tiver muito poucos, usar como está\n  searchPattern = last10;\n}\n\nreturn {\n  json: {\n    phone_number: phoneNumber,\n    search_pattern: searchPattern,\n    digits_only: digitsOnly\n  }\n};"},"id":"cdf3f715-92e0-45a3-98be-91c407478ece","name":"Normalize Phone","type":"n8n-nodes-base.code","typeVersion":2,"position":[64,48]},{"parameters":{"operation":"executeQuery","query":"=SELECT pr.purchase_id AS purchase_code, pr.reservation_id AS reservation_code, r.reservation_date, CONCAT(p.first_name, ' ', p.last_name) AS customer, p.email AS customer_email, p.cell_phone AS customer_phone, school.name as school_name, l.name AS lesson_type_name, SUM(ra.checkin = 1) AS checkins, SUM(ra.noshow = 1) AS noshows, GROUP_CONCAT(ra.name ORDER BY ra.name SEPARATOR ', ') AS attendees FROM reservations r JOIN purchases_reservations pr ON pr.reservation_id = r.id JOIN purchases p ON p.id = pr.purchase_id JOIN schools school on school.id = p.school_id LEFT JOIN reservations_attendees ra ON ra.reservation_id = r.id LEFT JOIN lessons l ON l.id = r.lesson_id WHERE p.cell_phone LIKE CONCAT('%', '{{ $json.search_pattern }}', '%') AND r.reservation_date >= CURRENT_DATE AND (r.status_id != 2 OR r.status_id IS NULL) GROUP BY p.school_id, pr.purchase_id, pr.reservation_id, r.reservation_date, r.lesson_id, r.id, p.first_name, p.last_name, p.email, p.cell_phone, school.name, l.name ORDER BY r.reservation_date ASC LIMIT 10","options":{}},"id":"a53584bb-ff93-4354-84d9-c3d7ca766eb4","name":"Query MySQL","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[288,48],"alwaysOutputData":true,"retryOnFail":true,"credentials":{"mySql":{"id":"XUWpwf4pSOuTVYH9","name":"MySQL pacific"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const results = $input.all();\nconst now = new Date();\n\nif (results.length === 0) {\n  return { json: { status: 404, reason: 'No reservations found for this phone number', total: 0, eligible_count: 0, data: [], eligible_reservations: [], completed_reservations: [] }};\n}\n\nconst reservations = results.map(item => {\n  const r = item.json;\n  const resDate = new Date(r.reservation_date);\n  const isPast = resDate < now;\n  const isUsed = parseInt(r.checkins || '0') > 0;\n  \n  const dateOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\n  const timeOptions = { hour: 'numeric', minute: '2-digit', hour12: true };\n  const friendlyDate = resDate.toLocaleDateString('en-US', dateOptions);\n  const friendlyTime = resDate.toLocaleTimeString('en-US', timeOptions);\n  \n  let status = 'upcoming';\n  if (isUsed) status = 'completed';\n  else if (isPast) status = 'missed';\n  \n  return {\n    purchase_code: String(r.purchase_code),\n    reservation_code: String(r.reservation_code),\n    reservation_date: r.reservation_date,\n    friendly_date: friendlyDate,\n    friendly_time: friendlyTime,\n    customer: r.customer,\n    customer_email: r.customer_email,\n    customer_phone: r.customer_phone,\n    school_name: r.school_name,\n    checkins: String(r.checkins || '0'),\n    noshows: String(r.noshows || '0'),\n    attendees: r.attendees || r.customer || '',\n    lesson_type_name: r.lesson_type_name || 'Lesson',\n    status: status,\n    is_past: isPast,\n    is_used: isUsed,\n    is_eligible: !isPast && !isUsed\n  };\n});\n\nconst eligible = reservations.filter(r => r.is_eligible);\nconst completed = reservations.filter(r => !r.is_eligible);\n\nreturn {\n  json: {\n    status: 200,\n    total: reservations.length,\n    eligible_count: eligible.length,\n    data: reservations,\n    eligible_reservations: eligible,\n    completed_reservations: completed\n  }\n};"},"id":"8a25e1a0-d689-47e0-b064-0282e098dceb","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,48]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"c9fa9ae4-2b9a-412f-b038-2970a541833b","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[848,48]}],"connections":{"Webhook":{"main":[[{"node":"Normalize Phone","type":"main","index":0}]]},"Normalize Phone":{"main":[[{"node":"Query MySQL","type":"main","index":0}]]},"Query MySQL":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[{"updatedAt":"2026-01-02T15:43:09.908Z","createdAt":"2026-01-02T15:43:09.908Z","id":"pgziJkRB2xHVUzON","name":"surf"}]}