backups/11---campaign-ui-6mnkNCJNwJURrKA0.json
{"updatedAt":"2026-01-02T15:44:02.762Z","createdAt":"2025-11-28T18:51:41.390Z","id":"6mnkNCJNwJURrKA0","name":"11 - Campaign UI","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"campaign-ui","responseMode":"responseNode","options":{}},"id":"7a1b281c-db97-4637-aa94-f21dc8c3d5a2","name":"Webhook UI","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[1200,-320],"webhookId":"67614400-ae7c-4eb9-aa7e-026af1bfc91a"},{"parameters":{"jsCode":"const html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Pacific Surf - Outbound Campaign</title>\n    <style>\n        :root {\n            --primary: #2563EB;\n            --primary-dark: #1D4ED8;\n            --surface: #FFFFFF;\n            --background: #F3F4F6;\n            --text-main: #1F2937;\n            --text-secondary: #6B7280;\n            --success: #10B981;\n            --error: #EF4444;\n            --border: #E5E7EB;\n        }\n        body { margin: 0; font-family: 'Inter', system-ui, sans-serif; background: var(--background); color: var(--text-main); min-height: 100vh; display: flex; align-items: center; justify-content: center; }\n        .card { background: var(--surface); width: 100%; max-width: 640px; border-radius: 16px; box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1); overflow: hidden; margin: 20px; }\n        .header { background: linear-gradient(135deg, var(--primary), var(--primary-dark)); color: white; padding: 40px 30px; text-align: center; position: relative; }\n        .logo { width: 80px; height: 80px; border-radius: 50%; border: 4px solid rgba(255,255,255,0.3); object-fit: cover; margin-bottom: 16px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }\n        h1 { margin: 0; font-size: 24px; font-weight: 700; letter-spacing: -0.025em; }\n        .subtitle { margin-top: 8px; opacity: 0.9; font-size: 14px; font-weight: 500; }\n        \n        .tabs { display: flex; background: var(--surface); border-bottom: 1px solid var(--border); }\n        .tab-btn { flex: 1; padding: 16px; border: none; background: none; cursor: pointer; font-weight: 600; color: var(--text-secondary); transition: all 0.2s; border-bottom: 2px solid transparent; }\n        .tab-btn:hover { color: var(--primary); background: #F9FAFB; }\n        .tab-btn.active { color: var(--primary); border-bottom-color: var(--primary); }\n        \n        .content { padding: 32px; }\n        .tab-pane { display: none; animation: fadeIn 0.3s ease; }\n        .tab-pane.active { display: block; }\n        @keyframes fadeIn { from { opacity: 0; transform: translateY(5px); } to { opacity: 1; transform: translateY(0); } }\n\n        .form-group { margin-bottom: 24px; }\n        label { display: block; margin-bottom: 8px; font-weight: 600; font-size: 14px; color: var(--text-main); }\n        input, textarea { width: 100%; padding: 12px; border: 1px solid var(--border); border-radius: 8px; font-size: 14px; transition: all 0.2s; box-sizing: border-box; }\n        input:focus, textarea:focus { outline: none; border-color: var(--primary); box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1); }\n        \n        .drop-zone { border: 2px dashed var(--border); border-radius: 12px; padding: 40px 20px; text-align: center; cursor: pointer; transition: all 0.2s; background: #F9FAFB; }\n        .drop-zone:hover { border-color: var(--primary); background: #EFF6FF; }\n        .drop-icon { font-size: 32px; margin-bottom: 12px; display: block; }\n        \n        .btn { width: 100%; padding: 14px; background: var(--primary); color: white; border: none; border-radius: 8px; font-weight: 600; cursor: pointer; transition: all 0.2s; font-size: 16px; }\n        .btn:hover { background: var(--primary-dark); transform: translateY(-1px); }\n        .btn:disabled { opacity: 0.7; cursor: not-allowed; transform: none; }\n        \n        .info-box { background: #EFF6FF; border: 1px solid #DBEAFE; border-radius: 8px; padding: 16px; margin-bottom: 24px; font-size: 14px; color: #1E40AF; }\n        .info-title { font-weight: 700; margin-bottom: 8px; display: flex; align-items: center; gap: 8px; }\n        .code-snippet { background: rgba(255,255,255,0.5); padding: 2px 6px; border-radius: 4px; font-family: monospace; font-weight: 600; }\n        \n        .download-link { display: inline-flex; align-items: center; gap: 6px; color: var(--primary); text-decoration: none; font-weight: 600; font-size: 13px; margin-top: 8px; }\n        .download-link:hover { text-decoration: underline; }\n\n        .status { margin-top: 20px; padding: 12px; border-radius: 8px; font-size: 14px; text-align: center; display: none; }\n        .status.success { background: #ECFDF5; color: #065F46; border: 1px solid #D1FAE5; }\n        .status.error { background: #FEF2F2; color: #991B1B; border: 1px solid #FEE2E2; }\n    </style>\n</head>\n<body>\n    <div class=\"card\">\n        <div class=\"header\">\n            <img src=\"https://i.imgur.com/Asnurof.png\" alt=\"Pacific Surf\" class=\"logo\">\n            <h1>Outbound Campaign</h1>\n            <p class=\"subtitle\">Conversational AI Automation</p>\n        </div>\n        \n        <div class=\"tabs\">\n            <button class=\"tab-btn active\" onclick=\"setTab('file')\">Upload File</button>\n            <button class=\"tab-btn\" onclick=\"setTab('list')\">Paste List</button>\n            <button class=\"tab-btn\" onclick=\"setTab('single')\">Single Contact</button>\n        </div>\n\n        <div class=\"content\">\n            <!-- FILE TAB -->\n            <div id=\"tab-file\" class=\"tab-pane active\">\n                <div class=\"info-box\">\n                    <div class=\"info-title\">ℹ️ Format Instructions</div>\n                    Upload an .xlsx file with the following headers:\n                    <div style=\"margin-top:8px\">\n                        <span class=\"code-snippet\">name</span>\n                        <span class=\"code-snippet\">phone</span>\n                        <span class=\"code-snippet\">email</span>\n                    </div>\n                    <a href=\"#\" onclick=\"downloadTemplate(event)\" class=\"download-link\">⬇️ Download Template File</a>\n                </div>\n                \n                <form id=\"form-file\">\n                    <div class=\"form-group\">\n                        <div class=\"drop-zone\" onclick=\"document.getElementById('file').click()\">\n                            <span class=\"drop-icon\">📁</span>\n                            <div style=\"font-weight:500\">Click to upload .xlsx</div>\n                            <div style=\"font-size:12px; color:var(--text-secondary); margin-top:4px\">Drag and drop supported</div>\n                            <input type=\"file\" id=\"file\" accept=\".xlsx\" hidden onchange=\"showFile(this)\">\n                        </div>\n                        <div id=\"file-name\" style=\"text-align:center; margin-top:8px; font-size:13px; color:var(--primary); font-weight:500\"></div>\n                    </div>\n                    <button type=\"submit\" class=\"btn\">Start Campaign</button>\n                </form>\n            </div>\n\n            <!-- LIST TAB -->\n            <div id=\"tab-list\" class=\"tab-pane\">\n                <form id=\"form-list\">\n                    <div class=\"form-group\">\n                        <label>JSON Contact List</label>\n                        <textarea id=\"json-input\" rows=\"8\" placeholder='[\n  {\n    \"name\": \"Maria Silva\",\n    \"phone\": \"+5511999999999\",\n    \"email\": \"maria@example.com\"\n  }\n]'></textarea>\n                    </div>\n                    <button type=\"submit\" class=\"btn\">Start Campaign</button>\n                </form>\n            </div>\n\n            <!-- SINGLE TAB -->\n            <div id=\"tab-single\" class=\"tab-pane\">\n                <form id=\"form-single\">\n                    <div class=\"form-group\">\n                        <label>Customer Name</label>\n                        <input type=\"text\" id=\"name\" placeholder=\"e.g. João Souza\" required>\n                    </div>\n                    <div class=\"form-group\">\n                        <label>Phone Number</label>\n                        <input type=\"tel\" id=\"phone\" placeholder=\"e.g. +55 11 99999-9999\" required>\n                    </div>\n                    <div class=\"form-group\">\n                        <label>Email Address</label>\n                        <input type=\"email\" id=\"email\" placeholder=\"e.g. client@example.com\" required>\n                    </div>\n                    <button type=\"submit\" class=\"btn\">Initiate Call</button>\n                </form>\n            </div>\n\n            <div id=\"status\" class=\"status\"></div>\n        </div>\n    </div>\n\n    <script>\n        const WEBHOOK_URL = 'https://n8n-n8n-start.gtzkxz.easypanel.host/webhook/elevenlabs-outbound-trigger';\n\n        function setTab(id) {\n            document.querySelectorAll('.tab-pane').forEach(el => el.classList.remove('active'));\n            document.querySelectorAll('.tab-btn').forEach(el => el.classList.remove('active'));\n            document.getElementById('tab-'+id).classList.add('active');\n            // Simple logic to highlight correct button\n            const btns = document.querySelectorAll('.tab-btn');\n            if(id==='file') btns[0].classList.add('active');\n            if(id==='list') btns[1].classList.add('active');\n            if(id==='single') btns[2].classList.add('active');\n        }\n\n        function showFile(input) {\n            document.getElementById('file-name').textContent = input.files[0] ? input.files[0].name : '';\n        }\n\n        function downloadTemplate(e) {\n            e.preventDefault();\n            const csvContent = \"data:text/csv;charset=utf-8,name,phone,email\\\\nJohn Doe,+15550123456,john@example.com\";\n            const encodedUri = encodeURI(csvContent);\n            const link = document.createElement(\"a\");\n            link.setAttribute(\"href\", encodedUri);\n            link.setAttribute(\"download\", \"contact_template.csv\");\n            document.body.appendChild(link);\n            link.click();\n            document.body.removeChild(link);\n        }\n\n        function showStatus(msg, type) {\n            const el = document.getElementById('status');\n            el.textContent = msg;\n            el.className = 'status ' + type;\n            el.style.display = 'block';\n            setTimeout(() => el.style.display = 'none', 5000);\n        }\n\n        async function submitData(data, isFile=false) {\n            const btn = document.querySelector('.tab-pane.active .btn');\n            const originalText = btn.textContent;\n            btn.disabled = true;\n            btn.textContent = 'Processing...';\n\n            try {\n                let options = { method: 'POST' };\n                if(isFile) {\n                    options.body = data;\n                } else {\n                    options.headers = { 'Content-Type': 'application/json' };\n                    options.body = JSON.stringify(data);\n                }\n\n                const res = await fetch(WEBHOOK_URL, options);\n                if(res.ok) {\n                    showStatus('Campaign initiated successfully!', 'success');\n                    document.querySelectorAll('form').forEach(f => f.reset());\n                    document.getElementById('file-name').textContent = '';\n                } else {\n                    showStatus('Error initiating campaign.', 'error');\n                }\n            } catch(e) {\n                console.error(e);\n                showStatus('Network error occurred.', 'error');\n            } finally {\n                btn.disabled = false;\n                btn.textContent = originalText;\n            }\n        }\n\n        document.getElementById('form-file').addEventListener('submit', e => {\n            e.preventDefault();\n            const input = document.getElementById('file');\n            if(!input.files[0]) return showStatus('Please select a file.', 'error');\n            const fd = new FormData();\n            fd.append('file', input.files[0]);\n            fd.append('type', 'file');\n            submitData(fd, true);\n        });\n\n        document.getElementById('form-list').addEventListener('submit', e => {\n            e.preventDefault();\n            try {\n                const data = JSON.parse(document.getElementById('json-input').value);\n                if(!Array.isArray(data)) throw new Error();\n                submitData({ type: 'list', contacts: data });\n            } catch {\n                showStatus('Invalid JSON format.', 'error');\n            }\n        });\n\n        document.getElementById('form-single').addEventListener('submit', e => {\n            e.preventDefault();\n            submitData({\n                type: 'single',\n                contact: {\n                    name: document.getElementById('name').value,\n                    phone: document.getElementById('phone').value,\n                    email: document.getElementById('email').value\n                }\n            });\n        });\n    </script>\n</body>\n</html>`;\nreturn { json: { html: html } };"},"id":"35a4a48e-3dfa-4a5f-a797-0be9130892ac","name":"Code HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,-320]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}},"id":"c4298953-370f-417c-85a4-a20bf5ec8591","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1616,-320]}],"connections":{"Webhook UI":{"main":[[{"node":"Code HTML","type":"main","index":0}]]},"Code HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d8681548-bb67-48f8-bca4-29d9ec408b9e","activeVersionId":"d8681548-bb67-48f8-bca4-29d9ec408b9e","triggerCount":1,"shared":[{"updatedAt":"2025-11-28T18:51:41.390Z","createdAt":"2025-11-28T18:51:41.390Z","role":"workflow:owner","workflowId":"6mnkNCJNwJURrKA0","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-02T15:44:02.748Z","createdAt":"2026-01-02T15:44:02.748Z","versionId":"d8681548-bb67-48f8-bca4-29d9ec408b9e","workflowId":"6mnkNCJNwJURrKA0","nodes":[{"parameters":{"path":"campaign-ui","responseMode":"responseNode","options":{}},"id":"7a1b281c-db97-4637-aa94-f21dc8c3d5a2","name":"Webhook UI","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[1200,-320],"webhookId":"67614400-ae7c-4eb9-aa7e-026af1bfc91a"},{"parameters":{"jsCode":"const html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Pacific Surf - Outbound Campaign</title>\n    <style>\n        :root {\n            --primary: #2563EB;\n            --primary-dark: #1D4ED8;\n            --surface: #FFFFFF;\n            --background: #F3F4F6;\n            --text-main: #1F2937;\n            --text-secondary: #6B7280;\n            --success: #10B981;\n            --error: #EF4444;\n            --border: #E5E7EB;\n        }\n        body { margin: 0; font-family: 'Inter', system-ui, sans-serif; background: var(--background); color: var(--text-main); min-height: 100vh; display: flex; align-items: center; justify-content: center; }\n        .card { background: var(--surface); width: 100%; max-width: 640px; border-radius: 16px; box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1); overflow: hidden; margin: 20px; }\n        .header { background: linear-gradient(135deg, var(--primary), var(--primary-dark)); color: white; padding: 40px 30px; text-align: center; position: relative; }\n        .logo { width: 80px; height: 80px; border-radius: 50%; border: 4px solid rgba(255,255,255,0.3); object-fit: cover; margin-bottom: 16px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }\n        h1 { margin: 0; font-size: 24px; font-weight: 700; letter-spacing: -0.025em; }\n        .subtitle { margin-top: 8px; opacity: 0.9; font-size: 14px; font-weight: 500; }\n        \n        .tabs { display: flex; background: var(--surface); border-bottom: 1px solid var(--border); }\n        .tab-btn { flex: 1; padding: 16px; border: none; background: none; cursor: pointer; font-weight: 600; color: var(--text-secondary); transition: all 0.2s; border-bottom: 2px solid transparent; }\n        .tab-btn:hover { color: var(--primary); background: #F9FAFB; }\n        .tab-btn.active { color: var(--primary); border-bottom-color: var(--primary); }\n        \n        .content { padding: 32px; }\n        .tab-pane { display: none; animation: fadeIn 0.3s ease; }\n        .tab-pane.active { display: block; }\n        @keyframes fadeIn { from { opacity: 0; transform: translateY(5px); } to { opacity: 1; transform: translateY(0); } }\n\n        .form-group { margin-bottom: 24px; }\n        label { display: block; margin-bottom: 8px; font-weight: 600; font-size: 14px; color: var(--text-main); }\n        input, textarea { width: 100%; padding: 12px; border: 1px solid var(--border); border-radius: 8px; font-size: 14px; transition: all 0.2s; box-sizing: border-box; }\n        input:focus, textarea:focus { outline: none; border-color: var(--primary); box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1); }\n        \n        .drop-zone { border: 2px dashed var(--border); border-radius: 12px; padding: 40px 20px; text-align: center; cursor: pointer; transition: all 0.2s; background: #F9FAFB; }\n        .drop-zone:hover { border-color: var(--primary); background: #EFF6FF; }\n        .drop-icon { font-size: 32px; margin-bottom: 12px; display: block; }\n        \n        .btn { width: 100%; padding: 14px; background: var(--primary); color: white; border: none; border-radius: 8px; font-weight: 600; cursor: pointer; transition: all 0.2s; font-size: 16px; }\n        .btn:hover { background: var(--primary-dark); transform: translateY(-1px); }\n        .btn:disabled { opacity: 0.7; cursor: not-allowed; transform: none; }\n        \n        .info-box { background: #EFF6FF; border: 1px solid #DBEAFE; border-radius: 8px; padding: 16px; margin-bottom: 24px; font-size: 14px; color: #1E40AF; }\n        .info-title { font-weight: 700; margin-bottom: 8px; display: flex; align-items: center; gap: 8px; }\n        .code-snippet { background: rgba(255,255,255,0.5); padding: 2px 6px; border-radius: 4px; font-family: monospace; font-weight: 600; }\n        \n        .download-link { display: inline-flex; align-items: center; gap: 6px; color: var(--primary); text-decoration: none; font-weight: 600; font-size: 13px; margin-top: 8px; }\n        .download-link:hover { text-decoration: underline; }\n\n        .status { margin-top: 20px; padding: 12px; border-radius: 8px; font-size: 14px; text-align: center; display: none; }\n        .status.success { background: #ECFDF5; color: #065F46; border: 1px solid #D1FAE5; }\n        .status.error { background: #FEF2F2; color: #991B1B; border: 1px solid #FEE2E2; }\n    </style>\n</head>\n<body>\n    <div class=\"card\">\n        <div class=\"header\">\n            <img src=\"https://i.imgur.com/Asnurof.png\" alt=\"Pacific Surf\" class=\"logo\">\n            <h1>Outbound Campaign</h1>\n            <p class=\"subtitle\">Conversational AI Automation</p>\n        </div>\n        \n        <div class=\"tabs\">\n            <button class=\"tab-btn active\" onclick=\"setTab('file')\">Upload File</button>\n            <button class=\"tab-btn\" onclick=\"setTab('list')\">Paste List</button>\n            <button class=\"tab-btn\" onclick=\"setTab('single')\">Single Contact</button>\n        </div>\n\n        <div class=\"content\">\n            <!-- FILE TAB -->\n            <div id=\"tab-file\" class=\"tab-pane active\">\n                <div class=\"info-box\">\n                    <div class=\"info-title\">ℹ️ Format Instructions</div>\n                    Upload an .xlsx file with the following headers:\n                    <div style=\"margin-top:8px\">\n                        <span class=\"code-snippet\">name</span>\n                        <span class=\"code-snippet\">phone</span>\n                        <span class=\"code-snippet\">email</span>\n                    </div>\n                    <a href=\"#\" onclick=\"downloadTemplate(event)\" class=\"download-link\">⬇️ Download Template File</a>\n                </div>\n                \n                <form id=\"form-file\">\n                    <div class=\"form-group\">\n                        <div class=\"drop-zone\" onclick=\"document.getElementById('file').click()\">\n                            <span class=\"drop-icon\">📁</span>\n                            <div style=\"font-weight:500\">Click to upload .xlsx</div>\n                            <div style=\"font-size:12px; color:var(--text-secondary); margin-top:4px\">Drag and drop supported</div>\n                            <input type=\"file\" id=\"file\" accept=\".xlsx\" hidden onchange=\"showFile(this)\">\n                        </div>\n                        <div id=\"file-name\" style=\"text-align:center; margin-top:8px; font-size:13px; color:var(--primary); font-weight:500\"></div>\n                    </div>\n                    <button type=\"submit\" class=\"btn\">Start Campaign</button>\n                </form>\n            </div>\n\n            <!-- LIST TAB -->\n            <div id=\"tab-list\" class=\"tab-pane\">\n                <form id=\"form-list\">\n                    <div class=\"form-group\">\n                        <label>JSON Contact List</label>\n                        <textarea id=\"json-input\" rows=\"8\" placeholder='[\n  {\n    \"name\": \"Maria Silva\",\n    \"phone\": \"+5511999999999\",\n    \"email\": \"maria@example.com\"\n  }\n]'></textarea>\n                    </div>\n                    <button type=\"submit\" class=\"btn\">Start Campaign</button>\n                </form>\n            </div>\n\n            <!-- SINGLE TAB -->\n            <div id=\"tab-single\" class=\"tab-pane\">\n                <form id=\"form-single\">\n                    <div class=\"form-group\">\n                        <label>Customer Name</label>\n                        <input type=\"text\" id=\"name\" placeholder=\"e.g. João Souza\" required>\n                    </div>\n                    <div class=\"form-group\">\n                        <label>Phone Number</label>\n                        <input type=\"tel\" id=\"phone\" placeholder=\"e.g. +55 11 99999-9999\" required>\n                    </div>\n                    <div class=\"form-group\">\n                        <label>Email Address</label>\n                        <input type=\"email\" id=\"email\" placeholder=\"e.g. client@example.com\" required>\n                    </div>\n                    <button type=\"submit\" class=\"btn\">Initiate Call</button>\n                </form>\n            </div>\n\n            <div id=\"status\" class=\"status\"></div>\n        </div>\n    </div>\n\n    <script>\n        const WEBHOOK_URL = 'https://n8n-n8n-start.gtzkxz.easypanel.host/webhook/elevenlabs-outbound-trigger';\n\n        function setTab(id) {\n            document.querySelectorAll('.tab-pane').forEach(el => el.classList.remove('active'));\n            document.querySelectorAll('.tab-btn').forEach(el => el.classList.remove('active'));\n            document.getElementById('tab-'+id).classList.add('active');\n            // Simple logic to highlight correct button\n            const btns = document.querySelectorAll('.tab-btn');\n            if(id==='file') btns[0].classList.add('active');\n            if(id==='list') btns[1].classList.add('active');\n            if(id==='single') btns[2].classList.add('active');\n        }\n\n        function showFile(input) {\n            document.getElementById('file-name').textContent = input.files[0] ? input.files[0].name : '';\n        }\n\n        function downloadTemplate(e) {\n            e.preventDefault();\n            const csvContent = \"data:text/csv;charset=utf-8,name,phone,email\\\\nJohn Doe,+15550123456,john@example.com\";\n            const encodedUri = encodeURI(csvContent);\n            const link = document.createElement(\"a\");\n            link.setAttribute(\"href\", encodedUri);\n            link.setAttribute(\"download\", \"contact_template.csv\");\n            document.body.appendChild(link);\n            link.click();\n            document.body.removeChild(link);\n        }\n\n        function showStatus(msg, type) {\n            const el = document.getElementById('status');\n            el.textContent = msg;\n            el.className = 'status ' + type;\n            el.style.display = 'block';\n            setTimeout(() => el.style.display = 'none', 5000);\n        }\n\n        async function submitData(data, isFile=false) {\n            const btn = document.querySelector('.tab-pane.active .btn');\n            const originalText = btn.textContent;\n            btn.disabled = true;\n            btn.textContent = 'Processing...';\n\n            try {\n                let options = { method: 'POST' };\n                if(isFile) {\n                    options.body = data;\n                } else {\n                    options.headers = { 'Content-Type': 'application/json' };\n                    options.body = JSON.stringify(data);\n                }\n\n                const res = await fetch(WEBHOOK_URL, options);\n                if(res.ok) {\n                    showStatus('Campaign initiated successfully!', 'success');\n                    document.querySelectorAll('form').forEach(f => f.reset());\n                    document.getElementById('file-name').textContent = '';\n                } else {\n                    showStatus('Error initiating campaign.', 'error');\n                }\n            } catch(e) {\n                console.error(e);\n                showStatus('Network error occurred.', 'error');\n            } finally {\n                btn.disabled = false;\n                btn.textContent = originalText;\n            }\n        }\n\n        document.getElementById('form-file').addEventListener('submit', e => {\n            e.preventDefault();\n            const input = document.getElementById('file');\n            if(!input.files[0]) return showStatus('Please select a file.', 'error');\n            const fd = new FormData();\n            fd.append('file', input.files[0]);\n            fd.append('type', 'file');\n            submitData(fd, true);\n        });\n\n        document.getElementById('form-list').addEventListener('submit', e => {\n            e.preventDefault();\n            try {\n                const data = JSON.parse(document.getElementById('json-input').value);\n                if(!Array.isArray(data)) throw new Error();\n                submitData({ type: 'list', contacts: data });\n            } catch {\n                showStatus('Invalid JSON format.', 'error');\n            }\n        });\n\n        document.getElementById('form-single').addEventListener('submit', e => {\n            e.preventDefault();\n            submitData({\n                type: 'single',\n                contact: {\n                    name: document.getElementById('name').value,\n                    phone: document.getElementById('phone').value,\n                    email: document.getElementById('email').value\n                }\n            });\n        });\n    </script>\n</body>\n</html>`;\nreturn { json: { html: html } };"},"id":"35a4a48e-3dfa-4a5f-a797-0be9130892ac","name":"Code HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,-320]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}},"id":"c4298953-370f-417c-85a4-a20bf5ec8591","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1616,-320]}],"connections":{"Webhook UI":{"main":[[{"node":"Code HTML","type":"main","index":0}]]},"Code HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[{"updatedAt":"2026-01-02T15:43:09.908Z","createdAt":"2026-01-02T15:43:09.908Z","id":"pgziJkRB2xHVUzON","name":"surf"}]}