backups/2---search-purchase-id-V4sBYn0hLWDNRL82.json
{"updatedAt":"2026-01-09T18:36:26.592Z","createdAt":"2025-11-24T18:57:31.817Z","id":"V4sBYn0hLWDNRL82","name":"2 - Search Purchase ID","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pacificsurf-search-purchase","responseMode":"responseNode","options":{}},"id":"546863aa-8ba5-4086-a1d7-0362096ac41c","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,-128],"webhookId":"e9da41cb-fb71-4ca3-9af7-4a1ce77c4e08"},{"parameters":{"operation":"executeQuery","query":"SELECT pr.purchase_id AS purchase_code, pr.reservation_id AS reservation_code, r.reservation_date, r.id, CONCAT(p.first_name, ' ', p.last_name) AS customer, p.email AS customer_email, p.cell_phone AS customer_phone, p.school_id, school.name as school_name, l.name AS lesson_type_name, SUM(ra.checkin = 1) AS checkins, SUM(ra.noshow = 1) AS noshows, GROUP_CONCAT(ra.name ORDER BY ra.name SEPARATOR ', ') AS attendees FROM reservations r JOIN purchases_reservations pr ON pr.reservation_id = r.id JOIN purchases p ON p.id = pr.purchase_id JOIN schools school on school.id = p.school_id LEFT JOIN reservations_attendees ra ON ra.reservation_id = r.id LEFT JOIN lessons l ON l.id = r.lesson_id WHERE pr.purchase_id = {{ $json.purchase_id }} GROUP BY p.school_id, pr.purchase_id, pr.reservation_id, r.reservation_date, r.lesson_id, r.id, p.first_name, p.last_name, p.email, p.cell_phone, school.name, l.name","options":{}},"id":"876953a6-c1e3-4662-80dd-f8c0f31d0a42","name":"Query MySQL","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[32,-128],"alwaysOutputData":true,"credentials":{"mySql":{"id":"XUWpwf4pSOuTVYH9","name":"MySQL pacific"}}},{"parameters":{"jsCode":"const results = $input.all();\nconst now = new Date();\n\nif (!results || results.length === 0) {\n  return {\n    json: {\n      status: 404,\n      reason: 'No reservation found with this purchase ID',\n      total: 0,\n      eligible_count: 0,\n      data: [],\n      eligible_reservations: [],\n      completed_reservations: []\n    }\n  };\n}\n\nconst data = results.map(item => {\n  const r = item.json || {};\n  const resDate = new Date(r.reservation_date);\n  const isPast = resDate < now;\n  const isUsed = parseInt(r.checkins || '0') > 0;\n  \n  const dateOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\n  const timeOptions = { hour: 'numeric', minute: '2-digit', hour12: true };\n  const friendlyDate = resDate.toLocaleDateString('en-US', dateOptions);\n  const friendlyTime = resDate.toLocaleTimeString('en-US', timeOptions);\n  \n  let status = 'upcoming';\n  if (isUsed) status = 'completed';\n  else if (isPast) status = 'missed';\n\n  return {\n    purchase_code: String(r.purchase_code ?? ''),\n    reservation_code: String(r.reservation_code ?? ''),\n    reservation_date: r.reservation_date ?? null,\n    friendly_date: friendlyDate,\n    friendly_time: friendlyTime,\n    customer: r.customer ?? '',\n    customer_email: r.customer_email ?? '',\n    customer_phone: r.customer_phone ?? '',\n    school_name: r.school_name ?? '',\n    checkins: String(r.checkins ?? '0'),\n    noshows: String(r.noshows ?? '0'),\n    attendees: r.attendees || r.customer || '',\n    lesson_type_name: r.lesson_type_name ?? 'Lesson',\n    status: status,\n    is_past: isPast,\n    is_used: isUsed,\n    is_eligible: !isPast && !isUsed\n  };\n});\n\nconst eligible = data.filter(r => r.is_eligible);\nconst completed = data.filter(r => !r.is_eligible);\n\nreturn {\n  json: {\n    status: 200,\n    total: data.length,\n    eligible_count: eligible.length,\n    data: data,\n    eligible_reservations: eligible,\n    completed_reservations: completed\n  }\n};"},"id":"099a7b97-7b75-4701-a37c-4a0a950e9d9d","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,-128]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"2b29569c-bd01-45a7-8aff-2f591b0100c2","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[448,-128]},{"parameters":{"jsCode":"const inputId = $input.item.json.body.purchase_id || '';\nconst cleanId = String(inputId).replace(/\\D/g, '');\nconst finalId = cleanId.length > 5 ? cleanId.slice(-5) : cleanId;\nreturn { json: { purchase_id: finalId } };"},"id":"37a389a2-c554-4a9b-8abd-8bd3051f3763","name":"Normalize ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-128]}],"connections":{"Webhook":{"main":[[{"node":"Normalize ID","type":"main","index":0}]]},"Query MySQL":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Normalize ID":{"main":[[{"node":"Query MySQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"axios/1.12.0","content-length":"23","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"purchase_id":"64199"},"webhookUrl":"https://ai.superbot.digital/webhook/pacificsurf-search-purchase","executionMode":"production"}}]},"versionId":"d6890da5-cb8a-4fbe-914a-024e49ae21e5","activeVersionId":"d6890da5-cb8a-4fbe-914a-024e49ae21e5","triggerCount":1,"shared":[{"updatedAt":"2025-11-24T18:57:31.817Z","createdAt":"2025-11-24T18:57:31.817Z","role":"workflow:owner","workflowId":"V4sBYn0hLWDNRL82","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-09T18:36:26.584Z","createdAt":"2026-01-09T18:36:26.584Z","versionId":"d6890da5-cb8a-4fbe-914a-024e49ae21e5","workflowId":"V4sBYn0hLWDNRL82","nodes":[{"parameters":{"httpMethod":"POST","path":"pacificsurf-search-purchase","responseMode":"responseNode","options":{}},"id":"546863aa-8ba5-4086-a1d7-0362096ac41c","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,-128],"webhookId":"e9da41cb-fb71-4ca3-9af7-4a1ce77c4e08"},{"parameters":{"operation":"executeQuery","query":"SELECT pr.purchase_id AS purchase_code, pr.reservation_id AS reservation_code, r.reservation_date, r.id, CONCAT(p.first_name, ' ', p.last_name) AS customer, p.email AS customer_email, p.cell_phone AS customer_phone, p.school_id, school.name as school_name, l.name AS lesson_type_name, SUM(ra.checkin = 1) AS checkins, SUM(ra.noshow = 1) AS noshows, GROUP_CONCAT(ra.name ORDER BY ra.name SEPARATOR ', ') AS attendees FROM reservations r JOIN purchases_reservations pr ON pr.reservation_id = r.id JOIN purchases p ON p.id = pr.purchase_id JOIN schools school on school.id = p.school_id LEFT JOIN reservations_attendees ra ON ra.reservation_id = r.id LEFT JOIN lessons l ON l.id = r.lesson_id WHERE pr.purchase_id = {{ $json.purchase_id }} GROUP BY p.school_id, pr.purchase_id, pr.reservation_id, r.reservation_date, r.lesson_id, r.id, p.first_name, p.last_name, p.email, p.cell_phone, school.name, l.name","options":{}},"id":"876953a6-c1e3-4662-80dd-f8c0f31d0a42","name":"Query MySQL","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[32,-128],"alwaysOutputData":true,"credentials":{"mySql":{"id":"XUWpwf4pSOuTVYH9","name":"MySQL pacific"}}},{"parameters":{"jsCode":"const results = $input.all();\nconst now = new Date();\n\nif (!results || results.length === 0) {\n  return {\n    json: {\n      status: 404,\n      reason: 'No reservation found with this purchase ID',\n      total: 0,\n      eligible_count: 0,\n      data: [],\n      eligible_reservations: [],\n      completed_reservations: []\n    }\n  };\n}\n\nconst data = results.map(item => {\n  const r = item.json || {};\n  const resDate = new Date(r.reservation_date);\n  const isPast = resDate < now;\n  const isUsed = parseInt(r.checkins || '0') > 0;\n  \n  const dateOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\n  const timeOptions = { hour: 'numeric', minute: '2-digit', hour12: true };\n  const friendlyDate = resDate.toLocaleDateString('en-US', dateOptions);\n  const friendlyTime = resDate.toLocaleTimeString('en-US', timeOptions);\n  \n  let status = 'upcoming';\n  if (isUsed) status = 'completed';\n  else if (isPast) status = 'missed';\n\n  return {\n    purchase_code: String(r.purchase_code ?? ''),\n    reservation_code: String(r.reservation_code ?? ''),\n    reservation_date: r.reservation_date ?? null,\n    friendly_date: friendlyDate,\n    friendly_time: friendlyTime,\n    customer: r.customer ?? '',\n    customer_email: r.customer_email ?? '',\n    customer_phone: r.customer_phone ?? '',\n    school_name: r.school_name ?? '',\n    checkins: String(r.checkins ?? '0'),\n    noshows: String(r.noshows ?? '0'),\n    attendees: r.attendees || r.customer || '',\n    lesson_type_name: r.lesson_type_name ?? 'Lesson',\n    status: status,\n    is_past: isPast,\n    is_used: isUsed,\n    is_eligible: !isPast && !isUsed\n  };\n});\n\nconst eligible = data.filter(r => r.is_eligible);\nconst completed = data.filter(r => !r.is_eligible);\n\nreturn {\n  json: {\n    status: 200,\n    total: data.length,\n    eligible_count: eligible.length,\n    data: data,\n    eligible_reservations: eligible,\n    completed_reservations: completed\n  }\n};"},"id":"099a7b97-7b75-4701-a37c-4a0a950e9d9d","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,-128]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"2b29569c-bd01-45a7-8aff-2f591b0100c2","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[448,-128]},{"parameters":{"jsCode":"const inputId = $input.item.json.body.purchase_id || '';\nconst cleanId = String(inputId).replace(/\\D/g, '');\nconst finalId = cleanId.length > 5 ? cleanId.slice(-5) : cleanId;\nreturn { json: { purchase_id: finalId } };"},"id":"37a389a2-c554-4a9b-8abd-8bd3051f3763","name":"Normalize ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-128]}],"connections":{"Webhook":{"main":[[{"node":"Normalize ID","type":"main","index":0}]]},"Query MySQL":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Normalize ID":{"main":[[{"node":"Query MySQL","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[{"updatedAt":"2026-01-02T15:43:09.908Z","createdAt":"2026-01-02T15:43:09.908Z","id":"pgziJkRB2xHVUzON","name":"surf"}]}