backups/3---cancel-booking-(with-auth)-WTev00tDuT534phg.json
{"updatedAt":"2026-01-09T19:47:13.511Z","createdAt":"2025-11-24T19:35:37.823Z","id":"WTev00tDuT534phg","name":"3 - Cancel Booking (with Auth)","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pacificsurf-cancel-booking","responseMode":"responseNode","options":{}},"id":"1cc134e1-e99c-4c3c-bdab-010738a8dd71","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1088,-240],"webhookId":"39ae376e-a291-4fc7-a0c6-c60c836f7b71"},{"parameters":{"method":"POST","url":"https://jettbooking.com/api/auth/authentication","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"email\": \"iaintegration@gmail.com\",\n  \"password\": \"WRKxr7kUS45rpJV5j\",\n  \"user_type\": \"admin\"\n}","options":{}},"id":"92b6fe72-921a-42e5-901c-0e9d2300e853","name":"Authenticate","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-864,-240]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  pr.purchase_id, \n  pr.reservation_id, \n  r.reservation_date, \n  r.id as res_id, \n  p.school_id, \n  CONCAT(p.first_name, ' ', p.last_name) as customer_name, \n  p.first_name, \n  p.last_name, \n  p.email, \n  SUM(ra.checkin = 1) AS checkins \nFROM reservations r \nJOIN purchases_reservations pr ON pr.reservation_id = r.id \nJOIN purchases p ON p.id = pr.purchase_id \nLEFT JOIN reservations_attendees ra ON ra.reservation_id = r.id \nWHERE pr.reservation_id = {{ $('Webhook').item.json.body.reservation_id }} \nGROUP BY p.school_id, pr.purchase_id, pr.reservation_id, r.reservation_date, r.id, p.first_name, p.last_name, p.email \nLIMIT 1","options":{}},"id":"a7e1fcf6-c84e-44c4-b57b-0d654f39c117","name":"Get Reservation","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-640,-240],"credentials":{"mySql":{"id":"XUWpwf4pSOuTVYH9","name":"MySQL pacific"}}},{"parameters":{"jsCode":"const r = $input.item.json;\nconst now = new Date();\nconst resDate = new Date(r.reservation_date);\nconst diffHours = (resDate - now) / (1000 * 60 * 60);\nconst token = $('Authenticate').item.json.data.token;\n\nif (!r.reservation_id) {\n  return { json: { status: 400, reason: 'Reservation not found', eligible: false } };\n}\n\nif (r.checkins > 0) {\n  return { json: { status: 400, reason: 'Cannot cancel - this lesson has already been completed', eligible: false } };\n}\n\nif (diffHours < 0) {\n  return { json: { status: 400, reason: 'Cannot cancel - the lesson date has already passed', eligible: false } };\n}\n\nconst hasFullRefund = diffHours >= 48;\n\nreturn { \n  json: { \n    ...r, \n    use_full_refund: hasFullRefund, \n    diff_hours: Math.round(diffHours),\n    token: token,\n    eligible: true,\n    refund_message: hasFullRefund \n      ? 'Full refund will be processed (cancelled more than 48h before lesson)'\n      : 'No refund available (cancelled less than 48h before lesson)'\n  } \n};"},"id":"fdad721f-17f3-4f66-accf-0745368f2e85","name":"Validate Cancellation","type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,-240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"615085e6-cb30-4f22-9a9b-b8ef7980332f","leftValue":"={{ $json.eligible }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"062d16f4-e380-466a-9428-99540bc7d24a","name":"Is Eligible?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-208,-240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fa9bf584-92cf-495c-98dc-ac094fb40671","leftValue":"={{ $json.use_full_refund }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6ab7cb37-9806-4bec-853a-e8fa76290968","name":"Refund Type?","type":"n8n-nodes-base.if","typeVersion":2,"position":[32,-352]},{"parameters":{"method":"POST","url":"https://jettbooking.com/api/financial/full-refund","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Validate Cancellation').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"purchase_id\": \"{{ $('Validate Cancellation').item.json.purchase_id }}\",\n  \"school_id\": \"{{ $('Validate Cancellation').item.json.school_id }}\",\n  \"reason\": \"Customer requested cancellation\",\n  \"operator\": \"Voice Bot\"\n}","options":{}},"id":"3649e1e8-bc84-4c33-846b-f2c0694846f3","name":"Full Refund API","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[256,-448],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://jettbooking.com/api/financial/no-refund","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Validate Cancellation').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"person_id\": {{ $('Authenticate').item.json.data.id }},\n  \"reservation_id\": \"{{ $('Validate Cancellation').item.json.reservation_id }}\",\n  \"school_id\": \"{{ $('Validate Cancellation').item.json.school_id }}\",\n  \"reason\": \"Customer requested full refund\",\n  \"operator\": \"Mick\"\n}","options":{}},"id":"77a03315-b8d8-4729-91df-1e92e2ea13c4","name":"No Refund API","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[256,-240],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"return { json: { status: 200, reason: 'Booking cancelled successfully with full refund (>48h notice)' } };"},"id":"94ecc65a-1948-41be-8ba4-d02c8d262a1f","name":"Success Full","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-448]},{"parameters":{"jsCode":"return { json: { status: 200, reason: 'Booking cancelled successfully (no refund due to <48h notice)' } };"},"id":"3041d052-4a65-47f0-bde9-284eba341ab8","name":"Success No Refund","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-240]},{"parameters":{"jsCode":"return { json: { status: 400, reason: $json.reason || 'Cancellation failed' } };"},"id":"7c2f11de-d434-4aea-99a9-1b81492693f4","name":"Fail Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,144]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"afb01e30-5905-432d-a734-5c4d655a1d92","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[912,-320]},{"parameters":{"content":"## reservation id status "},"type":"n8n-nodes-base.stickyNote","position":[-448,-496],"typeVersion":1,"id":"d7bdb662-522e-494a-9057-78697ee365b9","name":"Sticky Note"}],"connections":{"Webhook":{"main":[[{"node":"Authenticate","type":"main","index":0}]]},"Authenticate":{"main":[[{"node":"Get Reservation","type":"main","index":0}]]},"Get Reservation":{"main":[[{"node":"Validate Cancellation","type":"main","index":0}]]},"Validate Cancellation":{"main":[[{"node":"Is Eligible?","type":"main","index":0}]]},"Is Eligible?":{"main":[[{"node":"Refund Type?","type":"main","index":0}],[{"node":"Fail Response","type":"main","index":0}]]},"Refund Type?":{"main":[[{"node":"Full Refund API","type":"main","index":0}],[{"node":"No Refund API","type":"main","index":0}]]},"Full Refund API":{"main":[[{"node":"Success Full","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"No Refund API":{"main":[[{"node":"Success No Refund","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Success Full":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Success No Refund":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Fail Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"axios/1.12.0","content-length":"24","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"reservation_id":97474},"webhookUrl":"https://ai.superbot.digital/webhook/pacificsurf-cancel-booking","executionMode":"production"}}]},"versionId":"b4fa818f-73ab-41e1-aa68-7b780cc67012","activeVersionId":"b4fa818f-73ab-41e1-aa68-7b780cc67012","triggerCount":1,"shared":[{"updatedAt":"2025-11-24T19:35:37.823Z","createdAt":"2025-11-24T19:35:37.823Z","role":"workflow:owner","workflowId":"WTev00tDuT534phg","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-09T19:47:13.491Z","createdAt":"2026-01-09T19:47:13.491Z","versionId":"b4fa818f-73ab-41e1-aa68-7b780cc67012","workflowId":"WTev00tDuT534phg","nodes":[{"parameters":{"httpMethod":"POST","path":"pacificsurf-cancel-booking","responseMode":"responseNode","options":{}},"id":"1cc134e1-e99c-4c3c-bdab-010738a8dd71","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1088,-240],"webhookId":"39ae376e-a291-4fc7-a0c6-c60c836f7b71"},{"parameters":{"method":"POST","url":"https://jettbooking.com/api/auth/authentication","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"email\": \"iaintegration@gmail.com\",\n  \"password\": \"WRKxr7kUS45rpJV5j\",\n  \"user_type\": \"admin\"\n}","options":{}},"id":"92b6fe72-921a-42e5-901c-0e9d2300e853","name":"Authenticate","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-864,-240]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  pr.purchase_id, \n  pr.reservation_id, \n  r.reservation_date, \n  r.id as res_id, \n  p.school_id, \n  CONCAT(p.first_name, ' ', p.last_name) as customer_name, \n  p.first_name, \n  p.last_name, \n  p.email, \n  SUM(ra.checkin = 1) AS checkins \nFROM reservations r \nJOIN purchases_reservations pr ON pr.reservation_id = r.id \nJOIN purchases p ON p.id = pr.purchase_id \nLEFT JOIN reservations_attendees ra ON ra.reservation_id = r.id \nWHERE pr.reservation_id = {{ $('Webhook').item.json.body.reservation_id }} \nGROUP BY p.school_id, pr.purchase_id, pr.reservation_id, r.reservation_date, r.id, p.first_name, p.last_name, p.email \nLIMIT 1","options":{}},"id":"a7e1fcf6-c84e-44c4-b57b-0d654f39c117","name":"Get Reservation","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-640,-240],"credentials":{"mySql":{"id":"XUWpwf4pSOuTVYH9","name":"MySQL pacific"}}},{"parameters":{"jsCode":"const r = $input.item.json;\nconst now = new Date();\nconst resDate = new Date(r.reservation_date);\nconst diffHours = (resDate - now) / (1000 * 60 * 60);\nconst token = $('Authenticate').item.json.data.token;\n\nif (!r.reservation_id) {\n  return { json: { status: 400, reason: 'Reservation not found', eligible: false } };\n}\n\nif (r.checkins > 0) {\n  return { json: { status: 400, reason: 'Cannot cancel - this lesson has already been completed', eligible: false } };\n}\n\nif (diffHours < 0) {\n  return { json: { status: 400, reason: 'Cannot cancel - the lesson date has already passed', eligible: false } };\n}\n\nconst hasFullRefund = diffHours >= 48;\n\nreturn { \n  json: { \n    ...r, \n    use_full_refund: hasFullRefund, \n    diff_hours: Math.round(diffHours),\n    token: token,\n    eligible: true,\n    refund_message: hasFullRefund \n      ? 'Full refund will be processed (cancelled more than 48h before lesson)'\n      : 'No refund available (cancelled less than 48h before lesson)'\n  } \n};"},"id":"fdad721f-17f3-4f66-accf-0745368f2e85","name":"Validate Cancellation","type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,-240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"615085e6-cb30-4f22-9a9b-b8ef7980332f","leftValue":"={{ $json.eligible }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"062d16f4-e380-466a-9428-99540bc7d24a","name":"Is Eligible?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-208,-240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fa9bf584-92cf-495c-98dc-ac094fb40671","leftValue":"={{ $json.use_full_refund }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6ab7cb37-9806-4bec-853a-e8fa76290968","name":"Refund Type?","type":"n8n-nodes-base.if","typeVersion":2,"position":[32,-352]},{"parameters":{"method":"POST","url":"https://jettbooking.com/api/financial/full-refund","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Validate Cancellation').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"purchase_id\": \"{{ $('Validate Cancellation').item.json.purchase_id }}\",\n  \"school_id\": \"{{ $('Validate Cancellation').item.json.school_id }}\",\n  \"reason\": \"Customer requested cancellation\",\n  \"operator\": \"Voice Bot\"\n}","options":{}},"id":"3649e1e8-bc84-4c33-846b-f2c0694846f3","name":"Full Refund API","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[256,-448],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://jettbooking.com/api/financial/no-refund","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Validate Cancellation').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"person_id\": {{ $('Authenticate').item.json.data.id }},\n  \"reservation_id\": \"{{ $('Validate Cancellation').item.json.reservation_id }}\",\n  \"school_id\": \"{{ $('Validate Cancellation').item.json.school_id }}\",\n  \"reason\": \"Customer requested full refund\",\n  \"operator\": \"Mick\"\n}","options":{}},"id":"77a03315-b8d8-4729-91df-1e92e2ea13c4","name":"No Refund API","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[256,-240],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"return { json: { status: 200, reason: 'Booking cancelled successfully with full refund (>48h notice)' } };"},"id":"94ecc65a-1948-41be-8ba4-d02c8d262a1f","name":"Success Full","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-448]},{"parameters":{"jsCode":"return { json: { status: 200, reason: 'Booking cancelled successfully (no refund due to <48h notice)' } };"},"id":"3041d052-4a65-47f0-bde9-284eba341ab8","name":"Success No Refund","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-240]},{"parameters":{"jsCode":"return { json: { status: 400, reason: $json.reason || 'Cancellation failed' } };"},"id":"7c2f11de-d434-4aea-99a9-1b81492693f4","name":"Fail Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,144]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"afb01e30-5905-432d-a734-5c4d655a1d92","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[912,-320]},{"parameters":{"content":"## reservation id status "},"type":"n8n-nodes-base.stickyNote","position":[-448,-496],"typeVersion":1,"id":"d7bdb662-522e-494a-9057-78697ee365b9","name":"Sticky Note"}],"connections":{"Webhook":{"main":[[{"node":"Authenticate","type":"main","index":0}]]},"Authenticate":{"main":[[{"node":"Get Reservation","type":"main","index":0}]]},"Get Reservation":{"main":[[{"node":"Validate Cancellation","type":"main","index":0}]]},"Validate Cancellation":{"main":[[{"node":"Is Eligible?","type":"main","index":0}]]},"Is Eligible?":{"main":[[{"node":"Refund Type?","type":"main","index":0}],[{"node":"Fail Response","type":"main","index":0}]]},"Refund Type?":{"main":[[{"node":"Full Refund API","type":"main","index":0}],[{"node":"No Refund API","type":"main","index":0}]]},"Full Refund API":{"main":[[{"node":"Success Full","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"No Refund API":{"main":[[{"node":"Success No Refund","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Success Full":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Success No Refund":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Fail Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[{"updatedAt":"2026-01-02T15:43:09.908Z","createdAt":"2026-01-02T15:43:09.908Z","id":"pgziJkRB2xHVUzON","name":"surf"}]}