backups/4---reschedule-booking-(with-auth)-BC98ytAhXErCDQe3.json
{"updatedAt":"2026-01-09T19:45:33.298Z","createdAt":"2025-11-24T21:18:14.094Z","id":"BC98ytAhXErCDQe3","name":"4 - Reschedule Booking (with Auth)","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pacificsurf-reschedule-booking","responseMode":"responseNode","options":{}},"id":"993d6067-af43-4b16-9a25-cc489625c899","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2208,256],"webhookId":"abd0fe68-e081-411a-bf18-26f2ac4874a7"},{"parameters":{"method":"POST","url":"https://jettbooking.com/api/auth/authentication","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"email\": \"iaintegration@gmail.com\",\n  \"password\": \"WRKxr7kUS45rpJV5j\",\n  \"user_type\": \"admin\"\n}","options":{}},"id":"cf08a058-3776-40ca-a329-cb915b93528e","name":"Authenticate","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1984,256],"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"=SELECT pr.purchase_id, pr.reservation_id, r.reservation_date, r.id, p.school_id, SUM(ra.checkin = 1) AS checkins FROM reservations r JOIN purchases_reservations pr ON pr.reservation_id = r.id JOIN purchases p ON p.id = pr.purchase_id LEFT JOIN reservations_attendees ra ON ra.reservation_id = r.id WHERE pr.reservation_id = {{ $('Webhook').item.json.body.reservation_id }} GROUP BY p.school_id, pr.purchase_id, pr.reservation_id, r.reservation_date, r.id LIMIT 1","options":{}},"id":"a4c4af62-d869-49fb-8e25-28081dae0880","name":"Get Reservation","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-1760,176],"credentials":{"mySql":{"id":"XUWpwf4pSOuTVYH9","name":"MySQL pacific"}}},{"parameters":{"jsCode":"const r = $input.item.json;\nconst now = new Date();\nconst resDate = new Date(r.reservation_date);\nconst diffHours = (resDate - now) / (1000 * 60 * 60);\n\nif (!r.reservation_id) {\n  return { json: { status: 400, reason: 'Reservation not found', eligible: false } };\n}\n\nif (r.checkins > 0) {\n  return { json: { status: 400, reason: 'Cannot reschedule - this lesson has already been completed', eligible: false } };\n}\n\nif (resDate < now) {\n  return { json: { status: 400, reason: 'Cannot reschedule - the lesson date has already passed', eligible: false } };\n}\n\nif (diffHours < 24) {\n  return { json: { status: 400, reason: 'Cannot reschedule - less than 24 hours before the lesson. Please contact us directly.', eligible: false } };\n}\n\nif (diffHours >= 24 && diffHours < 48) {\n  return { \n    json: { \n      status: 202, \n      reason: 'Reschedule requires staff approval (24-48h notice). I will transfer you to our team.',\n      eligible: false,\n      needs_transfer: true,\n      diff_hours: Math.round(diffHours),\n      ...r\n    } \n  };\n}\n\nconst newDate = $('Webhook').item.json.body.reservation_date;\nconst newTime = $('Webhook').item.json.body.reservation_time;\nconst token = $('Authenticate').item.json.data.token;\n\nreturn { \n  json: { \n    ...r, \n    has_fee: false, \n    new_date: newDate, \n    new_time: newTime,\n    token: token,\n    eligible: true,\n    diff_hours: Math.round(diffHours)\n  } \n};"},"id":"294561d5-c429-4a7e-a527-5e27cb0a6f19","name":"Validate Rules","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,176]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a368af3a-5e94-4fc0-8d4b-06e2dcb8eb1b","leftValue":"={{ $json.eligible }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"905403db-d174-494c-8aae-05cb108c2168","name":"Is Eligible?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1344,176]},{"parameters":{"method":"POST","url":"https://jettbooking.com/api/financial/get-lesson-times","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"reservation_id\": \"{{ $json.reservation_id }}\",\n  \"date\": \"{{ $json.new_date }}\"\n}","options":{}},"id":"83d50ea4-310b-43cf-a774-5476db80224e","name":"Check Availability","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1104,112],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// A API retorna um objeto: { \"09:00:00\": \"09:00 AM\", \"10:45:00\": \"10:45 AM\", ... }\n// Precisamos converter as chaves (keys) para array\n\nconst apiResponse = $input.item.json.data || {};\nconst requestedTime = $('Validate Rules').item.json.new_time;\n\n// Converter objeto para array de horários (pegar as chaves)\nconst times = Object.keys(apiResponse);\n\n// Verificar se o horário solicitado está disponível\nconst isAvailable = times.some(t => t.includes(requestedTime));\n\nreturn { \n  json: { \n    available: isAvailable, \n    requested_time: requestedTime,\n    available_times: times\n  } \n};"},"id":"16fd977e-9e1a-4731-9a4c-f7553adf02c4","name":"Verify Time Slot","type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ef852d59-f634-4672-b842-d571149c97a4","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"df566691-0df8-41bf-8392-d96e18a34c84","name":"Is Available?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-704,80]},{"parameters":{"method":"POST","url":"https://jettbooking.com/api/financial/save-reservation-date","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Validate Rules').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"reservation_id\": \"{{ $('Validate Rules').item.json.reservation_id }}\",\n  \"school_id\": \"{{ $('Validate Rules').item.json.school_id }}\",\n  \"reservation_date\": \"{{ $('Validate Rules').item.json.new_date }}\",\n  \"reservation_time\": \"{{ $('Validate Rules').item.json.new_time }}\"\n}","options":{}},"id":"d8e11e6b-ff06-4900-8ec0-7b97e9afd6c4","name":"Save Reschedule","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-464,-16],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const hasFee = $('Validate Rules').item.json.has_fee;\nconst date = $('Validate Rules').item.json.new_date;\nconst time = $('Validate Rules').item.json.new_time;\nconst reason = hasFee \n  ? `Rescheduled to ${date} at ${time}. Note: A $35 reschedule fee applies.` \n  : `Rescheduled to ${date} at ${time}. No fee applied.`;\n  \nreturn { json: { status: 200, reason } };"},"id":"1b43c754-67eb-4626-b16f-1b4aaf80eb66","name":"Success Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,-32]},{"parameters":{"jsCode":"return { json: { status: 400, reason: 'Selected time slot is not available. Please choose another time.' } };"},"id":"6c7c80a7-db4b-4947-a682-44186f20b9d2","name":"Fail Unavailable","type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,176]},{"parameters":{"jsCode":"return { json: { status: 400, reason: $json.reason || 'Reschedule failed' } };"},"id":"f1c8c0db-e3bb-49cf-83bb-696a20a8c8e6","name":"Fail Rules","type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,464]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"4d16db2e-c233-47e1-85f7-01826bd63cd1","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[128,224]}],"connections":{"Webhook":{"main":[[{"node":"Authenticate","type":"main","index":0}]]},"Authenticate":{"main":[[{"node":"Get Reservation","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get Reservation":{"main":[[{"node":"Validate Rules","type":"main","index":0}]]},"Validate Rules":{"main":[[{"node":"Is Eligible?","type":"main","index":0}]]},"Is Eligible?":{"main":[[{"node":"Check Availability","type":"main","index":0}],[{"node":"Fail Rules","type":"main","index":0}]]},"Check Availability":{"main":[[{"node":"Verify Time Slot","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Verify Time Slot":{"main":[[{"node":"Is Available?","type":"main","index":0}]]},"Is Available?":{"main":[[{"node":"Save Reschedule","type":"main","index":0}],[{"node":"Fail Unavailable","type":"main","index":0}]]},"Save Reschedule":{"main":[[{"node":"Success Response","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Success Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Fail Unavailable":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Fail Rules":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"axios/1.12.0","content-length":"86","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"reservation_id":97474,"reservation_date":"2027-04-01","reservation_time":"09:00:00"},"webhookUrl":"https://ai.superbot.digital/webhook/pacificsurf-reschedule-booking","executionMode":"production"}}]},"versionId":"560c92c1-a961-42b1-bba9-8f1cf6030853","activeVersionId":"560c92c1-a961-42b1-bba9-8f1cf6030853","triggerCount":1,"shared":[{"updatedAt":"2025-11-24T21:18:14.094Z","createdAt":"2025-11-24T21:18:14.094Z","role":"workflow:owner","workflowId":"BC98ytAhXErCDQe3","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-09T19:45:33.285Z","createdAt":"2026-01-09T19:45:33.285Z","versionId":"560c92c1-a961-42b1-bba9-8f1cf6030853","workflowId":"BC98ytAhXErCDQe3","nodes":[{"parameters":{"httpMethod":"POST","path":"pacificsurf-reschedule-booking","responseMode":"responseNode","options":{}},"id":"993d6067-af43-4b16-9a25-cc489625c899","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2208,256],"webhookId":"abd0fe68-e081-411a-bf18-26f2ac4874a7"},{"parameters":{"method":"POST","url":"https://jettbooking.com/api/auth/authentication","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"email\": \"iaintegration@gmail.com\",\n  \"password\": \"WRKxr7kUS45rpJV5j\",\n  \"user_type\": \"admin\"\n}","options":{}},"id":"cf08a058-3776-40ca-a329-cb915b93528e","name":"Authenticate","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1984,256],"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"=SELECT pr.purchase_id, pr.reservation_id, r.reservation_date, r.id, p.school_id, SUM(ra.checkin = 1) AS checkins FROM reservations r JOIN purchases_reservations pr ON pr.reservation_id = r.id JOIN purchases p ON p.id = pr.purchase_id LEFT JOIN reservations_attendees ra ON ra.reservation_id = r.id WHERE pr.reservation_id = {{ $('Webhook').item.json.body.reservation_id }} GROUP BY p.school_id, pr.purchase_id, pr.reservation_id, r.reservation_date, r.id LIMIT 1","options":{}},"id":"a4c4af62-d869-49fb-8e25-28081dae0880","name":"Get Reservation","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-1760,176],"credentials":{"mySql":{"id":"XUWpwf4pSOuTVYH9","name":"MySQL pacific"}}},{"parameters":{"jsCode":"const r = $input.item.json;\nconst now = new Date();\nconst resDate = new Date(r.reservation_date);\nconst diffHours = (resDate - now) / (1000 * 60 * 60);\n\nif (!r.reservation_id) {\n  return { json: { status: 400, reason: 'Reservation not found', eligible: false } };\n}\n\nif (r.checkins > 0) {\n  return { json: { status: 400, reason: 'Cannot reschedule - this lesson has already been completed', eligible: false } };\n}\n\nif (resDate < now) {\n  return { json: { status: 400, reason: 'Cannot reschedule - the lesson date has already passed', eligible: false } };\n}\n\nif (diffHours < 24) {\n  return { json: { status: 400, reason: 'Cannot reschedule - less than 24 hours before the lesson. Please contact us directly.', eligible: false } };\n}\n\nif (diffHours >= 24 && diffHours < 48) {\n  return { \n    json: { \n      status: 202, \n      reason: 'Reschedule requires staff approval (24-48h notice). I will transfer you to our team.',\n      eligible: false,\n      needs_transfer: true,\n      diff_hours: Math.round(diffHours),\n      ...r\n    } \n  };\n}\n\nconst newDate = $('Webhook').item.json.body.reservation_date;\nconst newTime = $('Webhook').item.json.body.reservation_time;\nconst token = $('Authenticate').item.json.data.token;\n\nreturn { \n  json: { \n    ...r, \n    has_fee: false, \n    new_date: newDate, \n    new_time: newTime,\n    token: token,\n    eligible: true,\n    diff_hours: Math.round(diffHours)\n  } \n};"},"id":"294561d5-c429-4a7e-a527-5e27cb0a6f19","name":"Validate Rules","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,176]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a368af3a-5e94-4fc0-8d4b-06e2dcb8eb1b","leftValue":"={{ $json.eligible }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"905403db-d174-494c-8aae-05cb108c2168","name":"Is Eligible?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1344,176]},{"parameters":{"method":"POST","url":"https://jettbooking.com/api/financial/get-lesson-times","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"reservation_id\": \"{{ $json.reservation_id }}\",\n  \"date\": \"{{ $json.new_date }}\"\n}","options":{}},"id":"83d50ea4-310b-43cf-a774-5476db80224e","name":"Check Availability","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1104,112],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// A API retorna um objeto: { \"09:00:00\": \"09:00 AM\", \"10:45:00\": \"10:45 AM\", ... }\n// Precisamos converter as chaves (keys) para array\n\nconst apiResponse = $input.item.json.data || {};\nconst requestedTime = $('Validate Rules').item.json.new_time;\n\n// Converter objeto para array de horários (pegar as chaves)\nconst times = Object.keys(apiResponse);\n\n// Verificar se o horário solicitado está disponível\nconst isAvailable = times.some(t => t.includes(requestedTime));\n\nreturn { \n  json: { \n    available: isAvailable, \n    requested_time: requestedTime,\n    available_times: times\n  } \n};"},"id":"16fd977e-9e1a-4731-9a4c-f7553adf02c4","name":"Verify Time Slot","type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ef852d59-f634-4672-b842-d571149c97a4","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"df566691-0df8-41bf-8392-d96e18a34c84","name":"Is Available?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-704,80]},{"parameters":{"method":"POST","url":"https://jettbooking.com/api/financial/save-reservation-date","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Validate Rules').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"reservation_id\": \"{{ $('Validate Rules').item.json.reservation_id }}\",\n  \"school_id\": \"{{ $('Validate Rules').item.json.school_id }}\",\n  \"reservation_date\": \"{{ $('Validate Rules').item.json.new_date }}\",\n  \"reservation_time\": \"{{ $('Validate Rules').item.json.new_time }}\"\n}","options":{}},"id":"d8e11e6b-ff06-4900-8ec0-7b97e9afd6c4","name":"Save Reschedule","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-464,-16],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const hasFee = $('Validate Rules').item.json.has_fee;\nconst date = $('Validate Rules').item.json.new_date;\nconst time = $('Validate Rules').item.json.new_time;\nconst reason = hasFee \n  ? `Rescheduled to ${date} at ${time}. Note: A $35 reschedule fee applies.` \n  : `Rescheduled to ${date} at ${time}. No fee applied.`;\n  \nreturn { json: { status: 200, reason } };"},"id":"1b43c754-67eb-4626-b16f-1b4aaf80eb66","name":"Success Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,-32]},{"parameters":{"jsCode":"return { json: { status: 400, reason: 'Selected time slot is not available. Please choose another time.' } };"},"id":"6c7c80a7-db4b-4947-a682-44186f20b9d2","name":"Fail Unavailable","type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,176]},{"parameters":{"jsCode":"return { json: { status: 400, reason: $json.reason || 'Reschedule failed' } };"},"id":"f1c8c0db-e3bb-49cf-83bb-696a20a8c8e6","name":"Fail Rules","type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,464]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"4d16db2e-c233-47e1-85f7-01826bd63cd1","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[128,224]}],"connections":{"Webhook":{"main":[[{"node":"Authenticate","type":"main","index":0}]]},"Authenticate":{"main":[[{"node":"Get Reservation","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get Reservation":{"main":[[{"node":"Validate Rules","type":"main","index":0}]]},"Validate Rules":{"main":[[{"node":"Is Eligible?","type":"main","index":0}]]},"Is Eligible?":{"main":[[{"node":"Check Availability","type":"main","index":0}],[{"node":"Fail Rules","type":"main","index":0}]]},"Check Availability":{"main":[[{"node":"Verify Time Slot","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Verify Time Slot":{"main":[[{"node":"Is Available?","type":"main","index":0}]]},"Is Available?":{"main":[[{"node":"Save Reschedule","type":"main","index":0}],[{"node":"Fail Unavailable","type":"main","index":0}]]},"Save Reschedule":{"main":[[{"node":"Success Response","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Success Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Fail Unavailable":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Fail Rules":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[{"updatedAt":"2026-01-02T15:43:09.908Z","createdAt":"2026-01-02T15:43:09.908Z","id":"pgziJkRB2xHVUzON","name":"surf"}]}