backups/5---check-availability-(sql)-t809k7AsusCopbif.json
{"updatedAt":"2026-01-02T15:44:13.719Z","createdAt":"2025-11-24T21:31:18.395Z","id":"t809k7AsusCopbif","name":"5 - Check Availability (SQL)","active":false,"isArchived":false,"nodes":[{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"e90f4174-1948-46f0-86d7-27171e812685","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1568,-64]},{"parameters":{"jsCode":"// Fixed available times\nconst allTimes = ['09:00:00', '10:45:00', '13:00:00', '14:45:00'];\n\n// Get dates from the Prepare Dates node\nconst prepareDatesOutput = $('Prepare Dates').first().json;\nconst dates = prepareDatesOutput.dates;\n\n// Get all SQL results (booked slots)\nconst sqlResults = $input.all();\n\n// Build array of booked slots\nconst bookedSlots = sqlResults.map(item => ({\n  date: item.json.date,\n  time: item.json.time\n}));\n\n// Calculate availability for each day\nconst availability = dates.map(date => {\n  // Filter booked times for this specific date\n  const bookedTimesForDate = bookedSlots\n    .filter(slot => slot.date === date)\n    .map(slot => slot.time);\n  \n  // Get available times (times not in the booked list)\n  const availableTimes = allTimes.filter(time => \n    !bookedTimesForDate.includes(time)\n  );\n  \n  return {\n    date: date,\n    available_times: availableTimes\n  };\n});\n\nreturn {\n  json: {\n    status: 200,\n    days_checked: availability.length,\n    availability: availability\n  }\n};"},"id":"8edb758e-f608-4424-aa57-4f90d8ce2ab7","name":"Calculate Availability","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,-64]},{"parameters":{"operation":"executeQuery","query":"=SELECT \n  DATE(r.reservation_date) as date,\n  TIME(r.reservation_date) as time,\n  COUNT(*) as bookings\nFROM reservations r\nWHERE DATE(r.reservation_date) BETWEEN '{{ $json.start_date }}' AND '{{ $json.end_date }}'\n  AND (r.status_id != 2 OR r.status_id IS NULL)\nGROUP BY DATE(r.reservation_date), TIME(r.reservation_date)\nORDER BY date, time","options":{}},"id":"934584eb-9c7a-48ad-934e-6f9aef2923da","name":"Query Existing Bookings","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1136,-64],"credentials":{"mySql":{"id":"XUWpwf4pSOuTVYH9","name":"MySQL pacific"}}},{"parameters":{"jsCode":"// Get requested date from webhook\nconst requestedDate = $input.first().json.body.date;\n\n// Calculate next 3 days\nconst baseDate = new Date(requestedDate);\nconst dates = [];\n\nfor (let i = 0; i < 3; i++) {\n  const date = new Date(baseDate);\n  date.setDate(baseDate.getDate() + i);\n  const dateStr = date.toISOString().split('T')[0];\n  dates.push(dateStr);\n}\n\nreturn {\n  json: {\n    dates: dates,\n    start_date: dates[0],\n    end_date: dates[2]\n  }\n};"},"id":"3b8a7e17-f771-4cb0-9a8c-4c013dbf756b","name":"Prepare Dates","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,-64]},{"parameters":{"httpMethod":"POST","path":"pacificsurf-check-availability","responseMode":"responseNode","options":{}},"id":"34c041e5-20b8-48fc-946c-767c613cf698","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[688,-64],"webhookId":"de30bc65-e6f3-4d46-9805-4380f5dad830"}],"connections":{"Calculate Availability":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Query Existing Bookings":{"main":[[{"node":"Calculate Availability","type":"main","index":0}]]},"Prepare Dates":{"main":[[{"node":"Query Existing Bookings","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Prepare Dates","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-n8n-start.gtzkxz.easypanel.host","user-agent":"ElevenLabs/1.0","content-length":"22","accept":"*/*","accept-encoding":"gzip, deflate, br","content-type":"application/json","x-forwarded-for":"34.59.11.47","x-forwarded-host":"n8n-n8n-start.gtzkxz.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"34.59.11.47"},"params":{},"query":{},"body":{"date":"2025-11-30"},"webhookUrl":"https://n8n-n8n-start.gtzkxz.easypanel.host/webhook/pacificsurf-check-availability","executionMode":"production"}}]},"versionId":"562b143b-fd62-4257-a4a2-1a43ecb1be78","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-11-24T21:31:18.395Z","createdAt":"2025-11-24T21:31:18.395Z","role":"workflow:owner","workflowId":"t809k7AsusCopbif","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-01-02T15:43:09.908Z","createdAt":"2026-01-02T15:43:09.908Z","id":"pgziJkRB2xHVUzON","name":"surf"}]}