backups/[tool_cadencia]-naoreceberemail-KOh9tATa8aEA0hef.json
{"createdAt":"2025-05-17T15:20:25.535Z","updatedAt":"2025-09-14T22:39:53.105Z","id":"KOh9tATa8aEA0hef","name":"[Tool_Cadencia] NaoReceberEmail","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"unsubscribe-email-lead","responseMode":"responseNode","options":{"binaryPropertyName":"id"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"4ae9b5cf-cda0-4647-a5e8-a46553ef5cce","name":"Webhook","webhookId":"c6398852-4b63-46ac-b402-5c261ca47283"},{"parameters":{"assignments":{"assignments":[{"id":"b556ffde-69e3-414b-95a8-cabf73f69296","name":"id_empresa","value":"={{ $json.query.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"29f325a9-3c41-45d3-84c4-581069ee6853","name":"extrair dados webhook"},{"parameters":{"respondWith":"text","responseBody":"=<html>\n  <head><title>Descadastro Confirmado</title></head>\n  <body>\n    <h1>Inscrição Cancelada</h1>\n    <p>Você não receberá mais nossos comunicados por e-mail sobre alertas no seu site. A Digital Pixel continua à disposição caso precise de ajuda no futuro.</p>\n  </body>\n</html>","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[672,0],"id":"56948832-95f1-4386-ad20-e058a2983ff6","name":"Respond to Webhook"},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id_empresa }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_cadencia_geral","fieldValue":"nao_perturbe"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[448,0],"id":"74a0b2fa-63df-496c-aae6-ad7b55342242","name":"atualizar empresa não_perturbe","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}}],"connections":{"Webhook":{"main":[[{"node":"extrair dados webhook","type":"main","index":0}]]},"extrair dados webhook":{"main":[[{"node":"atualizar empresa não_perturbe","type":"main","index":0}]]},"atualizar empresa não_perturbe":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-n8n-start.5ikbes.easypanel.host","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX18t%2FVFsp0RBFrpnvSPFPH2SGYXq3eNuAi4%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19Zp0OHa5aSiJ7f5ybFO%2FhPrchEzhUcWWA%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.[REDACTED].[REDACTED]; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19luGCqb%2Fe4GAd%2F5Ve5kQNkre71BKZgDlOhFI%[REDACTED]%3D%3D; rl_user_id=RudderEncrypt%[REDACTED]%2Fz9loQO%2F3%2FrisrQwjn5llJijYNRf3qPNAUG%[REDACTED]%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2BoTKjYynhzrR3dhoDUkSJkfoTt6MgTxdbF4i%2FL255gIr2bdi%2FQc%2B%2B%2BO0bYdkKpZUZK%2FR07C3bzZEAJqpgjDqvLHDxHj1cL%2FUAn0OOihEELxFRQ7jT3afj1R%2BWwN98SwI7%2F%2Fq8RAj6YIg%3D%3D; [REDACTED]=%7B%22distinct_id%22%3A%[REDACTED]%23ac592b00-1c52-43d7-ab94-586ba3c8f258%22%2C%22%24sesid%22%3A%5B1747496040503%2C%220196ded5-ac79-7f1a-9078-4a011b8da3c2%22%2C1747495267440%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n-n8n-start.5ikbes.easypanel.host%2Fsetup%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19q%2FHMbXJc634xZc1UABM5pRMzi6mcw2XnpipOUM%2FXhxvg5n4RKTPvsRyMzPh0KEWJyFuIbFYJ%2B58NFnmhtvK7P%2BmzRS7j1yvoyw%2BMxU%2BX%2Fk43Fla%2Fl3n7GHG4HvhY%2Bclte6qTrD1nlCA%3D%3D","priority":"u=0, i","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"177.10.5.202","x-forwarded-host":"n8n-n8n-start.5ikbes.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0af77e3b216a","x-real-ip":"177.10.5.202"},"params":{},"query":{"id":"1008"},"body":{},"webhookUrl":"https://n8n-n8n-start.5ikbes.easypanel.host/webhook/unsubscribe-email-lead","executionMode":"production"}}]},"versionId":"76115182-8644-4fc3-b113-4eb9b5b7a714","triggerCount":1,"shared":[{"createdAt":"2025-05-17T15:20:25.535Z","updatedAt":"2025-05-17T15:20:25.535Z","role":"workflow:owner","workflowId":"KOh9tATa8aEA0hef","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}