backups/[tool]-encaminharparahumano-nWF6AbuKNoLZI91v.json
{"createdAt":"2025-05-20T22:27:59.975Z","updatedAt":"2025-09-22T19:09:33.079Z","id":"nWF6AbuKNoLZI91v","name":"[Tool] EncaminharParaHumano","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"motivo_escalonamento"},{"name":"contato_id"},{"name":"nome_whatsapp"},{"name":"nome_cliente"},{"name":"status"},{"name":"telefone"},{"name":"email"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-736,384]},{"parameters":{"assignments":{"assignments":[{"id":"49bceadb-48e8-4fe1-8329-2bd771d3ee02","name":"resposta","value":"=*Alerta: Atendimento Humano Solicitado!*\n\n*Lead:* {{ $('When Executed by Another Workflow').item.json.nome_whatsapp }} (Empresa: {{ $('buscar_empresa').item.json.dominio }})\n*Whatsapp:* {{ $('buscar_contato').item.json.valor_contato }}\n*Motivo do Encaminhamento (IA):* {{ $('When Executed by Another Workflow').item.json.motivo_escalonamento }}\nPor favor, entrar em contato com o lead.","type":"string"},{"id":"32a45528-8a0e-4eec-9800-9fbd05b248be","name":"Envio de link","value":"=Perfeito! Acabei de acionar nosso time e em breve um especialista da Digital Pixel vai te chamar aqui mesmo no WhatsApp.\n\nO número será (31) 3384-8620 — se puder, já salva esse contato na agenda pra facilitar.\n\nMas se preferir, você também pode falar com um especialista agora mesmo clicando neste link:\n👉 https://n8n-n8n-start.5ikbes.easypanel.host/webhook/whatsapp-redirect?empresa={{ $('buscar_empresa').first().json.id }}&origem=atendimento_humano_link_whatsapp\n\nA partir de agora, o atendimento segue com um dos nossos especialistas.\n\nEncerrando meu contato por aqui, obrigado e até mais!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2112,560],"id":"fd0cc3d4-ed49-4375-8c01-d2360256f87b","name":"tratar para resposta"},{"parameters":{"operation":"get","tableId":"contatos_empresa","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.contato_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-288,384],"id":"f872d3fb-40a3-4a99-9c95-d3f36201e2ad","name":"buscar_contato","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"get","tableId":"empresas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.empresa_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-64,384],"id":"f7a8c31c-8679-4a01-afcb-583b310489d5","name":"buscar_empresa","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"getAll","tableId":"interacoes","limit":1,"filters":{"conditions":[{"keyName":"empresa_id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[160,384],"id":"8f28cfb2-3b67-4a66-8606-b15e367ce499","name":"buscar_interacao","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"get","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('buscar_empresa').item.json.id_evento_erro_atual }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[304,384],"id":"99e3483a-c2f5-4f5d-8ba8-3ac04d798a6e","name":"buscar_erro","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('When Executed by Another Workflow').item.json.status }}","rightValue":"link_bitrix","operator":{"type":"string","operation":"equals"},"id":"127e8dc7-287e-4815-a131-8b77f4b7a4bf"}],"combinator":"and"},"renameOutput":true,"outputKey":"link_bitrix"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"67a2c2dd-eab1-4487-ae3f-46657b52a123","leftValue":"={{ $('When Executed by Another Workflow').item.json.status }}","rightValue":"solicitar_atendimento_humano","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"solicitar_atendimento_humano"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1344,400],"id":"cbeb63de-3a9f-4174-9fd6-00393cf9cfb3","name":"Switch"},{"parameters":{"method":"POST","url":"= https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.lead.add.json","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"TITLE\": \"n8n Ligar para site com erro, {{ $('buscar_erro').item.json.tipo_erro_site }}, {{ $('buscar_contato').item.json.valor_contato }}\",\n    \"NAME\": \"{{ $('When Executed by Another Workflow').item.json.nome_cliente }}\",\n    \"PHONE\": [\n      {\n        \"VALUE\": \"{{ $('buscar_contato').item.json.valor_contato }}\",\n        \"VALUE_TYPE\": \"WORK\"\n      }\n    ],\n    \"EMAIL\": [\n      {\n        \"VALUE\": \"{{ $('When Executed by Another Workflow').item.json.email }}\",\n        \"VALUE_TYPE\": \"WORK\"\n      }\n    ]\n  }\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3248,-80],"id":"39e29bf0-401c-4421-9527-c6299cd20db8","name":"HTTP Request","executeOnce":true,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"49bceadb-48e8-4fe1-8329-2bd771d3ee02","name":"resposta","value":"=*Alerta: ligação Solicitado!*\n\n*Lead:* {{ $('When Executed by Another Workflow').item.json.nome_whatsapp }} (Empresa: {{ $('buscar_empresa').item.json.dominio }})\n*Whatsapp:* {{ $('buscar_contato').item.json.valor_contato }}\n*Motivo do Encaminhamento (IA):* {{ $('When Executed by Another Workflow').item.json.motivo_escalonamento }}\nPor favor, entrar em contato com o lead.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2544,0],"id":"30a30cfe-9793-468c-b9cf-5b670cf7334b","name":"tratar para resposta1"},{"parameters":{"jsCode":"// Entrada esperada no n8n: o JSON do tipo que você mostrou\nconst regra = items[0].json;\n\n// Parse o conteúdo JSON que está como string\nconst content = JSON.parse(regra.kb_content);\n\n// Obtemos a data e hora atual\nconst now = new Date();\nconst dayOfWeek = now.getDay(); // 0 = domingo, 6 = sábado\nconst currentHour = now.getHours();\nconst currentMinute = now.getMinutes();\n\n// Converte hora_inicio e hora_fim em minutos\nfunction timeToMinutes(timeStr) {\n  const [hour, minute] = timeStr.split(':').map(Number);\n  return hour * 60 + minute;\n}\n\nconst startMinutes = timeToMinutes(content.horario_inicio);\nconst endMinutes = timeToMinutes(content.horario_fim);\nconst nowMinutes = currentHour * 60 + currentMinute;\n\n// Verificações\nlet status = '';\n\nif (!content.dias_semana.includes(dayOfWeek)) {\n  status = 'Fora de dia útil';\n} else if (nowMinutes < startMinutes || nowMinutes > endMinutes) {\n  status = 'Fora do horário comercial';\n} else {\n  status = 'Dentro do horário comercial';\n}\n\n// Retorna o resultado\nreturn [\n  {\n    json: {\n      status: status,\n      horario_inicio: content.horario_inicio,\n      horario_fim: content.horario_fim,\n      dia_semana: dayOfWeek,\n      data_hora_atual: now.toISOString()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,400],"id":"b31d2cce-8c01-4771-afc7-c1722107f121","name":"dentroHorarioFuncionamento"},{"parameters":{"assignments":{"assignments":[{"id":"49bceadb-48e8-4fe1-8329-2bd771d3ee02","name":"resposta","value":"=*Alerta: Atendimento Humano Solicitado!*\n\n*Lead:* {{ $('When Executed by Another Workflow').item.json.nome_whatsapp }} (Empresa: {{ $('buscar_empresa').item.json.dominio }})\n*Whatsapp:* {{ $('buscar_contato').item.json.valor_contato }}\n*Motivo do Encaminhamento (IA):* {{ $('When Executed by Another Workflow').item.json.motivo_escalonamento }}\nPor favor, entrar em contato com o lead.","type":"string"},{"id":"32a45528-8a0e-4eec-9800-9fbd05b248be","name":"Envio de link","value":"=Perfeito! Já acionei nosso time, e assim que começarmos o expediente (a partir das 09h), um especialista da Digital Pixel vai te chamar aqui mesmo no WhatsApp.\n\nO número será (31) 3384-8620 — se puder, já salva esse contato na agenda pra facilitar.\n\nSe quiser, você também pode iniciar a conversa desde já clicando neste link, que assim que expediente começar já te respondem:\n👉 https://n8n-n8n-start.5ikbes.easypanel.host/webhook/whatsapp-redirect?empresa={{ $('buscar_empresa').item.json.id }}&origem=atendimento_humano_link_whatsapp\n\nO atendimento segue com um dos nossos especialistas assim que o time retornar.\n\nEncerrando meu contato por aqui, obrigado e até mais!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,784],"id":"e621e3c8-5348-4716-8a6a-d92e562d257e","name":"tratar para resposta2"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2432,720],"id":"b2f1f59e-f82c-43a8-9f14-22da4dae2743","name":"Merge"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('dentroHorarioFuncionamento').item.json.status }}","rightValue":"Dentro do horário comercial","operator":{"type":"string","operation":"equals"},"id":"0109e901-edf1-4b83-bb3e-9f215128228c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Dentro do horário comercial"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1a86b39d-222b-4a09-9c42-385bddeae289","leftValue":"={{ $('dentroHorarioFuncionamento').item.json.status }}","rightValue":"Fora do horário comercial","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Fora do horário comercial"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6fb49aad-0bcc-4c7b-8643-18a7c5bcfe99","leftValue":"={{ $('dentroHorarioFuncionamento').item.json.status }}","rightValue":"Fora de dia útil","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Fora de dia útil"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1744,704],"id":"cb2afacb-aa94-45b9-8cc3-06df19bcb2fb","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"49bceadb-48e8-4fe1-8329-2bd771d3ee02","name":"resposta","value":"=*Alerta: Atendimento Humano Solicitado!*\n\n*Lead:* {{ $('When Executed by Another Workflow').item.json.nome_whatsapp }} (Empresa: {{ $('buscar_empresa').item.json.dominio }})\n*Whatsapp:* {{ $('buscar_contato').item.json.valor_contato }}\n*Motivo do Encaminhamento (IA):* {{ $('When Executed by Another Workflow').item.json.motivo_escalonamento }}\nPor favor, entrar em contato com o lead.","type":"string"},{"id":"32a45528-8a0e-4eec-9800-9fbd05b248be","name":"Envio de link","value":"=Perfeito! Acabei de registrar seu pedido e nosso time vai te chamar aqui mesmo no WhatsApp assim que voltarmos do final de semana ou feriado.\n\nO número será (31) 3384-8620 — se puder, já salva esse contato na agenda pra facilitar.\n\nSe quiser, você também pode deixar sua mensagem agora clicando neste link:\n👉 https://n8n-n8n-start.5ikbes.easypanel.host/webhook/whatsapp-redirect?empresa={{ $('buscar_empresa').item.json.id }}&origem=atendimento_humano_link_whatsapp\n\nA partir daqui, o atendimento segue com um dos nossos especialistas assim que retornarmos.\n\nEncerrando meu contato por aqui, obrigado e até mais!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,1024],"id":"91686031-f6e3-46b6-8cce-7dc5991374b4","name":"tratar para resposta3"},{"parameters":{"operation":"get","tableId":"knowledge_base_ia","filters":{"conditions":[{"keyName":"kb_key","keyValue":"HorarioFuncionamento"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[480,384],"id":"65631de2-c778-40eb-aee1-426fd6949715","name":"buscar_horario_funcionamento","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84d79300-0060-422a-b377-1d0a051bb8c3","leftValue":true,"rightValue":"={{ $json.isFirst }}","operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2272,240],"id":"ab9cb030-fd45-4b31-a731-6aea2a4dd985","name":"primeiro agendamento"},{"parameters":{"operation":"getAll","tableId":"agendamentos","filters":{"conditions":[{"keyName":"interacao_id","condition":"eq","keyValue":"={{ $('buscar_interacao').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1824,240],"id":"4bc5bd07-6b16-486a-9ed5-3271b04af82d","name":"buscar_agendamento","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"jsCode":"/**\n * Este código vai num nó Function do n8n.\n * Ele lê todos os agendamentos (via $input.all()),\n * detecta a empresa e retorna se é o primeiro agendamento.\n */\n\nconst schedules = $input.all().map(item => item.json);\n\n// Validações mínimas\nif (!Array.isArray(schedules) || schedules.length === 0) {\n  throw new Error('Recebido payload inválido: aguardo um array não-vazio de agendamentos.');\n}\n\n// Assumindo que todos os registros são da mesma empresa:\nconst empresaId = schedules[0].empresa_id;\nconst isFirst = schedules.length === 1;\n\n// No n8n, sempre devolvemos um array de objetos { json: {...} }\nreturn [\n  {\n    json: {\n      empresaId,\n      isFirst,\n      totalAgendamentosRecebidos: schedules.length\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2048,240],"id":"a38d69ea-fe05-460a-81c6-be9a048db7bb","name":"analisar_agendamento"},{"parameters":{"tableId":"agendamentos","fieldsUi":{"fieldValues":[{"fieldId":"empresa_id","fieldValue":"={{ $('buscar_empresa').first().json.id }}"},{"fieldId":"interacao_id","fieldValue":"={{ $('buscar_interacao').first().json.id }}"},{"fieldId":"timestamp_agendamento","fieldValue":"={{new Date(Date.now() - 1 * 24 * 60 * 60 * 1000).toISOString()}}"},{"fieldId":"status_agendamento","fieldValue":"cancelado_pelo_lead"},{"fieldId":"status_lembrete","fieldValue":"Pendente Lembrete 1"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3472,-80],"id":"0fb1617d-2878-41e4-ad8d-45358e249e6e","name":"Criar_agendamento","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84d79300-0060-422a-b377-1d0a051bb8c3","leftValue":true,"rightValue":"={{ $json.isFirst }}","operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3072,432],"id":"d1ea8aed-e40c-4f62-8f73-06b774ad0e03","name":"primeiro agendamento1"},{"parameters":{"operation":"getAll","tableId":"agendamentos","filters":{"conditions":[{"keyName":"interacao_id","condition":"eq","keyValue":"={{ $('buscar_interacao').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2544,448],"id":"d8b2c76d-c82e-462f-8959-a3028ef81e24","name":"buscar_agendamento1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"jsCode":"/**\n * Este código vai num nó Function do n8n.\n * Ele lê todos os agendamentos (via $input.all()),\n * detecta a empresa e retorna se é o primeiro agendamento.\n */\n\nconst schedules = $input.all().map(item => item.json);\n\n// Validações mínimas\nif (!Array.isArray(schedules) || schedules.length === 0) {\n  throw new Error('Recebido payload inválido: aguardo um array não-vazio de agendamentos.');\n}\n\n// Assumindo que todos os registros são da mesma empresa:\nconst empresaId = schedules[0].empresa_id;\nconst isFirst = schedules.length === 1;\n\n// No n8n, sempre devolvemos um array de objetos { json: {...} }\nreturn [\n  {\n    json: {\n      empresaId,\n      isFirst,\n      totalAgendamentosRecebidos: schedules.length\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2768,448],"id":"b32f546a-e945-4530-a7c4-21a23b01d9e6","name":"analisar_agendamento1"},{"parameters":{"tableId":"agendamentos","fieldsUi":{"fieldValues":[{"fieldId":"empresa_id","fieldValue":"={{ $('buscar_empresa').first().json.id }}"},{"fieldId":"interacao_id","fieldValue":"={{ $('buscar_interacao').first().json.id }}"},{"fieldId":"timestamp_agendamento","fieldValue":"={{new Date(Date.now() - 1 * 24 * 60 * 60 * 1000).toISOString()}}"},{"fieldId":"status_agendamento","fieldValue":"cancelado_pelo_lead"},{"fieldId":"status_lembrete","fieldValue":"Pendente Lembrete 1"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3904,368],"id":"eaa42adf-a49b-485b-b873-feb070601451","name":"Criar_agendamento1","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[4048,768],"id":"6862dfab-3be5-4ea2-ac64-76cdf915fd2b","name":"Merge1"},{"parameters":{"operation":"send","phoneNumberId":"635532186317789","recipientPhoneNumber":"=+55 (31) 98756-0753","textBody":"={{ $json.resposta }}","additionalFields":{}},"id":"cf2f5ef6-bd59-49e9-b7c8-b0745f8458d6","name":"Send message","type":"n8n-nodes-base.whatsApp","position":[2960,992],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1,"credentials":{"whatsAppApi":{"id":"PAFyf8P7UbHYrd6j","name":"WhatsApp account teste"}},"disabled":true},{"parameters":{"method":"POST","url":"= https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.lead.add.json","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"TITLE\": \"n8n Chamar no Whatsapp para site com erro,{{ $('buscar_erro').item.json.tipo_erro_site }} , {{ $('buscar_contato').first().json.valor_contato }}\",\n    \"NAME\": \"{{ $('When Executed by Another Workflow').item.json.nome_cliente }}\",\n    \"PHONE\": [\n      {\n        \"VALUE\": \"{{ $('buscar_contato').item.json.valor_contato }}\",\n        \"VALUE_TYPE\": \"WORK\"\n      }\n    ],\n    \"EMAIL\": [\n      {\n        \"VALUE\": \"{{ $('When Executed by Another Workflow').item.json.email }}\",\n        \"VALUE_TYPE\": \"WORK\"\n      }\n    ]\n  }\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3648,352],"id":"19e5b28f-b1f7-451f-9ea5-cfb73d92137f","name":"HTTP Request1","executeOnce":true,"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"=635532186317789","recipientPhoneNumber":"=5531987560753","textBody":"={{ $json.messages }}","additionalFields":{}},"id":"9861911a-5375-4305-8dcd-89da045200f9","name":"Send message2","type":"n8n-nodes-base.whatsApp","position":[2992,-336],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1,"credentials":{"whatsAppApi":{"id":"PAFyf8P7UbHYrd6j","name":"WhatsApp account teste"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[2592,-608],"id":"d2878647-6c44-4338-b990-027ddbd22f84","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"messages-api","instanceName":"teste","remoteJid":"553187560753","messageText":"={{ $json.resposta }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2912,-64],"id":"abb0d213-d3ea-4946-a99b-9897144fdd7b","name":"Evolution API","credentials":{"evolutionApi":{"id":"ugFQ80PKdZTcC5Fa","name":"Evolution account"}},"disabled":true},{"parameters":{"resource":"messages-api","instanceName":"teste","remoteJid":"553187560753","messageText":"={{ $('Merge').item.json.resposta }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3392,368],"id":"8218d6d7-57f4-47a0-aa99-3c5a9a61ee6d","name":"Evolution API1","credentials":{"evolutionApi":{"id":"ugFQ80PKdZTcC5Fa","name":"Evolution account"}},"disabled":true},{"parameters":{"method":"POST","url":"=https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.company.fields.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,-608],"id":"b6c7dfb5-23ac-4974-9917-c0be427c400d","name":"HTTP Request2","executeOnce":true},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.dominio }}","status":"success","empresa_id":"='{{ $json.id }}'","to_status":"=","canal":"whatsapp","workflow_name":"[Tool] EncaminharParaHumano","destinatario":"={{ $('When Executed by Another Workflow').first().json.telefone }}","from_status":"=","template_usado":"={{ $('Merge').first().json['Envio de link'] }}","action_type":"atendimento_humano_solicitado","reason":"={{ $('When Executed by Another Workflow').first().json.motivo_escalonamento }}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[4480,800],"id":"149414ca-9688-4a39-8f0b-53ff1af9ab91","name":"Call 'Registrar logs'1"},{"parameters":{"operation":"get","tableId":"empresas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('buscar_empresa').first().json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4256,800],"id":"37d6a819-1eb2-4151-a381-91db9d6e93bd","name":"buscar_empresa1","executeOnce":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE public.interacoes\nSET\n  link_bitrix_enviado_timestamp = NOW(),\n  followup_clique_link_enviado = FALSE\nWHERE\nid = {{ $('buscar_interacao').item.json.id }}; -- Assumindo que o ID da interação é passado para a tool","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1088,400],"id":"1d16830b-b31e-4112-ad39-fa24c6936187","name":"atualizar tabela interações","alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"assignments":{"assignments":[{"id":"b09f1aba-76e2-4a55-a10d-db7f30f651b3","name":"Enviado com sucesso","value":true,"type":"boolean"},{"id":"b4854646-6988-41da-88df-c4be5ec561d2","name":"parar de usar a tool(atendente já recebeu notificação!)?","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3904,128],"id":"f7ff8ac2-53f8-46ca-ad2b-dbd84948de3b","name":"Tratar Resposta","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"b09f1aba-76e2-4a55-a10d-db7f30f651b3","name":"Enviado com sucesso","value":true,"type":"boolean"},{"id":"1a384f9a-96d8-4ccc-86f6-3603df1ffddc","name":"saida","value":"={{ $('Merge').first().json['Envio de link'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4848,832],"id":"9e9f748a-93c6-48ec-99e1-1b11d14a365c","name":"Tratar resposta","executeOnce":true}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"buscar_contato","type":"main","index":0}]]},"tratar para resposta":{"main":[[{"node":"Merge","type":"main","index":0}]]},"buscar_contato":{"main":[[{"node":"buscar_empresa","type":"main","index":0}]]},"buscar_empresa":{"main":[[{"node":"buscar_interacao","type":"main","index":0}]]},"buscar_interacao":{"main":[[{"node":"buscar_erro","type":"main","index":0}]]},"buscar_erro":{"main":[[{"node":"buscar_horario_funcionamento","type":"main","index":0}]]},"Switch":{"main":[[{"node":"buscar_agendamento","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"tratar para resposta1":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Criar_agendamento","type":"main","index":0}]]},"dentroHorarioFuncionamento":{"main":[[{"node":"atualizar tabela interações","type":"main","index":0}]]},"tratar para resposta2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"buscar_agendamento1","type":"main","index":0},{"node":"Merge1","type":"main","index":2}]]},"Switch1":{"main":[[{"node":"tratar para resposta","type":"main","index":0}],[{"node":"tratar para resposta2","type":"main","index":0}],[{"node":"tratar para resposta3","type":"main","index":0}]]},"tratar para resposta3":{"main":[[{"node":"Merge","type":"main","index":2}]]},"buscar_horario_funcionamento":{"main":[[{"node":"dentroHorarioFuncionamento","type":"main","index":0}]]},"buscar_agendamento":{"main":[[{"node":"analisar_agendamento","type":"main","index":0}]]},"analisar_agendamento":{"main":[[{"node":"primeiro agendamento","type":"main","index":0}]]},"primeiro agendamento":{"main":[[{"node":"tratar para resposta1","type":"main","index":0}],[{"node":"Tratar Resposta","type":"main","index":0}]]},"Criar_agendamento":{"main":[[{"node":"Tratar Resposta","type":"main","index":0}]]},"buscar_agendamento1":{"main":[[{"node":"analisar_agendamento1","type":"main","index":0}]]},"analisar_agendamento1":{"main":[[{"node":"primeiro agendamento1","type":"main","index":0}]]},"primeiro agendamento1":{"main":[[{"node":"Evolution API1","type":"main","index":0}],[{"node":"Merge1","type":"main","index":1}]]},"Criar_agendamento1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"buscar_empresa1","type":"main","index":0}]]},"Send message":{"main":[[]]},"HTTP Request1":{"main":[[{"node":"Criar_agendamento1","type":"main","index":0}]]},"Send message2":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"buscar_empresa1":{"main":[[{"node":"Call 'Registrar logs'1","type":"main","index":0}]]},"atualizar tabela interações":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Tratar resposta":{"main":[[]]},"Call 'Registrar logs'1":{"main":[[{"node":"Tratar resposta","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"motivo_escalonamento":"Lead Diego Fernandes (Email: diegovilson.1999@gmail.com, Tel: 555193299031) solicitou atendimento via WhatsApp.","contato_id":6617,"nome_whatsapp":"Diego Fernandes","nome_cliente":"Guy Folkz","status":"solicitar_atendimento_humano","telefone":"555193299031","email":"diegovilson.1999@gmail.com"}}]},"versionId":"487cc9e6-7909-486a-98c7-a77d3e138edb","triggerCount":0,"shared":[{"createdAt":"2025-05-20T22:27:59.975Z","updatedAt":"2025-05-20T22:27:59.975Z","role":"workflow:owner","workflowId":"nWF6AbuKNoLZI91v","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}