backups/[tool]-agendamento-actions-OMtvbCzy2dUP1u5j.json
{"createdAt":"2025-05-20T21:49:31.121Z","updatedAt":"2025-09-24T20:32:31.535Z","id":"OMtvbCzy2dUP1u5j","name":"[Tool] Agendamento Actions","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"operacao"},{"name":"Start"},{"name":"End"},{"name":"Description"},{"name":"Summary"},{"name":"telefone"},{"name":"conversation_id"},{"name":"user_id"},{"name":"appointment_id"},{"name":"google_calendar_event_id"},{"name":"novo_status"},{"name":"durationMinutes"},{"name":"bufferMinutes"},{"name":"email"},{"name":"nome"}]}},"id":"c8126e48-311c-43cc-80c6-0494b0d1a4fd","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-2784,480]},{"parameters":{"calendar":{"__rl":true,"value":"erik@digitalpixel.com.br","mode":"list","cachedResultName":"Agenda de Erik Willian"},"start":"={{ $json.Start }}","end":"={{ $json.End }}","useDefaultReminders":false,"additionalFields":{"attendees":["={{ $json.email }}"],"description":"={{ $json.Description }} \ntelefone: {{ $json.telefone }}","summary":"={{ $json.Summary }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-1824,-96],"id":"73f1cd4b-dae8-4593-a662-32e7aa216306","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"BlFaf0ywAQAdzljy","name":"Google Calendar account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10ea1b1f-56b7-4d75-863d-a4be4e7bba80","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1600,-96],"id":"019e9b35-57f2-4f88-9c91-7653454d78dc","name":"If"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.operacao }}","rightValue":"criar_agendamento","operator":{"type":"string","operation":"equals"},"id":"ca7547d2-8894-4e98-b3e9-b428acdded5c"}],"combinator":"and"},"renameOutput":true,"outputKey":"criar_agendamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c08886f-ee50-4ec1-ac73-76bd665d5780","leftValue":"={{ $json.operacao }}","rightValue":"confirmar_agendamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"confirmar_agendamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"06b37de9-5110-4699-b293-b9ee7e29debb","leftValue":"={{ $json.operacao }}","rightValue":"cancelar_agendamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancelar_agendamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"70c5f6f2-e7fa-4ac5-9d12-44fe9ae2896a","leftValue":"={{ $json.operacao }}","rightValue":"verificar_disponibilidade","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"verificar_disponibilidade"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2336,464],"id":"481b3e1d-03b1-4a8a-8904-4d500e7cdffe","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"7d4140bc-2bdf-4a5f-899c-9052c7fbd25b","name":"sucesso","value":false,"type":"boolean"},{"id":"39ab06cc-4e57-42e6-8766-74ea21e45019","name":"error","value":"Falha ao criar evento no Google Calendar","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1248,64],"id":"3cfc4eec-e1da-4f53-ba7f-88ce4dba6f94","name":"tratar resposta"},{"parameters":{"assignments":{"assignments":[{"id":"9dfb0c8c-3ede-4f3f-8cb8-47567796bb6d","name":"success","value":true,"type":"boolean"},{"id":"54d29b97-7c36-49b7-a2d7-2e3a1d0012fd","name":"google_calendar_event_id","value":"={{ $('Google Calendar').first().json.id }}","type":"string"},{"id":"bde77d59-3b82-4229-a64e-11e6db8c5838","name":"appointment_id","value":"={{ $('Criar agendamento').first().json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1376,-208],"id":"0547f3fe-113e-40ce-894c-eaf204b8cde6","name":"tratar resposta1"},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"erik@digitalpixel.com.br","mode":"list","cachedResultName":"Agenda de Erik Willian"},"eventId":"={{ $('tratamento_dados').item.json.google_calendar_event_id }}","updateFields":{"color":"=10","description":"=[CONFIRMADO]{{ $('tratamento_dados').item.json.Description }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-1824,208],"id":"dd2cf121-14ec-4d69-919f-0a075c17b0f4","name":"Google Calendar1","credentials":{"googleCalendarOAuth2Api":{"id":"BlFaf0ywAQAdzljy","name":"Google Calendar account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4e37f78e-586a-4f60-bd43-b8878caf5ea7","name":"operacao","value":"={{ $json.operacao }}","type":"string"},{"id":"c26c98b9-e2e3-4ed3-bc4a-f57b59191323","name":"Start","value":"={{ $json.Start }}","type":"string"},{"id":"aacb502d-d082-44ea-83b5-d86fcbee30a8","name":"End","value":"={{ $json.End }}","type":"string"},{"id":"fbd0b3e8-5509-4400-9626-68ca6b1bdc5c","name":"Description","value":"={{ $json.Description }}","type":"string"},{"id":"392e20a9-ec75-4555-88c6-bd2a1c38304a","name":"Summary","value":"={{ $json.Summary }}","type":"string"},{"id":"aae53cf7-279e-4b7f-8afb-77703d1efb8d","name":"telefone","value":"={{ $json.telefone }}","type":"string"},{"id":"f3721e2e-10e4-43cc-b869-a483ced68542","name":"conversation_id","value":"={{ $json.conversation_id }}","type":"string"},{"id":"a93bdcdb-4ee4-48e5-a12c-6c3ddc75a6fd","name":"user_id","value":"={{ $json.user_id }}","type":"string"},{"id":"0b0e52c7-aeb9-4038-ae14-530c60766489","name":"google_calendar_event_id","value":"={{ $json.google_calendar_event_id }}","type":"string"},{"id":"7080505a-19a2-4bb5-a286-d3b1f0f9597e","name":"novo_status","value":"={{ $json.novo_status }}","type":"string"},{"id":"d1da71c7-5c1c-4010-83b2-9e093ca37786","name":"appointment_id","value":"={{ $json.appointment_id }}","type":"string"},{"id":"8b3bb392-012f-4b28-82ab-a304c8e07a3f","name":"durationMinutes","value":"={{ $json.durationMinutes }}","type":"string"},{"id":"b7b57e5f-e6a5-4fec-a7f7-b67ea548a7d7","name":"bufferMinutes","value":"={{ $json.bufferMinutes }}","type":"string"},{"id":"d3286d52-632d-4b12-bc29-1d5ed8eb273e","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"e1c924f0-3d7d-47c7-af37-8dcdb23726ec","name":"nome","value":"={{ $json.nome }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2560,480],"id":"bf44932f-d967-4f70-9756-85d3648e5106","name":"tratamento_dados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6165b020-ff46-49ba-b340-327557e5ff67","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1600,208],"id":"fba0d85a-ce7e-46b7-a6a2-aebf8cfe949e","name":"If1"},{"parameters":{"operation":"update","tableId":"agendamentos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('tratamento_dados').item.json.appointment_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_agendamento","fieldValue":"confirmado_pelo_lead"},{"fieldId":"status_lembrete","fieldValue":"Confirmado Apos Lembrete"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1376,208],"id":"66faa697-e236-4523-b20d-dd4b0fc4015b","name":"Supabase1","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"assignments":{"assignments":[{"id":"53e81fd5-25d6-48e4-956d-02d08a096f7d","name":"sucesso","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1168,208],"id":"06d53fcf-b4b9-49bc-80e0-0497e651aa33","name":"Edit Fields"},{"parameters":{"operation":"get","tableId":"agendamentos","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('tratamento_dados').item.json.appointment_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1824,464],"id":"2fb9b576-603e-41fd-935c-0e50f26c4e37","name":"Supabase2","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f37a827-16d0-4ece-83bc-ceafa6c20d55","leftValue":"={{ $json.status_agendamento }}","rightValue":"cancelado","operator":{"type":"string","operation":"notEquals"}},{"id":"3fa0e1b0-4aa8-442f-9966-e97c5aaa3a1d","leftValue":"={{ $json.google_calender_event_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1600,464],"id":"2cdadb43-9571-4333-9836-1563f96d2a88","name":"If2"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"erik@digitalpixel.com.br","mode":"list","cachedResultName":"Agenda de Erik Willian"},"eventId":"={{ $json.google_calendar_event_id }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-1376,400],"id":"4687f529-c160-4f87-87dc-2503da0370ac","name":"Google Calendar2","retryOnFail":false,"credentials":{"googleCalendarOAuth2Api":{"id":"BlFaf0ywAQAdzljy","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-1168,464],"id":"8dd437bb-0155-44cd-8b44-fb8bef82810c","name":"Merge"},{"parameters":{"operation":"update","tableId":"agendamentos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('tratamento_dados').item.json.appointment_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_agendamento","fieldValue":"cancelado_pelo_lead"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-944,464],"id":"93e588c4-f550-46b3-a25e-9882225d0dab","name":"Update Appointment Status","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"assignments":{"assignments":[{"id":"39ce8e87-5f34-4ef7-afbc-84af74a02240","name":"sucesso","value":true,"type":"boolean"},{"id":"3544eff6-647a-451f-a404-da31648b762a","name":"status","value":"Cancelado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,464],"id":"95b763a3-094d-496a-93bd-cb1f47803dac","name":"Edit Fields1"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"erik@digitalpixel.com.br","mode":"list","cachedResultName":"Agenda de Erik Willian"},"returnAll":true,"timeMin":"={{ $('tratamento_dados').first().json.Start }}","timeMax":"={{ $('tratamento_dados').first().json.End }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-1664,784],"id":"df7366b3-c11d-45b5-ab6d-2addac7a2f95","name":"eventos clinicas","alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"BlFaf0ywAQAdzljy","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"pt.brazilian#holiday@group.v.calendar.google.com","mode":"list","cachedResultName":"Feriados no Brasil"},"timeMin":"={{ $('tratamento_dados').item.json.Start }}","timeMax":"={{ $('tratamento_dados').item.json.End }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-2080,704],"id":"ed47d436-e8d9-44c5-b2c1-b2eac87c6287","name":"feriados","alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"BlFaf0ywAQAdzljy","name":"Google Calendar account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT kb_key, kb_content\nFROM public.knowledge_base_ia\nWHERE ativo = true\n  AND (\n    (kb_type = 'horario_bloqueio' AND kb_key = 'Almoco') OR\n    (kb_type = 'regra_agendamento' AND kb_key = 'HorarioFuncionamento') OR\n    (kb_type = 'regra_agendamento' AND kb_key = 'duracaocall') OR\n    (kb_type = 'regra_agendamento' AND kb_key = 'IntervaloMinimo')\n  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1184,784],"id":"b43e1419-323f-4ad6-bad7-4a45c34a331c","name":"base_conhecimento","alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst listaFeriados = [];\n\nfor (const item of items) {\n  const evento = item.json;\n  const desc = evento.description ? evento.description.toLowerCase() : '';\n\n  // Só pega se tiver \"feriado\" e NÃO tiver \"data comemorativa\"\n  if (desc.includes('feriado') && !desc.includes('data comemorativa')) {\n    listaFeriados.push({\n      data: evento.start.date,\n      nome: evento.summary\n    });\n  }\n}\n\nreturn [\n  {\n    json: {\n      feriados: listaFeriados\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1904,768],"id":"f9dec2bd-a642-4c60-bb65-569c19b3ee1e","name":"feriados1"},{"parameters":{"jsCode":"// Pega todos os eventos do input\nconst eventos = $input.all();\n\nconst agendaOcupado = eventos.map(item => {\n  const evento = item.json || {};\n\n  return {\n    inicio: evento.start?.dateTime || null,\n    fim: evento.end?.dateTime || null,\n    resumo: evento.summary || 'Sem título',\n  };\n});\n\nreturn [\n  {\n    json: {\n      agendaOcupado\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1408,784],"id":"646443b8-31b4-46e8-92b5-c4d3b2add0e6","name":"agendaocupada","alwaysOutputData":true},{"parameters":{"jsCode":"const regrasArray = $input.all().map(i => i.json);\n\n// transformar em objeto chave: valor, fazendo o parse do conteúdo\nconst regras = {};\n\nfor (const item of regrasArray) {\n  const key = item.kb_key;\n  const value = JSON.parse(item.kb_content);\n  regras[key] = value;\n}\n\n// agora você pode usar regras assim:\nreturn [\n  {\n    json: {\n      regras\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,784],"id":"78773fb7-fa11-4a00-b5c5-3766f6e24d6e","name":"tratar base de conhecimento"},{"parameters":{"jsCode":"const moment = require('moment');\n\n// 1. Flatten dos feriados\nconst feriadosItems = $items('feriados1')\n  .flatMap(item => Array.isArray(item.json.feriados) ? item.json.feriados : []);\nconst feriadoDates = feriadosItems\n  .map(f => f.data)\n  .filter(d => typeof d === 'string');  // Ex: [\"2025-05-01\"]\n\n// 2. Flatten dos eventos ocupados\nconst ocupadosItems = $items('agendaocupada')\n  .flatMap(item => Array.isArray(item.json.agendaOcupado) ? item.json.agendaOcupado : []);\nconst eventosOcupados = ocupadosItems.filter(ev =>\n  ev.inicio && ev.fim && ev.inicio !== ev.fim\n);\n\n// 3. Regras e datas de início/fim\nconst regras    = $input.first().json.regras;\nconst startDate = moment($('tratamento_dados').first().json.Start, 'YYYY-MM-DD');\nconst endDate   = moment($('tratamento_dados').first().json.End,   'YYYY-MM-DD');\n\n// Subtrai intervalo ocupado de um livre\nfunction subtractInterval(free, busy) {\n  if (busy.end.isSameOrBefore(free.start) || busy.start.isSameOrAfter(free.end)) {\n    return [free];\n  }\n  const parts = [];\n  if (busy.start.isAfter(free.start)) parts.push({ start: free.start, end: busy.start });\n  if (busy.end.isBefore(free.end))   parts.push({ start: busy.end,   end: free.end });\n  return parts;\n}\nfunction minutos(s, e) {\n  return moment.duration(e.diff(s)).asMinutes();\n}\n\n// 4. Itera dia a dia\nconst disponibilidade = [];\nlet cursor = startDate.clone();\n\nwhile (cursor.isSameOrBefore(endDate, 'day')) {\n  const diaStr    = cursor.format('YYYY-MM-DD');\n  const wkday     = cursor.isoWeekday();  // 1=seg ... 7=dom\n  const foraExp   = !regras.HorarioFuncionamento.dias_semana.includes(wkday);\n  const ehFeriado = feriadoDates.includes(diaStr);\n\n  if (foraExp || ehFeriado) {\n    disponibilidade.push({ data: diaStr, status: \"Feriado ou fora do expediente\", slots: [] });\n    cursor.add(1, 'day');\n    continue;\n  }\n\n  const iniExp = moment(`${diaStr}T${regras.HorarioFuncionamento.horario_inicio}`);\n  const fimExp = moment(`${diaStr}T${regras.HorarioFuncionamento.horario_fim}`);\n  const iniAlm = moment(`${diaStr}T${regras.Almoco.horario_inicio}`);\n  const fimAlm = moment(`${diaStr}T${regras.Almoco.horario_fim}`);\n\n  // expediente total menos almoço\n  let livres = subtractInterval(\n    { start: iniExp, end: fimExp },\n    { start: iniAlm, end: fimAlm }\n  );\n\n  // subtrai eventos ocupados do dia\n  const evsDia = eventosOcupados.filter(ev => ev.inicio.startsWith(diaStr));\n  evsDia.forEach(ev => {\n    const busy = { start: moment(ev.inicio), end: moment(ev.fim) };\n    livres = livres.flatMap(intv => subtractInterval(intv, busy));\n  });\n\n  const totalMin = minutos(iniExp, fimExp) - minutos(iniAlm, fimAlm);\n  const freeMin  = livres.reduce((sum, iv) => sum + minutos(iv.start, iv.end), 0);\n  const diaLivre = Math.abs(freeMin - totalMin) <= 1; // 1 minuto de tolerância\n\n  if (livres.length === 0) {\n    disponibilidade.push({ data: diaStr, status: \"Dia totalmente ocupado\", slots: [] });\n  }\n  else if (diaLivre) {\n    disponibilidade.push({\n      data: diaStr,\n      status: \"Dia todo livre\",\n      slots: [],\n      restricoes: {\n        horarioFuncionamento: `Seg a Sex das ${regras.HorarioFuncionamento.horario_inicio} às ${regras.HorarioFuncionamento.horario_fim}`,\n        almoco: `${regras.Almoco.horario_inicio} às ${regras.Almoco.horario_fim}`\n      }\n    });\n  }\n  else {\n    const duracao   = regras.duracaocall.duracao_minutos;\n    const intervalo = regras.IntervaloMinimo.intervalo_minutos;\n    const slots     = [];\n\n    livres.forEach(iv => {\n      // “Alinha” o primeiro slot ao próximo :00 ou :30\n      let inicioSlot = iv.start.clone().seconds(0);\n      const m = inicioSlot.minutes();\n      if      (m > 0  && m < 30) inicioSlot.minutes(30);\n      else if (m > 30              ) inicioSlot.add(1, 'hour').minutes(0);\n\n      // gera os slots de 30 em 30\n      while (inicioSlot.clone().add(duracao, 'minutes').isSameOrBefore(iv.end)) {\n        const min = inicioSlot.minutes();\n        // só registra se for múltiplo de 30\n        if (min === 0 || min === 30) {\n          slots.push({\n            inicio: inicioSlot.format(),\n            fim:    inicioSlot.clone().add(duracao, 'minutes').format()\n          });\n        }\n        inicioSlot.add(duracao + intervalo, 'minutes');\n      }\n    });\n\n    disponibilidade.push({ data: diaStr, status: \"Slots disponíveis\", slots });\n  }\n\n  cursor.add(1, 'day');\n}\n\nreturn [{ json: { disponibilidade } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,784],"id":"01c56ca0-bc73-4a7e-8e78-1298c15e723c","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"df6a571d-b173-4a92-96ca-a1fd92dc44c1","name":"saida_consulta","value":"={{ $json.disponibilidade }}","type":"string"},{"id":"478ee394-872b-421c-8c85-dbce22903dc1","name":"regras","value":"se dia todo livre o horario perguntado para o cliente está disponível no dia com status dia todo livre","type":"string"},{"id":"50b56377-dd40-4dff-ac38-f7982b8ed286","name":"Sucesso","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,784],"id":"d6b466b5-5806-444e-91ba-bb14d2cfa052","name":"Retorno"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84d79300-0060-422a-b377-1d0a051bb8c3","leftValue":true,"rightValue":"={{ $json.isFirst }}","operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-688,-128],"id":"538c1ac9-e32e-4fb1-b996-6d1960d8778e","name":"primeiro agendamento"},{"parameters":{"operation":"getAll","tableId":"agendamentos","filters":{"conditions":[{"keyName":"empresa_id","condition":"eq","keyValue":"={{ $('tratamento_dados').first().json.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1232,-128],"id":"695820e8-ae0d-47b2-ad48-8fa8baf79f3c","name":"buscar_agendamento","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"jsCode":"/**\n * Este código vai num nó Function do n8n.\n * Ele lê todos os agendamentos (via $input.all()),\n * detecta a empresa e retorna se é o primeiro agendamento.\n */\n\nconst schedules = $input.all().map(item => item.json);\n\n// Validações mínimas\nif (!Array.isArray(schedules) || schedules.length === 0) {\n  throw new Error('Recebido payload inválido: aguardo um array não-vazio de agendamentos.');\n}\n\n// Assumindo que todos os registros são da mesma empresa:\nconst empresaId = schedules[0].empresa_id;\nconst isFirst = schedules.length === 1;\n\n// No n8n, sempre devolvemos um array de objetos { json: {...} }\nreturn [\n  {\n    json: {\n      empresaId,\n      isFirst,\n      totalAgendamentosRecebidos: schedules.length\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,-128],"id":"f27fbb5f-53db-40bd-8ff4-675faac38ce5","name":"analisar_agendamento"},{"parameters":{"operation":"get","tableId":"empresas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Switch').item.json.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-256,-368],"id":"d406f7cc-cb02-4380-b681-b9a9ca2e0f57","name":"procurar_empresa","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"tableId":"agendamentos","fieldsUi":{"fieldValues":[{"fieldId":"google_calender_event_id","fieldValue":"={{ $('Google Calendar').first().json.id }}"},{"fieldId":"start_time","fieldValue":"={{ $('Google Calendar').first().json.start.dateTime }}"},{"fieldId":"end_time","fieldValue":"={{ $('Google Calendar').first().json.end.dateTime }}"},{"fieldId":"interacao_id","fieldValue":"={{ $('tratamento_dados').first().json.conversation_id }}"},{"fieldId":"empresa_id","fieldValue":"={{ $('tratamento_dados').first().json.user_id }}"},{"fieldId":"status_agendamento","fieldValue":"agendado_no_calendario"},{"fieldId":"status_lembrete","fieldValue":"Pendente Lembrete 1"},{"fieldId":"timestamp_agendamento","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[608,-208],"id":"8cbe73c3-af99-4eb1-b6ab-164f68e69ddb","name":"Criar agendamento","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"method":"POST","url":" https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.lead.add.json","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"TITLE\": \"n8n Novo lead IM link: {{ $json.url_inicial }}\",\n    \"NAME\": \"{{ $('tratamento_dados').first().json.nome }}\",\n    \"EMAIL\": [\n      {\n        \"VALUE\": \"{{ $('tratamento_dados').first().json.email }}\",\n        \"VALUE_TYPE\": \"WORK\"\n      }\n    ],\n    \"PHONE\": [\n      {\n        \"VALUE\": \"{{ $('tratamento_dados').first().json.telefone }}\",\n        \"VALUE_TYPE\": \"WORK\"\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,-464],"id":"49d54485-5d24-48d3-b211-c6871a5ef7b6","name":"Envio bitrix","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.dominio }}","status":"success","empresa_id":"='{{ $json.id }}'","action_type":"marcou_agendamento","to_status":"=","canal":"whatsapp","workflow_name":"[Tool] Agendamento Actions","destinatario":"={{ $('Switch').item.json.telefone }}","from_status":"={{ $json.status_cadencia_geral }}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1136,-208],"id":"8ea6654e-e887-4a63-9730-2f856fb39d65","name":"Call 'Registrar logs'1"},{"parameters":{"operation":"get","tableId":"empresas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Switch').item.json.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[864,-192],"id":"1c33be32-a2e6-40f2-8847-ed4f9bf463ad","name":"procurar_empresa1","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.dominio }}","status":"success","empresa_id":"='{{ $json.id }}'","action_type":"cliente_respondeu_whastapp","to_status":"={{ $json.status_cadencia_geral }}","canal":"whatsapp","workflow_name":"[WF3] Atendimento WhatsApp","destinatario":"={{ $('dados principais').first().json.numero_conversa }}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3760,384],"id":"ffe5f6d2-976f-4634-8dd1-e5e6b2096dc3","name":"Call 'Registrar logs'"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"tratamento_dados","type":"main","index":0}]]},"Google Calendar":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"buscar_agendamento","type":"main","index":0}],[{"node":"tratar resposta","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Google Calendar","type":"main","index":0}],[{"node":"Google Calendar1","type":"main","index":0}],[{"node":"Supabase2","type":"main","index":0}],[{"node":"feriados","type":"main","index":0}]]},"Google Calendar1":{"main":[[{"node":"If1","type":"main","index":0}]]},"tratamento_dados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"If1":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Google Calendar2","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Google Calendar2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Update Appointment Status","type":"main","index":0}]]},"Update Appointment Status":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"eventos clinicas":{"main":[[{"node":"agendaocupada","type":"main","index":0}]]},"feriados":{"main":[[{"node":"feriados1","type":"main","index":0}]]},"base_conhecimento":{"main":[[{"node":"tratar base de conhecimento","type":"main","index":0}]]},"feriados1":{"main":[[{"node":"eventos clinicas","type":"main","index":0}]]},"agendaocupada":{"main":[[{"node":"base_conhecimento","type":"main","index":0}]]},"tratar base de conhecimento":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Retorno","type":"main","index":0}]]},"primeiro agendamento":{"main":[[{"node":"procurar_empresa","type":"main","index":0}],[{"node":"Criar agendamento","type":"main","index":0}]]},"buscar_agendamento":{"main":[[{"node":"analisar_agendamento","type":"main","index":0}]]},"analisar_agendamento":{"main":[[{"node":"primeiro agendamento","type":"main","index":0}]]},"procurar_empresa":{"main":[[{"node":"Criar agendamento","type":"main","index":0}]]},"Criar agendamento":{"main":[[{"node":"procurar_empresa1","type":"main","index":0}]]},"Envio bitrix":{"main":[[]]},"tratar resposta1":{"main":[[]]},"procurar_empresa1":{"main":[[{"node":"Call 'Registrar logs'1","type":"main","index":0}]]},"Call 'Registrar logs'1":{"main":[[{"node":"tratar resposta1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"operacao":"criar_agendamento","Start":"2025-09-23T09:00:00-03:00","End":"2025-09-23T09:30:00-03:00","Description":"Agendamento com Diego Fernandes para consultoria sobre erro no site via Google Meet","Summary":"G2 Internet - Diego Fernandes - Consultoria Erro Site","telefone":"555193299031","conversation_id":"266","user_id":2552,"appointment_id":" ","novo_status":null,"durationMinutes":null,"bufferMinutes":null,"email":"diegovilson.1999@gmail.com","nome":"Diego Fernandes"}}]},"versionId":"69be4c1e-d49b-4b77-9461-d85809878597","triggerCount":0,"shared":[{"createdAt":"2025-05-20T21:49:31.121Z","updatedAt":"2025-05-20T21:49:31.121Z","role":"workflow:owner","workflowId":"OMtvbCzy2dUP1u5j","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}