backups/[tool]-processar_opt_out-d1MDOBlTYfuleb2i.json
{"createdAt":"2025-05-20T20:28:37.987Z","updatedAt":"2025-09-19T01:39:41.403Z","id":"d1MDOBlTYfuleb2i","name":"[Tool] processar_opt_out","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"empresa_id"},{"name":"contato_id_db"},{"name":"numero_remetente_limpo"},{"name":"interacao_id"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{"operation":"update","tableId":"contatos_empresa","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.contato_id_db }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_contato","fieldValue":"descadastrado_whatsapp"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[448,368],"id":"62bdf8a5-e61a-443d-b487-4fb4624e2e4c","name":"AtualizarStatusContatoEmpresa_OptOut","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').first().json.empresa_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_cadencia_geral","fieldValue":"nao_perturbe"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,368],"id":"5e085638-8c04-4a0d-8bbb-b0c82851858e","name":"AtualizarStatusEmpresa_OptOut","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"interacoes","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.interacao_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_interacao","fieldValue":"finalizada_optout"},{"fieldId":"timestamp_fim","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"timestamp_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,368],"id":"0b2e1926-074e-4a22-8cb5-1494faa87328","name":"AtualizarStatusInteracao_OptOut","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2e78990f-95ee-477d-a8c8-7c12ddb6d453","name":"status","value":"opt_out_processado_com_sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1312,368],"id":"16c7037e-210d-4af9-8991-1813d5b33fc4","name":"Set_ResultadoDaToolOptOut"},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"status":"success","domain":"={{ $('AtualizarStatusEmpresa_OptOut').item.json.dominio }}","empresa_id":"='{{ $('AtualizarStatusEmpresa_OptOut').item.json.id }}'","action_type":"opt_out","to_status":"={{ $('AtualizarStatusEmpresa_OptOut').item.json.status_cadencia_geral }}","reason":"empresa pediu para não receber mais mensagens","workflow_name":"[Tool] processar_opt_out"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1088,144],"id":"0b43b812-a684-4237-9592-e5940eac8ad7","name":"Call 'Registrar logs'"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AtualizarStatusContatoEmpresa_OptOut","type":"main","index":0}]]},"AtualizarStatusContatoEmpresa_OptOut":{"main":[[{"node":"AtualizarStatusEmpresa_OptOut","type":"main","index":0}]]},"AtualizarStatusEmpresa_OptOut":{"main":[[{"node":"AtualizarStatusInteracao_OptOut","type":"main","index":0}]]},"AtualizarStatusInteracao_OptOut":{"main":[[{"node":"Call 'Registrar logs'","type":"main","index":0},{"node":"Set_ResultadoDaToolOptOut","type":"main","index":0}]]},"Call 'Registrar logs'":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"empresa_id":3096,"contato_id_db":10093,"numero_remetente_limpo":"5511932852700","interacao_id":"261"}}]},"versionId":"adb891c9-5881-4d44-9d06-dacc2c01cee2","triggerCount":0,"shared":[{"createdAt":"2025-05-20T20:28:37.987Z","updatedAt":"2025-05-20T20:28:37.987Z","role":"workflow:owner","workflowId":"d1MDOBlTYfuleb2i","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}