backups/[wf0]-enriquecimento-de-leads-(scraping-+-gmn)-ebaoKi1qbGWz4ykP.json
{"createdAt":"2025-05-13T23:22:00.492Z","updatedAt":"2025-09-14T22:39:45.922Z","id":"ebaoKi1qbGWz4ykP","name":"[WF0] Enriquecimento de Leads (Scraping + GMN)","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const items = $input.all(); // Pega todos os itens da entrada\n\n// Mapeia os domínios para o formato esperado\nconst urlsList = items.map(item => ({ url: item.json.dominio_scraping }));\n\n// Função para dividir em blocos de 150\nfunction chunkArray(array, chunkSize) {\n  const result = [];\n  for (let i = 0; i < array.length; i += chunkSize) {\n    result.push(array.slice(i, i + chunkSize));\n  }\n  return result;\n}\n\n// Divide os links em blocos de até 150\nconst chunkedUrls = chunkArray(urlsList, 150);\n\n// Retorna um array de itens, cada um com até 150 links\nreturn chunkedUrls.map(chunk => ({\n  json: {\n    startUrls: chunk\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,1392],"id":"8d914772-b294-4f33-bd8f-561375044216","name":"apifyinput"},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/digitalpixel~[REDACTED]/run-sync-get-dataset-items?token=[REDACTED]","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"apifyinput\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1488,1360],"id":"75d7b755-cdbb-46a0-8170-b5721d60810c","name":"contato-proativo-scraper-leve","credentials":{"httpHeaderAuth":{"id":"GrhDGRQtBxHoou7J","name":"apify"}}},{"parameters":{"jsCode":"// Itera sobre todos os itens de entrada\nconst items = $input.all();\n\nconst outputs = [];\n\nfor (const item of items) {\n  const failedItem = item.json;\n  const urlToRetry = failedItem.initialUrl;\n\n  // Verifica se a URL existe\n  if (!urlToRetry) {\n    console.warn(\"Item sem initialUrl chegou para retry (Datacenter):\", failedItem);\n    continue; // Pula para o próximo item\n  }\n\n  // Monta o objeto de entrada para o ator Apify Playwright\n  const apifyInput = {\n    startUrls: [{ url: urlToRetry }],\n    proxyConfiguration: {\n      useApifyProxy: true,\n      apifyProxyGroups: [\"DATACENTER\"]\n    }\n  };\n\n  // Adiciona o resultado à lista de saída\n  outputs.push({ json: apifyInput });\n}\n\n// Retorna todos os objetos formatados\nreturn outputs;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,-608],"id":"b992ea48-3b6b-4353-9c6f-3dd55f72013c","name":"apifyinput1","disabled":true},{"parameters":{"jsCode":"const items = $input.all();\n\n// Usa o campo 'initialUrl' ao invés de 'WebsiteURL'\nconst startUrls = items\n  .map(item => item.json.initialUrl)\n  .filter(url => !!url) // Garante que não seja null ou undefined\n  .map(url => ({ url }));\n\nconst output = {\n  startUrls,\n  proxyConfig: {\n    useApifyProxy: true,\n    apifyProxyGroups: [\"RESIDENTIAL\"],\n    apifyProxyCountry: \"BR\"\n  }\n};\n\nreturn [{ json: output }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,-336],"id":"54d0802a-0128-4fb7-b6e3-79ec343b0481","name":"apifyinput2","disabled":true},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/diegovilson.1999~website-contact-extractor-brazil/run-sync-get-dataset-items?token=[REDACTED]&memory=1024","authentication":"predefinedCredentialType","nodeCredentialType":"apifyApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"apifyinput1\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-688,-608],"id":"eddc671d-d36e-4fc6-9572-c542890dbc13","name":"PrepareInputPlaywrightDatacenter","disabled":true},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/diegovilson.1999~website-contact-extractor-brazil/run-sync-get-dataset-items?token=[REDACTED]&memory=1024","authentication":"predefinedCredentialType","nodeCredentialType":"apifyApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"apifyinput2\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-688,-336],"id":"12db6c71-63b4-419c-b40b-2e60a634b15f","name":"PrepareInputPlaywrightResidentia","disabled":true},{"parameters":{"jsCode":"/**\n * Extrai o nome antes do TLD a partir de processedUrl OU websiteDomain.\n * Gera:\n * - domainName\n * - titleName\n * - socialName\n * E, se houver endereço:\n * - combinações de cada um acima + endereço\n */\n\nfunction cleanTitle(title) {\n  if (!title) return '';\n  title = title.replace(/([a-z])([A-Z])/g,'$1 $2');\n  const bad = ['tabela','preços','lojas','botão','whatsapp','home','início'];\n  if (bad.some(w=>new RegExp(`\\\\b${w}\\\\b`,'i').test(title))) return '';\n  title = title.split(/[\\|\\–\\-»>]/)[0].trim().replace(/\\s+/g,' ');\n  return title.length >= 3 ? title : '';\n}\n\nfunction extractDomainName(url, fallbackDomain) {\n  let host = '';\n  try {\n    host = new URL(url).hostname;\n  } catch {\n    host = fallbackDomain || '';\n  }\n  host = host.replace(/^www\\./,'')\n             .replace(/\\.com\\.br$|\\.com$|\\.br$|\\.net$|\\.org$/i,'');\n  if (!host) return '';\n  return host\n    .split(/[\\.-]/)\n    .map(w=>w.charAt(0).toUpperCase() + w.slice(1))\n    .join(' ');\n}\n\nfunction extractSocialName(links = []) {\n  for (const l of links) {\n    const m = l.match(/(?:instagram\\.com|facebook\\.com)\\/([A-Za-z0-9._-]+)/i);\n    if (m) {\n      return m[1]\n        .replace(/[._]/g,' ')\n        .split(' ')\n        .map(w=>w.charAt(0).toUpperCase() + w.slice(1))\n        .join(' ');\n    }\n  }\n  return '';\n}\n\nfunction getAddress(addrs = []) {\n  return (addrs[0] || '').trim().replace(/\\s+/g,' ');\n}\n\nconst output = [];\n\nfor (const { json } of $input.all()) {\n  // tenta processedUrl, senão websiteDomain\n  const rawUrl     = json.processedUrl || `https://${json.websiteDomain}`;\n  const domainName = extractDomainName(rawUrl, json.websiteDomain);\n  const titleName  = cleanTitle(json.pageTitle);\n  const socialName = extractSocialName(json.extractedSocialLinks);\n  const address    = getAddress(json.extractedAddresses);\n\n  const itemQs = new Set();\n\n  // 1) Sempre inclua o domínio\n  if (domainName) itemQs.add(domainName);\n  // 2) Título limpo\n  if (titleName) itemQs.add(titleName);\n  // 3) Social ID\n  if (socialName) itemQs.add(socialName);\n\n  // 4) Combinações com endereço\n  if (address) {\n    if (domainName) itemQs.add(`${domainName} ${address}`);\n    if (titleName)  itemQs.add(`${titleName} ${address}`);\n    if (socialName) itemQs.add(`${socialName} ${address}`);\n  }\n\n  // Empacota como [{ json: { query } }, …]\n  for (const q of itemQs) {\n    output.push({ json: { query: q.trim() } });\n  }\n}\n\n// Retorna no máximo 60 queries\nreturn output.slice(0, 60);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2832,1472],"id":"92b30e9a-16e1-4407-a18f-2bc9feaf40a8","name":"PrepareBestGMNQuery"},{"parameters":{"url":"=https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={{ $json.query }}&inputtype=textquery&fields=place_id,name,formatted_address,business_status&locationbias=rectangle:-34.0,-73.99|5.27,-34.79&language=pt-BR&key=AIzaSyCVqPKXc_jezq7yoMxlwO5osOQysbCfeDA","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3024,1520],"id":"71933478-8ed0-4d1d-bce7-416c78cbfcc0","name":"FindPlaceByTextQuery","retryOnFail":true,"maxTries":5},{"parameters":{"url":"=https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyCVqPKXc_jezq7yoMxlwO5osOQysbCfeDA&placeid={{ $json.place_id }}&fields=place_id,name,international_phone_number,formatted_phone_number,website,business_status,formatted_address,opening_hours,rating,user_ratings_total,types&language=pt-BR\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4880,1488],"id":"b538048f-4cf3-4691-8008-a7b5d60347f4","name":"FindPlaceByTextQuery1"},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"url_inicial","condition":"eq","keyValue":"={{ $json.url_inicial_plataforma_externa }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"nome_empresa_pagina","fieldValue":"={{ $json.pageTitle }}"},{"fieldId":"telefones_scraping","fieldValue":"={{ $json.validatedPhones }}"},{"fieldId":"emails_scraping","fieldValue":"={{ $json.validatedEmails }}"},{"fieldId":"links_sociais_scraping","fieldValue":"={{ $json.extractedSocialLinks }}"},{"fieldId":"status_scraping_t1","fieldValue":"={{ $json.status }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2384,1008],"id":"bc7f1bb3-c236-46b4-9a9c-9fe402c31429","name":"Supabase","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"jsCode":"// Expressões regulares\n// Telefones BR: opcional “+” e country code 55, DDD 11–99, número 8 dígitos (landline) ou 9 dígitos começando em 9 (mobile)\nconst phoneRegex = /^(\\+?55)?[1-9][0-9](?:[2-8]\\d{7}|9\\d{8})$/;\n\n// E-mail básico\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\n// Percorre todos os items\nreturn items.map(item => {\n  const jsonIn = item.json;\n\n  // 1) Telefones: filtra apenas os que passam no regex\n  const phones = Array.isArray(jsonIn.cleanedPhones)\n    ? jsonIn.cleanedPhones.filter(p => phoneRegex.test(p))\n    : [];\n\n  // 2) E-mails: filtra sintaxe e exclui genericões Sentry/hex\n  const emails = Array.isArray(jsonIn.extractedEmails)\n    ? jsonIn.extractedEmails.filter(email => {\n        if (!emailRegex.test(email)) return false;\n        const [local, domain] = email.split('@');\n        // remove domínios que contenham \"sentry\"\n        if (domain.toLowerCase().includes('sentry')) return false;\n        // remove local parts que são longos hashes hexadecimais (>10 chars)\n        if (/^[a-f0-9]{10,}$/i.test(local)) return false;\n        return true;\n      })\n    : [];\n\n  // Retorna o item original + campos validados\n  return {\n    json: {\n      ...jsonIn,\n      validatedPhones: phones,\n      validatedEmails: emails\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,1008],"id":"c4a2d853-fcc1-45f4-8cd3-e58b33976b0c","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2384,1280],"id":"ea07cedd-7011-43ad-a879-24a3def02f07","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[352,2272],"id":"c66f08dd-f5ab-438c-a3f3-933912bc1bea","name":"Evolution API","alwaysOutputData":false,"notesInFlow":true,"credentials":{"evolutionApi":{"id":"ugFQ80PKdZTcC5Fa","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nlet output = [];\n\nfunction normalizar(numStr) {\n  const sóDigitos = String(numStr).replace(/\\D/g, '');\n  let n = sóDigitos;\n  if (n.startsWith('550')) n = '55' + n.slice(3);\n  if ((n.length === 10 || n.length === 11) && !n.startsWith('55')) {\n    n = '55' + n;\n  }\n  if (n.startsWith('55') && (n.length === 12 || n.length === 13)) {\n    const ddd = parseInt(n.slice(2, 4), 10);\n    const resto = n.slice(4);\n    if (\n      ddd >= 11 && ddd <= 99 &&\n      (resto.length === 8 || (resto.length === 9 && resto.startsWith('9')))\n    ) {\n      return n;\n    }\n  }\n  return null;\n}\n\nfor (const item of items) {\n  const telefonesScraping = item.json.telefones_scraping || \"\";\n  const gmnTelefone = item.json.gmn_telefone || \"\";\n  let todosOsNumeros = [];\n\n  if (telefonesScraping) {\n    try {\n      todosOsNumeros = todosOsNumeros.concat(JSON.parse(telefonesScraping));\n    } catch (e) {\n      todosOsNumeros = todosOsNumeros.concat(\n        telefonesScraping\n          .split(',')\n          .map(s => s.replace(/[\\[\\]\"]+/g, '').trim())\n          .filter(Boolean)\n      );\n    }\n  }\n\n  if (gmnTelefone) {\n    todosOsNumeros.push(gmnTelefone);\n  }\n\n  const numerosParaVerificar = Array.from(new Set(\n    todosOsNumeros\n      .map(normalizar)\n      .filter(n => n !== null)\n  )).slice(0, 10); // Limita aos primeiros 10 números válidos e únicos\n\n  const resultados = numerosParaVerificar.flatMap(numero => {\n    const ddd = numero.slice(2, 4);\n    const resto = numero.slice(4);\n\n    const numeroCom9 = resto.length === 9\n      ? numero\n      : `55${ddd}9${resto}`;\n    const numeroSem9 = resto.length === 9 && resto.startsWith('9')\n      ? `55${ddd}${resto.slice(1)}`\n      : `55${ddd}${resto}`;\n\n    return [\n      {\n        json: {\n          id:                  item.json.id,\n          telefones_scraping:  item.json.telefones_scraping,\n          gmn_telefone:        item.json.gmn_telefone,\n          empresa_id_original: item.json.id,\n          numero_para_verificar: numeroCom9\n        }\n      },\n      {\n        json: {\n          id:                  item.json.id,\n          telefones_scraping:  item.json.telefones_scraping,\n          gmn_telefone:        item.json.gmn_telefone,\n          empresa_id_original: item.json.id,\n          numero_para_verificar: numeroSem9\n        }\n      }\n    ];\n  });\n\n  output.push(...resultados);\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,2240],"id":"802bfab7-6df3-428d-a966-f03b9fc83019","name":"PreparePhoneList"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-256,2240],"id":"67427d39-7895-4a68-9167-b6110d27526b","name":"LoopSobreNumeros"},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of items) {\n  const input = item.json;\n  const idEmpresa = $('id_empresa').first().json.id; // id vindo do nó anterior\n\n  if (input.success === true) {\n    results.push({\n      json: {\n        ...input,\n        contato_whatsapp_validado_info: {\n          ...input.data,\n          id: idEmpresa\n        }\n      }\n    });\n  } else {\n    // Se quiser manter os outros casos\n    results.push({\n      json: {\n        ...input,\n        id: idEmpresa\n      }\n    });\n  }\n}\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,2432],"id":"65c83803-cf8d-4d13-a8db-73326f92af55","name":"Code2"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"contato_whatsapp_validado_info"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[192,1840],"id":"dd2f6825-3bdc-4d04-acf5-10e58a325c31","name":"Aggregate"},{"parameters":{"jsCode":"const contatosMap = new Map();\n\nfor (const item of items) {\n  const contatos = item.json.contato_whatsapp_validado_info;\n\n  for (const contato of contatos) {\n    // Definir um identificador único confiável\n    const key = contato.jid || contato.wid || contato.number;\n\n    if (!key) continue; // pula se não houver identificador\n\n    // Normaliza o campo website como array\n    const websites = Array.isArray(contato.website)\n      ? contato.website\n      : contato.website\n        ? [contato.website]\n        : [];\n\n    if (!contatosMap.has(key)) {\n      contatosMap.set(key, {\n        id: contato.id,\n        isBusiness: contato.isBusiness,\n        jid: contato.jid || contato.wid,\n        number: contato.number || contato.wid,\n        message: contato.message || null,\n        description: contato.description || null,\n        website: websites.slice(),\n        category: contato.category || null,\n      });\n    } else {\n      // Atualiza caso já exista (ex: mesclar múltiplos websites)\n      const existing = contatosMap.get(key);\n      existing.website = Array.from(new Set([\n        ...existing.website,\n        ...websites\n      ]));\n      contatosMap.set(key, existing);\n    }\n  }\n}\n\n// Formata saída\nconst results = Array.from(contatosMap.values()).map(c => ({\n  json: {\n    ...c,\n    website: c.website.join(', ')\n  }\n}));\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,1840],"id":"5c266f63-cfdd-4aa5-a67b-f11d3483c1b2","name":"Code3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2aa17da7-72ca-42b6-900d-bbf589067929","leftValue":"={{ $json.dominio_scraping && $json.dominio_scraping.startsWith('http') }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[624,1280],"id":"9c17d8ef-9b7a-4d90-9833-12d949a85488","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1072,1280],"id":"6108e072-85a2-4be4-9561-212b15568c4f","name":"Merge1"},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"url_inicial","condition":"eq","keyValue":"={{ $json.url_inicial_plataforma_externa }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"dominio","fieldValue":"={{ \n  $json.processedUrl\n    .replace(/^https?:\\/\\//i, 'https://')\n    .toLowerCase()\n    .split('/').slice(0,3).join('/')\n    .replace('://www.', '://')\n    .replace(/\\/$/, '') \n}}"},{"fieldId":"url_inicial","fieldValue":"={{ $json.initialUrl }}"},{"fieldId":"nome_empresa_pagina","fieldValue":"={{ $json.pageTitle }}"},{"fieldId":"telefones_scraping","fieldValue":"={{ $json.cleanedPhones }}"},{"fieldId":"links_sociais_scraping","fieldValue":"={{ $json.extractedSocialLinks }}"},{"fieldId":"status_scraping_t1","fieldValue":"={{ $json.status }}"},{"fieldId":"status_cadencia_geral","fieldValue":"descartado_sem_contatos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2128,1568],"id":"b20bceba-c5bf-41fa-bb38-ab99b6a5bae5","name":"Salvar links com erro no scraping","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"jsCode":"return items.flatMap(item => {\n  const id = item.json.id;\n  const emailsJson = item.json.emails_scraping;\n  let emails = [];\n\n  try {\n    emails = JSON.parse(emailsJson);\n  } catch (err) {\n    return []; // pular se o parse falhar\n  }\n\n  // Remover duplicatas\n  const uniqueEmails = [...new Set(emails)];\n\n  return uniqueEmails.map(email => ({\n    json: {\n      empresa_id: id,\n      email: email\n    }\n  }));\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2832,1008],"id":"22055a50-6bbb-455e-a0df-c5ff2650b148","name":"Code5"},{"parameters":{"useCustomSchema":true,"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_geral","fieldValue":"Whatsapp_validado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-720,1952],"id":"a77aa137-21d0-4d16-99dd-f8dab65a9186","name":"Atualizar status Whatsapp_validado","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"empresas","limit":10,"matchType":"allFilters","filters":{"conditions":[{"keyName":"status_geral","condition":"eq","keyValue":"novo"},{"keyName":"status_scraping_t1","condition":"eq","keyValue":"success"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-960,2160],"id":"394dd5b1-8b5a-495c-9525-6f8a60d90a7c","name":"Buscar empresa","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6669c1df-7e04-4d18-9d5e-3379058b5c1b","leftValue":"={{ $json.data.exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"dc34c9af-49c9-4e31-9f54-23943c2de0e6","leftValue":"={{ $json.data.isBusiness }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,2048],"id":"2985eeac-2335-437c-ba05-6f59683c6c08","name":"If4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b56463a0-249e-4c90-b97a-5a8489d60f62","leftValue":"={{ $json.numero }}","rightValue":"={{ \n  (() => {\n    let tel = $('Buscar empresa').first().json.gmn_telefone || '';\n    tel = tel.replace(/\\D/g, ''); // remove tudo que não é número\n\n    if (tel.startsWith('55') && tel.length > 4) {\n      const ddd = tel.slice(2, 4);\n      let num = tel.slice(4);\n      if (num.length === 9 && num.startsWith('9')) {\n        num = num.slice(1);\n      }\n      return `55${ddd}${num}`;\n    } else {\n      return tel; // ou '' se quiser filtrar inválidos\n    }\n  })()\n}}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[848,1840],"id":"53e84624-662d-4ecb-be4c-810cb13c452f","name":"É gmn?"},{"parameters":{"tableId":"contatos_empresa","fieldsUi":{"fieldValues":[{"fieldId":"empresa_id","fieldValue":"={{ $json.id }}"},{"fieldId":"tipo_contato","fieldValue":"=whatsapp"},{"fieldId":"valor_contato","fieldValue":"={{ $json.numero }}"},{"fieldId":"descricao","fieldValue":"=categoria:  {{ $json.category }} website: {{ $json.website }}"},{"fieldId":"fonte_contato","fieldValue":"webscraping"},{"fieldId":"data_adicao","fieldValue":"={{$now}}"},{"fieldId":"whatsappbusiness","fieldValue":"={{ $json.isBusiness }}"},{"fieldId":"gmn","fieldValue":"false"},{"fieldId":"whatsapp_valido","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1072,1936],"id":"1243c50b-7f90-431f-af80-380688fceffb","name":"salvarcontatosemGMN","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"39526494-194e-4323-8ae6-05084f73490f","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"31fe68d2-37ae-47ea-95de-a7f037ec599f","name":"=numero","value":"={{ $json.number.split('@')[0] }}","type":"string"},{"id":"b2792882-f173-467c-af7a-ac9b2febfca3","name":"isBusiness","value":"={{ $json.isBusiness }}","type":"boolean"},{"id":"eb6a6d92-1f3b-400d-b89a-d92d602e4e71","name":"description","value":"={{ $json.description }}","type":"string"},{"id":"ced24e35-4504-49bf-bbb4-c1ec19560957","name":"category","value":"={{ $json.category }}","type":"string"},{"id":"b2f0e584-814b-42ff-b5f8-0978a6fc2560","name":"website","value":"={{ $json.website }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,1840],"id":"423885d1-a496-4b61-945c-909ef2cf9b1a","name":"Edit Fields"},{"parameters":{"tableId":"contatos_empresa","fieldsUi":{"fieldValues":[{"fieldId":"empresa_id","fieldValue":"={{ $json.id }}"},{"fieldId":"tipo_contato","fieldValue":"=whatsapp"},{"fieldId":"valor_contato","fieldValue":"={{ $json.numero }}"},{"fieldId":"descricao","fieldValue":"=categoria:  {{ $json.category }} website: {{ $json.website }}"},{"fieldId":"fonte_contato","fieldValue":"webscraping"},{"fieldId":"data_adicao","fieldValue":"={{$now}}"},{"fieldId":"whatsappbusiness","fieldValue":"={{ $json.isBusiness }}"},{"fieldId":"gmn","fieldValue":"true"},{"fieldId":"whatsapp_valido","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1072,1744],"id":"b7caf418-c148-491e-820a-3b1498a0c2cb","name":"Salvarbussnescomgmn","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7f767533-b91f-4f5e-82b9-2533595c7464","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"9a33bda7-7c17-4e6d-b71b-530b4bfbb7a4","name":"numero_para_verificar","value":"={{ $json.numero_para_verificar }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,2240],"id":"aa08f401-04c0-44b0-835d-0ef0039f2e2b","name":"id_empresa"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1280,1840],"id":"cd3b3638-bf5a-4e58-91ac-8bbdc13c667a","name":"No Operation, do nothing"},{"parameters":{"httpMethod":"POST","path":"d0199e96-f050-4764-80e2-457c3cd5fba2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-928,1376],"id":"4c09f3b2-6e24-4892-b7e3-8aef8ebef6e6","name":"Webhook","webhookId":"d0199e96-f050-4764-80e2-457c3cd5fba2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"365ff920-860a-4252-8ac1-bf4365735e8a","leftValue":"={{ $json.status }}","rightValue":"success","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6ed45106-7831-498e-b34e-3bd3ccd5d776","leftValue":"={{ $json.status }}","rightValue":"no_contacts_found","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1952,1280],"id":"44a60a2e-23ed-4118-a24a-5cc558320b41","name":"sucesso?"},{"parameters":{"jsCode":"const seen = new Set();\nconst uniqueCandidates = [];\n\nfor (const item of items) {\n  if (!item.json.candidates) continue;\n\n  for (const candidate of item.json.candidates) {\n    const key = candidate.place_id;\n    \n    if (!seen.has(key)) {\n      seen.add(key);\n      uniqueCandidates.push({ json: candidate });\n    }\n  }\n}\n\nreturn uniqueCandidates;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3808,1312],"id":"fc73bd6b-fe98-41ed-a24a-04d617779fab","name":"eliminar itens duplicados"},{"parameters":{"tableId":"contatos_empresa","dataToSend":"=defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"empresa_id","fieldValue":"={{ $json.contato_whatsapp_validado_info.id }}"},{"fieldId":"tipo_contato","fieldValue":"=telefone_geral"},{"fieldId":"valor_contato","fieldValue":"={{ $json.data.number.split('@')[0] }}"},{"fieldId":"descricao","fieldValue":"=whatsapp não valido"},{"fieldId":"fonte_contato","fieldValue":"webscraping"},{"fieldId":"data_adicao","fieldValue":"={{$now}}"},{"fieldId":"whatsappbusiness","fieldValue":"={{ $json.data.isBusiness }}"},{"fieldId":"gmn","fieldValue":"false"},{"fieldId":"whatsapp_valido","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[528,2064],"id":"e71fd01d-9d8f-4a88-a404-851f3b1e9ee1","name":"Salvar_contatos_whatsapp_inválido","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1200,2160],"id":"4f8e678b-ffe7-4a58-89e2-4f89196b2ee6","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-928,2656],"id":"87ef5351-6941-44a4-be19-7553969cc67c","name":"Schedule Trigger1"},{"parameters":{"assignments":{"assignments":[{"id":"14c16643-0743-4c50-b9b8-7b7d63ed0f71","name":"nome_empresa","value":"={{ $('Procurar_empresa_validada').item.json.nome_empresa_gmn || $('Procurar_empresa_validada').item.json.nome_empresa_pagina }}","type":"string"},{"id":"4ea63e46-5712-402c-a34e-7d0082780f98","name":"endereco","value":"={{ $('Procurar_empresa_validada').item.json.gmn_endereco || \"não encontramos\" }}","type":"string"},{"id":"2be91817-f337-4db1-b800-b4cee821e633","name":"url_recebida","value":"={{ $('Procurar_empresa_validada').item.json.url_inicial }}","type":"string"},{"id":"a84ebbae-f77f-4809-8326-095fb212e4f0","name":"contatos","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,2640],"id":"c9382124-5fae-4243-b65c-6a43541a3941","name":"tratar_dados_contato"},{"parameters":{"fieldToSplitOut":"body.urls_para_scraping","options":{"destinationFieldName":"dominio"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,1280],"id":"7abdee81-e65a-4416-b799-b555296064a1","name":"Split Out"},{"parameters":{"tableId":"empresas","fieldsUi":{"fieldValues":[{"fieldId":"dominio","fieldValue":"={{ \n $json.dominio\n    .replace(/^https?:\\/\\//i, 'https://')\n    .toLowerCase()\n    .split('/').slice(0,3).join('/')\n    .replace('://www.', '://')\n    .replace(/\\/$/, '') \n}}"},{"fieldId":"url_inicial","fieldValue":"={{ $json.dominio }}"},{"fieldId":"status_cadencia_geral","fieldValue":"apta_para_nova_cadencia"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[192,1280],"id":"f64bf032-8b2b-4e04-9d3e-e483d5a3de40","name":"criar contato","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"jsCode":"return items.map(item => {\n  let raw = item.json.website?.trim() || '';\n\n  // Remove espaços e barras erradas no início\n  raw = raw.replace(/^\\/+/, '').replace(/\\s+/g, '');\n\n  // Adiciona https se não tiver http/https\n  if (!/^https?:\\/\\//i.test(raw)) {\n    raw = 'https://' + raw;\n  }\n\n  // Tratamento adicional: remove múltiplas barras após o domínio\n  raw = raw.replace(/([^:])\\/{2,}/g, '$1/');\n\n  // Expressão para testar se é uma URL básica com domínio e TLD\n  const domainRegex = /^https?:\\/\\/([a-z0-9-]+\\.)+[a-z]{2,}(\\/.*)?$/i;\n\n  const isValid = domainRegex.test(raw);\n\n  // Atualiza os campos com os novos dados\n  item.json.website = raw;\n  item.json.InvalidURL = !isValid;\n\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,1328],"id":"72af1a78-8c87-4be2-9b56-9243e31e659e","name":"normalizar_url_scraping"},{"parameters":{"assignments":{"assignments":[{"id":"ac2dd5af-fd29-4431-8e22-c0f878e10c46","name":"dominio_scraping","value":"={{ $json.dominio }}","type":"string"},{"id":"88f0a897-7d03-443e-aa12-103108009532","name":"url_inicial_plataforma_externa","value":"={{ $json.url_inicial }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,1280],"id":"42840d81-50c4-458b-bb20-29911ae86efd","name":"dominio_scraping"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"dominio_scraping","field2":"initialUrl"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1728,1264],"id":"ef951e39-5588-4a6e-802a-1f3b5c5af968","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"704ac7f6-c924-435e-bd5c-d70640d1edac","leftValue":"={{ $json.emails_scraping }}","rightValue":"@","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2608,1008],"id":"1e2e139c-d9c7-4441-a2da-a5adf654c540","name":"tem_email?"},{"parameters":{"tableId":"contatos_empresa","fieldsUi":{"fieldValues":[{"fieldId":"tipo_contato","fieldValue":"email"},{"fieldId":"valor_contato","fieldValue":"={{ $json.email }}"},{"fieldId":"empresa_id","fieldValue":"={{ $json.empresa_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3040,1008],"id":"04dbacdb-82b4-4a93-8eab-abd3fcb6d33c","name":"salvar_email_contatos","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e355f0dc-13d7-4a75-a94a-08d6678f0948","leftValue":"={{ $('eliminar itens duplicados').first().json.business_status }}","rightValue":"OPERATIONAL","operator":{"type":"string","operation":"equals"}},{"id":"63577c0c-226b-4ed1-b9e8-6fb92460499f","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4032,1312],"id":"f38767e2-9373-44bb-8e31-7041dd2f4796","name":"itens_duplicados?"},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"dominio","condition":"eq","keyValue":"={{ \n  $json.result.website\n    // força sempre https://  \n    .replace(/^https?:\\/\\//i, 'https://')\n    // tudo em minúsculo  \n    .toLowerCase()\n    // mantém só protocolo + domínio  \n    .split('/').slice(0,3).join('/')\n    // remove apenas 'www.' após o protocolo  \n    .replace('://www.', '://')\n    // remove '/' final, se houver  \n    .replace(/\\/$/, '') \n}}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"gmn_encontrado","fieldValue":"true"},{"fieldId":"gmn_place_id","fieldValue":"={{ $json.result.place_id }}"},{"fieldId":"gmn_telefone","fieldValue":"={{ $json.result.international_phone_number }}"},{"fieldId":"gmn_endereco","fieldValue":"={{ $json.result.formatted_address }}"},{"fieldId":"gmn_website","fieldValue":"={{ $json.result.website }}"},{"fieldId":"gmn_status","fieldValue":"={{ $json.result.business_status }}"},{"fieldId":"gmn_rating","fieldValue":"={{ $json.result.rating }}"},{"fieldId":"gmn_ratings_total","fieldValue":"={{ $json.result.user_ratings_total }}"},{"fieldId":"nome_empresa_gmn","fieldValue":"={{ $json.result.name }}"},{"fieldId":"gmn_encontrado","fieldValue":"true"},{"fieldId":"gmn_horarios_funcionamento","fieldValue":"={{ $json.result.opening_hours }}"},{"fieldId":"gmn_categoria","fieldValue":"={{ $json.result.types }}"},{"fieldId":"status_scraping_t1","fieldValue":"success"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5072,1168],"id":"ed16c46c-b8a8-4393-9064-867444cd77a2","name":"salvar_dados_gmn_match","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Procurar_empresa_validada').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_geral","fieldValue":"enviado_plataforma_externa"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[832,2640],"id":"df1a5f33-de01-4147-a092-789f80c3c9d7","name":"Supabase1","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"empresas","limit":1,"filters":{"conditions":[{"keyName":"status_geral","condition":"eq","keyValue":"Whatsapp_validado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-704,2656],"id":"d7605650-bbe6-45ab-9594-482862b8ce0f","name":"Procurar_empresa_validada","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"contatos_empresa","returnAll":true,"filters":{"conditions":[{"keyName":"empresa_id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-480,2656],"id":"e2ef8a4d-5f5f-454e-8d4b-69d308d8c290","name":"contatos_validados","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"valor_contato, , tipo_contato,  whatsappbusiness, gmn, whatsapp_valido","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[64,2640],"id":"42a95037-8cfc-4299-8696-b5702714f6bb","name":"Agregar_contatos"},{"parameters":{"method":"POST","url":"https://im.digitalpixel.com.br/api/public/hooks/new-company-info","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic bjhuOk5vaXRvZW4z"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"nome_empresa\": \"{{ $json.nome_empresa.replace(/[\\n\\r]+/g, ' ').trim() }}\",\n  \"endereco\": \"{{ $json.endereco.replace(/[\\n\\r]+/g, ' ').trim() }}\",\n  \"url_recebida\": \"{{ $json.url_recebida.replace(/[\\n\\r]+/g, ' ').trim() }}\",\n  \"contatos\": {{ JSON.stringify(typeof $json.contatos === 'string' ? JSON.parse($json.contatos) : $json.contatos) }}\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,2640],"id":"4a9a40bc-219e-40fc-b152-44d23bf7dd9f","name":"Enviar_dados"},{"parameters":{"dataToSave":{"values":[{"key":"[REDACTED]","value":"={{ $json.headers.host }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-704,1488],"id":"dc0bec5f-6758-453c-873a-0887454eb96e","name":"Execution Data"},{"parameters":{"operation":"get","tableId":"empresas","filters":{"conditions":[{"keyName":"dominio","keyValue":"={{    $json.dominio     .replace(/^https?:\\/\\//i, 'https://')     .toLowerCase()     .split('/').slice(0,3).join('/')     .replace('://www.', '://')     .replace(/\\/$/, '')  }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-464,1408],"id":"68ea1b0a-a099-4764-9d2c-93ee10c84b99","name":"buscar empresa","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"mode":"combine","fieldsToMatchString":"dominio","joinMode":"=keepNonMatches","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-208,1280],"id":"fa5e63e2-bcf9-4cb8-ba59-610e914a2c6c","name":"Merge2","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1259adc4-0bfe-45f5-8697-cbe534318afb","leftValue":"={{ $json.dominio }}","rightValue":"http","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-48,1280],"id":"360fbaad-c289-4e4d-b084-e359c5d221d5","name":"filtrar saída valida"},{"parameters":{"jsCode":"const items = $input.all(); // Pega todos os itens da entrada\n\n// Função para dividir os itens em blocos de 30\nfunction chunkArray(array, chunkSize) {\n  const result = [];\n  for (let i = 0; i < array.length; i += chunkSize) {\n    result.push(array.slice(i, i + chunkSize));\n  }\n  return result;\n}\n\n// Divide os itens em blocos de 30\nconst chunkedItems = chunkArray(items, 30);\n\n// Cada grupo retorna os objetos no mesmo formato que entraram\nreturn chunkedItems.map(group => ({\n  json: {\n    items: group.map(item => item.json)\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,1280],"id":"705c163c-65a7-4230-b211-5a7b5594f080","name":"Code1"},{"parameters":{"jsCode":"// Supondo que cada item() tem a forma: { items: [ ... ] }\n// Vamos extrair todos os itens de cada item da entrada.\n\nlet results = [];\n\nfor (const item of items) {\n  const unpacked = item.json.items;\n  for (const single of unpacked) {\n    results.push({ json: single });\n  }\n}\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,1472],"id":"f41d4214-a38e-4762-8e5c-9c5892d58f21","name":"Code4"},{"parameters":{"jsCode":"// Compactar objetos em blocos de 20\n\nconst tamanhoBloco = 20;\nconst dados = items.map(item => item.json); // pega todos os objetos\n\nconst blocos = [];\n\nfor (let i = 0; i < dados.length; i += tamanhoBloco) {\n  const bloco = dados.slice(i, i + tamanhoBloco);\n  const jsonString = JSON.stringify(bloco);\n  blocos.push({ json: { blocoCompactado: jsonString } });\n}\n\nreturn blocos;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4240,1312],"id":"ab22b090-2f0d-4b73-a06e-49e3233916f9","name":"Code6"},{"parameters":{"jsCode":"// Descompactar os blocos de string JSON\n\nconst resultado = [];\n\nfor (const item of items) {\n  const bloco = JSON.parse(item.json.blocoCompactado); // transforma string em array\n  for (const obj of bloco) {\n    resultado.push({ json: obj });\n  }\n}\n\nreturn resultado;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4704,1408],"id":"534a1188-8a2b-4c05-a725-71663cec6037","name":"Code7"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4464,1312],"id":"b67aa3fb-a604-4fbb-af57-0de8110c7762","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"99e1fb0d-6fe3-4c8c-9b34-27fd574005c2","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,2784],"id":"e4940fa6-6805-4f8e-8291-5760f0fdfd8d","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"14c16643-0743-4c50-b9b8-7b7d63ed0f71","name":"nome_empresa","value":"={{ $('Procurar_empresa_validada').item.json.nome_empresa_gmn || $('Procurar_empresa_validada').item.json.nome_empresa_pagina }}","type":"string"},{"id":"4ea63e46-5712-402c-a34e-7d0082780f98","name":"endereco","value":"={{ $('Procurar_empresa_validada').item.json.gmn_endereco || \"não encontramos\" }}","type":"string"},{"id":"2be91817-f337-4db1-b800-b4cee821e633","name":"url_recebida","value":"={{ $('Procurar_empresa_validada').item.json.url_inicial }}","type":"string"},{"id":"a84ebbae-f77f-4809-8326-095fb212e4f0","name":"contatos","value":"={{ $json.data || \"sem contatos\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,2848],"id":"c3178b1c-1121-4f38-a0a9-cd777eed9aeb","name":"tratar_dados_contato1"},{"parameters":{"method":"POST","url":"https://im.digitalpixel.com.br/api/public/hooks/new-company-info","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic bjhuOk5vaXRvZW4z"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"nome_empresa\": \"{{ $json.nome_empresa.replace(/[\\n\\r]+/g, ' ').trim() }}\",\n  \"endereco\": \"{{ $json.endereco.replace(/[\\n\\r]+/g, ' ').trim() }}\",\n  \"url_recebida\": \"{{ $json.url_recebida.replace(/[\\n\\r]+/g, ' ').trim() }}\",\n  \"contatos\": \"{{ $json.contatos }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,2864],"id":"aeaaf4a8-eb60-4d3d-8209-d46923005354","name":"Enviar_dados1"},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Procurar_empresa_validada').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_geral","fieldValue":"enviado_plataforma_externa"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1008,2864],"id":"ef0bf6c8-813a-4aa4-882d-c63e73368815","name":"Supabase2","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/705549915969226/contacts","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"blocking\": \"wait\",\n  \"contacts\": [\n    \"555193448124\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,2320],"id":"f75bad52-99b6-4e9c-adb4-1681335820dc","name":"Validar Número WhatsApp","executeOnce":true,"credentials":{"whatsAppApi":{"id":"0iKPfEsLxdLdpIgR","name":"WhatsApp dot"}}}],"connections":{"apifyinput":{"main":[[{"node":"contato-proativo-scraper-leve","type":"main","index":0}]]},"contato-proativo-scraper-leve":{"main":[[{"node":"Merge","type":"main","index":1}]]},"apifyinput1":{"main":[[{"node":"PrepareInputPlaywrightDatacenter","type":"main","index":0}]]},"apifyinput2":{"main":[[{"node":"PrepareInputPlaywrightResidentia","type":"main","index":0}]]},"PrepareBestGMNQuery":{"main":[[{"node":"FindPlaceByTextQuery","type":"main","index":0}]]},"FindPlaceByTextQuery":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"FindPlaceByTextQuery1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"tem_email?","type":"main","index":0}]]},"Code":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"eliminar itens duplicados","type":"main","index":0}],[{"node":"Code4","type":"main","index":0}]]},"PreparePhoneList":{"main":[[{"node":"LoopSobreNumeros","type":"main","index":0}]]},"LoopSobreNumeros":{"main":[[{"node":"If4","type":"main","index":0}],[{"node":"id_empresa","type":"main","index":0}]]},"Code2":{"main":[[{"node":"LoopSobreNumeros","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If1":{"main":[[{"node":"Merge1","type":"main","index":0}],[{"node":"normalizar_url_scraping","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"apifyinput","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Code5":{"main":[[{"node":"salvar_email_contatos","type":"main","index":0}]]},"Buscar empresa":{"main":[[{"node":"PreparePhoneList","type":"main","index":0},{"node":"Atualizar status Whatsapp_validado","type":"main","index":0}]]},"If4":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Salvar_contatos_whatsapp_inválido","type":"main","index":0}]]},"É gmn?":{"main":[[{"node":"Salvarbussnescomgmn","type":"main","index":0}],[{"node":"salvarcontatosemGMN","type":"main","index":0}]]},"salvarcontatosemGMN":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"É gmn?","type":"main","index":0}]]},"Salvarbussnescomgmn":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Execution Data","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"sucesso?":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"Salvar links com erro no scraping","type":"main","index":0}]]},"eliminar itens duplicados":{"main":[[{"node":"itens_duplicados?","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Buscar empresa","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Procurar_empresa_validada","type":"main","index":0}]]},"tratar_dados_contato":{"main":[[{"node":"Enviar_dados","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"buscar empresa","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"criar contato":{"main":[[{"node":"dominio_scraping","type":"main","index":0}]]},"normalizar_url_scraping":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"dominio_scraping":{"main":[[{"node":"If1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"sucesso?","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"tem_email?":{"main":[[],[{"node":"Code5","type":"main","index":0}]]},"itens_duplicados?":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Procurar_empresa_validada":{"main":[[{"node":"contatos_validados","type":"main","index":0}]]},"contatos_validados":{"main":[[{"node":"If","type":"main","index":0}]]},"Agregar_contatos":{"main":[[{"node":"tratar_dados_contato","type":"main","index":0}]]},"Enviar_dados":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"id_empresa":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Execution Data":{"main":[[]]},"buscar empresa":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"filtrar saída valida","type":"main","index":0}]]},"filtrar saída valida":{"main":[[{"node":"criar contato","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code4":{"main":[[{"node":"PrepareBestGMNQuery","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code7":{"main":[[{"node":"FindPlaceByTextQuery1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"salvar_dados_gmn_match","type":"main","index":0}],[{"node":"Code7","type":"main","index":0}]]},"Atualizar status Whatsapp_validado":{"main":[[]]},"If":{"main":[[{"node":"Agregar_contatos","type":"main","index":0}],[{"node":"tratar_dados_contato1","type":"main","index":0}]]},"Enviar_dados1":{"main":[[{"node":"Supabase2","type":"main","index":0}]]},"tratar_dados_contato1":{"main":[[{"node":"Enviar_dados1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger1":[{"json":{"timestamp":"2025-05-26T13:08:24.001-03:00","Readable date":"May 26th 2025, 1:08:24 pm","Readable time":"1:08:24 pm","Day of week":"Monday","Year":"2025","Month":"May","Day of month":"26","Hour":"13","Minute":"08","Second":"24","Timezone":"America/Sao_Paulo (UTC-03:00)"}}],"Schedule Trigger":[{"json":{"timestamp":"2025-05-26T12:13:50.001-03:00","Readable date":"May 26th 2025, 12:13:50 pm","Readable time":"12:13:50 pm","Day of week":"Monday","Year":"2025","Month":"May","Day of month":"26","Hour":"12","Minute":"13","Second":"50","Timezone":"America/Sao_Paulo (UTC-03:00)"}}],"Code":[{"json":{"dominio_scraping":"https://petmendes.com.br","url_inicial_plataforma_externa":"https://petmendes.com.br","initialUrl":"https://petmendes.com.br","processedUrl":"https://petmendes.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"PET MENDES","websiteDomain":"petmendes.com.br","extractedEmails":[],"cleanedPhones":["1532373357","15996018179","5416277172","5515996018179"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=5515996018179","https://facebook.com/petshopdesorocaba","https://instagram.com/petmendespetshop","https://www.facebook.com/petshopdesorocaba","https://api.whatsapp.com/send?l=pt&phone=5515998116087"],"extractedAddresses":["aves, roedores, peixes, artigos para casa e jardim. Onde você e seu pet podem fazer suas compras com mais segurança, economia e conforto.Atendimento(15) 3237-3357WhatsApp (15) 99601-817"],"scrapedAt":"2025-06-17T13:26:19.244Z","validatedPhones":["1532373357","15996018179","5515996018179"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://ntwcontabilidade.com.br","url_inicial_plataforma_externa":"https://ntwcontabilidade.com.br","initialUrl":"https://ntwcontabilidade.com.br","processedUrl":"https://ntwcontabilidade.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"NTW Contabilidade","websiteDomain":"ntwcontabilidade.com.br","extractedEmails":["sejafranqueado@franquiasntw.com.br"],"cleanedPhones":["1989200920","1020112015","2016201720","1820192020","2021202220","2320242025","3135192013","+553130223816","553135192013"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=553135192013","https://www.facebook.com/ntwOficial","https://www.instagram.com/ntwcontabilidadeoficial/","https://www.linkedin.com/in/ntw-contabilidade-e-gest%C3%A3o-empresarial/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:13.334Z","validatedPhones":["1989200920","1020112015","1820192020","2021202220","2320242025","3135192013","+553130223816","553135192013"],"validatedEmails":["sejafranqueado@franquiasntw.com.br"]}},{"json":{"dominio_scraping":"https://kolplast.com.br","url_inicial_plataforma_externa":"https://kolplast.com.br","initialUrl":"https://kolplast.com.br","processedUrl":"https://kolplast.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Home - Kolplast","websiteDomain":"kolplast.com.br","extractedEmails":["sac@kolplast.com.br","vendas@kolplast.com.br"],"cleanedPhones":["+551149610900","+5520112049610900","551149610900"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=551149610900","https://www.facebook.com/grupokolplast/","https://www.linkedin.com/company/grupokolplast/mycompany/?viewAsMember=true","https://www.instagram.com/grupokolplast/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:22.042Z","validatedPhones":["+551149610900","551149610900"],"validatedEmails":["sac@kolplast.com.br","vendas@kolplast.com.br"]}},{"json":{"dominio_scraping":"https://taxstrategy.com.br","url_inicial_plataforma_externa":"https://taxstrategy.com.br","initialUrl":"https://taxstrategy.com.br","processedUrl":"https://taxstrategy.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Tax Strategy","websiteDomain":"taxstrategy.com.br","extractedEmails":["suporte@taxstrategy.com.br"],"cleanedPhones":[],"extractedSocialLinks":["https://www.instagram.com/taxstrategybr/","https://www.linkedin.com/company/76973976/admin/feed/posts/","https://wa.me/5511917800361","https://www.facebook.com/taxstrategybr"],"extractedAddresses":["R. Alvorada, 1289 - Sala 201 Vila Olímpia, São Paulo - SP CEP 04550-004","Estamos em São Paulo R. Alvorada, 1289 - Sala 201 Vila Olímpia, São Paulo - SP CEP 04550-004 Política de Privacidade Menu Home Quem somos O que fazemos Blog Mídia Contato Fale conosco suporte@taxstrategy.com.br bravo"],"scrapedAt":"2025-06-17T13:26:28.136Z","validatedPhones":[],"validatedEmails":["suporte@taxstrategy.com.br"]}},{"json":{"dominio_scraping":"https://vipkids.com.br","url_inicial_plataforma_externa":"https://vipkids.com.br","initialUrl":"https://vipkids.com.br","processedUrl":"https://vipkids.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Vip Kids\n            ","websiteDomain":"vipkids.com.br","extractedEmails":["atendimento@vipkids.com.br","atendimento@nopaisdasmaravilhas.com.br","convite@vipkids.com.br","fit@everlane.com"],"cleanedPhones":["11985362612","5511985362612"],"extractedSocialLinks":["https://www.facebook.com/vipkids.com.br","https://www.instagram.com/vipkids.oficial/","https://api.whatsapp.com/send/?phone=5511985362612","https://www.instagram.com/buffet.vipkids/"],"extractedAddresses":["atendimento@vipkids.com.br (11) 98536-2612 Conheça também Conheça também © 2023 Vip Kids. Todos os direitos reservados."],"scrapedAt":"2025-06-17T13:26:33.037Z","validatedPhones":["11985362612","5511985362612"],"validatedEmails":["atendimento@vipkids.com.br","atendimento@nopaisdasmaravilhas.com.br","convite@vipkids.com.br","fit@everlane.com"]}},{"json":{"dominio_scraping":"https://elshadayitsolutions.com.br","url_inicial_plataforma_externa":"https://elshadayitsolutions.com.br","initialUrl":"https://elshadayitsolutions.com.br","processedUrl":"https://elshadayitsolutions.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Desenvolvimento de Software e Aplicativos Sob Medida | Empresa especializada no desenvolvimento de softwares, sistemas Web e Mobile sob medida, integração de sistemas, localizada em São Paulo","websiteDomain":"elshadayitsolutions.com.br","extractedEmails":["contato@elshadayitsolutions.com.brendere"],"cleanedPhones":[],"extractedSocialLinks":["https://www.linkedin.com/company/[REDACTED]/","https://www.instagram.com/elshadayit"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:38.764Z","validatedPhones":[],"validatedEmails":["contato@elshadayitsolutions.com.brendere"]}},{"json":{"dominio_scraping":"https://themedicalgrowth.com.br","url_inicial_plataforma_externa":"https://themedicalgrowth.com.br","initialUrl":"https://themedicalgrowth.com.br","processedUrl":"https://themedicalgrowth.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"The Medical Growth | Crescimento Pessoal na Carreira Médica","websiteDomain":"themedicalgrowth.com.br","extractedEmails":[],"cleanedPhones":["7227263598","5541987806963"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=5541987806963&text=Ol%C3%A1!%20Gostaria%20de%20cadastrar%20meu%20hospital%20ou%20cl%C3%ADnica%20no%20evento%20The%20Medical%20Growth.","https://www.linkedin.com/showcase/the-medical-growth/about/","https://www.instagram.com/themedicalgrowth/","https://www.facebook.com/themedicalgrowth"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:29.238Z","validatedPhones":["7227263598","5541987806963"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://contabillagoazul.com.br","url_inicial_plataforma_externa":"https://contabillagoazul.com.br","initialUrl":"https://contabillagoazul.com.br","processedUrl":"https://contabillagoazul.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Contabil Lago Azul - Contabilidade","websiteDomain":"contabillagoazul.com.br","extractedEmails":[],"cleanedPhones":["1130640570","11950553240","3035288312","1130640570"],"extractedSocialLinks":["https://www.facebook.com/ContabilLagoAzul","https://www.linkedin.com/in/[REDACTED]/","https://www.instagram.com/contabillago/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:30.236Z","validatedPhones":["1130640570","11950553240","3035288312","1130640570"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://contty.com.br","url_inicial_plataforma_externa":"https://contty.com.br","initialUrl":"https://contty.com.br","processedUrl":"https://contty.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Assessoria contábil, tributária e financeiraWhatsApp","websiteDomain":"contty.com.br","extractedEmails":["contato@contty.com.br"],"cleanedPhones":["7130338297","71988221010","71981225739"],"extractedSocialLinks":["https://www.facebook.com/conttycontabilidade/","https://www.instagram.com/conttycomagente/","https://www.linkedin.com/company/contty-contabilidade","http://wa.me/5571999129053"],"extractedAddresses":["ENDEREÇO Salvador: R. Dr. José Peroba, 149 – 6 Andar Stiep, Salvador – BA TELEFONE Salvador: 71 3033-8297 71 98822-1010 71 98122-5739 E-MAIL contato@contty.com.br Contty Contabilidade © 2021 – 2023 Todos os direitos reservados Política De Privacidade"],"scrapedAt":"2025-06-17T13:26:42.546Z","validatedPhones":["7130338297","71988221010","71981225739"],"validatedEmails":["contato@contty.com.br"]}},{"json":{"dominio_scraping":"https://kayrosprotege.com.br","url_inicial_plataforma_externa":"https://kayrosprotege.com.br","initialUrl":"https://kayrosprotege.com.br","processedUrl":"https://kayrosprotege.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Kayros Protege – Serviço de Segurança Eletrônica e Residencial e Empresarial","websiteDomain":"kayrosprotege.com.br","extractedEmails":[],"cleanedPhones":["6140425828","5561991442911"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=5561991442911&text=Ol%C3%A1%20quero%20saber%20sobre%20os%20servi%C3%A7os%20da%20Kayros%20Protege!","https://wa.me/556140425828?text=Ol%C3%A1%2C+gostaria+de+saber+a+respeito+dos+servi%C3%A7os+da+Kayros+Protege","https://www.instagram.com/kayrosprotege/"],"extractedAddresses":["Rua Quintino Bocaiuva, Quadra 24 , Lote 26, St. Tradicional, Brasília – DF, 73330-068"],"scrapedAt":"2025-06-17T13:26:47.257Z","validatedPhones":["6140425828","5561991442911"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://kcms.com.br","url_inicial_plataforma_externa":"https://kcms.com.br","initialUrl":"https://kcms.com.br","processedUrl":"https://kcms.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"KCMS | Sistema para Restaurantes, Lanchonetes e Food Services","websiteDomain":"kcms.com.br","extractedEmails":[],"cleanedPhones":["3221225472"],"extractedSocialLinks":["https://www.instagram.com/KCMSBrasil/","https://facebook.com/KCMSBrasil","https://linkedin.com/company/kcms"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:45.438Z","validatedPhones":["3221225472"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://mzgroup.com.br","url_inicial_plataforma_externa":"https://mzgroup.com.br","initialUrl":"https://mzgroup.com.br","processedUrl":"https://mzgroup.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"\n        MZ Group    ","websiteDomain":"mzgroup.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":["https://br.linkedin.com/company/mz-group","https://www.instagram.com/mzgroup_ir"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:48.332Z","validatedPhones":[],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://csbrasilservicos.com.br","url_inicial_plataforma_externa":"https://csbrasilservicos.com.br","initialUrl":"https://csbrasilservicos.com.br","processedUrl":"https://csbrasilservicos.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Home - CS Brasil Serviços","websiteDomain":"csbrasilservicos.com.br","extractedEmails":[],"cleanedPhones":["+551123777000"],"extractedSocialLinks":["https://br.linkedin.com/company/cs-brasil"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:50.969Z","validatedPhones":["+551123777000"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://moovin.com.br","url_inicial_plataforma_externa":"https://moovin.com.br","initialUrl":"https://moovin.com.br","processedUrl":"https://moovin.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Moovin Plataforma E-commerce – Sua loja Profissional é aquiMoovin Plataforma E-commerce – Sua loja Profissional é aqui","websiteDomain":"moovin.com.br","extractedEmails":[],"cleanedPhones":["3060156152","8003260960","1719251462","8833162743","9109417117","7246607840","6118774414","08003260960"],"extractedSocialLinks":["https://facebook.com/moovinplataforma","https://instagram.com/moovinplataforma","https://www.linkedin.com/company/moovin-plataforma-e-commerce"],"extractedAddresses":["Av.Benjamin 1111, sala 402, CEP 90550-004"],"scrapedAt":"2025-06-17T13:26:59.240Z","validatedPhones":["3060156152","8833162743","7246607840"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://bancobs2.com.br","url_inicial_plataforma_externa":"https://bancobs2.com.br","initialUrl":"https://bancobs2.com.br","processedUrl":"https://bancobs2.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Banco BS2 - É Banco, é Infratech, é para a sua empresa","websiteDomain":"bancobs2.com.br","extractedEmails":["empresas@bancobs2.com.br"],"cleanedPhones":["+551137777230","5530035202","080020545205200","080020970206993","080020545205252","080020726208889"],"extractedSocialLinks":["https://www.linkedin.com/company/bancobs2/?originalSubdomain=br","https://www.facebook.com/bancobs2/","https://www.instagram.com/bancobs2/?hl=pt-br","https://www.tiktok.com/@banco_bs2"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:56.735Z","validatedPhones":["+551137777230","5530035202"],"validatedEmails":["empresas@bancobs2.com.br"]}},{"json":{"dominio_scraping":"https://pollenup.com.br","url_inicial_plataforma_externa":"https://pollenup.com.br","initialUrl":"https://pollenup.com.br","processedUrl":"https://pollenup.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Desenvolvimento Web - Pollen Up","websiteDomain":"pollenup.com.br","extractedEmails":[],"cleanedPhones":["553121300117"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=553121300117&text=Ol%C3%A1!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es.","https://www.instagram.com/pollenupbr/","https://www.facebook.com/PollenUpBrasil"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:56.234Z","validatedPhones":["553121300117"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://conectanuvem.com.br","url_inicial_plataforma_externa":"https://conectanuvem.com.br","initialUrl":"https://conectanuvem.com.br","processedUrl":"https://conectanuvem.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Suporte Google Workspace - Conecta Nuvem","websiteDomain":"conectanuvem.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":["https://www.facebook.com/conectanuvem","https://www.instagram.com/conectanuvem"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:57.832Z","validatedPhones":[],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://rmp.com.br","url_inicial_plataforma_externa":"https://rmp.com.br","initialUrl":"https://rmp.com.br","processedUrl":"https://rmp.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"RMP - RMP Distribuidora","websiteDomain":"rmp.com.br","extractedEmails":[],"cleanedPhones":["3432396612","3432396666"],"extractedSocialLinks":["https://www.instagram.com/rmpdistribuidora/","https://www.facebook.com/rmpdistribuidora"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:58.540Z","validatedPhones":["3432396612","3432396666"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://castrum.com.br","url_inicial_plataforma_externa":"https://castrum.com.br","initialUrl":"https://castrum.com.br","processedUrl":"https://castrum.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Castrum Internet","websiteDomain":"castrum.com.br","extractedEmails":[],"cleanedPhones":["5521982258068"],"extractedSocialLinks":["https://instagram.com/castruminternet"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:27:03.674Z","validatedPhones":["5521982258068"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://betinifibra.com.br","url_inicial_plataforma_externa":"https://betinifibra.com.br","initialUrl":"https://betinifibra.com.br","processedUrl":"https://betinifibra.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Home - Betini Fibra","websiteDomain":"betinifibra.com.br","extractedEmails":[],"cleanedPhones":["28981112442","27998070780","9121552629","+5528981112442","+5527998070780"],"extractedSocialLinks":["https://www.instagram.com/betinifibra/","https://www.facebook.com/betinifibra"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:27:09.738Z","validatedPhones":["28981112442","27998070780","9121552629","+5528981112442","+5527998070780"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://brasesulseguros.com.br","url_inicial_plataforma_externa":"https://brasesulseguros.com.br","initialUrl":"https://brasesulseguros.com.br","processedUrl":"https://brasesulseguros.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Soluções Inovadoras em Seguros na Região Sul - Brasesul","websiteDomain":"brasesulseguros.com.br","extractedEmails":[],"cleanedPhones":["+555123500045","555123500045"],"extractedSocialLinks":["https://www.instagram.com/brasesulseguros/","https://wa.me/555123500045?text=Ol%C3%A1%2C%20tudo%20bem%3F%20Contato%20via%20site.","https://api.whatsapp.com/send/?phone=555123500045&text=Olá%2C+tudo+bem%3F+Contato+via+site.&type=phone_number&app_absent=0"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:27:10.632Z","validatedPhones":["+555123500045","555123500045"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://as3engenharia.com.br","url_inicial_plataforma_externa":"https://as3engenharia.com.br","initialUrl":"https://as3engenharia.com.br","processedUrl":"https://as3engenharia.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Manutenção Industrial E Eficiencia Energetica | AS3 Group","websiteDomain":"as3group.com","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":["https://www.instagram.com/as3group/","https://www.facebook.com/as3engenharia","https://www.linkedin.com/company/as3group/","https://wa.me/5521959100007?text=Ol%C3%A1,%20gostaria%20de%20falar%20com%20um%20especialista%20da%20AS3","https://wa.me/+5521959100007"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:27:05.135Z","validatedPhones":[],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://accountbasedmarketing.com.br","url_inicial_plataforma_externa":"https://accountbasedmarketing.com.br","initialUrl":"https://accountbasedmarketing.com.br","processedUrl":"https://accountbasedmarketing.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Account-Based Marketing","websiteDomain":"accountbasedmarketing.com.br","extractedEmails":[],"cleanedPhones":["1750166824","9541206225"],"extractedSocialLinks":["https://instagram.com/abm_br","https://www.linkedin.com/groups/9061478/"],"extractedAddresses":["Rua Augusta 3000 1º Andar Cerqueira César - São Paulo/SP CEP 01412100"],"scrapedAt":"2025-06-17T13:27:04.340Z","validatedPhones":["1750166824","9541206225"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://laguapa.com.br","url_inicial_plataforma_externa":"https://laguapa.com.br","initialUrl":"https://laguapa.com.br","processedUrl":"https://laguapa.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"La Guapa - Página Inicial","websiteDomain":"laguapa.com.br","extractedEmails":[],"cleanedPhones":["2131786787","2131701997","2134375317","1138725429","3136535899","4130441307","1132079452","6136862152","6130810344","1332732964","1239222030","1639114101","1145219949","1124434332","1532229612","1935000465","1143956001","1122524409","1148580226","1123241886","1129761484","1141301082","1932530908","1120965854","1120915528","1138492865","1138356008","1130613661","1150430143","1130792631","1138232973","1131989476","1132881378","1131594465","1151022225","99999999999","99999999999","5333783526","6630238822","9372541090","9378490623","4360008785","2884886334","556920837172","6346985432","8289825724","9230833669","7205950767","8864147404","9804258865","3066646153","5900358447","8244911658","2142820666","90931338835","1957027080","80982327056","1872936086","8969942533","45988269243","52941506504","51926168079","4700344178","8930211896","2566312332","5725990007","6964870000","5149099398","6171322644","4849944842","8545811580","6521721407","5380743754","5031813150","6373976822","6305964346","7359018883","8972855659","5284110001","5645893243","6588278472","5509311047","5651322576","5961878669","68936996262","5275321893","7310014429","5645735414","6806615294","5640721144","6658879779","5834012163","6761512589","5421852830","6574457411","5988833032","6975909000","556608528564","6577373883","5453604392","6452283938","6075491608","6933575883","3786533430","2131786787","2131701997","2134375317","1138725429","4130441307","1132079452","6136862152","6130810344","1332732964","1128986088","1239222030","1639114101","1145219949","1124434332","1532229612","1935000465","1143956001","1122524409","1148580226","1123241886","1129761484","1141301082","1932530908","1120965854","1120915528","1138492865","1138356008","1130613661","1150430143","1130792631","1138232973","1131989476","1132881378","1131594465","1151022225"],"extractedSocialLinks":["https://www.google.com/maps/place/R.+Cap.+Salom%C3%A3o,+11+-+Humait%C3%A1,+Rio+de+Janeiro+-+RJ,+22271-040/@-22.9561199,-43.1989204,17z/data=!3m1!4b1!4m6!3m5!1s0x997fdfa1d5aa49:0x86d08bd437a656a0!8m2!3d-22.9561199!4d-43.1963455!16s%2Fg%2F11c5csdvjd?entry=ttu","https://www.google.com/maps/place/R.+Miguel+Lemos,+67+-+Copacabana,+Rio+de+Janeiro+-+RJ,+22071-000/@-22.9777553,-43.1944394,17z/data=!3m1!4b1!4m6!3m5!1s0x9bd5407ee38117:0x983c6a7ec89a1f24!8m2!3d-22.9777603!4d-43.1918645!16s%2Fg%2F11csggxzyf?entry=ttu","https://www.google.com/maps/place/La+Guapa+Empanadas/@-23.5333928,-46.6655961,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce59af406543bb:0x3c63a7ec92aa8888!8m2!3d-23.5333928!4d-46.6630212!16s%2Fg%2F11kpp4_84b?entry=ttu","https://www.google.com/maps/place/La+Guapa+Empanadas/@-19.9372728,-43.9404232,17z/data=!3m1!4b1!4m6!3m5!1s0xa6995a20decd7f:0xe06ed19e34984f49!8m2!3d-19.9372728!4d-43.9378483!16s%2Fg%2F11t7nbnvm7?entry=ttu","https://www.google.com/maps/place/La+Guapa+Empanadas/@-25.4361292,-49.2885197,15z/data=!4m5!3m4!1s0x0:0xf8c7222c7bc13c1d!8m2!3d-25.4361292!4d-49.2885197","https://www.google.com/maps/place/La+Guapa+Empanadas/@-23.5572159,-46.6374451,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce59c65fceb33d:0xc19772fdb5edecd7!8m2!3d-23.5572159!4d-46.6348702!16s%2Fg%2F11t53pymml?entry=ttu","https://www.google.com/maps/place/La+Guapa+Empanadas/@-15.8310889,-47.9265358,17z/data=!3m2!4b1!5s0x935a2fff215ee81d:0xf958ed9976735a54!4m6!3m5!1s0x935a2fb5449744a1:0x5e4c4770d3792c67!8m2!3d-15.8310889!4d-47.9239609!16s%2Fg%2F11t46wh3l0?entry=ttu","https://www.google.com/search?q=La%20Guapa%20brasilia&oq=La+Guapa+brasilia&aqs=chrome..69i57j0i512l4j0i22i30j69i60l2.5790j0j7&sourceid=chrome&ie=UTF-8&tbs=lf:1,lf_ui:4&tbm=lcl&rflfq=1&num=10&rldimm=6794884487705078887&lqi=[REDACTED]&ved=[REDACTED]&sa=X&rlst=f#rlfi=hd:;si:12506244654765808239,l,[REDACTED];mv:[[-15.7093603,-47.8745172],[-15.919300699999999,-48.0966212]]","https://www.google.com/maps/place/Alameda+Armênio+Mendes,+143+-+Aparecida,+Santos+-+SP,+11035-260/@-23.9804314,-46.3067585,20z/data=!4m6!3m5!1s0x94ce0240d2bb1a99:0x5002ce5df9373450!8m2!3d-23.9804072!4d-46.3066217!16s%2Fg%2F11c1xy3gcb?entry=ttu","https://www.google.com/maps/place/Open+Mall+The+Square/@-23.5910228,-46.8265358,17.5z/data=!4m8!1m2!2m1!1sLA+GUAPA!3m4!1s0x94ce554ca7511483:0x4265f4a41c081383!8m2!3d-23.5900262!4d-46.8241462","https://www.google.com/maps/place/La+Guapa+Empanadas/@-21.1955757,-47.8098228,15z/data=!4m5!3m4!1s0x0:0x7e2f87a79d4ed83e!8m2!3d-21.1955757!4d-47.8098228","https://www.google.com/search?q=la%20guapa%20jundiai&oq=la+guapa+ju&aqs=chrome.1.69i57j0i512j0i22i30l3j69i61l2.6271j0j7&sourceid=chrome&ie=UTF-8&tbs=lf:1,lf_ui:4&tbm=lcl&rflfq=1&num=10&rldimm=10471777085298835468&lqi=[REDACTED]&ved=[REDACTED]&rlst=f#rlfi=hd:;si:10471777085298835468,l,[REDACTED];mv:[[-22.8487474,-46.4980201],[-23.6750771,-47.08417240000001]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!2m1!1e3!3sIAE,lf:1,lf_ui:4","https://www.google.com/maps/place/R.+Josephina+Mandotti,+307+-+Jardim+Maia,+Guarulhos+-+SP,+07115-080/data=!4m2!3m1!1s0x94cef54422f3e8ed:0x55d96e84e04004e5?sa=X&ved=[REDACTED]","https://www.google.com/maps/place/R.+Jo%C3%A3o+Wagner+Wey,+385+-+Jardim+America,+Sorocaba+-+SP,+18046-695/@-23.5192749,-47.4722258,17z/data=!3m1!4b1!4m5!3m4!1s0x94c58af2e1ca65f3:0x7c76ef422e9f805e!8m2!3d-23.5192749!4d-47.4700371","https://www.google.com/search?q=la%20guapa%20iguatemi%20campinas&oq=la+guapa+iguatemi+campinas&aqs=chrome..69i57j69i61.7176j0j7&sourceid=chrome&ie=UTF-8&tbs=lf:1,lf_ui:4&tbm=lcl&rflfq=1&num=10&rldimm=9002830635750484282&lqi=[REDACTED]&ved=[REDACTED]&rlst=f#rlfi=hd:;si:;mv:[[-22.892183,-47.0242778],[-22.8975646,-47.0543842]]","https://www.google.com/maps/place/Shopping+Eldorado/@-23.5725938,-46.6966192,18z/data=!4m5!3m4!1s0x0:0x15c6c7f0360ece1a!8m2!3d-23.5725766!4d-46.6960077","https://www.google.com/maps/place/Shopping+Center+Norte/@-23.5157941,-46.6218638,15.75z/data=!4m12!1m6!3m5!1s0x0:0x27553b50f02fec1f!2sShopping+Center+Norte!8m2!3d-23.5155661!4d-46.618134!3m4!1s0x0:0x27553b50f02fec1f!8m2!3d-23.5155661!4d-46.618134","https://www.google.com/maps/place/Av.+Copacabana,+325+-+Empresarial+18+do+Forte,+Barueri+-+SP,+13104-082/@-23.4850093,-46.8567709,17z/data=!3m1!4b1!4m5!3m4!1s0x94cf024f59c02013:0xcd820d117f7f7c13!8m2!3d-23.4850093!4d-46.8545822","https://www.google.com/maps/place/R.+das+Figueiras,+597+-+Jardim,+Santo+Andr%C3%A9+-+SP,+09080-370/@-23.6522734,-46.5385242,19.75z/data=!4m5!3m4!1s0x94ce42eb9d1e00a9:0x64e01d5d0cb5030b!8m2!3d-23.652169!4d-46.538077","https://www.google.com/maps/place/Av.+Braz+Leme,+2389+-+Santana,+S%C3%A3o+Paulo+-+SP,+02022-010/@-23.5030761,-46.6394438,17z/data=!3m1!4b1!4m5!3m4!1s0x94cef7d18eb08e9b:0xa21ac14347191f21!8m2!3d-23.503081!4d-46.6372551","https://www.google.com/maps/place/Shopping+Jardim+Sul/@-23.6307899,-46.7378853,17z/data=!3m2!4b1!5s0x94ce51457dbaa0ff:0xec0bf74062337ac0!4m5!3m4!1s0x94ce514586998601:0xff94158317332233!8m2!3d-23.6307948!4d-46.7356966","https://www.google.com/maps/place/La+Guapa/@-22.8972763,-47.0527714,15z/data=!4m5!3m4!1s0x0:0x51c8e0faf54fe3bb!8m2!3d-22.8972763!4d-47.0527714","https://www.google.com/maps/place/Alameda+Itu,+513+-+Cerqueira+C%C3%A9sar,+S%C3%A3o+Paulo+-+SP,+04191-080/@-23.5645898,-46.6588501,17z/data=!4m2!3m1!1s0x94ce59cfa4402da3:0x788518f1a94444a9","https://www.google.com/maps/place/R.+Itapura,+1392+-+Tatuap%C3%A9,+S%C3%A3o+Paulo+-+SP,+03310-000/@-23.5509646,-46.5674321,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce5e90307051df:0x166cb562413024c2!8m2!3d-23.5509646!4d-46.5652434","https://www.google.com/maps/place/Av.+Dr.+Cardoso+de+Melo,+1686+-+Itaim+Bibi,+S%C3%A3o+Paulo+-+SP,+04548-005/@-23.5961403,-46.6893361,17z/data=!4m2!3m1!1s0x94ce574805ef62fb:0x7c5b7116d576c212","https://www.google.com/maps/place/La+Guapa+-+Empanadas+Artesanais+e+Caf%C3%A9/@-23.5275035,-46.7331442,17z/data=!4m13!1m7!3m6!1s0x94cef8bef6199c3f:0xfa5f003961f5f7c4!2sR.+Carlos+Weber,+754+-+Vila+Leopoldina,+S%C3%A3o+Paulo+-+SP,+05303-000!3b1!8m2!3d-23.5275035!4d-46.7309555!3m4!1s0x94cef9930c80421b:0xb977e1b9620d006b!8m2!3d-23.5275035!4d-46.7309555","https://www.google.com/maps/place/La+Guapa+Empanadas/@-23.5641044,-46.6681035,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce59d445ac3a03:0x11be2b7d2042b68f!8m2!3d-23.5641093!4d-46.6659148","https://www.google.com/maps/place/Shopping+Cidade+Jardim+-+Av.+Magalh%C3%A3es+de+Castro,+12.000+-+Cidade+Jardim,+S%C3%A3o+Paulo+-+SP,+05502-001/@-23.5989077,-46.6976032,17z/data=!4m2!3m1!1s0x94ce5730648f80a7:0xf89e72eac29f3838","https://www.google.com/maps/place/La+Guapa+Empanadas/@-23.5565126,-46.6577598,20.29z/data=!4m6!3m5!1s0x94ce59d2b9bec031:0x52f91c918b79993c!8m2!3d-23.5566199!4d-46.6577394!16s%2Fg%2F11fkk_8h51?entry=ttu","https://www.google.com/maps/place/La+Guapa+-+Empanadas+Artesanais+e+Caf%C3%A9/@-23.6075553,-46.6933589,15z/data=!4m5!3m4!1s0x0:0xfa8044c0125ee919!8m2!3d-23.6075553!4d-46.6933589","https://www.instagram.com/laguapasp/","https://www.facebook.com/laguapaempanadas/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:27:08.137Z","validatedPhones":["2131786787","2131701997","2134375317","1138725429","3136535899","4130441307","1132079452","6136862152","6130810344","1332732964","1239222030","1639114101","1145219949","1124434332","1532229612","1935000465","1143956001","1122524409","1148580226","1123241886","1129761484","1141301082","1932530908","1120965854","1120915528","1138492865","1138356008","1130613661","1150430143","1130792631","1138232973","1131989476","1132881378","1131594465","1151022225","99999999999","99999999999","5333783526","6630238822","9372541090","9378490623","4360008785","2884886334","556920837172","6346985432","8289825724","9230833669","8864147404","3066646153","8244911658","2142820666","90931338835","1957027080","80982327056","1872936086","8969942533","45988269243","52941506504","51926168079","8930211896","2566312332","5725990007","6964870000","5149099398","6171322644","4849944842","8545811580","6521721407","5380743754","5031813150","6373976822","7359018883","8972855659","5284110001","5645893243","6588278472","5651322576","5961878669","68936996262","5275321893","5645735414","5640721144","6658879779","5834012163","6761512589","5421852830","6574457411","5988833032","6975909000","6577373883","5453604392","6452283938","6075491608","6933575883","3786533430","2131786787","2131701997","2134375317","1138725429","4130441307","1132079452","6136862152","6130810344","1332732964","1128986088","1239222030","1639114101","1145219949","1124434332","1532229612","1935000465","1143956001","1122524409","1148580226","1123241886","1129761484","1141301082","1932530908","1120965854","1120915528","1138492865","1138356008","1130613661","1150430143","1130792631","1138232973","1131989476","1132881378","1131594465","1151022225"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://quantumfundos.com.br","url_inicial_plataforma_externa":"https://quantumfundos.com.br","initialUrl":"https://quantumfundos.com.br","processedUrl":"https://quantumfundos.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Home - Quantum Finance","websiteDomain":"quantumfinance.com.br","extractedEmails":[],"cleanedPhones":["+552132350350","5220331186","+552132350350","+352278752139"],"extractedSocialLinks":["https://www.linkedin.com/company/quantum_2","https://www.instagram.com/quantumfinance/"],"extractedAddresses":["Endereços Rio de Janeiro Praia do Flamengo, 66 | Bloco B – 17º andar Flamengo – RJ +55 (21) 3235-0350Luxemburgo 18, Rue Robert Stumper L-2557, Luxembourg 352 20331186São Paulo Avenida Presidente Juscelino Kubitschek, 2041 – Torre B – 5º andar Vila Olímpia – SP +55 (21) 3235-0350Redes Sociais LinkedinInstagramYoutubeQuantum | Política de Privacidade CNPJ: 07.931.931/0001-52"],"scrapedAt":"2025-06-17T13:26:09.827Z","validatedPhones":["+552132350350","5220331186","+552132350350"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://globalwebmidia.com.br","url_inicial_plataforma_externa":"https://globalwebmidia.com.br","initialUrl":"https://globalwebmidia.com.br","processedUrl":"https://globalwebmidia.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":" ","websiteDomain":"globalwebmidia.com.br","extractedEmails":[],"cleanedPhones":["1742002880","1329465962","1672613935","1617797429","1055582645","1532786052","1066200067","1821324310","1910726941","1624193904","1255849765","1759809838"],"extractedSocialLinks":["https://wa.me/5545999812363?text=Ol%C3%A1,%20acessei%20o%20site%20Global%20Web%20M%C3%ADdia%20e%20quero%20confirmar%20a%20minha%20participa%C3%A7%C3%A3o%20e%20solicitar%20o%20formul%C3%A1rio%20de%20aplica%C3%A7%C3%A3o%20para%20o%20diagnostico%20e%20analise%20consultiva,%20obrigada!"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:15.953Z","validatedPhones":["1742002880","1329465962","1672613935","1055582645","1532786052","1066200067","1821324310","1624193904","1255849765","1759809838"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://happyd.com.br","url_inicial_plataforma_externa":"https://happyd.com.br","initialUrl":"https://happyd.com.br","processedUrl":"https://happyd.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Happy Gestão » Soluções em Cultura e Liderança!","websiteDomain":"happygestao.com.br","extractedEmails":["contato@happyd.com.br"],"cleanedPhones":["6155717023"],"extractedSocialLinks":["https://wa.me/558591484818"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:14.237Z","validatedPhones":["6155717023"],"validatedEmails":["contato@happyd.com.br"]}},{"json":{"dominio_scraping":"https://dunet.com.br","url_inicial_plataforma_externa":"https://dunet.com.br","initialUrl":"https://dunet.com.br","processedUrl":"https://dunet.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Internet Banda Larga com Fibra Óptica | DUNET – Conectando seu Mundo – A DUNET oferece vários tipos de planos para você ter internet em casa com muita velocidade e desempenho.","websiteDomain":"dunet.com.br","extractedEmails":[],"cleanedPhones":["4835330290","48998055151","48999311013","48996013200","48988497275","48991406015","+554835330290","554835330290","+554835330290","4835330290","48998055151","48999311013","48996013200","48988497275","48991406015"],"extractedSocialLinks":["https://www.facebook.com/dunetsc","https://www.instagram.com/dunet_internet/","https://api.whatsapp.com/send?phone=554835330290","https://wa.me/554835330290"],"extractedAddresses":["avelocidade e de soluções para empresas em serviços de Data Center. Descubra nossos produtos e serviços. Nossos Contratos Cobertura - Araranguá – SC - Balneário Gaivota – SC - Ermo – SC - Jacinto Machado – SC - Mampituba – RS - Morrinho do Sul – RS - Passo de Torres – SC - Praia Grande – SC - Santa Rosa do Sul – SC - São João do Sul – SC - Sombrio – SC Atendimento Fixo – Principal: 48 3533-0290 Tim móvel: 48 99805-515"],"scrapedAt":"2025-06-17T13:26:17.732Z","validatedPhones":["4835330290","48998055151","48999311013","48996013200","48988497275","48991406015","+554835330290","554835330290","+554835330290","4835330290","48998055151","48999311013","48996013200","48988497275","48991406015"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://girotech.com.br","url_inicial_plataforma_externa":"https://girotech.com.br","initialUrl":"https://girotech.com.br","processedUrl":"https://girotech.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Giro.Tech | Bancarização e Securitização","websiteDomain":"giro.tech","extractedEmails":["contato@girotech.com.brr","contato@girotech.com.br"],"cleanedPhones":["4137986595"],"extractedSocialLinks":["https://www.instagram.com/giro.tech/","https://www.facebook.com/giro.central.eletronica","https://www.linkedin.com/company/giro-tech/mycompany/?viewAsMember=true","https://api.whatsapp.com/send/?phone=4137986595&type=phone_number&app_absent=0"],"extractedAddresses":["R. Comendador Araújo, 565 - sala 601 Centro, Curitiba - PR, 80420-000","Newsletter Fique por dentro das novidades Enviar Conte com a Giro.Tech para revolucionar o futuro da sua empresa. Entre em contato Soluções BancarizaçãoSecuritização Mapa do site Início Institucional Clientes Blog Contato Políticas Central de Atendimento Fale conosco contato@girotech.com.brR. Comendador Araújo, 565 - sala 601 Centro, Curitiba - PR, 80420-000 [REDACTED] ©2023 Giro Tecnologia. (“Giro.Tech”) e a logo Giro.Tech são marcar registradas. Giro SCD – 40.112.555/0001-40 | Sociedade de Crédito Direto, Instituição Financeira autorizada a funcionar pelo Banco Central do Brasil em conformidade com a Resolução 4.656/2018. GTS Securitizadora – 31.354.405/0001-51 | Securitizadora, autorizada a funcionar pela CVM. 🌀 fundada por nerds para resolver problemas complexos | de Curitiba ❄️ para o mundo 🌎"],"scrapedAt":"2025-06-17T13:26:11.097Z","validatedPhones":["4137986595"],"validatedEmails":["contato@girotech.com.brr","contato@girotech.com.br"]}},{"json":{"dominio_scraping":"https://i7news.com.br","url_inicial_plataforma_externa":"https://i7news.com.br","initialUrl":"https://i7news.com.br","processedUrl":"https://i7news.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"1News Brasil – O site de notícias que aborda tudo que acontece no Brasil e no mundo.","websiteDomain":"correiobraziliense.com.br","extractedEmails":["contato@i7.networktelefone"],"cleanedPhones":["1132800001"],"extractedSocialLinks":["https://www.instagram.com/1newsbrasil/","https://www.facebook.com/1newsbrasil"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:11.938Z","validatedPhones":["1132800001"],"validatedEmails":["contato@i7.networktelefone"]}},{"json":{"dominio_scraping":"https://nc.com.br","url_inicial_plataforma_externa":"https://nc.com.br","initialUrl":"https://nc.com.br","processedUrl":"https://nc.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Nova Caxias is under construction","websiteDomain":"nc.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":[],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:14.940Z","validatedPhones":[],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://brtloja.com.br","url_inicial_plataforma_externa":"https://brtloja.com.br","initialUrl":"https://brtloja.com.br","processedUrl":"https://brtloja.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Index of /","websiteDomain":"brtloja.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":[],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:12.163Z","validatedPhones":[],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://wmtrading.com.br","url_inicial_plataforma_externa":"https://wmtrading.com.br","initialUrl":"https://wmtrading.com.br","processedUrl":"https://wmtrading.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"WM Trading - We Make it better","websiteDomain":"wmtrading.com.br","extractedEmails":[],"cleanedPhones":["+552730229700","+552139525204","+551140639640","+554740549640","+559140422072","+558137710277","+558537714677","+558230219069","+558331420304","+557135126603","+559230422018","+554135145914","+556930260640","+559830422212","+552730229700"],"extractedSocialLinks":["https://facebook.com/WMTradingComercioInternacional/","https://instagram.com/wmtrading/","https://pt.linkedin.com/company/wmtrading","https://www.tiktok.com/@wmtradingbr"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:20.260Z","validatedPhones":["+552730229700","+552139525204","+551140639640","+554740549640","+559140422072","+558137710277","+558537714677","+558230219069","+558331420304","+557135126603","+559230422018","+554135145914","+556930260640","+559830422212","+552730229700"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://cascavelprime.com.br","url_inicial_plataforma_externa":"https://cascavelprime.com.br","initialUrl":"https://cascavelprime.com.br","processedUrl":"https://cascavelprime.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"CASCAVEL PRIME | (45) 3306-7330 - (45) 3197-9930","websiteDomain":"cascavelprime.com.br","extractedEmails":["cvelprime@gmail.com","truck@cascavelprime.com.br"],"cleanedPhones":["4533067330","4531979930","45998409281","45984097368","5545998409281","5545984097368"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=5545998409281&text=Contato%20via%20site%2C%20gostaria%20de%20saber%20sobre%20os%20servi%C3%A7os!","https://api.whatsapp.com/send?phone=5545984097368&text=Contato%20via%20site%2C%20gostaria%20de%20saber%20sobre%20os%20servi%C3%A7os!","https://www.facebook.com/[REDACTED]"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:19.954Z","validatedPhones":["4533067330","4531979930","45998409281","45984097368","5545998409281","5545984097368"],"validatedEmails":["cvelprime@gmail.com","truck@cascavelprime.com.br"]}},{"json":{"dominio_scraping":"https://usebiofios.com.br","url_inicial_plataforma_externa":"https://usebiofios.com.br","initialUrl":"https://usebiofios.com.br","processedUrl":"https://usebiofios.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Biofios - Loja de Cosméticos Profissionais Online","websiteDomain":"usebiofios.com.br","extractedEmails":[],"cleanedPhones":["2126742855","21972590970","2126742855","5521972590970"],"extractedSocialLinks":["https://wa.me/5521972590970?text=Oii,+poderia+me+ajudar?","https://wa.me/5521988452855?text=Quero+PRODUTOS+30%OFF","https://www.facebook.com/biofiosprofissionaloficial/","https://www.instagram.com/biofios/","https://api.whatsapp.com/send?phone=5521972590970&text=Oii,%20poderia%20me%20ajudar?"],"extractedAddresses":["Fique por dentro das nossas ofertas e novidades! Cadastrar Institucional Sobre a empresa Como comprar Política de Privacidade Política de Frete Revenda Biofios Prime Troca e devolução Catálogo Perguntas Fale Conosco Atendimento (21) 2674-2855 (21) 97259-0970 [email protected] Horário de atendimento: Segunda à sexta das 8h00 às 18h00 Formas de pagamento Selos de Segurança BIOFIOS PROFISSIONAL - CNPJ: 17.649.480/0001-19 - Todos os direitos reservados © 2023 Tecnologia TrayCommerce Load time: 1.288 secs - 17-06-2025 10:15:47 - node: commerce-web29-corp-tmk - store"],"scrapedAt":"2025-06-17T13:26:23.137Z","validatedPhones":["2126742855","21972590970","2126742855","5521972590970"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://locacaocentralpark.com.br","url_inicial_plataforma_externa":"https://locacaocentralpark.com.br","initialUrl":"https://locacaocentralpark.com.br","processedUrl":"https://locacaocentralpark.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Central Park Residence","websiteDomain":"locacaocentralpark.com.br","extractedEmails":[],"cleanedPhones":["5531984779100"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=5531984779100","https://www.instagram.com/concretoconstrutora/","https://www.facebook.com/concretoconstrutora.mg/?locale=pt_BR"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:46.246Z","validatedPhones":["5531984779100"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://lembredemimpku.com.br","url_inicial_plataforma_externa":"https://lembredemimpku.com.br","initialUrl":"https://lembredemimpku.com.br","processedUrl":"https://lembredemimpku.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"SIM","websiteDomain":"lembredemimpku.com.br","extractedEmails":["medinfola@bmrn.com"],"cleanedPhones":[],"extractedSocialLinks":["https://www.facebook.com/Lembre-De-MIM-PKU-104869824733543","https://www.instagram.com/lembredemimpku/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:30.736Z","validatedPhones":[],"validatedEmails":["medinfola@bmrn.com"]}},{"json":{"dominio_scraping":"https://4climb.com.br","url_inicial_plataforma_externa":"https://4climb.com.br","initialUrl":"https://4climb.com.br","processedUrl":"https://4climb.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"\n      Loja de artigos esportivos – 4climb\n    ","websiteDomain":"4climb.com.br","extractedEmails":["faleconosco@4climb.com.br"],"cleanedPhones":["3130235565","31995363720","1501181471","1587161412","1530150956","1535578125","553196867288","553197774551","553195363720"],"extractedSocialLinks":["https://www.facebook.com/4climb","https://www.instagram.com/4climb/","https://api.whatsapp.com/send?phone=553196867288&text=Quero%20comprar%20no%20atacado%204climb","https://api.whatsapp.com/send?phone=553197774551&text=Quero%20revender%204climb","https://api.whatsapp.com/send?phone=553196867288&text=sua%20mensagem","https://api.whatsapp.com/send?phone=553195363720&text=Ol%C3%A1%204climb!"],"extractedAddresses":["(031) 3023.5565 Magnésio, vestuários e acessórios esportivos para Escalada, CrossFit, Corrida, Ciclismo, Treinos & Fitness. View on map Siga Menu principal Magnésio Ancoragem Crash Pad Esportes Masculino Feminino Infantil OUTLET Blog Ajuda e Suporte Rastreio Central de Atendimento Dúvidas Frequentes Trocas e Devoluções Compra Segura Envio e Entrega 4climb Blog Seja um revendedor Compra no Atacado Trabalhe Conosco Sobre a 4climb CENTRAL DE ATENDIMENTO Telefone :(031) 3023.5565 Email :faleconosco@4climb.com.br 31 99536-3720 Atendimento Das 9:00hs as 18:00hs Segunda a Sexta Copyright © 2023 4climb Todos os direitos reservados. CNPJ: 13.475.147/0001-80"],"scrapedAt":"2025-06-17T13:26:36.163Z","validatedPhones":["3130235565","31995363720","1587161412","1530150956","1535578125"],"validatedEmails":["faleconosco@4climb.com.br"]}},{"json":{"dominio_scraping":"https://cloudmaxstore.com.br","url_inicial_plataforma_externa":"https://cloudmaxstore.com.br","initialUrl":"https://cloudmaxstore.com.br","processedUrl":"https://cloudmaxstore.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Desk2chat – MultiAtendimento","websiteDomain":"cloudmaxstore.com.br","extractedEmails":[],"cleanedPhones":["4454545544"],"extractedSocialLinks":["https://wa.me/5518888888","https://wa.me/551888888","https://wa.me/55888888888","https://wa.me/558888888888","https://wa.me/5588888888","https://wa.me/558888888","https://wa.me/55118888888","https://wa.me/551188888888","https://wa.me/551194888888","https://wa.me/55119438888","https://wa.me/5511888888","https://wa.me/55119435555555","https://wa.me/5511948888888"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:37.549Z","validatedPhones":["4454545544"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://networkaduaneira.com.br","url_inicial_plataforma_externa":"https://networkaduaneira.com.br","initialUrl":"https://networkaduaneira.com.br","processedUrl":"https://networkaduaneira.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Network Aduaneira – Desembaraço, Aduaneiro, Logística Internacional","websiteDomain":"networkaduaneira.com.br","extractedEmails":["contato@networkaduaneira.com.br"],"cleanedPhones":["1123890531","1123890532","11945281709"],"extractedSocialLinks":["https://www.facebook.com/Network-Aduaneira-549835381707065/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:46.751Z","validatedPhones":["1123890531","1123890532","11945281709"],"validatedEmails":["contato@networkaduaneira.com.br"]}},{"json":{"dominio_scraping":"https://vvssaneamento.com.br","url_inicial_plataforma_externa":"https://vvssaneamento.com.br","initialUrl":"https://vvssaneamento.com.br","processedUrl":"https://vvssaneamento.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"VVS Saneamento - Tratamento de Água e Efluentes","websiteDomain":"vvssaneamento.com.br","extractedEmails":[],"cleanedPhones":["4833802573","48991894711"],"extractedSocialLinks":["https://www.facebook.com/vvssaneamento","https://www.instagram.com/vvssaneamento/","https://www.linkedin.com/company/vvssaneamento"],"extractedAddresses":["SOLUÇÕES ETE - Estações de Tratamento de Efluentes ETA - Estação de Tratamento de Água Sistemas de Abrandamento de Águas Sistemas de Troca Iônica e Osmose Reversa Sistemas de Tratamento de Água de Poço INSTITUCIONAL Conheça a VVS Equipe Sustentabilidade Política de Privacidade Trabalhe Conosco Orçamentos CONTATO (48) 3380-2573 (48) 99189-4711 Envie uma mensagem Facebook Instagram Linkedin Youtube © VVS SaneamentoRua Coronel Bernardino Machado, 379, Centro, Palhoça/SCVERDE VALE SOLUCOES E TECNOLOGIAS SUSTENTAVEIS LTDA – CNPJ: 10.944.209/0001-67 Desenvolvido por Agência Auckland"],"scrapedAt":"2025-06-17T13:26:43.841Z","validatedPhones":["4833802573","48991894711"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://pilulaverde.com.br","url_inicial_plataforma_externa":"https://pilulaverde.com.br","initialUrl":"https://pilulaverde.com.br","processedUrl":"https://pilulaverde.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Home - Pílula Verde","websiteDomain":"pilulaverde.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":[],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:27:06.631Z","validatedPhones":[],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://niqturbo.com.br","url_inicial_plataforma_externa":"https://niqturbo.com.br","initialUrl":"https://niqturbo.com.br","processedUrl":"https://niqturbo.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"NIQ TURBO – Mais interatividade pra sua casa ou empresa!","websiteDomain":"niqturbo.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":[],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:47.034Z","validatedPhones":[],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://colegiomaster.com.br","url_inicial_plataforma_externa":"https://colegiomaster.com.br","initialUrl":"https://colegiomaster.com.br","processedUrl":"https://colegiomaster.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Home - Colégio Master","websiteDomain":"colegiomaster.com.br","extractedEmails":[],"cleanedPhones":["6539256000","556596862445"],"extractedSocialLinks":["https://web.facebook.com/colegiomastermt","https://www.instagram.com/colegiomastermt/","https://api.whatsapp.com/send?phone=556596862445"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:48.034Z","validatedPhones":["6539256000"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://caferosenthal.com.br","url_inicial_plataforma_externa":"https://caferosenthal.com.br","initialUrl":"https://caferosenthal.com.br","processedUrl":"https://caferosenthal.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"ROSENTHAL","websiteDomain":"caferosenthal.com.br","extractedEmails":["e-mailcaferosenthal@gmail.comredes"],"cleanedPhones":[],"extractedSocialLinks":["https://www.facebook.com/fazendarosenthal","https://www.instagram.com/caferosenthal/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:48.736Z","validatedPhones":[],"validatedEmails":["e-mailcaferosenthal@gmail.comredes"]}},{"json":{"dominio_scraping":"https://lifepet.com.br","url_inicial_plataforma_externa":"https://lifepet.com.br","initialUrl":"https://lifepet.com.br","processedUrl":"https://lifepet.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Lifepet – Lifepet Plano de Saúde","websiteDomain":"lifepet.com.br","extractedEmails":["ajuda@lifepet.com.br"],"cleanedPhones":["27992439816"],"extractedSocialLinks":["https://wa.me/5527992439816","https://www.instagram.com/lifepetsaude/","https://wa.me/+5527992439816"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:54.536Z","validatedPhones":["27992439816"],"validatedEmails":["ajuda@lifepet.com.br"]}},{"json":{"dominio_scraping":"https://liguelead.com.br","url_inicial_plataforma_externa":"https://liguelead.com.br","initialUrl":"https://liguelead.com.br","processedUrl":"https://liguelead.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"LigueLead – Remarketing de Voz e SMS","websiteDomain":"liguelead.com.br","extractedEmails":[],"cleanedPhones":["+5519998927583"],"extractedSocialLinks":["https://www.instagram.com/liguelead/","https://www.linkedin.com/company/ligue-lead/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:55.639Z","validatedPhones":["+5519998927583"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://monisat.com.br","url_inicial_plataforma_externa":"https://monisat.com.br","initialUrl":"https://monisat.com.br","processedUrl":"https://monisat.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Monisat – Gerenciamento de Risco e Logística","websiteDomain":"monisat.com.br","extractedEmails":["contato@monisat.com"],"cleanedPhones":["+554635208000","+554635208000"],"extractedSocialLinks":["https://wa.me/554635208000?text=Ol%C3%A1%2C+entrei+em+contato+atrav%C3%A9s+do+site","https://www.facebook.com/monisatgr","https://www.linkedin.com/company/monisat-gerenciamento-de-risco-e-log%C3%ADstica/","https://www.instagram.com/accounts/login/?next=/monisatgr/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:57.333Z","validatedPhones":["+554635208000","+554635208000"],"validatedEmails":["contato@monisat.com"]}},{"json":{"dominio_scraping":"https://techgirls.com.br","url_inicial_plataforma_externa":"https://techgirls.com.br","initialUrl":"https://techgirls.com.br","processedUrl":"https://techgirls.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Techgirls – Mulheres & Tecnologia – Ensino Gratuito","websiteDomain":"techgirls.com.br","extractedEmails":["aquitechgirlsbr@gmail.com"],"cleanedPhones":["5541987061379"],"extractedSocialLinks":["https://www.instagram.com/techgirlsbrasil/","https://www.facebook.com/TechGirlsBrasil/","https://www.linkedin.com/company/tech-girls-brasil/","https://api.whatsapp.com/send?phone=5541987061379&text=Ol%C3%A1%2C%20Tech%20Girls!"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:07.539Z","validatedPhones":["5541987061379"],"validatedEmails":["aquitechgirlsbr@gmail.com"]}},{"json":{"dominio_scraping":"https://escolhaveg.com.br","url_inicial_plataforma_externa":"https://escolhaveg.com.br","initialUrl":"https://escolhaveg.com.br","processedUrl":"https://escolhaveg.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"EscolhaVeg","websiteDomain":"escolhaveg.com.br","extractedEmails":[],"cleanedPhones":["1053352435"],"extractedSocialLinks":["https://www.linkedin.com/company/escolhaveg/","https://www.linkedin.com/posts/[REDACTED]/","https://www.linkedin.com/posts/escolhaveg_brasil-%C3%A9-o-pa%C3%ADs-com-mais-op%C3%A7%C3%[REDACTED]/","https://www.linkedin.com/posts/[REDACTED]/"],"extractedAddresses":["RUA CÔNEGO EUGÊNIO LEITE, 840 - CONJ. 1 SÃO PAULO (SP) Política de Privacidade [email protected]"],"scrapedAt":"2025-06-17T13:26:05.672Z","validatedPhones":["1053352435"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://linker.com.br","url_inicial_plataforma_externa":"https://linker.com.br","initialUrl":"https://linker.com.br","processedUrl":"https://linker.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"\n\t\t\tBanco Digital PJ | Linker\t\t","websiteDomain":"linker.com.br","extractedEmails":["relacionamento@dock.tech","omie@novapr.com.br","informederendimentos@dock.tech"],"cleanedPhones":["11975407092"],"extractedSocialLinks":[],"extractedAddresses":["avés de parcerias que viabilizam a experiência de conta digital para pessoas jurídicas por meio de contas de pagamento (com serviços idênticos às de tradicionais contas corrente, como transferências TED, DOC e PIX e boletos), além de cartões de débito, crédito e outros produtos ainda em desenvolvimento. Para o oferecimento desses serviços, o Linker atua em parceria com a Dock (CDT Soluções em Meios de Pagamento Ltda.) que, por sua vez, opera com parcerias com instituições financeiras e de pagamento autorizadas pelo Banco Central do Brasil. CNPJ 32.584.049/0001‑25 Linker Soluções de Pagamento Ltda. Av. Jurubatuba, 460 Vila Cordeiro, São Paulo - SP, 04583-100","Assessoria de Imprensa Nova PR (11) 97540-7092 omie@novapr.com.br"],"scrapedAt":"2025-06-17T13:26:05.383Z","validatedPhones":["11975407092"],"validatedEmails":["relacionamento@dock.tech","omie@novapr.com.br","informederendimentos@dock.tech"]}},{"json":{"dominio_scraping":"https://origoenergia.com.br","url_inicial_plataforma_externa":"https://origoenergia.com.br","initialUrl":"https://origoenergia.com.br","processedUrl":"https://origoenergia.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Home | Órigo Energia: Energia solar para sua Casa e Negócio!","websiteDomain":"origoenergia.com.br","extractedEmails":[],"cleanedPhones":["1729780189","+553140034498"],"extractedSocialLinks":["https://www.instagram.com/origoenergia/","https://www.facebook.com/origoenergia/","https://www.linkedin.com/company/%C3%B3rigo-energia/","https://wa.me/553140034498?text=Ol%C3%A1!%20Vim%20pelo%20site%20da%20%C3%93rigo%20Energia%20e%20tenho%20interesse%20em%20economizar%20na%20minha%20conta%20de%20luz!%20Poderia%20me%20ajudar?"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:04.673Z","validatedPhones":["1729780189","+553140034498"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://portalcefem.com.br","url_inicial_plataforma_externa":"https://portalcefem.com.br","initialUrl":"https://portalcefem.com.br","processedUrl":"https://portalcefem.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"CEFEM – Educação, Ética e Liderança","websiteDomain":"portalcefem.com.br","extractedEmails":["contato@portalcefem.com.br"],"cleanedPhones":["3532953218","5535988560269","3707513172","+5535988560269"],"extractedSocialLinks":["https://www.instagram.com/cefem_machado/","https://www.instagram.com/p/CrsyYzdNGAb/","https://www.instagram.com/p/CrjdaU5NV5m/","https://www.instagram.com/reel/Crgzdw-A4RY/","https://www.instagram.com/p/CreT7N5rZ2D/","https://www.facebook.com/portalcefem/?rf=542189105973931","https://www.instagram.com/cefem_machado/?hl=pt-br","https://api.whatsapp.com/send?phone=5535988560269"],"extractedAddresses":["Rua Santos Silva, 338 – A, Machado, MG","REDES SOCIAIS CONTATO (35) 3295-3218 (35) 9 8856-0269 contato@portalcefem.com.br ENDEREÇO Rua Santos Silva, 338 – A, Machado, MG CEFEM 2020 - Todos os direitos reservados Desenvolvido por: Imédia Comunicação"],"scrapedAt":"2025-06-17T13:26:06.576Z","validatedPhones":["3532953218","5535988560269","+5535988560269"],"validatedEmails":["contato@portalcefem.com.br"]}},{"json":{"dominio_scraping":"https://canopybyhiltonjardins.com.br","url_inicial_plataforma_externa":"https://canopybyhiltonjardins.com.br","initialUrl":"https://canopybyhiltonjardins.com.br","processedUrl":"https://canopybyhiltonjardins.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Canopy Jardins","websiteDomain":"canopybyhiltonjardins.com.br","extractedEmails":[],"cleanedPhones":["+551135099610"],"extractedSocialLinks":["https://wa.me/5511976655772?text=Tenho%20interesse%20no%20pacote%20de%20Dia%20dos%20Namorados.","https://www.instagram.com/canopysaopaulojardins/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:10.983Z","validatedPhones":["+551135099610"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://twdiesel.com.br","url_inicial_plataforma_externa":"https://twdiesel.com.br","initialUrl":"https://twdiesel.com.br","processedUrl":"https://twdiesel.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"TW Diesel: Especialista em Sistema de Injeção Diesel","websiteDomain":"twdiesel.com.br","extractedEmails":[],"cleanedPhones":["5519999148071"],"extractedSocialLinks":["https://api.whatsapp.com/send/?phone=5519999148071&text=Ol%C3%A1%2C+gostaria+de+mais+informa%C3%A7%C3%B5es+sobre+condi%C3%A7%C3%B5es+comerciais+para+clientes+B2B%2FAtacado.+%28Vim+pelo+site+da+TW+Diesel%29&type=phone_number&app_absent=0","https://www.linkedin.com/company/twdiesel","https://www.instagram.com/twdiesel","https://www.facebook.com/twdiesel"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:05.091Z","validatedPhones":["5519999148071"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://amazoniaenovaseconomias.com.br","url_inicial_plataforma_externa":"https://amazoniaenovaseconomias.com.br","initialUrl":"https://amazoniaenovaseconomias.com.br","processedUrl":"https://amazoniaenovaseconomias.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Amazônia e novas economias","websiteDomain":"amazoniaenovaseconomias.com.br","extractedEmails":["secretaria@ibram.org.br","eventos@luckviagens.com.br"],"cleanedPhones":["+553126268036","81996411964","8133666204"],"extractedSocialLinks":["https://www.instagram.com/amazoniaenovaseconomias/","https://www.linkedin.com/company/conf-intern-amaz%C3%B4nia-e-novas-economias/","https://www.instagram.com/kambo.art/","https://www.instagram.com/p/DDKURfvMzzP/","https://www.instagram.com/p/DDH73NhPlC0/","https://www.instagram.com/p/DDFJ8LoMwrS/","https://www.instagram.com/p/DDFD0MAvyec/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:05.057Z","validatedPhones":["+553126268036","81996411964","8133666204"],"validatedEmails":["secretaria@ibram.org.br","eventos@luckviagens.com.br"]}},{"json":{"dominio_scraping":"https://valorconstrutorainc.com.br","url_inicial_plataforma_externa":"https://valorconstrutorainc.com.br","initialUrl":"https://valorconstrutorainc.com.br","processedUrl":"https://valorconstrutorainc.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Home - Construtora Valor","websiteDomain":"valorconstrutorainc.com.br","extractedEmails":[],"cleanedPhones":["+5511997799909","+5511997799909"],"extractedSocialLinks":["https://wa.me/5511997799909?text=Gostaria%20de%20uma%20proposta%20para%20o%20meu%20projeto!%20","https://wa.me/5511997799909?text=Gostaria%20de%20um%20orçamento%20para%20o%20meu%20projeto!%20","https://www.facebook.com/valorconstrutorainc/","https://www.instagram.com/valorconstrutorainc/","https://wa.me/5511997799909?text=Olá%20Gostaria%20de%20marcar%20um%20atendimento%20para%20saber%20mais!%20"],"extractedAddresses":["Fone: +55 11 99779-9909 SeguirSeguirSeguirSeguir MARQUE UM ATENDIMENTO © Copyright | Todos os Direitos Reservados | Politica de Privacidade"],"scrapedAt":"2025-06-17T13:26:07.465Z","validatedPhones":["+5511997799909","+5511997799909"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://vipprotecao.com.br","url_inicial_plataforma_externa":"https://vipprotecao.com.br","initialUrl":"https://vipprotecao.com.br","processedUrl":"https://vipprotecao.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"VIP Inteligência e Proteção – Referência em prestação de serviços de qualidade","websiteDomain":"vipprotecao.com.br","extractedEmails":["mailcontato@vipprotecao.com.br"],"cleanedPhones":["1932312460"],"extractedSocialLinks":["https://www.facebook.com/vipprotecao","https://www.instagram.com/vip.protecao/"],"extractedAddresses":["Links Quem Somos Nossos Serviços Terceirização de Serviços Segurança Eletrônica Consultorias Parceiros Contato Contatos phone19 3231-2460 mailcontato@vipprotecao.com.br mapRua Luiz Gama, Nº 859, Castelo - Campinas/SP Redes Sociais Desenvolvido por Mast Soluções © 2025"],"scrapedAt":"2025-06-17T13:26:05.436Z","validatedPhones":["1932312460"],"validatedEmails":["mailcontato@vipprotecao.com.br"]}},{"json":{"dominio_scraping":"https://cloudcomputingbrasil.com.br","url_inicial_plataforma_externa":"https://cloudcomputingbrasil.com.br","initialUrl":"https://cloudcomputingbrasil.com.br","processedUrl":"https://cloudcomputingbrasil.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Cloud Computing Brasil - Cloud Computing Brasil","websiteDomain":"cloudcomputingbrasil.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":[],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:27:06.740Z","validatedPhones":[],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://under.com.br","url_inicial_plataforma_externa":"https://under.com.br","initialUrl":"https://under.com.br","processedUrl":"https://under.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Under | Bare Metal, Cloud e Colocation para impulsionar negócios","websiteDomain":"under.com.br","extractedEmails":["comercial@under.com.br"],"cleanedPhones":["1141182199","40031576","112041182199"],"extractedSocialLinks":["https://www.linkedin.com/company/underservers/","https://www.facebook.com/underservers/","https://www.instagram.com/under.cloud.services/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:05.705Z","validatedPhones":["1141182199"],"validatedEmails":["comercial@under.com.br"]}},{"json":{"dominio_scraping":"https://datamyne.com.br","url_inicial_plataforma_externa":"https://datamyne.com.br","initialUrl":"https://datamyne.com.br","processedUrl":"https://datamyne.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"O Valor da Informação | Descartes Datamyne","websiteDomain":"datamyne.com.br","extractedEmails":[],"cleanedPhones":["8332622315"],"extractedSocialLinks":["https://www.facebook.com/descartesbrasil","https://www.linkedin.com/company/descartes-brasil/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:08.276Z","validatedPhones":["8332622315"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://my360.com.br","url_inicial_plataforma_externa":"https://my360.com.br","initialUrl":"https://my360.com.br","processedUrl":"https://my360.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"My360 - Realidade Virtual","websiteDomain":"my360.com.br","extractedEmails":[],"cleanedPhones":["11972290360","1708192926","5511972290360","555198114643"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=5511972290360&text=Ol%C3%A1%2C%20My360%C2%BA","https://api.whatsapp.com/send?phone=5511972290360&text=Ol%C3%A1,%20estou%20no%20site%20da%20My360%20e%20gostaria%20de%20tirar%20d%C3%BAvidas.","https://api.whatsapp.com/send?phone=5511972290360&text=Ol%C3%A1,%20estou%20no%20site%20da%20My360%20e%20gostaria%20de%20tirar%20algumas%20d%C3%BAvidas.","https://www.instagram.com/my360.3dscan/","https://www.facebook.com/my360bh","https://api.whatsapp.com/send?phone=5511972290360&text=Ol%C3%A1,%20estou%20na%20regi%C3%A3o%20Centro-Oeste%20do%20Brasil%20e%20gostaria%20de%20falar%20sobre%20os%20servi%C3%A7os%20da%20My360.","https://api.whatsapp.com/send?phone=5511972290360&text=Ol%C3%A1,%20estou%20na%20regi%C3%A3o%20Nordeste%20do%20Brasil%20e%20gostaria%20de%20falar%20sobre%20os%20servi%C3%A7os%20da%20My360.","https://api.whatsapp.com/send?phone=5511972290360&text=Ol%C3%A1,%20estou%20na%20regi%C3%A3o%20Norte%20do%20Brasil%20e%20gostaria%20de%20falar%20sobre%20os%20servi%C3%A7os%20da%20My360.","https://api.whatsapp.com/send?phone=5511972290360&text=Ol%C3%A1,%20estou%20na%20regi%C3%A3o%20Sudeste%20do%20Brasil%20e%20gostaria%20de%20falar%20sobre%20os%20servi%C3%A7os%20da%20My360.","https://api.whatsapp.com/send?phone=555198114643&text=Ol%C3%A1,%20estou%20na%20regi%C3%A3o%20no%20Sul%20do%20Brasil%20e%20gostaria%20de%20falar%20sobre%20os%20servi%C3%A7os%20da%20My360."],"extractedAddresses":["27.448.423/0001-25 Segmentos Mercado Imobiliário Ambiente Corporativo Ambientes Culturais Área da saúde Concessionárias e Auto Shopping´s Estabelecimentos Comerciais / Eventos / Festas Instituições de Ensino Hotéis / Pousadas (11) 97229-0360TECNOLOGIAS Tour Virtual Acompanhamento de Obra Decorado Virtual Vídeos / Drones As Built Digital (BIM) Dúvidas Contato My 360 Portfólio"],"scrapedAt":"2025-06-17T13:26:08.565Z","validatedPhones":["11972290360","5511972290360"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://locatudolocadora.com.br","url_inicial_plataforma_externa":"https://locatudolocadora.com.br","initialUrl":"https://locatudolocadora.com.br","processedUrl":"https://locatudolocadora.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"LOCATUDO LOCADORA - CAÇAMBAS, MÁQUINAS E EQUIPAMENTOS","websiteDomain":"locatudolocadora.com.br","extractedEmails":["locatudo@locatudolocadora.com.br"],"cleanedPhones":["1145248010","11964149544","1145241417","5519964149544","5511964149544"],"extractedSocialLinks":["https://www.facebook.com/locatudolocadora","https://api.whatsapp.com/send?phone=5519964149544&text=Disk%20locatudo","https://api.whatsapp.com/send?phone=5511964149544&text=Disk%20locatudo"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:18.942Z","validatedPhones":["1145248010","11964149544","1145241417","5519964149544","5511964149544"],"validatedEmails":["locatudo@locatudolocadora.com.br"]}},{"json":{"dominio_scraping":"https://kinology.com.br","url_inicial_plataforma_externa":"https://kinology.com.br","initialUrl":"https://kinology.com.br","processedUrl":"https://kinology.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Kinology - A solução eficaz para examinar o movimento humanoClose","websiteDomain":"kinology.com.br","extractedEmails":[],"cleanedPhones":["1750163508","2609713056","6133479291"],"extractedSocialLinks":[],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:07.611Z","validatedPhones":["1750163508","6133479291"],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://kimax.com.br","url_inicial_plataforma_externa":"https://kimax.com.br","initialUrl":"https://kimax.com.br","processedUrl":"https://kimax.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Kimax – Seu Parceiro na Limpeza","websiteDomain":"kimax.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":["https://wa.me/55014997320919"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:17.134Z","validatedPhones":[],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://kellyjalecos.com.br","url_inicial_plataforma_externa":"https://kellyjalecos.com.br","initialUrl":"https://kellyjalecos.com.br","processedUrl":"https://kellyjalecos.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Kelly Jalecos","websiteDomain":"commercesuite.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":[],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:25.348Z","validatedPhones":[],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://kerryfoodservice.com.br","url_inicial_plataforma_externa":"https://kerryfoodservice.com.br","initialUrl":"https://kerryfoodservice.com.br","processedUrl":"https://kerryfoodservice.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Kerry FoodService | Taste Nutrition","websiteDomain":"kerryfoodservice.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":[],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:09.299Z","validatedPhones":[],"validatedEmails":[]}},{"json":{"dominio_scraping":"https://kavem.com.br","url_inicial_plataforma_externa":"https://kavem.com.br","initialUrl":"https://kavem.com.br","processedUrl":"https://kavem.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Autopeças Kavem – A qualidade que seu carro merece","websiteDomain":"kavem.com.br","extractedEmails":["contato@kavem.com.brendere"],"cleanedPhones":["1532191900","15991672099","5515991672099"],"extractedSocialLinks":["https://api.whatsapp.com/send/?phone=5515991672099&text=Ol%C3%A1%2C+gostaria+de+fazer+um+or%C3%A7amento.&type=phone_number&app_absent=0","https://www.instagram.com/kavemautopecas/","https://www.facebook.com/AUTOPECASKAVEM"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:10.902Z","validatedPhones":["1532191900","15991672099","5515991672099"],"validatedEmails":["contato@kavem.com.brendere"]}},{"json":{"dominio_scraping":"https://movti.com.br","url_inicial_plataforma_externa":"https://movti.com.br","initialUrl":"https://movti.com.br","processedUrl":"https://movti.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Soluções em Nuvem para sua empresa - MOVTI Cloud Solutions","websiteDomain":"movti.com.br","extractedEmails":["dpo@movti.com.br2"],"cleanedPhones":["4285714285","3333333333","4833434821"],"extractedSocialLinks":["https://www.facebook.com/movticloud/","https://www.linkedin.com/company/movti?trk=top_nav_home","https://www.instagram.com/movtioficial/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:09.487Z","validatedPhones":["4285714285","3333333333","4833434821"],"validatedEmails":["dpo@movti.com.br2"]}}],"Webhook":[{"json":{"headers":{"host":"n8n-n8n-start.5ikbes.easypanel.host","user-agent":"GuzzleHttp/7","content-length":"3836","accept":"application/json","content-type":"application/json","x-forwarded-for":"51.195.137.184","x-forwarded-host":"n8n-n8n-start.5ikbes.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"43ea4ea10550","x-real-ip":"51.195.137.184","accept-encoding":"gzip"},"params":{},"query":{},"body":{"id_campanha_externo":"9f2d34c5-7a43-4737-ab9d-8f93d1060c7f","nome_campanha":"TP 2k, .com.br, Is WP","timestamp_criacao_campanha":null,"urls_para_scraping":{"805":"https://jiggerstore.com.br","806":"https://zup.com.br","807":"https://petmendes.com.br","808":"https://ntwcontabilidade.com.br","809":"https://contele.com.br","810":"https://kolplast.com.br","811":"https://hostelsocial.com.br","812":"https://avanos.com.br","813":"https://taxstrategy.com.br","814":"https://cidadaniaja.com.br","815":"https://adrianavilarinho.com.br","816":"https://cavedepedra.com.br","817":"https://vipkids.com.br","818":"https://elshadayitsolutions.com.br","819":"https://thiagoakira.com.br","820":"https://themedicalgrowth.com.br","821":"https://contabillagoazul.com.br","822":"https://contty.com.br","823":"https://kayrosprotege.com.br","824":"https://kcms.com.br","825":"https://mzgroup.com.br","826":"https://csbrasilservicos.com.br","827":"https://discacademy.com.br","828":"https://moovin.com.br","829":"https://bancobs2.com.br","831":"https://pollenup.com.br","832":"https://wiipoflex.com.br","833":"https://californiabrasil.com.br","834":"https://conectanuvem.com.br","835":"https://rmp.com.br","836":"https://castrum.com.br","837":"https://helpinternet.com.br","838":"https://betinifibra.com.br","839":"https://unifsa.com.br","840":"https://brasesulseguros.com.br","841":"https://as3engenharia.com.br","842":"https://accountbasedmarketing.com.br","843":"https://laguapa.com.br","844":"https://quantumfundos.com.br","845":"https://sesamehr.com.br","846":"https://globalwebmidia.com.br","847":"https://parceriasdoamanha.com.br","848":"https://happyd.com.br","849":"https://dunet.com.br","850":"https://girotech.com.br","851":"https://lepinenxovais.com.br","852":"https://i7news.com.br","853":"https://nc.com.br","854":"https://atlantico.com.br","855":"https://experimento.com.br","856":"https://vacasnaodaoleite.com.br","857":"https://zbltelecom.com.br","858":"https://souprosperus.com.br","859":"https://mg4ferramentaria.com.br","860":"https://brtloja.com.br","861":"https://wmtrading.com.br","862":"https://cascavelprime.com.br","863":"https://usebiofios.com.br","864":"https://locacaocentralpark.com.br","865":"https://lembredemimpku.com.br","866":"https://4climb.com.br","867":"https://cloudmaxstore.com.br","868":"https://networkaduaneira.com.br","869":"https://vvssaneamento.com.br","870":"https://pilulaverde.com.br","871":"https://niqturbo.com.br","872":"https://colegiomaster.com.br","873":"https://caferosenthal.com.br","874":"https://lifepet.com.br","875":"https://liguelead.com.br","876":"https://monisat.com.br","877":"https://techgirls.com.br","878":"https://escolhaveg.com.br","879":"https://tutodigital.com.br","880":"https://tuttisaude.com.br","881":"https://linker.com.br","882":"https://fidens.com.br","883":"https://origoenergia.com.br","884":"https://portalcefem.com.br","885":"https://canopybyhiltonjardins.com.br","886":"https://agrotools.com.br","887":"https://twdiesel.com.br","888":"https://amazoniaenovaseconomias.com.br","889":"https://valorconstrutorainc.com.br","890":"https://vipprotecao.com.br","891":"https://cloudcomputingbrasil.com.br","892":"https://under.com.br","893":"https://datamyne.com.br","894":"https://my360.com.br","895":"https://contweb.com.br","896":"https://locatudolocadora.com.br","897":"https://kinology.com.br","898":"https://kimax.com.br","899":"https://interede.com.br","900":"https://dietaetreinoversusgordura.com.br","901":"https://kellyjalecos.com.br","902":"https://kerryfoodservice.com.br","903":"https://kavem.com.br","904":"https://movti.com.br","905":"https://interplayers.com.br"}},"webhookUrl":"https://n8n-n8n-start.5ikbes.easypanel.host/webhook/d0199e96-f050-4764-80e2-457c3cd5fba2","executionMode":"production"}}],"Merge":[{"json":{"dominio_scraping":"https://petmendes.com.br","url_inicial_plataforma_externa":"https://petmendes.com.br","initialUrl":"https://petmendes.com.br","processedUrl":"https://petmendes.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"PET MENDES","websiteDomain":"petmendes.com.br","extractedEmails":[],"cleanedPhones":["1532373357","15996018179","5416277172","5515996018179"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=5515996018179","https://facebook.com/petshopdesorocaba","https://instagram.com/petmendespetshop","https://www.facebook.com/petshopdesorocaba","https://api.whatsapp.com/send?l=pt&phone=5515998116087"],"extractedAddresses":["aves, roedores, peixes, artigos para casa e jardim. Onde você e seu pet podem fazer suas compras com mais segurança, economia e conforto.Atendimento(15) 3237-3357WhatsApp (15) 99601-817"],"scrapedAt":"2025-06-17T13:26:19.244Z"}},{"json":{"dominio_scraping":"https://ntwcontabilidade.com.br","url_inicial_plataforma_externa":"https://ntwcontabilidade.com.br","initialUrl":"https://ntwcontabilidade.com.br","processedUrl":"https://ntwcontabilidade.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"NTW Contabilidade","websiteDomain":"ntwcontabilidade.com.br","extractedEmails":["sejafranqueado@franquiasntw.com.br"],"cleanedPhones":["1989200920","1020112015","2016201720","1820192020","2021202220","2320242025","3135192013","+553130223816","553135192013"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=553135192013","https://www.facebook.com/ntwOficial","https://www.instagram.com/ntwcontabilidadeoficial/","https://www.linkedin.com/in/ntw-contabilidade-e-gest%C3%A3o-empresarial/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:13.334Z"}},{"json":{"dominio_scraping":"https://kolplast.com.br","url_inicial_plataforma_externa":"https://kolplast.com.br","initialUrl":"https://kolplast.com.br","processedUrl":"https://kolplast.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Home - Kolplast","websiteDomain":"kolplast.com.br","extractedEmails":["sac@kolplast.com.br","vendas@kolplast.com.br"],"cleanedPhones":["+551149610900","+5520112049610900","551149610900"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=551149610900","https://www.facebook.com/grupokolplast/","https://www.linkedin.com/company/grupokolplast/mycompany/?viewAsMember=true","https://www.instagram.com/grupokolplast/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:22.042Z"}},{"json":{"dominio_scraping":"https://taxstrategy.com.br","url_inicial_plataforma_externa":"https://taxstrategy.com.br","initialUrl":"https://taxstrategy.com.br","processedUrl":"https://taxstrategy.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Tax Strategy","websiteDomain":"taxstrategy.com.br","extractedEmails":["suporte@taxstrategy.com.br"],"cleanedPhones":[],"extractedSocialLinks":["https://www.instagram.com/taxstrategybr/","https://www.linkedin.com/company/76973976/admin/feed/posts/","https://wa.me/5511917800361","https://www.facebook.com/taxstrategybr"],"extractedAddresses":["R. Alvorada, 1289 - Sala 201 Vila Olímpia, São Paulo - SP CEP 04550-004","Estamos em São Paulo R. Alvorada, 1289 - Sala 201 Vila Olímpia, São Paulo - SP CEP 04550-004 Política de Privacidade Menu Home Quem somos O que fazemos Blog Mídia Contato Fale conosco suporte@taxstrategy.com.br bravo"],"scrapedAt":"2025-06-17T13:26:28.136Z"}},{"json":{"dominio_scraping":"https://vipkids.com.br","url_inicial_plataforma_externa":"https://vipkids.com.br","initialUrl":"https://vipkids.com.br","processedUrl":"https://vipkids.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Vip Kids\n            ","websiteDomain":"vipkids.com.br","extractedEmails":["atendimento@vipkids.com.br","atendimento@nopaisdasmaravilhas.com.br","convite@vipkids.com.br","fit@everlane.com"],"cleanedPhones":["11985362612","5511985362612"],"extractedSocialLinks":["https://www.facebook.com/vipkids.com.br","https://www.instagram.com/vipkids.oficial/","https://api.whatsapp.com/send/?phone=5511985362612","https://www.instagram.com/buffet.vipkids/"],"extractedAddresses":["atendimento@vipkids.com.br (11) 98536-2612 Conheça também Conheça também © 2023 Vip Kids. Todos os direitos reservados."],"scrapedAt":"2025-06-17T13:26:33.037Z"}},{"json":{"dominio_scraping":"https://elshadayitsolutions.com.br","url_inicial_plataforma_externa":"https://elshadayitsolutions.com.br","initialUrl":"https://elshadayitsolutions.com.br","processedUrl":"https://elshadayitsolutions.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Desenvolvimento de Software e Aplicativos Sob Medida | Empresa especializada no desenvolvimento de softwares, sistemas Web e Mobile sob medida, integração de sistemas, localizada em São Paulo","websiteDomain":"elshadayitsolutions.com.br","extractedEmails":["contato@elshadayitsolutions.com.brendere"],"cleanedPhones":[],"extractedSocialLinks":["https://www.linkedin.com/company/[REDACTED]/","https://www.instagram.com/elshadayit"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:38.764Z"}},{"json":{"dominio_scraping":"https://thiagoakira.com.br","url_inicial_plataforma_externa":"https://thiagoakira.com.br","initialUrl":"https://thiagoakira.com.br","processedUrl":"https://thiagoakira.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"failed_loading","pageTitle":"N/A","failedAt":"2025-06-17T13:27:11.963Z","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":[],"extractedAddresses":[]}},{"json":{"dominio_scraping":"https://themedicalgrowth.com.br","url_inicial_plataforma_externa":"https://themedicalgrowth.com.br","initialUrl":"https://themedicalgrowth.com.br","processedUrl":"https://themedicalgrowth.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"The Medical Growth | Crescimento Pessoal na Carreira Médica","websiteDomain":"themedicalgrowth.com.br","extractedEmails":[],"cleanedPhones":["7227263598","5541987806963"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=5541987806963&text=Ol%C3%A1!%20Gostaria%20de%20cadastrar%20meu%20hospital%20ou%20cl%C3%ADnica%20no%20evento%20The%20Medical%20Growth.","https://www.linkedin.com/showcase/the-medical-growth/about/","https://www.instagram.com/themedicalgrowth/","https://www.facebook.com/themedicalgrowth"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:29.238Z"}},{"json":{"dominio_scraping":"https://contabillagoazul.com.br","url_inicial_plataforma_externa":"https://contabillagoazul.com.br","initialUrl":"https://contabillagoazul.com.br","processedUrl":"https://contabillagoazul.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Contabil Lago Azul - Contabilidade","websiteDomain":"contabillagoazul.com.br","extractedEmails":[],"cleanedPhones":["1130640570","11950553240","3035288312","1130640570"],"extractedSocialLinks":["https://www.facebook.com/ContabilLagoAzul","https://www.linkedin.com/in/[REDACTED]/","https://www.instagram.com/contabillago/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:30.236Z"}},{"json":{"dominio_scraping":"https://contty.com.br","url_inicial_plataforma_externa":"https://contty.com.br","initialUrl":"https://contty.com.br","processedUrl":"https://contty.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Assessoria contábil, tributária e financeiraWhatsApp","websiteDomain":"contty.com.br","extractedEmails":["contato@contty.com.br"],"cleanedPhones":["7130338297","71988221010","71981225739"],"extractedSocialLinks":["https://www.facebook.com/conttycontabilidade/","https://www.instagram.com/conttycomagente/","https://www.linkedin.com/company/contty-contabilidade","http://wa.me/5571999129053"],"extractedAddresses":["ENDEREÇO Salvador: R. Dr. José Peroba, 149 – 6 Andar Stiep, Salvador – BA TELEFONE Salvador: 71 3033-8297 71 98822-1010 71 98122-5739 E-MAIL contato@contty.com.br Contty Contabilidade © 2021 – 2023 Todos os direitos reservados Política De Privacidade"],"scrapedAt":"2025-06-17T13:26:42.546Z"}},{"json":{"dominio_scraping":"https://kayrosprotege.com.br","url_inicial_plataforma_externa":"https://kayrosprotege.com.br","initialUrl":"https://kayrosprotege.com.br","processedUrl":"https://kayrosprotege.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Kayros Protege – Serviço de Segurança Eletrônica e Residencial e Empresarial","websiteDomain":"kayrosprotege.com.br","extractedEmails":[],"cleanedPhones":["6140425828","5561991442911"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=5561991442911&text=Ol%C3%A1%20quero%20saber%20sobre%20os%20servi%C3%A7os%20da%20Kayros%20Protege!","https://wa.me/556140425828?text=Ol%C3%A1%2C+gostaria+de+saber+a+respeito+dos+servi%C3%A7os+da+Kayros+Protege","https://www.instagram.com/kayrosprotege/"],"extractedAddresses":["Rua Quintino Bocaiuva, Quadra 24 , Lote 26, St. Tradicional, Brasília – DF, 73330-068"],"scrapedAt":"2025-06-17T13:26:47.257Z"}},{"json":{"dominio_scraping":"https://kcms.com.br","url_inicial_plataforma_externa":"https://kcms.com.br","initialUrl":"https://kcms.com.br","processedUrl":"https://kcms.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"KCMS | Sistema para Restaurantes, Lanchonetes e Food Services","websiteDomain":"kcms.com.br","extractedEmails":[],"cleanedPhones":["3221225472"],"extractedSocialLinks":["https://www.instagram.com/KCMSBrasil/","https://facebook.com/KCMSBrasil","https://linkedin.com/company/kcms"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:45.438Z"}},{"json":{"dominio_scraping":"https://mzgroup.com.br","url_inicial_plataforma_externa":"https://mzgroup.com.br","initialUrl":"https://mzgroup.com.br","processedUrl":"https://mzgroup.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"\n        MZ Group    ","websiteDomain":"mzgroup.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":["https://br.linkedin.com/company/mz-group","https://www.instagram.com/mzgroup_ir"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:48.332Z"}},{"json":{"dominio_scraping":"https://csbrasilservicos.com.br","url_inicial_plataforma_externa":"https://csbrasilservicos.com.br","initialUrl":"https://csbrasilservicos.com.br","processedUrl":"https://csbrasilservicos.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Home - CS Brasil Serviços","websiteDomain":"csbrasilservicos.com.br","extractedEmails":[],"cleanedPhones":["+551123777000"],"extractedSocialLinks":["https://br.linkedin.com/company/cs-brasil"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:50.969Z"}},{"json":{"dominio_scraping":"https://moovin.com.br","url_inicial_plataforma_externa":"https://moovin.com.br","initialUrl":"https://moovin.com.br","processedUrl":"https://moovin.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Moovin Plataforma E-commerce – Sua loja Profissional é aquiMoovin Plataforma E-commerce – Sua loja Profissional é aqui","websiteDomain":"moovin.com.br","extractedEmails":[],"cleanedPhones":["3060156152","8003260960","1719251462","8833162743","9109417117","7246607840","6118774414","08003260960"],"extractedSocialLinks":["https://facebook.com/moovinplataforma","https://instagram.com/moovinplataforma","https://www.linkedin.com/company/moovin-plataforma-e-commerce"],"extractedAddresses":["Av.Benjamin 1111, sala 402, CEP 90550-004"],"scrapedAt":"2025-06-17T13:26:59.240Z"}},{"json":{"dominio_scraping":"https://bancobs2.com.br","url_inicial_plataforma_externa":"https://bancobs2.com.br","initialUrl":"https://bancobs2.com.br","processedUrl":"https://bancobs2.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Banco BS2 - É Banco, é Infratech, é para a sua empresa","websiteDomain":"bancobs2.com.br","extractedEmails":["empresas@bancobs2.com.br"],"cleanedPhones":["+551137777230","5530035202","080020545205200","080020970206993","080020545205252","080020726208889"],"extractedSocialLinks":["https://www.linkedin.com/company/bancobs2/?originalSubdomain=br","https://www.facebook.com/bancobs2/","https://www.instagram.com/bancobs2/?hl=pt-br","https://www.tiktok.com/@banco_bs2"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:56.735Z"}},{"json":{"dominio_scraping":"https://pollenup.com.br","url_inicial_plataforma_externa":"https://pollenup.com.br","initialUrl":"https://pollenup.com.br","processedUrl":"https://pollenup.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Desenvolvimento Web - Pollen Up","websiteDomain":"pollenup.com.br","extractedEmails":[],"cleanedPhones":["553121300117"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=553121300117&text=Ol%C3%A1!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es.","https://www.instagram.com/pollenupbr/","https://www.facebook.com/PollenUpBrasil"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:56.234Z"}},{"json":{"dominio_scraping":"https://conectanuvem.com.br","url_inicial_plataforma_externa":"https://conectanuvem.com.br","initialUrl":"https://conectanuvem.com.br","processedUrl":"https://conectanuvem.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Suporte Google Workspace - Conecta Nuvem","websiteDomain":"conectanuvem.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":["https://www.facebook.com/conectanuvem","https://www.instagram.com/conectanuvem"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:57.832Z"}},{"json":{"dominio_scraping":"https://rmp.com.br","url_inicial_plataforma_externa":"https://rmp.com.br","initialUrl":"https://rmp.com.br","processedUrl":"https://rmp.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"RMP - RMP Distribuidora","websiteDomain":"rmp.com.br","extractedEmails":[],"cleanedPhones":["3432396612","3432396666"],"extractedSocialLinks":["https://www.instagram.com/rmpdistribuidora/","https://www.facebook.com/rmpdistribuidora"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:58.540Z"}},{"json":{"dominio_scraping":"https://castrum.com.br","url_inicial_plataforma_externa":"https://castrum.com.br","initialUrl":"https://castrum.com.br","processedUrl":"https://castrum.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Castrum Internet","websiteDomain":"castrum.com.br","extractedEmails":[],"cleanedPhones":["5521982258068"],"extractedSocialLinks":["https://instagram.com/castruminternet"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:27:03.674Z"}},{"json":{"dominio_scraping":"https://betinifibra.com.br","url_inicial_plataforma_externa":"https://betinifibra.com.br","initialUrl":"https://betinifibra.com.br","processedUrl":"https://betinifibra.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Home - Betini Fibra","websiteDomain":"betinifibra.com.br","extractedEmails":[],"cleanedPhones":["28981112442","27998070780","9121552629","+5528981112442","+5527998070780"],"extractedSocialLinks":["https://www.instagram.com/betinifibra/","https://www.facebook.com/betinifibra"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:27:09.738Z"}},{"json":{"dominio_scraping":"https://brasesulseguros.com.br","url_inicial_plataforma_externa":"https://brasesulseguros.com.br","initialUrl":"https://brasesulseguros.com.br","processedUrl":"https://brasesulseguros.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Soluções Inovadoras em Seguros na Região Sul - Brasesul","websiteDomain":"brasesulseguros.com.br","extractedEmails":[],"cleanedPhones":["+555123500045","555123500045"],"extractedSocialLinks":["https://www.instagram.com/brasesulseguros/","https://wa.me/555123500045?text=Ol%C3%A1%2C%20tudo%20bem%3F%20Contato%20via%20site.","https://api.whatsapp.com/send/?phone=555123500045&text=Olá%2C+tudo+bem%3F+Contato+via+site.&type=phone_number&app_absent=0"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:27:10.632Z"}},{"json":{"dominio_scraping":"https://as3engenharia.com.br","url_inicial_plataforma_externa":"https://as3engenharia.com.br","initialUrl":"https://as3engenharia.com.br","processedUrl":"https://as3engenharia.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Manutenção Industrial E Eficiencia Energetica | AS3 Group","websiteDomain":"as3group.com","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":["https://www.instagram.com/as3group/","https://www.facebook.com/as3engenharia","https://www.linkedin.com/company/as3group/","https://wa.me/5521959100007?text=Ol%C3%A1,%20gostaria%20de%20falar%20com%20um%20especialista%20da%20AS3","https://wa.me/+5521959100007"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:27:05.135Z"}},{"json":{"dominio_scraping":"https://accountbasedmarketing.com.br","url_inicial_plataforma_externa":"https://accountbasedmarketing.com.br","initialUrl":"https://accountbasedmarketing.com.br","processedUrl":"https://accountbasedmarketing.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Account-Based Marketing","websiteDomain":"accountbasedmarketing.com.br","extractedEmails":[],"cleanedPhones":["1750166824","9541206225"],"extractedSocialLinks":["https://instagram.com/abm_br","https://www.linkedin.com/groups/9061478/"],"extractedAddresses":["Rua Augusta 3000 1º Andar Cerqueira César - São Paulo/SP CEP 01412100"],"scrapedAt":"2025-06-17T13:27:04.340Z"}},{"json":{"dominio_scraping":"https://laguapa.com.br","url_inicial_plataforma_externa":"https://laguapa.com.br","initialUrl":"https://laguapa.com.br","processedUrl":"https://laguapa.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"La Guapa - Página Inicial","websiteDomain":"laguapa.com.br","extractedEmails":[],"cleanedPhones":["2131786787","2131701997","2134375317","1138725429","3136535899","4130441307","1132079452","6136862152","6130810344","1332732964","1239222030","1639114101","1145219949","1124434332","1532229612","1935000465","1143956001","1122524409","1148580226","1123241886","1129761484","1141301082","1932530908","1120965854","1120915528","1138492865","1138356008","1130613661","1150430143","1130792631","1138232973","1131989476","1132881378","1131594465","1151022225","99999999999","99999999999","5333783526","6630238822","9372541090","9378490623","4360008785","2884886334","556920837172","6346985432","8289825724","9230833669","7205950767","8864147404","9804258865","3066646153","5900358447","8244911658","2142820666","90931338835","1957027080","80982327056","1872936086","8969942533","45988269243","52941506504","51926168079","4700344178","8930211896","2566312332","5725990007","6964870000","5149099398","6171322644","4849944842","8545811580","6521721407","5380743754","5031813150","6373976822","6305964346","7359018883","8972855659","5284110001","5645893243","6588278472","5509311047","5651322576","5961878669","68936996262","5275321893","7310014429","5645735414","6806615294","5640721144","6658879779","5834012163","6761512589","5421852830","6574457411","5988833032","6975909000","556608528564","6577373883","5453604392","6452283938","6075491608","6933575883","3786533430","2131786787","2131701997","2134375317","1138725429","4130441307","1132079452","6136862152","6130810344","1332732964","1128986088","1239222030","1639114101","1145219949","1124434332","1532229612","1935000465","1143956001","1122524409","1148580226","1123241886","1129761484","1141301082","1932530908","1120965854","1120915528","1138492865","1138356008","1130613661","1150430143","1130792631","1138232973","1131989476","1132881378","1131594465","1151022225"],"extractedSocialLinks":["https://www.google.com/maps/place/R.+Cap.+Salom%C3%A3o,+11+-+Humait%C3%A1,+Rio+de+Janeiro+-+RJ,+22271-040/@-22.9561199,-43.1989204,17z/data=!3m1!4b1!4m6!3m5!1s0x997fdfa1d5aa49:0x86d08bd437a656a0!8m2!3d-22.9561199!4d-43.1963455!16s%2Fg%2F11c5csdvjd?entry=ttu","https://www.google.com/maps/place/R.+Miguel+Lemos,+67+-+Copacabana,+Rio+de+Janeiro+-+RJ,+22071-000/@-22.9777553,-43.1944394,17z/data=!3m1!4b1!4m6!3m5!1s0x9bd5407ee38117:0x983c6a7ec89a1f24!8m2!3d-22.9777603!4d-43.1918645!16s%2Fg%2F11csggxzyf?entry=ttu","https://www.google.com/maps/place/La+Guapa+Empanadas/@-23.5333928,-46.6655961,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce59af406543bb:0x3c63a7ec92aa8888!8m2!3d-23.5333928!4d-46.6630212!16s%2Fg%2F11kpp4_84b?entry=ttu","https://www.google.com/maps/place/La+Guapa+Empanadas/@-19.9372728,-43.9404232,17z/data=!3m1!4b1!4m6!3m5!1s0xa6995a20decd7f:0xe06ed19e34984f49!8m2!3d-19.9372728!4d-43.9378483!16s%2Fg%2F11t7nbnvm7?entry=ttu","https://www.google.com/maps/place/La+Guapa+Empanadas/@-25.4361292,-49.2885197,15z/data=!4m5!3m4!1s0x0:0xf8c7222c7bc13c1d!8m2!3d-25.4361292!4d-49.2885197","https://www.google.com/maps/place/La+Guapa+Empanadas/@-23.5572159,-46.6374451,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce59c65fceb33d:0xc19772fdb5edecd7!8m2!3d-23.5572159!4d-46.6348702!16s%2Fg%2F11t53pymml?entry=ttu","https://www.google.com/maps/place/La+Guapa+Empanadas/@-15.8310889,-47.9265358,17z/data=!3m2!4b1!5s0x935a2fff215ee81d:0xf958ed9976735a54!4m6!3m5!1s0x935a2fb5449744a1:0x5e4c4770d3792c67!8m2!3d-15.8310889!4d-47.9239609!16s%2Fg%2F11t46wh3l0?entry=ttu","https://www.google.com/search?q=La%20Guapa%20brasilia&oq=La+Guapa+brasilia&aqs=chrome..69i57j0i512l4j0i22i30j69i60l2.5790j0j7&sourceid=chrome&ie=UTF-8&tbs=lf:1,lf_ui:4&tbm=lcl&rflfq=1&num=10&rldimm=6794884487705078887&lqi=[REDACTED]&ved=[REDACTED]&sa=X&rlst=f#rlfi=hd:;si:12506244654765808239,l,[REDACTED];mv:[[-15.7093603,-47.8745172],[-15.919300699999999,-48.0966212]]","https://www.google.com/maps/place/Alameda+Armênio+Mendes,+143+-+Aparecida,+Santos+-+SP,+11035-260/@-23.9804314,-46.3067585,20z/data=!4m6!3m5!1s0x94ce0240d2bb1a99:0x5002ce5df9373450!8m2!3d-23.9804072!4d-46.3066217!16s%2Fg%2F11c1xy3gcb?entry=ttu","https://www.google.com/maps/place/Open+Mall+The+Square/@-23.5910228,-46.8265358,17.5z/data=!4m8!1m2!2m1!1sLA+GUAPA!3m4!1s0x94ce554ca7511483:0x4265f4a41c081383!8m2!3d-23.5900262!4d-46.8241462","https://www.google.com/maps/place/La+Guapa+Empanadas/@-21.1955757,-47.8098228,15z/data=!4m5!3m4!1s0x0:0x7e2f87a79d4ed83e!8m2!3d-21.1955757!4d-47.8098228","https://www.google.com/search?q=la%20guapa%20jundiai&oq=la+guapa+ju&aqs=chrome.1.69i57j0i512j0i22i30l3j69i61l2.6271j0j7&sourceid=chrome&ie=UTF-8&tbs=lf:1,lf_ui:4&tbm=lcl&rflfq=1&num=10&rldimm=10471777085298835468&lqi=[REDACTED]&ved=[REDACTED]&rlst=f#rlfi=hd:;si:10471777085298835468,l,[REDACTED];mv:[[-22.8487474,-46.4980201],[-23.6750771,-47.08417240000001]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!2m1!1e3!3sIAE,lf:1,lf_ui:4","https://www.google.com/maps/place/R.+Josephina+Mandotti,+307+-+Jardim+Maia,+Guarulhos+-+SP,+07115-080/data=!4m2!3m1!1s0x94cef54422f3e8ed:0x55d96e84e04004e5?sa=X&ved=[REDACTED]","https://www.google.com/maps/place/R.+Jo%C3%A3o+Wagner+Wey,+385+-+Jardim+America,+Sorocaba+-+SP,+18046-695/@-23.5192749,-47.4722258,17z/data=!3m1!4b1!4m5!3m4!1s0x94c58af2e1ca65f3:0x7c76ef422e9f805e!8m2!3d-23.5192749!4d-47.4700371","https://www.google.com/search?q=la%20guapa%20iguatemi%20campinas&oq=la+guapa+iguatemi+campinas&aqs=chrome..69i57j69i61.7176j0j7&sourceid=chrome&ie=UTF-8&tbs=lf:1,lf_ui:4&tbm=lcl&rflfq=1&num=10&rldimm=9002830635750484282&lqi=[REDACTED]&ved=[REDACTED]&rlst=f#rlfi=hd:;si:;mv:[[-22.892183,-47.0242778],[-22.8975646,-47.0543842]]","https://www.google.com/maps/place/Shopping+Eldorado/@-23.5725938,-46.6966192,18z/data=!4m5!3m4!1s0x0:0x15c6c7f0360ece1a!8m2!3d-23.5725766!4d-46.6960077","https://www.google.com/maps/place/Shopping+Center+Norte/@-23.5157941,-46.6218638,15.75z/data=!4m12!1m6!3m5!1s0x0:0x27553b50f02fec1f!2sShopping+Center+Norte!8m2!3d-23.5155661!4d-46.618134!3m4!1s0x0:0x27553b50f02fec1f!8m2!3d-23.5155661!4d-46.618134","https://www.google.com/maps/place/Av.+Copacabana,+325+-+Empresarial+18+do+Forte,+Barueri+-+SP,+13104-082/@-23.4850093,-46.8567709,17z/data=!3m1!4b1!4m5!3m4!1s0x94cf024f59c02013:0xcd820d117f7f7c13!8m2!3d-23.4850093!4d-46.8545822","https://www.google.com/maps/place/R.+das+Figueiras,+597+-+Jardim,+Santo+Andr%C3%A9+-+SP,+09080-370/@-23.6522734,-46.5385242,19.75z/data=!4m5!3m4!1s0x94ce42eb9d1e00a9:0x64e01d5d0cb5030b!8m2!3d-23.652169!4d-46.538077","https://www.google.com/maps/place/Av.+Braz+Leme,+2389+-+Santana,+S%C3%A3o+Paulo+-+SP,+02022-010/@-23.5030761,-46.6394438,17z/data=!3m1!4b1!4m5!3m4!1s0x94cef7d18eb08e9b:0xa21ac14347191f21!8m2!3d-23.503081!4d-46.6372551","https://www.google.com/maps/place/Shopping+Jardim+Sul/@-23.6307899,-46.7378853,17z/data=!3m2!4b1!5s0x94ce51457dbaa0ff:0xec0bf74062337ac0!4m5!3m4!1s0x94ce514586998601:0xff94158317332233!8m2!3d-23.6307948!4d-46.7356966","https://www.google.com/maps/place/La+Guapa/@-22.8972763,-47.0527714,15z/data=!4m5!3m4!1s0x0:0x51c8e0faf54fe3bb!8m2!3d-22.8972763!4d-47.0527714","https://www.google.com/maps/place/Alameda+Itu,+513+-+Cerqueira+C%C3%A9sar,+S%C3%A3o+Paulo+-+SP,+04191-080/@-23.5645898,-46.6588501,17z/data=!4m2!3m1!1s0x94ce59cfa4402da3:0x788518f1a94444a9","https://www.google.com/maps/place/R.+Itapura,+1392+-+Tatuap%C3%A9,+S%C3%A3o+Paulo+-+SP,+03310-000/@-23.5509646,-46.5674321,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce5e90307051df:0x166cb562413024c2!8m2!3d-23.5509646!4d-46.5652434","https://www.google.com/maps/place/Av.+Dr.+Cardoso+de+Melo,+1686+-+Itaim+Bibi,+S%C3%A3o+Paulo+-+SP,+04548-005/@-23.5961403,-46.6893361,17z/data=!4m2!3m1!1s0x94ce574805ef62fb:0x7c5b7116d576c212","https://www.google.com/maps/place/La+Guapa+-+Empanadas+Artesanais+e+Caf%C3%A9/@-23.5275035,-46.7331442,17z/data=!4m13!1m7!3m6!1s0x94cef8bef6199c3f:0xfa5f003961f5f7c4!2sR.+Carlos+Weber,+754+-+Vila+Leopoldina,+S%C3%A3o+Paulo+-+SP,+05303-000!3b1!8m2!3d-23.5275035!4d-46.7309555!3m4!1s0x94cef9930c80421b:0xb977e1b9620d006b!8m2!3d-23.5275035!4d-46.7309555","https://www.google.com/maps/place/La+Guapa+Empanadas/@-23.5641044,-46.6681035,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce59d445ac3a03:0x11be2b7d2042b68f!8m2!3d-23.5641093!4d-46.6659148","https://www.google.com/maps/place/Shopping+Cidade+Jardim+-+Av.+Magalh%C3%A3es+de+Castro,+12.000+-+Cidade+Jardim,+S%C3%A3o+Paulo+-+SP,+05502-001/@-23.5989077,-46.6976032,17z/data=!4m2!3m1!1s0x94ce5730648f80a7:0xf89e72eac29f3838","https://www.google.com/maps/place/La+Guapa+Empanadas/@-23.5565126,-46.6577598,20.29z/data=!4m6!3m5!1s0x94ce59d2b9bec031:0x52f91c918b79993c!8m2!3d-23.5566199!4d-46.6577394!16s%2Fg%2F11fkk_8h51?entry=ttu","https://www.google.com/maps/place/La+Guapa+-+Empanadas+Artesanais+e+Caf%C3%A9/@-23.6075553,-46.6933589,15z/data=!4m5!3m4!1s0x0:0xfa8044c0125ee919!8m2!3d-23.6075553!4d-46.6933589","https://www.instagram.com/laguapasp/","https://www.facebook.com/laguapaempanadas/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:27:08.137Z"}},{"json":{"dominio_scraping":"https://quantumfundos.com.br","url_inicial_plataforma_externa":"https://quantumfundos.com.br","initialUrl":"https://quantumfundos.com.br","processedUrl":"https://quantumfundos.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Home - Quantum Finance","websiteDomain":"quantumfinance.com.br","extractedEmails":[],"cleanedPhones":["+552132350350","5220331186","+552132350350","+352278752139"],"extractedSocialLinks":["https://www.linkedin.com/company/quantum_2","https://www.instagram.com/quantumfinance/"],"extractedAddresses":["Endereços Rio de Janeiro Praia do Flamengo, 66 | Bloco B – 17º andar Flamengo – RJ +55 (21) 3235-0350Luxemburgo 18, Rue Robert Stumper L-2557, Luxembourg 352 20331186São Paulo Avenida Presidente Juscelino Kubitschek, 2041 – Torre B – 5º andar Vila Olímpia – SP +55 (21) 3235-0350Redes Sociais LinkedinInstagramYoutubeQuantum | Política de Privacidade CNPJ: 07.931.931/0001-52"],"scrapedAt":"2025-06-17T13:26:09.827Z"}},{"json":{"dominio_scraping":"https://globalwebmidia.com.br","url_inicial_plataforma_externa":"https://globalwebmidia.com.br","initialUrl":"https://globalwebmidia.com.br","processedUrl":"https://globalwebmidia.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":" ","websiteDomain":"globalwebmidia.com.br","extractedEmails":[],"cleanedPhones":["1742002880","1329465962","1672613935","1617797429","1055582645","1532786052","1066200067","1821324310","1910726941","1624193904","1255849765","1759809838"],"extractedSocialLinks":["https://wa.me/5545999812363?text=Ol%C3%A1,%20acessei%20o%20site%20Global%20Web%20M%C3%ADdia%20e%20quero%20confirmar%20a%20minha%20participa%C3%A7%C3%A3o%20e%20solicitar%20o%20formul%C3%A1rio%20de%20aplica%C3%A7%C3%A3o%20para%20o%20diagnostico%20e%20analise%20consultiva,%20obrigada!"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:15.953Z"}},{"json":{"dominio_scraping":"https://happyd.com.br","url_inicial_plataforma_externa":"https://happyd.com.br","initialUrl":"https://happyd.com.br","processedUrl":"https://happyd.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Happy Gestão » Soluções em Cultura e Liderança!","websiteDomain":"happygestao.com.br","extractedEmails":["contato@happyd.com.br"],"cleanedPhones":["6155717023"],"extractedSocialLinks":["https://wa.me/558591484818"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:14.237Z"}},{"json":{"dominio_scraping":"https://dunet.com.br","url_inicial_plataforma_externa":"https://dunet.com.br","initialUrl":"https://dunet.com.br","processedUrl":"https://dunet.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Internet Banda Larga com Fibra Óptica | DUNET – Conectando seu Mundo – A DUNET oferece vários tipos de planos para você ter internet em casa com muita velocidade e desempenho.","websiteDomain":"dunet.com.br","extractedEmails":[],"cleanedPhones":["4835330290","48998055151","48999311013","48996013200","48988497275","48991406015","+554835330290","554835330290","+554835330290","4835330290","48998055151","48999311013","48996013200","48988497275","48991406015"],"extractedSocialLinks":["https://www.facebook.com/dunetsc","https://www.instagram.com/dunet_internet/","https://api.whatsapp.com/send?phone=554835330290","https://wa.me/554835330290"],"extractedAddresses":["avelocidade e de soluções para empresas em serviços de Data Center. Descubra nossos produtos e serviços. Nossos Contratos Cobertura - Araranguá – SC - Balneário Gaivota – SC - Ermo – SC - Jacinto Machado – SC - Mampituba – RS - Morrinho do Sul – RS - Passo de Torres – SC - Praia Grande – SC - Santa Rosa do Sul – SC - São João do Sul – SC - Sombrio – SC Atendimento Fixo – Principal: 48 3533-0290 Tim móvel: 48 99805-515"],"scrapedAt":"2025-06-17T13:26:17.732Z"}},{"json":{"dominio_scraping":"https://girotech.com.br","url_inicial_plataforma_externa":"https://girotech.com.br","initialUrl":"https://girotech.com.br","processedUrl":"https://girotech.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Giro.Tech | Bancarização e Securitização","websiteDomain":"giro.tech","extractedEmails":["contato@girotech.com.brr","contato@girotech.com.br"],"cleanedPhones":["4137986595"],"extractedSocialLinks":["https://www.instagram.com/giro.tech/","https://www.facebook.com/giro.central.eletronica","https://www.linkedin.com/company/giro-tech/mycompany/?viewAsMember=true","https://api.whatsapp.com/send/?phone=4137986595&type=phone_number&app_absent=0"],"extractedAddresses":["R. Comendador Araújo, 565 - sala 601 Centro, Curitiba - PR, 80420-000","Newsletter Fique por dentro das novidades Enviar Conte com a Giro.Tech para revolucionar o futuro da sua empresa. Entre em contato Soluções BancarizaçãoSecuritização Mapa do site Início Institucional Clientes Blog Contato Políticas Central de Atendimento Fale conosco contato@girotech.com.brR. Comendador Araújo, 565 - sala 601 Centro, Curitiba - PR, 80420-000 [REDACTED] ©2023 Giro Tecnologia. (“Giro.Tech”) e a logo Giro.Tech são marcar registradas. Giro SCD – 40.112.555/0001-40 | Sociedade de Crédito Direto, Instituição Financeira autorizada a funcionar pelo Banco Central do Brasil em conformidade com a Resolução 4.656/2018. GTS Securitizadora – 31.354.405/0001-51 | Securitizadora, autorizada a funcionar pela CVM. 🌀 fundada por nerds para resolver problemas complexos | de Curitiba ❄️ para o mundo 🌎"],"scrapedAt":"2025-06-17T13:26:11.097Z"}},{"json":{"dominio_scraping":"https://i7news.com.br","url_inicial_plataforma_externa":"https://i7news.com.br","initialUrl":"https://i7news.com.br","processedUrl":"https://i7news.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"1News Brasil – O site de notícias que aborda tudo que acontece no Brasil e no mundo.","websiteDomain":"correiobraziliense.com.br","extractedEmails":["contato@i7.networktelefone"],"cleanedPhones":["1132800001"],"extractedSocialLinks":["https://www.instagram.com/1newsbrasil/","https://www.facebook.com/1newsbrasil"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:11.938Z"}},{"json":{"dominio_scraping":"https://nc.com.br","url_inicial_plataforma_externa":"https://nc.com.br","initialUrl":"https://nc.com.br","processedUrl":"https://nc.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Nova Caxias is under construction","websiteDomain":"nc.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":[],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:14.940Z"}},{"json":{"dominio_scraping":"https://experimento.com.br","url_inicial_plataforma_externa":"https://experimento.com.br","initialUrl":"https://experimento.com.br","processedUrl":"https://experimento.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"failed_loading","pageTitle":"N/A","failedAt":"2025-06-17T13:27:14.956Z","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":[],"extractedAddresses":[]}},{"json":{"dominio_scraping":"https://brtloja.com.br","url_inicial_plataforma_externa":"https://brtloja.com.br","initialUrl":"https://brtloja.com.br","processedUrl":"https://brtloja.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Index of /","websiteDomain":"brtloja.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":[],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:12.163Z"}},{"json":{"dominio_scraping":"https://wmtrading.com.br","url_inicial_plataforma_externa":"https://wmtrading.com.br","initialUrl":"https://wmtrading.com.br","processedUrl":"https://wmtrading.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"WM Trading - We Make it better","websiteDomain":"wmtrading.com.br","extractedEmails":[],"cleanedPhones":["+552730229700","+552139525204","+551140639640","+554740549640","+559140422072","+558137710277","+558537714677","+558230219069","+558331420304","+557135126603","+559230422018","+554135145914","+556930260640","+559830422212","+552730229700"],"extractedSocialLinks":["https://facebook.com/WMTradingComercioInternacional/","https://instagram.com/wmtrading/","https://pt.linkedin.com/company/wmtrading","https://www.tiktok.com/@wmtradingbr"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:20.260Z"}},{"json":{"dominio_scraping":"https://cascavelprime.com.br","url_inicial_plataforma_externa":"https://cascavelprime.com.br","initialUrl":"https://cascavelprime.com.br","processedUrl":"https://cascavelprime.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"CASCAVEL PRIME | (45) 3306-7330 - (45) 3197-9930","websiteDomain":"cascavelprime.com.br","extractedEmails":["cvelprime@gmail.com","truck@cascavelprime.com.br"],"cleanedPhones":["4533067330","4531979930","45998409281","45984097368","5545998409281","5545984097368"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=5545998409281&text=Contato%20via%20site%2C%20gostaria%20de%20saber%20sobre%20os%20servi%C3%A7os!","https://api.whatsapp.com/send?phone=5545984097368&text=Contato%20via%20site%2C%20gostaria%20de%20saber%20sobre%20os%20servi%C3%A7os!","https://www.facebook.com/[REDACTED]"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:19.954Z"}},{"json":{"dominio_scraping":"https://usebiofios.com.br","url_inicial_plataforma_externa":"https://usebiofios.com.br","initialUrl":"https://usebiofios.com.br","processedUrl":"https://usebiofios.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Biofios - Loja de Cosméticos Profissionais Online","websiteDomain":"usebiofios.com.br","extractedEmails":[],"cleanedPhones":["2126742855","21972590970","2126742855","5521972590970"],"extractedSocialLinks":["https://wa.me/5521972590970?text=Oii,+poderia+me+ajudar?","https://wa.me/5521988452855?text=Quero+PRODUTOS+30%OFF","https://www.facebook.com/biofiosprofissionaloficial/","https://www.instagram.com/biofios/","https://api.whatsapp.com/send?phone=5521972590970&text=Oii,%20poderia%20me%20ajudar?"],"extractedAddresses":["Fique por dentro das nossas ofertas e novidades! Cadastrar Institucional Sobre a empresa Como comprar Política de Privacidade Política de Frete Revenda Biofios Prime Troca e devolução Catálogo Perguntas Fale Conosco Atendimento (21) 2674-2855 (21) 97259-0970 [email protected] Horário de atendimento: Segunda à sexta das 8h00 às 18h00 Formas de pagamento Selos de Segurança BIOFIOS PROFISSIONAL - CNPJ: 17.649.480/0001-19 - Todos os direitos reservados © 2023 Tecnologia TrayCommerce Load time: 1.288 secs - 17-06-2025 10:15:47 - node: commerce-web29-corp-tmk - store"],"scrapedAt":"2025-06-17T13:26:23.137Z"}},{"json":{"dominio_scraping":"https://locacaocentralpark.com.br","url_inicial_plataforma_externa":"https://locacaocentralpark.com.br","initialUrl":"https://locacaocentralpark.com.br","processedUrl":"https://locacaocentralpark.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Central Park Residence","websiteDomain":"locacaocentralpark.com.br","extractedEmails":[],"cleanedPhones":["5531984779100"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=5531984779100","https://www.instagram.com/concretoconstrutora/","https://www.facebook.com/concretoconstrutora.mg/?locale=pt_BR"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:46.246Z"}},{"json":{"dominio_scraping":"https://lembredemimpku.com.br","url_inicial_plataforma_externa":"https://lembredemimpku.com.br","initialUrl":"https://lembredemimpku.com.br","processedUrl":"https://lembredemimpku.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"SIM","websiteDomain":"lembredemimpku.com.br","extractedEmails":["medinfola@bmrn.com"],"cleanedPhones":[],"extractedSocialLinks":["https://www.facebook.com/Lembre-De-MIM-PKU-104869824733543","https://www.instagram.com/lembredemimpku/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:30.736Z"}},{"json":{"dominio_scraping":"https://4climb.com.br","url_inicial_plataforma_externa":"https://4climb.com.br","initialUrl":"https://4climb.com.br","processedUrl":"https://4climb.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"\n      Loja de artigos esportivos – 4climb\n    ","websiteDomain":"4climb.com.br","extractedEmails":["faleconosco@4climb.com.br"],"cleanedPhones":["3130235565","31995363720","1501181471","1587161412","1530150956","1535578125","553196867288","553197774551","553195363720"],"extractedSocialLinks":["https://www.facebook.com/4climb","https://www.instagram.com/4climb/","https://api.whatsapp.com/send?phone=553196867288&text=Quero%20comprar%20no%20atacado%204climb","https://api.whatsapp.com/send?phone=553197774551&text=Quero%20revender%204climb","https://api.whatsapp.com/send?phone=553196867288&text=sua%20mensagem","https://api.whatsapp.com/send?phone=553195363720&text=Ol%C3%A1%204climb!"],"extractedAddresses":["(031) 3023.5565 Magnésio, vestuários e acessórios esportivos para Escalada, CrossFit, Corrida, Ciclismo, Treinos & Fitness. View on map Siga Menu principal Magnésio Ancoragem Crash Pad Esportes Masculino Feminino Infantil OUTLET Blog Ajuda e Suporte Rastreio Central de Atendimento Dúvidas Frequentes Trocas e Devoluções Compra Segura Envio e Entrega 4climb Blog Seja um revendedor Compra no Atacado Trabalhe Conosco Sobre a 4climb CENTRAL DE ATENDIMENTO Telefone :(031) 3023.5565 Email :faleconosco@4climb.com.br 31 99536-3720 Atendimento Das 9:00hs as 18:00hs Segunda a Sexta Copyright © 2023 4climb Todos os direitos reservados. CNPJ: 13.475.147/0001-80"],"scrapedAt":"2025-06-17T13:26:36.163Z"}},{"json":{"dominio_scraping":"https://cloudmaxstore.com.br","url_inicial_plataforma_externa":"https://cloudmaxstore.com.br","initialUrl":"https://cloudmaxstore.com.br","processedUrl":"https://cloudmaxstore.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Desk2chat – MultiAtendimento","websiteDomain":"cloudmaxstore.com.br","extractedEmails":[],"cleanedPhones":["4454545544"],"extractedSocialLinks":["https://wa.me/5518888888","https://wa.me/551888888","https://wa.me/55888888888","https://wa.me/558888888888","https://wa.me/5588888888","https://wa.me/558888888","https://wa.me/55118888888","https://wa.me/551188888888","https://wa.me/551194888888","https://wa.me/55119438888","https://wa.me/5511888888","https://wa.me/55119435555555","https://wa.me/5511948888888"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:37.549Z"}},{"json":{"dominio_scraping":"https://networkaduaneira.com.br","url_inicial_plataforma_externa":"https://networkaduaneira.com.br","initialUrl":"https://networkaduaneira.com.br","processedUrl":"https://networkaduaneira.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Network Aduaneira – Desembaraço, Aduaneiro, Logística Internacional","websiteDomain":"networkaduaneira.com.br","extractedEmails":["contato@networkaduaneira.com.br"],"cleanedPhones":["1123890531","1123890532","11945281709"],"extractedSocialLinks":["https://www.facebook.com/Network-Aduaneira-549835381707065/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:46.751Z"}},{"json":{"dominio_scraping":"https://vvssaneamento.com.br","url_inicial_plataforma_externa":"https://vvssaneamento.com.br","initialUrl":"https://vvssaneamento.com.br","processedUrl":"https://vvssaneamento.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"VVS Saneamento - Tratamento de Água e Efluentes","websiteDomain":"vvssaneamento.com.br","extractedEmails":[],"cleanedPhones":["4833802573","48991894711"],"extractedSocialLinks":["https://www.facebook.com/vvssaneamento","https://www.instagram.com/vvssaneamento/","https://www.linkedin.com/company/vvssaneamento"],"extractedAddresses":["SOLUÇÕES ETE - Estações de Tratamento de Efluentes ETA - Estação de Tratamento de Água Sistemas de Abrandamento de Águas Sistemas de Troca Iônica e Osmose Reversa Sistemas de Tratamento de Água de Poço INSTITUCIONAL Conheça a VVS Equipe Sustentabilidade Política de Privacidade Trabalhe Conosco Orçamentos CONTATO (48) 3380-2573 (48) 99189-4711 Envie uma mensagem Facebook Instagram Linkedin Youtube © VVS SaneamentoRua Coronel Bernardino Machado, 379, Centro, Palhoça/SCVERDE VALE SOLUCOES E TECNOLOGIAS SUSTENTAVEIS LTDA – CNPJ: 10.944.209/0001-67 Desenvolvido por Agência Auckland"],"scrapedAt":"2025-06-17T13:26:43.841Z"}},{"json":{"dominio_scraping":"https://pilulaverde.com.br","url_inicial_plataforma_externa":"https://pilulaverde.com.br","initialUrl":"https://pilulaverde.com.br","processedUrl":"https://pilulaverde.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Home - Pílula Verde","websiteDomain":"pilulaverde.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":[],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:27:06.631Z"}},{"json":{"dominio_scraping":"https://niqturbo.com.br","url_inicial_plataforma_externa":"https://niqturbo.com.br","initialUrl":"https://niqturbo.com.br","processedUrl":"https://niqturbo.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"NIQ TURBO – Mais interatividade pra sua casa ou empresa!","websiteDomain":"niqturbo.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":[],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:47.034Z"}},{"json":{"dominio_scraping":"https://colegiomaster.com.br","url_inicial_plataforma_externa":"https://colegiomaster.com.br","initialUrl":"https://colegiomaster.com.br","processedUrl":"https://colegiomaster.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Home - Colégio Master","websiteDomain":"colegiomaster.com.br","extractedEmails":[],"cleanedPhones":["6539256000","556596862445"],"extractedSocialLinks":["https://web.facebook.com/colegiomastermt","https://www.instagram.com/colegiomastermt/","https://api.whatsapp.com/send?phone=556596862445"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:48.034Z"}},{"json":{"dominio_scraping":"https://caferosenthal.com.br","url_inicial_plataforma_externa":"https://caferosenthal.com.br","initialUrl":"https://caferosenthal.com.br","processedUrl":"https://caferosenthal.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"ROSENTHAL","websiteDomain":"caferosenthal.com.br","extractedEmails":["e-mailcaferosenthal@gmail.comredes"],"cleanedPhones":[],"extractedSocialLinks":["https://www.facebook.com/fazendarosenthal","https://www.instagram.com/caferosenthal/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:48.736Z"}},{"json":{"dominio_scraping":"https://lifepet.com.br","url_inicial_plataforma_externa":"https://lifepet.com.br","initialUrl":"https://lifepet.com.br","processedUrl":"https://lifepet.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Lifepet – Lifepet Plano de Saúde","websiteDomain":"lifepet.com.br","extractedEmails":["ajuda@lifepet.com.br"],"cleanedPhones":["27992439816"],"extractedSocialLinks":["https://wa.me/5527992439816","https://www.instagram.com/lifepetsaude/","https://wa.me/+5527992439816"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:54.536Z"}},{"json":{"dominio_scraping":"https://liguelead.com.br","url_inicial_plataforma_externa":"https://liguelead.com.br","initialUrl":"https://liguelead.com.br","processedUrl":"https://liguelead.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"LigueLead – Remarketing de Voz e SMS","websiteDomain":"liguelead.com.br","extractedEmails":[],"cleanedPhones":["+5519998927583"],"extractedSocialLinks":["https://www.instagram.com/liguelead/","https://www.linkedin.com/company/ligue-lead/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:55.639Z"}},{"json":{"dominio_scraping":"https://monisat.com.br","url_inicial_plataforma_externa":"https://monisat.com.br","initialUrl":"https://monisat.com.br","processedUrl":"https://monisat.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Monisat – Gerenciamento de Risco e Logística","websiteDomain":"monisat.com.br","extractedEmails":["contato@monisat.com"],"cleanedPhones":["+554635208000","+554635208000"],"extractedSocialLinks":["https://wa.me/554635208000?text=Ol%C3%A1%2C+entrei+em+contato+atrav%C3%A9s+do+site","https://www.facebook.com/monisatgr","https://www.linkedin.com/company/monisat-gerenciamento-de-risco-e-log%C3%ADstica/","https://www.instagram.com/accounts/login/?next=/monisatgr/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:57.333Z"}},{"json":{"dominio_scraping":"https://techgirls.com.br","url_inicial_plataforma_externa":"https://techgirls.com.br","initialUrl":"https://techgirls.com.br","processedUrl":"https://techgirls.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Techgirls – Mulheres & Tecnologia – Ensino Gratuito","websiteDomain":"techgirls.com.br","extractedEmails":["aquitechgirlsbr@gmail.com"],"cleanedPhones":["5541987061379"],"extractedSocialLinks":["https://www.instagram.com/techgirlsbrasil/","https://www.facebook.com/TechGirlsBrasil/","https://www.linkedin.com/company/tech-girls-brasil/","https://api.whatsapp.com/send?phone=5541987061379&text=Ol%C3%A1%2C%20Tech%20Girls!"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:07.539Z"}},{"json":{"dominio_scraping":"https://escolhaveg.com.br","url_inicial_plataforma_externa":"https://escolhaveg.com.br","initialUrl":"https://escolhaveg.com.br","processedUrl":"https://escolhaveg.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"EscolhaVeg","websiteDomain":"escolhaveg.com.br","extractedEmails":[],"cleanedPhones":["1053352435"],"extractedSocialLinks":["https://www.linkedin.com/company/escolhaveg/","https://www.linkedin.com/posts/[REDACTED]/","https://www.linkedin.com/posts/escolhaveg_brasil-%C3%A9-o-pa%C3%ADs-com-mais-op%C3%A7%C3%[REDACTED]/","https://www.linkedin.com/posts/[REDACTED]/"],"extractedAddresses":["RUA CÔNEGO EUGÊNIO LEITE, 840 - CONJ. 1 SÃO PAULO (SP) Política de Privacidade [email protected]"],"scrapedAt":"2025-06-17T13:26:05.672Z"}},{"json":{"dominio_scraping":"https://linker.com.br","url_inicial_plataforma_externa":"https://linker.com.br","initialUrl":"https://linker.com.br","processedUrl":"https://linker.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"\n\t\t\tBanco Digital PJ | Linker\t\t","websiteDomain":"linker.com.br","extractedEmails":["relacionamento@dock.tech","omie@novapr.com.br","informederendimentos@dock.tech"],"cleanedPhones":["11975407092"],"extractedSocialLinks":[],"extractedAddresses":["avés de parcerias que viabilizam a experiência de conta digital para pessoas jurídicas por meio de contas de pagamento (com serviços idênticos às de tradicionais contas corrente, como transferências TED, DOC e PIX e boletos), além de cartões de débito, crédito e outros produtos ainda em desenvolvimento. Para o oferecimento desses serviços, o Linker atua em parceria com a Dock (CDT Soluções em Meios de Pagamento Ltda.) que, por sua vez, opera com parcerias com instituições financeiras e de pagamento autorizadas pelo Banco Central do Brasil. CNPJ 32.584.049/0001‑25 Linker Soluções de Pagamento Ltda. Av. Jurubatuba, 460 Vila Cordeiro, São Paulo - SP, 04583-100","Assessoria de Imprensa Nova PR (11) 97540-7092 omie@novapr.com.br"],"scrapedAt":"2025-06-17T13:26:05.383Z"}},{"json":{"dominio_scraping":"https://origoenergia.com.br","url_inicial_plataforma_externa":"https://origoenergia.com.br","initialUrl":"https://origoenergia.com.br","processedUrl":"https://origoenergia.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Home | Órigo Energia: Energia solar para sua Casa e Negócio!","websiteDomain":"origoenergia.com.br","extractedEmails":[],"cleanedPhones":["1729780189","+553140034498"],"extractedSocialLinks":["https://www.instagram.com/origoenergia/","https://www.facebook.com/origoenergia/","https://www.linkedin.com/company/%C3%B3rigo-energia/","https://wa.me/553140034498?text=Ol%C3%A1!%20Vim%20pelo%20site%20da%20%C3%93rigo%20Energia%20e%20tenho%20interesse%20em%20economizar%20na%20minha%20conta%20de%20luz!%20Poderia%20me%20ajudar?"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:04.673Z"}},{"json":{"dominio_scraping":"https://portalcefem.com.br","url_inicial_plataforma_externa":"https://portalcefem.com.br","initialUrl":"https://portalcefem.com.br","processedUrl":"https://portalcefem.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"CEFEM – Educação, Ética e Liderança","websiteDomain":"portalcefem.com.br","extractedEmails":["contato@portalcefem.com.br"],"cleanedPhones":["3532953218","5535988560269","3707513172","+5535988560269"],"extractedSocialLinks":["https://www.instagram.com/cefem_machado/","https://www.instagram.com/p/CrsyYzdNGAb/","https://www.instagram.com/p/CrjdaU5NV5m/","https://www.instagram.com/reel/Crgzdw-A4RY/","https://www.instagram.com/p/CreT7N5rZ2D/","https://www.facebook.com/portalcefem/?rf=542189105973931","https://www.instagram.com/cefem_machado/?hl=pt-br","https://api.whatsapp.com/send?phone=5535988560269"],"extractedAddresses":["Rua Santos Silva, 338 – A, Machado, MG","REDES SOCIAIS CONTATO (35) 3295-3218 (35) 9 8856-0269 contato@portalcefem.com.br ENDEREÇO Rua Santos Silva, 338 – A, Machado, MG CEFEM 2020 - Todos os direitos reservados Desenvolvido por: Imédia Comunicação"],"scrapedAt":"2025-06-17T13:26:06.576Z"}},{"json":{"dominio_scraping":"https://canopybyhiltonjardins.com.br","url_inicial_plataforma_externa":"https://canopybyhiltonjardins.com.br","initialUrl":"https://canopybyhiltonjardins.com.br","processedUrl":"https://canopybyhiltonjardins.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Canopy Jardins","websiteDomain":"canopybyhiltonjardins.com.br","extractedEmails":[],"cleanedPhones":["+551135099610"],"extractedSocialLinks":["https://wa.me/5511976655772?text=Tenho%20interesse%20no%20pacote%20de%20Dia%20dos%20Namorados.","https://www.instagram.com/canopysaopaulojardins/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:10.983Z"}},{"json":{"dominio_scraping":"https://twdiesel.com.br","url_inicial_plataforma_externa":"https://twdiesel.com.br","initialUrl":"https://twdiesel.com.br","processedUrl":"https://twdiesel.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"TW Diesel: Especialista em Sistema de Injeção Diesel","websiteDomain":"twdiesel.com.br","extractedEmails":[],"cleanedPhones":["5519999148071"],"extractedSocialLinks":["https://api.whatsapp.com/send/?phone=5519999148071&text=Ol%C3%A1%2C+gostaria+de+mais+informa%C3%A7%C3%B5es+sobre+condi%C3%A7%C3%B5es+comerciais+para+clientes+B2B%2FAtacado.+%28Vim+pelo+site+da+TW+Diesel%29&type=phone_number&app_absent=0","https://www.linkedin.com/company/twdiesel","https://www.instagram.com/twdiesel","https://www.facebook.com/twdiesel"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:05.091Z"}},{"json":{"dominio_scraping":"https://amazoniaenovaseconomias.com.br","url_inicial_plataforma_externa":"https://amazoniaenovaseconomias.com.br","initialUrl":"https://amazoniaenovaseconomias.com.br","processedUrl":"https://amazoniaenovaseconomias.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Amazônia e novas economias","websiteDomain":"amazoniaenovaseconomias.com.br","extractedEmails":["secretaria@ibram.org.br","eventos@luckviagens.com.br"],"cleanedPhones":["+553126268036","81996411964","8133666204"],"extractedSocialLinks":["https://www.instagram.com/amazoniaenovaseconomias/","https://www.linkedin.com/company/conf-intern-amaz%C3%B4nia-e-novas-economias/","https://www.instagram.com/kambo.art/","https://www.instagram.com/p/DDKURfvMzzP/","https://www.instagram.com/p/DDH73NhPlC0/","https://www.instagram.com/p/DDFJ8LoMwrS/","https://www.instagram.com/p/DDFD0MAvyec/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:05.057Z"}},{"json":{"dominio_scraping":"https://valorconstrutorainc.com.br","url_inicial_plataforma_externa":"https://valorconstrutorainc.com.br","initialUrl":"https://valorconstrutorainc.com.br","processedUrl":"https://valorconstrutorainc.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Home - Construtora Valor","websiteDomain":"valorconstrutorainc.com.br","extractedEmails":[],"cleanedPhones":["+5511997799909","+5511997799909"],"extractedSocialLinks":["https://wa.me/5511997799909?text=Gostaria%20de%20uma%20proposta%20para%20o%20meu%20projeto!%20","https://wa.me/5511997799909?text=Gostaria%20de%20um%20orçamento%20para%20o%20meu%20projeto!%20","https://www.facebook.com/valorconstrutorainc/","https://www.instagram.com/valorconstrutorainc/","https://wa.me/5511997799909?text=Olá%20Gostaria%20de%20marcar%20um%20atendimento%20para%20saber%20mais!%20"],"extractedAddresses":["Fone: +55 11 99779-9909 SeguirSeguirSeguirSeguir MARQUE UM ATENDIMENTO © Copyright | Todos os Direitos Reservados | Politica de Privacidade"],"scrapedAt":"2025-06-17T13:26:07.465Z"}},{"json":{"dominio_scraping":"https://vipprotecao.com.br","url_inicial_plataforma_externa":"https://vipprotecao.com.br","initialUrl":"https://vipprotecao.com.br","processedUrl":"https://vipprotecao.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"VIP Inteligência e Proteção – Referência em prestação de serviços de qualidade","websiteDomain":"vipprotecao.com.br","extractedEmails":["mailcontato@vipprotecao.com.br"],"cleanedPhones":["1932312460"],"extractedSocialLinks":["https://www.facebook.com/vipprotecao","https://www.instagram.com/vip.protecao/"],"extractedAddresses":["Links Quem Somos Nossos Serviços Terceirização de Serviços Segurança Eletrônica Consultorias Parceiros Contato Contatos phone19 3231-2460 mailcontato@vipprotecao.com.br mapRua Luiz Gama, Nº 859, Castelo - Campinas/SP Redes Sociais Desenvolvido por Mast Soluções © 2025"],"scrapedAt":"2025-06-17T13:26:05.436Z"}},{"json":{"dominio_scraping":"https://cloudcomputingbrasil.com.br","url_inicial_plataforma_externa":"https://cloudcomputingbrasil.com.br","initialUrl":"https://cloudcomputingbrasil.com.br","processedUrl":"https://cloudcomputingbrasil.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Cloud Computing Brasil - Cloud Computing Brasil","websiteDomain":"cloudcomputingbrasil.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":[],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:27:06.740Z"}},{"json":{"dominio_scraping":"https://under.com.br","url_inicial_plataforma_externa":"https://under.com.br","initialUrl":"https://under.com.br","processedUrl":"https://under.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Under | Bare Metal, Cloud e Colocation para impulsionar negócios","websiteDomain":"under.com.br","extractedEmails":["comercial@under.com.br"],"cleanedPhones":["1141182199","40031576","112041182199"],"extractedSocialLinks":["https://www.linkedin.com/company/underservers/","https://www.facebook.com/underservers/","https://www.instagram.com/under.cloud.services/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:05.705Z"}},{"json":{"dominio_scraping":"https://datamyne.com.br","url_inicial_plataforma_externa":"https://datamyne.com.br","initialUrl":"https://datamyne.com.br","processedUrl":"https://datamyne.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"O Valor da Informação | Descartes Datamyne","websiteDomain":"datamyne.com.br","extractedEmails":[],"cleanedPhones":["8332622315"],"extractedSocialLinks":["https://www.facebook.com/descartesbrasil","https://www.linkedin.com/company/descartes-brasil/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:08.276Z"}},{"json":{"dominio_scraping":"https://my360.com.br","url_inicial_plataforma_externa":"https://my360.com.br","initialUrl":"https://my360.com.br","processedUrl":"https://my360.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"My360 - Realidade Virtual","websiteDomain":"my360.com.br","extractedEmails":[],"cleanedPhones":["11972290360","1708192926","5511972290360","555198114643"],"extractedSocialLinks":["https://api.whatsapp.com/send?phone=5511972290360&text=Ol%C3%A1%2C%20My360%C2%BA","https://api.whatsapp.com/send?phone=5511972290360&text=Ol%C3%A1,%20estou%20no%20site%20da%20My360%20e%20gostaria%20de%20tirar%20d%C3%BAvidas.","https://api.whatsapp.com/send?phone=5511972290360&text=Ol%C3%A1,%20estou%20no%20site%20da%20My360%20e%20gostaria%20de%20tirar%20algumas%20d%C3%BAvidas.","https://www.instagram.com/my360.3dscan/","https://www.facebook.com/my360bh","https://api.whatsapp.com/send?phone=5511972290360&text=Ol%C3%A1,%20estou%20na%20regi%C3%A3o%20Centro-Oeste%20do%20Brasil%20e%20gostaria%20de%20falar%20sobre%20os%20servi%C3%A7os%20da%20My360.","https://api.whatsapp.com/send?phone=5511972290360&text=Ol%C3%A1,%20estou%20na%20regi%C3%A3o%20Nordeste%20do%20Brasil%20e%20gostaria%20de%20falar%20sobre%20os%20servi%C3%A7os%20da%20My360.","https://api.whatsapp.com/send?phone=5511972290360&text=Ol%C3%A1,%20estou%20na%20regi%C3%A3o%20Norte%20do%20Brasil%20e%20gostaria%20de%20falar%20sobre%20os%20servi%C3%A7os%20da%20My360.","https://api.whatsapp.com/send?phone=5511972290360&text=Ol%C3%A1,%20estou%20na%20regi%C3%A3o%20Sudeste%20do%20Brasil%20e%20gostaria%20de%20falar%20sobre%20os%20servi%C3%A7os%20da%20My360.","https://api.whatsapp.com/send?phone=555198114643&text=Ol%C3%A1,%20estou%20na%20regi%C3%A3o%20no%20Sul%20do%20Brasil%20e%20gostaria%20de%20falar%20sobre%20os%20servi%C3%A7os%20da%20My360."],"extractedAddresses":["27.448.423/0001-25 Segmentos Mercado Imobiliário Ambiente Corporativo Ambientes Culturais Área da saúde Concessionárias e Auto Shopping´s Estabelecimentos Comerciais / Eventos / Festas Instituições de Ensino Hotéis / Pousadas (11) 97229-0360TECNOLOGIAS Tour Virtual Acompanhamento de Obra Decorado Virtual Vídeos / Drones As Built Digital (BIM) Dúvidas Contato My 360 Portfólio"],"scrapedAt":"2025-06-17T13:26:08.565Z"}},{"json":{"dominio_scraping":"https://locatudolocadora.com.br","url_inicial_plataforma_externa":"https://locatudolocadora.com.br","initialUrl":"https://locatudolocadora.com.br","processedUrl":"https://locatudolocadora.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"LOCATUDO LOCADORA - CAÇAMBAS, MÁQUINAS E EQUIPAMENTOS","websiteDomain":"locatudolocadora.com.br","extractedEmails":["locatudo@locatudolocadora.com.br"],"cleanedPhones":["1145248010","11964149544","1145241417","5519964149544","5511964149544"],"extractedSocialLinks":["https://www.facebook.com/locatudolocadora","https://api.whatsapp.com/send?phone=5519964149544&text=Disk%20locatudo","https://api.whatsapp.com/send?phone=5511964149544&text=Disk%20locatudo"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:18.942Z"}},{"json":{"dominio_scraping":"https://kinology.com.br","url_inicial_plataforma_externa":"https://kinology.com.br","initialUrl":"https://kinology.com.br","processedUrl":"https://kinology.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Kinology - A solução eficaz para examinar o movimento humanoClose","websiteDomain":"kinology.com.br","extractedEmails":[],"cleanedPhones":["1750163508","2609713056","6133479291"],"extractedSocialLinks":[],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:07.611Z"}},{"json":{"dominio_scraping":"https://kimax.com.br","url_inicial_plataforma_externa":"https://kimax.com.br","initialUrl":"https://kimax.com.br","processedUrl":"https://kimax.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Kimax – Seu Parceiro na Limpeza","websiteDomain":"kimax.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":["https://wa.me/55014997320919"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:17.134Z"}},{"json":{"dominio_scraping":"https://kellyjalecos.com.br","url_inicial_plataforma_externa":"https://kellyjalecos.com.br","initialUrl":"https://kellyjalecos.com.br","processedUrl":"https://kellyjalecos.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Kelly Jalecos","websiteDomain":"commercesuite.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":[],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:25.348Z"}},{"json":{"dominio_scraping":"https://kerryfoodservice.com.br","url_inicial_plataforma_externa":"https://kerryfoodservice.com.br","initialUrl":"https://kerryfoodservice.com.br","processedUrl":"https://kerryfoodservice.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"no_contacts_found","pageTitle":"Kerry FoodService | Taste Nutrition","websiteDomain":"kerryfoodservice.com.br","extractedEmails":[],"cleanedPhones":[],"extractedSocialLinks":[],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:09.299Z"}},{"json":{"dominio_scraping":"https://kavem.com.br","url_inicial_plataforma_externa":"https://kavem.com.br","initialUrl":"https://kavem.com.br","processedUrl":"https://kavem.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Autopeças Kavem – A qualidade que seu carro merece","websiteDomain":"kavem.com.br","extractedEmails":["contato@kavem.com.brendere"],"cleanedPhones":["1532191900","15991672099","5515991672099"],"extractedSocialLinks":["https://api.whatsapp.com/send/?phone=5515991672099&text=Ol%C3%A1%2C+gostaria+de+fazer+um+or%C3%A7amento.&type=phone_number&app_absent=0","https://www.instagram.com/kavemautopecas/","https://www.facebook.com/AUTOPECASKAVEM"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:10.902Z"}},{"json":{"dominio_scraping":"https://movti.com.br","url_inicial_plataforma_externa":"https://movti.com.br","initialUrl":"https://movti.com.br","processedUrl":"https://movti.com.br","label":"START_CHEERIO_NO_VALIDATION","status":"success","pageTitle":"Soluções em Nuvem para sua empresa - MOVTI Cloud Solutions","websiteDomain":"movti.com.br","extractedEmails":["dpo@movti.com.br2"],"cleanedPhones":["4285714285","3333333333","4833434821"],"extractedSocialLinks":["https://www.facebook.com/movticloud/","https://www.linkedin.com/company/movti?trk=top_nav_home","https://www.instagram.com/movtioficial/"],"extractedAddresses":[],"scrapedAt":"2025-06-17T13:26:09.487Z"}}]},"versionId":"6a7e12c8-1771-4482-ac0e-4916b6cd3ae8","triggerCount":3,"shared":[{"createdAt":"2025-05-13T23:22:00.492Z","updatedAt":"2025-05-13T23:22:00.492Z","role":"workflow:owner","workflowId":"ebaoKi1qbGWz4ykP","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}