backups/[wf1]-recebimento-de-erros-6uwh1LtYamzkRHFK.json
{"createdAt":"2025-05-17T14:29:15.963Z","updatedAt":"2025-10-27T01:36:02.304Z","id":"6uwh1LtYamzkRHFK","name":"[WF1] Recebimento de Erros","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"6986bc03-ebd9-4f5f-a7d9-c3da2ab08df2","name":"explicacao_resumida_erro_evento","value":"O acesso à página foi bloqueado, o que pode impedir que visitantes visualizem partes do site.","type":"string"},{"id":"6b66b9a6-3e72-4bf3-a61a-06a155a536b7","name":"nome_erro","value":"Forbidden","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,-320],"id":"cadf9f8c-5729-48e5-9190-b2b9291683d1","name":"403"},{"parameters":{"assignments":{"assignments":[{"id":"6986bc03-ebd9-4f5f-a7d9-c3da2ab08df2","name":"explicacao_resumida_erro_evento","value":"A página não foi encontrada no site, o que pode gerar frustração nos visitantes e perda de acessos importantes.","type":"string"},{"id":"227062a1-8340-455a-a344-19698b147457","name":"nome_erro","value":"Not Found","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,-528],"id":"4f9facb0-cdd8-4b10-8af8-cbd97f48b5fd","name":"404"},{"parameters":{"assignments":{"assignments":[{"id":"6986bc03-ebd9-4f5f-a7d9-c3da2ab08df2","name":"explicacao_resumida_erro_evento","value":"O servidor do site falhou ao tentar carregar a página, o que normalmente impede o acesso completo ao conteúdo.","type":"string"},{"id":"4a3b111a-d438-487c-9277-bb0b83f63ef0","name":"nome_erro","value":"Internal Server Error","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,-704],"id":"be326c3c-775a-4556-ae19-e4ef7ae3c376","name":"500"},{"parameters":{"assignments":{"assignments":[{"id":"6986bc03-ebd9-4f5f-a7d9-c3da2ab08df2","name":"explicacao_resumida_erro_evento","value":"O servidor recebeu uma resposta incorreta, e isso pode causar lentidão ou páginas fora do ar.","type":"string"},{"id":"546c0ac7-a355-4c16-843c-83da0e631dc3","name":"nome_erro","value":"Bad Gateway","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,-144],"id":"9454227c-e71e-4893-9e85-3dd7aa14ebb6","name":"502"},{"parameters":{"assignments":{"assignments":[{"id":"6986bc03-ebd9-4f5f-a7d9-c3da2ab08df2","name":"explicacao_resumida_erro_evento","value":"O site está temporariamente fora do ar ou sobrecarregado, tornando-o inacessível para os visitantes.","type":"string"},{"id":"d04b44ae-96fa-45e9-bdfc-50aa709bf86c","name":"nome_erro","value":"Serviço Indisponível","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,64],"id":"52679377-c219-4e3d-834c-113951ec6240","name":"503"},{"parameters":{"assignments":{"assignments":[{"id":"0c7cbedb-febf-4807-9279-87f648d6c98d","name":"dominio_evento","value":"={{ \"https://\" + $('Extrair e Normalizar Dados do Webhook1').item.json.body.url_site.toLowerCase().replace(/^https?:\\/\\/(www\\.)?/, '').split('/')[0] }}","type":"string"},{"id":"1b8f1a11-f6d5-4fe9-a54e-11c5ef51a11a","name":"numero_erro","value":"={{ $('Extrair e Normalizar Dados do Webhook1').item.json.body.tipo_erro }}","type":"number"},{"id":"1af32118-4233-44c7-ad86-359ecd5224e3","name":"nome_erro","value":"={{ $json.nome_erro }}","type":"string"},{"id":"2c193ae9-68b3-413f-a03a-aa38888b0beb","name":"explicacao_resumida_erro_evento","value":"={{ $json.explicacao_resumida_erro_evento }}","type":"string"},{"id":"fc2204f9-443e-4a2b-b236-3d5c84fd674a","name":"id_evento_erro_externo_evento","value":"={{ $('Extrair e Normalizar Dados do Webhook1').item.json.body.id_evento_erro_externo }}","type":"string"},{"id":"c2affc91-c10e-4750-99fb-1b3ab67a69f4","name":"mensagem_original","value":"={{ $('Extrair e Normalizar Dados do Webhook1').item.json.body.detalhes_adicionais.mensagem_erro_original }}","type":"string"},{"id":"b2d475d5-72b7-4379-a204-cfdf4a41e332","name":"timestamp_deteccao_plataforma","value":"={{ $('Extrair e Normalizar Dados do Webhook1').item.json.body.timestamp_deteccao_plataforma }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-304],"id":"1e92f547-14d7-40e5-a22e-6f0889bfa68c","name":"Extrair e Normalizar Dados do Webhook"},{"parameters":{"operation":"get","tableId":"empresas","filters":{"conditions":[{"keyName":"url_inicial","keyValue":"={{ $json.dominio_evento }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[608,-304],"id":"04d064d7-2b8f-4237-88fa-b03aa57063c4","name":"BuscarEmpresaPorDominio","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cb328c9-947d-4076-b8cb-021fe4138488","leftValue":"={{ $json.url_inicial }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,-320],"id":"512f99b3-8ccc-4ec5-90f0-92c8fb5f6d8f","name":"IF_EmpresaExiste","alwaysOutputData":false},{"parameters":{"dataToSave":{"values":[{"key":"[REDACTED]","value":"LogErroCritico_EmpresaNaoEncontrada"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[2000,272],"id":"bb2796a5-5d71-4c79-95f2-be71b730d834","name":"Execution Data"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-240,-1616],"id":"76c964ba-2a05-484e-965a-3aae070f1283","name":"Schedule Trigger"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.tipo_erro }}","rightValue":500,"operator":{"type":"number","operation":"equals"},"id":"c1692c62-f61f-4112-bca4-38ca0da00028"}],"combinator":"and"},"renameOutput":true,"outputKey":"500"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb99274d-6681-4a93-a7bc-20bdc43a61a9","leftValue":"={{ $json.body.tipo_erro }}","rightValue":404,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"404"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4577fe3a-0a4a-48b4-a04f-2a5aaf4e4132","leftValue":"={{ $json.body.tipo_erro }}","rightValue":403,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"403"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9305e85b-4d07-4934-a2d2-bda255eeec69","leftValue":"={{ $json.body.tipo_erro }}","rightValue":502,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"502"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6a64dcad-7d1f-46da-beb5-d9192c0bf43d","leftValue":"={{ $json.body.tipo_erro }}","rightValue":503,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"503"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60eba4d7-fef6-4733-bd27-eaaa87e69ae1","leftValue":"={{ $json.body.tipo_erro }}","rightValue":401,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"401"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1120,-336],"id":"2b5c7236-ad61-45bf-b8e6-9c5f9079915b","name":"Switch"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-304,-352],"id":"fda98956-2b32-4310-90a0-34ff6bed274a","name":"Merge2"},{"parameters":{"tableId":"log_controle_diario","fieldsUi":{"fieldValues":[{"fieldId":"data_execucao","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"novas_abordagens_iniciadas_hoje","fieldValue":"1"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-32,-1616],"id":"f5e83e62-f0ef-49e7-a81a-db6233152492","name":"Criar_log","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"dataToSave":{"values":[{"key":"[REDACTED]","value":"={{ $json.dominio }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[1952,-928],"id":"2e2763db-042f-4539-8935-ecf220c39ed7","name":"site_processado"},{"parameters":{"queue":"domain_contact_errors","options":{}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-1776,-288],"id":"b04a882d-97a6-4897-8121-c06c0af7be90","name":"RabbitMQ Trigger1","credentials":{"rabbitmq":{"id":"W4dzHVGeS7Z5sFDy","name":"RabbitMQ account"}}},{"parameters":{"jsCode":"// Gera um número aleatório de 5 dígitos\nconst randomId = Math.floor(10000 + Math.random() * 90000);\n\n// Converte o conteúdo recebido em objeto\nconst content = JSON.parse($json.content);\n\n// Remove prefixo de erro no domínio\nconst dominioCorreto = content.domain_url.replace(/^(error|erro)\\d{3}\\./i, '');\n\n// Estrutura final no mesmo estilo do webhook antigo\nreturn {\n  body: {\n    id_evento_erro_externo: randomId,\n    url_site: `https://${dominioCorreto}`,\n    tipo_erro: content.status_code, // Apenas número do código\n    timestamp_deteccao_plataforma: content.tested_at,\n    detalhes_adicionais: {\n      mensagem_erro_original: content.error_message,\n      headers_resposta: content.response_headers,\n      campanhas_ativas: content.active_campaigns\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1504,-304],"id":"a24a8b80-d1cc-4955-85b6-f3b180da50dd","name":"Extrair e Normalizar Dados do Webhook1"},{"parameters":{"operation":"executeQuery","query":"SELECT erros_prioritarios, tdls_validos FROM configuracoes_cadencia WHERE id = 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2080,-464],"id":"6d7e8f42-f0fa-4326-af39-cd29834a75ed","name":"Buscar Prioridades de Erros","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40c9af56-78ff-4660-acd5-aa6acfca16b5","leftValue":true,"rightValue":"={{ $json.deveProcessar }}","operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2496,-464],"id":"3c70fb86-63d6-4326-9543-2f12573a09d4","name":"If"},{"parameters":{"jsCode":"// 🧠 Pega os dados de configuração do nó anterior.\nlet listaPrioridades = $input.first().json.erros_prioritarios;\nlet listaTldsValidos = $input.first().json.tdls_validos;\n\n// 🧾 Pega os dados do erro e do domínio do webhook.\n// ATENÇÃO: Verifique se os nomes dos nós ('Extrair e Normalizar Dados do Webhook' e 'Extrair e Normalizar Dados do Webhook1') estão corretos para o seu fluxo.\nconst numeroErroAtual = $('Extrair e Normalizar Dados do Webhook1').first().json.body.tipo_erro;\nconst dominioComErro = $('Extrair e Normalizar Dados do Webhook1').first().json.body.url_site;\n\n// --- VALIDAÇÃO DO ERRO ---\n\n// 🧪 Se a lista de erros for uma string (JSON), converte para array.\nif (typeof listaPrioridades === 'string') {\n  try {\n    listaPrioridades = JSON.parse(listaPrioridades);\n  } catch (e) {\n    throw new Error('Erro ao converter listaPrioridades para JSON');\n  }\n}\n\n// ✅ Verifica se a lista de erros existe e se o erro atual está na lista.\nlet erroEhPrioritario = false;\nif (Array.isArray(listaPrioridades) && listaPrioridades.length > 0) {\n  erroEhPrioritario = listaPrioridades.includes(numeroErroAtual);\n}\n\n// --- VALIDAÇÃO DO TLD ---\n\n// 🧪 Se a lista de TLDs for uma string (JSON), converte para array.\nif (typeof listaTldsValidos === 'string') {\n  try {\n    listaTldsValidos = JSON.parse(listaTldsValidos);\n  } catch (e) {\n    throw new Error('Erro ao converter listaTldsValidos para JSON');\n  }\n}\n\n// ✅ Verifica se o domínio é válido e se o TLD está na lista.\nlet tldEhValido = false;\nif (dominioComErro && Array.isArray(listaTldsValidos) && listaTldsValidos.length > 0) {\n  // A função .some() verifica se pelo menos um TLD da lista corresponde ao final do domínio.\n  // Ex: dominio 'site.com.br' e tld 'com.br' -> true\n  tldEhValido = listaTldsValidos.some(tld => dominioComErro.endsWith('.' + tld));\n}\n\n// --- DECISÃO FINAL ---\n\n// 🔁 Retorna o resultado final: true somente se AMBAS as condições forem verdadeiras.\nconst deveProcessar = erroEhPrioritario && tldEhValido;\n\nreturn { deveProcessar: deveProcessar };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2288,-464],"id":"0b9ba217-109a-4ace-8e6d-2fc1ee86aed7","name":"prioridade true/false"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO eventos_erro (\n  empresa_id,\n  id_evento_erro_externo,\n  url_site_com_erro,\n  nome_erro,\n  tipo_erro_site,\n  detalhes_erro_payload,\n  timestamp_erro_detectado,\n  status_processamento_evento,\n  nome_campanha,\n  dia_atual_na_cadencia\n) VALUES (\n  {{ $('BuscarEmpresaPorDominio').first().json.id }},\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.id_evento_erro_externo_evento }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.dominio_evento }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.nome_erro }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.numero_erro }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.explicacao_resumida_erro_evento }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.timestamp_deteccao_plataforma }}'::timestamptz,\n  'novo_nao_processado',\n  '{{ $('Extrair e Normalizar Dados do Webhook1').first().json.body.detalhes_adicionais.campanhas_ativas[0].campaign_name }}',\n  0\n) \nON CONFLICT (empresa_id, id_evento_erro_externo, tipo_erro_site, url_site_com_erro) \nDO NOTHING\nRETURNING *;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2944,-624],"id":"88a32490-0539-43de-b6e9-e83166257ccf","name":"Cadastrar novo evento erro","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO eventos_erro (\n  empresa_id,\n  id_evento_erro_externo,\n  url_site_com_erro,\n  nome_erro,\n  tipo_erro_site,\n  detalhes_erro_payload,\n  timestamp_erro_detectado,\n  status_processamento_evento,\n  nome_campanha,\n  dia_atual_na_cadencia\n) VALUES (\n  {{ $('BuscarEmpresaPorDominio').first().json.id }},\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.id_evento_erro_externo_evento }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.dominio_evento }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.nome_erro }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.numero_erro }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.explicacao_resumida_erro_evento }}', -- <<< CORRIGIDO\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.timestamp_deteccao_plataforma }}'::timestamptz,\n  'ignorado_erro_nao_prioritario',\n  '{{ $('Extrair e Normalizar Dados do Webhook1').first().json.body.detalhes_adicionais.campanhas_ativas[0].campaign_name }}',\n  0\n) \nON CONFLICT (empresa_id, id_evento_erro_externo, tipo_erro_site, url_site_com_erro) \nDO NOTHING\nRETURNING *; -- <<< CORRETO PARA O CATCHER","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2960,-416],"id":"7da396f9-aa62-408c-9424-c8733b0ce4a9","name":"Cadastrar erro não prioritario","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.empresas (\n    dominio,\n    url_inicial,\n    tipo_ultimo_erro_site,\n    data_ultimo_erro_site,\n    status_cadencia_geral\n) VALUES (\n    '{{ $('Extrair e Normalizar Dados do Webhook1').item.json.body.url_site }}r',\n    '{{ $('Extrair e Normalizar Dados do Webhook1').item.json.body.url_site }}',\n    '{{ $('Extrair e Normalizar Dados do Webhook1').item.json.body.tipo_erro }}',\n    '{{ $('Extrair e Normalizar Dados do Webhook1').item.json.body.timestamp_deteccao_plataforma }}',\n    'apta_para_nova_cadencia'\n)\nON CONFLICT (dominio) DO NOTHING\nRETURNING *;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1840,-144],"id":"3490866f-c768-4bd6-8e93-dedb622dcd95","name":"Criar_empresa","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"executeQuery","query":"SELECT erros_prioritarios, tdls_validos FROM configuracoes_cadencia WHERE id = 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2080,-144],"id":"338dbf0e-8281-4aba-9c4f-827c01421ce1","name":"Buscar Prioridades de Erros1","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40c9af56-78ff-4660-acd5-aa6acfca16b5","leftValue":true,"rightValue":"={{ $json.deveProcessar }}","operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2512,-160],"id":"c88d1ac1-6d2b-4061-a990-f4e6032d6934","name":"If1"},{"parameters":{"jsCode":"// 🧠 Pega os dados de configuração do nó anterior.\nlet listaPrioridades = $input.first().json.erros_prioritarios;\nlet listaTldsValidos = $input.first().json.tdls_validos;\n\n// 🧾 Pega os dados do erro e do domínio do webhook.\n// ATENÇÃO: Verifique se os nomes dos nós ('Extrair e Normalizar Dados do Webhook' e 'Extrair e Normalizar Dados do Webhook1') estão corretos para o seu fluxo.\nconst numeroErroAtual = $('Extrair e Normalizar Dados do Webhook1').first().json.body.tipo_erro;\nconst dominioComErro = $('Extrair e Normalizar Dados do Webhook1').first().json.body.url_site;\n\n// --- VALIDAÇÃO DO ERRO ---\n\n// 🧪 Se a lista de erros for uma string (JSON), converte para array.\nif (typeof listaPrioridades === 'string') {\n  try {\n    listaPrioridades = JSON.parse(listaPrioridades);\n  } catch (e) {\n    throw new Error('Erro ao converter listaPrioridades para JSON');\n  }\n}\n\n// ✅ Verifica se a lista de erros existe e se o erro atual está na lista.\nlet erroEhPrioritario = false;\nif (Array.isArray(listaPrioridades) && listaPrioridades.length > 0) {\n  erroEhPrioritario = listaPrioridades.includes(numeroErroAtual);\n}\n\n// --- VALIDAÇÃO DO TLD ---\n\n// 🧪 Se a lista de TLDs for uma string (JSON), converte para array.\nif (typeof listaTldsValidos === 'string') {\n  try {\n    listaTldsValidos = JSON.parse(listaTldsValidos);\n  } catch (e) {\n    throw new Error('Erro ao converter listaTldsValidos para JSON');\n  }\n}\n\n// ✅ Verifica se o domínio é válido e se o TLD está na lista.\nlet tldEhValido = false;\nif (dominioComErro && Array.isArray(listaTldsValidos) && listaTldsValidos.length > 0) {\n  // A função .some() verifica se pelo menos um TLD da lista corresponde ao final do domínio.\n  // Ex: dominio 'site.com.br' e tld 'com.br' -> true\n  tldEhValido = listaTldsValidos.some(tld => dominioComErro.endsWith('.' + tld));\n}\n\n// --- DECISÃO FINAL ---\n\n// 🔁 Retorna o resultado final: true somente se AMBAS as condições forem verdadeiras.\nconst deveProcessar = erroEhPrioritario && tldEhValido;\n\nreturn { deveProcessar: deveProcessar };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2304,-144],"id":"ec2497a9-b7e3-4d3f-9d4b-7a64828962f4","name":"prioridade true/false1"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO eventos_erro (\n  empresa_id,\n  id_evento_erro_externo,\n  url_site_com_erro,\n  nome_erro,\n  tipo_erro_site,\n  detalhes_erro_payload,\n  timestamp_erro_detectado,\n  status_processamento_evento,\n  nome_campanha,\n  dia_atual_na_cadencia\n) VALUES (\n  {{ $('Criar_empresa').first().json.id }},\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.id_evento_erro_externo_evento }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.dominio_evento }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.nome_erro }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.numero_erro }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.explicacao_resumida_erro_evento }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.timestamp_deteccao_plataforma }}'::timestamptz,\n  'novo_nao_processado',\n  '{{ $('Extrair e Normalizar Dados do Webhook1').item.json.body.detalhes_adicionais.campanhas_ativas[0].campaign_name }}',\n  0\n) \nON CONFLICT (empresa_id, id_evento_erro_externo, tipo_erro_site, url_site_com_erro) \nDO NOTHING\nRETURNING *;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3024,-176],"id":"09c18af8-e86f-47e9-9f31-f7b1e2880406","name":"Cadastrar novo evento erro1","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO eventos_erro (\n  empresa_id,\n  id_evento_erro_externo,\n  url_site_com_erro,\n  nome_erro,\n  tipo_erro_site,\n  detalhes_erro_payload,\n  timestamp_erro_detectado,\n  status_processamento_evento,\n  nome_campanha,\n  dia_atual_na_cadencia\n) VALUES (\n  {{ $('Criar_empresa').first().json.id }},\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.id_evento_erro_externo_evento }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.dominio_evento }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.nome_erro }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.numero_erro }}',\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.explicacao_resumida_erro_evento }}', -- <<< CORRIGIDO\n  '{{ $('Extrair e Normalizar Dados do Webhook').first().json.timestamp_deteccao_plataforma }}'::timestamptz,\n  'ignorado_erro_nao_prioritario',\n  '{{ $('Extrair e Normalizar Dados do Webhook1').first().json.body.detalhes_adicionais.campanhas_ativas[0].campaign_name }}',\n  0\n) \nON CONFLICT (empresa_id, id_evento_erro_externo, tipo_erro_site, url_site_com_erro) \nDO NOTHING\nRETURNING *; -- <<< CORRETO PARA O CATCHER","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3024,16],"id":"d0b49e83-a44c-4829-ae7a-06c385cb400a","name":"Cadastrar erro não prioritario1","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"content":"Criar e cadastrar","height":288,"width":464},"type":"n8n-nodes-base.stickyNote","position":[1664,-240],"typeVersion":1,"id":"f129a687-397c-4006-b3e9-707afcd6b179","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"empresa_id":"={{ $json.empresa_id }}","domain":"={{ $json.url_site_com_erro }}","status":"=success","action_type":"={{ $json.status_processamento_evento }}","to_status":"={{ $json.status_processamento_evento }}","reason":"Empresa não possuí um erro válido ou uma url válida","workflow_name":"[WF1] Recebimento de Erros","etapa_cadencia":"Recebimento_erro","dia_atual_na_cadencia":0},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3792,-80],"id":"421cddf7-658d-4128-aea7-0c99c2675182","name":"Regitrar log erro não prioritario"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3504,-80],"id":"3b10ffb9-ac7d-425b-ada0-f1464ec18e8e","name":"Merge"},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"empresa_id":"={{ $json.empresa_id }}","domain":"={{ $json.url_site_com_erro }}","status":"=success","action_type":"={{ $json.status_processamento_evento }}","to_status":"={{ $json.status_processamento_evento }}","reason":"Erro elegível","workflow_name":"[WF1] Recebimento de Erros","etapa_cadencia":"Recebimento_erro","dia_atual_na_cadencia":0},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3792,-496],"id":"ddc9d8c7-04d6-44fb-a66b-0c67b31cb040","name":"Regitrar log erro não prioritario1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3504,-496],"id":"d5f3c036-92ff-46ba-bf62-73ca38bab2c9","name":"Merge1"}],"connections":{"403":{"main":[[{"node":"Merge2","type":"main","index":2}]]},"404":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"500":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"502":{"main":[[{"node":"Merge2","type":"main","index":3}]]},"503":{"main":[[{"node":"Merge2","type":"main","index":4}]]},"Extrair e Normalizar Dados do Webhook":{"main":[[{"node":"BuscarEmpresaPorDominio","type":"main","index":0}]]},"BuscarEmpresaPorDominio":{"main":[[{"node":"IF_EmpresaExiste","type":"main","index":0}]]},"IF_EmpresaExiste":{"main":[[{"node":"site_processado","type":"main","index":0},{"node":"Buscar Prioridades de Erros","type":"main","index":0}],[{"node":"Execution Data","type":"main","index":0},{"node":"Criar_empresa","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Criar_log","type":"main","index":0}]]},"Switch":{"main":[[{"node":"500","type":"main","index":0}],[{"node":"404","type":"main","index":0}],[{"node":"403","type":"main","index":0}],[{"node":"502","type":"main","index":0}],[{"node":"503","type":"main","index":0}],[{"node":"Merge2","type":"main","index":5}]]},"Merge2":{"main":[[{"node":"Extrair e Normalizar Dados do Webhook","type":"main","index":0}]]},"site_processado":{"main":[[]]},"RabbitMQ Trigger1":{"main":[[{"node":"Extrair e Normalizar Dados do Webhook1","type":"main","index":0}]]},"Extrair e Normalizar Dados do Webhook1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Buscar Prioridades de Erros":{"main":[[{"node":"prioridade true/false","type":"main","index":0}]]},"prioridade true/false":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Cadastrar novo evento erro","type":"main","index":0}],[{"node":"Cadastrar erro não prioritario","type":"main","index":0}]]},"Cadastrar novo evento erro":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Buscar Prioridades de Erros1":{"main":[[{"node":"prioridade true/false1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Cadastrar novo evento erro1","type":"main","index":0}],[{"node":"Cadastrar erro não prioritario1","type":"main","index":0}]]},"prioridade true/false1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Criar_empresa":{"main":[[{"node":"Buscar Prioridades de Erros1","type":"main","index":0}]]},"Cadastrar erro não prioritario":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Cadastrar erro não prioritario1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Regitrar log erro não prioritario":{"main":[[]]},"Merge":{"main":[[{"node":"Regitrar log erro não prioritario","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Regitrar log erro não prioritario1","type":"main","index":0}]]},"Cadastrar novo evento erro1":{"main":[[{"node":"Merge1","type":"main","index":1}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-08-20T00:00:56.008-03:00","Readable date":"August 20th 2025, 12:00:56 am","Readable time":"12:00:56 am","Day of week":"Wednesday","Year":"2025","Month":"August","Day of month":"20","Hour":"00","Minute":"00","Second":"56","Timezone":"America/Sao_Paulo (UTC-03:00)"}}],"RabbitMQ Trigger1":[{"json":{"fields":{"consumerTag":"amq.ctag-qXDgWZF-U2W0GFk62b8MNg","deliveryTag":147,"redelivered":false,"exchange":"","routingKey":"domain_contact_errors"},"properties":{"contentType":"application/json","headers":{"laravel":{"attempts":0}},"deliveryMode":2},"content":"{\"domain_id\":479904,\"domain_url\":\"redeg2.com.br\",\"status_code\":500,\"error_message\":\"Internal Server Error\",\"tested_at\":\"2025-10-26 06:03:15\",\"response_headers\":{\"Connection\":[\"keep-alive\"],\"Content-Type\":[\"text\\/html; charset=UTF-8\"],\"Date\":[\"Sun, 26 Oct 2025 09:03:15 GMT\"],\"Server\":[\"nginx\\/1.14.1\"],\"Strict-Transport-Security\":[\"max-age=31536000\"],\"X-Powered-By\":[\"PHP\\/8.0.30\"]},\"test_history\":[],\"active_campaigns\":[{\"campaign_id\":23,\"campaign_name\":\"TP 2k, .com.br, Is WP\"}]}"}}],"BuscarEmpresaPorDominio":[{"json":{"id":1874,"dominio":"https://redeg2.com.br","url_inicial":"https://redeg2.com.br","nome_empresa_gmn":"G2 Internet","nome_empresa_pagina":"Rede G2 – Conexão InigualávelRede G2 – Conexão Inigualável","telefones_scraping":"[\"34996947248\",\"5534996947248\"]","emails_scraping":"[]","links_sociais_scraping":"[\"http://wa.me/5534996947248\",\"https://api.whatsapp.com/send?phone=5534996947248&text=Olá,%20gostaria%20de%20assinar%20o%20Combo%20G2%20Play.%20Contato%20via%20site!\",\"https://api.whatsapp.com/send?phone=5534996947248&text=Olá,%20gostaria%20de%20assinar%20o%20Combo%20G2%20Plus.%20Contato%20via%20site!\",\"https://api.whatsapp.com/send?phone=5534996947248&text=Olá,%20gostaria%20de%20assinar%20o%20Combo%20G2%20Premium.%20Contato%20via%20site!\",\"https://web.facebook.com/www.redeg2.com.br\",\"https://www.instagram.com/g2.internet/\",\"http://wa.me/553499647248\",\"https://api.whatsapp.com/send?phone=5534996947248&text=Gostaria%20de%20saber%20mais%20sobre%20o%20plano%20de%20internet...\"]","status_scraping_t1":"success","status_scraping_t2":null,"gmn_encontrado":true,"gmn_place_id":"ChIJF__BB-qqppQReJjUrBv9Eac","gmn_telefone":"+55 34 99694-7248","gmn_endereco":"Av. João Elías da Fonseca, 139 - Nova Esperança, Tupaciguara - MG, 38480-000, Brasil","gmn_website":"https://www.redeg2.com.br/","gmn_status":"OPERATIONAL","gmn_rating":4.5,"gmn_ratings_total":46,"data_criacao":"2025-06-14T16:27:02.812844+00:00","data_ultima_atualizacao":"2025-10-16T11:40:09.109294+00:00","data_ultimo_erro_site":null,"tipo_ultimo_erro_site":null,"status_geral":"enviado_plataforma_externa","bitrix_lead_id":null,"notas_internas":null,"gmn_categoria":"[\"point_of_interest\",\"establishment\"]","gmn_horarios_funcionamento":{"periods":[{"open":{"day":1,"time":"0800"},"close":{"day":1,"time":"1100"}},{"open":{"day":1,"time":"1230"},"close":{"day":1,"time":"1730"}},{"open":{"day":2,"time":"0800"},"close":{"day":2,"time":"1100"}},{"open":{"day":2,"time":"1230"},"close":{"day":2,"time":"1730"}},{"open":{"day":3,"time":"0800"},"close":{"day":3,"time":"1100"}},{"open":{"day":3,"time":"1230"},"close":{"day":3,"time":"1730"}},{"open":{"day":4,"time":"0800"},"close":{"day":4,"time":"1100"}},{"open":{"day":4,"time":"1230"},"close":{"day":4,"time":"1730"}},{"open":{"day":5,"time":"0800"},"close":{"day":5,"time":"1100"}},{"open":{"day":5,"time":"1230"},"close":{"day":5,"time":"1730"}}],"open_now":false,"weekday_text":["segunda-feira: 08:00 – 11:00, 12:30 – 17:30","terça-feira: 08:00 – 11:00, 12:30 – 17:30","quarta-feira: 08:00 – 11:00, 12:30 – 17:30","quinta-feira: 08:00 – 11:00, 12:30 – 17:30","sexta-feira: 08:00 – 11:00, 12:30 – 17:30","sábado: Fechado","domingo: Fechado"]},"contador_total_tentativas_cadencia":4,"status_cadencia_geral":"apta_para_nova_cadencia","timestamp_ultima_tentativa_cadencia":"2025-10-11T23:00:59.596+00:00","timestamp_proxima_tentativa_permitida":"2025-10-26T23:00:59.595+00:00","timestamp_para_ligacao":null,"status_acao_pos_espera":null,"id_evento_erro_atual":null,"apollo_organization_id":null,"apollo_domain_search_id":null,"apollo_last_enrichment":"2025-09-17T08:00:01.646791","apollo_enrichment_status":"completed","total_contatos_apollo":0,"total_contatos_apify":0,"apollo_api_credits_budget":100,"apollo_api_credits_used_month":0,"apollo_api_last_reset_date":"2025-07-07","apollo_api_enabled":true,"apollo_api_priority":5,"apollo_api_max_contacts_per_run":10,"bitrix_company_id":"12466","bitrix_deal_id":"30094","bitrix_company_created_at":"2025-10-16T11:40:09.109294+00:00","bitrix_deal_created_at":null,"bitrix_sync_status":"synced"}}],"Extrair e Normalizar Dados do Webhook1":[{"json":{"body":{"id_evento_erro_externo":76769,"url_site":"https://redeg2.com.br","tipo_erro":500,"timestamp_deteccao_plataforma":"2025-10-26 06:03:15","detalhes_adicionais":{"mensagem_erro_original":"Internal Server Error","headers_resposta":{"Connection":["keep-alive"],"Content-Type":["text/html; charset=UTF-8"],"Date":["Sun, 26 Oct 2025 09:03:15 GMT"],"Server":["nginx/1.14.1"],"Strict-Transport-Security":["max-age=31536000"],"X-Powered-By":["PHP/8.0.30"]},"campanhas_ativas":[{"campaign_id":23,"campaign_name":"TP 2k, .com.br, Is WP"}]}}}}]},"versionId":"dfa25248-b2e9-4eb9-9e74-60848512b977","triggerCount":2,"shared":[{"createdAt":"2025-05-17T14:29:15.963Z","updatedAt":"2025-05-17T14:29:15.963Z","role":"workflow:owner","workflowId":"6uwh1LtYamzkRHFK","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}