backups/[wf2]-gerenciadordereforcosefinaldedia-iEjPHPE3iHKRB4hP.json
{"createdAt":"2025-05-19T00:36:49.959Z","updatedAt":"2025-09-19T01:34:16.315Z","id":"iEjPHPE3iHKRB4hP","name":"[WF2] GerenciadorDeReforcosEFinalDeDia","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/1 9-21 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[304,64],"id":"eb37e7b4-05e1-4bf8-8c13-02bf6b8b0e56","name":"Schedule Trigger"},{"parameters":{"operation":"get","tableId":"configuracoes_cadencia","filters":{"conditions":[{"keyName":"ativo","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[528,64],"id":"313f730d-8345-4ba3-a58f-630bc20ae356","name":"CarregarConfiguracaoCadenciaAtiva","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"jsCode":"const item = items[0];\nconst agora = new Date();\nconst statusEmpresa = $('buscareventoerro').first().json.status_cadencia_geral;\nconst diaCadenciaEvento = $('buscareventoerro').first().json.dia_atual_na_cadencia; // Dia 1, 2 ou 3 do evento\nconst timestampInicioDia = $('buscareventoerro').first().json.timestamp_ultima_tentativa_cadencia ? new Date($('buscareventoerro').first().json.timestamp_ultima_tentativa_cadencia) : null;\nconst config = $('CarregarConfiguracaoCadenciaAtiva').first().json;\n\nlet acaoWF2 = 'NENHUMA_ACAO_REFORCO_HOJE'; // Default\nitem.json.etapa_cadencia_para_reforco = null; // Para buscar o template certo\n\nif (!timestampInicioDia) {\n  item.json.acao_wf2 = 'ERRO_SEM_TIMESTAMP_INICIO_DIA';\n  return item;\n}\n\nconst horasDesdeInicioDia = (agora.getTime() - timestampInicioDia.getTime()) / (1000 * 60 * 60);\n\n// Lógica para Dia 1\nif (diaCadenciaEvento === 1) {\n  if (\n    statusEmpresa === 'aguardando_reforco1_dia1' &&\n    horasDesdeInicioDia >= config.intervalo_reforco1_horas &&\n    config.max_mensagens_dia1 >= 2\n  ) {\n    acaoWF2 = 'ENVIAR_REFORCO_1';\n    item.json.etapa_cadencia_para_reforco = 102;\n  } else if (\n    statusEmpresa === 'aguardando_reforco2_dia1' &&\n    horasDesdeInicioDia >= config.intervalo_reforco2_horas &&\n    config.max_mensagens_dia1 >= 3\n  ) {\n    acaoWF2 = 'ENVIAR_REFORCO_2';\n    item.json.etapa_cadencia_para_reforco = 103;\n  } else if (\n    statusEmpresa.includes('_dia1') &&\n    ['cadencia_dia1_ativa', 'aguardando_reforco1_dia1', 'aguardando_reforco2_dia1'].includes(statusEmpresa)\n  ) {\n    const ultimoReforco = config.max_mensagens_dia1 === 3\n      ? config.intervalo_reforco2_horas\n      : config.max_mensagens_dia1 === 2\n      ? config.intervalo_reforco1_horas\n      : 0;\n    if (horasDesdeInicioDia > ultimoReforco + 1) {\n      acaoWF2 = 'FINALIZAR_DIA_EVENTO';\n    }\n  }\n}\n\n// Lógica para Dia 2\nelse if (diaCadenciaEvento === 2) {\n  if (\n    statusEmpresa === 'aguardando_reforco1_dia2' &&\n    horasDesdeInicioDia >= config.intervalo_reforco1_horas &&\n    config.max_mensagens_dia2 >= 2\n  ) {\n    acaoWF2 = 'ENVIAR_REFORCO_1';\n    item.json.etapa_cadencia_para_reforco = 202;\n  } else if (\n    statusEmpresa === 'aguardando_reforco2_dia2' &&\n    horasDesdeInicioDia >= config.intervalo_reforco2_horas &&\n    config.max_mensagens_dia2 >= 3\n  ) {\n    acaoWF2 = 'ENVIAR_REFORCO_2';\n    item.json.etapa_cadencia_para_reforco = 203;\n  } else if (\n    statusEmpresa.includes('_dia2') &&\n    ['cadencia_dia2_ativa', 'aguardando_reforco1_dia2', 'aguardando_reforco2_dia2'].includes(statusEmpresa)\n  ) {\n    const ultimoReforco = config.max_mensagens_dia2 === 3\n      ? config.intervalo_reforco2_horas\n      : config.max_mensagens_dia2 === 2\n      ? config.intervalo_reforco1_horas\n      : 0;\n    if (horasDesdeInicioDia > ultimoReforco + 1) {\n      acaoWF2 = 'FINALIZAR_DIA_EVENTO';\n    }\n  }\n}\n\n// Lógica para Dia 3\nelse if (diaCadenciaEvento === 3) {\n  if (\n    statusEmpresa.includes('_dia3') &&\n    config.max_mensagens_dia3 === 1 &&\n    horasDesdeInicioDia > (config.intervalo_reforco1_horas || 2)\n  ) {\n    acaoWF2 = 'FINALIZAR_DIA_EVENTO';\n  }\n}\n\nitem.json.acao_wf2 = acaoWF2;\nreturn item;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,64],"id":"ff5b72fc-258c-4f2c-89c2-435cdda95034","name":"Code_DeterminarAcaoDeReforcoOuFimDeDia"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.acao_wf2 }}","rightValue":"ENVIAR_REFORCO_1","operator":{"type":"string","operation":"equals"},"id":"9defcfe5-cc0b-481a-a7c9-7f272d2f3c87"}],"combinator":"and"},"renameOutput":true,"outputKey":"ENVIAR_REFORCO_1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e7235b33-f225-46e4-a3f1-15b3e909fdf4","leftValue":"={{ $json.acao_wf2 }}","rightValue":"ENVIAR_REFORCO_2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENVIAR_REFORCO_2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7956760a-db8e-4eaa-bb74-20469cbdfd25","leftValue":"={{ $json.acao_wf2 }}","rightValue":"FINALIZAR_DIA_EVENTO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FINALIZAR_DIA_EVENTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"fb806506-13e5-49ca-add1-cde39774c151","leftValue":"={{ $json.acao_wf2 }}","rightValue":"NENHUMA_ACAO_REFORCO_HOJE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NENHUMA_ACAO_REFORCO_HOJE"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1248,48],"id":"02d9c737-9be1-4ecc-8da7-fa176d0f6454","name":"Switch_AcaoWF2"},{"parameters":{"operation":"getAll","tableId":"contatos_empresa","filters":{"conditions":[{"keyName":"empresa_id","condition":"eq","keyValue":"={{ $('Buscarempresa').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2320,-48],"id":"e234daee-4d1c-4c21-944f-79eb1ff08a65","name":"Buscar_contatos","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"jsCode":"// --- INÍCIO DO CÓDIGO DO NÓ ---\nconst item = items[0];\n\n// pegando saídas dos nós anteriores\nconst empresa = $('Buscarempresa').first().json ?? {};\nconst eventoParaTemplate = $('evento_erro').first().json ?? {};\nconst array_templates = $('BuscarTemplates_D1_Principal').all().map(i => i.json) ?? [];\n\n// função de escolha aleatória (aqui só por canal, já que a etapa foi filtrada pela query)\nfunction escolherTemplateAleatorio(templates, canalDesejado) {\n  if (!Array.isArray(templates)) return null;\n  const candidatos = templates.filter(t =>\n    t.canal === canalDesejado &&\n    t.ativo === true\n  );\n  if (candidatos.length === 0) {\n    console.warn(`Nenhum template ativo para canal ${canalDesejado}`);\n    return null;\n  }\n  return candidatos[Math.floor(Math.random() * candidatos.length)];\n}\n\n// escolhe dinamicamente pelo canal\nconst templateWhatsappSelecionado = escolherTemplateAleatorio(array_templates, 'whatsapp');\nconst templateEmailSelecionado    = escolherTemplateAleatorio(array_templates, 'email');\n\n// substituição de placeholders\nfunction substituirPlaceholders(texto, dominio, nomeErro, codErro, resumoErro, idEmpresa) {\n  if (typeof texto !== 'string') return \"\";\n  return texto\n    .replace(/{{dominio}}/g, dominio ?? 'seu site')\n    .replace(/{{nome_erro}}/g, nomeErro ?? 'um problema técnico')\n    .replace(/{{cod_erro}}/g, codErro ?? '')\n    .replace(/{{resumoerro}}/g, resumoErro ?? '')\n    .replace(/{{explicacao_resumida_erro}}/g, resumoErro ?? 'que requer atenção')\n    .replace(/{{id_empresa}}/g, idEmpresa ?? '');\n}\n\n// valores dos placeholders (mapeando conforme solicitado)\nconst dominioPlaceholder         = eventoParaTemplate.url_site_com_erro ?? empresa.dominio ?? 'seu site';\nconst nomeErroPlaceholder        = eventoParaTemplate.nome_erro      ?? 'um erro';\nconst codErroPlaceholder         = eventoParaTemplate.tipo_erro_site ?? '';\nconst resumoErroPlaceholder      = eventoParaTemplate.detalhes_erro_payload ?? '';\nconst idEmpresaPlaceholder       = empresa.id                        ?? '';\n\n// monta as mensagens\nitem.json.mensagem_whatsapp_final = substituirPlaceholders(\n  templateWhatsappSelecionado?.corpo_template,\n  dominioPlaceholder,\n  nomeErroPlaceholder,\n  codErroPlaceholder,\n  resumoErroPlaceholder,\n  idEmpresaPlaceholder\n);\n\nitem.json.assunto_email_final = substituirPlaceholders(\n  templateEmailSelecionado?.assunto_template,\n  dominioPlaceholder,\n  nomeErroPlaceholder,\n  codErroPlaceholder,\n  resumoErroPlaceholder,\n  idEmpresaPlaceholder\n);\n\nitem.json.corpo_email_final = substituirPlaceholders(\n  templateEmailSelecionado?.corpo_template,\n  dominioPlaceholder,\n  nomeErroPlaceholder,\n  codErroPlaceholder,\n  resumoErroPlaceholder,\n  idEmpresaPlaceholder\n);\n\n// para depuração\nitem.json.debug_template_whatsapp_usado = templateWhatsappSelecionado;\nitem.json.debug_template_email_usado    = templateEmailSelecionado;\nitem.json.debug_placeholders_usados = {\n  dominio: dominioPlaceholder,\n  nome_erro: nomeErroPlaceholder,\n  cod_erro: codErroPlaceholder,\n  resumoerro: resumoErroPlaceholder,\n  id_empresa: idEmpresaPlaceholder\n};\n\nreturn item;\n// --- FIM DO CÓDIGO DO NÓ ---\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2112,-48],"id":"9ae188ec-4608-4a4a-b0c9-bb4a41841640","name":"PrepararMensagens"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.contato_completo.json.tipo_contato }}","rightValue":"email","operator":{"type":"string","operation":"equals"},"id":"09c515c8-fff7-4575-a958-9ff75b251ef0"}],"combinator":"and"},"renameOutput":true,"outputKey":"email"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c434843-03e2-48b8-92ae-8ede54398d55","leftValue":"={{ $json.contato_completo.json.valor_contato }}","rightValue":"555193448124","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"555193448124"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e2f1853-1f77-4979-b7f8-e64d34c5ffbf","leftValue":"={{ $json.contato_completo.json.tipo_contato }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"752f1477-b8a8-41f5-b6de-91e1865b5ce6","leftValue":"={{ $json.contato_completo.json.tipo_contato }}","rightValue":"telefone_geral","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"telefone_geral"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2768,-48],"id":"b29208ac-a9ce-4cc8-b3d0-746474975403","name":"Switchcontatos"},{"parameters":{"jsCode":"// --- INÍCIO DO CÓDIGO DO NÓ B.1 ---\nconst todosContatosDaEmpresa = $input.all() ?? [];\nconst dominioPrincipalEmpresa = $('Buscarempresa').first().json.dominio ?? \"\";\n\n// --- 1) Processar somente whatsapp/email ---\nconst contatosFiltrados = todosContatosDaEmpresa.filter(c =>\n  c.tipo_contato === 'whatsapp' || c.tipo_contato === 'email'\n);\n\n// --- 2) WhatsApp: até 3, por prioridade ---\nfunction obterWhatsAppsOrdenados(contatos) {\n  const validos = contatos.filter(c =>\n    c.tipo_contato === 'whatsapp' &&\n    c.whatsapp_valido &&\n    c.status_contato !== 'nao_usar' &&\n    c.status_contato !== 'descadastrado_whatsapp'\n  );\n  const prioridade = c =>\n    c.whatsappbusiness && c.gmn ? 1 :\n    c.whatsappbusiness           ? 2 :\n    c.gmn                        ? 3 : 4;\n  return validos\n    .sort((a, b) => prioridade(a) - prioridade(b))\n    .slice(0, 3);\n}\nconst whatsappsSelecionados = obterWhatsAppsOrdenados(contatosFiltrados);\nfunction formatarNumero(numero) {\n  const limpo = String(numero).replace(/\\D/g, '');\n  if ([10,11].includes(limpo.length)) {\n    return limpo.startsWith('55') ? limpo : '55' + limpo;\n  } else if (limpo.startsWith('55') && [12,13].includes(limpo.length)) {\n    return limpo;\n  }\n  return null;\n}\nconst itensWhatsApp = whatsappsSelecionados.map(c => ({\n  json: {\n    tipo: 'whatsapp',\n    id_contato: c.id,\n    numero_formatado: formatarNumero(c.valor_contato),\n    contato_completo: c,\n  }\n}));\n\n// --- 3) Email: até 3, priorizando domínio principal ---\nconst emailsValidos = contatosFiltrados.filter(c =>\n  c.tipo_contato === 'email' &&\n  c.status_contato !== 'nao_usar' &&\n  c.status_contato !== 'descadastrado_email'\n);\nconst emailsComDominio = emailsValidos.filter(c =>\n  c.valor_contato.split('@')[1]?.toLowerCase() === dominioPrincipalEmpresa.toLowerCase()\n);\nconst outrosEmails = emailsValidos.filter(c =>\n  c.valor_contato.split('@')[1]?.toLowerCase() !== dominioPrincipalEmpresa.toLowerCase()\n);\nconst genericos = ['gmail.com','hotmail.com','outlook.com','yahoo.com','icloud.com','aol.com','live.com'];\noutrosEmails.sort((a,b) => {\n  const aGen = genericos.includes(a.valor_contato.split('@')[1]?.toLowerCase());\n  const bGen = genericos.includes(b.valor_contato.split('@')[1]?.toLowerCase());\n  return aGen === bGen ? 0 : (aGen ? 1 : -1);\n});\nconst ordenadosEmail = [...emailsComDominio, ...outrosEmails];\nconst vistos = new Set();\nconst itensEmails = [];\nfor (const c of ordenadosEmail) {\n  const v = c.valor_contato.toLowerCase();\n  if (!vistos.has(v)) {\n    vistos.add(v);\n    itensEmails.push({\n      json: {\n        tipo: 'email',\n        id_contato: c.id,\n        email: c.valor_contato,\n        contato_completo: c,\n      }\n    });\n  }\n  if (itensEmails.length >= 3) break;\n}\n\n// --- 4) Incluir todos os outros tipos (telefone_geral etc) sem alteração ---\nconst itensOutros = todosContatosDaEmpresa\n  .filter(c => c.tipo_contato !== 'whatsapp' && c.tipo_contato !== 'email')\n  .map(c => ({\n    json: {\n      tipo: c.tipo_contato,\n      id_contato: c.id,\n      valor_contato: c.valor_contato,\n      contato_completo: c\n    }\n  }));\n\n// --- 5) Retorna em um array único ---\nreturn [\n  ...itensWhatsApp,\n  ...itensEmails,\n  ...itensOutros\n];\n// --- FIM DO CÓDIGO DO NÓ B.1 ---\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2544,-48],"id":"8fdf35c6-874a-4dab-8112-e93f279e02db","name":"Code1"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    e.id,\n    e.dominio,\n    e.status_cadencia_geral,\n    e.id_evento_erro_atual,\n    e.timestamp_ultima_tentativa_cadencia,\n    e.contador_total_tentativas_cadencia,\n    ev.dia_atual_na_cadencia, \n    ev.status_processamento_evento,\n    ev.tipo_erro_site,\n    ev.detalhes_erro_payload,\n    ev.url_site_com_erro,\n    ev.id_evento_erro_externo\nFROM \n    empresas e\nLEFT JOIN \n    eventos_erro ev \n    ON e.id_evento_erro_atual = ev.id\nWHERE \n    e.status_cadencia_geral IN (\n        'aguardando_reforco1_dia1', \n        'aguardando_reforco2_dia1', \n        'dia1_concluido_aguardando_dia2',\n        'cadencia_dia1_ativa',\n        'aguardando_reforco1_dia2', \n        'aguardando_reforco2_dia2',\n        'dia2_concluido_aguardando_dia3',\n        'cadencia_dia2_ativa',\n        'aguardando_reforco1_dia3', \n        'aguardando_reforco2_dia3',\n        'dia3_concluido_aguardando_finalizacao',\n        'cadencia_dia3_ativa'\n    )\n    AND e.id_evento_erro_atual IS NOT NULL\n    AND ev.data_criacao >= NOW() - INTERVAL '5 days'\nORDER BY RANDOM()\nLIMIT 1;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,64],"id":"8fd98b82-8e03-4c2f-8f5d-7b5739e6705c","name":"buscareventoerro","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"get","tableId":"empresas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('buscareventoerro').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1440,-48],"id":"27cb836e-3327-40df-8d8a-71fedf8adaff","name":"Buscarempresa","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id_evento_erro_atual }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1664,-48],"id":"fe33ff30-600d-4115-a5d3-f8083dcf013a","name":"evento_erro","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"templates_mensagens","matchType":"allFilters","filters":{"conditions":[{"keyName":"etapa_cadencia","condition":"eq","keyValue":"={{ $('Code_DeterminarAcaoDeReforcoOuFimDeDia').item.json.etapa_cadencia_para_reforco }}"},{"keyName":"ativo","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1888,-48],"id":"57abe7e6-c416-4440-980a-f27f5b9ab414","name":"BuscarTemplates_D1_Principal","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"fromEmail":"\"Digital Pixel\" <dot@digitalpixel.com.br>","toEmail":"={{ $json.contato_completo.json.valor_contato }}","subject":"={{ $('PrepararMensagens').item.json.assunto_email_final}}","html":"={{ $('PrepararMensagens').item.json.corpo_email_final}}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[3424,-208],"id":"ff9a4141-8590-45da-8193-9b2edf66dff2","name":"Send Email","webhookId":"4bc2649d-246a-4db8-a818-e13289eef831","credentials":{"smtp":{"id":"shOWMvBSkf2d8rpR","name":"SMTP account"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3648,-144],"id":"d758d474-4635-4601-96d7-4908489619fd","name":"Merge"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"tipo_contato"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3872,-144],"id":"864c43f5-c8b4-4340-8c35-30a545c5762a","name":"Aggregate"},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Buscarempresa').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_cadencia_geral","fieldValue":"={{ $json.proximo_status_cadencia_geral_empresa }}"},{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4304,-144],"id":"d1c754b3-cd97-4209-a708-698889991ba7","name":"AtualizarEmpresa_StatusPosReforco1","executeOnce":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"jsCode":"const item = items[0];\nconst diaEvento = $('Code_DeterminarAcaoDeReforcoOuFimDeDia').first().json.dia_atual_na_cadencia; // Dia 1, 2 ou 3 do evento\nconst maxDiasEvento = $('CarregarConfiguracaoCadenciaAtiva').first().json.max_dias_cadencia_por_evento;\n\nlet novoStatusEmpresa = '';\nlet novoStatusEvento = '';\n\nif (diaEvento < maxDiasEvento) {\n    // Se ainda não é o último dia do evento, preparamos para o próximo dia\n    novoStatusEmpresa = `dia${diaEvento}_concluido_aguardando_dia${diaEvento + 1}`;\n    novoStatusEvento = '[REDACTED]';\n} else if (diaEvento === maxDiasEvento) {\n    // Se é o último dia do evento, preparamos para a finalização da cadência do evento\n    novoStatusEmpresa = `dia${diaEvento}[REDACTED]`;\n    novoStatusEvento = `processado_dia_${diaEvento}_aguardando_finalizacao`; // Ou '[REDACTED]'\n} else {\n    // Caso de segurança, se diaEvento > maxDiasEvento, o que não deveria acontecer se a lógica do Nó 7 estiver correta\n    novoStatusEmpresa = `dia${maxDiasEvento}[REDACTED]`; // Trata como se fosse o último dia\n    novoStatusEvento = `processado_dia_${maxDiasEvento}_aguardando_finalizacao`;\n    console.warn(`Dia do evento (${diaEvento}) excedeu maxDiasEvento (${maxDiasEvento}). Tratando como último dia.`);\n}\n\nitem.json.[REDACTED] = novoStatusEmpresa;\nitem.json.novo_status_processamento_evento_fimdia = novoStatusEvento;\nreturn item;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,352],"id":"316bd2c9-edbf-498e-8f83-ee7ac9313af1","name":"Code_DefinirStatusFimDeDia"},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_cadencia_geral","fieldValue":"={{ $json.[REDACTED] }}"},{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1872,400],"id":"1a430770-26eb-47f6-abe8-dcdccd9cd65b","name":"AtualizarEmpresa_FimDeDia","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('buscareventoerro').item.json.id_evento_erro_atual }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_processamento_evento","fieldValue":"={{ $('Code_DefinirStatusFimDeDia').item.json.status_processamento_evento }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2112,368],"id":"2e8540f0-3986-4d87-bed5-5714906a64f9","name":"AtualizarEvento_FimDeDia","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"jsCode":"// Nó: Status_cadencia_geral (ID 4262ff13-...)\n// Este nó é chamado APÓS o envio de um reforço (R1 ou R2).\n\nconst item = items[0]; // Mantendo sua forma de pegar o item\nconst diaEvento = $('evento_erro').first().json.dia_atual_na_cadencia; \nconst config = $('CarregarConfiguracaoCadenciaAtiva').first().json; \n\n// ESSA É A NOVA CONSTANTE QUE VOCÊ PRECISA GARANTIR QUE ESTEJA DISPONÍVEL NO INPUT DESTE NÓ\n// Ela deve vir do nó que decidiu qual reforço enviar (Code_DeterminarAcaoDeReforcoOuFimDeDia)\n// e ser passada para o sub-fluxo de envio, e então para este nó.\n// Se ela já está em item.json, ótimo. Se não, você precisará adicioná-la.\n// Exemplo: const etapaReforcoEnviado = $json.etapa_que_foi_enviada; (substitua 'etapa_que_foi_enviada' pelo nome real do campo)\n// Para este exemplo, vou usar a referência que você usou na sua lógica do Dia 3: $json.etapa_cadencia_para_reforco\nconst etapaReforcoEnviado = parseInt(String($('Code_DeterminarAcaoDeReforcoOuFimDeDia').first().json.etapa_cadencia_para_reforco), 10);\n\n\nlet proximoStatus = 'ERRO_STATUS_INDEFINIDO'; \n\nif (!config || !diaEvento || isNaN(etapaReforcoEnviado)) { // Adicionada verificação para etapaReforcoEnviado\n    proximoStatus = '[REDACTED]';\n    // Log para depuração\n    console.log(\"Erro nos inputs para Status_cadencia_geral:\");\n    console.log(\"Dia Evento:\", diaEvento);\n    console.log(\"Config:\", JSON.stringify(config));\n    console.log(\"Etapa Reforço Enviado:\", $json.etapa_cadencia_para_reforco);\n} else {\n    const tipoReforcoNumero = etapaReforcoEnviado % 100; // 2 para R1 (X02), 3 para R2 (X03)\n\n    if (diaEvento === 1) {\n        if (tipoReforcoNumero === 2) { // Após R1 do Dia 1 (etapa 102)\n            proximoStatus = (config.max_mensagens_dia1 >= 3) ? 'aguardando_reforco2_dia1' : 'dia1_concluido_aguardando_dia2';\n        } else if (tipoReforcoNumero === 3) { // Após R2 do Dia 1 (etapa 103)\n            proximoStatus = 'dia1_concluido_aguardando_dia2';\n        } else {\n            proximoStatus = 'ERRO_ETAPA_REFORCO_DIA1_INVALIDA';\n        }\n    } else if (diaEvento === 2) {\n        if (tipoReforcoNumero === 2) { // Após R1 do Dia 2 (etapa 202)\n            proximoStatus = (config.max_mensagens_dia2 >= 3) ? 'aguardando_reforco2_dia2' : 'dia2_concluido_aguardando_dia3';\n        } else if (tipoReforcoNumero === 3) { // Após R2 do Dia 2 (etapa 203)\n            proximoStatus = 'dia2_concluido_aguardando_dia3';\n        } else {\n            proximoStatus = 'ERRO_ETAPA_REFORCO_DIA2_INVALIDA';\n        }\n    } else if (diaEvento === 3) {\n        // Para o Dia 3, geralmente após qualquer reforço, finaliza.\n        if (tipoReforcoNumero === 2) { // Após R1 do Dia 3 (etapa 302)\n            proximoStatus = (config.max_mensagens_dia3 >= 3) ? 'aguardando_reforco2_dia3' : 'dia3_concluido_aguardando_finalizacao';\n        } else if (tipoReforcoNumero === 3) { // Após R2 do Dia 3 (etapa 303)\n            proximoStatus = 'dia3_concluido_aguardando_finalizacao';\n        } else {\n            // Se for Dia 3 mas a etapa não é de reforço (improvável aqui, pois este nó é PÓS reforço)\n            // ou se max_mensagens_dia3 = 1 (não deveria ter chamado este nó para reforço)\n            proximoStatus = 'dia3_concluido_aguardando_finalizacao'; \n        }\n    } else {\n        proximoStatus = 'ERRO_DIA_EVENTO_FORA_DO_ESPERADO';\n    }\n}\n\nitem.json.proximo_status_cadencia_geral_empresa = proximoStatus;\nreturn item;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4080,-144],"id":"4262ff13-ba8e-4f5d-b4eb-f1d44ed509c5","name":"Status_cadencia_geral"},{"parameters":{"assignments":{"assignments":[{"id":"26fb2457-2dff-49d3-b7b4-256028ba1a05","name":"messages","value":"={{ $('PrepararMensagens').item.json.mensagem_whatsapp_final.split(\"#\") }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3344,32],"id":"9b62d497-2abb-4b02-b794-44fdab6a2b97","name":"Reposta da orquestra1"},{"parameters":{"fieldToSplitOut":"messages","options":{}},"id":"b87883f3-d35b-4229-93a8-d35cf3b92fe2","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3520,64]},{"parameters":{"operation":"send","phoneNumberId":"705549915969226","recipientPhoneNumber":"={{ $('Loop Over Items').item.json.contato_completo.json.valor_contato }}","textBody":"={{ $json.messages }}","additionalFields":{}},"id":"d6cd98f2-bd87-47ae-87ca-850348c3813b","name":"Send message","type":"n8n-nodes-base.whatsApp","position":[4224,384],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1,"credentials":{"whatsAppApi":{"id":"0iKPfEsLxdLdpIgR","name":"WhatsApp dot"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3728,160],"id":"a45144de-e1b1-480c-9613-69ee6c96c00b","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4000,288],"id":"f3eac16a-ad2c-4113-9869-25e1bc0e5775","name":"Wait","webhookId":"6bc67d70-3a6c-4a5f-ad2d-853667de71df"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3168,0],"id":"735c351c-2644-4ce4-affc-fe4494278f1f","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[4864,480],"id":"37e56eed-9f3e-48a0-b211-e741b13f3ef5"},{"parameters":{"dataToSave":{"values":[{"key":"[REDACTED]","value":"0"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[4528,-144],"id":"f34c8ab3-e9ca-40aa-a9e7-176a7b94bb57","name":"Execution Data"}],"connections":{"Schedule Trigger":{"main":[[{"node":"CarregarConfiguracaoCadenciaAtiva","type":"main","index":0}]]},"CarregarConfiguracaoCadenciaAtiva":{"main":[[{"node":"buscareventoerro","type":"main","index":0}]]},"Code_DeterminarAcaoDeReforcoOuFimDeDia":{"main":[[{"node":"Switch_AcaoWF2","type":"main","index":0}]]},"Switch_AcaoWF2":{"main":[[{"node":"Buscarempresa","type":"main","index":0}],[{"node":"Buscarempresa","type":"main","index":0}],[{"node":"Code_DefinirStatusFimDeDia","type":"main","index":0}],[]]},"Buscar_contatos":{"main":[[{"node":"Code1","type":"main","index":0}]]},"PrepararMensagens":{"main":[[{"node":"Buscar_contatos","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Switchcontatos","type":"main","index":0}]]},"buscareventoerro":{"main":[[{"node":"Code_DeterminarAcaoDeReforcoOuFimDeDia","type":"main","index":0}]]},"Buscarempresa":{"main":[[{"node":"evento_erro","type":"main","index":0}]]},"evento_erro":{"main":[[{"node":"BuscarTemplates_D1_Principal","type":"main","index":0}]]},"BuscarTemplates_D1_Principal":{"main":[[{"node":"PrepararMensagens","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Status_cadencia_geral","type":"main","index":0}]]},"Switchcontatos":{"main":[[{"node":"Send Email","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}],[]]},"Code_DefinirStatusFimDeDia":{"main":[[{"node":"AtualizarEmpresa_FimDeDia","type":"main","index":0}]]},"AtualizarEmpresa_FimDeDia":{"main":[[{"node":"AtualizarEvento_FimDeDia","type":"main","index":0}]]},"Status_cadencia_geral":{"main":[[{"node":"AtualizarEmpresa_StatusPosReforco1","type":"main","index":0}]]},"Reposta da orquestra1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Send message":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Replace Me","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Merge","type":"main","index":1}],[{"node":"Reposta da orquestra1","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AtualizarEmpresa_StatusPosReforco1":{"main":[[{"node":"Execution Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-06-17T09:00:00.003-03:00","Readable date":"June 17th 2025, 9:00:00 am","Readable time":"9:00:00 am","Day of week":"Tuesday","Year":"2025","Month":"June","Day of month":"17","Hour":"09","Minute":"00","Second":"00","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"a4eb2f62-50c6-40b3-b7ca-cbfe29993f33","triggerCount":1,"shared":[{"createdAt":"2025-05-19T00:36:49.959Z","updatedAt":"2025-05-19T00:36:49.959Z","role":"workflow:owner","workflowId":"iEjPHPE3iHKRB4hP","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}