backups/[wf3]-atendimento-whatsapp-OMEdDiPjXVuC9Y8j.json
{"createdAt":"2025-06-04T17:04:27.750Z","updatedAt":"2026-01-13T17:27:21.792Z","id":"OMEdDiPjXVuC9Y8j","name":"[WF3] Atendimento WhatsApp","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"bcb5a971-ab27-45a0-aadc-2a89dd825602","name":"tipo_mensagem","value":"={{ $json.body.content_type }}","type":"string"},{"id":"67cee7b9-929e-4591-91e8-44b9a65d0bb5","name":"=numero_conversa","value":"={{ $json.body.conversation.contact_inbox.source_id }}","type":"string"},{"id":"bfadd523-669f-4d04-a1f4-bd3a0372f770","name":"nome_cliente","value":"={{ $json.body.conversation.meta.sender.name }}","type":"string"},{"id":"c9dbd257-2979-492b-a3e6-f936cc5115cd","name":"Timestamp","value":"={{ new Date($json.body.conversation.timestamp * 1000).toISOString() }}","type":"string"},{"id":"053bd299-ae94-4a24-a5e0-9466fd947be5","name":"conteudo_mensagem_text","value":"={{ $json.body.conversation.messages[0].processed_message_content }}","type":"string"},{"id":"5720ad0d-e009-47d9-a742-f24320c5e0be","name":"TIMEOUT","value":1,"type":"number"},{"id":"070ebb8d-94e8-4b47-b5e0-5d0485ea2c8c","name":"conversation_id","value":"={{ $json.body.conversation.id }}","type":"string"},{"id":"4742b3b1-ef97-4682-a92e-b47d3165a9d7","name":"account_id","value":"={{ $json.body.account.id }}","type":"string"},{"id":"0c98f973-3a36-4cb9-8a05-7025c960fad7","name":"FROM-ME-WINDOW","value":"120","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,-80],"id":"18628ae6-c2ce-4dc8-a382-7b20892f26d6","name":"dados principais"},{"parameters":{"dataToSave":{"values":[{"key":"[REDACTED]","value":"={{ $json.numero_conversa }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[528,-80],"id":"e6aa1353-afa2-4019-8cd9-4e4949589b3a","name":"Execution Data"},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"3cfc66c8-f1ba-489f-9b54-f8b1e35f61dd","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[3328,128],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"GrhDGRQtBxHoou7J","name":"apify"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"text":"=You are an advanced image description AI assistant . Your primary function is to provide detailed, accurate descriptions of images submitted through WhatsApp.\n\nCORE FUNCTIONALITY:\n- When presented with an image, you will analyze it thoroughly and provide a comprehensive description in English.\n- Your descriptions should capture both the obvious and subtle elements within the image.\n\nIMAGE DESCRIPTION GUIDELINES:\n- Begin with a broad overview of what the image contains\n- Describe key subjects, people, objects, and their relationships\n- Note significant visual elements such as colors, lighting, composition, and perspective\n- Identify any text visible in the image\n- Describe the setting or environment\n- Mention any notable actions or events taking place\n- Comment on mood, tone, or atmosphere when relevant\n- If applicable, identify landmarks, famous people, or cultural references\n\nRESPONSE FORMAT:\n- Start with \"Image Description:\" followed by your analysis\n- Structure your description in a logical manner (general to specific)\n- Use clear, precise language appropriate for visual description\n- Format longer descriptions with paragraphs to enhance readability\n- End with any notable observations that might require special attention\n\nLIMITATIONS:\n- If the image is blurry, low resolution, or difficult to interpret, acknowledge these limitations\n- If an image contains potentially sensitive content, provide a factual description without judgment\n- Do not make assumptions about elements that cannot be clearly determined\n\nYour descriptions should be informative, objective, and thorough, enabling someone who cannot see the image to form an accurate mental picture of its contents.","inputType":"base64","options":{"detail":"auto"}},"id":"cb4ee1cf-e3c0-4c43-b1c4-431bc1f415c4","name":"Analyze Image","type":"@n8n/n8n-nodes-langchain.openAi","position":[3568,128],"typeVersion":1.8,"credentials":{"openAiApi":{"id":"ANP2wjvRxYQi3nw5","name":"OpenAi account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"5c0c0b7c-1ec1-426d-80b9-308a43ad99b6","name":"Download Audio","type":"n8n-nodes-base.httpRequest","position":[3328,-176],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"GrhDGRQtBxHoou7J","name":"apify"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"d97a165f-ed52-4715-83b6-7c865365227a","name":"Transcribe Audio","type":"@n8n/n8n-nodes-langchain.openAi","position":[3568,-176],"typeVersion":1.8,"credentials":{"openAiApi":{"id":"ANP2wjvRxYQi3nw5","name":"OpenAi account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"ef7d4277-d033-459b-bd29-0d38f2c736aa","name":"Download File","type":"n8n-nodes-base.httpRequest","position":[3328,464],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"GrhDGRQtBxHoou7J","name":"apify"}}},{"parameters":{"operation":"pdf","options":{}},"id":"ae3d9b18-f046-43c8-883d-6e413105287f","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","position":[3584,464],"typeVersion":1},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].document.id }}"},"id":"6aabdc72-94dd-46d9-80d0-8b4848399ab8","name":"Get File Url","type":"n8n-nodes-base.whatsApp","position":[3104,464],"webhookId":"280bd5de-32d7-4d8f-93d2-e91e3b0bc161","typeVersion":1,"credentials":{"whatsAppApi":{"id":"PAFyf8P7UbHYrd6j","name":"WhatsApp account teste"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f52d2aaa-e0b2-45e5-8c4b-ceef42182a0d","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].document.mime_type }}","rightValue":"application/pdf"}]},"options":{}},"id":"ec502a21-e446-4310-a953-338969ae5941","name":"Only PDF File","type":"n8n-nodes-base.if","position":[2832,480],"typeVersion":2.2,"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"470271332838881","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"=Sorry but you can only send PDF files","additionalFields":{}},"id":"9e148000-f85d-4e74-aed4-7b4df06a35eb","name":"Incorrect format","type":"n8n-nodes-base.whatsApp","position":[3104,704],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1,"credentials":{"whatsAppApi":{"id":"PAFyf8P7UbHYrd6j","name":"WhatsApp account teste"}}},{"parameters":{"assignments":{"assignments":[{"id":"c53cd9f9-77c1-4331-98ff-bfc9bdf95a3c","name":"MESSAGE","type":"string","value":"={{ $('dados principais').item.json.conteudo_mensagem_text }}"}]},"options":{}},"id":"2f3823dd-c514-41b6-b68d-2b2013c89157","name":"Text","type":"n8n-nodes-base.set","position":[3840,-528],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"219577d5-b028-48fc-90be-980f4171ab68","name":"MESSAGE","type":"string","value":"={{ $json.text }}"}]},"options":{}},"id":"d93691c4-9192-4cdb-a24f-d0ee6d50e431","name":"Audio","type":"n8n-nodes-base.set","position":[3840,-176],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"MESSAGE","type":"string","value":"=User request on the image:\n{{ \"Describe the following image\" || $('WhatsApp Trigger').item.json.messages[0].image.caption }}\n\nImage description:\n{{ $json.content }}"}]},"options":{}},"id":"aadea625-b69a-4692-b22f-17200e166f5d","name":"Image","type":"n8n-nodes-base.set","position":[3824,128],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"MESSAGE","type":"string","value":"=User request on the file:\n{{ \"Describe this file\" || $('Only PDF File').item.json.messages[0].document.caption }}\n\nFile content:\n{{ $json.text }}"}]},"options":{}},"id":"6850f14a-1f6f-40cd-a1b1-fe3a2ccc7d03","name":"File","type":"n8n-nodes-base.set","position":[3840,464],"typeVersion":3.4},{"parameters":{"operation":"send","phoneNumberId":"=470271332838881","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"=You can only send text messages, images, audio files and PDF documents.","additionalFields":{}},"id":"791c90d9-9d15-4a8d-995f-8681f9c5caeb","name":"Not supported","type":"n8n-nodes-base.whatsApp","position":[2352,368],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1,"credentials":{"whatsAppApi":{"id":"PAFyf8P7UbHYrd6j","name":"WhatsApp account teste"}},"disabled":true},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"},"id":"a1255d24-5513-4a63-93b4-d34e9a93efe2","name":"Get Image Url","type":"n8n-nodes-base.whatsApp","position":[3088,128],"webhookId":"280bd5de-32d7-4d8f-93d2-e91e3b0bc161","typeVersion":1,"credentials":{"whatsAppApi":{"id":"PAFyf8P7UbHYrd6j","name":"WhatsApp account teste"}}},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"},"id":"7cd65e52-6771-4450-a041-665c21cf8a1d","name":"Get Audio Url","type":"n8n-nodes-base.whatsApp","position":[3072,-176],"webhookId":"87caa300-7204-47b5-959a-94f4a8fbf8cf","typeVersion":1,"credentials":{"whatsAppApi":{"id":"PAFyf8P7UbHYrd6j","name":"WhatsApp account teste"}}},{"parameters":{"content":"## Voice","height":240,"width":1340},"id":"c9993451-abda-4f75-8617-4a241c66890d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[2288,-240],"typeVersion":1},{"parameters":{"content":"## Image","height":240,"width":1340},"id":"b9cfdbad-5149-4fa1-b8b3-3c9b87203ec8","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2288,80],"typeVersion":1},{"parameters":{"content":"## Document","height":240,"width":1340},"id":"38af4460-5ed6-49ab-af9f-e144a55d4f8d","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2288,432],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"08fd0c80-307e-4f45-b1de-35192ee4ec5e","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"text"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"b7b64446-f1ea-4622-990c-22f3999a8269","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"Voice"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"202af928-a324-411a-bf15-68a349e7bf9e","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"Image"}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"c63299e9-6069-4bc6-afb9-7beebf6e3d69","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"Document"}],"combinator":"and"},"renameOutput":true,"outputKey":"Document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5d3f388-9922-4907-aafb-d70a3f43e8bc","leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"button","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"button"}]},"options":{"fallbackOutput":"extra"}},"id":"dd219907-4d7c-46da-bff6-f44ae49a5509","name":"Input type","type":"n8n-nodes-base.switch","position":[2240,32],"typeVersion":3.2},{"parameters":{"content":"## Text","height":240,"width":1340},"id":"018ce3d4-86c8-4c6c-a131-d49b73e859d4","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2288,-560],"typeVersion":1},{"parameters":{"amount":"={{ $('dados principais').item.json.TIMEOUT }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5232,128],"id":"27ec168d-e778-4935-a0a6-e79d59ec0b18","name":"TIMEOUT","webhookId":"43deaaad-faa9-4ade-a67b-62ccd56e4e54"},{"parameters":{"assignments":{"assignments":[{"id":"3c40911c-4a85-4ed2-b208-5004d9100ec2","name":"final_user_message","value":"={{ $json.final_user_message }}","type":"string"},{"id":"d04ce290-dc16-4c02-9da8-299be77d590c","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6480,144],"id":"bf846537-9446-452d-bb4c-884e020fa5e6","name":"Guardar Mensagem Final do Usuário"},{"parameters":{"operation":"get","key":"[REDACTED]","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5440,128],"id":"0288f271-6737-4265-a4fa-5069597b7e28","name":"GET FINAL DEBOUNCE VALUE","credentials":{"redis":{"id":"bNnZmMJJpZELOsI6","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2539a6bb-4bc5-419b-85d6-a2a456b14cca","leftValue":"={{ $now.toISO() }}","rightValue":"={{ $json.propertyName }}","operator":{"type":"dateTime","operation":"afterOrEquals"}},{"id":"4b43c656-7f85-476b-b670-c53794fea280","leftValue":"={{ $json.propertyName }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5664,128],"id":"71738373-27d1-464d-a2ca-2aa94f72567b","name":"IS BATCH READY FOR PROCESSING?"},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5888,128],"id":"9c2e67f1-56ef-4fc9-ae90-8194c2af1efd","name":"DELETE CONTROL TIMER KEY","credentials":{"redis":{"id":"bNnZmMJJpZELOsI6","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"value","key":"[REDACTED]","options":{}},"name":"GET Acumulador Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4560,128],"id":"1bd8fcca-0249-4327-a475-1bf153fe0996","credentials":{"redis":{"id":"bNnZmMJJpZELOsI6","name":"Redis account"}}},{"parameters":{"jsCode":"// Recupera o array anterior salvo em Redis (via nó GET)\nconst current = JSON.parse($json.value || '[]');\n\n// Função para tentar acessar o .MESSAGE de um nó sem causar erro\nfunction getSafeMessage(nodeName) {\n  try {\n    const nodeData = $(nodeName).first();\n    return nodeData?.json?.MESSAGE || null;\n  } catch (err) {\n    return null;\n  }\n}\n\n// Tenta resgatar a mensagem do primeiro nó que estiver disponível\nconst nova =\n  getSafeMessage('Text') ||\n  getSafeMessage('Audio') ||\n  getSafeMessage('Image') ||\n  getSafeMessage('File') ||\n  getSafeMessage('button') ||\n  '';\n\n// Adiciona ao array\ncurrent.push(nova);\n\n// Retorna o array atualizado\nreturn [{ json: { updatedList: current } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4848,144],"id":"3f7f8938-531a-4b2f-bd5b-ca024b3b4fff","name":"Code3"},{"parameters":{"operation":"set","key":"[REDACTED]","value":"={{ JSON.stringify($json.updatedList) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5040,144],"id":"6efbdc6c-ad76-4bdd-a835-3744f6289f10","name":"Redis3","credentials":{"redis":{"id":"bNnZmMJJpZELOsI6","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"value","key":"[REDACTED]","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[6112,128],"id":"75fa554d-8fcf-4d35-83b3-bded729ccebf","name":"Redis4","credentials":{"redis":{"id":"bNnZmMJJpZELOsI6","name":"Redis account"}}},{"parameters":{"jsCode":"const arr = JSON.parse($json.value || \"[]\");\nconst finalMsg = arr.join(\" \");\nreturn [{ json: { final_user_message: finalMsg } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6320,128],"id":"d6a0d6c8-f094-4a6e-8adc-2e96ce6c2964","name":"Code4"},{"parameters":{"assignments":{"assignments":[{"id":"26fb2457-2dff-49d3-b7b4-256028ba1a05","name":"messages","value":"={{ $json.result.split(\"\\n\\n\") }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[12032,224],"id":"a7b43e7f-546f-45ed-915e-a3afe6c2de19","name":"Reposta da orquestra"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[13344,368],"id":"17aaf4f1-ac30-474b-a4ea-d39e0cf05471","name":"Limit"},{"parameters":{"fieldToSplitOut":"messages","options":{}},"id":"b184ab6b-d4b0-412e-ae76-adb5e70bc267","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[12448,256]},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[13824,448],"id":"d3fdfd4a-226d-4024-ae96-46c09bba5567","name":"Redis6","credentials":{"redis":{"id":"bNnZmMJJpZELOsI6","name":"Redis account"}}},{"parameters":{"operation":"get","tableId":"contatos_empresa","filters":{"conditions":[{"keyName":"valor_contato","keyValue":"={{ $('dados principais').item.json.numero_conversa }}"},{"keyName":"tipo_contato","keyValue":"whatsapp"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6720,144],"id":"818d7d73-2123-4285-959b-96c32414dce2","name":"BuscarContatoEAssociarEmpresa","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca894466-d2f0-4447-963b-92accdfa554b","leftValue":"={{ $json.valor_contato }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6944,144],"id":"d6825ef9-d51f-4356-8369-3ec5b0a1c50d","name":"If"},{"parameters":{"operation":"get","tableId":"contatos_empresa","filters":{"conditions":[{"keyName":"valor_contato","keyValue":"={{ $json.formatando_numero_tentativa_2 }}"},{"keyName":"tipo_contato","keyValue":"whatsapp"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[7392,240],"id":"0f065170-838e-401a-ab17-3fc88e39f4c2","name":"BuscarContatoEAssociarEmpresa1","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"jsCode":"// Obtém o número original\nlet numeroOriginal = $('dados principais').first().json.numero_conversa;\n\n// Verifica se o número tem o formato correto (ex: 55 + DDD + número)\nlet ddd = numeroOriginal.slice(2, 4);\nlet numeroSemPrefixo = numeroOriginal.slice(4);\n\n// Se o número tem 9 dígitos após o DDD, remove o 9 extra\nif (numeroSemPrefixo.length === 9 && numeroSemPrefixo.startsWith('9')) {\n  numeroSemPrefixo = numeroSemPrefixo.slice(1); // Remove o 9\n}\n\n// Se o número tem só 8 dígitos, adiciona o 9\nif (numeroSemPrefixo.length === 8) {\n  numeroSemPrefixo = '9' + numeroSemPrefixo;\n}\n\n// Monta novamente o número formatado\nlet formatando_numero_tentativa_2 = '55' + ddd + numeroSemPrefixo;\n\n// Retorna como output\nreturn {\n  formatando_numero_tentativa_2\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7168,208],"id":"938f9836-6bcb-4670-8716-c2b753a9205f","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[7600,144],"id":"626f4509-28a2-4513-a06b-b200e768bac4","name":"Merge"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    id as interacao_id,\n    log_resumido_ia as sumario_anterior, \n    status_interacao,\n    id_evento_erro as id_evento_erro_ativo_inicio_conversa,\n    contato_utilizado -- Adicionando para referência, se necessário\nFROM \n    interacoes\nWHERE \n    empresa_id = {{ $('Merge').first().json.empresa_id }} -- Vindo do Nó 2 (que buscou na tabela empresas)\n    AND contato_utilizado = '{{ $('Merge').first().json.valor_contato }}' -- Vindo do Nó 1 (ExtrairDadosWebhookWhatsApp)\n    AND canal = 'whatsapp'\n    AND status_interacao NOT IN (\n        'finalizada_com_sucesso', \n        'finalizada_sem_interesse', \n        'finalizada_optout', \n        'encaminhada_humano_resolvida', \n        'agendamento_cancelado_lead',   \n        'agendamento_cancelado_sistema'\n        -- Adicione TODOS os seus status de interação que são considerados \"finais\" ou \"fechados\"\n    )\nORDER BY \n    timestamp_criacao DESC \nLIMIT 1;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[8512,144],"id":"3e39fbd8-ad39-4e3a-a23b-10491f11633f","name":"BuscarInteracaoAtivaExistente_SQL","alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b04511b9-8466-4e8e-aace-cfeb10ed4df2","leftValue":"={{ $items(\"BuscarInteracaoAtivaExistente_SQL\").filter(item => Object.keys(item.json).length > 0).length > 0 }}","rightValue":1,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8928,144],"id":"a042e466-01da-452f-9441-e608f9e1950e","name":"If1"},{"parameters":{"tableId":"interacoes","fieldsUi":{"fieldValues":[{"fieldId":"empresa_id","fieldValue":"={{ $('Merge').first().json.empresa_id }}"},{"fieldId":"canal","fieldValue":"whatsapp"},{"fieldId":"timestamp_criacao","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"status_interacao","fieldValue":"ativa"},{"fieldId":"contato_id","fieldValue":"={{ $('Merge').first().json.id }}"},{"fieldId":"contato_utilizado","fieldValue":"={{ $('Merge').first().json.valor_contato }}"},{"fieldId":"id_evento_erro","fieldValue":"={{ $('Empresa').item.json.id_evento_erro_atual }}"},{"fieldId":"timestamp_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[9152,208],"id":"109508a9-b8e2-4d7f-8394-327f50aac28b","name":"CriarNovaInteracao","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"get","tableId":"empresas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Merge').first().json.empresa_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[8192,144],"id":"6a9e57ef-eb3e-400d-b5b0-16bd51e07285","name":"Empresa","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"assignments":{"assignments":[{"id":"4bc7fe36-8939-4b5a-a873-42d67dedada4","name":"interacao_atual_id","value":"={{ $json.id }}","type":"string"},{"id":"a6728cef-2fd5-4491-8f66-81f5913817e2","name":"sumario_conversa_anterior","value":"={{ $json.log_resumido_ia }}","type":"string"},{"id":"29c8296a-68d3-4138-b88a-baf4b5e08c84","name":"status_interacao_atual","value":"={{ $json.status_interacao }}","type":"string"},{"id":"74ffd40b-c14d-48d2-87df-a63917fd2373","name":"id_evento_erro_contexto_conversa","value":"={{ $json.id_evento_erro }}","type":"string"},{"id":"4aaab333-3bb3-4751-b901-a711e26590b3","name":"foi_criada_nova_interacao","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[9360,208],"id":"2297b903-b02b-4174-b383-a214943eea39","name":"CriarNovaInteracao1"},{"parameters":{"assignments":{"assignments":[{"id":"a6728cef-2fd5-4491-8f66-81f5913817e2","name":"sumario_conversa_anterior","value":"={{ $json.sumario_anterior }}","type":"string"},{"id":"29c8296a-68d3-4138-b88a-baf4b5e08c84","name":"status_interacao_atual","value":"={{ $json.status_interacao }}","type":"string"},{"id":"74ffd40b-c14d-48d2-87df-a63917fd2373","name":"id_evento_erro_contexto_conversa","value":"={{ $json.id_evento_erro_ativo_inicio_conversa }}","type":"string"},{"id":"4aaab333-3bb3-4751-b901-a711e26590b3","name":"foi_criada_nova_interacao","value":false,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[9360,0],"id":"a30a3e29-cb82-4a68-a8e6-e17467b05773","name":"CriarNovaInteracao2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[9584,144],"id":"b4b0f780-407a-4860-bdf1-3b2e0c56856c","name":"Merge1"},{"parameters":{"operation":"get","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id_evento_erro_atual }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[8336,144],"id":"a9ff2c30-5d72-4729-9c06-80acd1e0c3d1","name":"Buscar Erro","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}},"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=**Input Disponível no Contexto (Fornecido pelo N8N):**\n*   `mensagem_lead_atual`: \"{{ $('Guardar Mensagem Final do Usuário').first().json.final_user_message }}\"\n*   `resposta_dot_enviada`: \"{{ $('Dot').item.json.output }}\" {/* A resposta que o Dot (Nó 4) gerou e foi enviada */}\n*   `sumario_anterior_texto`: \"{{ $('Merge1').item.json.sumario_conversa_anterior }}\"\n*   `timestamp_interacao_atual_iso`: \"{{ $now.toISO() }}\"","options":{"systemMessage":"=<system_prompt>\nVOCÊ É UM ANALISTA DE CONVERSA ESPECIALISTA EM ATUALIZAR O ESTADO DE UM DIÁLOGO NO WHATSAPP ENTRE O ASSISTENTE DOT (DA DIGITAL PIXEL) E UM LEAD. SUA TAREFA É RECEBER A ÚLTIMA INTERAÇÃO (MENSAGEM DO LEAD + RESPOSTA DO DOT) E O SUMÁRIO ANTERIOR DA CONVERSA PARA GERAR UM NOVO SUMÁRIO ATUALIZADO MANTENDO AS CHAVES CONSISTENTES DO ANTERIOR, O NOVO STATUS DA INTERAÇÃO E UMA FLAG DE AÇÃO PARA CRIAÇÃO DE LEAD NO BITRIX, CASO UM AGENDAMENTO TENHA SIDO REALIZADO.\n\nA SUA SAÍDA DEVE SER EXCLUSIVAMENTE UM OBJETO JSON.\n\nCHAVES COMUNS PARA O SUMÁRIO TEXTUAL (FORMATO: \"Chave: Valor | Chave2: Valor2 | ...\"):\nStatusInteracao: DEFINIDO COM BASE NA SUA ANÁLISE\nUltimaMensagemUsuarioTimestamp: USE timestamp_interacao_atual_iso SE mensagem_lead_atual NÃO ESTIVER VAZIA\nUltimaMensagemAgenteTimestamp: USE timestamp_interacao_atual_iso SE resposta_dot_enviada NÃO ESTIVER VAZIA\nUltimoAgenteN8NProcessou: \"AgenteIA_ConversacionalComTools\"\nIntencaoPrincipalDetectada: EX: \"OptOut\", \"SolicitacaoAgendamento\", \"PerguntaKB\", \"EncaminhamentoHumano\", \"ConversaGeral\"\nNomeLead: SE IDENTIFICADO NA INTERAÇÃO\nEmailLead: SE IDENTIFICADO NA INTERAÇÃO\nTelefoneLead: SE IDENTIFICADO NA INTERAÇÃO\nDetalhesAgendamento: SE A CONVERSA ENVOLVER AGENDAMENTO, RESUMO DO ESTADO\nLeadPediuOptOut: true/false\nLeadEncaminhadoHumano: true/false (PODE INCLUIR MOTIVO)\nInteresseContatoPosterior: DETALHES, SE INFERÍVEL\nConsultaKBRealizada: TERMOS USADOS, SE A RESPOSTA DOT USAR CONHECIMENTO DA KB\nnovoLeadBitrix: true SE A CONVERSA INDICAR QUE UM AGENDAMENTO FOI CONFIRMADO OU INICIADO\nTAREFA PRINCIPAL:\nENTENDER A INTERAÇÃO ATUAL: Analise mensagem_lead_atual e resposta_dot_enviada à luz do sumario_anterior_texto.\nEXTRAIR DADOS DO LEAD: Se houver nome, e-mail ou telefone, inclua/atualize as respectivas chaves.\nINFERIR A INTENÇÃO PRINCIPAL: Classifique a intenção dominante da troca.\nDETERMINAR novo_status_interacao_db (RESTRITO AOS VALORES PERMITIDOS PELO BANCO DE DADOS):\nVOCÊ DEVE ESCOLHER UM DOS SEGUINTES STATUS VÁLIDOS:\n\n[\"ativa\", \"aguardando_lead\", \"aguardando_agente_ia\", \"agendamento_solicitado\", \"agendamento_em_progresso_tool\", \"agendamento_confirmado_ia\", \"agendamento_cancelado_lead\", \"agendamento_cancelado_sistema\", \"encaminhada_humano_pendente\", \"encaminhada_humano_resolvida\", \"finalizada_optout\", \"finalizada_sem_interesse\", \"finalizada_com_sucesso_agendamento\", \"finalizada_outro\", \"followup_solicitado_pelo_lead\"]\n\nUTILIZE AS REGRAS A SEGUIR PARA INFERIR O STATUS:\n\nSe a resposta_dot_enviada contiver um link de WhatsApp (ex: wa.me/...) ou um link de ligação do Bitrix, indicando que o próximo passo é o contato humano → \"encaminhada_humano_pendente\". Defina também LeadEncaminhadoHumano: true.\nSe o lead pede explicitamente para falar com um humano na mensagem_lead_atual, mas o bot ainda não enviou o link de contato na resposta_dot_enviada → use \"aguardando_agente_ia\" e defina a IntencaoPrincipalDetectada como \"EncaminhamentoHumano\".\nSe a resposta_dot_enviada confirma um opt-out → \"finalizada_optout\".\nSe a resposta_dot_enviada ou o sumário indicam a confirmação final de um agendamento → \"finalizada_com_sucesso_agendamento\".\nSe um agendamento foi iniciado (ex: bot pediu dados ou horários), mas ainda está pendente de confirmação final → \"agendamento_confirmado_ia\".\nSe o bot fez uma pergunta e agora aguarda uma resposta do lead para continuar → \"aguardando_lead\".\nSe o cancelamento do agendamento for confirmado pelo lead → \"agendamento_cancelado_lead\".\nPara qualquer outra situação de conversa fluindo sem uma ação específica pendente → \"ativa\".\nATUALIZAR novo_sumario_texto:\nMANTENHA DADOS RELEVANTES DO sumario_anterior_texto.\nATUALIZE OU INCLUA as chaves relevantes da nova interação.\nGARANTA A INSERÇÃO DA INTENÇÃO DETECTADA.\nATUALIZE TIMESTAMPS CONFORME NECESSÁRIO.\nDEFINIR novoLeadBitrix:\nDEFINA COMO true SE O SUMÁRIO TEXTUAL MOSTRAR UM AGENDAMENTO CONFIRMADO OU INICIADO.\nCASO CONTRÁRIO, DEFINA COMO false.\nFORMATO OBRIGATÓRIO DA SAÍDA (APENAS JSON):\nJSON\n\n{\n  \"novo_sumario_texto\": \"StatusInteracao: ativa | UltimaMensagemUsuarioTimestamp: 2025-05-23T15:00:00Z | NomeLead: João Silva | DetalhesAgendamento: Lead pediu para agendar para amanhã. Dot perguntou melhor horário. | IntencaoPrincipalDetectada: SolicitacaoAgendamento\",\n  \"novo_status_interacao_db\": \"agendamento_confirmado_ia\",\n  \"novoLeadBitrix\": true\n}\nO QUE NÃO FAZER:\nNUNCA INCLUIR TEXTOS FORA DO JSON FINAL.\nNÃO OMITA CHAVES CRÍTICAS COMO StatusInteracao, IntencaoPrincipalDetectada, ou UltimaMensagemUsuarioTimestamp.\nNUNCA GERAR novoLeadBitrix: true SE A CONVERSA NÃO INDICAR CLARAMENTE UM AGENDAMENTO.\nNÃO PRESUMA DADOS DO LEAD SEM EVIDÊNCIA EXPLÍCITA NA INTERAÇÃO.\nEVITE FORMATOS DIFERENTES DO MODELO DE SAÍDA ESPECIFICADO.\nNÃO INSIRA COMENTÁRIOS OU EXPLICAÇÕES JUNTO COM O JSON DE RESPOSTA.\nFEW-SHOT EXEMPLOS:\nEntrada (parcial):\n\nmensagem_lead_atual: \"Quero marcar uma conversa amanhã\"\nresposta_dot_enviada: \"Claro! Qual horário seria melhor para você?\"\nsumario_anterior_texto: \"StatusInteracao: ativa | NomeLead: Maria |\"\nSaída esperada:\n\nJSON\n\n{\n  \"novo_sumario_texto\": \"StatusInteracao: agendamento_confirmado_ia | NomeLead: Maria | DetalhesAgendamento: Lead pediu para agendar para amanhã. Dot perguntou melhor horário. | IntencaoPrincipalDetectada: SolicitacaoAgendamento | UltimaMensagemUsuarioTimestamp: 2025-05-23T15:00:00Z | UltimaMensagemAgenteTimestamp: 2025-05-23T15:00:00Z\",\n  \"novo_status_interacao_db\": \"agendamento_confirmado_ia\",\n  \"novoLeadBitrix\": true\n}\n</system_prompt>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[14048,448],"id":"5a909f1a-f55c-4d08-bda1-ddf1ce267164","name":"AgenteIA_Sumarizador"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[14032,640],"id":"b46160c3-9879-4cc8-a4dc-7d67561eeb8f","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"ANP2wjvRxYQi3nw5","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Recebe a string da chave \"output\"\nconst outputString = $input.first().json.output;\n\n// Limpa a string removendo os blocos markdown ```json ... ```\nlet cleanedOutputString = outputString.trim();\n\nif (cleanedOutputString.startsWith(\"```\")) {\n  cleanedOutputString = cleanedOutputString.split(\"\\n\").slice(1, -1).join(\"\\n\");\n}\n\nlet output;\n\ntry {\n  output = JSON.parse(cleanedOutputString);\n} catch (e) {\n  console.error(\"Erro ao fazer parse do JSON:\", e);\n  return [{ json: { update_payload: {} } }];\n}\n\n// Verifica se os campos esperados existem\nif (\n  !output ||\n  typeof output.novo_sumario_texto === 'undefined' ||\n  typeof output.novo_status_interacao_db === 'undefined'\n) {\n  console.error(\"Erro: Campos esperados não encontrados.\");\n  return [{ json: { update_payload: {} } }];\n}\n\n// Extrai os dados\nconst novoSumarioTexto = output.novo_sumario_texto;\nconst novoStatusInteracao = output.novo_status_interacao_db;\n\n// Prepara o payload para update\nconst dadosParaUpdate = {\n  log_resumido_ia: novoSumarioTexto,\n  status_interacao: novoStatusInteracao,\n  data_ultima_atualizacao: new Date().toISOString()\n};\n\n// Retorna o payload\nreturn [{\n  json: {\n    update_payload: dadosParaUpdate\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[14432,448],"id":"edae9a3e-80c5-42da-b654-306b7fc1c2fe","name":"Code1"},{"parameters":{"operation":"update","tableId":"interacoes","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Merge1').item.json.interacao_atual_id || $('BuscarInteracaoAtivaExistente_SQL').item.json.interacao_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"log_resumido_ia","fieldValue":"={{ $json.update_payload.log_resumido_ia }}"},{"fieldId":"status_interacao","fieldValue":"={{ $json.update_payload.status_interacao }}"},{"fieldId":"ultima_mensagem_usuario_timestamp","fieldValue":"={{ $json.update_payload.data_ultima_atualizacao }}"},{"fieldId":"ultima_mensagem_agente_timestamp","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"timestamp_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[14640,448],"id":"261f85e2-c431-4f4b-91fd-933bf0052f73","name":"AtualizarInteracaoNoSupabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM agendamentos\nWHERE empresa_id = {{ $('Empresa').first().json.id }}\n  AND start_time > now()\nORDER BY id DESC\nLIMIT 1;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[10880,160],"id":"aee19b1b-80d5-4135-94df-9faf00a73633","name":"Buscar Agenda","alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c490fb7b-c226-4462-99b3-51c0cbcfd6e8","leftValue":"={{ $json.foi_criada_nova_interacao }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9808,144],"id":"17c87a81-e3f4-4dae-a7e2-916d433d830e","name":"foi criada nova interção?"},{"parameters":{"operation":"delete","tableId":"interacoes","filters":{"conditions":[{"keyName":"contato_utilizado","condition":"eq","keyValue":"={{ $('Merge').first().json.valor_contato }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[7968,-400],"id":"9db10809-54ae-4fe7-8a69-427e9a13e978","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('dados principais').item.json.conteudo_mensagem_text }}","rightValue":"PROATIVO","operator":{"type":"string","operation":"contains"},"id":"5915b6a7-4171-4d74-9d89-cf7cf0794bfc"}],"combinator":"and"},"renameOutput":true,"outputKey":"PROATIVO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45ed2dcb-d334-4c95-a1f2-05ffd6dd0218","leftValue":"={{ $('dados principais').item.json.conteudo_mensagem_text }}","rightValue":"REATIVO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"REATIVO"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[7744,-176],"id":"c3d6f72c-8348-4d5b-b9cb-e29f10548409","name":"Switch"},{"parameters":{"operation":"delete","tableId":"interacoes","filters":{"conditions":[{"keyName":"contato_utilizado","condition":"eq","keyValue":"={{ $('Merge').first().json.valor_contato }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[8304,-128],"id":"170eceea-1442-480d-869a-fae6abca1c56","name":"Supabase2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"delete","tableId":"n8n_chat_histories","filters":{"conditions":[{"keyName":"session_id","condition":"eq","keyValue":"={{ $('Merge').item.json.valor_contato }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[8528,-128],"id":"6055d562-9792-43d1-95a0-f0f6a59f3e03","name":"Supabase3","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[8944,-16],"id":"97e9600a-58c2-47ae-a984-13bf72a4bd30","name":"Redis1","credentials":{"redis":{"id":"bNnZmMJJpZELOsI6","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"822470a7-4cfe-4301-b56d-827cc4b85152","leftValue":"={{ $json.status_interacao }}","rightValue":"encaminhada_humano_pendente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"34a2c3b4-4459-4995-a641-31453202a64d","leftValue":"={{ $json.status_interacao }}","rightValue":"finalizada_optout","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8704,128],"id":"15059aa5-e56b-4a41-83f3-f441cc6a4e1f","name":"If2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[10912,464],"id":"b60fce44-9d2b-4afe-9565-f85b2c1c7b5f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ANP2wjvRxYQi3nw5","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('dados principais').first().json.numero_conversa }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[11024,528],"id":"bdcef0be-0953-4561-bb0d-3711f238f8b1","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"description":"chamar quando o lead não quiser mais receber notificações do sistema","workflowId":{"__rl":true,"value":"d1MDOBlTYfuleb2i","mode":"list","cachedResultName":"[Tool] processar_opt_out"},"workflowInputs":{"mappingMode":"defineBelow","value":{"empresa_id":"={{ $('Merge').first().json.empresa_id }}","contato_id_db":"={{ $('Merge').first().json.id }}","numero_remetente_limpo":"={{ $('Merge').first().json.valor_contato }}","interacao_id":"={{ $('Merge1').item.json.interacao_atual_id || $('BuscarInteracaoAtivaExistente_SQL').item.json.interacao_id}}"},"matchingColumns":[],"schema":[{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contato_id_db","displayName":"contato_id_db","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"numero_remetente_limpo","displayName":"numero_remetente_limpo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"interacao_id","displayName":"interacao_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[11168,560],"id":"32fb3240-613e-4938-b48b-fec09822ee8f","name":"processar_opt_out"},{"parameters":{"description":"Use SOMENTE quando o lead, APÓS ser informado sobre a opção de contato imediato (link Bitrix) E essa opção ter sido recusada ou não utilizada, expressar preferência por agendar uma conversa para um horário FUTURO. CRÍTICO: Antes de usar a operação 'criar_agendamento' desta ferramenta, CERTIFIQUE-SE de ter obtido e CONFIRMADO explicitamente com o lead: NOME, E-MAIL e DATA/HORA do agendamento. Se esses dados não foram coletados, SOLICITE-OS PRIMEIRO. Não invente dados. Ações incluem: verificar disponibilidade, criar novo agendamento (COM DADOS COMPLETOS E CONFIRMADOS), confirmar ou cancelar agendamento existente. NÃO USE para o primeiro pedido de ligação se a opção de contato imediato não foi oferecida e recusada.","workflowId":{"__rl":true,"value":"OMtvbCzy2dUP1u5j","mode":"list","cachedResultName":"[Tool] Agendamento Actions"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Nome: {nome do cliente perguntado e confirmado}\\nEmail:{email do cliente perguntado e confirmado}\\nDomínio: {dominiio da empresa}\\nErro:{erro}`, 'string') }}","operacao":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('operacao', `A operação de agendamento desejada. Valores possíveis: 'verificar_disponibilidade', 'criar_agendamento', 'confirmar_agendamento' 'cancelar_agendamento'`, 'string') }}","Start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `sempre use o formato iso para enviar a data confirmada pelo lead, se for checar diponibilidade data de incio da pesquisa `, 'string') }}","End":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `sempre use o formato iso para enviar a data confirmada pelo lead, se for checar diponibilidade data de fim da pesquisa `, 'string') }}","Summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `[Nome Empresa - Nome do Contato Confirmado] - Erro [Cod Erro]`, 'string') }}","telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}","conversation_id":"={{ $('Merge1').first().json.interacao_atual_id ||  $('BuscarInteracaoAtivaExistente_SQL').item.json.interacao_id}}","user_id":"={{ $('Empresa').first().json.id }}","appointment_id":"={{ $json.id }} ","google_calendar_event_id":"={{ $json.google_calender_event_id }}","email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', `email EXATAMENTE como o cliente informou e confirmou`, 'string') }}","nome":"={{ $fromAI('nome', `nome EXATAMENTE como o cliente informou e confirmou`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"operacao","displayName":"operacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Start","displayName":"Start","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"End","displayName":"End","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"appointment_id","displayName":"appointment_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"google_calendar_event_id","displayName":"google_calendar_event_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"novo_status","displayName":"novo_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"durationMinutes","displayName":"durationMinutes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"bufferMinutes","displayName":"bufferMinutes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[11264,752],"id":"5d5d8ecb-ec2a-4541-9dbd-5da35a9cd66e","name":"gerenciar_agendamento_call"},{"parameters":{"description":"use para acessar o contato da digital pixel contato , faq geral ","workflowId":{"__rl":true,"value":"6eEzbcMnW5LdmowJ","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"kbtype":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('kbtype', `por enquanto temos apenas o \\\"contato\\\"`, 'string') }}"},"matchingColumns":["kbtype"],"schema":[{"id":"kbtype","displayName":"kbtype","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[11392,608],"id":"f79fc3aa-5baf-4be5-bb27-b2dd86f14d5a","name":"consultar_base_de_conhecimento"},{"parameters":{"description":"=Use essa ferramenta apenas 1 vez por turno","workflowId":{"__rl":true,"value":"nWF6AbuKNoLZI91v","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"motivo_escalonamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('motivo_escalonamento', `explique o motivo`, 'string') }}","contato_id":"={{ $('Merge').first().json.id }}","nome_whatsapp":"={{ $fromAI('nome_whatsapp', ``, 'string') }}","nome_cliente":"={{ $('dados principais').first().json.nome_cliente }}","status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', `Teremos apenas 2 status link_bitrix e solicitar_atendimento_humano`, 'string') }}","telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}","email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"motivo_escalonamento","displayName":"motivo_escalonamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome_whatsapp","displayName":"nome_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome_cliente","displayName":"nome_cliente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[11680,704],"id":"7755d2d9-3c94-4dd1-a46d-6ebcad45d235","name":"[REDACTED]"},{"parameters":{"description":"Use como ALTERNATIVA se o lead preferir conversar depois e resistir ao agendamento imediato de uma call. Tente obter uma janela de tempo","workflowId":{"__rl":true,"value":"BCs7OLx0YUwY1kFD","mode":"list","cachedResultName":"[Tool] RegistrarContatoPosterior"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sugestao_horario_lead":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sugestao_horario_lead', `enviar no fornmato iso, se o cliente não especificar enviar 24h depois do horario de agora`, 'string') }}","observacao":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('observacao', ``, 'string') }}","contato_id":"={{ $('Merge').first().json.id }}","empresa_id":"={{ $('Merge').first().json.empresa_id }}","insteracao_id":"={{ $('Merge1').item.json.interacao_atual_id || $('BuscarInteracaoAtivaExistente_SQL').item.json.interacao_id}}"},"matchingColumns":[],"schema":[{"id":"sugestao_horario_lead","displayName":"sugestao_horario_lead","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"observacao","displayName":"observacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"insteracao_id","displayName":"insteracao_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[11728,464],"id":"5a28d47f-da6c-4d60-9e6d-09b81a274e54","name":"registrar_interesse_contato_posterior"},{"parameters":{"promptType":"define","text":"={{ $('Guardar Mensagem Final do Usuário').first().json.final_user_message }}","options":{"systemMessage":"=VOCÊ É DOT, UM ASSISTENTE VIRTUAL AVANÇADO DA DIGITAL PIXEL. SEU PROPÓSITO É ATUAR COMO UM CONSULTOR TÉCNICO ESPECIALIZADO, COM FOCO TOTAL EM CONVERSÃO. SUA MISSÃO PRINCIPAL É CONDUZIR LEADS (QUE FORAM CONTATADOS SOBRE UM ERRO IDENTIFICADO EM SEUS SITES) A AGENDAR UMA CALL COM UM ESPECIALISTA DA DIGITAL PIXEL OU A OBTER AJUDA IMEDIATA ATRAVÉS DO LINK DE FORMULÁRIO BITRIX, QUANDO APROPRIADO E DESEJADO PELO LEAD. CADA INTERAÇÃO DEVE VISAR A TRANSFORMAÇÃO DO INTERESSE INICIAL EM UM COMPROMISSO CONCRETO: UM AGENDAMENTO CONFIRMADO OU UMA AÇÃO DIRETA DE CONTATO VIA BITRIX.\n\n🎯 OBJETIVOS PRINCIPAIS\nConversão Eficaz: Transformar o contato inicial sobre um erro em um agendamento de call qualificado ou em um direcionamento bem-sucedido para contato imediato via formulário Bitrix.\n\nColeta de Dados para Agendamento: Obter e confirmar NOME COMPLETO, E-MAIL VÁLIDO e TELEFONE DE CONTATO antes de criar qualquer agendamento.\n\nExperiência Positiva do Lead: Comunicar-se de forma clara, humana, eficiente e adaptada ao tom do lead, evitando frustrações.\n\nUso Inteligente do Horário de Funcionamento: Adaptar as opções de contato e as mensagens de acordo com o horário comercial, fora do horário comercial e fins de semana/feriados.\n\nRegra para uso de tools \n[REDACTED] essa tool só pode ser chamada 1 unica vez por interação\n\n### 🧠 **PRINCÍPIO DE COLETA DE DADOS INTELIGENTE (REGRA DE OURO)**\n\n**ANTES DE SOLICITAR QUALQUER DADO DO LEAD (NOME, E-MAIL, TELEFONE), VOCÊ DEVE OBRIGATORIAMENTE SEGUIR ESTE PROCESSO:**\n\n1. **VERIFICAR O SUMÁRIO:** Analise a variável `{{$('Merge1').item.json.sumario_conversa_anterior}}`.\n2. **IDENTIFICAR DADOS EXISTENTES:** Verifique se o nome, e-mail ou telefone do lead já estão presentes e claros no sumário.\n3. **AGIR DE FORMA INTELIGENTE:**\n    - **SE OS DADOS JÁ EXISTEM:** **NÃO PERGUNTE NOVAMENTE.** Em vez disso, prossiga para a próxima etapa do fluxo. Se julgar necessário, você pode confirmar os dados de forma breve. Exemplo: *\"Só para confirmar, seu e-mail é [email_do_sumario], correto?\"*\n    - **SE FALTAM DADOS PARCIALMENTE:** **PERGUNTE APENAS PELOS DADOS QUE FALTAM.** Exemplo: *\"Perfeito, [Nome do Lead]! Para continuarmos, só preciso do seu melhor e-mail, por favor.\"*\n    - **SE NENHUM DADO EXISTE:** Prossiga com a solicitação padrão, pedindo todas as informações necessárias.\n\nEsta regra se aplica a **TODOS** os cenários que envolvem coleta de dados (`CENÁRIO 1` e `CENÁRIO 2`).\n\n### 🧠 CADEIA DE RACIOCÍNIO OBRIGATÓRIA (CHAIN OF THOUGHTS)\n\nAntes de formular qualquer resposta, siga estes passos mentais em ordem estrita:\n\n1. **(PRIORIDADE MÁXIMA) VERIFICAÇÃO DE ESTADO DO DIÁLOGO:** Verifique qual foi a última pergunta feita por VOCÊ (DOT) e se a resposta atual do lead é o que era esperado.\n    - **SE** a sua última pergunta foi para pedir o **canal de preferência** (etapa 1 do `CENÁRIO 1`):\n        - **AÇÃO:** Trate a resposta atual como a escolha do canal. **PARE a análise aqui** e execute IMEDIATAMENTE a próxima etapa do `CENÁRIO 1`: **PASSO 2 (Coletar Dados).**\n    - **SE** você está no meio da coleta de **dados de atendimento** (etapa 2 do `CENÁRIO 1` ou `CENÁRIO 2`):\n        - **AÇÃO:** Trate a resposta atual como os dados fornecidos pelo lead. **PARE a análise aqui** e continue o fluxo correspondente.\n    - **SE NENHUMA DAS ANTERIORES**, prossiga para o passo 2.\n2. **(ANÁLISE DE NOVA INTENÇÃO) IDENTIFICAR NECESSIDADE PRINCIPAL:**\n    - **DETERMINAR ESTADO DE ATENDIMENTO:** Se necessário, defina o `ESTADO_ATENDIMENTO_ATUAL`.\n    - **CLASSIFICAR INTENÇÃO:**\n        - **Falar com um humano, ligação ou contato imediato?** (Ex: \"quero falar com um humano\", \"me liguem\", \"preciso de ajuda agora\") -> Ação: **iniciar CENÁRIO 1**.\n        - **Agendar uma call ou ajuda genérica?** (Ex: \"podemos marcar?\", \"como funciona?\") -> Ação: **iniciar CENÁRIO 2**.\n        - ... (demais cenários permanecem os mesmos).\n3. **(EXECUTAR AÇÃO):** Com base no cenário identificado, consulte as diretrizes, construa a resposta, selecione a ferramenta e execute a ação.\n\n🕰️ COMO DETERMINAR O ESTADO DE ATENDIMENTO ATUAL\nAntes de qualquer ação principal que dependa do horário, você DEVE determinar o estado de atendimento atual.\n\nObtenha os Dados de Funcionamento:\n\nA informação do horário de funcionamento padrão é fornecida em: {{ $('Buscar horário de funcionamento').first().json.kb_content }}.\n\nEste é um JSON com a estrutura: {\"descricao\": \"...\", \"dias_semana\": [LISTA_NUMEROS_DIAS_UTEIS], \"horario_inicio\": \"HH:MM\", \"horario_fim\": \"HH:MM\"}.\n\nExemplo de Interpretação: {\"dias_semana\": [1, 2, 3, 4, 5], \"horario_inicio\": \"09:00\", \"horario_fim\": \"17:00\"} significa que o atendimento padrão ocorre de Segunda (1) a Sexta (5), das 09:00 (inclusive) até as 17:00 (exclusive).\n\nData e Hora Atuais (Horário de Brasília):\n{{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd/MM/yyyy HH:mm:ss\") }}\n\n\nAssuma que você tem acesso à data e hora atuais no fuso horário de Brasília (GMT-3).\n\nConverta o dia da semana atual para um número: Segunda=1, Terça=2, Quarta=3, Quinta=4, Sexta=5, Sábado=6, Domingo=0.\n\nObtenha a hora atual no formato \"HH:MM\".\n\nDefina o ESTADO_ATENDIMENTO_ATUAL:\n\nSE o número do dia da semana atual ESTIVER PRESENTE na lista dias_semana do JSON:\n\nE SE a hora atual for MAIOR OU IGUAL a horario_inicio E MENOR que horario_fim:\n\nESTADO_ATENDIMENTO_ATUAL = HORARIO_COMERCIAL.\n\nSENÃO (está no dia da semana correto, mas fora do intervalo de horas):\n\nESTADO_ATENDIMENTO_ATUAL = FORA_DO_HORARIO_COMERCIAL.\n\nSENÃO (o número do dia da semana atual NÃO ESTIVER PRESENTE na lista dias_semana - ex: Sábado ou Domingo para o exemplo acima, ou um feriado nacional brasileiro se essa informação estiver disponível e indicar não funcionamento):\n\nESTADO_ATENDIMENTO_ATUAL = FORA_DE_DIA_UTIL.\n\nNota sobre Feriados: Se o sistema não fornecer uma indicação explícita de feriado, trate apenas Sábados e Domingos (ou dias fora de dias_semana) como FORA_DE_DIA_UTIL.\n\n🗂️ CONTEXTO AUTOMÁTICO (VARIÁVEIS DISPONÍVEIS)\nDomínio: {{ $('Empresa').first().json.dominio ?? 'N/A' }}\n\nErro (Tipo): {{ $('Buscar Erro').first().json.tipo_erro_site }}\n\nErro (Detalhes): {{ $('Buscar Erro').first().json.detalhes_erro_payload }}\n\nNome da Empresa: {{ $('Empresa').first().json.nome_empresa_gmn || $('Empresa').first().json.nome_empresa_pagina || $('dados principais').first().json.nome_cliente }}\n\nID da Empresa (para links): {{ $('Empresa').first().json.id }}\n\nDia da Cadência: {{ $('Buscar Erro').first().json.dia_atual_na_cadencia }}\n\nTelefone de Contato do Lead (WhatsApp): {{ $('Merge').first().json.valor_contato }}\n\nSumário da Conversa Anterior: {{$('Merge1').item.json.sumario_conversa_anterior ?? 'Lead está respondendo ao nosso contato inicial sobre o erro.' }}\n\nÉ a Primeira Resposta do Lead?: {{ $('Merge1').item.json.foi_criada_nova_interacao }} (true/false)\n\nAgora é {{ ['domingo','segunda-feira','terça-feira','quarta-feira','quinta-feira','sexta-feira','sábado'][new Date().getDay()] }} {{ new Date().getHours().toString().padStart(2, '0') + ':' + new Date().getMinutes().toString().padStart(2, '0') }}\n\nFormato iso de agora: {{ $now }}\n\nAgendamento Atual (se houver, usado APÓS a ferramenta criar_agendamento retornar sucesso): {{ new Date($json.start_time).toLocaleString(\"pt-BR\", { weekday: \"long\", year: \"numeric\", month: \"long\", day: \"numeric\", hour: \"2-digit\", minute: \"2-digit\", hour12: false }) || \"sem agendamento ainda\" }}\n\nDados de Horário de Funcionamento (JSON): {{ $('Buscar horário de funcionamento').first().json.kb_content }}\n\nLink Formulario Bitrix com rastreamento: Construído como https://n8n-n8n-start.5ikbes.easypanel.host/webhook/bitrix-form?empresa={{ $('Empresa').first().json.id }}&origem=formulario_bitrix_whatsapp (Referencie como  {link_rastreavel_bitrix_whatsapp} internamente para facilitar nas diretrizes de resposta)\n\nLink Google Calendar para Autoagendamento: Construído como https://n8n-n8n-start.5ikbes.easypanel.host/webhook/google-calender?empresa={{ $('Empresa').first().json.id }}&origem=google_calender_whatsapp (Referencie como  {link_google_calendar_autoagendamento} internamente para facilitar nas diretrizes de resposta. Atenção: valide se a estrutura deste URL está correta para o seu webhook, especialmente a parte empresa={{ $('Empresa').first().json.id }}.)\n\n💬 DIRETRIZES GERAIS DE COMUNICAÇÃO E COMPORTAMENTO\nLinguagem: Humana, clara, profissional, mas acessível. Evite jargões técnicos excessivos com o lead. Use frases curtas e com ritmo natural.\n\nTom: Adapte-se ao tom do lead (se formal, seja formal; se informal, seja levemente mais informal, mas sempre profissional). Seja empático e prestativo. Fale no condicional quando apropriado: \"posso te conectar\", \"nossa equipe pode te ajudar\", \"podemos analisar\".\n\nEmojis: NUNCA use emojis.\n\nRepetição de Erro: NÃO repita os detalhes do erro detectado (detalhes_erro_payload) a menos que o lead peça explicitamente. Se perguntar, use tipo_erro_site e detalhes_erro_payload para explicar brevemente.\n\nFoco Principal: Conduzir ao agendamento (com dados completos) OU ao contato via formulário Bitrix (oferecendo como primeira opção para contato imediato), A MENOS QUE o lead peça explicitamente para falar com um humano (CENÁRIO 0).\n\nPrimeira Interação:\n\nSE `{{ $('Merge1').item.json.foi_criada_nova_interacao }}` for `true`, sua primeira ação é analisar a mensagem do lead para identificar uma intenção imediata.\n\n- **(NOVA REGRA - PRIORIDADE MÁXIMA) Se a mensagem do lead for a primeira e contiver qualquer variação de recusa imediata ou desinteresse** (ex: \"Não tenho interesse\", \"não quero\", \"não me interessa\"), **AJA IMEDIATAMENTE** acionando a ferramenta `processar_opt_out` conforme suas diretrizes. **PARE a análise aqui.**\n- **Se a mensagem corresponder a qualquer um dos gatilhos definidos nos Cenários 0, 1, 2, 3, 4 ou 5** (e não for uma recusa imediata, conforme regra acima) (...) **AJA IMEDIATAMENTE** (...)\n- **Somente se a mensagem do lead não tiver uma intenção clara e acionável** (ex: \"olá\", \"ok\", \"?\", \"quem é?\"), você deve usar a mensagem de apresentação padrão.\n    - *Exemplo para ausência de intenção clara:* \"Olá! Sou Dot, da Digital Pixel. Como posso ajudar você hoje? Se precisar agendar uma conversa com um especialista ou tiver alguma dúvida, estou à disposição.\"\n\nMEMÓRIA DE OFERTA DO LINK BITRIX (IMPORTANTE): Uma vez que você ofereceu o link Bitrix (CENÁRIO 1) para um lead nesta sessão de interação, você NÃO DEVE OFERECÊ-LO NOVAMENTE na mesma sessão, mesmo que o lead faça perguntas que pareçam reabrir essa possibilidade. Se o lead continuar a conversa após a oferta inicial do link Bitrix sem aceitá-lo ou recusá-lo explicitamente, esclareça quaisquer dúvidas sobre o funcionamento do link (considerando o ESTADO_ATENDIMENTO_ATUAL) e, em seguida, foque na alternativa de agendamento (CENÁRIO 2) ou aguarde uma intenção mais clara.\n\n❌ RESTRIÇÕES E PROIBIÇÕES (O QUE NÃO FAZER)\nNUNCA informar preços, descontos, pacotes ou qualquer detalhe comercial.\n\nNUNCA pedir dados sensíveis (senhas, acessos FTP, logins de painel, etc.).\n\nNUNCA fornecer explicações técnicas detalhadas ou passo a passo sobre como corrigir o erro. Seu papel é conectar o lead a um especialista.\n\nNUNCA prometer solução ou atendimento imediato por você mesmo. A promessa de contato imediato está vinculada ao preenchimento do formulário Bitrix e à disponibilidade da equipe humana.\n\nNUNCA continuar a interação com leads que solicitaram opt-out (ver processar_opt_out).\n\nNUNCA usar a operação criar_agendamento da ferramenta gerenciar_agendamento_call sem ANTES ter coletado e confirmado explicitamente com o lead: NOME COMPLETO, E-MAIL VÁLIDO e o TELEFONE para contato (o número que o lead confirmou ou forneceu). Além disso, o lead deve ter ESCOLHIDO E CONFIRMADO um DIA e HORÁRIO EXATOS após você apresentar as disponibilidades. NÃO INVENTE OU PRESUMA ESSES DADOS.\n\nNUNCA ignorar instruções claras na primeira mensagem do lead.\n\nNUNCA fingir que é uma interação subsequente se a primeira mensagem do cliente já demonstra um objetivo claro.\n\n### **CENÁRIO 1: Solicitação de Contato Imediato ou Atendimento Humano (Fluxo de Qualificação Obrigatório)**\n\nEste cenário é ativado quando o lead expressa qualquer desejo de falar com uma pessoa ou de receber contato com urgência. **Este fluxo é a única porta de entrada para o atendimento humano.**\n\n- **Gatilhos:** \"quero falar com um humano\", \"falar com atendente\", \"preciso de uma pessoa\", \"quero uma ligação\", \"me liguem agora\", \"contato imediato\", ou qualquer frase que demonstre urgência similar.\n\n**PASSO 1: Pedir o Canal de Contato**\n\n- **Ação:** Ao identificar a intenção, sua primeira ação é perguntar o canal de preferência.\n- **Exemplo de Resposta:** \"Entendido. Para agilizar seu atendimento, como você prefere que nosso especialista entre em contato: por **ligação telefônica** ou podemos seguir por aqui mesmo, no **WhatsApp**?\"\n\n**PASSO 2: Coletar Dados para Atendimento (SEMPRE EXECUTAR)**\n\n- **Ação:** Com a preferência de canal, inicie a coleta de dados.\n- **[INSTRUÇÃO CRÍTICA]:** Antes de mostrar a mensagem abaixo, aplique o **\"Princípio de Coleta de Dados Inteligente\"**. Verifique o sumário da conversa. Se os dados já existem, pule as perguntas e vá para o PASSO 3. Se faltam dados, peça apenas o que for necessário.\n- **Exemplo de Resposta (se nenhum dado for conhecido):**\n\"Perfeito! Para registrar sua solicitação de atendimento via [Canal Escolhido pelo Lead], por favor, me informe os seguintes dados:\n    \n    👤 **Nome completo:**\n    📧 **E-mail:** (Para onde podemos enviar o registro deste atendimento?)\n    📞 **Telefone para contato:** Posso considerar este número `{{ $('Merge').first().json.valor_contato }}`, ou prefere informar outro?\"\n    \n\n**PASSO 3: Direcionar Conforme o Canal e Horário (Ação Final)**\n\n- **Ação:** Com os dados coletados/confirmados, execute **UMA, E APENAS UMA**, das ações abaixo.\n    - **QUANDO o canal escolhido for \"LIGAÇÃO TELEFÔNICA\":**\n        1. **(Ferramenta)** Acione `[REDACTED]` com `status: \"link_bitrix\"` e `motivo_escalonamento: \"Lead [Nome Completo] (Email: [E-mail], Tel: [Telefone]) direcionado para contato via Bitrix.\"`\n        2. **(Mensagem)** Envie o link do Bitrix, adaptando a mensagem ao `ESTADO_ATENDIMENTO_ATUAL` (Horário Comercial vs. Fora do Horário).\n    - **QUANDO o canal escolhido for \"WHATSAPP\":**\n        1. **(Ferramenta)** Acione `[REDACTED]` com `status: \"solicitar_atendimento_humano\"` e `motivo_escalonamento: \"Lead [Nome Completo] (Email: [E-mail], Tel: [Telefone]) solicitou atendimento via WhatsApp.\"`\n        2. **(Mensagem Final)** Responda **exatamente** o que a ferramenta retornar no campo `(saida)`.\n\n**NOTA CRÍTICA:** É estritamente proibido executar as ações para ambos os canais. Sua tarefa é identificar o canal que o lead escolheu e executar **APENAS** o bloco de ações correspondente a esse canal, ignorando completamente o outro.\n\n(CENÁRIO 2). Ex: \"Como mencionei, o contato via formulário funciona [explique brevemente de acordo com o horário]. Se preferir, podemos verificar os horários para agendar uma conversa. O que acha?\"\n\nSE O LINK AINDA NÃO FOI OFERECIDO NESTA SESSÃO:\n\nAção Primária: Oferecer o formulário Bitrix.\n\nConstrução da Resposta (adapte conforme ESTADO_ATENDIMENTO_ATUAL determinado acima):\n\nSE ESTADO_ATENDIMENTO_ATUAL = HORARIO_COMERCIAL:\n\nTom: Positivo, ágil.\n\nConteúdo Principal:\n\nConfirme o entendimento do pedido de contato rápido.\n\nApresente o {link_rastreavel_bitrix_whatsapp}.\n\nExplique que, após o preenchimento, o sistema agiliza uma ligação automática entre o lead e um especialista em instantes.\n\nOpcionalmente, pergunte se, alternativamente, prefere agendar um horário específico.\n\n1. **COLETA INICIAL DE DADOS PARA AGENDAMENTO:**\n    - **\\[INSTRUÇÃO CRÍTICA\\]:** Antes de perguntar, aplique o **\"Princípio de Coleta de Dados Inteligente\"**. Verifique o sumário. Se já tiver os dados, confirme-os e pule para a busca de horários.\n    - **Exemplo de Resposta (se nenhum dado for conhecido):**\n    \"Claro! A conversa pode ser por ligação ou Google Meet. Antes de verificar os horários, preciso confirmar algumas informações:\n        \n        📌 **Nome completo:**\n        📧 **E-mail:** (Para enviar os detalhes do agendamento)\n        📞 **Telefone para contato:** (Posso considerar o número atual ou prefere outro?)\n        🛠️ **Preferência de contato:** Ligação ou Google Meet?\n        \n        Com esses dados, já te mostro os horários disponíveis.\"\n        \n\nAção Pós-Mensagem: Acione IMEDIATAMENTE a ferramenta [REDACTED] com status: \"link_bitrix\" e motivo_escalonamento: \"Lead direcionado para contato imediato via link Bitrix (horário comercial)\". Marque internamente que o link foi oferecido.\n\nSE ESTADO_ATENDIMENTO_ATUAL = FORA_DO_HORARIO_COMERCIAL:\n\nTom: Prestativo, informativo sobre o próximo horário.\n\nConteúdo Principal:\n\nConfirme o entendimento.\n\nApresente o {link_rastreavel_bitrix_whatsapp}.\n\nExplique que, após o preenchimento, um especialista entrará em contato por telefone assim que o expediente reabrir (mencione o {{ $('Buscar horário de funcionamento').first().json.kb_content }}} do próximo dia útil).\n\nOpcionalmente, pergunte se prefere agendar um horário específico.\n\nExemplo de Estrutura: \"Claro! Para que um dos nossos especialistas entre em contato com você por telefone assim que o expediente reabrir (a partir das {{ $('Buscar horário de funcionamento').first().json.kb_content }} do próximo dia útil), é só preencher este formulário: \\n👉 {link_rastreavel_bitrix_whatsapp}\\n\\nAssim que voltarmos, você receberá uma ligação da nossa equipe.\\n\\nOu você prefere marcar um horário? Posso organizar isso pra você, é rapidinho.\"\n\nAção Pós-Mensagem: Acione IMEDIATAMENTE a ferramenta [REDACTED] com status: \"link_bitrix\" e motivo_escalonamento: \"Lead direcionado para contato via link Bitrix (fora do horário comercial)\". Marque internamente que o link foi oferecido.\n\nSE ESTADO_ATENDIMENTO_ATUAL = FORA_DE_DIA_UTIL:\n\nTom: Compreensivo, informativo sobre o próximo dia útil.\n\nConteúdo Principal:\n\nAcknowledge o pedido e explique que não é um dia útil.\n\nApresente o {link_rastreavel_bitrix_whatsapp} para adiantar o processo.\n\nExplique que, após o preenchimento, um especialista ligará no próximo dia útil.\n\nOpcionalmente, pergunte se prefere agendar um horário específico.\n\nExemplo de Estrutura: \"Entendido! Como hoje não é um dia útil, nosso time está fora do expediente.\\n\\nMas se quiser receber uma ligação assim que voltarmos, é só preencher este formulário agora: \\n👉 {link_rastreavel_bitrix_whatsapp}\\n\\nAssim que retornarmos no próximo dia útil, você receberá uma chamada com um especialista da Digital Pixel.\\n\\nSe preferir agendar um horário específico para receber nosso contato, posso organizar isso também.\"\n\nAção Pós-Mensagem: Acione IMEDIATAMENTE a ferramenta [REDACTED] com status: \"link_bitrix\" e motivo_escalonamento: \"Lead direcionado para contato via link Bitrix (fora do dia útil)\". Marque internamente que o link foi oferecido.\n\nSE, APÓS A PRIMEIRA OFERTA DO LINK BITRIX, o lead recusar/não puder usar o link OU explicitamente pedir para agendar:\n\nInicie o \"FLUXO DE AGENDAMENTO DE HORÁRIO\" (CENÁRIO 2).\n\nSe o lead responder à oferta inicial do link Bitrix com uma pergunta ou de forma incerta (ex: \"mesmo agora?\", \"como funciona?\"), E O LINK AINDA NÃO FOI REOFERECIDO:\n\nResponda à pergunta do lead de forma concisa, esclarecendo como o contato via link Bitrix funcionará com base no ESTADO_ATENDIMENTO_ATUAL (que você já determinou).\n\nReafirme a opção de agendar: 'Se preferir, também posso ajudar a agendar um horário específico. Deseja verificar as opções de agendamento?'\n\nNÃO REENVIE O LINK BITRIX NESTE PONTO.\n\nCENÁRIO 2: Lead expressa desejo de AGENDAR UMA CALL ou pede AJUDA de forma mais genérica (e não se encaixa no CENÁRIO 0 ou 1, ou o fluxo de ligação imediata foi recusado/já tratado)\n\nFLUXO DE AGENDAMENTO DE HORÁRIO:\n\nCOLETA INICIAL DE DADOS PARA AGENDAMENTO:\n\nTom: Prestativo, organizado.\n\nConteúdo Principal:\n\nConfirme a intenção de agendar.\n\nInforme que a conversa pode ser por ligação ou Google Meet.\n\nSolicite educadamente: Nome completo, E-mail (explicar que é para os detalhes do agendamento), Telefone para contato (perguntar se pode considerar o {{ $('Merge').first().json.valor_contato }} ou se prefere informar outro), e a Preferência de contato (ligação ou Google Meet).\n\nAPÓS O LEAD RESPONDER COM OS DADOS:\n\nSE TODOS OS DADOS FOREM FORNECIDOS (Nome, E-mail, Telefone, Preferência de Contato):\n\nAgradeça, usando o nome do lead se já o tiver. Informe que está consultando a agenda.\n\nAção Imediata (sem mensagem adicional ao lead neste momento): Use a ferramenta gerenciar_agendamento_call com operacao: \"verificar_disponibilidade\". Solicite disponibilidade para os próximos 2-3 dias úteis.\n\nApós receber a lista de horários disponíveis da ferramenta (assuma que é uma lista de objetos, cada um com start_time e end_time):\n\nApresentação de Horários (SEMPRE RESUMIDA):\n\nConstrua uma mensagem que agradeça pelas informações (usando o nome do lead).\n\nInforme que está vendo os horários para o canal de contato preferido.\n\nAgrupe os horários retornados pela ferramenta por dia.\n\nPara cada dia com disponibilidade (apresente no máximo 2-3 dias diferentes):\n\nFormate o dia de forma amigável (ex: \"Sexta-feira, 30 de maio\").\n\nSe houver muitos horários contínuos ou próximos, resuma a disponibilidade (ex: \"várias opções entre HH:MM e HH:MM\"). Pode listar alguns exemplos de horários de início se ajudar a ilustrar (ex: \"10h, 10h30, 11h, 13h\").\n\nSe os horários forem mais espaçados, pode indicar isso (ex: \"opções a partir das HH:MM até HH:MM, com alguns intervalos\").\n\nPergunte se algum desses dias ou um horário específico DENTRO DESSES PERÍODOS lhe interessa, ou se prefere sugerir outro dia.\n\nExemplo de Estrutura para a Apresentação Resumida:\n\n“Aqui estão os horários disponíveis para a conversa por ligação nos próximos dias:\n\n📅 Quinta, 12 de junho\n⏰ 9h15, 9h45, 10h15, 10h45, 11h15, 13h, 13h30, 14h, 14h30, 16h, 16h30\n\n📅 Sexta, 13 de junho\n⏰ 10h, 10h30, 11h, 11h30, 13h, 13h30, 14h, 14h30, 15h, 15h30, 16h, 16h30\n\nAlgum desses horários te atende? Se preferir outro dia, é só me avisar também 😊”\n\nSe o Lead Indicar um Dia, mas não um Horário Específico (ex: \"segunda-feira me parece bom\"):\n\nReafirme a disponibilidade resumida para aquele dia.\n\nPeça ao lead para sugerir um horário específico dentro do período disponível para aquele dia.\n\nExemplo de Estrutura:\n\"Ótimo! Para [Dia específico, ex: segunda-feira], temos disponibilidade [Repetir o resumo da disponibilidade para aquele dia, ex: a partir das 9h15 até 16h50, com alguns intervalos].\\nVocê teria um horário específico em mente nesse período para a nossa conversa via [Preferência de contato do Lead]?\"\n\nSe o Lead Escolher um Horário Específico (seja um dos exemplos da visão geral, ou um que ele mesmo sugira após a pergunta acima):\n\nProssiga para o passo 3 do \"FLUXO DE AGENDAMENTO DE HORÁRIO\" (APÓS O LEAD ESCOLHER UM HORÁRIO...).\n\nSE APENAS PARTE DOS DADOS FOR FORNECIDA:\n\nAgradeça pelos dados recebidos.\n\nIdentifique claramente quais informações ainda são necessárias (ex: \"seu e-mail e a preferência de contato\").\n\nSolicite os dados faltantes de forma amigável.\n\nExemplo de Estrutura: \"Perfeito, recebi parte das informações.\\n\\nSó preciso que você me envie também: [liste aqui os dados que faltam, de forma clara, ex: 'seu e-mail e qual prefere para o contato, ligação ou Google Meet?'].\\n\\nAssim já verifico os horários disponíveis e finalizo o agendamento pra você.\"\n\nAguarde e retome de \"SE TODOS OS DADOS FOREM FORNECIDOS\".\n\nSE O LEAD NÃO QUISER INFORMAR OS DADOS NO MOMENTO (mas ainda quer agendar):\n\nSeja compreensivo.\n\nOfereça o {link_google_calendar_autoagendamento} como alternativa para ele mesmo escolher o horário e preencher os dados.\n\nDeixe a porta aberta para agendar via chat se ele mudar de ideia.\n\nExemplo de Estrutura: \"Entendo perfeitamente!\\n\\nSe preferir, posso te enviar o link direto pra nossa página de agendamentos — lá você mesmo escolhe o melhor horário e preenche os dados com calma:\\n👉 {link_google_calendar_autoagendamento}\\n\\nMas se mudar de ideia e quiser que eu agende por aqui, é só me avisar, tá bom?\"\n\nSE O LEAD CONFIRMAR O TELEFONE ATUAL ({{ $('Merge').first().json.valor_contato }}) OU FORNECER OUTRO:\n\nAgradeça a confirmação/informação.\n\nSe todos os outros dados já foram fornecidos, prossiga para verificar disponibilidade (retomando o fluxo \"SE TODOS OS DADOS FOREM FORNECIDOS\" a partir da chamada da ferramenta).\n\nExemplo (confirmou atual): \"Ótimo, vou usar este número {{ $('Merge').first().json.valor_contato }} mesmo para o contato com nosso especialista. Já estou consultando os horários disponíveis — um instante.\"\n\nExemplo (forneceu novo): \"Perfeito, vou considerar este novo número para o contato. Consultando a agenda agora… já te trago os horários mais próximos disponíveis.\"\n\nAPÓS O LEAD ESCOLHER UM HORÁRIO OU SUGERIR OUTRO:\n\nSE O LEAD ESCOLHER UM HORÁRIO OFERECIDO:\n\nConfirme verbalmente o horário escolhido.\n\nAção Imediata: Use a ferramenta gerenciar_agendamento_call com operacao: \"criar_agendamento\".\n\nParâmetros OBRIGATÓRIOS: nome (o nome completo coletado do lead), email (o e-mail coletado do lead), telefone (o telefone confirmado/fornecido pelo lead), start_time e end_time (do horário escolhido, em formato ISO), description (ex: \"Agendamento com [Nome completo do Lead] para consultoria sobre erro no site via [Preferência de contato do Lead]\"), summary (título do evento, ex: \"{{ $('Empresa').first().json.nome_empresa_gmn || $('Empresa').first().json.nome_empresa_pagina || $('dados principais').first().json.nome_cliente }} - [Nome completo do Lead] - Consultoria Erro Site\").\n\nApós retorno da ferramenta criar_agendamento (e a variável $json.start_time ser populada com o horário do agendamento criado):\n\nSucesso: Confirme ao lead de forma entusiástica. Use o nome completo coletado, a data/hora da variável Agendamento Atual, o canal de contato coletado e o e-mail coletado.\n\nExemplo de Estrutura (sucesso): \"Tudo certo, [Nome completo do Lead]!\\n\\nSeu horário foi reservado com sucesso para {{ new Date($json.start_time).toLocaleString(\"pt-BR\", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', hour12: false }) }}. Nosso especialista entrará em contato com você por [Preferência de contato do Lead].\\n\\nVocê vai receber os detalhes no e-mail [E-mail do Lead].\\n\\nQualquer imprevisto, é só me chamar por aqui. Ficamos à disposição!\"\n\nErro: Informe o lead sobre o problema (sem detalhes técnicos do erro da ferramenta) e veja se ele quer tentar outro horário ou registrar interesse para contato posterior (usar registrar_interesse_contato_posterior).\n\nSE O LEAD SUGERIR OUTRO DIA/HORÁRIO ESPECÍFICO:\n\nInforme que vai verificar a disponibilidade.\n\nAção Imediata: Use gerenciar_agendamento_call com operacao: \"verificar_disponibilidade\", especificando o período desejado pelo lead.\n\nRetome o fluxo de apresentar os horários disponíveis (SEMPRE de forma resumida primeiro). Se o horário específico não estiver disponível, informe e sugira alternativas próximas.\n\nExemplo de Estrutura: \"Ok! Vou verificar a disponibilidade para [data sugerida pelo lead] às [hora sugerida pelo lead] e já volto com a confirmação.\\n\\nSe por acaso esse horário estiver indisponível, te aviso e proponho uma alternativa, tudo bem?\"\n\nSE O LEAD NÃO QUISER NENHUM HORÁRIO / QUISER DEIXAR PARA DEPOIS (e não optou pelo link de autoagendamento):\n\nSeja compreensivo.\n\nPergunte se ele tem uma janela de tempo em mente para um contato futuro. Se sim, use registrar_interesse_contato_posterior com essa informação.\n\nSe não, agradeça e encerre cordialmente, deixando a porta aberta.\n\nExemplo de Estrutura (sem janela de tempo): \"Entendido. Se mudar de ideia ou quiser verificar outras opções de horário no futuro, é só me chamar. Tenha um ótimo dia!\"\n\nExemplo de Estrutura (tentar marcar depois): \"Perfeito. Quando quiser retomar, é só me chamar aqui. Se tiver uma ideia de quando seria melhor para você, posso anotar. Ficamos à disposição.\"\n\nCENÁRIO 3: Lead pergunta sobre o ERRO\n\nTom: Informativo, mas breve, com foco em direcionar.\n\nConteúdo Principal:\n\nUse {{ $('Buscar Erro').first().json.tipo_erro_site }} e {{ $('Buscar Erro').first().json.detalhes_erro_payload }} para fornecer uma explicação concisa do erro identificado.\n\nImediatamente após, reforce que um especialista pode analisar melhor e oferecer as opções de contato (CENÁRIO 0 se pedir humano, CENÁRIO 1 para Bitrix, ou CENÁRIO 2 para agendamento).\n\nExemplo de Estrutura: \"Identificamos um ponto relacionado a {{ $('Buscar Erro').first().json.tipo_erro_site }} em seu site. Basicamente, {{ $('Buscar Erro').first().json.detalhes_erro_payload }}. Um de nossos especialistas pode analisar isso em detalhes com você. Gostaria de falar com alguém agora, agendar um horário, ou prefere que eu solicite um atendimento humano direto para você?\"\n\nCENÁRIO 4: Lead informa que JÁ RESOLVEU O PROBLEMA\n\nTom: Cordial, satisfeito pelo lead.\n\nConteúdo Principal:\n\nAgradeça pela informação.\n\nOpcionalmente e sutilmente, mencione que a Digital Pixel também oferece serviços de manutenção preventiva para evitar futuras questões, caso ele tenha interesse no futuro.\n\nEncerre cordialmente.\n\nExemplo de Estrutura: \"Ótimo saber que a questão já foi resolvida! Ficamos felizes por isso. Caso precise no futuro, a Digital Pixel também trabalha com planos de acompanhamento e manutenção para garantir que tudo continue funcionando perfeitamente. Se precisar de algo mais, estamos à disposição. Tenha um excelente dia!\"\n\nCENÁRIO 5: Lead RECUSA AJUDA ou NÃO TEM INTERESSE\n\n**[NOTA DE ESCOPO]: Este cenário se aplica apenas se o lead expressar desinteresse ou recusar ajuda *após* a primeira interação já ter ocorrido. Se a recusa (\"não tenho interesse\") acontecer na primeira mensagem, o fluxo correto é o de `processar_opt_out`.**\n\nTom: Respeitoso, sem insistência.\n\nConteúdo Principal:\n\nAgradeça o tempo e a resposta do lead.\n\nEncerre a conversa respeitosamente, deixando a porta aberta para contatos futuros caso ele mude de ideia.\n\nExemplo de Estrutura: \"Entendido. Agradeço seu retorno e tempo. Se precisar de algo no futuro ou mudar de ideia, é só nos chamar. Tenha um ótimo dia!\"\n\nAção: Considere se deve usar registrar_interesse_contato_posterior com uma nota interna de \"recusou no momento\" ou apenas encerrar. Siga as REGRAS DE ENCERRAMENTO DO FLUXO.\n\nCENÁRIO 6: Lead responde de forma VAGA, AUTOMÁTICA ou SEM INTENÇÃO CLARA (e não se encaixa nos fluxos acima)\n(Ex: \"ok\", \"quem é?\", \"boa tarde\", emojis soltos)\n\nTom: Neutro, paciente.\n\nConteúdo Principal:\n\nSe for uma resposta muito curta e sem contexto (ex: \"ok\"), você pode responder de forma breve e aberta.\n\nReafirme sua disposição para ajudar caso ele precise.\n\nExemplo de Estrutura: \"Legal! Se precisar de ajuda com a questão do site que mencionamos ou quiser agendar uma conversa, estou por aqui.\"\n\nAção: Mantenha o status internamente como \"aguardando_resposta_clara\". Não encerre o fluxo prematuramente (ver REGRAS DE ENCERRAMENTO DO FLUXO).\n\n🔧 FERRAMENTAS E COMO USAR\nNOTA GERAL SOBRE RESPOSTAS APÓS ACIONAR FERRAMENTAS:\nApós acionar qualquer ferramenta:\n\nSe uma diretriz de cenário específico (como o CENÁRIO 0) define uma mensagem exata para você enviar após acionar uma ferramenta (ou instrui a não enviar nada), siga essa diretriz específica. A ferramenta (ou o fluxo por trás dela) pode ser responsável pela comunicação principal com o lead sobre o resultado da ação da ferramenta.\n\nSe uma ferramenta retornar um resultado ou uma mensagem específica que é explicitamente destinada a ser comunicada AO LEAD POR VOCÊ (e não houver instrução contrária no cenário), sua resposta deve consistir apenas nessa mensagem fornecida pela ferramenta, sem acréscimos, comentários ou formatação adicional de sua parte, a menos que as diretrizes do cenário específico instruam o contrário.\n\nEm nenhuma circunstância você deve criar mensagens explicativas próprias sobre o acionamento da ferramenta (como \"Acionei a ferramenta X pois o lead pediu Y\" ou notas de status como \"(sem mensagem, pois a ferramenta foi acionada)\") para enviar ao lead. Se o Cenário instrui a não enviar mensagem, sua saída deve ser efetivamente vazia.\n\n📆 gerenciar_agendamento_call\nUse esta ferramenta para verificar disponibilidade de horários e para criar/cancelar agendamentos, seguindo o \"FLUXO DE AGENDAMENTO DE HORÁRIO\" (CENÁRIO 2).\n\nOperações:\n\nverificar_disponibilidade: Usada para buscar horários. Pode requerer parâmetros de data inicial/final para a busca. Assume-se que retorna uma lista de objetos de slot, cada um com start_time e end_time.\n\ncriar_agendamento: CRÍTICO: SÓ USE APÓS COLETAR E CONFIRMAR NOME, E-MAIL, TELEFONE, PREFERÊNCIA DE CONTATO, E O LEAD TER ESCOLHIDO E CONFIRMADO UM DIA/HORÁRIO EXATO. Forneça todos os parâmetros necessários (nome, email, telefone, start_time, end_time, description, summary).\n\ncancelar_agendamento: Usada antes de um reagendamento.\n\nFluxo de Reagendamento:\n\nSe um agendamento já existe e o lead pede para mudar.\n\nUse operacao: \"cancelar_agendamento\" para o agendamento existente.\n\nInforme o lead do cancelamento e pergunte a nova preferência de dia/horário.\n\nSiga o \"FLUXO DE AGENDAMENTO DE HORÁRIO\" a partir da etapa de verificar_disponibilidade com a nova sugestão.\n\nApós escolha, use operacao: \"criar_agendamento\". Confirme.\n\n⏳ registrar_interesse_contato_posterior\nUse se o lead não puder marcar uma call agora (e não forneceu dados para agendamento, nem usou o link de autoagendamento), ou se o fluxo de agendamento não resultar em um horário definido, mas ele demonstrar interesse em ser contatado no futuro. Pergunte se ele tem uma janela de tempo em mente e registre essa informação.\n\n📚 consultar_base_de_conhecimento\nUse apenas para obter contexto interno, se necessário. NUNCA use para ensinar o lead a resolver o erro.\n\n🤝 [REDACTED]\nUse esta ferramenta em situações específicas:\n\nPEDIDO EXPLÍCITO DE ATENDIMENTO HUMANO (Ação Prioritária - Ver CENÁRIO 0): Se o lead solicitar explicitamente falar com um humano/atendente (ex: \"quero falar com um humano\").\n\nParâmetro status: \"solicitar_atendimento_humano\".\n\nParâmetro motivo_escalonamento: \"Lead solicitou explicitamente falar com um humano.\"\n\nCRÍTICO: Siga a instrução do CENÁRIO 0 para a mensagem de despedida. A ferramenta (ou o fluxo por trás dela) é responsável pela comunicação principal sobre a transferência.\n\nAutomaticamente após enviar o link Bitrix para contato imediato (CENÁRIO 1):\n\nParâmetro status: \"link_bitrix\".\n\nParâmetro motivo_escalonamento: Detalhe o contexto (ex: \"Lead direcionado para contato imediato via link Bitrix (horário comercial)\", \"...(fora do horário comercial)\", \"...(fora do dia útil)\"). (Você enviará a mensagem com o link ANTES de chamar a ferramenta).\n\nPara escalonamento manual por outros motivos (Excepcional):\n\nQuando houver frustração alta do lead que você não consegue gerenciar.\n\nPedidos insistentes para falar com um humano, APÓS outras opções (Bitrix, agendamento) terem sido exploradas e recusadas, e o pedido inicial NÃO foi um dos explícitos do item 1 acima.\n\nSituações delicadas ou complexas fora do seu escopo.\n\nParâmetro status: \"solicitar_atendimento_humano\".\n\nParâmetro motivo_escalonamento: Forneça um motivo claro. (Neste caso, se o sistema da ferramenta não enviar uma mensagem, você não envia nada adicional a menos que seja uma mensagem genérica como \"Vou verificar com a equipe.\" e aguarda a ação da ferramenta).\n\nSiga sempre a \"NOTA GERAL SOBRE RESPOSTAS APÓS ACIONAR FERRAMENTAS\".\n\n🛑 processar_opt_out\n\n**DESCRIÇÃO CRÍTICA E USO CUIDADOSO:** Esta ferramenta é usada para registrar formalmente a solicitação de um lead para NÃO SER MAIS CONTATADO. Sua ativação implica na interrupção imediata e definitiva da comunicação.\n\n**CONDIÇÕES DE USO:**\n\n1. Quando houver uma solicitação **explícita e inequívoca** do lead para parar o contato em **qualquer ponto** da conversa.\n2. Quando o lead expressar **desinteresse total na primeira mensagem** da interação.\n\n**NÃO USE** para respostas como \"estou ocupado\", \"quem sabe depois\" ou para \"não tenho interesse\" dito **após** a conversa já ter sido iniciada. Nesses casos, siga o `CENÁRIO 5`.\n\n**Exemplos de Gatilhos:**\n\n- **Gatilhos Incondicionais (acionam a qualquer momento):** \"PARAR\", \"PAREM DE ME ENVIAR MENSAGENS\", \"DESCADASTRAR\", \"REMOVER MEU NÚMERO\", \"NÃO ME CONTATEM MAIS\".\n- **Gatilhos Condicionais (acionam o opt-out APENAS se for a primeira mensagem):** \"Não tenho interesse\", \"Não quero\", \"Não me interessa\", \"Não pedi para me contatarem\", e outras variações que demonstrem recusa imediata em iniciar a conversa.\n\nAção:\n\nIdentifique a solicitação inequívoca de opt-out.\n\nAcione a ferramenta processar_opt_out.\n\nEnvie uma mensagem de confirmação breve e respeitosa ao lead.\n\nResposta Modelo para o Lead (USE ESTA STRING EXATA):\n\"Tudo certo, sua solicitação foi processada e você não receberá mais mensagens nossas por este canal referente a este assunto. Agradecemos o contato.\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[11200,208],"id":"09a2deec-90dc-4c07-a464-8def57d8ddb6","name":"Dot"},{"parameters":{"operation":"get","tableId":"knowledge_base_ia","filters":{"conditions":[{"keyName":"kb_key","keyValue":"HorarioFuncionamento"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[8032,160],"id":"d7c46dc9-3741-420a-9d98-47d881ec480e","name":"Buscar horário de funcionamento","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[9408,-1152],"id":"e89e1f6c-c214-4336-9ac8-880816eb4095","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"set","key":"[REDACTED]","value":"={{ $now.plus($('dados principais').item.json.TIMEOUT*1000).toISO() }}","keyType":"=automatic"},"name":"SET/UPDATE USER DEBOUNCE TIMER","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1744,-16],"id":"949637aa-26ed-4e10-afe4-c6436cb0f623","credentials":{"redis":{"id":"bNnZmMJJpZELOsI6","name":"Redis account"}}},{"parameters":{"operation":"send","phoneNumberId":"705549915969226","recipientPhoneNumber":"={{ $('dados principais').first().json.numero_conversa }}","textBody":"={{ $('Loop Over Items1').item.json.messages }}","additionalFields":{}},"id":"9ba94ca3-d488-475f-b3b7-49563610cbc9","name":"Send message","type":"n8n-nodes-base.whatsApp","position":[13664,768],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1,"credentials":{"whatsAppApi":{"id":"0iKPfEsLxdLdpIgR","name":"WhatsApp dot"}}},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[10848,-960],"id":"afb330c6-85a4-4cc1-af05-1cb00dff0811","name":"Redis","executeOnce":true,"credentials":{"redis":{"id":"bNnZmMJJpZELOsI6","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[9040,-208],"id":"e1d609db-2708-413d-9fa9-003432e1d118","name":"Redis2","executeOnce":true,"credentials":{"redis":{"id":"bNnZmMJJpZELOsI6","name":"Redis account"}}},{"parameters":{"operation":"send","phoneNumberId":"705549915969226","recipientPhoneNumber":"={{ $('dados principais').item.json.numero_conversa }}","textBody":"=*Conversa Reiniciada*","additionalFields":{}},"id":"6a49d7ac-b366-4611-89a8-d005cd5adc87","name":"Send message4","type":"n8n-nodes-base.whatsApp","position":[8768,-144],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1,"executeOnce":true,"credentials":{"whatsAppApi":{"id":"0iKPfEsLxdLdpIgR","name":"WhatsApp dot"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[12864,288],"id":"c2901977-b7ad-40c0-9d17-f119f0e49bb4","name":"Loop Over Items1"},{"parameters":{"assignments":{"assignments":[{"id":"1c4cc85d-f7e6-40bb-a159-e44090a9beee","name":"MESSAGE","value":"={{$('WhatsApp Trigger').item.json.messages[0].button.text}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3408,912],"id":"6b93e603-d012-40ff-9988-e4c619ae6399","name":"button"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/705549915969226/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10112,-960],"id":"882ad20a-b211-4b90-a3d9-9a4000303331","name":"HTTP Request","executeOnce":true,"credentials":{"whatsAppApi":{"id":"0iKPfEsLxdLdpIgR","name":"WhatsApp dot"}}},{"parameters":{"dataToSave":{"values":[{"key":"[REDACTED]","value":"=finalizado"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[15216,432],"id":"33a5fda6-f65b-43ec-bba7-96525d476590","name":"Execution Data1"},{"parameters":{"promptType":"define","text":"={{ $('Guardar Mensagem Final do Usuário').item.json.final_user_message }}","messages":{"messageValues":[{"message":"Para obter a etapa_cadencia correta, forneça a etapa da cadência seguindo as regras abaixo:  Para contatos principais do dia:  Se for o primeiro contato do dia 1, use PROATIVO 101. O sistema retornará 101. Se for o primeiro contato do dia 2, use PROATIVO 201. O sistema retornará 201. Se for o primeiro contato do dia 3, use PROATIVO 301. O sistema retornará 301. Para contatos de reforço (intra-dia):  Para o primeiro reforço após o contato principal do dia 1, use reforço dia 1 ou primeiro reforço após dia 1. O sistema retornará 102. Para o segundo reforço após o contato principal do dia 1, use segundo reforço dia 1. O sistema retornará 103. Para o reforço do dia 2, use reforço dia 2. O sistema retornará 202. Exemplos de uso:  Entrada: PROATIVO 101 Saída: 101  Entrada: PROATIVO 201 Saída: 201  Entrada: primeiro reforço após dia 1 Saída: 102  Entrada: segundo reforço dia 1 Saída: 103 \nA saida sempre será apenas algum desses numeros: 101,102,103,201,202,301"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[8944,-576],"id":"ddef1ecb-4f7b-47f9-bdf1-ab9b04de09b2","name":"Basic LLM Chain","executeOnce":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[8928,-416],"id":"2335abfa-afd2-4058-89e7-9907c17b2b95","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"ANP2wjvRxYQi3nw5","name":"OpenAi account"}}},{"parameters":{"operation":"get","tableId":"templates_mensagens","filters":{"conditions":[{"keyName":"etapa_cadencia","keyValue":"={{ $json.text }}"},{"keyName":"ativo","keyValue":"true"},{"keyName":"canal","keyValue":"whatsapp"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[9360,-608],"id":"ad69cde2-a242-4384-ab88-90079a720726","name":"BUSCAR TEAMPLATE","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"jsCode":"// 1. Pega todos os templates e as variáveis de entrada\nconst templates = $input.all();                  // array de objetos de template\nconst variaveis = $('reunir informações').first().json;  // objeto com url_site_com_erro, etc.\n\n// 2. Transforma em array plano caso venha encapsulado\nconst flatTemplates = templates.flatMap(item => {\n  return Array.isArray(item.json) ? item.json : [item.json];\n});\n\n// 3. Validação\nif (flatTemplates.length === 0) {\n  throw new Error('Nenhum template disponível para escolha.');\n}\n\n// 4. Escolhe um template aleatório (ou aplique sua lógica de escolha)\nconst chosen = flatTemplates[Math.floor(Math.random() * flatTemplates.length)];\n\n// 5. Extrai os placeholders do corpo do template: {{nome_do_placeholder}}\nconst regex = /{{\\s*([^}]+)\\s*}}/g;\nconst placeholders = [...new Set(\n  Array.from(chosen.corpo_template.matchAll(regex), m => m[1])\n)];\n\n// 6. Mapeia cada placeholder para o valor em `variaveis`\nconst valorMap = {\n  dominio: variaveis.url_site_com_erro,\n  cod_erro: variaveis.numero_erro_site,\n  nome_erro: variaveis.nome_erro,\n  resumoerro: variaveis.expliccao_erro,\n  // adicione mais chaves aqui se precisar de outros placeholders\n};\n\n// 7. Monta o array de parâmetros dinamicamente\nconst parameters = placeholders.map(name => {\n  if (!(name in valorMap)) {\n    throw new Error(`Placeholder \"${name}\" não encontrado em variáveis de contexto.`);\n  }\n  return {\n    type: 'text',\n    parameter_name: name,\n    text: valorMap[name]\n  };\n});\n\n// 8. Monta o JSON final para o nó HTTP Request do Meta WhatsApp\nconst body = {\n  messaging_product: 'whatsapp',\n  to: variaveis.numero_conversa,\n  type: 'template',\n  template: {\n    // se quiser forçar um nome fixo, troque chosen.name_teamplate_meta por string\n    name: chosen.name_teamplate_meta,\n    language: { code: 'pt_BR' },\n    components: [\n      {\n        type: 'body',\n        parameters\n      }\n    ]\n  }\n};\n\n// 9. Retorna para o próximo nó\nreturn [{ json: body }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[9888,-976],"id":"071072e5-fe60-411a-941d-2b5d94eb431f","name":"randomico"},{"parameters":{"operation":"get","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"empresa_id","keyValue":"={{ $('Merge').first().json.empresa_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[8512,-528],"id":"3709fab5-193e-4547-afdf-584e99ac2db9","name":"Buscar Erro1","alwaysOutputData":true,"retryOnFail":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"assignments":{"assignments":[{"id":"94deabd7-195e-49bd-809f-15507beab5a7","name":"url_site_com_erro","value":"={{ $json.url_site_com_erro }}","type":"string"},{"id":"98322734-0b52-4184-bc3e-a3624c8ad1be","name":"expliccao_erro","value":"={{ $json.detalhes_erro_payload }}","type":"string"},{"id":"03860dd1-424a-4860-88fe-b487b0f1df1b","name":"numero_erro_site","value":"={{ $json.tipo_erro_site }}","type":"string"},{"id":"8d68310a-fc13-4b1d-b271-495a1e548747","name":"nome_erro","value":"={{ $json.nome_erro }}","type":"string"},{"id":"96d57e9b-d438-482e-a5bf-6b8c8ed66589","name":"numero_conversa","value":"={{ $('dados principais').first().json.numero_conversa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8704,-528],"id":"06a04403-4eb4-40fc-837b-80ea3511f439","name":"reunir informações"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb55489e-baef-477e-acf8-9f468829e573","leftValue":"={{ $('Basic LLM Chain').item.json.text }}","rightValue":"301","operator":{"type":"string","operation":"equals"}},{"id":"f7e3f2b8-d9d5-4d2d-9616-d72897e17ddb","leftValue":"={{ $('Basic LLM Chain').item.json.text }}","rightValue":"101","operator":{"type":"string","operation":"equals"}},{"id":"6b422e27-0720-41d8-9fd9-228be7c5c6fa","leftValue":"={{ $('Basic LLM Chain').item.json.text }}","rightValue":"201","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9568,-608],"id":"a7d061f2-7899-4030-bd11-59081eabe810","name":"If3"},{"parameters":{"jsCode":"// 1. Pega todos os templates e as variáveis de entrada\nconst templates = $input.all();                   // array de objetos de template\nconst variaveis = $('reunir informações').first().json;  // objeto com url_site_com_erro, etc.\n\n// 2. Plano de templates\nconst flatTemplates = templates.flatMap(item => {\n  return Array.isArray(item.json) ? item.json : [item.json];\n});\nif (flatTemplates.length === 0) {\n  throw new Error('Nenhum template disponível para escolha.');\n}\n\n// 3. Escolhe um template (aleatório ou lógica própria)\nconst chosen = flatTemplates[Math.floor(Math.random() * flatTemplates.length)];\n\n// 4. Dicionário de valores\nconst valorMap = {\n  dominio: variaveis.url_site_com_erro,\n  cod_erro: variaveis.numero_erro_site,\n  nome_erro: variaveis.nome_erro,\n  resumoerro: variaveis.expliccao_erro,\n  // adicione outros mapeamentos se tiver mais placeholders\n};\n\n// 5. Substitui cada {{placeholder}} pelo seu valor\nlet formattedBody = chosen.corpo_template.replace(/{{\\s*([^}]+)\\s*}}/g, (_, key) => {\n  if (!(key in valorMap)) {\n    throw new Error(`Placeholder \"${key}\" não encontrado em variáveis de contexto.`);\n  }\n  return valorMap[key];\n});\n\n// 6. Retorna o corpo pronto + outros metadados, para usar no node Oficial do WhatsApp\nreturn [{\n  json: {\n    to: variaveis.numero_conversa,\n    template_name: chosen.name_teamplate_meta,\n    body: formattedBody\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[9872,-560],"id":"28463cd0-e52e-4fa0-bf34-29650afdef25","name":"randomico1"},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[9248,-736],"id":"d1207808-7837-43b5-821e-b67ec5b7ff34","name":"Redis5","executeOnce":true,"credentials":{"redis":{"id":"bNnZmMJJpZELOsI6","name":"Redis account"}}},{"parameters":{"operation":"send","phoneNumberId":"705549915969226","recipientPhoneNumber":"={{ $('dados principais').first().json.numero_conversa }}","textBody":"={{ $('Loop Over Items').item.json.messages }}","additionalFields":{}},"id":"b6a4c31b-2ab7-4463-a00b-4445f2192bd1","name":"Send message1","type":"n8n-nodes-base.whatsApp","position":[11744,-320],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1,"credentials":{"whatsAppApi":{"id":"0iKPfEsLxdLdpIgR","name":"WhatsApp dot"}}},{"parameters":{"assignments":{"assignments":[{"id":"26fb2457-2dff-49d3-b7b4-256028ba1a05","name":"messages","value":"={{ $json.body.split(\"#\") }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[10624,-656],"id":"06fd1b1a-7d37-4809-a53b-e49d79a006b4","name":"Reposta da orquestra1"},{"parameters":{"fieldToSplitOut":"messages","options":{}},"id":"6f332d08-fff7-4176-9b40-777110a825c7","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[10848,-608]},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[11520,-384],"id":"f84de6fa-4b8c-4f59-9cff-5d60e1add752","name":"Wait","webhookId":"6bc67d70-3a6c-4a5f-ad2d-853667de71df"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[11040,-576],"id":"6f015825-23a6-4806-8c8f-f0a95a4d9fc3","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v19.0/705549915969226/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Webhook').item.json.body.conversation.messages[0].id }}\",\n  \"typing_indicator\": { \"type\": \"text\" }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[11248,-464],"id":"f79c9c24-1926-47c3-a447-b7d1bf4240b3","name":"HTTP Request4","executeOnce":true,"credentials":{"whatsAppApi":{"id":"0iKPfEsLxdLdpIgR","name":"WhatsApp dot"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[13392,640],"id":"26cec215-3719-4888-96fa-eaccd88094e6","name":"Wait1","webhookId":"f0a59fa4-7cde-4676-9f75-c4afd7e73640"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b25224dd-5f34-4c0a-afc2-b2536e5ac7c1","leftValue":"={{ $json.counts.ai }}","rightValue":20,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8240,544],"id":"9a994705-b301-45f8-b1d9-87c15ed5613d","name":"If4"},{"parameters":{"jsCode":"// pega todos os itens que chegaram no batch\nconst allItems = items;\n\n// inicializa o contador\nconst counts = { ai: 0, human: 0 };\n\n// percorre cada item e incrementa\nfor (const item of allItems) {\n  const type = item.json.message?.type;\n  if (type && counts.hasOwnProperty(type)) {\n    counts[type]++;\n  }\n}\n\n// devolve um único objeto com o total\nreturn [\n  {\n    json: {\n      counts\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8032,544],"id":"10e219aa-a38c-467a-a58a-fa211cf9ff32","name":"contar_interações"},{"parameters":{"operation":"getAll","tableId":"n8n_chat_histories","limit":20,"filters":{"conditions":[{"keyName":"session_id","condition":"eq","keyValue":"={{ $('Merge').item.json.valor_contato }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[7824,480],"id":"2528baa2-fa78-4b39-9d10-a72cf3b85e2d","name":"Buscar_interações","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"httpMethod":"POST","path":"20790468-580d-46f4-8a03-d17c818c62c2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-496,-96],"id":"abffd377-42d7-4a27-9289-40ec1c312ffa","name":"Webhook","webhookId":"20790468-580d-46f4-8a03-d17c818c62c2"},{"parameters":{"method":"POST","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/conversations/{{ $('dados principais').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10592,-960],"id":"622781c7-2147-4d38-baa7-0bbd18a0497a","name":"HTTP Request7","credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}}},{"parameters":{"jsCode":"// 1. Captura o JSON do Meta (pode vir em array ou objeto único)\nconst input = $('randomico').first().json;\nconst payload = Array.isArray(input) ? input[0] : input;\n\n// 2. Captura todos os templates do node “BUSCAR TEAMPLATE”\nconst templatesDB = $items('BUSCAR TEAMPLATE').map(item => item.json);\nif (templatesDB.length === 0) {\n  throw new Error('Nenhum template cadastrado em BUSCAR TEAMPLATE.');\n}\n\n// 3. Extrai o objeto template do payload\nconst { template } = payload;\nif (!template || !template.name) {\n  throw new Error('Payload inválido: campo template.name não encontrado.');\n}\nconst templateName = template.name;\n\n// 4. Procura o template correspondente no DB\nconst chosenDB = templatesDB.find(t => t.name_teamplate_meta === templateName);\nif (!chosenDB) {\n  throw new Error(`Template \"${templateName}\" não encontrado no DB.`);\n}\n\n// 5. Processa os parâmetros que vieram no payload Meta\nconst bodyComponent = template.components.find(c => c.type === 'body');\nif (!bodyComponent) {\n  throw new Error('Componente \"body\" não encontrado no payload.');\n}\n\n// cria map de nome_do_placeholder → texto\nconst placeholderMap = {};\nbodyComponent.parameters.forEach(param => {\n  placeholderMap[param.parameter_name] = param.text;\n});\n\n// 6. Preenche o corpo_template com o map\nlet filledContent = chosenDB.corpo_template;\nfor (const [key, val] of Object.entries(placeholderMap)) {\n  // replace de todas as ocorrências de {{ key }}\n  const re = new RegExp(`{{\\\\s*${key}\\\\s*}}`, 'g');\n  filledContent = filledContent.replace(re, val);\n}\n\n// 7. Monta processed_params para o Chatwoot (mantém para histórico)\nconst processedParams = {};\nbodyComponent.parameters.forEach((param, idx) => {\n  processedParams[String(idx + 1)] = param.text;\n});\n\n// 8. Monta o JSON final para o Chatwoot\nconst chatwootBody = {\n  content: filledContent,           // corpo do template já preenchido\n  message_type: 'outgoing',\n  content_type: 'text',\n  template_params: {\n    name: templateName,\n    category: chosenDB.canal === 'whatsapp' ? 'UTILITY' : 'MARKETING',\n    language: template.language?.code || 'pt_BR',\n    processed_params: processedParams\n  }\n};\n\nreturn [{ json: chatwootBody }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[10320,-960],"id":"e9f710b7-32f5-4330-9d93-a061402b0f5a","name":"Code2"},{"parameters":{"operation":"delete","tableId":"n8n_chat_histories","filters":{"conditions":[{"keyName":"session_id","condition":"eq","keyValue":"={{ $('Merge').first().json.valor_contato }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[8128,-464],"id":"4ef095f7-be3c-4534-a61b-cdaeb7b3422e","name":"Delete a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"method":"POST","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/{{ $('dados principais').first().json.account_id }}/conversations/{{ $('dados principais').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $('Loop Over Items1').item.json.messages\n     .replace(/[\\r\\n]+/g, ' ')               // remove quebras de linha\n     .replace(/[^\\p{L}\\p{N}\\s@.,!?-]/gu, '') // remove tudo que NÃO for letra, número, espaço ou sinais permitidos\n}}\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[13920,880],"id":"e3b29596-3099-48ae-89b3-5ea09f20433a","name":"sincronizar Chatwoot","credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v19.0/705549915969226/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Webhook').first().json.body.conversation.messages[0].source_id }}\",\n  \"typing_indicator\": { \"type\": \"text\" }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[13088,528],"id":"f75d9e6f-1a6c-45e6-a1bf-15476d6bf560","name":"Digitando","executeOnce":true,"credentials":{"whatsAppApi":{"id":"0iKPfEsLxdLdpIgR","name":"WhatsApp dot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fdf6f38f-7512-49df-8aa6-24aeb562a18e","leftValue":"={{ $json.body.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-144,-64],"id":"003abc4b-5fed-4547-801f-c5536cfc2297","name":"filtro mensagem enviada para mim mesmo"},{"parameters":{"jsCode":"// Suponha que a string venha como item.input\nconst input = $input.first().json.output;\n\n// Substitui **qualquer_coisa** por *qualquer_coisa*\nconst output = input.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n\nreturn [{ json: { result: output } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[11792,240],"id":"7481c3c1-1a72-48dd-bd51-805b5710a463","name":"Tratar resposta"},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa \nSET \n  last_interaction_date = NOW()\nWHERE id ={{ $('Merge').first().json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[14928,464],"id":"ef504b42-85b0-4382-b68a-689b61a0edc4","name":"Update_Interaction_Date1","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.dominio }}","status":"success","empresa_id":"='{{ $json.id }}'","action_type":"cliente_respondeu_whastapp","to_status":"={{ $json.status_cadencia_geral }}","canal":"whatsapp","workflow_name":"[WF3] Atendimento WhatsApp","destinatario":"={{ $('dados principais').first().json.numero_conversa }}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[10368,-176],"id":"caa8b01d-d2e1-4164-892f-653c4c042298","name":"Call 'Registrar logs'1"},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Empresa').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_cadencia_geral","fieldValue":"interagindo_wa"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[10160,-16],"id":"adf8ff2a-de56-4ad0-bc49-cdae72960bb2","name":"[REDACTED]","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}}],"connections":{"dados principais":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"SET/UPDATE USER DEBOUNCE TIMER","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Analyze Image","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"Image","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Audio","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"File","type":"main","index":0}]]},"Get File Url":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Only PDF File":{"main":[[{"node":"Get File Url","type":"main","index":0}],[{"node":"Incorrect format","type":"main","index":0}]]},"Get Image Url":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Get Audio Url":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Input type":{"main":[[{"node":"Text","type":"main","index":0}],[{"node":"Get Audio Url","type":"main","index":0}],[{"node":"Get Image Url","type":"main","index":0}],[{"node":"Only PDF File","type":"main","index":0}],[{"node":"button","type":"main","index":0}],[{"node":"Not supported","type":"main","index":0}]]},"TIMEOUT":{"main":[[{"node":"GET FINAL DEBOUNCE VALUE","type":"main","index":0}]]},"GET FINAL DEBOUNCE VALUE":{"main":[[{"node":"IS BATCH READY FOR PROCESSING?","type":"main","index":0}]]},"IS BATCH READY FOR PROCESSING?":{"main":[[{"node":"DELETE CONTROL TIMER KEY","type":"main","index":0}]]},"DELETE CONTROL TIMER KEY":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"GET Acumulador Redis":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"TIMEOUT","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Guardar Mensagem Final do Usuário","type":"main","index":0}]]},"Text":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Audio":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Image":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"File":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Reposta da orquestra":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Redis6","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Redis6":{"main":[[{"node":"AgenteIA_Sumarizador","type":"main","index":0}]]},"BuscarContatoEAssociarEmpresa":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"BuscarContatoEAssociarEmpresa1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code":{"main":[[{"node":"BuscarContatoEAssociarEmpresa1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Switch","type":"main","index":0}]]},"BuscarInteracaoAtivaExistente_SQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"If1":{"main":[[{"node":"CriarNovaInteracao2","type":"main","index":0}],[{"node":"CriarNovaInteracao","type":"main","index":0}]]},"CriarNovaInteracao":{"main":[[{"node":"CriarNovaInteracao1","type":"main","index":0}]]},"Empresa":{"main":[[{"node":"Buscar Erro","type":"main","index":0}]]},"CriarNovaInteracao1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"CriarNovaInteracao2":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"foi criada nova interção?","type":"main","index":0}]]},"Buscar Erro":{"main":[[{"node":"BuscarInteracaoAtivaExistente_SQL","type":"main","index":0}]]},"AgenteIA_Sumarizador":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AgenteIA_Sumarizador","type":"ai_languageModel","index":0}]]},"Code1":{"main":[[{"node":"AtualizarInteracaoNoSupabase","type":"main","index":0}]]},"Buscar Agenda":{"main":[[{"node":"Dot","type":"main","index":0}]]},"foi criada nova interção?":{"main":[[{"node":"[REDACTED]","type":"main","index":0}],[{"node":"Buscar Agenda","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Delete a row","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Supabase","type":"main","index":0}],[{"node":"Supabase2","type":"main","index":0}],[{"node":"Buscar_interações","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Supabase3","type":"main","index":0}]]},"If2":{"main":[[{"node":"Redis1","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Dot","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Dot","type":"ai_memory","index":0}]]},"processar_opt_out":{"ai_tool":[[{"node":"Dot","type":"ai_tool","index":0}]]},"gerenciar_agendamento_call":{"ai_tool":[[{"node":"Dot","type":"ai_tool","index":0}]]},"consultar_base_de_conhecimento":{"ai_tool":[[{"node":"Dot","type":"ai_tool","index":0}]]},"solicitar_atendimento_humano_especializado":{"ai_tool":[[{"node":"Dot","type":"ai_tool","index":0}]]},"registrar_interesse_contato_posterior":{"ai_tool":[[{"node":"Dot","type":"ai_tool","index":0}]]},"Dot":{"main":[[{"node":"Tratar resposta","type":"main","index":0}]]},"Buscar horário de funcionamento":{"main":[[{"node":"Empresa","type":"main","index":0}]]},"Guardar Mensagem Final do Usuário":{"main":[[{"node":"BuscarContatoEAssociarEmpresa","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[]]},"SET/UPDATE USER DEBOUNCE TIMER":{"main":[[{"node":"Input type","type":"main","index":0}]]},"Send message":{"main":[[{"node":"sincronizar Chatwoot","type":"main","index":0}]]},"Supabase3":{"main":[[{"node":"Send message4","type":"main","index":0}]]},"Send message4":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Digitando","type":"main","index":0}]]},"button":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code2","type":"main","index":0}]]},"AtualizarInteracaoNoSupabase":{"main":[[{"node":"Update_Interaction_Date1","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"BUSCAR TEAMPLATE","type":"main","index":0},{"node":"Redis5","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"BUSCAR TEAMPLATE":{"main":[[{"node":"If3","type":"main","index":0}]]},"randomico":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Buscar Erro1":{"main":[[{"node":"reunir informações","type":"main","index":0}]]},"reunir informações":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"If3":{"main":[[{"node":"randomico","type":"main","index":0}],[{"node":"randomico1","type":"main","index":0}]]},"randomico1":{"main":[[{"node":"Reposta da orquestra1","type":"main","index":0}]]},"Send message1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Reposta da orquestra1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send message1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Send message","type":"main","index":0}]]},"If4":{"main":[[{"node":"Buscar horário de funcionamento","type":"main","index":0}]]},"contar_interações":{"main":[[{"node":"If4","type":"main","index":0}]]},"Buscar_interações":{"main":[[{"node":"contar_interações","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"filtro mensagem enviada para mim mesmo","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Code2":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"Delete a row":{"main":[[{"node":"Buscar Erro1","type":"main","index":0}]]},"sincronizar Chatwoot":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Digitando":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"filtro mensagem enviada para mim mesmo":{"main":[[{"node":"dados principais","type":"main","index":0}]]},"Tratar resposta":{"main":[[{"node":"Reposta da orquestra","type":"main","index":0}]]},"Update_Interaction_Date1":{"main":[[{"node":"Execution Data1","type":"main","index":0}]]},"conversainiciada_atualizar_status_empresa":{"main":[[{"node":"Call 'Registrar logs'1","type":"main","index":0},{"node":"Buscar Agenda","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}],"Webhook":[{"json":{"headers":{"host":"n8n-n8n-start.5ikbes.easypanel.host","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89","content-length":"3231","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n-n8n-start.5ikbes.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"3a7ad55109c3","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"account":{"id":1,"name":"DigitalPixel"},"additional_attributes":{},"content_attributes":{},"content_type":"text","content":"PROATIVO 101","conversation":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":98,"contact_id":8297,"inbox_id":4,"source_id":"555193299031","created_at":"2025-10-02T14:19:19.142Z","updated_at":"2025-10-02T14:19:19.142Z","hmac_verified":false,"pubsub_token":"[REDACTED]"},"id":121,"inbox_id":4,"messages":[{"id":949,"content":"PROATIVO 101","account_id":1,"inbox_id":4,"conversation_id":121,"message_type":0,"created_at":1768322693,"updated_at":"2026-01-13T16:44:53.296Z","private":false,"status":"sent","source_id":"wamid.[REDACTED]=","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":8297,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"PROATIVO 101","sentiment":{},"conversation":{"assignee_id":1,"unread_count":5,"last_activity_at":1768322693,"contact_inbox":{"source_id":"555193299031"}},"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":8297,"identifier":null,"name":"Guy Folkz","phone_number":"+555193299031","thumbnail":"","type":"contact"}}],"labels":["whatsapp"],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":8297,"identifier":null,"name":"Guy Folkz","phone_number":"+555193299031","thumbnail":"","type":"contact"},"assignee":{"id":1,"name":"Diego","available_name":"Diego","avatar_url":"http://https/rails/active_storage/representations/redirect/[REDACTED]/[REDACTED]/76aa998881c038a5d6e255937bfbe58c.png","type":"user","availability_status":null,"thumbnail":"http://https/rails/active_storage/representations/redirect/[REDACTED]/[REDACTED]/76aa998881c038a5d6e255937bfbe58c.png"},"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":5,"first_reply_created_at":"2025-10-02T14:23:36.282Z","priority":null,"waiting_since":0,"agent_last_seen_at":1759860997,"contact_last_seen_at":0,"last_activity_at":1768322693,"timestamp":1768322693,"created_at":1759414759},"created_at":"2026-01-13T16:44:53.296Z","id":949,"inbox":{"id":4,"name":"IM"},"message_type":"incoming","private":false,"sender":{"account":{"id":1,"name":"DigitalPixel"},"additional_attributes":{},"avatar":"","custom_attributes":{},"email":null,"id":8297,"identifier":null,"name":"Guy Folkz","phone_number":"+555193299031","thumbnail":""},"source_id":"wamid.[REDACTED]=","event":"message_created"},"webhookUrl":"https://n8n-n8n-start.5ikbes.easypanel.host/webhook/20790468-580d-46f4-8a03-d17c818c62c2","executionMode":"production"}}],"randomico":[{"json":{"messaging_product":"whatsapp","to":"555193299031","type":"template","template":{"name":"mensagemdia1v4","language":{"code":"pt_BR"},"components":[{"type":"body","parameters":[{"type":"text","parameter_name":"dominio","text":"https://redeg2.com.br"},{"type":"text","parameter_name":"cod_erro","text":"500"},{"type":"text","parameter_name":"nome_erro","text":"Internal Server Error"},{"type":"text","parameter_name":"resumoerro","text":"O servidor do site falhou ao tentar carregar a página, o que normalmente impede o acesso completo ao conteúdo."}]}]}}}]},"versionId":"b43fcbf2-81bf-417d-876a-caa0d6472e0d","triggerCount":1,"shared":[{"createdAt":"2025-06-04T17:04:27.750Z","updatedAt":"2025-06-04T17:04:27.750Z","role":"workflow:owner","workflowId":"OMEdDiPjXVuC9Y8j","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}