backups/[wf_processor]-processarlotedeeventos-E2VTyqtdpir69mJ8.json
{"createdAt":"2025-06-15T17:50:31.813Z","updatedAt":"2026-01-16T20:43:35.839Z","id":"E2VTyqtdpir69mJ8","name":"[WF_Processor] ProcessarLoteDeEventos","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-8016,864],"id":"44a30d9d-3d6a-4b8b-99aa-71df33cbce17","name":"Schedule Trigger"},{"parameters":{"operation":"get","tableId":"configuracoes_cadencia","filters":{"conditions":[{"keyName":"nome_configuracao","keyValue":"padrao_v1_whatsapp_email"},{"keyName":"ativo","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-7776,864],"id":"0b0f22ff-ac09-4dc3-bc97-734cd21ea453","name":"CarregarConfiguracaoCadenciaAtiva","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"executeQuery","query":"WITH proximo AS (\n  SELECT id\n  FROM eventos_erro\n  WHERE status_processamento_evento = 'novo_nao_processado'\n  ORDER BY timestamp_erro_detectado ASC\n  FOR UPDATE SKIP LOCKED\n  LIMIT 1\n)\nUPDATE eventos_erro e\nSET    status_processamento_evento = 'em_processamento_pelo_batch'\nFROM   proximo p\nWHERE  e.id = p.id\nRETURNING e.*;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6896,864],"id":"104c5ea9-220e-499b-a9ff-65d89ce6dff4","name":"em_processamento_pelo_batch","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"jsCode":"// Puxe suas constantes (pode vir de outro node ou de $json)\nconst LIMITE_MAX_DIA = $('config_cadencia').first().json.limite_max_novas_abordagens_dia;\nconst ABORDAGENS_FEITAS_HOJE = $input.first().json.novas_abordagens_iniciadas_hoje;\n\n// Itera em cada item de entrada\nfor (const item of items) {\n  item.json.limite_diario_atingido      = ABORDAGENS_FEITAS_HOJE >= LIMITE_MAX_DIA;\n  item.json.data_log_diario             = new Date().toISOString().split('T')[0];\n  item.json.novas_abordagens_atuais_log = ABORDAGENS_FEITAS_HOJE;\n  // opcional: calculo restante\n  item.json.abordagens_restantes        = Math.max(0, LIMITE_MAX_DIA - ABORDAGENS_FEITAS_HOJE);\n}\n\n// Retorna o array de itens modificado\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5792,848],"id":"74c59011-b77a-413e-95b1-626946ee2482","name":"Code_AvaliarLimiteDiario"},{"parameters":{"operation":"get","tableId":"configuracoes_cadencia","filters":{"conditions":[{"keyName":"nome_configuracao","keyValue":"padrao_v1_whatsapp_email"},{"keyName":"ativo","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6224,848],"id":"b9da15ac-e608-4b05-90dd-ba155ca96376","name":"config_cadencia","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"getAll","tableId":"log_controle_diario","limit":100,"filters":{"conditions":[{"keyName":"data_execucao","condition":"eq","keyValue":"={{ new Date().toISOString().split('T')[0] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6016,848],"id":"b5024d31-2ba5-4ec3-b71e-df5c2d9d7833","name":"BuscarLogControleDiario","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"get","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('BuscarEmpresaPorDominio').item.json.id_evento_erro_atual }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5568,848],"id":"fe4f847f-704e-4da0-a4d4-1fdfc0f8a5d0","name":"dados_evento_ativo_carregado","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// --- INÍCIO DO CÓDIGO FINAL E CORRIGIDO ---\nconst item = $input.first();\nconst evento_do_banco_obj = $('em_processamento_pelo_batch').item.json; \n\n// --- DADOS DE CONTEXTO ---\nconst dados_empresa_obj = $('BuscarEmpresaPorDominio').first().json ?? {};\nconst config_cadencia_obj = $('CarregarConfiguracaoCadenciaAtiva').first().json ?? {};\nconst evento_ativo_db_obj = $('dados_evento_ativo_carregado').first().json ?? null;\nconst limite_diario_obj = $('Code_AvaliarLimiteDiario').first()?.json ?? { limite_diario_atingido: false };\n\n// --- VARIÁVEIS ---\nconst agora = new Date();\nconst empresaStatus = dados_empresa_obj.status_cadencia_geral ?? null;\nconst contadorTotalTentativasCadencia = dados_empresa_obj.contador_total_tentativas_cadencia ?? 0;\nconst timestampProximaTentativaPermitida = dados_empresa_obj.timestamp_proxima_tentativa_permitida ?? null;\nconst idEventoErroAtivoNaEmpresa = dados_empresa_obj.id_evento_erro_atual ?? null;\nconst configMaxCadencias = config_cadencia_obj.max_cadencias_por_empresa ?? 3;\nconst evento_ativo_db = (evento_ativo_db_obj && evento_ativo_db_obj.id) ? evento_ativo_db_obj : null;\nconst diaAtualCadenciaEventoAtivo = evento_ativo_db?.dia_atual_na_cadencia ?? 0;\nconst limite_diario_atingido = limite_diario_obj.limite_diario_atingido;\n\n// --- INICIALIZAÇÃO ---\nitem.json.dia_para_processar = 0;\nitem.json.id_evento_para_processar = null;\nitem.json.id_evento_para_sobrescrever = null;\nitem.json.novos_dados_erro_para_evento_ativo = null;\nlet acaoDeterminada = 'IGNORAR_DEFAULT';\n\n// --- LÓGICA DE VERIFICAÇÃO DE COOLDOWN ---\nlet isCooldownOver = false;\nif (timestampProximaTentativaPermitida) {\n    isCooldownOver = new Date(timestampProximaTentativaPermitida) <= agora;\n} else if (dados_empresa_obj.timestamp_ultima_tentativa_cadencia) {\n    const lastAttempt = new Date(dados_empresa_obj.timestamp_ultima_tentativa_cadencia);\n    const cooldownDays = config_cadencia_obj.cooldown_entre_cadencias_dias ?? 15;\n    lastAttempt.setDate(lastAttempt.getDate() + cooldownDays);\n    isCooldownOver = lastAttempt <= agora;\n} else {\n    // Se não tem timestamp definido, assume que cooldown passou, \n    // EXCETO se o status for de bloqueio definitivo (tratado abaixo)\n    isCooldownOver = true;\n}\n\n\n// --- LÓGICA DE DECISÃO FINAL ---\n\n// 0. (NOVO) Verificar Bloqueios Definitivos e Pausas\nif (empresaStatus === 'bloqueio_definitivo' || empresaStatus === 'nao_perturbe') {\n    acaoDeterminada = 'IGNORAR_EMPRESA_EM_ESPERA_OU_FINALIZADA';\n}\n// Se estiver em cooldown bitrix e a data AINDA NÃO passou (isCooldownOver=false), ignora.\n// Se a data passou (isCooldownOver=true), vai cair no passo 5 e reiniciar cadência.\nelse if (empresaStatus === 'em_cooldown_bitrix' && !isCooldownOver) {\n    acaoDeterminada = 'IGNORAR_COOLDOWN_OU_OUTRO';\n}\n\n// 1. A cadência terminou e deve ser finalizada como \"sem sucesso\"?\nelse if (empresaStatus === 'dia3_concluido_aguardando_finalizacao') {\n    acaoDeterminada = 'FINALIZAR_CADENCIA_EVENTO_SEM_SUCESSO';\n}\n\n// 2. A empresa tem um status final ou está em espera e deve ser ignorada?\n// --- ALTERAÇÃO: Adicionados status explicitos de fim\nelse if ( (empresaStatus && empresaStatus.startsWith('aguardando_reforco')) || empresaStatus === 'sucesso_contato_realizado' || empresaStatus === 'falha_max_cadencias_atingida') {\n    acaoDeterminada = 'IGNORAR_EMPRESA_EM_ESPERA_OU_FINALIZADA';\n}\n\n// 3. A empresa está aguardando o próximo dia da cadência?\nelse if (empresaStatus === 'dia1_concluido_aguardando_dia2' || empresaStatus === 'dia2_concluido_aguardando_dia3') {\n    acaoDeterminada = 'CONTINUAR_CADENCIA_PROXIMO_DIA';\n    item.json.dia_para_processar = diaAtualCadenciaEventoAtivo + 1;\n    item.json.id_evento_para_processar = idEventoErroAtivoNaEmpresa;\n    item.json.id_evento_para_sobrescrever = idEventoErroAtivoNaEmpresa;\n    item.json.novos_dados_erro_para_evento_ativo = {\n        tipo_erro: evento_do_banco_obj.nome_erro,\n        explicacao: evento_do_banco_obj.detalhes_erro_payload,\n        id_externo: evento_do_banco_obj.id_evento_erro_externo,\n        timestamp_deteccao: evento_do_banco_obj.timestamp_erro_detectado,\n        tipo_erro_site_code: evento_do_banco_obj.tipo_erro_site\n    };\n}\n\n// 4. Se não, a empresa tem um erro ativo, um novo erro DIFERENTE chegou E ela NÃO está apta para uma nova cadência?\nelse if (idEventoErroAtivoNaEmpresa && evento_ativo_db && empresaStatus !== 'apta_para_nova_cadencia' && evento_do_banco_obj.id_evento_erro_externo !== evento_ativo_db.id_evento_erro_externo) {\n    acaoDeterminada = 'CONTINUAR_CADENCIA_PROXIMO_DIA'; \n    item.json.dia_para_processar = diaAtualCadenciaEventoAtivo; \n    item.json.id_evento_para_processar = idEventoErroAtivoNaEmpresa;\n    item.json.id_evento_para_sobrescrever = idEventoErroAtivoNaEmpresa;\n    item.json.novos_dados_erro_para_evento_ativo = {\n        tipo_erro: evento_do_banco_obj.nome_erro,\n        explicacao: evento_do_banco_obj.detalhes_erro_payload,\n        id_externo: evento_do_banco_obj.id_evento_erro_externo,\n        timestamp_deteccao: evento_do_banco_obj.timestamp_erro_detectado,\n        tipo_erro_site_code: evento_do_banco_obj.tipo_erro_site\n    };\n}\n\n// 5. Se não, a empresa está apta para uma NOVA cadência?\nelse if (contadorTotalTentativasCadencia < configMaxCadencias && isCooldownOver) {\n    if (limite_diario_atingido) {\n        acaoDeterminada = 'IGNORAR_LIMITE_DIARIO_ATINGIDO';\n    } else {\n        acaoDeterminada = 'INICIAR_NOVA_CADENCIA_DIA_1';\n        item.json.dia_para_processar = 1;\n        item.json.id_evento_para_processar = evento_do_banco_obj.id;\n    }\n}\n\n// 6. Se nenhuma condição for atendida, ignorar.\nelse {\n    acaoDeterminada = 'IGNORAR_COOLDOWN_OU_OUTRO';\n}\n\nitem.json.acao_determinada = acaoDeterminada;\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5056,848],"id":"72d80898-fe9e-4412-97c8-2844026608ee","name":"DeterminarAcaoParaEvento"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.acao_determinada }}","rightValue":"INICIAR_NOVA_CADENCIA_DIA_1","operator":{"type":"string","operation":"equals"},"id":"83cb8caa-111b-4982-a1e4-4bf72deff599"}],"combinator":"and"},"renameOutput":true,"outputKey":"DIA_1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1137d14a-77e8-4c64-89f9-12425adc2dfa","leftValue":"={{ $json.acao_determinada }}","rightValue":"CONTINUAR_CADENCIA_PROXIMO_DIA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROXIMO_DIA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8717023-c784-45ea-bc89-bcc8501e17fe","leftValue":"={{ $json.acao_determinada }}","rightValue":"ATUALIZAR_ERRO_EM_CADENCIA_ATIVA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ATUALIZAR_ERRO_EM_CADENCIA_ATIVA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a966baae-395e-4361-81cf-eb2b13530fb5","leftValue":"={{ $json.acao_determinada }}","rightValue":"FINALIZAR_CADENCIA_EVENTO_SEM_SUCESSO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FINALIZAR_CADENCIA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b97c5959-8b79-4361-9e02-715f5ed11163","leftValue":"={{ $json.acao_determinada }}","rightValue":"=IGNORAR","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IGNORAR"}]},"options":{"ignoreCase":false,"allMatchingOutputs":false}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3856,720],"id":"0b3da1cf-ee5e-4d95-98a5-4eb83ad800f4","name":"AcaoDeterminada"},{"parameters":{"operation":"update","tableId":"log_controle_diario","matchType":"allFilters","filters":{"conditions":[{"keyName":"data_execucao","condition":"eq","keyValue":"={{new Date().toISOString().slice(0, 10) }}"},{"keyName":"novas_abordagens_iniciadas_hoje","condition":"lt","keyValue":"={{ $('config_cadencia').item.json.limite_max_novas_abordagens_dia }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"novas_abordagens_iniciadas_hoje","fieldValue":"={{ $('BuscarLogControleDiario').item.json.novas_abordagens_iniciadas_hoje + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3248,224],"id":"60f8bb1a-e6d0-4176-b806-5bc353c7b6d1","name":"IncrementarLogControleDiario","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BuscarEmpresaPorDominio').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"contador_total_tentativas_cadencia","fieldValue":"={{ $('BuscarEmpresaPorDominio').item.json.contador_total_tentativas_cadencia + 1 }}"},{"fieldId":"status_cadencia_geral","fieldValue":"cadencia_dia1_ativa"},{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"timestamp_proxima_tentativa_permitida","fieldValue":"={{null}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2784,176],"id":"c810a5bd-a0f7-4c9a-b873-16791600d6ea","name":"[REDACTED]","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"get","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('em_processamento_pelo_batch').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2352,176],"id":"1439f4ae-acd0-48cb-a544-957b5119e6fd","name":"RegistrarNovoEventoErro","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BuscarEmpresaPorDominio').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"id_evento_erro_atual","fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2128,176],"id":"ee1ff7bc-a4aa-42b9-90df-79c3d22b674d","name":"AtualizarEmpresa_SetEventoAtivo","executeOnce":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id_evento_para_processar }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"dia_atual_na_cadencia","fieldValue":"={{ $('DeterminarAcaoParaEvento').item.json.dia_para_processar }}"},{"fieldId":"status_processamento_evento","fieldValue":"={{ \"processando_dia_\" + $('DeterminarAcaoParaEvento').item.json.dia_para_processar }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3184,656],"id":"e5e2273e-c82a-4256-94ef-59f131300c1f","name":"AtualizarEventoParaProximoDia","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BuscarEmpresaPorDominio').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_cadencia_geral","fieldValue":"={{ \"cadencia_dia\" + $json.dia_atual_na_cadencia + \"_ativa\" }}"},{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2976,640],"id":"01ebef75-24b4-400c-bd16-88a9138e0a82","name":"AtualizarEmpresa_ContinuarCadencia","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"getAll","tableId":"templates_mensagens","matchType":"allFilters","filters":{"conditions":[{"keyName":"etapa_cadencia","condition":"eq","keyValue":"={{ $('DeterminarAcaoParaEvento').item.json.dia_para_processar * 100 + 1 }}"},{"keyName":"ativo","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2128,672],"id":"aa7d3e45-9d75-4dc2-bff2-ab791044fe46","name":"BuscarTemplates_DiaX_Principal","executeOnce":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"getAll","tableId":"contatos_empresa","filters":{"conditions":[{"keyName":"empresa_id","condition":"eq","keyValue":"={{ $('AtualizarEmpresa_ContinuarCadencia').first().json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2624,672],"id":"78b58032-8835-4d9a-a0d1-7303ed7f8f5f","name":"Buscar_contatos1","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"empresas","filterType":"=manual","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('AtualizarEmpresa_ContinuarCadencia').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_cadencia_geral","fieldValue":"={{ $json.proximo_status_cadencia_geral_empresa }}"},{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4672,1360],"id":"a1d7d371-abb1-47d1-b369-e57db9376c07","name":"AtualizarEmpresa_StatusPosEnvioD","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id_evento_para_sobrescrever }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"tipo_erro_site","fieldValue":"={{ $json.novos_dados_erro_para_evento_ativo.tipo_erro_site_code }}"},{"fieldId":"detalhes_erro_payload","fieldValue":"={{ $json.novos_dados_erro_para_evento_ativo.explicacao }}"},{"fieldId":"timestamp_erro_detectado","fieldValue":"={{ $json.novos_dados_erro_para_evento_ativo.timestamp_deteccao }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"status_processamento_evento","fieldValue":"={{ \"processando_dia_\" +  $json.dia_para_processar  }}"},{"fieldId":"nome_erro","fieldValue":"={{ $json.novos_dados_erro_para_evento_ativo.tipo_erro }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3120,1088],"id":"ac00f354-fd57-40f5-9cc7-468063b5a8f8","name":"SobrescreverDadosEventoErroAtivo","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('DeterminarAcaoParaEvento').item.json.empresa.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2784,1056],"id":"155f3e50-e42d-4c5f-98ff-b6b52bd2bcf2","name":"[REDACTED]","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.evento_ativo_db.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_processamento_evento","fieldValue":"={{ \"concluido_sem_sucesso_\" + $json.config_cadencia.max_dias_cadencia_por_evento + \"dias\" }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3200,1472],"id":"90f5363f-1503-48ef-ba0c-e859387d384f","name":"FinalizarEventoSemSucesso","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"jsCode":"const item = items[0];\n// Senão, pegue do item.json:\nconst contadorAtual = $('DeterminarAcaoParaEvento').first().json.empresa.contador_total_tentativas_cadencia;\nconst maxCadencias = $('DeterminarAcaoParaEvento').first().json.config_cadencia.max_cadencias_por_empresa;\nconst configCadencia = $('DeterminarAcaoParaEvento').first().json.config_cadencia;\n\n// Lógica de Cooldown Dinâmico para Falha de Cadência\n// Motivo implícito: \"[REDACTED]\"\nconst REASON_KEY = '[REDACTED]';\nconst motivosPerda = configCadencia.motivos_perda_bitrix || {};\nconst reasonConfig = motivosPerda[REASON_KEY];\n\n// Prioridade: \n// 1. Dias específicos do motivo (se existir)\n// 2. Cooldown médio da config (já que esse motivo é do tipo 'COOLDOWN_MEDIO')\n// 3. Cooldown padrão antigo (fallback)\nlet cooldownDias = 14; // Fallback padrão hardcoded\nif (reasonConfig && reasonConfig.cooldown_days !== null) {\n    cooldownDias = reasonConfig.cooldown_days;\n} else if (configCadencia.cooldown_medio_dias) {\n    cooldownDias = configCadencia.cooldown_medio_dias;\n} else if (configCadencia.cooldown_entre_cadencias_dias) {\n    cooldownDias = configCadencia.cooldown_entre_cadencias_dias;\n}\n\nlet statusFinalParaEmpresa = 'apta_para_nova_cadencia';\nlet proximaTentativaTimestamp = $now.plus({ days: cooldownDias }).toISO();\n\n// O contador_total_tentativas_cadencia já foi incrementado no início da cadência do evento que acabou de falhar.\n// Então, verificamos se este contador JÁ ATINGIU o máximo.\nif (contadorAtual >= maxCadencias) {\n    statusFinalParaEmpresa = 'falha_max_cadencias_atingida';\n    proximaTentativaTimestamp = null; \n}\n\nitem.json.status_cadencia_geral_final_empresa = statusFinalParaEmpresa;\nitem.json.[REDACTED] = proximaTentativaTimestamp;\n\nreturn item;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2896,1520],"id":"7f4c97e6-835b-46c2-830d-a9e91488ae58","name":"Code_PrepararUpdateFinalEmpresa"},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.empresa_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_cadencia_geral","fieldValue":"={{ $json.status_cadencia_geral_final_empresa }}"},{"fieldId":"id_evento_erro_atual","fieldValue":"={{null}}"},{"fieldId":"timestamp_proxima_tentativa_permitida","fieldValue":"={{ $json.[REDACTED] }}"},{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"contador_total_tentativas_cadencia","fieldValue":"={{ $('BuscarEmpresaPorDominio').item.json.contador_total_tentativas_cadencia + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2560,1520],"id":"ab726ec9-2f94-4cbc-8a49-b10017f7bd69","name":"[REDACTED]","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cebd99e-f333-4d98-8ec4-39acfca6679b","leftValue":"={{ $json.id_evento_para_processar !== null || $json.id_evento_para_sobrescrever !== null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3424,1872],"id":"6547df9b-5a8a-4387-9b83-2da1597bcbd1","name":"IF_EventoJaRegistrado"},{"parameters":{"dataToSave":{"values":[{"key":"[REDACTED]","value":"=console.log(\\Webhook para {{$json.dados_para_decisao.evento_webhook.dominio_evento}} ignorado. Ação: {{$json.acao_determinada}}. Motivo (se houver): {{$json.motivo_ignore ?? 'N/A'}}`);`"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-3168,1840],"id":"5e4eddeb-7376-4273-b742-af26d1eea1b9","name":"Execution Data1"},{"parameters":{"jsCode":"const item = items[0];\nconst acao = $json.acao_determinada;\nlet statusEvento = 'ignorado_default_ou_outro'; // Default\n\nif (acao === 'IGNORAR_LIMITE_DIARIO_ATINGIDO') {\n    statusEvento = 'ignorado_limite_diario_abordagem';\n} else if (acao === 'IGNORAR_COOLDOWN_OU_OUTRO') {\n    statusEvento = 'ignorado_cooldown_empresa'; // Assumindo que é cooldown\n} else if (acao === 'IGNORAR_EMPRESA_FINALIZADA') {\n    statusEvento = 'ignorado_empresa_ja_finalizada';\n} // Adicione mais mapeamentos se necessário\n\nitem.json.[REDACTED] = statusEvento;\nreturn item;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2720,2032],"id":"86ddc9d2-41b6-4f0f-ac0e-ec57e13cec88","name":"Code2"},{"parameters":{"operation":"executeQuery","query":"UPDATE public.eventos_erro\nSET \n    status_processamento_evento = '{{ $('Code2').item.json.[REDACTED] }}',\n    data_ultima_atualizacao = NOW()\nWHERE \n    id = {{ $('em_processamento_pelo_batch').item.json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2400,2032],"id":"eea52cbe-10df-408d-b700-325f2957b526","name":"RegistrarEventoComoIgnorado","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"get","tableId":"empresas","filters":{"conditions":[{"keyName":"url_inicial","keyValue":"={{ $json.url_site_com_erro }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6672,864],"id":"c9860b59-1050-4b8d-a965-e66b9682e8cd","name":"BuscarEmpresaPorDominio","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cb328c9-947d-4076-b8cb-021fe4138488","leftValue":"={{ $json.url_inicial }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6448,848],"id":"65efbeb5-a036-4c40-9dd7-2c8734de684a","name":"IF_EmpresaExiste","alwaysOutputData":false},{"parameters":{"dataToSave":{"values":[{"key":"[REDACTED]","value":"={{ $json.dominio }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-6224,656],"id":"0b3698aa-26a8-4307-aa17-8d175c5fbfc7","name":"site_processado"},{"parameters":{"dataToSave":{"values":[{"key":"[REDACTED]","value":"LogErroCritico_EmpresaNaoEncontrada"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-6224,1056],"id":"eeebcdc9-c54b-4150-abae-38839755f8fd","name":"Execution Data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d57c0a19-a89b-4fcd-82dd-3a2829c707dd","leftValue":"={{ $json.id_evento_para_sobrescrever }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4784,672],"id":"ca8a27d0-5819-4eeb-9034-568879ca05e4","name":"atualizar evento"},{"parameters":{"operation":"update","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id_evento_para_sobrescrever }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"tipo_erro_site","fieldValue":"={{ $json.novos_dados_erro_para_evento_ativo.tipo_erro_site_code }}"},{"fieldId":"detalhes_erro_payload","fieldValue":"={{ $json.novos_dados_erro_para_evento_ativo.explicacao }}"},{"fieldId":"timestamp_erro_detectado","fieldValue":"={{ $json.novos_dados_erro_para_evento_ativo.timestamp_deteccao }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"status_processamento_evento","fieldValue":"={{ \"processando_dia_\" +  $json.dia_para_processar  }}"},{"fieldId":"nome_erro","fieldValue":"={{ $json.novos_dados_erro_para_evento_ativo.tipo_erro }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4608,512],"id":"6f74a8e5-bf9d-4183-baaa-21753770e6d5","name":"SobrescreverDadosEventoErroAtivo3","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('DeterminarAcaoParaEvento').item.json.empresa.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4448,432],"id":"10956764-0260-45d4-bd15-8c77db0feaf3","name":"[REDACTED]","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4224,1440],"id":"8f291655-2929-4660-b226-466f9a6663e4","name":"Aggregate1"},{"parameters":{"operation":"getAll","tableId":"contatos_empresa","filters":{"conditions":[{"keyName":"empresa_id","condition":"eq","keyValue":"={{ $json.empresa.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3744,240],"id":"6ea631be-9985-47d6-a3f8-a2435af9f4a2","name":"Buscar_contatos2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"executeQuery","query":"-- Buscar todos os contatos (emails e telefones) de uma empresa\n-- IMPORTANTE: Incluindo campos de controle do Chatwoot para gestão de conversas\nSELECT\n    c.id AS id_contato_empresa,\n    c.nome_contato,\n    c.cargo,\n    c.valor_contato,\n    c.tipo_contato,\n    c.whatsapp_valido,\n    c.chatwoot_contact_id,\n    c.chatwoot_conversation_id,\n    c.chatwoot_sync_status,\n    c.chatwoot_sync_date,\n    c.last_template_sent,\n    c.last_interaction_date,\n    c.empresa_id,\n    e.nome_empresa_pagina AS nome_empresa\nFROM\n    contatos_empresa c\nJOIN\n    empresas e ON c.empresa_id = e.id\nWHERE\n    c.empresa_id = {{ $('AtualizarEmpresa_SetEventoAtivo').first().json.id }}\n    AND c.status_contato = 'ativo'\nORDER BY\n    c.tipo_contato, c.prioridade_contato;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1472,176],"id":"9e0e545c-90eb-4284-800d-6e69d456f26c","name":"Buscar_contatos3","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"getAll","tableId":"templates_mensagens","matchType":"allFilters","filters":{"conditions":[{"keyName":"etapa_cadencia","condition":"eq","keyValue":"101"},{"keyName":"ativo","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1856,192],"id":"d5c663d9-f0f5-41a2-97ca-6e15efd360a3","name":"BuscarTemplates_D1_Principal1","executeOnce":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"teamplate","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1664,176],"id":"52174e3b-bdf7-400f-9c61-95e2bb8e2099","name":"Aggregate2"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"contatos","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1248,176],"id":"635cbee7-350b-49ca-923e-9aa28139b040","name":"Aggregate3"},{"parameters":{"jsCode":"try {\n  // --- 1. CAPTURA DE DADOS ---\n  const contatos = $input.first().json.contatos || [];\n  const todosTemplates = $('Aggregate2').first().json.teamplate || [];\n  const eventoErro = $('RegistrarNovoEventoErro').first().json || {};\n\n  if (!contatos.length || !todosTemplates.length) {\n    return [];\n  }\n\n  // --- 2. PREPARAÇÃO ---\n  const placeholders = {\n    dominio:     eventoErro.url_site_com_erro      || 'seu site',\n    nome_erro:   eventoErro.nome_erro              || eventoErro.tipo_erro_site || 'Erro desconhecido',\n    resumoerro: typeof eventoErro.detalhes_erro_payload === 'string'\n      ? eventoErro.detalhes_erro_payload\n      : JSON.stringify(eventoErro.detalhes_erro_payload || ''),\n    cod_erro:    eventoErro.tipo_erro_site?.toString() || '',\n    id_empresa:  eventoErro.empresa_id?.toString()   || ''\n  };\n  placeholders.explicacao_resumida_erro = placeholders.resumoerro;\n\n  function preencherTexto(texto, valores) {\n    if (typeof texto !== 'string') return '';\n    return texto.replace(/{{\\s*([^}]+)\\s*}}/g, (_, chave) => valores[chave] || '');\n  }\n\n  function htmlToText(html) {\n    if (typeof html !== 'string') return '';\n    return html.replace(/<br\\s*\\/?>/gi, '\\n').replace(/<[^>]*>/g, '').replace(/&nbsp;/g, ' ').trim();\n  }\n\n  // NOVA FUNÇÃO AUXILIAR PARA FORMATAR O NÚMERO\n  function formatarParaE164(numero) {\n    if (!numero || typeof numero !== 'string') return '';\n    // Remove todos os caracteres não numéricos\n    let numeros = numero.replace(/\\D/g, '');\n\n    // Se o número já incluir o código do país (55), apenas adiciona o '+'\n    if (numeros.startsWith('55') && (numeros.length === 12 || numeros.length === 13)) {\n        return `+${numeros}`;\n    }\n    // Se for um número local (com DDD, 10 ou 11 dígitos), adiciona o código do país '55'\n    if (numeros.length === 10 || numeros.length === 11) {\n        return `+55${numeros}`;\n    }\n    // Para outros casos, apenas adiciona o '+' (fallback)\n    return `+${numeros}`;\n  }\n\n\n  const templateEmail = todosTemplates.find(t => t.canal === 'email' && t.ativo);\n  const templateWhatsapp = todosTemplates.find(t => t.canal === 'whatsapp' && t.ativo);\n\n  // --- 3. MONTAGEM DAS AÇÕES ---\n  const resultados = [];\n  const contatosElegiveis = contatos;\n\n  for (const contato of contatosElegiveis) {\n    const idDoContato = contato.id || contato.id_contato_empresa;\n    if (!idDoContato) continue;\n\n    let acaoDeEnvio = null;\n    let corpoRenderizado = '';\n    let templateUsado = null;\n    let variaveisDoTemplate = [];\n\n    if (contato.tipo_contato === 'whatsapp' && contato.whatsapp_valido && templateWhatsapp) {\n      templateUsado = templateWhatsapp;\n      corpoRenderizado = preencherTexto(templateWhatsapp.corpo_template, placeholders);\n      const regex = /{{\\s*([^}]+)\\s*}}/g;\n      variaveisDoTemplate = [...new Set(Array.from(templateWhatsapp.corpo_template.matchAll(regex), m => m[1]))];\n      const params = variaveisDoTemplate.map(key => ({\n        type: 'text',\n        parameter_name: key,\n        text: placeholders[key] || ''\n      }));\n      acaoDeEnvio = {\n        action: 'send_whatsapp',\n        payload: {\n          messaging_product: 'whatsapp', to: contato.valor_contato, type: 'template',\n          template: { name: templateWhatsapp.name_teamplate_meta, language: { code: 'pt_BR' }, components: [{ type: 'body', parameters: params }] }\n        }\n      };\n    } else if (contato.tipo_contato === 'email' && templateEmail) {\n      templateUsado = templateEmail;\n      const subject = preencherTexto(templateEmail.assunto_template, placeholders);\n      corpoRenderizado = preencherTexto(templateEmail.corpo_template, placeholders);\n      acaoDeEnvio = { action: 'send_email', payload: { to: contato.valor_contato, subject, body: corpoRenderizado } };\n    }\n\n    if (!acaoDeEnvio) continue;\n\n    if (!contato.chatwoot_contact_id) {\n      if (contato.tipo_contato === 'whatsapp') {\n        // MODIFICAÇÃO APLICADA AQUI\n        resultados.push({ json: { action: 'chatwoot_create_if_needed', payload: { phone_number: formatarParaE164(contato.valor_contato), name: contato.nome_contato || 'Contato', inbox_id: 4, id_contato_empresa: idDoContato } }});\n      } else if (contato.tipo_contato === 'email') {\n        resultados.push({ json: { action: 'chatwoot_create_email_contact', payload: { email: contato.valor_contato, phone_number: ' ', name: contato.nome_contato || 'Contato', inbox_id: 4, id_contato_empresa: idDoContato } }});\n      }\n    }\n\n    resultados.push({ json: acaoDeEnvio });\n    \n    // AJUSTE: Converte para texto e remove quebras de linha para o registro.\n    const conteudoParaRegistro = htmlToText(corpoRenderizado).replace(/(\\r\\n|\\n|\\r)/gm, \" \");\n    \n    const processedParams = {};\n    variaveisDoTemplate.forEach((chave, index) => {\n      processedParams[(index + 1).toString()] = placeholders[chave] || '';\n    });\n    \n    const templateParamsParaRegistro = {\n      name: templateUsado ? (templateUsado.name_teamplate_meta || templateUsado.nome_template) : null,\n      category: 'UTILITY',\n      language: 'pt_BR',\n      processed_params: processedParams\n    };\n\n    resultados.push({ json: {\n      action: 'chatwoot_register_message',\n      payload: {\n        content: conteudoParaRegistro,\n        private: true,\n        id_contato_empresa: idDoContato,\n        has_existing_conversation: !!contato.chatwoot_conversation_id,\n        contact_id: contato.chatwoot_contact_id, \n        conversation_id: contato.chatwoot_conversation_id,\n        valor_contato: contato.valor_contato ? contato.valor_contato.replace(/\\D/g, '') : null,\n        template_name_for_log: templateUsado ? templateUsado.nome_template : null,\n        template_params: templateParamsParaRegistro\n      }\n    }});\n  }\n\n  return resultados;\n\n} catch (error) {\n  return [{ json: { _critical_error: \"Falha na execução do Nó de Código Orquestrador.\", error_message: error.message, stack: error.stack } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,272],"id":"ac48654e-6de3-4fba-8a20-99d48c8a3f26","name":"Ação do contato"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"chatwoot_create_if_needed","operator":{"type":"string","operation":"equals"},"id":"6f772019-54f6-4603-bf46-f24cbe42c9e7"}],"combinator":"and"},"renameOutput":true,"outputKey":"create_if_needed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8048003-89bb-4742-ae36-9cabde7f40ed","leftValue":"={{ $json.action }}","rightValue":"chatwoot_create_email_contact","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"create_email_contact"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb37d8d8-3068-4f22-8d57-ce0e363afb0d","leftValue":"={{ $json.action }}","rightValue":"send_whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"send_whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"29030f8d-6306-4f2f-bc88-9c24c5abb72b","leftValue":"={{ $json.action }}","rightValue":"send_email","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"send_email"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8a6b6de-8cd4-4b4f-8ec5-c5cf8c2abf04","leftValue":"={{ $json.action }}","rightValue":"chatwoot_register_message","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"chatwoot_register_message"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-272,240],"id":"008b43e9-4d56-4feb-a8cb-133ee91a9708","name":"Roteador Central"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v23.0/705549915969226/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,192],"id":"130f246b-7e37-4dba-bf55-c50116a194ee","name":"Enviar WhatsApp1","alwaysOutputData":true,"credentials":{"whatsAppApi":{"id":"0iKPfEsLxdLdpIgR","name":"WhatsApp dot"}},"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"=\"Dot da Digital Pixel\" <dot@digitalpixel.com.br>","toEmail":"={{ $json.payload.to }}","subject":"={{ $json.payload.subject }}","html":"={{ $json.payload.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[496,448],"id":"5e2c508f-9604-4737-9477-ec7eb5e8a5c6","name":"Send email","webhookId":"4bc2649d-246a-4db8-a818-e13289eef831","executeOnce":false,"alwaysOutputData":true,"credentials":{"smtp":{"id":"shOWMvBSkf2d8rpR","name":"SMTP account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,-160],"id":"2b8e60bc-f40b-4217-9736-3c98af4bc400","name":"Criar Contato WhatsApp","credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa\nSET\n  chatwoot_contact_id = {{ $json.payload.contact.id }},\n  chatwoot_sync_status = 'synced',\n  chatwoot_sync_date = NOW()\nWHERE\n  id = {{ $('Roteador Central').item.json.payload.id_contato_empresa }};\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[368,-160],"id":"5c14f5d3-edd3-442b-92e8-eacec8a62947","name":"atualizar contato_empresa","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa\nSET\n  chatwoot_contact_id = {{ $json.payload.contact.id }},\n  chatwoot_sync_status = 'synced',\n  chatwoot_sync_date = NOW()\nWHERE\n  id = {{ $('Roteador Central').item.json.payload.id_contato_empresa }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[608,0],"id":"d5cfd949-7a45-42e7-ad73-8c8034693770","name":"atualizar contato_empresa1","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"method":"POST","url":"https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,64],"id":"967813a1-32f1-4781-97bc-8dcd5e326483","name":"Criar Contato Email","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}}},{"parameters":{"method":"POST","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/conversations/{{ $json.payload.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.payload.content.replace(/(\\r?\\n|\\r)/gm, \" \") }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": {{ $json.payload.private }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,704],"id":"6d9f6dc3-6f42-4240-a1f2-d71f65853564","name":"Add_Message_To_Existing_Conversation1","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/conversations/{{ $json.id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $('Loop Over Items1').item.json.payload.content }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": {{ $('Loop Over Items1').item.json.payload.private }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,960],"id":"1154c659-6cda-4a48-8654-5d081fb297b7","name":"Add_Message_To_New_Conversation1","alwaysOutputData":true,"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa \nSET \n  chatwoot_conversation_id = {{ $('criar conversation1').item.json.id }},\n  last_interaction_date = NOW()\nWHERE \n  id = {{ $('Roteador Central').item.json.payload.id_contato_empresa }}\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[896,1024],"id":"52d668b7-6bca-4a4a-9eda-2fa9afe8cf9f","name":"Update_Conversation_ID1","alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa \nSET \n  last_interaction_date = NOW()\nWHERE id ={{ $('IF_Existing_Conversation1').item.json.payload.id_contato_empresa }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[496,704],"id":"c3ddddbe-22c6-4fba-9d39-361d1c0f7705","name":"Update_Interaction_Date1","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.payload.has_existing_conversation }}","rightValue":true,"operator":{"type":"boolean","operation":"true"},"id":"6c822995-e357-4fde-a310-82ca6af995d5"}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-32,752],"id":"8339dbd3-9fde-4075-841c-439358793a51","name":"IF_Existing_Conversation1"},{"parameters":{"method":"POST","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/conversations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contact_id\": {{ $json.payload.contact_id }},\n  \"inbox_id\": 4,\n  \"source_id\": \"{{ $json.payload.valor_contato }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,992],"id":"0d76cd16-f410-4f6c-b7a2-b76f3a0299f3","name":"criar conversation1","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[64,944],"id":"f1e3638e-1872-47a6-accc-074947f0b4dc","name":"Loop Over Items1"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1872,336],"id":"7c36ac54-3db6-441c-bf33-62781237ba6b","name":"Merge3"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"tipo_contato"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3152,352],"id":"c118564d-820c-4583-884d-5db7c6250eb9","name":"Aggregate4"},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('[REDACTED]').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_cadencia_geral","fieldValue":"aguardando_reforco1_dia1"},{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3376,352],"id":"16cc5dac-27bd-4b7b-8e4e-435b0549137b","name":"AtualizarEmpresa_StatusPosEnvioD2","executeOnce":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"contatos","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2416,672],"id":"6f423f60-4847-4007-b112-2b8a93d868a8","name":"Aggregate5"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"teamplate","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1824,704],"id":"e9bf7989-223a-4c60-adfe-4ad6e20de7b0","name":"Aggregate6"},{"parameters":{"jsCode":"// --- 1. CAPTURA DE DADOS ---\n// Assumindo que a estrutura de entrada agora está correta.\n\n\ntry {\n  // --- 1. CAPTURA DE DADOS ---\nconst contatos = $('Aggregate5').first().json.contatos || [];\nconst todosTemplates = $input.first().json.teamplate || [];\nconst eventoErro = $('AtualizarEventoParaProximoDia').first().json || {};\n\n  if (!contatos.length || !todosTemplates.length) {\n    return [];\n  }\n\n  // --- 2. PREPARAÇÃO ---\n  const placeholders = {\n    dominio:    eventoErro.url_site_com_erro       || 'seu site',\n    nome_erro:  eventoErro.nome_erro             || eventoErro.tipo_erro_site || 'Erro desconhecido',\n    resumoerro: typeof eventoErro.detalhes_erro_payload === 'string'\n      ? eventoErro.detalhes_erro_payload\n      : JSON.stringify(eventoErro.detalhes_erro_payload || ''),\n    cod_erro:   eventoErro.tipo_erro_site?.toString() || '',\n    id_empresa: eventoErro.empresa_id?.toString()   || ''\n  };\n  placeholders.explicacao_resumida_erro = placeholders.resumoerro;\n\n  function preencherTexto(texto, valores) {\n    if (typeof texto !== 'string') return '';\n    return texto.replace(/{{\\s*([^}]+)\\s*}}/g, (_, chave) => valores[chave] || '');\n  }\n\n  function htmlToText(html) {\n    if (typeof html !== 'string') return '';\n    return html.replace(/<br\\s*\\/?>/gi, '\\n').replace(/<[^>]*>/g, '').replace(/&nbsp;/g, ' ').trim();\n  }\n\n  const templateEmail = todosTemplates.find(t => t.canal === 'email' && t.ativo);\n  const templateWhatsapp = todosTemplates.find(t => t.canal === 'whatsapp' && t.ativo);\n\n  // --- 3. MONTAGEM DAS AÇÕES ---\n  const resultados = [];\n  const contatosElegiveis = contatos;\n\n  for (const contato of contatosElegiveis) {\n    const idDoContato = contato.id || contato.id_contato_empresa;\n    if (!idDoContato) continue;\n\n    let acaoDeEnvio = null;\n    let corpoRenderizado = '';\n    let templateUsado = null;\n    let variaveisDoTemplate = [];\n\n    if (contato.tipo_contato === 'whatsapp' && contato.whatsapp_valido && templateWhatsapp) {\n      templateUsado = templateWhatsapp;\n      corpoRenderizado = preencherTexto(templateWhatsapp.corpo_template, placeholders);\n      const regex = /{{\\s*([^}]+)\\s*}}/g;\n      variaveisDoTemplate = [...new Set(Array.from(templateWhatsapp.corpo_template.matchAll(regex), m => m[1]))];\n      const params = variaveisDoTemplate.map(key => ({\n        type: 'text',\n        parameter_name: key,\n        text: placeholders[key] || ''\n      }));\n      acaoDeEnvio = {\n        action: 'send_whatsapp',\n        payload: {\n          messaging_product: 'whatsapp', to: contato.valor_contato, type: 'template',\n          template: { name: templateWhatsapp.name_teamplate_meta, language: { code: 'pt_BR' }, components: [{ type: 'body', parameters: params }] }\n        }\n      };\n    } else if (contato.tipo_contato === 'email' && templateEmail) {\n      templateUsado = templateEmail;\n      const subject = preencherTexto(templateEmail.assunto_template, placeholders);\n      corpoRenderizado = preencherTexto(templateEmail.corpo_template, placeholders);\n      acaoDeEnvio = { action: 'send_email', payload: { to: contato.valor_contato, subject, body: corpoRenderizado } };\n    }\n\n    if (!acaoDeEnvio) continue;\n\n    if (!contato.chatwoot_contact_id) {\n      if (contato.tipo_contato === 'whatsapp') {\n        resultados.push({ json: { action: 'chatwoot_create_if_needed', payload: { phone_number: contato.valor_contato, name: contato.nome_contato || 'Contato', inbox_id: 4, id_contato_empresa: idDoContato } }});\n      } else if (contato.tipo_contato === 'email') {\n        resultados.push({ json: { action: 'chatwoot_create_email_contact', payload: { email: contato.valor_contato, name: contato.nome_contato || 'Contato', inbox_id: 4, id_contato_empresa: idDoContato } }});\n      }\n    }\n\n    resultados.push({ json: acaoDeEnvio });\n    \n    // AJUSTE: Converte para texto e remove quebras de linha para o registro.\n    const conteudoParaRegistro = htmlToText(corpoRenderizado).replace(/(\\r\\n|\\n|\\r)/gm, \" \");\n    \n    const processedParams = {};\n    variaveisDoTemplate.forEach((chave, index) => {\n      processedParams[(index + 1).toString()] = placeholders[chave] || '';\n    });\n    \n    const templateParamsParaRegistro = {\n      name: templateUsado ? (templateUsado.name_teamplate_meta || templateUsado.nome_template) : null,\n      category: 'UTILITY',\n      language: 'pt_BR',\n      processed_params: processedParams\n    };\n\n    resultados.push({ json: {\n      action: 'chatwoot_register_message',\n      payload: {\n        content: conteudoParaRegistro,\n        private: true,\n        id_contato_empresa: idDoContato,\n        has_existing_conversation: !!contato.chatwoot_conversation_id,\n        contact_id: contato.chatwoot_contact_id, \n        conversation_id: contato.chatwoot_conversation_id,\n        valor_contato: contato.valor_contato ? contato.valor_contato.replace(/\\D/g, '') : null,\n        template_name_for_log: templateUsado ? templateUsado.nome_template : null,\n        template_params: templateParamsParaRegistro\n      }\n    }});\n  }\n\n  return resultados;\n\n} catch (error) {\n  return [{ json: { _critical_error: \"Falha na execução do Nó de Código Orquestrador.\", error_message: error.message, stack: error.stack } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,1536],"id":"7874f113-d82a-4ac4-9cdd-d7e87ea8bb3c","name":"Ação do contato1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"chatwoot_create_if_needed","operator":{"type":"string","operation":"equals"},"id":"6f772019-54f6-4603-bf46-f24cbe42c9e7"}],"combinator":"and"},"renameOutput":true,"outputKey":"create_if_needed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8048003-89bb-4742-ae36-9cabde7f40ed","leftValue":"={{ $json.action }}","rightValue":"chatwoot_create_email_contact","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"create_email_contact"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb37d8d8-3068-4f22-8d57-ce0e363afb0d","leftValue":"={{ $json.action }}","rightValue":"send_whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"send_whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"29030f8d-6306-4f2f-bc88-9c24c5abb72b","leftValue":"={{ $json.action }}","rightValue":"send_email","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"send_email"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8a6b6de-8cd4-4b4f-8ec5-c5cf8c2abf04","leftValue":"={{ $json.action }}","rightValue":"chatwoot_register_message","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"chatwoot_register_message"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[976,1360],"id":"0a6f8f21-6a4d-41a8-b047-00c8ef70e48f","name":"Roteador Central1"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v23.0/705549915969226/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1952,1248],"id":"4a9f3bb3-99be-4f26-a9fc-c8a3c169055f","name":"Enviar WhatsApp2","alwaysOutputData":true,"credentials":{"whatsAppApi":{"id":"0iKPfEsLxdLdpIgR","name":"WhatsApp dot"}},"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"=\"Dot da Digital Pixel\" <dot@digitalpixel.com.br>","toEmail":"={{ $json.payload.to }}","subject":"={{ $json.payload.subject }}","html":"={{ $json.payload.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1904,1408],"id":"1c506ba4-2548-48ea-98c1-2bfa41dc73d2","name":"Send email1","webhookId":"4bc2649d-246a-4db8-a818-e13289eef831","executeOnce":false,"alwaysOutputData":true,"credentials":{"smtp":{"id":"shOWMvBSkf2d8rpR","name":"SMTP account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone_number\": \"+5511999998888\",\n  \"name\": \"Nome do Contato\",\n  \"inbox_id\": 4,\n  \"id_contato_empresa\": \"12345\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1456,864],"id":"f3cfd9ac-ab28-4943-9d3d-e5d0f38950c8","name":"Criar Contato WhatsApp1","credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa\nSET\n  chatwoot_contact_id = {{ $json.payload.contact.id }},\n  chatwoot_sync_status = 'synced',\n  chatwoot_sync_date = NOW()\nWHERE\n  id = {{ $('AtualizarEmpresa_ContinuarCadencia').item.json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1728,864],"id":"da70fd3d-4ad7-4125-a41b-112e5488749f","name":"atualizar contato_empresa2","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa\nSET\n  chatwoot_contact_id = {{ $json.payload.contact.id }},\n  chatwoot_sync_status = 'synced',\n  chatwoot_sync_date = NOW()\nWHERE\n  id_contato_empresa = {{ $('AtualizarEmpresa_ContinuarCadencia').item.json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1968,1024],"id":"7a445bdb-8c83-4311-bba3-5d7b93da4055","name":"atualizar contato_empresa3","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"method":"POST","url":"https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,1152],"id":"7edd93c7-b91d-4505-be10-7b7a011cba79","name":"Criar Contato Email1","credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}}},{"parameters":{"method":"POST","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/conversations/{{ $json.payload.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.payload.content.replace(/(\\r?\\n|\\r)/gm, \" \") }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": {{ $json.payload.private }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,1744],"id":"f61a4eff-2b1b-4a0a-a5b8-6e56adf679d5","name":"Add_Message_To_Existing_Conversation2","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/conversations/{{ $json.meta.sender.id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{$('Loop Over Items').item.json.payload.content.replace(/(\\r?\\n|\\r)/gm, \" \") }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": {{ $('Loop Over Items').item.json.payload.private }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2064,1968],"id":"9a95b512-27cb-41de-8733-450e8e9a6b29","name":"Add_Message_To_New_Conversation2","alwaysOutputData":true,"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa \nSET \n  chatwoot_conversation_id = {{ $('criar conversation2').item.json.id }},\n  last_interaction_date = NOW()\nWHERE \n  id = {{ $('Roteador Central1').item.json.payload.id_contato_empresa }}\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2288,2032],"id":"6992d948-b96b-4982-9dff-2071a9f2c79e","name":"Update_Conversation_ID2","alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa \nSET \n  last_interaction_date = NOW()\nWHERE id ={{ $('IF_Existing_Conversation2').item.json.payload.id_contato_empresa }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1856,1744],"id":"fe0fd589-66a7-4a93-91e5-89dd42050f0f","name":"Update_Interaction_Date2","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.payload.has_existing_conversation }}","rightValue":true,"operator":{"type":"boolean","operation":"true"},"id":"6c822995-e357-4fde-a310-82ca6af995d5"}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[1328,1808],"id":"7a8a2931-5470-405d-95f3-139c0fe197e6","name":"IF_Existing_Conversation2"},{"parameters":{"method":"POST","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/conversations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contact_id\": {{ $json.payload.contact_id }},\n  \"inbox_id\": 4,\n  \"source_id\": \"{{ $json.payload.valor_contato }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,2000],"id":"5d29f3a2-d4d4-427d-9e3c-b5b0d9a6c843","name":"criar conversation2","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1504,2000],"id":"4220496d-1820-4a9b-96cc-72ef4e77e2b4","name":"Loop Over Items"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3056,1424],"id":"12bd06c4-9721-4cf2-bbc4-44b1acf65dd1","name":"Merge5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9fe98727-cc55-4d73-acb1-929746663ea3","leftValue":"={{ $json.podeContinuar }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7264,864],"id":"b2b1e8c7-5a47-4ad5-8011-98c1d16b0e8b","name":"pode continuar?"},{"parameters":{"jsCode":"const item = items[0].json;\n\n// Mapeamento dos dias da semana\nconst diasSemanaMap = {\n  0: 'dom',\n  1: 'seg',\n  2: 'ter',\n  3: 'qua',\n  4: 'qui',\n  5: 'sex',\n  6: 'sab',\n};\n\n// Data/hora no fuso de Brasília (GMT–3)\nconst agora = new Date();\nconst utc = agora.getTime() + (agora.getTimezoneOffset() * 60000);\nconst brasiliaTime = new Date(utc - (3 * 3600000));\n\n// Extrai dia, hora e minuto\nconst diaSemanaAtual = diasSemanaMap[brasiliaTime.getDay()];\nconst horaAtual = brasiliaTime.getHours();\nconst minutoAtual = brasiliaTime.getMinutes();\n\n// Normaliza para “HH:MM”\nconst horaStr = String(horaAtual).padStart(2, '0');\nconst minStr  = String(minutoAtual).padStart(2, '0');\nconst horarioAtualStr = `${horaStr}:${minStr}`;\n\n// Limites de funcionamento\nconst [inicioHora, inicioMin] = item.horario_inicio_funcionamento.split(':').map(Number);\nconst [fimHora,    fimMin]    = item.horario_fim_funcionamento.split(':').map(Number);\nconst minutosAgora  = horaAtual * 60 + minutoAtual;\nconst minutosInicio = inicioHora * 60 + inicioMin;\nconst minutosFim    = fimHora    * 60 + fimMin;\n\n// Verifica dia e horário\nconst dentroDoDia      = item.dias_semana_funcionamento.includes(diaSemanaAtual);\nconst dentroDoHorario  = minutosAgora >= minutosInicio && minutosAgora <= minutosFim;\nconst podeContinuar   = dentroDoDia && dentroDoHorario;\n\n// Monta a mensagem final\nconst message = `Hoje é no horário ${horarioAtualStr} e está dentro do horário de funcionamento: ${podeContinuar}`;\n\nreturn [\n  {\n    json: {\n      ...item,\n      podeContinuar,\n      message\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7552,864],"id":"99017e99-57d4-4135-9702-82dc9e9be736","name":"Regras de cadencia"},{"parameters":{"assignments":{"assignments":[{"id":"82e79498-c27a-450d-b7ea-94fd9c75d7c9","name":"empresa","value":"={{ $('BuscarEmpresaPorDominio').first().json ?? {} }}","type":"object"},{"id":"52f30193-387e-42c6-b37f-98449ef340d3","name":"=config_cadencia","value":"={{ $('config_cadencia').first().json ?? {} }}","type":"object"},{"id":"512f0164-2d78-4e1f-9290-0756dbf3f99b","name":"evento_ativo_db","value":"={{ $('dados_evento_ativo_carregado').first().json || null }}","type":"object"},{"id":"6be52415-cbcd-49a1-a2a0-1295a687fb24","name":"limite_diario","value":"={{ $('Code_AvaliarLimiteDiario').item.json.limite_diario_atingido }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5264,752],"id":"a8f81fef-6ed7-43bf-b444-2091610066a5","name":"Organizar dados"},{"parameters":{"operation":"update","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('em_processamento_pelo_batch').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_processamento_evento","fieldValue":"ignorado_empresa_sem_contatos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3360,32],"id":"bcfe67b1-1052-45aa-b9db-db44cbe7e02e","name":"atualizar_evento","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $('AtualizarEmpresa_SetEventoAtivo').first().json.dominio }}","empresa_id":"='{{ $('AtualizarEmpresa_SetEventoAtivo').first().json.id }}'","to_status":"aguardando_reforco1_dia1","from_status":"={{ $('AtualizarEmpresa_SetEventoAtivo').first().json.status_cadencia_geral }}","status":"={{ $json.status }}","action_type":"={{ $json.action_type }}","reason":"={{ $json.action_details.reason }}","canal":"={{ $json.action_details.canal }}","destinatario":"={{ $json.action_details.destinatario }}","workflow_name":"={{ $json.workflow_name }}","etapa_cadencia":"={{ $json.action_details.status_cadencia_atual }}","template_usado":"={{ $json.action_details.template_usado }}","dia_atual_na_cadencia":1,"execution_id":"={{ $json.execution_id }}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2656,512],"id":"975d9582-a451-4ad3-b56c-d14355b5949c","name":"Call 'Registrar logs'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db596747-a943-4733-b815-f4d2ef806087","leftValue":"={{ $json.data_execucao }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3008,176],"id":"3f509650-97e2-45bb-8fe8-273848144beb","name":"validar se pode continuar a cadencia"},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.dominio }}","status":"success","empresa_id":"=\"{{ $json.id }}\"","workflow_name":"[WF_Processor] ProcessarLoteDeEventos","to_status":"={{ $json.status_cadencia_geral }}","from_status":"={{ $('BuscarEmpresaPorDominio').first().json.status_cadencia_geral }}","action_type":"iniciar_cadência","dia_atual_na_cadencia":1,"etapa_cadencia":"={{ $json.status_cadencia_geral }}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2560,-32],"id":"f523b403-a9f5-4ce5-ab7f-e520d62fd575","name":"Call 'Registrar logs' cadencia"},{"parameters":{"jsCode":"try {\n  // --- 1. CAPTURA DE DADOS ---\n  // Pega a saída do Merge com os resultados dos envios (WhatsApp e Email).\n  const resultadosDosEnvios = $input.all();\n\n  // Pega a saída do nó que preparou TODAS as ações originalmente.\n  // <<< AJUSTE O NOME DO NÓ 'Ação do contato' SE FOR DIFERENTE\n  const acoesOriginais = $('Ação do contato').all();\n\n  // Pega o status atual da empresa.\n  // <<< AJUSTE O NOME DO NÓ '[REDACTED]' SE FOR DIFERENTE\n  const statusAtualEmpresa = $('[REDACTED]').first().json.status_cadencia_geral;\n\n  // Pega o ID da empresa.\n  // <<< AJUSTE O NOME DO NÓ '[REDACTED]' SE FOR DIFERENTE\n  const empresaId = $('[REDACTED]').first().json.id;\n\n\n  // --- 2. FUNÇÕES AUXILIARES PARA IDENTIFICAR SUCESSO ---\n  function isWhatsappSuccess(item) {\n    return item.json.messaging_product === 'whatsapp' && item.json.messages?.[0]?.message_status === 'accepted';\n  }\n\n  function isEmailSuccess(item) {\n    return Array.isArray(item.json.accepted) && item.json.accepted.length > 0;\n  }\n\n  // --- 3. LÓGICA PRINCIPAL ---\n  const logsParaRegistrar = [];\n\n  for (const resultado of resultadosDosEnvios) {\n    let destinatario = '';\n    let canal = '';\n\n    if (isWhatsappSuccess(resultado)) {\n      destinatario = resultado.json.contacts[0].input;\n      canal = 'whatsapp';\n    } else if (isEmailSuccess(resultado)) {\n      destinatario = resultado.json.accepted[0];\n      canal = 'email';\n    }\n\n    if (!canal) {\n      continue;\n    }\n\n    // --- NOVA LÓGICA: Buscar o log do Chatwoot correspondente ---\n    // O `valor_contato` no log do Chatwoot para WhatsApp é o número de telefone.\n    // Para e-mail, precisamos encontrar a ação do Chatwoot que foi gerada junto com a ação de envio.\n    // A forma mais segura é encontrar a ação do chatwoot que tenha o `valor_contato` correspondente ou o mesmo `id_contato_empresa` da ação de envio.\n    \n    // Simplificando a busca: o `valor_contato` no payload do chatwoot parece ser a chave mais confiável para ambos.\n    // No seu JSON, o valor_contato do email é \"1999\" o que parece incorreto, usaremos o destinatario como chave.\n    const acaoChatwootCorrespondente = acoesOriginais.find(acao => {\n        if (acao.json.action !== 'chatwoot_register_message') return false;\n        // Para WhatsApp, o destinatario e o valor_contato são o mesmo número.\n        if (canal === 'whatsapp' && acao.json.payload.valor_contato === destinatario) return true;\n        // Para Email, precisamos de uma forma de ligar. Vamos assumir que o `id_contato_empresa` está disponível na ação de envio original.\n        // A melhor abordagem é buscar pela ação de envio primeiro, pegar o ID do contato, e depois buscar a ação do chatwoot.\n        \n        // Vamos usar uma abordagem mais direta baseada no destinatário, assumindo que `valor_contato` no log do Chatwoot é o identificador único.\n        // O seu código 'Ação do contato' pode ser ajustado para garantir que `valor_contato` no log do chatwoot seja o email para o canal de email.\n        // Por agora, vamos usar o que temos.\n        return false; // Fallback se a lógica acima não funcionar\n    });\n\n    // Uma busca mais robusta, baseada no seu JSON:\n    const acaoDeRegistroChatwoot = acoesOriginais.find(acao =>\n        acao.json.action === 'chatwoot_register_message' &&\n        // Limpando o número de telefone para garantir a correspondência\n        (acao.json.payload.valor_contato || '').replace(/\\D/g, '') === (destinatario || '').replace(/\\D/g, '')\n    );\n\n\n    let mensagemEnviada = 'Conteúdo renderizado não encontrado na ação do Chatwoot.';\n    let templateUsado = 'Template não encontrado na ação do Chatwoot.';\n\n    if (acaoDeRegistroChatwoot) {\n        mensagemEnviada = acaoDeRegistroChatwoot.json.payload.content;\n        templateUsado = acaoDeRegistroChatwoot.json.payload.template_name_for_log;\n    }\n\n    // Monta o objeto de log final\n    const logPayload = {\n      domain: \"cadencia\",\n      status: \"success\",\n      empresa_id: empresaId,\n      action_type: \"message_sent\",\n      workflow_name: \"[WF_Processor] ProcessarLoteDeEventos\", // Corrigido para o workflow atual\n      action_details: {\n        reason: `Mensagem enviada para ${destinatario} via ${canal}.`,\n        status_cadencia_atual: statusAtualEmpresa,\n        canal: canal,\n        destinatario: destinatario,\n        template_usado: templateUsado,\n        mensagem_enviada: mensagemEnviada, // <<< AQUI ESTÁ A MUDANÇA PRINCIPAL\n        api_response: resultado.json\n      },\n      execution_id: $execution.id\n    };\n\n    logsParaRegistrar.push({ json: logPayload });\n  }\n\n  return logsParaRegistrar;\n\n} catch (error) {\n  return [{ json: { _critical_error: \"Falha ao preparar o log de envio.\", error_message: error.message, stack: error.stack } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,400],"id":"bfb11a7e-93b5-47a0-b255-c378c8e32536","name":"Preparar payload"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2400,400],"id":"965fc505-f845-406c-8e4a-726687eb8438","name":"Loop Over Items2"},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $('AtualizarEmpresa_ContinuarCadencia').first().json.dominio }}","empresa_id":"='{{ $('AtualizarEmpresa_ContinuarCadencia').first().json.id }}'","from_status":"={{ $('AtualizarEmpresa_ContinuarCadencia').first().json.status_cadencia_geral }}","status":"={{ $json.status }}","action_type":"={{ $json.action_type }}","reason":"={{ $json.action_details.reason }}","canal":"={{ $json.action_details.canal }}","destinatario":"={{ $json.action_details.destinatario }}","workflow_name":"={{ $json.workflow_name }}","etapa_cadencia":"={{ $json.action_details.status_cadencia_atual }}","template_usado":"={{ $json.action_details.template_usado }}","execution_id":"={{ $json.execution_id }}","to_status":"={{ $json.proximo_status_cadencia_geral_empresa }}","dia_atual_na_cadencia":"={{ $('AcaoDeterminada').first().json.dia_para_processar }}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[4400,2000],"id":"3d6a53d1-361d-4a12-8330-04d9a6bdccb2","name":"Call 'Registrar logs'1"},{"parameters":{"jsCode":"try {\n  // --- 1. CAPTURA DE DADOS ---\n  // Pega a saída do Merge com os resultados dos envios (WhatsApp e Email).\n  const resultadosDosEnvios = $input.all();\n\n  // Pega a saída do nó que preparou TODAS as ações originalmente.\n  // <<< AJUSTE O NOME DO NÓ 'Ação do contato' SE FOR DIFERENTE\n  const acoesOriginais = $('Ação do contato1').all();\n\n  // Pega o status atual da empresa.\n  // <<< AJUSTE O NOME DO NÓ '[REDACTED]' SE FOR DIFERENTE\n  const statusAtualEmpresa = $('AtualizarEmpresa_ContinuarCadencia').first().json.status_cadencia_geral;\n\n  // Pega o ID da empresa.\n  // <<< AJUSTE O NOME DO NÓ '[REDACTED]' SE FOR DIFERENTE\n  const empresaId =$('AtualizarEmpresa_ContinuarCadencia').first().json.id ;\n\n\n  // --- 2. FUNÇÕES AUXILIARES PARA IDENTIFICAR SUCESSO ---\n  function isWhatsappSuccess(item) {\n    return item.json.messaging_product === 'whatsapp' && item.json.messages?.[0]?.message_status === 'accepted';\n  }\n\n  function isEmailSuccess(item) {\n    return Array.isArray(item.json.accepted) && item.json.accepted.length > 0;\n  }\n\n  // --- 3. LÓGICA PRINCIPAL ---\n  const logsParaRegistrar = [];\n\n  for (const resultado of resultadosDosEnvios) {\n    let destinatario = '';\n    let canal = '';\n\n    if (isWhatsappSuccess(resultado)) {\n      destinatario = resultado.json.contacts[0].input;\n      canal = 'whatsapp';\n    } else if (isEmailSuccess(resultado)) {\n      destinatario = resultado.json.accepted[0];\n      canal = 'email';\n    }\n\n    if (!canal) {\n      continue;\n    }\n\n    // --- NOVA LÓGICA: Buscar o log do Chatwoot correspondente ---\n    // O `valor_contato` no log do Chatwoot para WhatsApp é o número de telefone.\n    // Para e-mail, precisamos encontrar a ação do Chatwoot que foi gerada junto com a ação de envio.\n    // A forma mais segura é encontrar a ação do chatwoot que tenha o `valor_contato` correspondente ou o mesmo `id_contato_empresa` da ação de envio.\n    \n    // Simplificando a busca: o `valor_contato` no payload do chatwoot parece ser a chave mais confiável para ambos.\n    // No seu JSON, o valor_contato do email é \"1999\" o que parece incorreto, usaremos o destinatario como chave.\n    const acaoChatwootCorrespondente = acoesOriginais.find(acao => {\n        if (acao.json.action !== 'chatwoot_register_message') return false;\n        // Para WhatsApp, o destinatario e o valor_contato são o mesmo número.\n        if (canal === 'whatsapp' && acao.json.payload.valor_contato === destinatario) return true;\n        // Para Email, precisamos de uma forma de ligar. Vamos assumir que o `id_contato_empresa` está disponível na ação de envio original.\n        // A melhor abordagem é buscar pela ação de envio primeiro, pegar o ID do contato, e depois buscar a ação do chatwoot.\n        \n        // Vamos usar uma abordagem mais direta baseada no destinatário, assumindo que `valor_contato` no log do Chatwoot é o identificador único.\n        // O seu código 'Ação do contato' pode ser ajustado para garantir que `valor_contato` no log do chatwoot seja o email para o canal de email.\n        // Por agora, vamos usar o que temos.\n        return false; // Fallback se a lógica acima não funcionar\n    });\n\n    // Uma busca mais robusta, baseada no seu JSON:\n    const acaoDeRegistroChatwoot = acoesOriginais.find(acao =>\n        acao.json.action === 'chatwoot_register_message' &&\n        // Limpando o número de telefone para garantir a correspondência\n        (acao.json.payload.valor_contato || '').replace(/\\D/g, '') === (destinatario || '').replace(/\\D/g, '')\n    );\n\n\n    let mensagemEnviada = 'Conteúdo renderizado não encontrado na ação do Chatwoot.';\n    let templateUsado = 'Template não encontrado na ação do Chatwoot.';\n\n    if (acaoDeRegistroChatwoot) {\n        mensagemEnviada = acaoDeRegistroChatwoot.json.payload.content;\n        templateUsado = acaoDeRegistroChatwoot.json.payload.template_name_for_log;\n    }\n\n    // Monta o objeto de log final\n    const logPayload = {\n      domain: \"cadencia\",\n      status: \"success\",\n      empresa_id: empresaId,\n      action_type: \"message_sent\",\n      workflow_name: \"[WF_Processor] ProcessarLoteDeEventos\", // Corrigido para o workflow atual\n      action_details: {\n        reason: `Mensagem enviada para ${destinatario} via ${canal}.`,\n        status_cadencia_atual: statusAtualEmpresa,\n        canal: canal,\n        destinatario: destinatario,\n        template_usado: templateUsado,\n        mensagem_enviada: mensagemEnviada, // <<< AQUI ESTÁ A MUDANÇA PRINCIPAL\n        api_response: resultado.json\n      },\n      execution_id: $execution.id\n    };\n\n    logsParaRegistrar.push({ json: logPayload });\n  }\n\n  return logsParaRegistrar;\n\n} catch (error) {\n  return [{ json: { _critical_error: \"Falha ao preparar o log de envio.\", error_message: error.message, stack: error.stack } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3616,1456],"id":"3cd12013-0bed-472e-91f7-b5bfb1dedd6c","name":"Preparar payload1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3888,1440],"id":"3555491f-7267-4dc3-b9c4-df1946415602","name":"Loop Over Items3"},{"parameters":{"jsCode":"// Nó: DefinirStatusAposMsgPrincipal\n// Roda APÓS o envio da mensagem PRINCIPAL de um dia da cadência.\nconst item = items[0].json; \nconst diaEvento = $('AtualizarEventoParaProximoDia').first().json.dia_atual_na_cadencia; // Ou como você acessa o dia do evento\nconst config = $('config_cadencia').first().json; // Ou como você acessa a config\n\nlet proximoStatusEmpresa = 'ERRO_STATUS_APOS_PRINCIPAL_INVALIDO';\n\nif (diaEvento === 1) {\n    // Se Dia 1 tem pelo menos 1 reforço (max_mensagens_dia1 >= 2)\n    proximoStatusEmpresa = (config.max_mensagens_dia1 >= 2) ? 'aguardando_reforco1_dia1' : 'dia1_concluido_aguardando_dia2';\n} else if (diaEvento === 2) {\n    // Se Dia 2 tem pelo menos 1 reforço (max_mensagens_dia2 >= 2)\n    proximoStatusEmpresa = (config.max_mensagens_dia2 >= 2) ? 'aguardando_reforco1_dia2' : 'dia2_concluido_aguardando_dia3';\n} else if (diaEvento === 3) {\n    // Se Dia 3 SÓ TEM mensagem principal (max_mensagens_dia3 = 1)\n    if (config.max_mensagens_dia3 === 1) {\n        proximoStatusEmpresa = 'dia3_concluido_aguardando_finalizacao';\n    } \n    // Se Dia 3 tem reforços (max_mensagens_dia3 >= 2)\n    else if (config.max_mensagens_dia3 >= 2) {\n        proximoStatusEmpresa = 'aguardando_reforco1_dia3';\n    }\n}\n\nitem.proximo_status_cadencia_geral_empresa = proximoStatusEmpresa;\nreturn item;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4448,1360],"id":"ef4e94b3-39e0-4c94-94ac-36bd720a9c6d","name":"preparar próximo status","executeOnce":true},{"parameters":{"jsCode":"// Nó: DefinirStatusAposMsgPrincipal\n// Roda APÓS o envio da mensagem PRINCIPAL de um dia da cadência.\nconst item = items[0].json; \nconst diaEvento = $('AtualizarEventoParaProximoDia').first().json.dia_atual_na_cadencia; // Ou como você acessa o dia do evento\nconst config = $('config_cadencia').first().json; // Ou como você acessa a config\n\nlet proximoStatusEmpresa = 'ERRO_STATUS_APOS_PRINCIPAL_INVALIDO';\n\nif (diaEvento === 1) {\n    // Se Dia 1 tem pelo menos 1 reforço (max_mensagens_dia1 >= 2)\n    proximoStatusEmpresa = (config.max_mensagens_dia1 >= 2) ? 'aguardando_reforco1_dia1' : 'dia1_concluido_aguardando_dia2';\n} else if (diaEvento === 2) {\n    // Se Dia 2 tem pelo menos 1 reforço (max_mensagens_dia2 >= 2)\n    proximoStatusEmpresa = (config.max_mensagens_dia2 >= 2) ? 'aguardando_reforco1_dia2' : 'dia2_concluido_aguardando_dia3';\n} else if (diaEvento === 3) {\n    // Se Dia 3 SÓ TEM mensagem principal (max_mensagens_dia3 = 1)\n    if (config.max_mensagens_dia3 === 1) {\n        proximoStatusEmpresa = 'dia3_concluido_aguardando_finalizacao';\n    } \n    // Se Dia 3 tem reforços (max_mensagens_dia3 >= 2)\n    else if (config.max_mensagens_dia3 >= 2) {\n        proximoStatusEmpresa = 'aguardando_reforco1_dia3';\n    }\n}\n\nitem.proximo_status_cadencia_geral_empresa = proximoStatusEmpresa;\nreturn item;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4128,1776],"id":"6508a0bf-00f2-4fff-9986-13468d2303c7","name":"preparar próximo status1","executeOnce":true},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $('Code2').item.json.empresa.dominio }}","empresa_id":"='{{ $('Code2').item.json.empresa.id }}'","from_status":"={{ $('Code2').item.json.empresa.status_cadencia_geral }}","status":"=success","action_type":"={{ $('Code2').item.json.acao_determinada }}","reason":"={{ $('Code2').item.json.acao_determinada }}","canal":"=","destinatario":"=","workflow_name":"[WF_Processor] ProcessarLoteDeEventos","etapa_cadencia":"=","template_usado":"=","execution_id":"=","to_status":"={{ $('Code2').item.json.empresa.status_cadencia_geral }}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2128,2064],"id":"9cb1e9a8-5dcc-434b-a648-0af387e915f5","name":"Call 'Registrar logs'2"},{"parameters":{"operation":"update","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"empresa_id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"dia_atual_na_cadencia","fieldValue":"1"},{"fieldId":"status_processamento_evento","fieldValue":"processando_dia_1"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2576,176],"id":"ef35cee4-c926-4a5f-a926-4075090764a9","name":"atualizar evento1","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.url_site_com_erro }}","status":"success","empresa_id":"=\"{{ $json.empresa_id }}\"","workflow_name":"[WF_Processor] ProcessarLoteDeEventos","to_status":"=","from_status":"=","dia_atual_na_cadencia":1,"etapa_cadencia":"=","action_type":"={{ $json.status_processamento_evento }}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-3136,-48],"id":"1d1d56f1-b08d-4e08-9548-8479333206db","name":"Call 'Registrar logs' cadencia1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d55a9f7e-8cbf-4e42-8085-ec8a4ccf2c7a","leftValue":"={{ $json.valor_contato }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3552,176],"id":"c732717b-c925-4ce1-9e07-bc56045c568d","name":"tem contato?"},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.dominio }}","empresa_id":"='{{ $json.id }}'","from_status":"={{ $('BuscarEmpresaPorDominio').item.json.status_cadencia_geral }}","status":"=success","action_type":"={{ $('DeterminarAcaoParaEvento').item.json.acao_determinada }}","reason":"=","canal":"=","destinatario":"=","workflow_name":"[WF_Processor] ProcessarLoteDeEventos","etapa_cadencia":"=","template_usado":"=","execution_id":"=","to_status":"={{ $json.status_cadencia_geral }}","dia_atual_na_cadencia":3},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2256,1536],"id":"e28e3ac0-bbc2-4840-9694-0fdf6905fcfe","name":"Call 'Registrar logs'3"}],"connections":{"Schedule Trigger":{"main":[[{"node":"CarregarConfiguracaoCadenciaAtiva","type":"main","index":0}]]},"CarregarConfiguracaoCadenciaAtiva":{"main":[[{"node":"Regras de cadencia","type":"main","index":0}]]},"em_processamento_pelo_batch":{"main":[[{"node":"BuscarEmpresaPorDominio","type":"main","index":0}]]},"Code_AvaliarLimiteDiario":{"main":[[{"node":"dados_evento_ativo_carregado","type":"main","index":0}]]},"config_cadencia":{"main":[[{"node":"BuscarLogControleDiario","type":"main","index":0}]]},"BuscarLogControleDiario":{"main":[[{"node":"Code_AvaliarLimiteDiario","type":"main","index":0}]]},"dados_evento_ativo_carregado":{"main":[[{"node":"Organizar dados","type":"main","index":0}]]},"DeterminarAcaoParaEvento":{"main":[[{"node":"AcaoDeterminada","type":"main","index":0},{"node":"atualizar evento","type":"main","index":0}]]},"AcaoDeterminada":{"main":[[{"node":"Buscar_contatos2","type":"main","index":0}],[{"node":"AtualizarEventoParaProximoDia","type":"main","index":0}],[{"node":"SobrescreverDadosEventoErroAtivo","type":"main","index":0}],[{"node":"FinalizarEventoSemSucesso","type":"main","index":0}],[{"node":"IF_EventoJaRegistrado","type":"main","index":0}]]},"IncrementarLogControleDiario":{"main":[[{"node":"validar se pode continuar a cadencia","type":"main","index":0}]]},"AtualizarEmpresa_NovaCadenciaStatusEContador":{"main":[[{"node":"atualizar evento1","type":"main","index":0},{"node":"Call 'Registrar logs' cadencia","type":"main","index":0}]]},"RegistrarNovoEventoErro":{"main":[[{"node":"AtualizarEmpresa_SetEventoAtivo","type":"main","index":0}]]},"AtualizarEmpresa_SetEventoAtivo":{"main":[[{"node":"BuscarTemplates_D1_Principal1","type":"main","index":0}]]},"AtualizarEventoParaProximoDia":{"main":[[{"node":"AtualizarEmpresa_ContinuarCadencia","type":"main","index":0}]]},"AtualizarEmpresa_ContinuarCadencia":{"main":[[{"node":"Buscar_contatos1","type":"main","index":0}]]},"BuscarTemplates_DiaX_Principal":{"main":[[{"node":"Aggregate6","type":"main","index":0}]]},"Buscar_contatos1":{"main":[[{"node":"Aggregate5","type":"main","index":0}]]},"SobrescreverDadosEventoErroAtivo":{"main":[[{"node":"[REDACTED]","type":"main","index":0}]]},"FinalizarEventoSemSucesso":{"main":[[{"node":"Code_PrepararUpdateFinalEmpresa","type":"main","index":0}]]},"Code_PrepararUpdateFinalEmpresa":{"main":[[{"node":"[REDACTED]","type":"main","index":0}]]},"IF_EventoJaRegistrado":{"main":[[{"node":"Execution Data1","type":"main","index":0}],[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"RegistrarEventoComoIgnorado","type":"main","index":0}]]},"BuscarEmpresaPorDominio":{"main":[[{"node":"IF_EmpresaExiste","type":"main","index":0}]]},"IF_EmpresaExiste":{"main":[[{"node":"site_processado","type":"main","index":0},{"node":"config_cadencia","type":"main","index":0}],[{"node":"Execution Data","type":"main","index":0}]]},"SobrescreverDadosEventoErroAtivo3":{"main":[[{"node":"[REDACTED]","type":"main","index":0}]]},"atualizar evento":{"main":[[{"node":"SobrescreverDadosEventoErroAtivo3","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"preparar próximo status","type":"main","index":0}]]},"Buscar_contatos2":{"main":[[{"node":"tem contato?","type":"main","index":0}]]},"BuscarTemplates_D1_Principal1":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Buscar_contatos3","type":"main","index":0}]]},"Buscar_contatos3":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Ação do contato","type":"main","index":0}]]},"Ação do contato":{"main":[[{"node":"Roteador Central","type":"main","index":0}]]},"Roteador Central":{"main":[[{"node":"Criar Contato WhatsApp","type":"main","index":0}],[{"node":"Criar Contato Email","type":"main","index":0}],[{"node":"Enviar WhatsApp1","type":"main","index":0}],[{"node":"Send email","type":"main","index":0}],[{"node":"IF_Existing_Conversation1","type":"main","index":0}]]},"Criar Contato WhatsApp":{"main":[[{"node":"atualizar contato_empresa","type":"main","index":0}]]},"Criar Contato Email":{"main":[[{"node":"atualizar contato_empresa1","type":"main","index":0}]]},"Add_Message_To_Existing_Conversation1":{"main":[[{"node":"Update_Interaction_Date1","type":"main","index":0}]]},"Add_Message_To_New_Conversation1":{"main":[[{"node":"Update_Conversation_ID1","type":"main","index":0}]]},"IF_Existing_Conversation1":{"main":[[{"node":"Add_Message_To_Existing_Conversation1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"criar conversation1":{"main":[[{"node":"Add_Message_To_New_Conversation1","type":"main","index":0}]]},"Update_Conversation_ID1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Merge3","type":"main","index":5}],[{"node":"criar conversation1","type":"main","index":0}]]},"atualizar contato_empresa":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"atualizar contato_empresa1":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Enviar WhatsApp1":{"main":[[{"node":"Merge3","type":"main","index":2}]]},"Send email":{"main":[[{"node":"Merge3","type":"main","index":3}]]},"Update_Interaction_Date1":{"main":[[{"node":"Merge3","type":"main","index":4}]]},"Aggregate4":{"main":[[{"node":"AtualizarEmpresa_StatusPosEnvioD2","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Preparar payload","type":"main","index":0}]]},"Aggregate5":{"main":[[{"node":"BuscarTemplates_DiaX_Principal","type":"main","index":0}]]},"Aggregate6":{"main":[[{"node":"Ação do contato1","type":"main","index":0}]]},"Roteador Central1":{"main":[[{"node":"Criar Contato WhatsApp1","type":"main","index":0}],[{"node":"Criar Contato Email1","type":"main","index":0}],[{"node":"Enviar WhatsApp2","type":"main","index":0}],[{"node":"Send email1","type":"main","index":0}],[{"node":"IF_Existing_Conversation2","type":"main","index":0}]]},"Enviar WhatsApp2":{"main":[[{"node":"Merge5","type":"main","index":2}]]},"Send email1":{"main":[[{"node":"Merge5","type":"main","index":3}]]},"Criar Contato WhatsApp1":{"main":[[{"node":"atualizar contato_empresa2","type":"main","index":0}]]},"atualizar contato_empresa2":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"atualizar contato_empresa3":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Criar Contato Email1":{"main":[[{"node":"atualizar contato_empresa3","type":"main","index":0}]]},"Add_Message_To_Existing_Conversation2":{"main":[[{"node":"Update_Interaction_Date2","type":"main","index":0}]]},"Add_Message_To_New_Conversation2":{"main":[[{"node":"Update_Conversation_ID2","type":"main","index":0}]]},"Update_Conversation_ID2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update_Interaction_Date2":{"main":[[{"node":"Merge5","type":"main","index":4}]]},"IF_Existing_Conversation2":{"main":[[{"node":"Add_Message_To_Existing_Conversation2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"criar conversation2":{"main":[[{"node":"Add_Message_To_New_Conversation2","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Merge5","type":"main","index":5}],[{"node":"criar conversation2","type":"main","index":0}]]},"Ação do contato1":{"main":[[{"node":"Roteador Central1","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Preparar payload1","type":"main","index":0}]]},"pode continuar?":{"main":[[{"node":"em_processamento_pelo_batch","type":"main","index":0}]]},"Regras de cadencia":{"main":[[{"node":"pode continuar?","type":"main","index":0}]]},"Organizar dados":{"main":[[{"node":"DeterminarAcaoParaEvento","type":"main","index":0}]]},"validar se pode continuar a cadencia":{"main":[[{"node":"[REDACTED]","type":"main","index":0}]]},"Preparar payload":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Call 'Registrar logs'":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Aggregate4","type":"main","index":0}],[{"node":"Call 'Registrar logs'","type":"main","index":0}]]},"Call 'Registrar logs'1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Preparar payload1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"preparar próximo status1","type":"main","index":0}]]},"preparar próximo status":{"main":[[{"node":"AtualizarEmpresa_StatusPosEnvioD","type":"main","index":0}]]},"preparar próximo status1":{"main":[[{"node":"Call 'Registrar logs'1","type":"main","index":0}]]},"RegistrarEventoComoIgnorado":{"main":[[{"node":"Call 'Registrar logs'2","type":"main","index":0}]]},"atualizar evento1":{"main":[[{"node":"RegistrarNovoEventoErro","type":"main","index":0}]]},"atualizar_evento":{"main":[[{"node":"Call 'Registrar logs' cadencia1","type":"main","index":0}]]},"tem contato?":{"main":[[{"node":"atualizar_evento","type":"main","index":0}],[{"node":"IncrementarLogControleDiario","type":"main","index":0}]]},"AtualizarEmpresa_AptaParaNovaCadenciaOuFinalizada":{"main":[[{"node":"Call 'Registrar logs'3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Xo2yAtEUFnUvJu3E"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2026-01-16T17:00:08.007-03:00","Readable date":"January 16th 2026, 5:00:08 pm","Readable time":"5:00:08 pm","Day of week":"Friday","Year":"2026","Month":"January","Day of month":"16","Hour":"17","Minute":"00","Second":"08","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"528137a8-19f5-4a0b-ba7b-db40c5f2f29a","triggerCount":1,"shared":[{"createdAt":"2025-06-15T17:50:31.813Z","updatedAt":"2025-06-15T17:50:31.813Z","role":"workflow:owner","workflowId":"E2VTyqtdpir69mJ8","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}