backups/[wf_follow_up]-gerenciadordefollowups-hPDgbSiEFLcdHLlR.json
{"createdAt":"2025-05-22T16:44:33.259Z","updatedAt":"2025-09-19T00:50:42.689Z","id":"hPDgbSiEFLcdHLlR","name":"[WF_FOLLOW_UP] GerenciadorDeFollowUps","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-80,-672],"id":"0353bc36-8888-4760-a4ef-984ee9e498d2","name":"segunda a sábado[9h,16h]"},{"parameters":{"assignments":{"assignments":[{"id":"bf7a0454-50c5-4e4c-b37b-651ac72b99ec","name":"[REDACTED]","value":5,"type":"number"},{"id":"7f0e94b5-c46f-408d-aaba-ad85852c62a3","name":"[REDACTED]","value":7,"type":"number"},{"id":"994e945a-ac13-4f51-806c-63d028ffc461","name":"[REDACTED]","value":3,"type":"number"},{"id":"ec9af72a-f9cc-4909-a8d8-820efc7ec26e","name":"[REDACTED]","value":"6","type":"string"},{"id":"0bbe79db-87b5-4b2d-8c54-b000a2413976","name":"[REDACTED]","value":"2","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,-688],"id":"ee122919-03d4-4f74-88b3-f5dbac21cc43","name":"CONFIG-CADENCIA"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[880,-688],"id":"4f67eafd-0451-4c5e-a809-5c4270d04050","name":"Loop Over Items1"},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT ON (i.empresa_id)\n    i.id AS interacao_id,\n    i.empresa_id,\n    i.contato_id AS contato_empresa_id_db,\n    i.contato_utilizado, -- Este é o session_id para buscar no n8n_chat_histories\n    i.log_resumido_ia AS sumario_da_interacao,\n    i.status_interacao AS status_atual_interacao,\n    i.timestamp_ultima_atualizacao AS timestamp_ultima_atividade_interacao,\n    emp.status_cadencia_geral AS status_atual_empresa,\n    emp.dominio AS empresa_dominio,\n    emp.nome_empresa_pagina AS empresa_nome\nFROM \n    interacoes i\nJOIN\n    empresas emp ON i.empresa_id = emp.id\nWHERE\n    i.timestamp_ultima_atualizacao < (NOW() - MAKE_INTERVAL(mins => {{ parseInt($json.[REDACTED]) }}))\n    AND i.timestamp_ultima_atualizacao > (NOW() - MAKE_INTERVAL(days => {{ parseInt($json.[REDACTED]) }}))\n    AND NOT EXISTS (\n        SELECT 1 \n        FROM tarefas_follow_up tfu \n        WHERE tfu.interacao_id = i.id \n        AND tfu.status_follow_up = 'pendente'\n    )\n    AND NOT EXISTS ( \n        SELECT 1 \n        FROM agendamentos a \n        WHERE a.interacao_id = i.id \n        AND a.status_agendamento IN ('confirmado_pelo_lead', 'agendado_no_calendario', 'realizado')\n    )\n    AND i.status_interacao NOT IN (\n        'finalizada_optout', \n        'encaminhada_humano_resolvida', \n        'finalizada_com_sucesso_agendamento',\n        'agendamento_cancelado_lead',\n        'agendamento_cancelado_sistema',\n        'followup_enviado'\n    )\nORDER BY \n    i.empresa_id, i.timestamp_ultima_atualizacao DESC;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[656,-688],"id":"7792bfa7-a62b-40bf-a699-172627745880","name":"Procurar inatividade","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"returnAll":true,"where":{"values":[{"column":"session_id","value":"={{ $json.contato_utilizado }}"}]},"sort":{"values":[{"column":"timestamp_criacao","direction":"DESC"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1088,-576],"id":"1c6094c3-8570-4fe9-9678-89cd83e7ae93","name":"Buscar_histórico","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contatos_empresa","mode":"list","cachedResultName":"contatos_empresa"},"limit":1,"where":{"values":[{"column":"valor_contato","value":"={{ $('Loop Over Items1').item.json.contato_utilizado }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1472,-576],"id":"f949d2a7-62ac-447b-a874-a66cbd810de5","name":"Buscar-contato","executeOnce":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"send","phoneNumberId":"705549915969226","recipientPhoneNumber":"={{ $('Loop Over Items1').first().json.contato_utilizado }}","textBody":"={{ $json.messages }}","additionalFields":{}},"id":"9be95379-90c1-400c-8418-c5e4cf36d45c","name":"Send message","type":"n8n-nodes-base.whatsApp","position":[2912,-336],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1,"credentials":{"whatsAppApi":{"id":"0iKPfEsLxdLdpIgR","name":"WhatsApp dot"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Buscar-contato').item.json.valor_contato }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1840,-272],"id":"72459b1f-7abe-440b-9f37-151e97250c0c","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1632,-288],"id":"df006fa6-92c4-4f77-862b-d77c9bc82920","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"ANP2wjvRxYQi3nw5","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Você é trabalha com uma empresa de monitoramento de erros em site, chamada digitalpixel e o cliente já respondeu e parou de responder! E você deve enviar uma mensagem de reengajamento!\n\ncom esse contexto: {{ $('Loop Over Items1').item.json.sumario_da_interacao }}\n\nRetorne apenas a resposta para o cliente","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1680,-576],"id":"8443abee-0888-4111-b63d-4f6b18ff813d","name":"Dot-followup"},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"message, timestamp_criacao","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1296,-576],"id":"0d9df87f-a5b5-46c8-9432-5f9677c2c7f4","name":"Aggregate"},{"parameters":{"fieldToSplitOut":"messages","options":{}},"id":"b1fd746c-26ed-417e-9174-c5685bbe6994","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2368,-512]},{"parameters":{"jsCode":"// Suponha que a string venha como item.input\nconst input = $input.first().json.output;\n\n// Substitui **qualquer_coisa** por *qualquer_coisa*\nconst output = input.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n\nreturn [{ json: { result: output } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2032,-576],"id":"bab7af3b-6c27-44e3-9cb6-5a68780db5e2","name":"Tratar resposta"},{"parameters":{"assignments":{"assignments":[{"id":"26fb2457-2dff-49d3-b7b4-256028ba1a05","name":"messages","value":"={{ $json.result.split(\"\\n\\n\") }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2192,-560],"id":"3095d600-ae99-455d-93bc-355b0713d693","name":"Quebrar resposta"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2624,-512],"id":"6b85fc4a-b122-4f5e-91cd-807fcdbacc7e","name":"Loop Over Items2"},{"parameters":{"method":"POST","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/conversations/{{ $('Buscar-contato').item.json.chatwoot_conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $('Loop Over Items2').item.json.messages.replace(/(\\r?\\n|\\r)/gm, \" \") }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,-288],"id":"cabf077c-320e-4d29-8f28-c8d2aef4ea07","name":"Add_Message_To_Existing_Conversation1","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa \nSET \n  last_interaction_date = NOW()\nWHERE id ={{ $('Buscar-contato').first().json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3152,-592],"id":"083cfd66-7d91-4b16-94e1-c9d0ab06051c","name":"Update_Interaction_Date1","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[2864,-608],"id":"e8dbdc19-a4ad-4886-9b97-0a61cc145bf3","name":"Limit"},{"parameters":{"operation":"update","tableId":"interacoes","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items1').first().json.interacao_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_interacao","fieldValue":"=followup_enviado"},{"fieldId":"ultima_mensagem_agente_timestamp","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"timestamp_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"follow-up 5min","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3440,-544],"id":"be6e8a96-73bb-40f3-905a-279b7c6ae534","name":"AtualizarInteracaoNoSupabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1376,-1104],"id":"b740732a-23fa-4371-8209-97282b82892b","name":"No Operation, do nothing"},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $('Loop Over Items1').item.json.empresa_dominio }}","status":"success","empresa_id":"={{ $('Loop Over Items1').item.json.empresa_id }}","action_type":"follow-up","to_status":"=follow-up","from_status":"={{ $('Loop Over Items1').item.json.status_atual_empresa }}","reason":"inatividade","canal":"whastapp","destinatario":"={{ $('Send message').item.json.contacts[0].input }}","workflow_name":"[WF_FOLLOW_UP] GerenciadorDeFollowUps","user_agent":"Dot-followup"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3648,-544],"id":"6d34714b-87cf-41e1-b0d1-435fc664847f","name":"Call 'Registrar logs'"}],"connections":{"segunda a sábado[9h,16h]":{"main":[[{"node":"CONFIG-CADENCIA","type":"main","index":0}]]},"CONFIG-CADENCIA":{"main":[[{"node":"Procurar inatividade","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Buscar_histórico","type":"main","index":0}]]},"Procurar inatividade":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Buscar_histórico":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Send message":{"main":[[{"node":"Add_Message_To_Existing_Conversation1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Dot-followup","type":"ai_memory","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Dot-followup","type":"ai_languageModel","index":0}]]},"Buscar-contato":{"main":[[{"node":"Dot-followup","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Buscar-contato","type":"main","index":0}]]},"Dot-followup":{"main":[[{"node":"Tratar resposta","type":"main","index":0}]]},"Tratar resposta":{"main":[[{"node":"Quebrar resposta","type":"main","index":0}]]},"Quebrar resposta":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Send message","type":"main","index":0}]]},"Add_Message_To_Existing_Conversation1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Update_Interaction_Date1":{"main":[[{"node":"AtualizarInteracaoNoSupabase","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Update_Interaction_Date1","type":"main","index":0}]]},"AtualizarInteracaoNoSupabase":{"main":[[{"node":"Call 'Registrar logs'","type":"main","index":0}]]},"Call 'Registrar logs'":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:segunda a sábado[9h,16h]":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"segunda a sábado[9h,16h]":[{"json":{"timestamp":"2025-09-18T13:40:26.002-03:00","Readable date":"September 18th 2025, 1:40:26 pm","Readable time":"1:40:26 pm","Day of week":"Thursday","Year":"2025","Month":"September","Day of month":"18","Hour":"13","Minute":"40","Second":"26","Timezone":"America/Sao_Paulo (UTC-03:00)"}}],"Dot-followup":[{"json":{"output":"Olá! Gostaria de saber se tem alguma dúvida ou precisa de ajuda para avançarmos no monitoramento do seu site. Estou à disposição para apoiar no que for necessário!"}}],"Procurar inatividade":[{"json":{"interacao_id":"263","empresa_id":"3743","contato_empresa_id_db":"11089","contato_utilizado":"555193448124","sumario_da_interacao":"StatusInteracao: ativa | UltimaMensagemUsuarioTimestamp: 2025-09-18T13:34:05.955-03:00 | UltimaMensagemAgenteTimestamp: 2025-09-18T13:34:05.955-03:00 | IntencaoPrincipalDetectada: ConversaGeral | UltimoAgenteN8NProcessou: AgenteIA_ConversacionalComTools | LeadPediuOptOut: false | LeadEncaminhadoHumano: false | novoLeadBitrix: false","status_atual_interacao":"ativa","timestamp_ultima_atividade_interacao":"2025-09-18T16:34:09.349Z","status_atual_empresa":"interagindo_wa","empresa_dominio":"https://empresa-teste-workflow.com.br","empresa_nome":null}}]},"versionId":"782f1b9d-e58a-40a8-ab74-03c2e2c41fb6","triggerCount":1,"shared":[{"createdAt":"2025-05-22T16:44:33.259Z","updatedAt":"2025-05-22T16:44:33.259Z","role":"workflow:owner","workflowId":"hPDgbSiEFLcdHLlR","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}