backups/[wf_processor]-processarlotedeeventos-E2VTyqtdpir69mJ8.json
{"createdAt":"2025-06-15T17:50:31.813Z","updatedAt":"2025-10-17T18:47:32.076Z","id":"E2VTyqtdpir69mJ8","name":"[WF_Processor] ProcessarLoteDeEventos","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[720,-176],"id":"864a5a69-b365-4405-807f-f89d6a18ef3b","name":"Schedule Trigger"},{"parameters":{"operation":"get","tableId":"configuracoes_cadencia","filters":{"conditions":[{"keyName":"nome_configuracao","keyValue":"padrao_v1_whatsapp_email"},{"keyName":"ativo","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[960,-176],"id":"8406274a-d2b6-439d-bdfe-f9a3053c691a","name":"CarregarConfiguracaoCadenciaAtiva","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"executeQuery","query":"WITH proximo AS (\n  SELECT id\n  FROM eventos_erro\n  WHERE status_processamento_evento = 'novo_nao_processado'\n  ORDER BY timestamp_erro_detectado ASC\n  FOR UPDATE SKIP LOCKED\n  LIMIT 1\n)\nUPDATE eventos_erro e\nSET    status_processamento_evento = 'em_processamento_pelo_batch'\nFROM   proximo p\nWHERE  e.id = p.id\nRETURNING e.*;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1840,-176],"id":"f582d964-c0ce-49e6-a0a9-088f8ff58d18","name":"em_processamento_pelo_batch","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"jsCode":"// Puxe suas constantes (pode vir de outro node ou de $json)\nconst LIMITE_MAX_DIA = $('config_cadencia').first().json.limite_max_novas_abordagens_dia;\nconst ABORDAGENS_FEITAS_HOJE = $input.first().json.novas_abordagens_iniciadas_hoje;\n\n// Itera em cada item de entrada\nfor (const item of items) {\n  item.json.limite_diario_atingido      = ABORDAGENS_FEITAS_HOJE >= LIMITE_MAX_DIA;\n  item.json.data_log_diario             = new Date().toISOString().split('T')[0];\n  item.json.novas_abordagens_atuais_log = ABORDAGENS_FEITAS_HOJE;\n  // opcional: calculo restante\n  item.json.abordagens_restantes        = Math.max(0, LIMITE_MAX_DIA - ABORDAGENS_FEITAS_HOJE);\n}\n\n// Retorna o array de itens modificado\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2944,-192],"id":"8621ae04-b5b0-40fd-b163-18d4bd67e0aa","name":"Code_AvaliarLimiteDiario"},{"parameters":{"operation":"get","tableId":"configuracoes_cadencia","filters":{"conditions":[{"keyName":"nome_configuracao","keyValue":"padrao_v1_whatsapp_email"},{"keyName":"ativo","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2512,-192],"id":"b4260eed-1c66-47ba-9c97-9a9853fdd08d","name":"config_cadencia","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"getAll","tableId":"log_controle_diario","limit":100,"filters":{"conditions":[{"keyName":"data_execucao","condition":"eq","keyValue":"={{ new Date().toISOString().split('T')[0] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2720,-192],"id":"47633762-ba1e-49bc-bb70-17c5dd032f52","name":"BuscarLogControleDiario","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"get","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('BuscarEmpresaPorDominio').item.json.id_evento_erro_atual }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3168,-192],"id":"178f85dd-a0a6-41a8-92f1-31d2b827d064","name":"dados_evento_ativo_carregado","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// --- INÍCIO DO CÓDIGO FINAL E CORRIGIDO ---\nconst item = $input.first();\nconst evento_do_banco_obj = $('em_processamento_pelo_batch').item.json; \n\n// --- DADOS DE CONTEXTO ---\nconst dados_empresa_obj = $('BuscarEmpresaPorDominio').first().json ?? {};\nconst config_cadencia_obj = $('CarregarConfiguracaoCadenciaAtiva').first().json ?? {};\nconst evento_ativo_db_obj = $('dados_evento_ativo_carregado').first().json ?? null;\nconst limite_diario_obj = $('Code_AvaliarLimiteDiario').first()?.json ?? { limite_diario_atingido: false };\n\n// --- VARIÁVEIS ---\nconst agora = new Date();\nconst empresaStatus = dados_empresa_obj.status_cadencia_geral ?? null;\nconst contadorTotalTentativasCadencia = dados_empresa_obj.contador_total_tentativas_cadencia ?? 0;\nconst timestampProximaTentativaPermitida = dados_empresa_obj.timestamp_proxima_tentativa_permitida ?? null;\nconst idEventoErroAtivoNaEmpresa = dados_empresa_obj.id_evento_erro_atual ?? null;\nconst configMaxCadencias = config_cadencia_obj.max_cadencias_por_empresa ?? 3;\nconst evento_ativo_db = (evento_ativo_db_obj && evento_ativo_db_obj.id) ? evento_ativo_db_obj : null;\nconst diaAtualCadenciaEventoAtivo = evento_ativo_db?.dia_atual_na_cadencia ?? 0;\nconst limite_diario_atingido = limite_diario_obj.limite_diario_atingido;\n\n// --- INICIALIZAÇÃO ---\nitem.json.dia_para_processar = 0;\nitem.json.id_evento_para_processar = null;\nitem.json.id_evento_para_sobrescrever = null;\nitem.json.novos_dados_erro_para_evento_ativo = null;\nlet acaoDeterminada = 'IGNORAR_DEFAULT';\n\n// --- LÓGICA DE VERIFICAÇÃO DE COOLDOWN ---\nlet isCooldownOver = false;\nif (timestampProximaTentativaPermitida) {\n    isCooldownOver = new Date(timestampProximaTentativaPermitida) <= agora;\n} else if (dados_empresa_obj.timestamp_ultima_tentativa_cadencia) {\n    const lastAttempt = new Date(dados_empresa_obj.timestamp_ultima_tentativa_cadencia);\n    const cooldownDays = config_cadencia_obj.cooldown_entre_cadencias_dias ?? 15;\n    lastAttempt.setDate(lastAttempt.getDate() + cooldownDays);\n    isCooldownOver = lastAttempt <= agora;\n} else {\n    isCooldownOver = true;\n}\n\n\n// --- LÓGICA DE DECISÃO FINAL ---\n\n// --- ALTERAÇÃO AQUI (1/2): Adicionamos um novo bloco IF no início ---\n// 1. A cadência terminou e deve ser finalizada como \"sem sucesso\"?\nif (empresaStatus === 'dia3_concluido_aguardando_finalizacao') {\n    acaoDeterminada = 'FINALIZAR_CADENCIA_EVENTO_SEM_SUCESSO';\n}\n\n// 2. A empresa tem um status final ou está em espera e deve ser ignorada?\n// --- ALTERAÇÃO AQUI (2/2): Removemos a condição 'dia3_concluido...' daqui ---\nelse if ( (empresaStatus && empresaStatus.startsWith('aguardando_reforco')) || empresaStatus === 'sucesso_contato_realizado' || empresaStatus === 'nao_perturbe' || empresaStatus === 'falha_max_cadencias_atingida') {\n    acaoDeterminada = 'IGNORAR_EMPRESA_EM_ESPERA_OU_FINALIZADA';\n}\n\n// 3. A empresa está aguardando o próximo dia da cadência?\nelse if (empresaStatus === 'dia1_concluido_aguardando_dia2' || empresaStatus === 'dia2_concluido_aguardando_dia3') {\n    acaoDeterminada = 'CONTINUAR_CADENCIA_PROXIMO_DIA';\n    item.json.dia_para_processar = diaAtualCadenciaEventoAtivo + 1;\n    item.json.id_evento_para_processar = idEventoErroAtivoNaEmpresa;\n    item.json.id_evento_para_sobrescrever = idEventoErroAtivoNaEmpresa;\n    item.json.novos_dados_erro_para_evento_ativo = {\n        tipo_erro: evento_do_banco_obj.nome_erro,\n        explicacao: evento_do_banco_obj.detalhes_erro_payload,\n        id_externo: evento_do_banco_obj.id_evento_erro_externo,\n        timestamp_deteccao: evento_do_banco_obj.timestamp_erro_detectado,\n        tipo_erro_site_code: evento_do_banco_obj.tipo_erro_site\n    };\n}\n\n// 4. Se não, a empresa tem um erro ativo, um novo erro DIFERENTE chegou E ela NÃO está apta para uma nova cadência?\nelse if (idEventoErroAtivoNaEmpresa && evento_ativo_db && empresaStatus !== 'apta_para_nova_cadencia' && evento_do_banco_obj.id_evento_erro_externo !== evento_ativo_db.id_evento_erro_externo) {\n    acaoDeterminada = 'CONTINUAR_CADENCIA_PROXIMO_DIA'; \n    item.json.dia_para_processar = diaAtualCadenciaEventoAtivo; \n    item.json.id_evento_para_processar = idEventoErroAtivoNaEmpresa;\n    item.json.id_evento_para_sobrescrever = idEventoErroAtivoNaEmpresa;\n    item.json.novos_dados_erro_para_evento_ativo = {\n        tipo_erro: evento_do_banco_obj.nome_erro,\n        explicacao: evento_do_banco_obj.detalhes_erro_payload,\n        id_externo: evento_do_banco_obj.id_evento_erro_externo,\n        timestamp_deteccao: evento_do_banco_obj.timestamp_erro_detectado,\n        tipo_erro_site_code: evento_do_banco_obj.tipo_erro_site\n    };\n}\n\n// 5. Se não, a empresa está apta para uma NOVA cadência?\nelse if (contadorTotalTentativasCadencia < configMaxCadencias && isCooldownOver) {\n    if (limite_diario_atingido) {\n        acaoDeterminada = 'IGNORAR_LIMITE_DIARIO_ATINGIDO';\n    } else {\n        acaoDeterminada = 'INICIAR_NOVA_CADENCIA_DIA_1';\n        item.json.dia_para_processar = 1;\n        item.json.id_evento_para_processar = evento_do_banco_obj.id;\n    }\n}\n\n// 6. Se nenhuma condição for atendida, ignorar.\nelse {\n    acaoDeterminada = 'IGNORAR_COOLDOWN_OU_OUTRO';\n}\n\nitem.json.acao_determinada = acaoDeterminada;\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3680,-192],"id":"f11f3e6e-a5d6-4c74-92fd-d8b1f76c487b","name":"DeterminarAcaoParaEvento"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.acao_determinada }}","rightValue":"INICIAR_NOVA_CADENCIA_DIA_1","operator":{"type":"string","operation":"equals"},"id":"83cb8caa-111b-4982-a1e4-4bf72deff599"}],"combinator":"and"},"renameOutput":true,"outputKey":"DIA_1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1137d14a-77e8-4c64-89f9-12425adc2dfa","leftValue":"={{ $json.acao_determinada }}","rightValue":"CONTINUAR_CADENCIA_PROXIMO_DIA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROXIMO_DIA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8717023-c784-45ea-bc89-bcc8501e17fe","leftValue":"={{ $json.acao_determinada }}","rightValue":"ATUALIZAR_ERRO_EM_CADENCIA_ATIVA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ATUALIZAR_ERRO_EM_CADENCIA_ATIVA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a966baae-395e-4361-81cf-eb2b13530fb5","leftValue":"={{ $json.acao_determinada }}","rightValue":"FINALIZAR_CADENCIA_EVENTO_SEM_SUCESSO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FINALIZAR_CADENCIA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b97c5959-8b79-4361-9e02-715f5ed11163","leftValue":"={{ $json.acao_determinada }}","rightValue":"=IGNORAR","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IGNORAR"}]},"options":{"ignoreCase":false,"allMatchingOutputs":false}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4880,-320],"id":"9a03c5d0-f937-4588-9a0d-1766065fd267","name":"AcaoDeterminada"},{"parameters":{"operation":"update","tableId":"log_controle_diario","matchType":"allFilters","filters":{"conditions":[{"keyName":"data_execucao","condition":"eq","keyValue":"={{new Date().toISOString().slice(0, 10) }}"},{"keyName":"novas_abordagens_iniciadas_hoje","condition":"lt","keyValue":"={{ $('config_cadencia').item.json.limite_max_novas_abordagens_dia }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"novas_abordagens_iniciadas_hoje","fieldValue":"={{ $('BuscarLogControleDiario').item.json.novas_abordagens_iniciadas_hoje + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5488,-816],"id":"ba903fd7-a93c-4d74-8812-918e642b9395","name":"IncrementarLogControleDiario","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BuscarEmpresaPorDominio').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"contador_total_tentativas_cadencia","fieldValue":"={{ $('BuscarEmpresaPorDominio').item.json.contador_total_tentativas_cadencia + 1 }}"},{"fieldId":"status_cadencia_geral","fieldValue":"cadencia_dia1_ativa"},{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"timestamp_proxima_tentativa_permitida","fieldValue":"={{null}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5952,-864],"id":"e4f9e97b-93da-4ec2-8539-678dd2179037","name":"[REDACTED]","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"get","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('em_processamento_pelo_batch').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6384,-864],"id":"93f38668-4b11-4bee-a257-80cb120dafd0","name":"RegistrarNovoEventoErro","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BuscarEmpresaPorDominio').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"id_evento_erro_atual","fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6608,-864],"id":"753345a5-b132-453d-86dd-91acd1fcd7d1","name":"AtualizarEmpresa_SetEventoAtivo","executeOnce":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id_evento_para_processar }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"dia_atual_na_cadencia","fieldValue":"={{ $('DeterminarAcaoParaEvento').item.json.dia_para_processar }}"},{"fieldId":"status_processamento_evento","fieldValue":"={{ \"processando_dia_\" + $('DeterminarAcaoParaEvento').item.json.dia_para_processar }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5552,-384],"id":"d0505321-85a3-49ac-8f05-2c12ad43de26","name":"AtualizarEventoParaProximoDia","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BuscarEmpresaPorDominio').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_cadencia_geral","fieldValue":"={{ \"cadencia_dia\" + $json.dia_atual_na_cadencia + \"_ativa\" }}"},{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5760,-400],"id":"37b4e0f1-c716-407b-9d14-dacaf1829699","name":"AtualizarEmpresa_ContinuarCadencia","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"getAll","tableId":"templates_mensagens","matchType":"allFilters","filters":{"conditions":[{"keyName":"etapa_cadencia","condition":"eq","keyValue":"={{ $('DeterminarAcaoParaEvento').item.json.dia_para_processar * 100 + 1 }}"},{"keyName":"ativo","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6608,-368],"id":"84a9d539-bed6-4192-ab0a-eba0babe6558","name":"BuscarTemplates_DiaX_Principal","executeOnce":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"getAll","tableId":"contatos_empresa","filters":{"conditions":[{"keyName":"empresa_id","condition":"eq","keyValue":"={{ $('AtualizarEmpresa_ContinuarCadencia').first().json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6112,-368],"id":"437b5320-d0dc-4b44-9471-0001b2c01b87","name":"Buscar_contatos1","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"empresas","filterType":"=manual","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('AtualizarEmpresa_ContinuarCadencia').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_cadencia_geral","fieldValue":"={{ $json.proximo_status_cadencia_geral_empresa }}"},{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[13408,320],"id":"4e2d1b71-47f4-42a9-847b-3d5adb521743","name":"AtualizarEmpresa_StatusPosEnvioD","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id_evento_para_sobrescrever }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"tipo_erro_site","fieldValue":"={{ $json.novos_dados_erro_para_evento_ativo.tipo_erro_site_code }}"},{"fieldId":"detalhes_erro_payload","fieldValue":"={{ $json.novos_dados_erro_para_evento_ativo.explicacao }}"},{"fieldId":"timestamp_erro_detectado","fieldValue":"={{ $json.novos_dados_erro_para_evento_ativo.timestamp_deteccao }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"status_processamento_evento","fieldValue":"={{ \"processando_dia_\" +  $json.dia_para_processar  }}"},{"fieldId":"nome_erro","fieldValue":"={{ $json.novos_dados_erro_para_evento_ativo.tipo_erro }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5616,48],"id":"be3bd8f0-c197-4759-999a-c47e461a50fb","name":"SobrescreverDadosEventoErroAtivo","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('DeterminarAcaoParaEvento').item.json.empresa.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5952,16],"id":"190e5e94-c2c1-483b-89af-eac14a98b7df","name":"[REDACTED]","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.evento_ativo_db.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_processamento_evento","fieldValue":"={{ \"concluido_sem_sucesso_\" + $json.config_cadencia.max_dias_cadencia_por_evento + \"dias\" }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5536,432],"id":"6e2fb749-580f-4bda-bded-0595ff6d1592","name":"FinalizarEventoSemSucesso","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"jsCode":"const item = items[0];\n// Se você configurou inputs no nó Code:\n// const contadorAtual = input_contador_atual_cadencias_empresa;\n// const maxCadencias = input_config_max_cadencias_empresa;\n// const cooldownDias = input_config_cooldown_dias;\n// Senão, pegue do item.json:\nconst contadorAtual = $('DeterminarAcaoParaEvento').first().json.empresa.contador_total_tentativas_cadencia;\nconst maxCadencias = $('DeterminarAcaoParaEvento').first().json.config_cadencia.max_cadencias_por_empresa;\nconst cooldownDias = $('DeterminarAcaoParaEvento').first().json.config_cadencia.cooldown_entre_cadencias_dias;\n\nlet statusFinalParaEmpresa = 'apta_para_nova_cadencia';\nlet proximaTentativaTimestamp = $now.plus({ days: cooldownDias }).toISO();\n\n// O contador_total_tentativas_cadencia já foi incrementado no início da cadência do evento que acabou de falhar.\n// Então, verificamos se este contador JÁ ATINGIU o máximo.\nif (contadorAtual >= maxCadencias) {\n    statusFinalParaEmpresa = 'falha_max_cadencias_atingida';\n    proximaTentativaTimestamp = null; \n}\n\nitem.json.status_cadencia_geral_final_empresa = statusFinalParaEmpresa;\nitem.json.[REDACTED] = proximaTentativaTimestamp;\n\nreturn item;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5840,480],"id":"0f5edaf4-305a-41d1-86f7-708755d529bb","name":"Code_PrepararUpdateFinalEmpresa"},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.empresa_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_cadencia_geral","fieldValue":"={{ $json.status_cadencia_geral_final_empresa }}"},{"fieldId":"id_evento_erro_atual","fieldValue":"={{null}}"},{"fieldId":"timestamp_proxima_tentativa_permitida","fieldValue":"={{ $json.[REDACTED] }}"},{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"contador_total_tentativas_cadencia","fieldValue":"={{ $('BuscarEmpresaPorDominio').item.json.contador_total_tentativas_cadencia + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6176,480],"id":"247762c6-7be6-496e-8178-c3b1b7a3b549","name":"[REDACTED]","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cebd99e-f333-4d98-8ec4-39acfca6679b","leftValue":"={{ $json.id_evento_para_processar !== null || $json.id_evento_para_sobrescrever !== null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5312,832],"id":"b43936a9-a90a-4921-a55c-46bdeb82e1e7","name":"IF_EventoJaRegistrado"},{"parameters":{"dataToSave":{"values":[{"key":"[REDACTED]","value":"=console.log(\\Webhook para {{$json.dados_para_decisao.evento_webhook.dominio_evento}} ignorado. Ação: {{$json.acao_determinada}}. Motivo (se houver): {{$json.motivo_ignore ?? 'N/A'}}`);`"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[5568,800],"id":"3a53c32f-6ee4-4d99-a417-bb9b3c968ce5","name":"Execution Data1"},{"parameters":{"jsCode":"const item = items[0];\nconst acao = $json.acao_determinada;\nlet statusEvento = 'ignorado_default_ou_outro'; // Default\n\nif (acao === 'IGNORAR_LIMITE_DIARIO_ATINGIDO') {\n    statusEvento = 'ignorado_limite_diario_abordagem';\n} else if (acao === 'IGNORAR_COOLDOWN_OU_OUTRO') {\n    statusEvento = 'ignorado_cooldown_empresa'; // Assumindo que é cooldown\n} else if (acao === 'IGNORAR_EMPRESA_FINALIZADA') {\n    statusEvento = 'ignorado_empresa_ja_finalizada';\n} // Adicione mais mapeamentos se necessário\n\nitem.json.[REDACTED] = statusEvento;\nreturn item;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6016,992],"id":"bf79e8ba-dc64-451f-b545-c9e819a51a54","name":"Code2"},{"parameters":{"operation":"executeQuery","query":"UPDATE public.eventos_erro\nSET \n    status_processamento_evento = '{{ $('Code2').item.json.[REDACTED] }}',\n    data_ultima_atualizacao = NOW()\nWHERE \n    id = {{ $('em_processamento_pelo_batch').item.json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6336,992],"id":"c4666e50-8ef1-4ae2-91e0-4c30608a6aef","name":"RegistrarEventoComoIgnorado","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"get","tableId":"empresas","filters":{"conditions":[{"keyName":"url_inicial","keyValue":"={{ $json.url_site_com_erro }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2064,-176],"id":"3016d32a-58ba-416b-91e9-2d3114f41f1b","name":"BuscarEmpresaPorDominio","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cb328c9-947d-4076-b8cb-021fe4138488","leftValue":"={{ $json.url_inicial }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2288,-192],"id":"65011f2d-0c5f-401e-8021-bc52421f15e8","name":"IF_EmpresaExiste","alwaysOutputData":false},{"parameters":{"dataToSave":{"values":[{"key":"[REDACTED]","value":"={{ $json.dominio }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[2512,-384],"id":"7d2a72d6-29dd-44ac-b887-1d35911ebd7f","name":"site_processado"},{"parameters":{"dataToSave":{"values":[{"key":"[REDACTED]","value":"LogErroCritico_EmpresaNaoEncontrada"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[2512,16],"id":"72577e1e-f700-44d6-8edf-352657acfc9b","name":"Execution Data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d57c0a19-a89b-4fcd-82dd-3a2829c707dd","leftValue":"={{ $json.id_evento_para_sobrescrever }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3952,-368],"id":"10c09bdc-708f-446c-8942-02c14e25ebe9","name":"atualizar evento"},{"parameters":{"operation":"update","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id_evento_para_sobrescrever }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"tipo_erro_site","fieldValue":"={{ $json.novos_dados_erro_para_evento_ativo.tipo_erro_site_code }}"},{"fieldId":"detalhes_erro_payload","fieldValue":"={{ $json.novos_dados_erro_para_evento_ativo.explicacao }}"},{"fieldId":"timestamp_erro_detectado","fieldValue":"={{ $json.novos_dados_erro_para_evento_ativo.timestamp_deteccao }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"status_processamento_evento","fieldValue":"={{ \"processando_dia_\" +  $json.dia_para_processar  }}"},{"fieldId":"nome_erro","fieldValue":"={{ $json.novos_dados_erro_para_evento_ativo.tipo_erro }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4128,-528],"id":"436fdd47-bc49-447a-975f-de41091f5935","name":"SobrescreverDadosEventoErroAtivo3","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('DeterminarAcaoParaEvento').item.json.empresa.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4288,-608],"id":"cb698119-4ff4-4d23-a667-0052c8326fb7","name":"[REDACTED]","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[12960,400],"id":"e77a43f3-e39d-488b-bc37-ed9abd0bd70d","name":"Aggregate1"},{"parameters":{"operation":"getAll","tableId":"contatos_empresa","filters":{"conditions":[{"keyName":"empresa_id","condition":"eq","keyValue":"={{ $json.empresa.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4992,-800],"id":"9a86e11a-004b-440a-88d5-b059de8bb3ba","name":"Buscar_contatos2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"executeQuery","query":"-- Buscar todos os contatos (emails e telefones) de uma empresa\n-- IMPORTANTE: Incluindo campos de controle do Chatwoot para gestão de conversas\nSELECT\n    c.id AS id_contato_empresa,\n    c.nome_contato,\n    c.cargo,\n    c.valor_contato,\n    c.tipo_contato,\n    c.whatsapp_valido,\n    c.chatwoot_contact_id,\n    c.chatwoot_conversation_id,\n    c.chatwoot_sync_status,\n    c.chatwoot_sync_date,\n    c.last_template_sent,\n    c.last_interaction_date,\n    c.empresa_id,\n    e.nome_empresa_pagina AS nome_empresa\nFROM\n    contatos_empresa c\nJOIN\n    empresas e ON c.empresa_id = e.id\nWHERE\n    c.empresa_id = {{ $('AtualizarEmpresa_SetEventoAtivo').first().json.id }}\n    AND c.status_contato = 'ativo'\nORDER BY\n    c.tipo_contato, c.prioridade_contato;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[7264,-864],"id":"6fe4f5da-e1de-4808-b562-af282d058b3d","name":"Buscar_contatos3","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"getAll","tableId":"templates_mensagens","matchType":"allFilters","filters":{"conditions":[{"keyName":"etapa_cadencia","condition":"eq","keyValue":"101"},{"keyName":"ativo","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6880,-848],"id":"851f2b59-a0df-4fd7-84b1-89693f47da62","name":"BuscarTemplates_D1_Principal1","executeOnce":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"teamplate","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[7072,-864],"id":"03a79213-3ccb-4e13-aff8-46246e311f3b","name":"Aggregate2"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"contatos","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[7488,-864],"id":"00c7748c-2554-4efd-a467-333f8cc1fc29","name":"Aggregate3"},{"parameters":{"jsCode":"try {\n  // --- 1. CAPTURA DE DADOS ---\n  const contatos = $input.first().json.contatos || [];\n  const todosTemplates = $('Aggregate2').first().json.teamplate || [];\n  const eventoErro = $('RegistrarNovoEventoErro').first().json || {};\n\n  if (!contatos.length || !todosTemplates.length) {\n    return [];\n  }\n\n  // --- 2. PREPARAÇÃO ---\n  const placeholders = {\n    dominio:     eventoErro.url_site_com_erro      || 'seu site',\n    nome_erro:   eventoErro.nome_erro              || eventoErro.tipo_erro_site || 'Erro desconhecido',\n    resumoerro: typeof eventoErro.detalhes_erro_payload === 'string'\n      ? eventoErro.detalhes_erro_payload\n      : JSON.stringify(eventoErro.detalhes_erro_payload || ''),\n    cod_erro:    eventoErro.tipo_erro_site?.toString() || '',\n    id_empresa:  eventoErro.empresa_id?.toString()   || ''\n  };\n  placeholders.explicacao_resumida_erro = placeholders.resumoerro;\n\n  function preencherTexto(texto, valores) {\n    if (typeof texto !== 'string') return '';\n    return texto.replace(/{{\\s*([^}]+)\\s*}}/g, (_, chave) => valores[chave] || '');\n  }\n\n  function htmlToText(html) {\n    if (typeof html !== 'string') return '';\n    return html.replace(/<br\\s*\\/?>/gi, '\\n').replace(/<[^>]*>/g, '').replace(/&nbsp;/g, ' ').trim();\n  }\n\n  // NOVA FUNÇÃO AUXILIAR PARA FORMATAR O NÚMERO\n  function formatarParaE164(numero) {\n    if (!numero || typeof numero !== 'string') return '';\n    // Remove todos os caracteres não numéricos\n    let numeros = numero.replace(/\\D/g, '');\n\n    // Se o número já incluir o código do país (55), apenas adiciona o '+'\n    if (numeros.startsWith('55') && (numeros.length === 12 || numeros.length === 13)) {\n        return `+${numeros}`;\n    }\n    // Se for um número local (com DDD, 10 ou 11 dígitos), adiciona o código do país '55'\n    if (numeros.length === 10 || numeros.length === 11) {\n        return `+55${numeros}`;\n    }\n    // Para outros casos, apenas adiciona o '+' (fallback)\n    return `+${numeros}`;\n  }\n\n\n  const templateEmail = todosTemplates.find(t => t.canal === 'email' && t.ativo);\n  const templateWhatsapp = todosTemplates.find(t => t.canal === 'whatsapp' && t.ativo);\n\n  // --- 3. MONTAGEM DAS AÇÕES ---\n  const resultados = [];\n  const contatosElegiveis = contatos;\n\n  for (const contato of contatosElegiveis) {\n    const idDoContato = contato.id || contato.id_contato_empresa;\n    if (!idDoContato) continue;\n\n    let acaoDeEnvio = null;\n    let corpoRenderizado = '';\n    let templateUsado = null;\n    let variaveisDoTemplate = [];\n\n    if (contato.tipo_contato === 'whatsapp' && contato.whatsapp_valido && templateWhatsapp) {\n      templateUsado = templateWhatsapp;\n      corpoRenderizado = preencherTexto(templateWhatsapp.corpo_template, placeholders);\n      const regex = /{{\\s*([^}]+)\\s*}}/g;\n      variaveisDoTemplate = [...new Set(Array.from(templateWhatsapp.corpo_template.matchAll(regex), m => m[1]))];\n      const params = variaveisDoTemplate.map(key => ({\n        type: 'text',\n        parameter_name: key,\n        text: placeholders[key] || ''\n      }));\n      acaoDeEnvio = {\n        action: 'send_whatsapp',\n        payload: {\n          messaging_product: 'whatsapp', to: contato.valor_contato, type: 'template',\n          template: { name: templateWhatsapp.name_teamplate_meta, language: { code: 'pt_BR' }, components: [{ type: 'body', parameters: params }] }\n        }\n      };\n    } else if (contato.tipo_contato === 'email' && templateEmail) {\n      templateUsado = templateEmail;\n      const subject = preencherTexto(templateEmail.assunto_template, placeholders);\n      corpoRenderizado = preencherTexto(templateEmail.corpo_template, placeholders);\n      acaoDeEnvio = { action: 'send_email', payload: { to: contato.valor_contato, subject, body: corpoRenderizado } };\n    }\n\n    if (!acaoDeEnvio) continue;\n\n    if (!contato.chatwoot_contact_id) {\n      if (contato.tipo_contato === 'whatsapp') {\n        // MODIFICAÇÃO APLICADA AQUI\n        resultados.push({ json: { action: 'chatwoot_create_if_needed', payload: { phone_number: formatarParaE164(contato.valor_contato), name: contato.nome_contato || 'Contato', inbox_id: 4, id_contato_empresa: idDoContato } }});\n      } else if (contato.tipo_contato === 'email') {\n        resultados.push({ json: { action: 'chatwoot_create_email_contact', payload: { email: contato.valor_contato, phone_number: ' ', name: contato.nome_contato || 'Contato', inbox_id: 4, id_contato_empresa: idDoContato } }});\n      }\n    }\n\n    resultados.push({ json: acaoDeEnvio });\n    \n    // AJUSTE: Converte para texto e remove quebras de linha para o registro.\n    const conteudoParaRegistro = htmlToText(corpoRenderizado).replace(/(\\r\\n|\\n|\\r)/gm, \" \");\n    \n    const processedParams = {};\n    variaveisDoTemplate.forEach((chave, index) => {\n      processedParams[(index + 1).toString()] = placeholders[chave] || '';\n    });\n    \n    const templateParamsParaRegistro = {\n      name: templateUsado ? (templateUsado.name_teamplate_meta || templateUsado.nome_template) : null,\n      category: 'UTILITY',\n      language: 'pt_BR',\n      processed_params: processedParams\n    };\n\n    resultados.push({ json: {\n      action: 'chatwoot_register_message',\n      payload: {\n        content: conteudoParaRegistro,\n        private: true,\n        id_contato_empresa: idDoContato,\n        has_existing_conversation: !!contato.chatwoot_conversation_id,\n        contact_id: contato.chatwoot_contact_id, \n        conversation_id: contato.chatwoot_conversation_id,\n        valor_contato: contato.valor_contato ? contato.valor_contato.replace(/\\D/g, '') : null,\n        template_name_for_log: templateUsado ? templateUsado.nome_template : null,\n        template_params: templateParamsParaRegistro\n      }\n    }});\n  }\n\n  return resultados;\n\n} catch (error) {\n  return [{ json: { _critical_error: \"Falha na execução do Nó de Código Orquestrador.\", error_message: error.message, stack: error.stack } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8192,-768],"id":"ce3d3821-d9fd-4cfb-a93d-2b6466bce851","name":"Ação do contato"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"chatwoot_create_if_needed","operator":{"type":"string","operation":"equals"},"id":"6f772019-54f6-4603-bf46-f24cbe42c9e7"}],"combinator":"and"},"renameOutput":true,"outputKey":"create_if_needed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8048003-89bb-4742-ae36-9cabde7f40ed","leftValue":"={{ $json.action }}","rightValue":"chatwoot_create_email_contact","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"create_email_contact"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb37d8d8-3068-4f22-8d57-ce0e363afb0d","leftValue":"={{ $json.action }}","rightValue":"send_whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"send_whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"29030f8d-6306-4f2f-bc88-9c24c5abb72b","leftValue":"={{ $json.action }}","rightValue":"send_email","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"send_email"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8a6b6de-8cd4-4b4f-8ec5-c5cf8c2abf04","leftValue":"={{ $json.action }}","rightValue":"chatwoot_register_message","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"chatwoot_register_message"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[8464,-800],"id":"8098d8b3-5a04-43a7-ab62-ba531662efff","name":"Roteador Central"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v23.0/705549915969226/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9248,-848],"id":"5e7e9760-f0b2-4c65-bb2e-c15c41104b35","name":"Enviar WhatsApp1","alwaysOutputData":true,"credentials":{"whatsAppApi":{"id":"0iKPfEsLxdLdpIgR","name":"WhatsApp dot"}},"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"=\"Dot da Digital Pixel\" <dot@digitalpixel.com.br>","toEmail":"={{ $json.payload.to }}","subject":"={{ $json.payload.subject }}","html":"={{ $json.payload.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[9232,-592],"id":"4d5a4aa3-d4fa-4285-b84f-6dad7ce20781","name":"Send email","webhookId":"4bc2649d-246a-4db8-a818-e13289eef831","executeOnce":false,"alwaysOutputData":true,"credentials":{"smtp":{"id":"shOWMvBSkf2d8rpR","name":"SMTP account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8832,-1200],"id":"926c5f36-aa76-45d4-ac9e-9d874d92d2b9","name":"Criar Contato WhatsApp","credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa\nSET\n  chatwoot_contact_id = {{ $json.payload.contact.id }},\n  chatwoot_sync_status = 'synced',\n  chatwoot_sync_date = NOW()\nWHERE\n  id = {{ $('Roteador Central').item.json.payload.id_contato_empresa }};\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9104,-1200],"id":"b26f4981-79dd-4339-8586-e2a2bb24a376","name":"atualizar contato_empresa","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa\nSET\n  chatwoot_contact_id = {{ $json.payload.contact.id }},\n  chatwoot_sync_status = 'synced',\n  chatwoot_sync_date = NOW()\nWHERE\n  id = {{ $('Roteador Central').item.json.payload.id_contato_empresa }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9344,-1040],"id":"9031dfd6-ce72-4ebb-afe6-731b429f1ff5","name":"atualizar contato_empresa1","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"method":"POST","url":"https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8928,-976],"id":"e8df1bb8-1c78-4e63-8c4b-b92678734a25","name":"Criar Contato Email","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}}},{"parameters":{"method":"POST","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/conversations/{{ $json.payload.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.payload.content.replace(/(\\r?\\n|\\r)/gm, \" \") }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": {{ $json.payload.private }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9008,-336],"id":"9f15d3b0-5e3e-4e53-8677-6de327dda7d1","name":"Add_Message_To_Existing_Conversation1","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/conversations/{{ $json.id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $('Loop Over Items1').item.json.payload.content }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": {{ $('Loop Over Items1').item.json.payload.private }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9344,-80],"id":"4b70bd89-3d49-487d-bafc-b314858a9964","name":"Add_Message_To_New_Conversation1","alwaysOutputData":true,"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa \nSET \n  chatwoot_conversation_id = {{ $('criar conversation1').item.json.id }},\n  last_interaction_date = NOW()\nWHERE \n  id = {{ $('Roteador Central').item.json.payload.id_contato_empresa }}\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9632,-16],"id":"b782682d-e203-41a9-bbe4-152d427c0400","name":"Update_Conversation_ID1","alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa \nSET \n  last_interaction_date = NOW()\nWHERE id ={{ $('IF_Existing_Conversation1').item.json.payload.id_contato_empresa }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9232,-336],"id":"2cfd089a-ad01-46a4-868d-a7d5e3f1ddbb","name":"Update_Interaction_Date1","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.payload.has_existing_conversation }}","rightValue":true,"operator":{"type":"boolean","operation":"true"},"id":"6c822995-e357-4fde-a310-82ca6af995d5"}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[8704,-288],"id":"de4670af-3a97-40f9-89fe-cc33e17546e8","name":"IF_Existing_Conversation1"},{"parameters":{"method":"POST","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/conversations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contact_id\": {{ $json.payload.contact_id }},\n  \"inbox_id\": 4,\n  \"source_id\": \"{{ $json.payload.valor_contato }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9104,-48],"id":"78023c70-7195-42a2-b28f-761a0674da26","name":"criar conversation1","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[8800,-96],"id":"8e70534f-e911-471b-a1ca-c83711f44c21","name":"Loop Over Items1"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[10608,-704],"id":"1424eed7-2f33-4319-bb22-9f35a9e5f56b","name":"Merge3"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"tipo_contato"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[11888,-688],"id":"8c8f6377-9d24-4243-9fbb-4757b1b1d2f5","name":"Aggregate4"},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('[REDACTED]').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_cadencia_geral","fieldValue":"aguardando_reforco1_dia1"},{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[12112,-688],"id":"9dac1409-4d51-4407-a2b7-2c53e9580e27","name":"AtualizarEmpresa_StatusPosEnvioD2","executeOnce":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"contatos","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[6320,-368],"id":"fa7becf5-acb6-4378-bbf3-7793661a7fe5","name":"Aggregate5"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"teamplate","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[6912,-336],"id":"3c708132-ef0e-4f34-aa6a-55547c0ae2e9","name":"Aggregate6"},{"parameters":{"jsCode":"// --- 1. CAPTURA DE DADOS ---\n// Assumindo que a estrutura de entrada agora está correta.\n\n\ntry {\n  // --- 1. CAPTURA DE DADOS ---\nconst contatos = $('Aggregate5').first().json.contatos || [];\nconst todosTemplates = $input.first().json.teamplate || [];\nconst eventoErro = $('AtualizarEventoParaProximoDia').first().json || {};\n\n  if (!contatos.length || !todosTemplates.length) {\n    return [];\n  }\n\n  // --- 2. PREPARAÇÃO ---\n  const placeholders = {\n    dominio:    eventoErro.url_site_com_erro       || 'seu site',\n    nome_erro:  eventoErro.nome_erro             || eventoErro.tipo_erro_site || 'Erro desconhecido',\n    resumoerro: typeof eventoErro.detalhes_erro_payload === 'string'\n      ? eventoErro.detalhes_erro_payload\n      : JSON.stringify(eventoErro.detalhes_erro_payload || ''),\n    cod_erro:   eventoErro.tipo_erro_site?.toString() || '',\n    id_empresa: eventoErro.empresa_id?.toString()   || ''\n  };\n  placeholders.explicacao_resumida_erro = placeholders.resumoerro;\n\n  function preencherTexto(texto, valores) {\n    if (typeof texto !== 'string') return '';\n    return texto.replace(/{{\\s*([^}]+)\\s*}}/g, (_, chave) => valores[chave] || '');\n  }\n\n  function htmlToText(html) {\n    if (typeof html !== 'string') return '';\n    return html.replace(/<br\\s*\\/?>/gi, '\\n').replace(/<[^>]*>/g, '').replace(/&nbsp;/g, ' ').trim();\n  }\n\n  const templateEmail = todosTemplates.find(t => t.canal === 'email' && t.ativo);\n  const templateWhatsapp = todosTemplates.find(t => t.canal === 'whatsapp' && t.ativo);\n\n  // --- 3. MONTAGEM DAS AÇÕES ---\n  const resultados = [];\n  const contatosElegiveis = contatos;\n\n  for (const contato of contatosElegiveis) {\n    const idDoContato = contato.id || contato.id_contato_empresa;\n    if (!idDoContato) continue;\n\n    let acaoDeEnvio = null;\n    let corpoRenderizado = '';\n    let templateUsado = null;\n    let variaveisDoTemplate = [];\n\n    if (contato.tipo_contato === 'whatsapp' && contato.whatsapp_valido && templateWhatsapp) {\n      templateUsado = templateWhatsapp;\n      corpoRenderizado = preencherTexto(templateWhatsapp.corpo_template, placeholders);\n      const regex = /{{\\s*([^}]+)\\s*}}/g;\n      variaveisDoTemplate = [...new Set(Array.from(templateWhatsapp.corpo_template.matchAll(regex), m => m[1]))];\n      const params = variaveisDoTemplate.map(key => ({\n        type: 'text',\n        parameter_name: key,\n        text: placeholders[key] || ''\n      }));\n      acaoDeEnvio = {\n        action: 'send_whatsapp',\n        payload: {\n          messaging_product: 'whatsapp', to: contato.valor_contato, type: 'template',\n          template: { name: templateWhatsapp.name_teamplate_meta, language: { code: 'pt_BR' }, components: [{ type: 'body', parameters: params }] }\n        }\n      };\n    } else if (contato.tipo_contato === 'email' && templateEmail) {\n      templateUsado = templateEmail;\n      const subject = preencherTexto(templateEmail.assunto_template, placeholders);\n      corpoRenderizado = preencherTexto(templateEmail.corpo_template, placeholders);\n      acaoDeEnvio = { action: 'send_email', payload: { to: contato.valor_contato, subject, body: corpoRenderizado } };\n    }\n\n    if (!acaoDeEnvio) continue;\n\n    if (!contato.chatwoot_contact_id) {\n      if (contato.tipo_contato === 'whatsapp') {\n        resultados.push({ json: { action: 'chatwoot_create_if_needed', payload: { phone_number: contato.valor_contato, name: contato.nome_contato || 'Contato', inbox_id: 4, id_contato_empresa: idDoContato } }});\n      } else if (contato.tipo_contato === 'email') {\n        resultados.push({ json: { action: 'chatwoot_create_email_contact', payload: { email: contato.valor_contato, name: contato.nome_contato || 'Contato', inbox_id: 4, id_contato_empresa: idDoContato } }});\n      }\n    }\n\n    resultados.push({ json: acaoDeEnvio });\n    \n    // AJUSTE: Converte para texto e remove quebras de linha para o registro.\n    const conteudoParaRegistro = htmlToText(corpoRenderizado).replace(/(\\r\\n|\\n|\\r)/gm, \" \");\n    \n    const processedParams = {};\n    variaveisDoTemplate.forEach((chave, index) => {\n      processedParams[(index + 1).toString()] = placeholders[chave] || '';\n    });\n    \n    const templateParamsParaRegistro = {\n      name: templateUsado ? (templateUsado.name_teamplate_meta || templateUsado.nome_template) : null,\n      category: 'UTILITY',\n      language: 'pt_BR',\n      processed_params: processedParams\n    };\n\n    resultados.push({ json: {\n      action: 'chatwoot_register_message',\n      payload: {\n        content: conteudoParaRegistro,\n        private: true,\n        id_contato_empresa: idDoContato,\n        has_existing_conversation: !!contato.chatwoot_conversation_id,\n        contact_id: contato.chatwoot_contact_id, \n        conversation_id: contato.chatwoot_conversation_id,\n        valor_contato: contato.valor_contato ? contato.valor_contato.replace(/\\D/g, '') : null,\n        template_name_for_log: templateUsado ? templateUsado.nome_template : null,\n        template_params: templateParamsParaRegistro\n      }\n    }});\n  }\n\n  return resultados;\n\n} catch (error) {\n  return [{ json: { _critical_error: \"Falha na execução do Nó de Código Orquestrador.\", error_message: error.message, stack: error.stack } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[9168,496],"id":"5ef92e11-26a8-4fe4-ad4a-ead12d96fd03","name":"Ação do contato1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"chatwoot_create_if_needed","operator":{"type":"string","operation":"equals"},"id":"6f772019-54f6-4603-bf46-f24cbe42c9e7"}],"combinator":"and"},"renameOutput":true,"outputKey":"create_if_needed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8048003-89bb-4742-ae36-9cabde7f40ed","leftValue":"={{ $json.action }}","rightValue":"chatwoot_create_email_contact","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"create_email_contact"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb37d8d8-3068-4f22-8d57-ce0e363afb0d","leftValue":"={{ $json.action }}","rightValue":"send_whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"send_whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"29030f8d-6306-4f2f-bc88-9c24c5abb72b","leftValue":"={{ $json.action }}","rightValue":"send_email","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"send_email"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8a6b6de-8cd4-4b4f-8ec5-c5cf8c2abf04","leftValue":"={{ $json.action }}","rightValue":"chatwoot_register_message","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"chatwoot_register_message"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[9712,320],"id":"349f493e-7945-486c-af84-db96b4406afa","name":"Roteador Central1"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v23.0/705549915969226/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10688,208],"id":"8053fc96-41d0-49fb-b938-e2029621c850","name":"Enviar WhatsApp2","alwaysOutputData":true,"credentials":{"whatsAppApi":{"id":"0iKPfEsLxdLdpIgR","name":"WhatsApp dot"}},"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"=\"Dot da Digital Pixel\" <dot@digitalpixel.com.br>","toEmail":"={{ $json.payload.to }}","subject":"={{ $json.payload.subject }}","html":"={{ $json.payload.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[10640,368],"id":"5fd46840-0669-4f29-b8a1-b0711cd56fea","name":"Send email1","webhookId":"4bc2649d-246a-4db8-a818-e13289eef831","executeOnce":false,"alwaysOutputData":true,"credentials":{"smtp":{"id":"shOWMvBSkf2d8rpR","name":"SMTP account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone_number\": \"+5511999998888\",\n  \"name\": \"Nome do Contato\",\n  \"inbox_id\": 4,\n  \"id_contato_empresa\": \"12345\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10192,-176],"id":"fc1446f6-24aa-4d68-96cd-54a8a69ef617","name":"Criar Contato WhatsApp1","credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa\nSET\n  chatwoot_contact_id = {{ $json.payload.contact.id }},\n  chatwoot_sync_status = 'synced',\n  chatwoot_sync_date = NOW()\nWHERE\n  id = {{ $('AtualizarEmpresa_ContinuarCadencia').item.json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[10464,-176],"id":"5244f074-839e-4406-a045-74c99f247130","name":"atualizar contato_empresa2","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa\nSET\n  chatwoot_contact_id = {{ $json.payload.contact.id }},\n  chatwoot_sync_status = 'synced',\n  chatwoot_sync_date = NOW()\nWHERE\n  id_contato_empresa = {{ $('AtualizarEmpresa_ContinuarCadencia').item.json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[10704,-16],"id":"d61f05c0-e2e9-4730-9209-642cad2619b8","name":"atualizar contato_empresa3","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"method":"POST","url":"https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10240,112],"id":"2513a953-b5f9-4e32-b8f2-e420347b41e0","name":"Criar Contato Email1","credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}}},{"parameters":{"method":"POST","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/conversations/{{ $json.payload.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.payload.content.replace(/(\\r?\\n|\\r)/gm, \" \") }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": {{ $json.payload.private }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10368,704],"id":"a3ae58f0-ff9f-4174-b7f0-7aa5380cf00e","name":"Add_Message_To_Existing_Conversation2","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/conversations/{{ $json.meta.sender.id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{$('Loop Over Items').item.json.payload.content.replace(/(\\r?\\n|\\r)/gm, \" \") }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": {{ $('Loop Over Items').item.json.payload.private }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10800,928],"id":"77156a0d-22ab-46c2-8891-da5c2a792061","name":"Add_Message_To_New_Conversation2","alwaysOutputData":true,"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa \nSET \n  chatwoot_conversation_id = {{ $('criar conversation2').item.json.id }},\n  last_interaction_date = NOW()\nWHERE \n  id = {{ $('Roteador Central1').item.json.payload.id_contato_empresa }}\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[11024,992],"id":"80a5beab-1e88-4cd4-b8bc-ac129284c4a2","name":"Update_Conversation_ID2","alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE contatos_empresa \nSET \n  last_interaction_date = NOW()\nWHERE id ={{ $('IF_Existing_Conversation2').item.json.payload.id_contato_empresa }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[10592,704],"id":"1f631b1f-aade-4577-956a-b0a958946dbd","name":"Update_Interaction_Date2","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.payload.has_existing_conversation }}","rightValue":true,"operator":{"type":"boolean","operation":"true"},"id":"6c822995-e357-4fde-a310-82ca6af995d5"}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[10064,768],"id":"b4c432bc-6a93-4b57-9fe5-ae7b93f99c23","name":"IF_Existing_Conversation2"},{"parameters":{"method":"POST","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/conversations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contact_id\": {{ $json.payload.contact_id }},\n  \"inbox_id\": 4,\n  \"source_id\": \"{{ $json.payload.valor_contato }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10544,960],"id":"a5435537-fd96-459b-993e-c9fa8a5775b8","name":"criar conversation2","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[10240,960],"id":"f42afc40-0cf6-4c72-9908-c1804287f902","name":"Loop Over Items"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[11792,384],"id":"27cb5cf1-30a6-4ee2-af8e-a6ebe8c60e33","name":"Merge5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9fe98727-cc55-4d73-acb1-929746663ea3","leftValue":"={{ $json.podeContinuar }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1472,-176],"id":"f949fa1e-c2e9-4d19-bb46-a83a8fdc7f2b","name":"pode continuar?"},{"parameters":{"jsCode":"const item = items[0].json;\n\n// Mapeamento dos dias da semana\nconst diasSemanaMap = {\n  0: 'dom',\n  1: 'seg',\n  2: 'ter',\n  3: 'qua',\n  4: 'qui',\n  5: 'sex',\n  6: 'sab',\n};\n\n// Data/hora no fuso de Brasília (GMT–3)\nconst agora = new Date();\nconst utc = agora.getTime() + (agora.getTimezoneOffset() * 60000);\nconst brasiliaTime = new Date(utc - (3 * 3600000));\n\n// Extrai dia, hora e minuto\nconst diaSemanaAtual = diasSemanaMap[brasiliaTime.getDay()];\nconst horaAtual = brasiliaTime.getHours();\nconst minutoAtual = brasiliaTime.getMinutes();\n\n// Normaliza para “HH:MM”\nconst horaStr = String(horaAtual).padStart(2, '0');\nconst minStr  = String(minutoAtual).padStart(2, '0');\nconst horarioAtualStr = `${horaStr}:${minStr}`;\n\n// Limites de funcionamento\nconst [inicioHora, inicioMin] = item.horario_inicio_funcionamento.split(':').map(Number);\nconst [fimHora,    fimMin]    = item.horario_fim_funcionamento.split(':').map(Number);\nconst minutosAgora  = horaAtual * 60 + minutoAtual;\nconst minutosInicio = inicioHora * 60 + inicioMin;\nconst minutosFim    = fimHora    * 60 + fimMin;\n\n// Verifica dia e horário\nconst dentroDoDia      = item.dias_semana_funcionamento.includes(diaSemanaAtual);\nconst dentroDoHorario  = minutosAgora >= minutosInicio && minutosAgora <= minutosFim;\nconst podeContinuar   = dentroDoDia && dentroDoHorario;\n\n// Monta a mensagem final\nconst message = `Hoje é no horário ${horarioAtualStr} e está dentro do horário de funcionamento: ${podeContinuar}`;\n\nreturn [\n  {\n    json: {\n      ...item,\n      podeContinuar,\n      message\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,-176],"id":"26c1fed8-1d61-45e2-9153-309250f1a414","name":"Regras de cadencia"},{"parameters":{"assignments":{"assignments":[{"id":"82e79498-c27a-450d-b7ea-94fd9c75d7c9","name":"empresa","value":"={{ $('BuscarEmpresaPorDominio').first().json ?? {} }}","type":"object"},{"id":"52f30193-387e-42c6-b37f-98449ef340d3","name":"=config_cadencia","value":"={{ $('config_cadencia').first().json ?? {} }}","type":"object"},{"id":"512f0164-2d78-4e1f-9290-0756dbf3f99b","name":"evento_ativo_db","value":"={{ $('dados_evento_ativo_carregado').first().json || null }}","type":"object"},{"id":"6be52415-cbcd-49a1-a2a0-1295a687fb24","name":"limite_diario","value":"={{ $('Code_AvaliarLimiteDiario').item.json.limite_diario_atingido }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3488,-192],"id":"b21895ef-5695-4435-868c-8370cc6919a6","name":"Organizar dados"},{"parameters":{"operation":"update","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('em_processamento_pelo_batch').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_processamento_evento","fieldValue":"ignorado_empresa_sem_contatos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5376,-1008],"id":"3e8e7f20-2533-4f95-b7ba-222ab13d3eef","name":"atualizar_evento","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $('AtualizarEmpresa_SetEventoAtivo').first().json.dominio }}","empresa_id":"='{{ $('AtualizarEmpresa_SetEventoAtivo').first().json.id }}'","to_status":"aguardando_reforco1_dia1","from_status":"={{ $('AtualizarEmpresa_SetEventoAtivo').first().json.status_cadencia_geral }}","status":"={{ $json.status }}","action_type":"={{ $json.action_type }}","reason":"={{ $json.action_details.reason }}","canal":"={{ $json.action_details.canal }}","destinatario":"={{ $json.action_details.destinatario }}","workflow_name":"={{ $json.workflow_name }}","etapa_cadencia":"={{ $json.action_details.status_cadencia_atual }}","template_usado":"={{ $json.action_details.template_usado }}","dia_atual_na_cadencia":1,"execution_id":"={{ $json.execution_id }}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[11392,-528],"id":"dca8253a-b240-44a6-9073-4054a920aee1","name":"Call 'Registrar logs'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db596747-a943-4733-b815-f4d2ef806087","leftValue":"={{ $json.data_execucao }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5728,-864],"id":"aa498c56-0a8a-4a9f-9e2b-96a6fa0df7a8","name":"validar se pode continuar a cadencia"},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.dominio }}","status":"success","empresa_id":"=\"{{ $json.id }}\"","workflow_name":"[WF_Processor] ProcessarLoteDeEventos","to_status":"={{ $json.status_cadencia_geral }}","from_status":"={{ $('BuscarEmpresaPorDominio').first().json.status_cadencia_geral }}","action_type":"iniciar_cadência","dia_atual_na_cadencia":1,"etapa_cadencia":"={{ $json.status_cadencia_geral }}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[6176,-1072],"id":"a141fb3a-7f3f-4d22-a4f0-724dcbf06c5c","name":"Call 'Registrar logs' cadencia"},{"parameters":{"jsCode":"try {\n  // --- 1. CAPTURA DE DADOS ---\n  // Pega a saída do Merge com os resultados dos envios (WhatsApp e Email).\n  const resultadosDosEnvios = $input.all();\n\n  // Pega a saída do nó que preparou TODAS as ações originalmente.\n  // <<< AJUSTE O NOME DO NÓ 'Ação do contato' SE FOR DIFERENTE\n  const acoesOriginais = $('Ação do contato').all();\n\n  // Pega o status atual da empresa.\n  // <<< AJUSTE O NOME DO NÓ '[REDACTED]' SE FOR DIFERENTE\n  const statusAtualEmpresa = $('[REDACTED]').first().json.status_cadencia_geral;\n\n  // Pega o ID da empresa.\n  // <<< AJUSTE O NOME DO NÓ '[REDACTED]' SE FOR DIFERENTE\n  const empresaId = $('[REDACTED]').first().json.id;\n\n\n  // --- 2. FUNÇÕES AUXILIARES PARA IDENTIFICAR SUCESSO ---\n  function isWhatsappSuccess(item) {\n    return item.json.messaging_product === 'whatsapp' && item.json.messages?.[0]?.message_status === 'accepted';\n  }\n\n  function isEmailSuccess(item) {\n    return Array.isArray(item.json.accepted) && item.json.accepted.length > 0;\n  }\n\n  // --- 3. LÓGICA PRINCIPAL ---\n  const logsParaRegistrar = [];\n\n  for (const resultado of resultadosDosEnvios) {\n    let destinatario = '';\n    let canal = '';\n\n    if (isWhatsappSuccess(resultado)) {\n      destinatario = resultado.json.contacts[0].input;\n      canal = 'whatsapp';\n    } else if (isEmailSuccess(resultado)) {\n      destinatario = resultado.json.accepted[0];\n      canal = 'email';\n    }\n\n    if (!canal) {\n      continue;\n    }\n\n    // --- NOVA LÓGICA: Buscar o log do Chatwoot correspondente ---\n    // O `valor_contato` no log do Chatwoot para WhatsApp é o número de telefone.\n    // Para e-mail, precisamos encontrar a ação do Chatwoot que foi gerada junto com a ação de envio.\n    // A forma mais segura é encontrar a ação do chatwoot que tenha o `valor_contato` correspondente ou o mesmo `id_contato_empresa` da ação de envio.\n    \n    // Simplificando a busca: o `valor_contato` no payload do chatwoot parece ser a chave mais confiável para ambos.\n    // No seu JSON, o valor_contato do email é \"1999\" o que parece incorreto, usaremos o destinatario como chave.\n    const acaoChatwootCorrespondente = acoesOriginais.find(acao => {\n        if (acao.json.action !== 'chatwoot_register_message') return false;\n        // Para WhatsApp, o destinatario e o valor_contato são o mesmo número.\n        if (canal === 'whatsapp' && acao.json.payload.valor_contato === destinatario) return true;\n        // Para Email, precisamos de uma forma de ligar. Vamos assumir que o `id_contato_empresa` está disponível na ação de envio original.\n        // A melhor abordagem é buscar pela ação de envio primeiro, pegar o ID do contato, e depois buscar a ação do chatwoot.\n        \n        // Vamos usar uma abordagem mais direta baseada no destinatário, assumindo que `valor_contato` no log do Chatwoot é o identificador único.\n        // O seu código 'Ação do contato' pode ser ajustado para garantir que `valor_contato` no log do chatwoot seja o email para o canal de email.\n        // Por agora, vamos usar o que temos.\n        return false; // Fallback se a lógica acima não funcionar\n    });\n\n    // Uma busca mais robusta, baseada no seu JSON:\n    const acaoDeRegistroChatwoot = acoesOriginais.find(acao =>\n        acao.json.action === 'chatwoot_register_message' &&\n        // Limpando o número de telefone para garantir a correspondência\n        (acao.json.payload.valor_contato || '').replace(/\\D/g, '') === (destinatario || '').replace(/\\D/g, '')\n    );\n\n\n    let mensagemEnviada = 'Conteúdo renderizado não encontrado na ação do Chatwoot.';\n    let templateUsado = 'Template não encontrado na ação do Chatwoot.';\n\n    if (acaoDeRegistroChatwoot) {\n        mensagemEnviada = acaoDeRegistroChatwoot.json.payload.content;\n        templateUsado = acaoDeRegistroChatwoot.json.payload.template_name_for_log;\n    }\n\n    // Monta o objeto de log final\n    const logPayload = {\n      domain: \"cadencia\",\n      status: \"success\",\n      empresa_id: empresaId,\n      action_type: \"message_sent\",\n      workflow_name: \"[WF_Processor] ProcessarLoteDeEventos\", // Corrigido para o workflow atual\n      action_details: {\n        reason: `Mensagem enviada para ${destinatario} via ${canal}.`,\n        status_cadencia_atual: statusAtualEmpresa,\n        canal: canal,\n        destinatario: destinatario,\n        template_usado: templateUsado,\n        mensagem_enviada: mensagemEnviada, // <<< AQUI ESTÁ A MUDANÇA PRINCIPAL\n        api_response: resultado.json\n      },\n      execution_id: $execution.id\n    };\n\n    logsParaRegistrar.push({ json: logPayload });\n  }\n\n  return logsParaRegistrar;\n\n} catch (error) {\n  return [{ json: { _critical_error: \"Falha ao preparar o log de envio.\", error_message: error.message, stack: error.stack } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[10928,-640],"id":"0f54788e-d7ac-465b-9491-366fbbf6b838","name":"Preparar payload"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[11136,-640],"id":"1a61fc8c-ae6b-4ad1-9845-e80bc637d38e","name":"Loop Over Items2"},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $('AtualizarEmpresa_ContinuarCadencia').first().json.dominio }}","empresa_id":"='{{ $('AtualizarEmpresa_ContinuarCadencia').first().json.id }}'","from_status":"={{ $('AtualizarEmpresa_ContinuarCadencia').first().json.status_cadencia_geral }}","status":"={{ $json.status }}","action_type":"={{ $json.action_type }}","reason":"={{ $json.action_details.reason }}","canal":"={{ $json.action_details.canal }}","destinatario":"={{ $json.action_details.destinatario }}","workflow_name":"={{ $json.workflow_name }}","etapa_cadencia":"={{ $json.action_details.status_cadencia_atual }}","template_usado":"={{ $json.action_details.template_usado }}","execution_id":"={{ $json.execution_id }}","to_status":"={{ $json.proximo_status_cadencia_geral_empresa }}","dia_atual_na_cadencia":"={{ $('AcaoDeterminada').first().json.dia_para_processar }}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[13136,960],"id":"f997f177-45ee-4f45-b63c-739e62ab1f41","name":"Call 'Registrar logs'1"},{"parameters":{"jsCode":"try {\n  // --- 1. CAPTURA DE DADOS ---\n  // Pega a saída do Merge com os resultados dos envios (WhatsApp e Email).\n  const resultadosDosEnvios = $input.all();\n\n  // Pega a saída do nó que preparou TODAS as ações originalmente.\n  // <<< AJUSTE O NOME DO NÓ 'Ação do contato' SE FOR DIFERENTE\n  const acoesOriginais = $('Ação do contato1').all();\n\n  // Pega o status atual da empresa.\n  // <<< AJUSTE O NOME DO NÓ '[REDACTED]' SE FOR DIFERENTE\n  const statusAtualEmpresa = $('AtualizarEmpresa_ContinuarCadencia').first().json.status_cadencia_geral;\n\n  // Pega o ID da empresa.\n  // <<< AJUSTE O NOME DO NÓ '[REDACTED]' SE FOR DIFERENTE\n  const empresaId =$('AtualizarEmpresa_ContinuarCadencia').first().json.id ;\n\n\n  // --- 2. FUNÇÕES AUXILIARES PARA IDENTIFICAR SUCESSO ---\n  function isWhatsappSuccess(item) {\n    return item.json.messaging_product === 'whatsapp' && item.json.messages?.[0]?.message_status === 'accepted';\n  }\n\n  function isEmailSuccess(item) {\n    return Array.isArray(item.json.accepted) && item.json.accepted.length > 0;\n  }\n\n  // --- 3. LÓGICA PRINCIPAL ---\n  const logsParaRegistrar = [];\n\n  for (const resultado of resultadosDosEnvios) {\n    let destinatario = '';\n    let canal = '';\n\n    if (isWhatsappSuccess(resultado)) {\n      destinatario = resultado.json.contacts[0].input;\n      canal = 'whatsapp';\n    } else if (isEmailSuccess(resultado)) {\n      destinatario = resultado.json.accepted[0];\n      canal = 'email';\n    }\n\n    if (!canal) {\n      continue;\n    }\n\n    // --- NOVA LÓGICA: Buscar o log do Chatwoot correspondente ---\n    // O `valor_contato` no log do Chatwoot para WhatsApp é o número de telefone.\n    // Para e-mail, precisamos encontrar a ação do Chatwoot que foi gerada junto com a ação de envio.\n    // A forma mais segura é encontrar a ação do chatwoot que tenha o `valor_contato` correspondente ou o mesmo `id_contato_empresa` da ação de envio.\n    \n    // Simplificando a busca: o `valor_contato` no payload do chatwoot parece ser a chave mais confiável para ambos.\n    // No seu JSON, o valor_contato do email é \"1999\" o que parece incorreto, usaremos o destinatario como chave.\n    const acaoChatwootCorrespondente = acoesOriginais.find(acao => {\n        if (acao.json.action !== 'chatwoot_register_message') return false;\n        // Para WhatsApp, o destinatario e o valor_contato são o mesmo número.\n        if (canal === 'whatsapp' && acao.json.payload.valor_contato === destinatario) return true;\n        // Para Email, precisamos de uma forma de ligar. Vamos assumir que o `id_contato_empresa` está disponível na ação de envio original.\n        // A melhor abordagem é buscar pela ação de envio primeiro, pegar o ID do contato, e depois buscar a ação do chatwoot.\n        \n        // Vamos usar uma abordagem mais direta baseada no destinatário, assumindo que `valor_contato` no log do Chatwoot é o identificador único.\n        // O seu código 'Ação do contato' pode ser ajustado para garantir que `valor_contato` no log do chatwoot seja o email para o canal de email.\n        // Por agora, vamos usar o que temos.\n        return false; // Fallback se a lógica acima não funcionar\n    });\n\n    // Uma busca mais robusta, baseada no seu JSON:\n    const acaoDeRegistroChatwoot = acoesOriginais.find(acao =>\n        acao.json.action === 'chatwoot_register_message' &&\n        // Limpando o número de telefone para garantir a correspondência\n        (acao.json.payload.valor_contato || '').replace(/\\D/g, '') === (destinatario || '').replace(/\\D/g, '')\n    );\n\n\n    let mensagemEnviada = 'Conteúdo renderizado não encontrado na ação do Chatwoot.';\n    let templateUsado = 'Template não encontrado na ação do Chatwoot.';\n\n    if (acaoDeRegistroChatwoot) {\n        mensagemEnviada = acaoDeRegistroChatwoot.json.payload.content;\n        templateUsado = acaoDeRegistroChatwoot.json.payload.template_name_for_log;\n    }\n\n    // Monta o objeto de log final\n    const logPayload = {\n      domain: \"cadencia\",\n      status: \"success\",\n      empresa_id: empresaId,\n      action_type: \"message_sent\",\n      workflow_name: \"[WF_Processor] ProcessarLoteDeEventos\", // Corrigido para o workflow atual\n      action_details: {\n        reason: `Mensagem enviada para ${destinatario} via ${canal}.`,\n        status_cadencia_atual: statusAtualEmpresa,\n        canal: canal,\n        destinatario: destinatario,\n        template_usado: templateUsado,\n        mensagem_enviada: mensagemEnviada, // <<< AQUI ESTÁ A MUDANÇA PRINCIPAL\n        api_response: resultado.json\n      },\n      execution_id: $execution.id\n    };\n\n    logsParaRegistrar.push({ json: logPayload });\n  }\n\n  return logsParaRegistrar;\n\n} catch (error) {\n  return [{ json: { _critical_error: \"Falha ao preparar o log de envio.\", error_message: error.message, stack: error.stack } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[12352,416],"id":"88851187-8f8d-4488-b6da-db8101df3355","name":"Preparar payload1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[12624,400],"id":"b7452493-d3fe-4480-8b62-2b1da9634e63","name":"Loop Over Items3"},{"parameters":{"jsCode":"// Nó: DefinirStatusAposMsgPrincipal\n// Roda APÓS o envio da mensagem PRINCIPAL de um dia da cadência.\nconst item = items[0].json; \nconst diaEvento = $('AtualizarEventoParaProximoDia').first().json.dia_atual_na_cadencia; // Ou como você acessa o dia do evento\nconst config = $('config_cadencia').first().json; // Ou como você acessa a config\n\nlet proximoStatusEmpresa = 'ERRO_STATUS_APOS_PRINCIPAL_INVALIDO';\n\nif (diaEvento === 1) {\n    // Se Dia 1 tem pelo menos 1 reforço (max_mensagens_dia1 >= 2)\n    proximoStatusEmpresa = (config.max_mensagens_dia1 >= 2) ? 'aguardando_reforco1_dia1' : 'dia1_concluido_aguardando_dia2';\n} else if (diaEvento === 2) {\n    // Se Dia 2 tem pelo menos 1 reforço (max_mensagens_dia2 >= 2)\n    proximoStatusEmpresa = (config.max_mensagens_dia2 >= 2) ? 'aguardando_reforco1_dia2' : 'dia2_concluido_aguardando_dia3';\n} else if (diaEvento === 3) {\n    // Se Dia 3 SÓ TEM mensagem principal (max_mensagens_dia3 = 1)\n    if (config.max_mensagens_dia3 === 1) {\n        proximoStatusEmpresa = 'dia3_concluido_aguardando_finalizacao';\n    } \n    // Se Dia 3 tem reforços (max_mensagens_dia3 >= 2)\n    else if (config.max_mensagens_dia3 >= 2) {\n        proximoStatusEmpresa = 'aguardando_reforco1_dia3';\n    }\n}\n\nitem.proximo_status_cadencia_geral_empresa = proximoStatusEmpresa;\nreturn item;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[13184,320],"id":"a84cfa2c-8ab0-4208-8be2-4f70f873b9ef","name":"preparar próximo status","executeOnce":true},{"parameters":{"jsCode":"// Nó: DefinirStatusAposMsgPrincipal\n// Roda APÓS o envio da mensagem PRINCIPAL de um dia da cadência.\nconst item = items[0].json; \nconst diaEvento = $('AtualizarEventoParaProximoDia').first().json.dia_atual_na_cadencia; // Ou como você acessa o dia do evento\nconst config = $('config_cadencia').first().json; // Ou como você acessa a config\n\nlet proximoStatusEmpresa = 'ERRO_STATUS_APOS_PRINCIPAL_INVALIDO';\n\nif (diaEvento === 1) {\n    // Se Dia 1 tem pelo menos 1 reforço (max_mensagens_dia1 >= 2)\n    proximoStatusEmpresa = (config.max_mensagens_dia1 >= 2) ? 'aguardando_reforco1_dia1' : 'dia1_concluido_aguardando_dia2';\n} else if (diaEvento === 2) {\n    // Se Dia 2 tem pelo menos 1 reforço (max_mensagens_dia2 >= 2)\n    proximoStatusEmpresa = (config.max_mensagens_dia2 >= 2) ? 'aguardando_reforco1_dia2' : 'dia2_concluido_aguardando_dia3';\n} else if (diaEvento === 3) {\n    // Se Dia 3 SÓ TEM mensagem principal (max_mensagens_dia3 = 1)\n    if (config.max_mensagens_dia3 === 1) {\n        proximoStatusEmpresa = 'dia3_concluido_aguardando_finalizacao';\n    } \n    // Se Dia 3 tem reforços (max_mensagens_dia3 >= 2)\n    else if (config.max_mensagens_dia3 >= 2) {\n        proximoStatusEmpresa = 'aguardando_reforco1_dia3';\n    }\n}\n\nitem.proximo_status_cadencia_geral_empresa = proximoStatusEmpresa;\nreturn item;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[12864,736],"id":"e0a0d917-3ca0-4a86-919a-45c5c62cca5a","name":"preparar próximo status1","executeOnce":true},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $('Code2').item.json.empresa.dominio }}","empresa_id":"='{{ $('Code2').item.json.empresa.id }}'","from_status":"={{ $('Code2').item.json.empresa.status_cadencia_geral }}","status":"=success","action_type":"={{ $('Code2').item.json.acao_determinada }}","reason":"={{ $('Code2').item.json.acao_determinada }}","canal":"=","destinatario":"=","workflow_name":"[WF_Processor] ProcessarLoteDeEventos","etapa_cadencia":"=","template_usado":"=","execution_id":"=","to_status":"={{ $('Code2').item.json.empresa.status_cadencia_geral }}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[6608,1024],"id":"5fa38811-ab0a-4baa-95e5-d1238bd2253a","name":"Call 'Registrar logs'2"},{"parameters":{"operation":"update","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"empresa_id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"dia_atual_na_cadencia","fieldValue":"1"},{"fieldId":"status_processamento_evento","fieldValue":"processando_dia_1"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6160,-864],"id":"bd8d854d-d3c2-4875-bb0c-0b801db4eccb","name":"atualizar evento1","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.url_site_com_erro }}","status":"success","empresa_id":"=\"{{ $json.empresa_id }}\"","workflow_name":"[WF_Processor] ProcessarLoteDeEventos","to_status":"=","from_status":"=","dia_atual_na_cadencia":1,"etapa_cadencia":"=","action_type":"={{ $json.status_processamento_evento }}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[5600,-1088],"id":"064ea178-59e7-4252-a276-97a79da57d5a","name":"Call 'Registrar logs' cadencia1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d55a9f7e-8cbf-4e42-8085-ec8a4ccf2c7a","leftValue":"={{ $json.valor_contato }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5184,-864],"id":"30eafe71-8315-425d-b659-f5707a9de085","name":"tem contato?"},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.dominio }}","empresa_id":"='{{ $json.id }}'","from_status":"={{ $('BuscarEmpresaPorDominio').item.json.status_cadencia_geral }}","status":"=success","action_type":"={{ $('DeterminarAcaoParaEvento').item.json.acao_determinada }}","reason":"=","canal":"=","destinatario":"=","workflow_name":"[WF_Processor] ProcessarLoteDeEventos","etapa_cadencia":"=","template_usado":"=","execution_id":"=","to_status":"={{ $json.status_cadencia_geral }}","dia_atual_na_cadencia":3},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[6480,496],"id":"d1101ace-bcc2-4d8c-9e67-b88858498f8f","name":"Call 'Registrar logs'3"}],"connections":{"Schedule Trigger":{"main":[[{"node":"CarregarConfiguracaoCadenciaAtiva","type":"main","index":0}]]},"CarregarConfiguracaoCadenciaAtiva":{"main":[[{"node":"Regras de cadencia","type":"main","index":0}]]},"em_processamento_pelo_batch":{"main":[[{"node":"BuscarEmpresaPorDominio","type":"main","index":0}]]},"Code_AvaliarLimiteDiario":{"main":[[{"node":"dados_evento_ativo_carregado","type":"main","index":0}]]},"config_cadencia":{"main":[[{"node":"BuscarLogControleDiario","type":"main","index":0}]]},"BuscarLogControleDiario":{"main":[[{"node":"Code_AvaliarLimiteDiario","type":"main","index":0}]]},"dados_evento_ativo_carregado":{"main":[[{"node":"Organizar dados","type":"main","index":0}]]},"DeterminarAcaoParaEvento":{"main":[[{"node":"AcaoDeterminada","type":"main","index":0},{"node":"atualizar evento","type":"main","index":0}]]},"AcaoDeterminada":{"main":[[{"node":"Buscar_contatos2","type":"main","index":0}],[{"node":"AtualizarEventoParaProximoDia","type":"main","index":0}],[{"node":"SobrescreverDadosEventoErroAtivo","type":"main","index":0}],[{"node":"FinalizarEventoSemSucesso","type":"main","index":0}],[{"node":"IF_EventoJaRegistrado","type":"main","index":0}]]},"IncrementarLogControleDiario":{"main":[[{"node":"validar se pode continuar a cadencia","type":"main","index":0}]]},"AtualizarEmpresa_NovaCadenciaStatusEContador":{"main":[[{"node":"atualizar evento1","type":"main","index":0},{"node":"Call 'Registrar logs' cadencia","type":"main","index":0}]]},"RegistrarNovoEventoErro":{"main":[[{"node":"AtualizarEmpresa_SetEventoAtivo","type":"main","index":0}]]},"AtualizarEmpresa_SetEventoAtivo":{"main":[[{"node":"BuscarTemplates_D1_Principal1","type":"main","index":0}]]},"AtualizarEventoParaProximoDia":{"main":[[{"node":"AtualizarEmpresa_ContinuarCadencia","type":"main","index":0}]]},"AtualizarEmpresa_ContinuarCadencia":{"main":[[{"node":"Buscar_contatos1","type":"main","index":0}]]},"BuscarTemplates_DiaX_Principal":{"main":[[{"node":"Aggregate6","type":"main","index":0}]]},"Buscar_contatos1":{"main":[[{"node":"Aggregate5","type":"main","index":0}]]},"SobrescreverDadosEventoErroAtivo":{"main":[[{"node":"[REDACTED]","type":"main","index":0}]]},"FinalizarEventoSemSucesso":{"main":[[{"node":"Code_PrepararUpdateFinalEmpresa","type":"main","index":0}]]},"Code_PrepararUpdateFinalEmpresa":{"main":[[{"node":"[REDACTED]","type":"main","index":0}]]},"IF_EventoJaRegistrado":{"main":[[{"node":"Execution Data1","type":"main","index":0}],[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"RegistrarEventoComoIgnorado","type":"main","index":0}]]},"BuscarEmpresaPorDominio":{"main":[[{"node":"IF_EmpresaExiste","type":"main","index":0}]]},"IF_EmpresaExiste":{"main":[[{"node":"site_processado","type":"main","index":0},{"node":"config_cadencia","type":"main","index":0}],[{"node":"Execution Data","type":"main","index":0}]]},"SobrescreverDadosEventoErroAtivo3":{"main":[[{"node":"[REDACTED]","type":"main","index":0}]]},"atualizar evento":{"main":[[{"node":"SobrescreverDadosEventoErroAtivo3","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"preparar próximo status","type":"main","index":0}]]},"Buscar_contatos2":{"main":[[{"node":"tem contato?","type":"main","index":0}]]},"BuscarTemplates_D1_Principal1":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Buscar_contatos3","type":"main","index":0}]]},"Buscar_contatos3":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Ação do contato","type":"main","index":0}]]},"Ação do contato":{"main":[[{"node":"Roteador Central","type":"main","index":0}]]},"Roteador Central":{"main":[[{"node":"Criar Contato WhatsApp","type":"main","index":0}],[{"node":"Criar Contato Email","type":"main","index":0}],[{"node":"Enviar WhatsApp1","type":"main","index":0}],[{"node":"Send email","type":"main","index":0}],[{"node":"IF_Existing_Conversation1","type":"main","index":0}]]},"Criar Contato WhatsApp":{"main":[[{"node":"atualizar contato_empresa","type":"main","index":0}]]},"Criar Contato Email":{"main":[[{"node":"atualizar contato_empresa1","type":"main","index":0}]]},"Add_Message_To_Existing_Conversation1":{"main":[[{"node":"Update_Interaction_Date1","type":"main","index":0}]]},"Add_Message_To_New_Conversation1":{"main":[[{"node":"Update_Conversation_ID1","type":"main","index":0}]]},"IF_Existing_Conversation1":{"main":[[{"node":"Add_Message_To_Existing_Conversation1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"criar conversation1":{"main":[[{"node":"Add_Message_To_New_Conversation1","type":"main","index":0}]]},"Update_Conversation_ID1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Merge3","type":"main","index":5}],[{"node":"criar conversation1","type":"main","index":0}]]},"atualizar contato_empresa":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"atualizar contato_empresa1":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Enviar WhatsApp1":{"main":[[{"node":"Merge3","type":"main","index":2}],[]]},"Send email":{"main":[[{"node":"Merge3","type":"main","index":3}]]},"Update_Interaction_Date1":{"main":[[{"node":"Merge3","type":"main","index":4}]]},"Aggregate4":{"main":[[{"node":"AtualizarEmpresa_StatusPosEnvioD2","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Preparar payload","type":"main","index":0}]]},"Aggregate5":{"main":[[{"node":"BuscarTemplates_DiaX_Principal","type":"main","index":0}]]},"Aggregate6":{"main":[[{"node":"Ação do contato1","type":"main","index":0}]]},"Roteador Central1":{"main":[[{"node":"Criar Contato WhatsApp1","type":"main","index":0}],[{"node":"Criar Contato Email1","type":"main","index":0}],[{"node":"Enviar WhatsApp2","type":"main","index":0}],[{"node":"Send email1","type":"main","index":0}],[{"node":"IF_Existing_Conversation2","type":"main","index":0}]]},"Enviar WhatsApp2":{"main":[[{"node":"Merge5","type":"main","index":2}]]},"Send email1":{"main":[[{"node":"Merge5","type":"main","index":3}]]},"Criar Contato WhatsApp1":{"main":[[{"node":"atualizar contato_empresa2","type":"main","index":0}]]},"atualizar contato_empresa2":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"atualizar contato_empresa3":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Criar Contato Email1":{"main":[[{"node":"atualizar contato_empresa3","type":"main","index":0}]]},"Add_Message_To_Existing_Conversation2":{"main":[[{"node":"Update_Interaction_Date2","type":"main","index":0}]]},"Add_Message_To_New_Conversation2":{"main":[[{"node":"Update_Conversation_ID2","type":"main","index":0}]]},"Update_Conversation_ID2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update_Interaction_Date2":{"main":[[{"node":"Merge5","type":"main","index":4}]]},"IF_Existing_Conversation2":{"main":[[{"node":"Add_Message_To_Existing_Conversation2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"criar conversation2":{"main":[[{"node":"Add_Message_To_New_Conversation2","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Merge5","type":"main","index":5}],[{"node":"criar conversation2","type":"main","index":0}]]},"Ação do contato1":{"main":[[{"node":"Roteador Central1","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Preparar payload1","type":"main","index":0}]]},"pode continuar?":{"main":[[{"node":"em_processamento_pelo_batch","type":"main","index":0}],[]]},"Regras de cadencia":{"main":[[{"node":"pode continuar?","type":"main","index":0}]]},"Organizar dados":{"main":[[{"node":"DeterminarAcaoParaEvento","type":"main","index":0}]]},"AtualizarEmpresa_StatusPosEnvioD2":{"main":[[]]},"validar se pode continuar a cadencia":{"main":[[{"node":"[REDACTED]","type":"main","index":0}]]},"Call 'Registrar logs' cadencia":{"main":[[]]},"Preparar payload":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Call 'Registrar logs'":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Aggregate4","type":"main","index":0}],[{"node":"Call 'Registrar logs'","type":"main","index":0}]]},"Call 'Registrar logs'1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Preparar payload1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"preparar próximo status1","type":"main","index":0}]]},"preparar próximo status":{"main":[[{"node":"AtualizarEmpresa_StatusPosEnvioD","type":"main","index":0}]]},"preparar próximo status1":{"main":[[{"node":"Call 'Registrar logs'1","type":"main","index":0}]]},"RegistrarEventoComoIgnorado":{"main":[[{"node":"Call 'Registrar logs'2","type":"main","index":0}]]},"atualizar evento1":{"main":[[{"node":"RegistrarNovoEventoErro","type":"main","index":0}]]},"atualizar_evento":{"main":[[{"node":"Call 'Registrar logs' cadencia1","type":"main","index":0}]]},"tem contato?":{"main":[[{"node":"atualizar_evento","type":"main","index":0}],[{"node":"IncrementarLogControleDiario","type":"main","index":0}]]},"AtualizarEmpresa_AptaParaNovaCadenciaOuFinalizada":{"main":[[{"node":"Call 'Registrar logs'3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-10-17T13:00:24.004-03:00","Readable date":"October 17th 2025, 1:00:24 pm","Readable time":"1:00:24 pm","Day of week":"Friday","Year":"2025","Month":"October","Day of month":"17","Hour":"13","Minute":"00","Second":"24","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"2e86cf3c-d051-4d80-9f22-1deba816009b","triggerCount":1,"shared":[{"createdAt":"2025-06-15T17:50:31.813Z","updatedAt":"2025-06-15T17:50:31.813Z","role":"workflow:owner","workflowId":"E2VTyqtdpir69mJ8","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}