backups/[wf_limpeza]-verificareventosnaoreconfirmados-oth6u1vtsMMr8XPW.json
{"createdAt":"2025-05-19T02:47:36.788Z","updatedAt":"2025-09-25T15:07:26.534Z","id":"oth6u1vtsMMr8XPW","name":"[WF_LIMPEZA] VerificarEventosNaoReconfirmados","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,0],"id":"af953040-a563-460c-b222-0f4271c13094","name":"Schedule Trigger"},{"parameters":{"operation":"update","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.evento_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_processamento_evento","fieldValue":"erro_resolvido_nao_reconfirmado"},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[656,0],"id":"60bfd6c0-2ac9-46a6-b9c2-204b4bccbe91","name":"[REDACTED]","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"update","tableId":"empresas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_cadencia_geral","fieldValue":"apta_para_nova_cadencia"},{"fieldId":"id_evento_erro_atual","fieldValue":"={{null}}"},{"fieldId":"timestamp_proxima_tentativa_permitida","fieldValue":"={{ $now.plus({ days: $('CarregarConfiguracaoCadencia_Limpeza').first().json.cooldown_entre_cadencias_dias }).toISO() }}"},{"fieldId":"timestamp_ultima_tentativa_cadencia","fieldValue":"={{ $now.toISO() }} "},{"fieldId":"data_ultima_atualizacao","fieldValue":"={{ $now.toISO() }} "},{"fieldId":"contador_total_tentativas_cadencia","fieldValue":"={{ $json.contador_total_tentativas_cadencia + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1104,-16],"id":"069618d6-68e1-43d1-8dff-318edb28e482","name":"AtualizarEmpresaPosLimpezaEventoe","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"get","tableId":"configuracoes_cadencia","filters":{"conditions":[{"keyName":"ativo","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-416,0],"id":"1dbd9d74-bdbd-4442-8404-d1d41d80662f","name":"CarregarConfiguracaoCadencia_Limpeza","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT ON (e.id)\n    ee.id as evento_id,\n    e.id as empresa_id,\n    e.dominio,\n    e.status_cadencia_geral,\n    e.timestamp_ultima_tentativa_cadencia,\n    ee.status_processamento_evento,\n    ee.dia_atual_na_cadencia,\n    ee.timestamp_erro_detectado,\n    ee.data_ultima_atualizacao,\n    EXTRACT(EPOCH FROM (NOW() - e.timestamp_ultima_tentativa_cadencia)) / 86400 as dias_parado,\n    (\n        SELECT COUNT(*) \n        FROM eventos_erro ee2 \n        WHERE ee2.empresa_id = e.id \n        AND ee2.status_processamento_evento IN (\n            'processado_com_sucesso', 'processando_dia_1', \n            'processando_dia_2', 'processando_dia_3'\n        )\n    ) as total_execucoes_cadencia\nFROM eventos_erro ee\nINNER JOIN empresas e ON ee.empresa_id = e.id\nWHERE ee.status_processamento_evento IN ('processando_dia_1','processando_dia_2','processando_dia_3')\n  AND e.status_cadencia_geral IN ('dia1_concluido_aguardando_dia2','dia2_concluido_aguardando_dia3','dia3_concluido_aguardando_finalizacao')\n  AND e.timestamp_ultima_tentativa_cadencia < NOW() - INTERVAL '24 hours'\nORDER BY e.id, ee.data_ultima_atualizacao DESC;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-128,0],"id":"d13750b0-e6b6-41cf-80bc-5056d62d0324","name":"Buscar evento","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"get","tableId":"empresas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.empresa_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[864,0],"id":"91ecf326-54ba-4af8-89bc-4d6b4b0486f4","name":"Buscar empresa","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"issue mapper supabase"}}},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.dominio }}","status":"success","empresa_id":"='{{ $json.id }}'","action_type":"=LIMPEZA","from_status":"={{ $('Buscar empresa').item.json.status_cadencia_geral }}","to_status":"={{ $json.status_cadencia_geral }}","reason":"atualização de status ","workflow_name":"[WF_LIMPEZA] VerificarEventosNaoReconfirmados","dia_atual_na_cadencia":0},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1392,0],"id":"df3169b3-c731-4a50-96d2-9aa786941bac","name":"Call 'Registrar logs'"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[192,-80],"id":"b5ddebdd-a555-42e3-a714-2961c186da4e","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[400,-176],"id":"fc9d048f-b510-4bf0-a973-021cbf1deea1","name":"No Operation, do nothing"}],"connections":{"Schedule Trigger":{"main":[[{"node":"CarregarConfiguracaoCadencia_Limpeza","type":"main","index":0}]]},"AtualizarEventoParaErroResolvido_Limpeza":{"main":[[{"node":"Buscar empresa","type":"main","index":0}]]},"CarregarConfiguracaoCadencia_Limpeza":{"main":[[{"node":"Buscar evento","type":"main","index":0}]]},"Buscar evento":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Buscar empresa":{"main":[[{"node":"AtualizarEmpresaPosLimpezaEventoe","type":"main","index":0}]]},"AtualizarEmpresaPosLimpezaEventoe":{"main":[[{"node":"Call 'Registrar logs'","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"[REDACTED]","type":"main","index":0}]]},"Call 'Registrar logs'":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-09-24T20:00:33.013-03:00","Readable date":"September 24th 2025, 8:00:33 pm","Readable time":"8:00:33 pm","Day of week":"Wednesday","Year":"2025","Month":"September","Day of month":"24","Hour":"20","Minute":"00","Second":"33","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"aab01d6b-43eb-4c1d-9d80-96051837446d","triggerCount":1,"shared":[{"createdAt":"2025-05-19T02:47:36.788Z","updatedAt":"2025-05-19T02:47:36.788Z","role":"workflow:owner","workflowId":"oth6u1vtsMMr8XPW","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}