backups/agente-livia-9VTkn0lDnGlFLUeB.json
{"updatedAt":"2026-01-07T17:57:50.394Z","createdAt":"2026-01-03T20:23:04.499Z","id":"9VTkn0lDnGlFLUeB","name":"Agente Livia","active":true,"isArchived":true,"nodes":[{"parameters":{"toolDescription":"Transfer context to human agent or specific clinic department.","method":"POST","url":"https://ai.superbot.digital/webhook/escalate-to-human","sendBody":true,"bodyParameters":{"parameters":[{"name":"customer_name","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_name', `Customer name`, 'string') }}"},{"name":"customer_phone","value":"={{ $('Start').item.json.numero_conversa }}"},{"name":"conversation_summary","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conversation_summary', `Brief summary of conversation`, 'string') }}"},{"name":"reason","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reason', `Reason for transfer`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-2656,1472],"id":"573629b4-7fed-43fa-8839-086be634a176","name":"transfer_to_number"},{"parameters":{"promptType":"define","text":"={{ $json.final_user_message }}","options":{"systemMessage":"=# Agent name\nLívia — agente inteligente da clínica Dentaly\n\n# Role\nVocê é a assistente de conversação oficial da clínica **Dentaly Saúde Bucal Integrada**. Atuando via WhatsApp.\nSeu papel é acolher, escutar com atenção real, compreender o ritmo, o estado emocional e o objetivo da pessoa, qualificar a demanda e conduzir pacientes, utilizando as ferramentas disponíveis, **sem nunca fazer diagnóstico**.\nSempre que o assunto envolver dentistas, especialidades, tratamentos, estrutura, valores, diferenciais ou tecnologia, **consultar obrigatoriamente a base `KNOWLEDGE_BASE_DENTALY` antes de responder**.\nNunca improvise, presuma ou invente informações.\n\n---\n# Contexto Proativo (Lembretes)\nA Dentaly envia lembretes automáticos pedindo para o paciente responder \"1\" para confirmar.\nAo usar a ferramenta `check-client-dentaly`, você poderá receber um objeto chamado `pendingReminder`.\n- **Se `pendingReminder` existir**: Significa que enviamos um lembrete recente para este paciente.\n- **Se o usuário responder \"1\" ou disser que quer confirmar**: Use imediatamente a ferramenta de confirmação de consulta com o `appointmentId` encontrado no `pendingReminder`.\n- **Seja proativa**: Se notar que há um lembrete pendente e o cliente está na dúvida, mencione que viu o lembrete enviado e pergunte se pode confirmar para ele.\n\n---\n# Personality\n- Mulher, 25–30 anos, acolhedora, segura, leve e confiante.\n- Fala como uma pessoa real de Manaus, com naturalidade.\n- Apresentação: **“Lívia, agente virtual da Dentaly.”**\n- Jamais diga que é dentista ou profissional de saúde.\n\n---\n# Captação e confirmação de nome (OBRIGATÓRIO)\n1. Pergunte o nome do usuário.\n2. Após ele dizer, confirme: “Perfecto, só confirmando: seu nome é **NOME**, certo?”\n3. Não avance sem a confirmação positiva.\n\n---\n# Consulta de Boas-Vindas — ORDEM OBRIGATÓRIA\n(Fale o preço apenas no final do fluxo abaixo)\n1. **O que inclui**: Avaliação clínica completa + Radiografias + Profilaxia (limpeza) + Plano de tratamento.\n2. **Valor separado**: “Separado, isso passaria de **R$ 800**.”\n3. **Oferta**: “Na Consulta de Boas-Vindas, o valor promocional é **R$ 300**, com pagamento integral antecipado.”\n4. Pergunte: “Até aqui faz sentido pra você?”\n\n---\n# Tools Usage\n- `check-client-dentaly`: Use para verificar CPF/Cadastro e se há lembretes pendentes (`pendingReminder`).\n- `TOOL_PAGAMENTO_PIX`: Use após o cliente aceitar a Consulta de Boas-Vindas.\n- `transfer_to_number`: Use para casos complexos ou pedidos de agendamento com dentista específico.\n- `KNOWLEDGE_BASE_DENTALY`: Use para qualquer dúvida sobre a clínica, tratamentos ou preços.\n\n# Guardrails\n- Jamais prometa horários específicos de agenda.\n- Nunca encerre sem um próximo passo claro."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-3152,1152],"id":"7ae9993f-1a63-40c2-bb45-9ac0f91e2ec5","name":"Agente Lívia (Dentaly)"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Start').item.json.numero_conversa }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-3344,1408],"id":"b328cee2-4d10-4cfa-93da-7b58006e819a","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"toolDescription":"Update user profile information (name, surf level, notes). Call immediately when user provides this info.","method":"POST","url":"https://ai.superbot.digital/webhook/update-user-info","sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Start').item.json.id }}"},{"name":"name","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', `User's name`, 'string') }}"},{"name":"surf_level","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('surf_level', `User's surf level: Iniciante, Intermediário, or Avançado`, 'string') }}"},{"name":"notes","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('notes', `Important notes about the user`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-2832,1488],"id":"a8983527-152c-46bb-ba9d-a19f934818a3","name":"save_user_info"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-3440,1296],"id":"66af0ded-91b5-4554-9092-828b84939033","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"Prux8qgwDlD6Yvje","name":"OpenRouter account"}}},{"parameters":{"toolDescription":"Utilizar para verificar o cadastro do cliente no sistema. Será utilizado o número do CPF do cliente.","method":"POST","url":"https://ai.superbot.digital/webhook/check-client","sendBody":true,"bodyParameters":{"parameters":[{"name":"identifier","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('identifier', `apenas os numeros do cpf do cliente`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-3200,1424],"id":"f7c2aeb8-75ff-4e76-a45d-267b7767c7a4","name":"check-client-dentaly"},{"parameters":{"toolDescription":"enviar os dados de pagamento por pix da Consulta de Boas Vindas para o cliente por email e whatsapp.","method":"POST","url":"https://ai.superbot.digital/webhook/send-payment","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', `nome informado pelo cliente`, 'string') }}"},{"name":"email","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', `email informado pelo cliente`, 'string') }}"},{"name":"phone","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', `numero de whastapp válido informado pelo cliente`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-3024,1456],"id":"a7393c56-41ea-46f0-b376-9f0a605372c7","name":"TOOL_PAGAMENTO_PIX","disabled":true},{"parameters":{"toolDescription":"Search clinic information about dentists, specialties, treatments, prices, structure and technology. Always consult this before answering treatment-related questions.","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-2464,1440],"id":"b0b30423-9191-4b0e-b391-5ff0f7314ffa","name":"KNOWLEDGE_BASE_DENTALY","disabled":true},{"parameters":{"workflowInputs":{"values":[{"name":"numero_conversa","type":"any"},{"name":"final_user_message","type":"any"},{"name":"id","type":"any"}]}},"id":"8569d89f-5f76-4aa4-a9c6-c84141e48e2b","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-3808,1168]}],"connections":{"transfer_to_number":{"ai_tool":[[{"node":"Agente Lívia (Dentaly)","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Agente Lívia (Dentaly)","type":"ai_memory","index":0}]]},"save_user_info":{"ai_tool":[[{"node":"Agente Lívia (Dentaly)","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Agente Lívia (Dentaly)","type":"ai_languageModel","index":0}]]},"check-client-dentaly":{"ai_tool":[[{"node":"Agente Lívia (Dentaly)","type":"ai_tool","index":0}]]},"TOOL_PAGAMENTO_PIX":{"ai_tool":[[{"node":"Agente Lívia (Dentaly)","type":"ai_tool","index":0}]]},"KNOWLEDGE_BASE_DENTALY":{"ai_tool":[[{"node":"Agente Lívia (Dentaly)","type":"ai_tool","index":0}]]},"Start":{"main":[[{"node":"Agente Lívia (Dentaly)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e770a019-2a2d-41ee-965d-8703aee3aa56","activeVersionId":"e770a019-2a2d-41ee-965d-8703aee3aa56","triggerCount":0,"shared":[{"updatedAt":"2026-01-03T20:23:04.499Z","createdAt":"2026-01-03T20:23:04.499Z","role":"workflow:owner","workflowId":"9VTkn0lDnGlFLUeB","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-07T17:57:50.397Z","createdAt":"2026-01-07T17:57:50.397Z","versionId":"e770a019-2a2d-41ee-965d-8703aee3aa56","workflowId":"9VTkn0lDnGlFLUeB","nodes":[{"parameters":{"toolDescription":"Transfer context to human agent or specific clinic department.","method":"POST","url":"https://ai.superbot.digital/webhook/escalate-to-human","sendBody":true,"bodyParameters":{"parameters":[{"name":"customer_name","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_name', `Customer name`, 'string') }}"},{"name":"customer_phone","value":"={{ $('Start').item.json.numero_conversa }}"},{"name":"conversation_summary","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conversation_summary', `Brief summary of conversation`, 'string') }}"},{"name":"reason","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reason', `Reason for transfer`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-2656,1472],"id":"573629b4-7fed-43fa-8839-086be634a176","name":"transfer_to_number"},{"parameters":{"promptType":"define","text":"={{ $json.final_user_message }}","options":{"systemMessage":"=# Agent name\nLívia — agente inteligente da clínica Dentaly\n\n# Role\nVocê é a assistente de conversação oficial da clínica **Dentaly Saúde Bucal Integrada**. Atuando via WhatsApp.\nSeu papel é acolher, escutar com atenção real, compreender o ritmo, o estado emocional e o objetivo da pessoa, qualificar a demanda e conduzir pacientes, utilizando as ferramentas disponíveis, **sem nunca fazer diagnóstico**.\nSempre que o assunto envolver dentistas, especialidades, tratamentos, estrutura, valores, diferenciais ou tecnologia, **consultar obrigatoriamente a base `KNOWLEDGE_BASE_DENTALY` antes de responder**.\nNunca improvise, presuma ou invente informações.\n\n---\n# Contexto Proativo (Lembretes)\nA Dentaly envia lembretes automáticos pedindo para o paciente responder \"1\" para confirmar.\nAo usar a ferramenta `check-client-dentaly`, você poderá receber um objeto chamado `pendingReminder`.\n- **Se `pendingReminder` existir**: Significa que enviamos um lembrete recente para este paciente.\n- **Se o usuário responder \"1\" ou disser que quer confirmar**: Use imediatamente a ferramenta de confirmação de consulta com o `appointmentId` encontrado no `pendingReminder`.\n- **Seja proativa**: Se notar que há um lembrete pendente e o cliente está na dúvida, mencione que viu o lembrete enviado e pergunte se pode confirmar para ele.\n\n---\n# Personality\n- Mulher, 25–30 anos, acolhedora, segura, leve e confiante.\n- Fala como uma pessoa real de Manaus, com naturalidade.\n- Apresentação: **“Lívia, agente virtual da Dentaly.”**\n- Jamais diga que é dentista ou profissional de saúde.\n\n---\n# Captação e confirmação de nome (OBRIGATÓRIO)\n1. Pergunte o nome do usuário.\n2. Após ele dizer, confirme: “Perfecto, só confirmando: seu nome é **NOME**, certo?”\n3. Não avance sem a confirmação positiva.\n\n---\n# Consulta de Boas-Vindas — ORDEM OBRIGATÓRIA\n(Fale o preço apenas no final do fluxo abaixo)\n1. **O que inclui**: Avaliação clínica completa + Radiografias + Profilaxia (limpeza) + Plano de tratamento.\n2. **Valor separado**: “Separado, isso passaria de **R$ 800**.”\n3. **Oferta**: “Na Consulta de Boas-Vindas, o valor promocional é **R$ 300**, com pagamento integral antecipado.”\n4. Pergunte: “Até aqui faz sentido pra você?”\n\n---\n# Tools Usage\n- `check-client-dentaly`: Use para verificar CPF/Cadastro e se há lembretes pendentes (`pendingReminder`).\n- `TOOL_PAGAMENTO_PIX`: Use após o cliente aceitar a Consulta de Boas-Vindas.\n- `transfer_to_number`: Use para casos complexos ou pedidos de agendamento com dentista específico.\n- `KNOWLEDGE_BASE_DENTALY`: Use para qualquer dúvida sobre a clínica, tratamentos ou preços.\n\n# Guardrails\n- Jamais prometa horários específicos de agenda.\n- Nunca encerre sem um próximo passo claro."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-3152,1152],"id":"7ae9993f-1a63-40c2-bb45-9ac0f91e2ec5","name":"Agente Lívia (Dentaly)"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Start').item.json.numero_conversa }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-3344,1408],"id":"b328cee2-4d10-4cfa-93da-7b58006e819a","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"toolDescription":"Update user profile information (name, surf level, notes). Call immediately when user provides this info.","method":"POST","url":"https://ai.superbot.digital/webhook/update-user-info","sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Start').item.json.id }}"},{"name":"name","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', `User's name`, 'string') }}"},{"name":"surf_level","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('surf_level', `User's surf level: Iniciante, Intermediário, or Avançado`, 'string') }}"},{"name":"notes","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('notes', `Important notes about the user`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-2832,1488],"id":"a8983527-152c-46bb-ba9d-a19f934818a3","name":"save_user_info"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-3440,1296],"id":"66af0ded-91b5-4554-9092-828b84939033","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"Prux8qgwDlD6Yvje","name":"OpenRouter account"}}},{"parameters":{"toolDescription":"Utilizar para verificar o cadastro do cliente no sistema. Será utilizado o número do CPF do cliente.","method":"POST","url":"https://ai.superbot.digital/webhook/check-client","sendBody":true,"bodyParameters":{"parameters":[{"name":"identifier","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('identifier', `apenas os numeros do cpf do cliente`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-3200,1424],"id":"f7c2aeb8-75ff-4e76-a45d-267b7767c7a4","name":"check-client-dentaly"},{"parameters":{"toolDescription":"enviar os dados de pagamento por pix da Consulta de Boas Vindas para o cliente por email e whatsapp.","method":"POST","url":"https://ai.superbot.digital/webhook/send-payment","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', `nome informado pelo cliente`, 'string') }}"},{"name":"email","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', `email informado pelo cliente`, 'string') }}"},{"name":"phone","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', `numero de whastapp válido informado pelo cliente`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-3024,1456],"id":"a7393c56-41ea-46f0-b376-9f0a605372c7","name":"TOOL_PAGAMENTO_PIX","disabled":true},{"parameters":{"toolDescription":"Search clinic information about dentists, specialties, treatments, prices, structure and technology. Always consult this before answering treatment-related questions.","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-2464,1440],"id":"b0b30423-9191-4b0e-b391-5ff0f7314ffa","name":"KNOWLEDGE_BASE_DENTALY","disabled":true},{"parameters":{"workflowInputs":{"values":[{"name":"numero_conversa","type":"any"},{"name":"final_user_message","type":"any"},{"name":"id","type":"any"}]}},"id":"8569d89f-5f76-4aa4-a9c6-c84141e48e2b","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-3808,1168]}],"connections":{"transfer_to_number":{"ai_tool":[[{"node":"Agente Lívia (Dentaly)","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Agente Lívia (Dentaly)","type":"ai_memory","index":0}]]},"save_user_info":{"ai_tool":[[{"node":"Agente Lívia (Dentaly)","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Agente Lívia (Dentaly)","type":"ai_languageModel","index":0}]]},"check-client-dentaly":{"ai_tool":[[{"node":"Agente Lívia (Dentaly)","type":"ai_tool","index":0}]]},"TOOL_PAGAMENTO_PIX":{"ai_tool":[[{"node":"Agente Lívia (Dentaly)","type":"ai_tool","index":0}]]},"KNOWLEDGE_BASE_DENTALY":{"ai_tool":[[{"node":"Agente Lívia (Dentaly)","type":"ai_tool","index":0}]]},"Start":{"main":[[{"node":"Agente Lívia (Dentaly)","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[{"updatedAt":"2026-01-02T17:21:30.678Z","createdAt":"2026-01-02T17:21:30.678Z","id":"ZnlUtd5Un2HQcpz6","name":"dentaly"}]}