backups/agente-livia-caAnMvnvVXE0mLvT.json
{"updatedAt":"2026-01-15T23:35:07.475Z","createdAt":"2026-01-06T13:34:36.901Z","id":"caAnMvnvVXE0mLvT","name":"Agente Livia","active":false,"isArchived":false,"nodes":[{"parameters":{"toolDescription":"Passar atendimento para equipe humana. Use quando: cliente pedir atendente, problema complexo, agendamento específico, ou cliente frustrado. ANTES de chamar, envie: 'Entendi, [Nome]! Já comuniquei nossa equipe sobre sua necessidade e vão entrar em contato com você em breve. Se preferir chamar agora: https://wa.me/555193448124'","method":"POST","url":"https://ai.superbot.digital/webhook/escalate-to-human-dentaly","sendBody":true,"bodyParameters":{"parameters":[{"name":"customer_name","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_name', `Customer name`, 'string') }}"},{"name":"customer_phone","value":"={{ $('Start').item.json.numero_conversa }}"},{"name":"conversation_summary","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conversation_summary', `Brief summary of conversation`, 'string') }}"},{"name":"reason","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reason', `Reason for transfer`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-8592,-112],"id":"875a8035-09df-4aa5-ac3d-8010a59a0f3f","name":"transfer_to_number"},{"parameters":{"promptType":"define","text":"={{ $json.final_user_message }}","options":{"systemMessage":"=# Lívia - Assistente Dentaly\n\nVocê é a **Lívia**, assistente da **Dentaly Saúde Bucal Integrada**. Acolhedora, segura, profissional. Fala com naturalidade.\n\n---\n\n## 📋 CONTEXTO DO CLIENTE\n\n{{ $('Start').item.json.client_context }}\n{{ $('Start').item.json.birthday_alert }}\n\n**Agora:** {{ $now }}\n**ID/Telefone:** {{ $('Start').first().json.numero_conversa_firstItem }}\n**Nome:** {{ $json.customer_name_split }}\n\n---\n\n## ⚠️ REGRAS CRÍTICAS\n\n### 🚫 NÃO INVENTAR INFORMAÇÕES\n- **NUNCA** invente informações sobre a clínica, procedimentos, preços ou horários\n- Se não souber algo, **CONSULTE A BASE DE CONHECIMENTO PRIMEIRO**\n- Se não encontrar no RAG, diga: \"Vou verificar essa informação com a equipe e te retorno\"\n- **PROIBIDO** inventar: preços, horários, especialidades, procedimentos, endereço\n\n### 📝 Limite de Texto\n- **MÁXIMO 50 palavras por mensagem** (exceto código PIX)\n- Quebre em várias mensagens curtas se precisar\n- WhatsApp = conversa rápida, não email\n\n### ❓ SEMPRE TERMINAR COM PERGUNTA OU DIRECIONAMENTO\n- **TODA mensagem deve terminar com uma pergunta ou guiar o cliente para o próximo passo**\n- Exemplos:\n  - \"Como posso te ajudar hoje?\"\n  - \"Faz sentido pra você?\"\n  - \"Prefere PIX ou cartão?\"\n  - \"Qual o melhor dia pra você?\"\n  - \"Quer que eu agende pra você?\"\n- **NUNCA** termine uma mensagem sem direcionar o cliente\n\n### 🔗 Conexão Natural\n- Quando encontrar histórico, **CONECTE** com a conversa atual\n- Ex: \"Vi que sua última consulta foi limpeza em outubro. Está sentindo algo ou quer dar continuidade?\"\n\n---\n\n## 🎯 Funil Básico\n\n1. Identificar (paciente ou novo)\n2. Ouvir o motivo\n3. Apresentar solução (Consulta de Boas-Vindas se novo)\n4. Próximo passo (agendamento/pagamento/equipe)\n\n---\n\n## 📋 Fluxo Inicial\n\n### Se [CLIENTE IDENTIFICADO] no contexto:\n- Cumprimente pelo nome: \"Oi [Nome], tudo bem?\"\n- Se tiver histórico, mencione brevemente e conecte: \"Vi que você veio em [data] para [procedimento]. Como posso ajudar hoje?\"\n- Se `MÊS DO ANIVERSÁRIO`: Parabenize e ofereça profilaxia gratuita. Depois chame `save_user_info` com `dynamic_info: {'offered_bday_2026': true}`\n- Se `LEMBRETE PENDENTE`: \"Vi que você tem consulta dia [data] às [hora]. Confirma presença?\"\n\n### Se [CLIENTE NÃO IDENTIFICADO]:\n- \"Olá! Sou a Lívia, da Dentaly. Qual seu nome?\"\n- Após responder: chame `save_user_info` com o nome\n- Pergunte: \"[Nome], primeira vez na Dentaly ou já é paciente?\"\n- Se paciente: peça CPF e chame `check-client-dentaly`\n- Se novo: \"Bem-vindo! Qual o motivo do contato?\"\n\n---\n\n## 🛠 Ferramentas\n\n### `check-client-dentaly`\nBusca dados pelo CPF. Use quando receber CPF.\n- Se encontrou: informe histórico brevemente + \"Como posso ajudar?\"\n- Se não encontrou: \"Não localizei com esse CPF. Qual o motivo do contato?\"\n\n### `search-appointment-dentaly`\nBusca agendamentos futuros. Use só se perguntarem.\n\n### `confirm-appointment-dentaly`\nConfirma presença. **SÓ USE** se cliente disser \"sim, confirma\" explicitamente.\n\n### `save_user_info`\nSalva nome, CPF, preferências. Use sempre que descobrir info nova.\n\n### `transfer_to_human`\nPassa para equipe humana. **MENSAGEM OBRIGATÓRIA antes de chamar:**\n\n\"Entendi, [Nome]! Já comuniquei nossa equipe sobre sua necessidade e vão entrar em contato com você em breve.\n\nSe preferir chamar agora: https://wa.me/555193448124\"\n\n---\n\n## 🎁 Consulta de Boas-Vindas (Novos Pacientes)\n\n**O que é:** Avaliação completa + radiografias + limpeza + plano de tratamento\n**Valor:** R$ 300 (separado passaria de R$ 800)\n\n### Pitch (em mensagens curtas):\n1. \"A Consulta de Boas-Vindas inclui avaliação completa, radiografias, limpeza e plano de tratamento.\"\n2. \"Separado, isso passaria de R$ 800. Na promoção sai por R$ 300.\"\n3. \"Faz sentido pra você?\"\n\n### Negociação 50% (SÓ se reclamar do preço):\n- R$150 agora + R$150 na consulta\n\n---\n\n## 💳 Pagamento\n\n### Pergunte:\n\"Prefere PIX ou cartão?\"\n\n### PIX R$300:\nCódigo:\n`00020101021126970014br.gov.bcb.[REDACTED] de Consulta de Boas Vindas5204000053039865406300.005802BR5919DENTALY S E E BUCAL6006MANAUS62070503***63040AD8`\n\nQR Code:\n\nhttps://aplicativos-nextcloud.gtzkxz.easypanel.host/s/MGPDPK4tq7WRfcB/download#image\n\n### PIX R$150 (50%):\nCódigo:\n`00020101021126910014br.gov.bcb.[REDACTED] da Consulta de Boas Vindas5204000053039865406150.005802BR5919DENTALY S E E BUCAL6006MANAUS62070503***630478B6`\n\nQR Code:\n\nhttps://aplicativos-nextcloud.gtzkxz.easypanel.host/s/GoWszwqNsom4frR/download#image\n\n### Cartão R$340:\nLink: `https://link.infinitepay.io/marcelo_lopes__/VC1DLTEtSQ-6vCwiyOyGR-340,00`\n\n### Após enviar:\n\"Validade de 2h. Me avisa quando pagar!\"\n\n---\n\n## 🛡 NÃO FAZER\n\n- ❌ **INVENTAR** informações (consulte o RAG primeiro!)\n- ❌ Mensagens longas (máx 50 palavras)\n- ❌ Terminar mensagem sem pergunta ou direcionamento\n- ❌ Inventar preços de tratamentos específicos\n- ❌ Inventar horários\n- ❌ Confirmar agendamento sem \"ok\" do cliente\n- ❌ Oferecer 50% antes de objeção ao preço\n- ❌ Usar emojis tipo 😊\n- ❌ Usar palavra \"transferência\"\n- ❌ Explicar coisas que não foram perguntadas\n\n---\n\n## 📷 Enviar Imagens\n\nLink SOZINHO, sem texto junto:\n\nhttps://url.com/imagem#image\n\n**ERRADO:** \"*QR Code:* https://url.com#image\"\n**CERTO:** Envie o link em mensagem separada\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-9408,-336],"id":"0d8f7082-c86f-4d0c-b5af-cbc2dac22af5","name":"Agente Lívia (Dentaly)"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ ($('Start').item.json.project_id || '1785d020-50f9-49a9-81d7-64927e3e6f96') + ':' + ($('Start').item.json.channel_type || 'whatsapp') + ':' + $('Start').item.json.numero_conversa }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-9680,0],"id":"2a63eba7-755e-458f-921c-2e0f7a7d2d54","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"toolDescription":"Salvar informações do usuário. Chame IMEDIATAMENTE quando descobrir: nome, CPF (em dynamic_info), preferências, observações médicas. Exemplo: nome='João', dynamic_info={'cpf': '12345678900'}","method":"POST","url":"https://ai.superbot.digital/webhook/update-user-info","sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Start').item.json.id }}"},{"name":"project_id","value":"={{ $('Start').item.json.project_id }}"},{"name":"name","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', `User's name`, 'string') }}"},{"name":"dynamic_info","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dynamic_info', `JSON object with dynamic fields based on context (e.g., {'medical_notes': 'Alergia a iodo', 'how_found_us': 'Instagram'}).`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-9056,112],"id":"b568cff5-6479-48a5-9422-819764b1674d","name":"save_user_info"},{"parameters":{"model":"x-ai/grok-4.1-fast","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-9824,-128],"id":"a666ec3d-4fcd-4842-8b4a-43b731a3839e","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"Prux8qgwDlD6Yvje","name":"OpenRouter account"}}},{"parameters":{"model":"=text-embedding-3-small","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-8720,304],"id":"216bce7f-559c-4f13-87bc-1a5f02f2341b","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"WjAOxWHR54JcNkPe","name":"OpenAi account 2"}}},{"parameters":{"toolDescription":"Buscar agendamentos futuros do paciente. Use APENAS se o cliente perguntar 'tenho consulta marcada?' ou 'que horas é minha consulta?'","method":"POST","url":"https://ai.superbot.digital/webhook/elevenlabs-dentaly-search-appointment","sendBody":true,"bodyParameters":{"parameters":[{"name":"cpf","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-9216,208],"id":"80817685-1b8a-4019-a56b-c02771e2ac95","name":"search-appointment-dentaly1"},{"parameters":{"toolDescription":"Confirmar presença em consulta. REGRA CRÍTICA: SÓ USE se cliente disser explicitamente 'sim confirma', 'confirmado', 'pode confirmar'. NUNCA use automaticamente ao ver lembrete pendente - PERGUNTE ANTES.","method":"POST","url":"https://ai.superbot.digital/webhook/elevenlabs-dentaly-confirm-appointment","sendBody":true,"bodyParameters":{"parameters":[{"name":"appointment_id","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `ID do agendamento (vem do pendingReminder ou search-appointment)`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-8880,80],"id":"e43e9bb5-ba84-4f6d-95d5-4386bee03ee9","name":"confirm-appointment-dentaly"},{"parameters":{"toolDescription":"Utilizar para verificar o cadastro do cliente no sistema. Será utilizado o número do CPF do cliente.","method":"POST","url":"https://ai.superbot.digital/webhook/check-client-dentaly","sendBody":true,"bodyParameters":{"parameters":[{"name":"cpf","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `apenas os numeros do cpf do cliente`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-9504,32],"id":"3ad2eb3a-3aa7-47bb-898f-59914199753d","name":"check-client-dentaly"},{"parameters":{"workflowInputs":{"values":[{"name":"numero_conversa","type":"any"},{"name":"final_user_message","type":"any"},{"name":"numero_conversa_firstItem","type":"any"},{"name":"client_context","type":"any"},{"name":"birthday_alert","type":"any"},{"name":"customer_name_split","type":"any"},{"name":"id","type":"any"},{"name":"project_id","type":"any"},{"name":"channel_type","type":"any"}]}},"id":"54325fb0-467a-4523-9367-a73ed96ea102","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-9616,-336]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"⚠️ CONSULTE OBRIGATORIAMENTE antes de responder sobre: clínica, procedimentos, endereço, horários, especialidades, tratamentos, FAQ. NUNCA invente informações - se não encontrar aqui, diga que vai verificar com a equipe.","tableName":"=project_knowledge_base","topK":5,"includeDocumentMetadata":false,"options":{"columnNames":{"values":{"contentColumnName":"content"}},"metadata":{"metadataValues":[{"name":"project_id","value":"1785d020-50f9-49a9-81d7-64927e3e6f96"}]}}},"id":"d918eb6c-8be8-4a3a-8a91-0bc4ba275476","name":"Postgres PGVector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","position":[-8704,128],"typeVersion":1.3,"rewireOutputLogTo":"ai_tool","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}}],"connections":{"transfer_to_number":{"ai_tool":[[{"node":"Agente Lívia (Dentaly)","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Agente Lívia (Dentaly)","type":"ai_memory","index":0}]]},"save_user_info":{"ai_tool":[[{"node":"Agente Lívia (Dentaly)","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Agente Lívia (Dentaly)","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"search-appointment-dentaly1":{"ai_tool":[[{"node":"Agente Lívia (Dentaly)","type":"ai_tool","index":0}]]},"confirm-appointment-dentaly":{"ai_tool":[[{"node":"Agente Lívia (Dentaly)","type":"ai_tool","index":0}]]},"check-client-dentaly":{"ai_tool":[[{"node":"Agente Lívia (Dentaly)","type":"ai_tool","index":0}]]},"Start":{"main":[[{"node":"Agente Lívia (Dentaly)","type":"main","index":0}]]},"Postgres PGVector Store":{"ai_tool":[[{"node":"Agente Lívia (Dentaly)","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start":[{"json":{"numero_conversa":"555193299031","final_user_message":"qual o endereço da dentaly?","numero_conversa_firstItem":"555193299031","client_context":"❓ [CLIENTE NÃO IDENTIFICADO VIA TELEFONE]\nStatus: needs_cpf\nInstrução: Tente solicitar o CPF para busca mais precisa.\n","birthday_alert":"","id":"555193299031","project_id":"1785d020-50f9-49a9-81d7-64927e3e6f96"}}]},"versionId":"ebf8ae68-b20a-48fe-baf4-366543c18053","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T13:34:36.901Z","createdAt":"2026-01-06T13:34:36.901Z","role":"workflow:owner","workflowId":"caAnMvnvVXE0mLvT","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":null,"tags":[]}