backups/check-client-status-TgWHQIxVMfdNb3pL.json
{"updatedAt":"2026-01-10T19:16:00.129Z","createdAt":"2025-11-23T19:04:10.467Z","id":"TgWHQIxVMfdNb3pL","name":"Check Client Status","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"=SELECT id, appointment_id, date, time, status, metadata \nFROM public.patient_reminders \nWHERE (phone = '{{ $json.phone }}' OR phone = '{{ $json.phone.length === 13 ? $json.phone.slice(0, 4) + $json.phone.slice(5) : $json.phone.slice(0, 4) + \"9\" + $json.phone.slice(4) }}')\nAND status = 'pending'\nORDER BY created_at DESC \nLIMIT 1;","options":{}},"id":"bda39380-190f-4402-8cb4-318db780eeae","name":"Supabase: Get Pending Reminder","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-384,-256],"alwaysOutputData":true,"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"jsCode":"const body = $input.item.json.body;\nconst phone = String(body.phone || body.identifier || body.remoteJid || '').replace(/\\D/g, '');\nconst cpf = String(body.cpf || '').replace(/\\D/g, '');\nconst projectId = body.project_id || '1785d020-50f9-49a9-81d7-64927e3e6f96';\nconst subscriberId = body.subscriber_id || 'dentaly';\nreturn { phone, cpf, projectId, subscriberId };"},"id":"c0b77a49-02e2-4161-b045-12ab20fc016e","name":"Parse Inputs1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,-256]},{"parameters":{"url":"https://api.clinicorp.com/rest/v1/patient/get","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"subscriber_id","value":"={{ $('Parse Inputs1').item.json.subscriberId }}"},{"name":"Phone","value":"={{ $('Parse Inputs1').item.json.phone }}"}]},"options":{}},"id":"6679f39b-cab7-40c7-8e52-0225ad5e2797","name":"Clinicorp: Search Phone1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,-256],"credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-name","leftValue":"={{ $json.Name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"6755ba1a-78c2-42a6-be91-d03274f9160c","name":"Found by Phone?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[32,-272]},{"parameters":{"operation":"executeQuery","query":"=SELECT metadata->>'cpf' as cpf, id as phone, metadata FROM users WHERE (id = '{{ $('Parse Inputs1').item.json.phone || 'null' }}' OR metadata->>'cpf' = '{{ $('Parse Inputs1').item.json.cpf || 'null' }}') AND project_id = '{{ $('Parse Inputs1').item.json.projectId }}' LIMIT 1","options":{}},"id":"f0894bac-68bf-4d3e-bf9b-6985461ac0ea","name":"Supabase: Get CPF1","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[32,80],"alwaysOutputData":true,"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-cpf","leftValue":"={{ $json.cpf }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"a85665ec-2925-49bc-b06d-0f4abf408dcd","name":"DB CPF Found?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[192,80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"found-cpf","leftValue":"={{ $json.Name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"1950a81b-4f10-45f7-bfd0-b19b53084cb4","name":"Found Patient?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[528,112]},{"parameters":{"url":"https://api.clinicorp.com/rest/v1/patient/list_appointments","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"subscriber_id","value":"={{ $('Parse Inputs1').item.json.subscriberId }}"},{"name":"PatientId","value":"={{ $json.PatientId || $('Found Patient?1').item.json.PatientId }}"}]},"options":{}},"id":"30cc40bd-381b-40a8-80a9-3cfcccf1b320","name":"Clinicorp: List Appointments1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1056,-160],"credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}}},{"parameters":{"jsCode":"const appointments = $input.all().map(i => i.json);\nconst patientData = $('Buscar pelo cpf').first().json || $('Clinicorp: Search Phone1').first().json;\n\n// Acessar dados do lembrete pendente (se existir)\nlet pendingReminder = null;\ntry {\n  const reminderData = $('Supabase: Get Pending Reminder').item.json;\n  if (reminderData && reminderData.id) {\n    pendingReminder = {\n      id: reminderData.id,\n      appointmentId: reminderData.appointment_id,\n      date: reminderData.date,\n      time: reminderData.time,\n      status: reminderData.status\n    };\n  }\n} catch (e) {}\n\n// Acessar metadata do usuário para verificar se já ofertou aniversário\nlet userMetadata = {};\ntry {\n  const dbData = $('Supabase: Get CPF1').first().json;\n  if (dbData && dbData.metadata) {\n    userMetadata = typeof dbData.metadata === 'string' ? JSON.parse(dbData.metadata) : dbData.metadata;\n  }\n} catch (e) {}\n\n// helper para garantir número do AtomicDate\nconst toNumber = v => (typeof v === 'number' ? v : parseInt(String(v).replace(/\\D/g, ''), 10) || 0);\n\n// Filter out canceled or deleted appointments\nconst validAppointments = appointments.filter(a => {\n  const isCanceled = a.Canceled && String(a.Canceled).trim() !== '';\n  const isDeleted = a.Deleted && String(a.Deleted).trim() !== '';\n  return !isCanceled && !isDeleted;\n});\n\nconst now = new Date();\nconst currentMonth = now.getMonth() + 1;\nconst currentYear = now.getFullYear();\nconst today = parseInt(now.toISOString().split('T')[0].replace(/-/g, ''), 10);\n\nconst pastAppointments = validAppointments.filter(a => toNumber(a.AtomicDate) < today).sort((a, b) => toNumber(b.AtomicDate) - toNumber(a.AtomicDate));\nconst upcomingAppointments = validAppointments.filter(a => toNumber(a.AtomicDate) >= today).sort((a, b) => toNumber(a.AtomicDate) - toNumber(b.AtomicDate));\n\nlet lastAppointment = null;\nif (pastAppointments.length > 0) {\n  const a = pastAppointments[0];\n  lastAppointment = { id: a.id, date: a.date, time: a.fromTime, procedures: a.Procedures || a.Procedure || null };\n}\n\nconst nextAppointments = upcomingAppointments.map(a => ({ id: a.id, date: a.date, time: a.fromTime, procedures: a.Procedures || a.Procedure || null }));\n\n// MOCK: Se for usuário de teste (Diego), forçar aniversário para HOJE para validar fluxo\nlet birthDate = patientData.BirthDate;\nif (patientData.Name && (patientData.Name.toLowerCase().includes('diego') || patientData.Name.toLowerCase().includes('teste'))) {\n  const m = String(now.getMonth() + 1).padStart(2, '0');\n  const d = String(now.getDate()).padStart(2, '0');\n  birthDate = `1990-${m}-${d}T00:00:00`;\n}\n\n// Lógica de Aniversário - verificar se já foi ofertado\nlet birthdayAlert = null;\nconst offerKey = `offered_bday_${currentYear}`;\nconst alreadyOffered = userMetadata[offerKey] === true;\n\nif (birthDate && !alreadyOffered) {\n  try {\n     const parts = birthDate.split('T')[0].split('-');\n     const bMonth = parseInt(parts[1]);\n     const bDay = parseInt(parts[2]);\n     \n     if (bMonth === currentMonth) {\n        birthdayAlert = `🎉 MÊS DO ANIVERSÁRIO DETECTADO (${bDay}/${bMonth})! \\n>>> INSTRUÇÃO IMEDIATA: Pare o fluxo atual e dê os parabéns! A Dentaly oferece uma Profilaxia Oral (limpeza completa) de presente. Regras: 7 dias para agendar, 60 dias para usar. Oferte AGORA.\\n➡️ IMPORTANTE: Após fazer a oferta, chame save-user-info com dynamic_info: { \\\"${offerKey}\\\": true } para não repetir.`;\n     }\n  } catch(e) {}\n} else if (alreadyOffered) {\n  birthdayAlert = null; // Já foi ofertado, não mostrar alerta\n}\n\nreturn {\n  status: 'client',\n  id: patientData.PatientId,\n  name: patientData.Name,\n  birthDate: birthDate,\n  lastAppointment: lastAppointment,\n  upcomingAppointments: nextAppointments,\n  hasUpcomingAppointments: nextAppointments.length > 0,\n  pendingReminder: pendingReminder,\n  birthday_alert: birthdayAlert,\n  birthday_offer_key: offerKey,\n  birthday_already_offered: alreadyOffered,\n  user_metadata: userMetadata\n};"},"id":"94cd59b9-cbbd-469c-8e7f-07366e8b3229","name":"Format Response1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,-160]},{"parameters":{"assignments":{"assignments":[{"id":"status-lead","name":"status","value":"needs_cpf","type":"string"},{"id":"msg-lead","name":"message","value":"Paciente não encontrado pelo telefone. Por favor, solicite o CPF para consulta no histórico.","type":"string"}]},"options":{}},"id":"bf992b1d-ab4a-4ab4-a25d-ba3a5349f5be","name":"Return Needs CPF1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[896,240]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO users (id, project_id, metadata) \nVALUES ('{{ $('Parse Inputs1').item.json.phone }}', '{{ $('Parse Inputs1').item.json.projectId }}', '{\"cpf\": \"{{ $('Parse Inputs1').item.json.cpf || $json.OtherDocumentId }}\"}')\nON CONFLICT (id, project_id) \nDO UPDATE SET metadata = jsonb_set(COALESCE(users.metadata, '{}'::jsonb), '{cpf}', '\"{{ $('Parse Inputs1').item.json.cpf || $json.OtherDocumentId }}\"');","options":{}},"id":"b43349f4-3553-4d44-8203-64315ea5a4ed","name":"Supabase: Save CPF1","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-80],"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"httpMethod":"POST","path":"check-client-dentaly","responseMode":"responseNode","options":{}},"id":"b3b7b6a6-9ccf-408e-ab54-88601b555409","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-752,-256],"webhookId":"6bebb53b-2e61-49d9-b130-aa8c04e00a23"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"bb4ad3c3-683a-4ecf-8937-952ab8c10479","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1552,-160]},{"parameters":{"url":"https://api.clinicorp.com/rest/v1/patient/get","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"subscriber_id","value":"={{ $('Parse Inputs1').item.json.subscriberId }}"},{"name":"OtherDocumentId","value":"={{ $json.cpf || $('Parse Inputs1').item.json.cpf }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[384,112],"id":"b0c6baf0-0439-459e-9d64-e3984a38e3ca","name":"Buscar pelo cpf","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}},"onError":"continueRegularOutput"}],"connections":{"Supabase: Get Pending Reminder":{"main":[[{"node":"Clinicorp: Search Phone1","type":"main","index":0}]]},"Parse Inputs1":{"main":[[{"node":"Supabase: Get Pending Reminder","type":"main","index":0}]]},"Clinicorp: Search Phone1":{"main":[[{"node":"Found by Phone?1","type":"main","index":0}]]},"Found by Phone?1":{"main":[[{"node":"Clinicorp: List Appointments1","type":"main","index":0}],[{"node":"Supabase: Get CPF1","type":"main","index":0}]]},"Supabase: Get CPF1":{"main":[[{"node":"DB CPF Found?1","type":"main","index":0}]]},"DB CPF Found?1":{"main":[[{"node":"Buscar pelo cpf","type":"main","index":0}],[{"node":"Buscar pelo cpf","type":"main","index":0}]]},"Found Patient?1":{"main":[[{"node":"Supabase: Save CPF1","type":"main","index":0}],[{"node":"Return Needs CPF1","type":"main","index":0}]]},"Clinicorp: List Appointments1":{"main":[[{"node":"Format Response1","type":"main","index":0}]]},"Format Response1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Return Needs CPF1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Supabase: Save CPF1":{"main":[[{"node":"Clinicorp: List Appointments1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parse Inputs1","type":"main","index":0}]]},"Buscar pelo cpf":{"main":[[{"node":"Found Patient?1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"ElevenLabs/1.0","content-length":"22","accept":"*/*","accept-encoding":"gzip, deflate, br","content-type":"application/json","x-forwarded-for":"34.59.11.47","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"34.59.11.47"},"params":{},"query":{},"body":{"cpf":"03061524010"},"webhookUrl":"https://ai.superbot.digital/webhook/check-client-dentaly","executionMode":"production"}}]},"versionId":"7597684a-6e4a-4def-acf2-c6a76114a965","activeVersionId":"7597684a-6e4a-4def-acf2-c6a76114a965","triggerCount":1,"shared":[{"updatedAt":"2025-11-23T19:04:10.467Z","createdAt":"2025-11-23T19:04:10.467Z","role":"workflow:owner","workflowId":"TgWHQIxVMfdNb3pL","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-10T19:16:00.103Z","createdAt":"2026-01-10T19:16:00.103Z","versionId":"7597684a-6e4a-4def-acf2-c6a76114a965","workflowId":"TgWHQIxVMfdNb3pL","nodes":[{"parameters":{"operation":"executeQuery","query":"=SELECT id, appointment_id, date, time, status, metadata \nFROM public.patient_reminders \nWHERE (phone = '{{ $json.phone }}' OR phone = '{{ $json.phone.length === 13 ? $json.phone.slice(0, 4) + $json.phone.slice(5) : $json.phone.slice(0, 4) + \"9\" + $json.phone.slice(4) }}')\nAND status = 'pending'\nORDER BY created_at DESC \nLIMIT 1;","options":{}},"id":"bda39380-190f-4402-8cb4-318db780eeae","name":"Supabase: Get Pending Reminder","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-384,-256],"alwaysOutputData":true,"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"jsCode":"const body = $input.item.json.body;\nconst phone = String(body.phone || body.identifier || body.remoteJid || '').replace(/\\D/g, '');\nconst cpf = String(body.cpf || '').replace(/\\D/g, '');\nconst projectId = body.project_id || '1785d020-50f9-49a9-81d7-64927e3e6f96';\nconst subscriberId = body.subscriber_id || 'dentaly';\nreturn { phone, cpf, projectId, subscriberId };"},"id":"c0b77a49-02e2-4161-b045-12ab20fc016e","name":"Parse Inputs1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,-256]},{"parameters":{"url":"https://api.clinicorp.com/rest/v1/patient/get","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"subscriber_id","value":"={{ $('Parse Inputs1').item.json.subscriberId }}"},{"name":"Phone","value":"={{ $('Parse Inputs1').item.json.phone }}"}]},"options":{}},"id":"6679f39b-cab7-40c7-8e52-0225ad5e2797","name":"Clinicorp: Search Phone1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,-256],"credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-name","leftValue":"={{ $json.Name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"6755ba1a-78c2-42a6-be91-d03274f9160c","name":"Found by Phone?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[32,-272]},{"parameters":{"operation":"executeQuery","query":"=SELECT metadata->>'cpf' as cpf, id as phone, metadata FROM users WHERE (id = '{{ $('Parse Inputs1').item.json.phone || 'null' }}' OR metadata->>'cpf' = '{{ $('Parse Inputs1').item.json.cpf || 'null' }}') AND project_id = '{{ $('Parse Inputs1').item.json.projectId }}' LIMIT 1","options":{}},"id":"f0894bac-68bf-4d3e-bf9b-6985461ac0ea","name":"Supabase: Get CPF1","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[32,80],"alwaysOutputData":true,"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-cpf","leftValue":"={{ $json.cpf }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"a85665ec-2925-49bc-b06d-0f4abf408dcd","name":"DB CPF Found?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[192,80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"found-cpf","leftValue":"={{ $json.Name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"1950a81b-4f10-45f7-bfd0-b19b53084cb4","name":"Found Patient?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[528,112]},{"parameters":{"url":"https://api.clinicorp.com/rest/v1/patient/list_appointments","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"subscriber_id","value":"={{ $('Parse Inputs1').item.json.subscriberId }}"},{"name":"PatientId","value":"={{ $json.PatientId || $('Found Patient?1').item.json.PatientId }}"}]},"options":{}},"id":"30cc40bd-381b-40a8-80a9-3cfcccf1b320","name":"Clinicorp: List Appointments1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1056,-160],"credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}}},{"parameters":{"jsCode":"const appointments = $input.all().map(i => i.json);\nconst patientData = $('Buscar pelo cpf').first().json || $('Clinicorp: Search Phone1').first().json;\n\n// Acessar dados do lembrete pendente (se existir)\nlet pendingReminder = null;\ntry {\n  const reminderData = $('Supabase: Get Pending Reminder').item.json;\n  if (reminderData && reminderData.id) {\n    pendingReminder = {\n      id: reminderData.id,\n      appointmentId: reminderData.appointment_id,\n      date: reminderData.date,\n      time: reminderData.time,\n      status: reminderData.status\n    };\n  }\n} catch (e) {}\n\n// Acessar metadata do usuário para verificar se já ofertou aniversário\nlet userMetadata = {};\ntry {\n  const dbData = $('Supabase: Get CPF1').first().json;\n  if (dbData && dbData.metadata) {\n    userMetadata = typeof dbData.metadata === 'string' ? JSON.parse(dbData.metadata) : dbData.metadata;\n  }\n} catch (e) {}\n\n// helper para garantir número do AtomicDate\nconst toNumber = v => (typeof v === 'number' ? v : parseInt(String(v).replace(/\\D/g, ''), 10) || 0);\n\n// Filter out canceled or deleted appointments\nconst validAppointments = appointments.filter(a => {\n  const isCanceled = a.Canceled && String(a.Canceled).trim() !== '';\n  const isDeleted = a.Deleted && String(a.Deleted).trim() !== '';\n  return !isCanceled && !isDeleted;\n});\n\nconst now = new Date();\nconst currentMonth = now.getMonth() + 1;\nconst currentYear = now.getFullYear();\nconst today = parseInt(now.toISOString().split('T')[0].replace(/-/g, ''), 10);\n\nconst pastAppointments = validAppointments.filter(a => toNumber(a.AtomicDate) < today).sort((a, b) => toNumber(b.AtomicDate) - toNumber(a.AtomicDate));\nconst upcomingAppointments = validAppointments.filter(a => toNumber(a.AtomicDate) >= today).sort((a, b) => toNumber(a.AtomicDate) - toNumber(b.AtomicDate));\n\nlet lastAppointment = null;\nif (pastAppointments.length > 0) {\n  const a = pastAppointments[0];\n  lastAppointment = { id: a.id, date: a.date, time: a.fromTime, procedures: a.Procedures || a.Procedure || null };\n}\n\nconst nextAppointments = upcomingAppointments.map(a => ({ id: a.id, date: a.date, time: a.fromTime, procedures: a.Procedures || a.Procedure || null }));\n\n// MOCK: Se for usuário de teste (Diego), forçar aniversário para HOJE para validar fluxo\nlet birthDate = patientData.BirthDate;\nif (patientData.Name && (patientData.Name.toLowerCase().includes('diego') || patientData.Name.toLowerCase().includes('teste'))) {\n  const m = String(now.getMonth() + 1).padStart(2, '0');\n  const d = String(now.getDate()).padStart(2, '0');\n  birthDate = `1990-${m}-${d}T00:00:00`;\n}\n\n// Lógica de Aniversário - verificar se já foi ofertado\nlet birthdayAlert = null;\nconst offerKey = `offered_bday_${currentYear}`;\nconst alreadyOffered = userMetadata[offerKey] === true;\n\nif (birthDate && !alreadyOffered) {\n  try {\n     const parts = birthDate.split('T')[0].split('-');\n     const bMonth = parseInt(parts[1]);\n     const bDay = parseInt(parts[2]);\n     \n     if (bMonth === currentMonth) {\n        birthdayAlert = `🎉 MÊS DO ANIVERSÁRIO DETECTADO (${bDay}/${bMonth})! \\n>>> INSTRUÇÃO IMEDIATA: Pare o fluxo atual e dê os parabéns! A Dentaly oferece uma Profilaxia Oral (limpeza completa) de presente. Regras: 7 dias para agendar, 60 dias para usar. Oferte AGORA.\\n➡️ IMPORTANTE: Após fazer a oferta, chame save-user-info com dynamic_info: { \\\"${offerKey}\\\": true } para não repetir.`;\n     }\n  } catch(e) {}\n} else if (alreadyOffered) {\n  birthdayAlert = null; // Já foi ofertado, não mostrar alerta\n}\n\nreturn {\n  status: 'client',\n  id: patientData.PatientId,\n  name: patientData.Name,\n  birthDate: birthDate,\n  lastAppointment: lastAppointment,\n  upcomingAppointments: nextAppointments,\n  hasUpcomingAppointments: nextAppointments.length > 0,\n  pendingReminder: pendingReminder,\n  birthday_alert: birthdayAlert,\n  birthday_offer_key: offerKey,\n  birthday_already_offered: alreadyOffered,\n  user_metadata: userMetadata\n};"},"id":"94cd59b9-cbbd-469c-8e7f-07366e8b3229","name":"Format Response1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,-160]},{"parameters":{"assignments":{"assignments":[{"id":"status-lead","name":"status","value":"needs_cpf","type":"string"},{"id":"msg-lead","name":"message","value":"Paciente não encontrado pelo telefone. Por favor, solicite o CPF para consulta no histórico.","type":"string"}]},"options":{}},"id":"bf992b1d-ab4a-4ab4-a25d-ba3a5349f5be","name":"Return Needs CPF1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[896,240]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO users (id, project_id, metadata) \nVALUES ('{{ $('Parse Inputs1').item.json.phone }}', '{{ $('Parse Inputs1').item.json.projectId }}', '{\"cpf\": \"{{ $('Parse Inputs1').item.json.cpf || $json.OtherDocumentId }}\"}')\nON CONFLICT (id, project_id) \nDO UPDATE SET metadata = jsonb_set(COALESCE(users.metadata, '{}'::jsonb), '{cpf}', '\"{{ $('Parse Inputs1').item.json.cpf || $json.OtherDocumentId }}\"');","options":{}},"id":"b43349f4-3553-4d44-8203-64315ea5a4ed","name":"Supabase: Save CPF1","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-80],"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"httpMethod":"POST","path":"check-client-dentaly","responseMode":"responseNode","options":{}},"id":"b3b7b6a6-9ccf-408e-ab54-88601b555409","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-752,-256],"webhookId":"6bebb53b-2e61-49d9-b130-aa8c04e00a23"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"bb4ad3c3-683a-4ecf-8937-952ab8c10479","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1552,-160]},{"parameters":{"url":"https://api.clinicorp.com/rest/v1/patient/get","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"subscriber_id","value":"={{ $('Parse Inputs1').item.json.subscriberId }}"},{"name":"OtherDocumentId","value":"={{ $json.cpf || $('Parse Inputs1').item.json.cpf }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[384,112],"id":"b0c6baf0-0439-459e-9d64-e3984a38e3ca","name":"Buscar pelo cpf","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}},"onError":"continueRegularOutput"}],"connections":{"Supabase: Get Pending Reminder":{"main":[[{"node":"Clinicorp: Search Phone1","type":"main","index":0}]]},"Parse Inputs1":{"main":[[{"node":"Supabase: Get Pending Reminder","type":"main","index":0}]]},"Clinicorp: Search Phone1":{"main":[[{"node":"Found by Phone?1","type":"main","index":0}]]},"Found by Phone?1":{"main":[[{"node":"Clinicorp: List Appointments1","type":"main","index":0}],[{"node":"Supabase: Get CPF1","type":"main","index":0}]]},"Supabase: Get CPF1":{"main":[[{"node":"DB CPF Found?1","type":"main","index":0}]]},"DB CPF Found?1":{"main":[[{"node":"Buscar pelo cpf","type":"main","index":0}],[{"node":"Buscar pelo cpf","type":"main","index":0}]]},"Found Patient?1":{"main":[[{"node":"Supabase: Save CPF1","type":"main","index":0}],[{"node":"Return Needs CPF1","type":"main","index":0}]]},"Clinicorp: List Appointments1":{"main":[[{"node":"Format Response1","type":"main","index":0}]]},"Format Response1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Return Needs CPF1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Supabase: Save CPF1":{"main":[[{"node":"Clinicorp: List Appointments1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parse Inputs1","type":"main","index":0}]]},"Buscar pelo cpf":{"main":[[{"node":"Found Patient?1","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[{"updatedAt":"2026-01-02T17:21:30.678Z","createdAt":"2026-01-02T17:21:30.678Z","id":"ZnlUtd5Un2HQcpz6","name":"dentaly"}]}