backups/check-availability-JPyo4fo7kKL0Vds6.json
{"updatedAt":"2026-01-02T17:22:18.575Z","createdAt":"2025-11-23T18:13:02.372Z","id":"JPyo4fo7kKL0Vds6","name":"Check Availability","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"check-availability","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[160,-96],"id":"7b2a44dd-e7f0-43bb-9b39-7cc6d7f751c1","webhookId":"7339a316-72e2-44ce-9d49-5e742bf8f6b6"},{"parameters":{"url":"https://api.clinicorp.com/rest/v1/business/list_available_times","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"subscriber_id","value":"dentaly"},{"name":"clinicId","value":"5456483454681088"},{"name":"fromDate","value":"={{ $json.body.date.replace(/-/g, '') }}"},{"name":"toDate","value":"={{ $json.body.date.replace(/-/g, '') }}"},{"name":"professionalId","value":"={{ $json.body.professionalId }}"}]},"options":{}},"name":"Clinicorp API - List Times","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,-96],"id":"9d513be8-16eb-403e-a5fa-49afef8797de","credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}}},{"parameters":{"assignments":{"assignments":[{"id":"assign-1","name":"available_times","value":"={{ $json }}","type":"object"}]},"options":{}},"name":"Format Response","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[736,-80],"id":"9d81e93a-60d4-44e6-81c2-dfb15dd6ad0f"},{"parameters":{"httpMethod":"POST","path":"check-availability","options":{}},"name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[352,-304],"id":"3a45bb7c-013d-4e35-9df1-c9a8510d7cec","webhookId":"d578a128-44c3-42ab-9e35-412f85dfb56e"}],"connections":{"Webhook":{"main":[[{"node":"Clinicorp API - List Times","type":"main","index":0}]]},"Clinicorp API - List Times":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Webhook1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-n8n-start.gtzkxz.easypanel.host","user-agent":"curl/8.12.1","content-length":"72","accept":"*/*","content-type":"application/json","x-forwarded-for":"177.10.6.7","x-forwarded-host":"n8n-n8n-start.gtzkxz.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"177.10.6.7","accept-encoding":"gzip"},"params":{},"query":{},"body":{"date":"2025-11-25","professionalId":"4646624605896704"},"webhookUrl":"https://n8n-n8n-start.gtzkxz.easypanel.host/webhook/check-availability","executionMode":"production"}}]},"versionId":"895f3b59-3c69-479a-a074-6b92d84bb145","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-11-23T18:13:02.372Z","createdAt":"2025-11-23T18:13:02.372Z","role":"workflow:owner","workflowId":"JPyo4fo7kKL0Vds6","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-01-02T17:21:30.678Z","createdAt":"2026-01-02T17:21:30.678Z","id":"ZnlUtd5Un2HQcpz6","name":"dentaly"}]}