backups/confirm-appointment-t9Pf4eecwDbVsr1H.json
{"updatedAt":"2026-01-08T20:21:53.260Z","createdAt":"2025-11-23T20:18:27.716Z","id":"t9Pf4eecwDbVsr1H","name":"Confirm Appointment","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"confirm-appointment","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-112,-112],"id":"9e27171a-36b9-46d6-9c1e-34a67bf58f51","webhookId":"9a9c5f95-09c5-48f7-b7f0-ff74f678b5a4"},{"parameters":{"method":"POST","url":"https://api.clinicorp.com/rest/v1/appointment/confirm_appointment","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": \"dentaly\",\n  \"id\": {{ $json.appointmentId }}\n}","options":{}},"name":"Clinicorp API - Confirm Appointment","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,-112],"id":"f443a994-f651-47ef-b5e9-349ab9d458c4","credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}}},{"parameters":{"jsCode":"const response = $input.item.json;\n\nreturn {\n  status: 'confirmed',\n  appointmentId: response.id || $('Webhook').item.json.body.appointmentId,\n  patientName: response.PatientName,\n  date: response.Date,\n  time: response.FromTime,\n  message: 'Consulta confirmada com sucesso!'\n};"},"name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,-112],"id":"9c89cef1-9277-4a84-87b8-c49e5809f812"}],"connections":{"Webhook":{"main":[[{"node":"Clinicorp API - Confirm Appointment","type":"main","index":0}]]},"Clinicorp API - Confirm Appointment":{"main":[[{"node":"Format Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-n8n-start.gtzkxz.easypanel.host","user-agent":"ElevenLabs/1.0","content-length":"38","accept":"*/*","accept-encoding":"gzip, deflate, br","content-type":"application/json","x-forwarded-for":"34.59.11.47","x-forwarded-host":"n8n-n8n-start.gtzkxz.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"34.59.11.47"},"params":{},"query":{},"body":{"id_agendamento":"6644436631617536"},"webhookUrl":"https://n8n-n8n-start.gtzkxz.easypanel.host/webhook/confirm-appointment","executionMode":"production"}}]},"versionId":"e336ee8a-f4e2-44e3-89d7-110824705a80","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-11-23T20:18:27.716Z","createdAt":"2025-11-23T20:18:27.716Z","role":"workflow:owner","workflowId":"t9Pf4eecwDbVsr1H","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-01-02T17:21:30.678Z","createdAt":"2026-01-02T17:21:30.678Z","id":"ZnlUtd5Un2HQcpz6","name":"dentaly"}]}