backups/cron-elevenlabs_confirm_appointment-Z9eIyLH9Nv65UqBy.json
{"updatedAt":"2026-01-03T18:26:27.712Z","createdAt":"2026-01-03T18:15:25.735Z","id":"Z9eIyLH9Nv65UqBy","name":"Cron elevenlabs_confirm_appointment","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"48d487b4-01f6-47d2-afeb-515faa51e692","name":"Cron Daily 8AM","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[80,-112]},{"parameters":{"jsCode":"const tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst dateStr = tomorrow.toISOString().split('T')[0];\nreturn { date: dateStr };"},"id":"9d3d4ebe-b6e0-4e7a-b017-dea3dd139f6e","name":"Get Tomorrow Date","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,-112]},{"parameters":{"url":"https://api.clinicorp.com/rest/v1/appointment/list","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"subscriber_id","value":"dentaly"},{"name":"businessId","value":"5456483454681088"},{"name":"from","value":"={{ $json.date }}"},{"name":"to","value":"={{ $json.date }}"}]},"options":{}},"id":"0a0433f3-710d-4716-9f9d-035300ee5082","name":"Clinicorp: List Tomorrow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,-112],"credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}}},{"parameters":{"url":"https://api.clinicorp.com/rest/v1/patient/get","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"subscriber_id","value":"dentaly"},{"name":"PatientId","value":"={{ $json.Patient_PersonId }}"}]},"options":{}},"id":"fceed5e5-4f47-4e52-a644-27b9000853fb","name":"Clinicorp: Get Patient","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,-16],"credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[688,-112],"id":"76299369-44c3-4c29-9e4f-52569c7a3b95","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1472,192],"id":"712d83b3-2813-4ce4-8a8f-7cd963012a98"},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=number","value":"={{ $json.Phone }}"},{"name":"text","value":"=Olá {{ $json.Name.split(' ')[0] }}! 🦷\n\nConfirmamos sua consulta na Dentaly amanhã, dia {{ $('Get Tomorrow Date').item.json.date.split('-').reverse().join('/') }}, às {{ $('Clinicorp: List Tomorrow').item.json.fromTime }}?\n\nResponda *1* para CONFIRMAR\nResponda *2* para DESMARCAR/REAGENDAR"}]},"options":{}},"id":"ee59cb9d-a4dc-482e-ae76-5b4c140ddf6d","name":"Evolution: Send Reminder1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1216,16],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"}],"connections":{"Cron Daily 8AM":{"main":[[{"node":"Get Tomorrow Date","type":"main","index":0}]]},"Get Tomorrow Date":{"main":[[{"node":"Clinicorp: List Tomorrow","type":"main","index":0}]]},"Clinicorp: Get Patient":{"main":[[{"node":"Evolution: Send Reminder1","type":"main","index":0}]]},"Clinicorp: List Tomorrow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Clinicorp: Get Patient","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Evolution: Send Reminder1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Get Tomorrow Date":[{"json":{"date":"2026-01-05"}}]},"versionId":"bf834e03-fd9f-4b59-a40e-261365d044c3","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-03T18:15:25.735Z","createdAt":"2026-01-03T18:15:25.735Z","role":"workflow:owner","workflowId":"Z9eIyLH9Nv65UqBy","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-01-02T17:21:30.678Z","createdAt":"2026-01-02T17:21:30.678Z","id":"ZnlUtd5Un2HQcpz6","name":"dentaly"}]}