backups/dentaly---lívia-agent-(messenger)-tOmn5OJJLDPfOcOT.json
{"updatedAt":"2026-01-16T01:05:14.824Z","createdAt":"2026-01-13T21:08:20.846Z","id":"tOmn5OJJLDPfOcOT","name":"Dentaly - Lívia Agent (Messenger)","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"100416489740216","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2720,-128],"id":"f7e5b991-cad6-4976-8591-891152fbe2af","name":"Messenger Trigger","webhookId":"a7735139-15ae-4bee-ab65-d9d3d6e8c8be"},{"parameters":{"assignments":{"assignments":[{"id":"fe3f9231-7606-4073-91e4-898bf3922a76","name":"tipo_mensagem","value":"={{ $json.body.entry?.[0]?.messaging?.[0]?.message?.text ? 'text' : ($json.body.entry?.[0]?.messaging?.[0]?.message?.attachments?.[0]?.type || 'unknown') }}","type":"string"},{"id":"9da1fcfc-e5ea-4433-9933-595b24f0ba42","name":"numero_conversa","value":"={{ $json.body.entry?.[0]?.messaging?.[0]?.sender?.id || '' }}","type":"string"},{"id":"ebaa7566-ec95-46f0-87ec-ba1adac53613","name":"nome_cliente","value":"={{ '' }}","type":"string"},{"id":"a8d6f721-a227-45b0-92e7-b7848a3b9185","name":"Timestamp","value":"={{ new Date(($json.body.entry?.[0]?.messaging?.[0]?.timestamp || Date.now())).toISOString() }}","type":"string"},{"id":"b59136d5-cb83-4472-8649-d859c68844a6","name":"conteudo_mensagem_text","value":"={{ $json.body.entry?.[0]?.messaging?.[0]?.message?.text || '' }}","type":"string"},{"id":"c69fba37-a5aa-4904-8f7f-dd24372d6524","name":"is_echo","value":"={{ $json.body.entry?.[0]?.messaging?.[0]?.message?.is_echo === true }}","type":"boolean"},{"id":"2531bbcd-fb58-47bb-bfb6-b218c34832fc","name":"has_attachments","value":"={{ !!$json.body.entry?.[0]?.messaging?.[0]?.message?.attachments?.length }}","type":"boolean"},{"id":"0a7c0d55-a3d8-478c-b760-9a5a857b8c07","name":"should_process","value":"={{ !!$json.body.entry?.[0]?.messaging?.[0]?.message && $json.body.entry?.[0]?.messaging?.[0]?.message?.is_echo !== true }}","type":"boolean"},{"id":"1ea27905-eaf1-41b3-b598-eb2f9cf66f61","name":"should_process_text","value":"={{ !!$json.body.entry?.[0]?.messaging?.[0]?.message?.text }}","type":"boolean"},{"id":"3ed47908-a803-4656-89d7-acaddfb8fd63","name":"page_id","value":"={{ $json.body.metadata?.channel_identifier || $json.body.entry?.[0]?.id || '' }}","type":"string"},{"id":"f5b6f612-8025-479b-b49b-78741efbb87d","name":"project_id","value":"={{ $json.body.metadata?.project_id || '' }}","type":"string"},{"id":"94777bac-550b-43dd-96f3-83e3f25229a2","name":"access_token","value":"={{ $json.body.metadata?.access_token || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2496,-128],"id":"e3e0e6be-64b7-416e-8e6f-de62bc75a63f","name":"dados principais"},{"parameters":{"operation":"executeQuery","query":"WITH project AS (\n  SELECT\n    openrouter_api_key,\n    elevenlabs_api_key,\n    gemini_api_key,\n    nextcloud_base_url,\n    nextcloud_username,\n    nextcloud_password,\n    nextcloud_media_root\n  FROM public.project_secrets\n  WHERE project_id = NULLIF('{{ $('dados principais').item.json.project_id || '' }}', '')::uuid\n  LIMIT 1\n),\n global AS (\n  SELECT\n    openrouter_api_key,\n    elevenlabs_api_key,\n    nextcloud_base_url,\n    nextcloud_username,\n    nextcloud_password\n  FROM public.global_secrets\n  ORDER BY created_at DESC\n  LIMIT 1\n)\nSELECT\n  COALESCE(project.openrouter_api_key, global.openrouter_api_key) AS openrouter_api_key,\n  COALESCE(project.elevenlabs_api_key, global.elevenlabs_api_key) AS elevenlabs_api_key,\n  project.gemini_api_key AS gemini_api_key,\n  COALESCE(project.nextcloud_base_url, global.nextcloud_base_url) AS nextcloud_base_url,\n  COALESCE(project.nextcloud_username, global.nextcloud_username) AS nextcloud_username,\n  COALESCE(project.nextcloud_password, global.nextcloud_password) AS nextcloud_password,\n  COALESCE(project.nextcloud_media_root, 'SuperBotMedia') AS nextcloud_media_root\nFROM (SELECT 1) AS base\nLEFT JOIN project ON true\nLEFT JOIN global ON true;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2272,-32],"id":"ead0ba38-4ff7-4ebd-8543-c9ad3e305c4b","name":"Fetch Project Secrets","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.conversation_events (\n  project_id,\n  channel_identifier,\n  channel_type,\n  conversation_id,\n  direction,\n  message_type,\n  text,\n  raw_payload,\n  metadata\n)\nVALUES (\n  NULLIF('{{ $('dados principais').item.json.project_id || '' }}', '')::uuid,\n  '{{ $('dados principais').item.json.page_id }}',\n  'messenger',\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  'in',\n  '{{ $('dados principais').item.json.tipo_mensagem }}',\n  '{{ ($('dados principais').item.json.conteudo_mensagem_text || '').replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($('Messenger Trigger').item.json.body, (k, v) => (k === 'access_token' || k === 'openrouter_api_key' || k === 'elevenlabs_api_key' || k === 'nextcloud_password' || k === 'meta_master_token' || k === 'gemini_api_key') ? undefined : v).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify({ timestamp: $('dados principais').item.json.Timestamp, is_echo: $('dados principais').item.json.is_echo, has_attachments: $('dados principais').item.json.has_attachments }).replace(/'/g, \"''\") }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2272,-224],"id":"cfb04c65-e15c-45f6-847b-d69ce0e1cf91","name":"Log Inbound Event (Postgres)","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7f508402-93a3-4c26-bf39-ecd52613bcef","leftValue":"={{ $('dados principais').item.json.should_process }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2048,-32],"id":"d25b339c-e8a8-4aca-bf1a-96f391562743","name":"Processar mensagem?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"520dad43-1dc3-49ce-8869-36775e5818d3","leftValue":"={{ $('dados principais').item.json.should_process_text }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-928,-32],"id":"f813c354-3b3b-4dda-904a-a6e24350a27c","name":"Tem texto?"},{"parameters":{"conditions":{"string":[{"value1":"={{ $('dados principais').item.json.conteudo_mensagem_text }}","operation":"contains","value2":"#delete"}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[-1824,-32],"id":"1441e86d-e99f-4385-b054-84052ff3d057","name":"Check #delete Command"},{"parameters":{"jsCode":"const axios = require('axios');\n\nconst recipientId = $('dados principais').first().json.numero_conversa;\nconst pageId = $('dados principais').first().json.page_id;\nconst token = $('dados principais').first().json.access_token;\n\nconst messageText = '✅ Seus dados foram resetados com sucesso!\\n\\nVocê pode começar uma nova conversa do zero. Como posso te ajudar?';\n\nconst url = `https://graph.facebook.com/v21.0/${pageId}/messages`;\n\nconst data = {\n  recipient: { id: recipientId },\n  messaging_type: 'RESPONSE',\n  message: { text: messageText }\n};\n\ntry {\n  const resp = await axios.post(url, data, {\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json'\n    }\n  });\n\n  return {\n    json: {\n      success: true,\n      reset_complete: true,\n      data: resp.data\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.response ? error.response.data : error.message\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1152,-208],"id":"d805eda9-8afe-4249-addf-f7351f27fbed","name":"Send Reset Confirmation"},{"parameters":{"operation":"executeQuery","query":"-- Gerenciar usuário multi-tenant com preservação de metadados\nINSERT INTO public.users (\n  id, \n  project_id,\n  name, \n  metadata, \n  created_at, \n  updated_at\n)\nVALUES (\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  NULLIF('{{ $('dados principais').item.json.project_id || '' }}', '')::uuid,\n  '{{ $('dados principais').item.json.nome_cliente }}',\n  '{}'::jsonb,\n  NOW(),\n  NOW()\n)\nON CONFLICT (id, project_id) DO UPDATE SET\n  name = EXCLUDED.name,\n  updated_at = NOW()\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1600,64],"id":"530b2566-ae06-4b7c-b1e3-162ca1c32185","name":"Gerenciar Usuario (Postgres)","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"caAnMvnvVXE0mLvT","mode":"list","cachedResultUrl":"/workflow/caAnMvnvVXE0mLvT","cachedResultName":"Agente Livia"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero_conversa":"={{ $('dados principais').item.json.numero_conversa }}","final_user_message":"={{ $json.final_user_message }}","numero_conversa_firstItem":"={{ $('dados principais').first().json.numero_conversa }}","client_context":"={{ '❓ [CLIENTE NÃO IDENTIFICADO VIA MESSENGER]\\nStatus: needs_cpf\\nInstrução: Tente solicitar o CPF para busca mais precisa.\\n' }}","birthday_alert":"={{ '' }}","customer_name_split":"={{ '' }}","id":"={{ $('Gerenciar Usuario (Postgres)').item.json.id }}","project_id":"={{ $('Gerenciar Usuario (Postgres)').item.json.project_id }}","channel_type":"={{ 'messenger' }}"},"matchingColumns":["numero_conversa","final_user_message","numero_conversa_firstItem","client_context","birthday_alert","customer_name_split","id","project_id","channel_type"],"schema":[{"id":"numero_conversa","displayName":"numero_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"final_user_message","displayName":"final_user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"numero_conversa_firstItem","displayName":"numero_conversa_firstItem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"client_context","displayName":"client_context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"birthday_alert","displayName":"birthday_alert","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"customer_name_split","displayName":"customer_name_split","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"project_id","displayName":"project_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"channel_type","displayName":"channel_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-480,64],"id":"105d63cf-39c5-4b72-ae69-4dff63a86e7c","name":"Call Livia apenas o agente"},{"parameters":{"jsCode":"const input = $input.first().json.output || '';\nconst output = input.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\nreturn [{ json: { result: output } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,64],"id":"5b4c0b29-9730-44dd-9dd1-f21e1b5ad62e","name":"Tratar resposta"},{"parameters":{"assignments":{"assignments":[{"id":"bb70c647-df05-4b35-ba0d-be8ff4ba4335","name":"messages","value":"={{ ($json.result || '').split(\"\\n\\n\").filter(m => m.trim() !== '') }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,64],"id":"b26180dd-721a-4e35-8eef-462cc9b17ce5","name":"Reposta da orquestra"},{"parameters":{"fieldToSplitOut":"messages","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[192,64],"id":"95eba91e-dd40-49b1-8e13-95292700e4a6","name":"Split Out1"},{"parameters":{"jsCode":"const axios = require('axios');\n\nconst recipientId = $('dados principais').first().json.numero_conversa; // PSID do Messenger\nconst token = $('dados principais').first().json.access_token;          // Page Access Token\n\nlet messageBody = ($json.messages || '').toString().trim();\nif (!messageBody) return { json: { success: true, skipped: true } };\n\n// Extrair URL do Markdown: ![alt](url)\nconst markdownMatch = messageBody.match(/!\\[.*?\\]\\((.*?)\\)/);\nif (markdownMatch) messageBody = markdownMatch[1];\n\n// Detectar tipo (#image/#video/#document/#pdf/#audio) — vamos focar em image aqui\nlet attachmentType = null;\nlet cleanUrl = messageBody;\n\nconst mediaUrlMatch = messageBody.match(/(https?:\\/\\/[^\\s]+#(?:image|video|document|pdf|audio))/i);\nif (mediaUrlMatch) {\n  const full = mediaUrlMatch[1];\n  if (full.includes('#image')) { attachmentType = 'image'; cleanUrl = full.replace('#image', '').trim(); }\n} else if (messageBody.includes('#image')) {\n  attachmentType = 'image';\n  cleanUrl = messageBody.replace('#image', '').trim();\n}\n\nif (attachmentType !== 'image') {\n  // Se não for imagem, cai no comportamento original (texto)\n  const resp = await axios.post(\n    `https://graph.facebook.com/v21.0/me/messages?access_token=${encodeURIComponent(token)}`,\n    {\n      recipient: { id: recipientId },\n      messaging_type: 'RESPONSE',\n      message: { text: messageBody }\n    },\n    { headers: { 'Content-Type': 'application/json' } }\n  );\n\n  return {\n    json: {\n      success: true,\n      attachmentType: 'text',\n      sent: { text: messageBody },\n      result: resp.data\n    }\n  };\n}\n\n// ===== 1) Baixar a imagem (o n8n baixa, não a Meta) =====\nconst dl = await axios.get(cleanUrl, {\n  responseType: 'arraybuffer',\n  // Ajuda alguns servidores que bloqueiam UA \"axios\"\n  headers: { 'User-Agent': 'Mozilla/5.0' },\n  maxRedirects: 5,\n  timeout: 60000,\n});\n\nconst fileBuffer = Buffer.from(dl.data);\nconst contentType = dl.headers?.['content-type'] || 'image/jpeg';\n\n// tenta inferir extensão\nlet ext = 'jpg';\nif (contentType.includes('png')) ext = 'png';\nelse if (contentType.includes('webp')) ext = 'webp';\nelse if (contentType.includes('gif')) ext = 'gif';\nelse if (contentType.includes('jpeg')) ext = 'jpg';\n\nconst filename = `image.${ext}`;\n\n// ===== 2) Upload da mídia para obter attachment_id =====\n// Endpoint do Attachment Upload API:\nconst uploadUrl = `https://graph.facebook.com/v21.0/me/message_attachments?access_token=${encodeURIComponent(token)}`;\n\n// Montar multipart manualmente\nconst boundary = '----n8nBoundary' + Math.random().toString(16).slice(2);\nconst CRLF = '\\r\\n';\n\nconst messageJson = JSON.stringify({\n  attachment: {\n    type: 'image',\n    payload: { is_reusable: true }\n  }\n});\n\n\nconst parts = [];\n// campo \"message\" (json)\nparts.push(Buffer.from(`--${boundary}${CRLF}`));\nparts.push(Buffer.from(`Content-Disposition: form-data; name=\"message\"${CRLF}`));\nparts.push(Buffer.from(`Content-Type: application/json; charset=utf-8${CRLF}${CRLF}`));\nparts.push(Buffer.from(messageJson + CRLF));\n\n// campo \"filedata\" (binário)\nparts.push(Buffer.from(`--${boundary}${CRLF}`));\nparts.push(Buffer.from(`Content-Disposition: form-data; name=\"filedata\"; filename=\"${filename}\"${CRLF}`));\nparts.push(Buffer.from(`Content-Type: ${contentType}${CRLF}${CRLF}`));\nparts.push(fileBuffer);\nparts.push(Buffer.from(CRLF));\n\n// fechar boundary\nparts.push(Buffer.from(`--${boundary}--${CRLF}`));\n\nconst multipartBody = Buffer.concat(parts);\n\nlet uploadResp;\ntry {\n  uploadResp = await axios.post(uploadUrl, multipartBody, {\n    headers: {\n      'Content-Type': `multipart/form-data; boundary=${boundary}`,\n      'Content-Length': multipartBody.length,\n    },\n    timeout: 60000,\n  });\n} catch (e) {\n  return {\n    json: {\n      success: false,\n      step: 'upload_attachment',\n      error: e?.response?.data || e.message,\n    }\n  };\n}\n\nconst attachmentId = uploadResp?.data?.attachment_id;\nif (!attachmentId) {\n  return {\n    json: {\n      success: false,\n      step: 'upload_attachment',\n      error: `attachment_id não retornou. Resp: ${JSON.stringify(uploadResp?.data)}`\n    }\n  };\n}\n\n// ===== 3) Enviar mensagem usando attachment_id =====\nlet sendResp;\ntry {\n  sendResp = await axios.post(\n    `https://graph.facebook.com/v21.0/me/messages?access_token=${encodeURIComponent(token)}`,\n    {\n      recipient: { id: recipientId },\n      messaging_type: 'RESPONSE',\n      message: {\n        attachment: {\n          type: 'image',\n          payload: { attachment_id: attachmentId }\n        }\n      }\n    },\n    { headers: { 'Content-Type': 'application/json' }, timeout: 60000 }\n  );\n} catch (e) {\n  return {\n    json: {\n      success: false,\n      step: 'send_message',\n      error: e?.response?.data || e.message,\n      attachment_id: attachmentId,\n    }\n  };\n}\n\nreturn {\n  json: {\n    success: true,\n    attachmentType: 'image',\n    sent: { type: 'image', url: `${cleanUrl}#image`, download_url: cleanUrl },\n    downloaded_from: cleanUrl,\n    attachment_id: attachmentId,\n    result: sendResp.data,\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,64],"id":"5114cb70-d017-4b15-836b-fa904f7a2c2d","name":"Enviar mensagem (Messenger)"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.conversation_events (\n  project_id,\n  channel_identifier,\n  channel_type,\n  conversation_id,\n  direction,\n  message_type,\n  text,\n  media,\n  raw_payload\n)\nVALUES (\n  NULLIF('{{ $('dados principais').item.json.project_id || '' }}', '')::uuid,\n  '{{ $('dados principais').item.json.page_id }}',\n  'messenger',\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  'out',\n  '{{ $json.attachmentType || 'text' }}',\n  '{{ (($json.sent && $json.sent.text) ? $json.sent.text : '').replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.sent || {}).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($json, (k, v) => (k === 'access_token' || k === 'openrouter_api_key' || k === 'elevenlabs_api_key' || k === 'nextcloud_password' || k === 'meta_master_token' || k === 'gemini_api_key') ? undefined : v).replace(/'/g, \"''\") }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,16],"id":"c1da7c63-ac92-43ad-8cdd-10238b7f85e8","name":"Log Outbound Event (Postgres)","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"jsCode":"const axios = require('axios');\n\nconst recipientId = $('dados principais').first().json.numero_conversa;\nconst pageId = $('dados principais').first().json.page_id || '100416489740216';\nconst token = $('dados principais').first().json.access_token;\n\nconst messageText = 'Não consegui processar essa mensagem no Messenger. Pode me dizer em texto como posso te ajudar?';\n\nconst url = `https://graph.facebook.com/v21.0/${pageId}/messages`;\n\nconst data = {\n  recipient: { id: recipientId },\n  messaging_type: 'RESPONSE',\n  message: { text: messageText }\n};\n\ntry {\n  const resp = await axios.post(url, data, {\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json'\n    }\n  });\n\n  return {\n    json: {\n      success: true,\n      data: resp.data\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.response ? error.response.data : error.message\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,64],"id":"cec37ba1-0f0f-4e0f-ba8e-571fa64bac18","name":"Responder apenas texto (Messenger)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[416,64],"id":"10ffd34d-7196-4a3f-8b6f-11cc4f77940e","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[864,240],"id":"8ae56b43-0a59-4750-9edb-2a6103e45a3a","name":"Wait","webhookId":"8b20e43c-d380-4615-a9a3-5de5015dcf0b"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[640,-128],"id":"3c826e4b-e5c7-4f2e-90ad-2cddaee0d08b","name":"No Operation, do nothing"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $('dados principais').item.json.project_id + ':messenger:' + $('dados principais').item.json.numero_conversa }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1600,-208],"id":"c030b328-d450-43f9-9528-428f457dfe61","name":"reset-user-n8n_chat_histories","alwaysOutputData":true,"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"deleteCommand":"delete","where":{"values":[{"column":"id","value":"={{ $('dados principais').item.json.numero_conversa }}"},{"column":"project_id","value":"={{ $('dados principais').item.json.project_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1376,-208],"id":"051e0998-9992-4f0e-ba98-95a1f429f396","name":"Reset User Data (SQL)","alwaysOutputData":true,"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has_attachments_condition","leftValue":"={{ $('dados principais').item.json.has_attachments }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1376,64],"id":"a47c398f-f6c3-4bed-9777-8a49f550aaa1","name":"Tem anexos?"},{"parameters":{"jsCode":"const attachments = $('Messenger Trigger').item.json.body.entry?.[0]?.messaging?.[0]?.message?.attachments || [];\nconst messageText = ($('dados principais').item.json.conteudo_mensagem_text || '').toString();\n\nif (!attachments.length) {\n  return [{ json: { attachment_index: 0, attachment_type: 'unknown', attachment_url: '', message_text: messageText } }];\n}\n\nreturn attachments.map((att, idx) => ({\n  json: {\n    attachment_index: idx,\n    attachment_type: att?.type || 'file',\n    attachment_url: att?.payload?.url || '',\n    message_text: messageText,\n    attachment: att,\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1152,256],"id":"92ec8358-1dfb-450a-913f-73d89c1c0c2b","name":"Prepare Attachments Items"},{"parameters":{"jsCode":"/**\n * n8n Code node (Node.js)\n * - Baixa anexo (imagem/áudio/vídeo/etc) com token da Meta se houver\n * - Salva no Nextcloud via WebDAV\n * - Cria share link (download)\n * - Se for áudio: transcreve IGUAL aos nodes (OpenRouter + google/gemini-2.5-flash-lite usando \"image_url\" data:audio/*;base64)\n */\n\nconst axios = require('axios');\nconst fs = require('fs');\n\nfunction encodePath(p) {\n  return p.split('/').map(encodeURIComponent).join('/');\n}\n\nasync function ensureDavFolders(davBaseUrl, folderPath, auth) {\n  const parts = folderPath.split('/').filter(Boolean);\n  let current = '';\n\n  for (const part of parts) {\n    current = current ? `${current}/${part}` : part;\n    const url = `${davBaseUrl}/${encodePath(current)}`;\n\n    try {\n      await axios.request({ method: 'MKCOL', url, auth, timeout: 120000 });\n    } catch (error) {\n      const status = error?.response?.status;\n      // 405: já existe; 301/302: redirect; 409: parent missing (pode acontecer em alguns davs)\n      if (status === 405 || status === 301 || status === 302 || status === 409) continue;\n      throw error;\n    }\n  }\n}\n\nfunction formEncode(obj) {\n  return Object.entries(obj)\n    .map(([k, v]) => `${encodeURIComponent(k)}=${encodeURIComponent(String(v))}`)\n    .join('&');\n}\n\nfunction inferExt(mimeType, url) {\n  const mt = (mimeType || '').toLowerCase();\n  if (mt.includes('jpeg')) return 'jpg';\n  if (mt.includes('png')) return 'png';\n  if (mt.includes('webp')) return 'webp';\n  if (mt.includes('gif')) return 'gif';\n  if (mt.includes('mp4')) return 'mp4';\n  if (mt.includes('mpeg')) return 'mp3';\n  if (mt.includes('mp3')) return 'mp3';\n  if (mt.includes('wav')) return 'wav';\n  if (mt.includes('ogg')) return 'ogg';\n  if (mt.includes('pdf')) return 'pdf';\n\n  try {\n    const clean = String(url || '').split('?')[0].split('#')[0];\n    const last = clean.split('/').pop() || '';\n    if (last.includes('.')) {\n      const ext = last.split('.').pop();\n      if (ext && ext.length <= 6) return ext.toLowerCase().replace(/[^a-z0-9]/g, '');\n    }\n  } catch (_) {}\n\n  return 'bin';\n}\n\nfunction suffixFor(type, ext, mimeType) {\n  const t = (type || '').toLowerCase();\n  const mt = (mimeType || '').toLowerCase();\n  if (t === 'audio') return '#audio';\n  if (t === 'image') return '#image';\n  if (t === 'video') return '#video';\n  if (t === 'file' && (ext || '').toLowerCase() === 'pdf') return '#pdf';\n  if (mt.startsWith('audio/')) return '#audio';\n  if (mt.startsWith('image/')) return '#image';\n  if (mt.startsWith('video/')) return '#video';\n  return '#document';\n}\n\nasync function downloadAttachment(url, pageToken) {\n  const attempt = async (headers) => {\n    const resp = await axios.get(url, {\n      responseType: 'arraybuffer',\n      headers,\n      timeout: 120000,\n      maxBodyLength: Infinity,\n      maxContentLength: Infinity,\n      validateStatus: () => true,\n      maxRedirects: 5,\n    });\n    return resp;\n  };\n\n  let resp = await attempt(pageToken ? { Authorization: `Bearer ${pageToken}` } : undefined);\n  if (resp.status < 200 || resp.status >= 300) resp = await attempt(undefined);\n\n  if (resp.status < 200 || resp.status >= 300) {\n    return { ok: false, status: resp.status, data: resp.data };\n  }\n\n  return {\n    ok: true,\n    status: resp.status,\n    buffer: Buffer.from(resp.data),\n    mimeType: resp.headers?.['content-type'] || '',\n  };\n}\n\n// === Transcrição igual aos seus nodes (OpenRouter + Gemini flash lite usando \"image_url\" com data:audio/*;base64) ===\nasync function transcribeOpenRouterLikeNodes(openrouterKey, fileBuffer, mimeType) {\n  const b64 = fileBuffer.toString('base64');\n\n  // No seu node você usa data:audio/mp3;base64, ...\n  // Aqui a gente usa o mime real quando for áudio, senão cai em audio/mpeg\n  const safeMime = (mimeType && mimeType.toLowerCase().startsWith('audio/')) ? mimeType : 'audio/mpeg';\n\n  const resp = await axios.post(\n    'https://openrouter.ai/api/v1/chat/completions',\n    {\n      model: 'google/gemini-2.5-flash-lite',\n      messages: [\n        {\n          role: 'user',\n          content: [\n            { type: 'text', text: 'faça a trancrição exata do audio.' },\n            {\n              type: 'image_url',\n              image_url: {\n                url: `data:${safeMime};base64,${b64}`,\n              },\n            },\n          ],\n        },\n      ],\n    },\n    {\n      headers: {\n        Authorization: `Bearer ${openrouterKey}`,\n        'Content-Type': 'application/json',\n      },\n      timeout: 180000,\n      maxBodyLength: Infinity,\n      maxContentLength: Infinity,\n    }\n  );\n\n  return String(resp?.data?.choices?.[0]?.message?.content || '').trim();\n}\n\n// ===================== EXECUÇÃO (n8n) =====================\n\nconst secrets = $('Fetch Project Secrets').first().json || {};\n\nlet nextcloudBase = String(secrets.nextcloud_base_url || process.env.NEXTCLOUD_BASE_URL || '');\nwhile (nextcloudBase.endsWith('/')) nextcloudBase = nextcloudBase.slice(0, -1);\n\nconst nextcloudUser = String(\n  secrets.nextcloud_username || process.env.NEXTCLOUD_USERNAME || process.env.NEXTCLOUD_USER || ''\n);\nconst nextcloudPass = String(\n  secrets.nextcloud_password || process.env.NEXTCLOUD_PASSWORD || process.env.NEXTCLOUD_PASS || ''\n);\nconst mediaRoot = String(secrets.nextcloud_media_root || process.env.NEXTCLOUD_MEDIA_ROOT || 'SuperBotMedia');\n\nconst openrouterKey = String(secrets.openrouter_api_key || process.env.OPENROUTER_API_KEY || '');\n\nconst auth = { username: nextcloudUser, password: nextcloudPass };\nconst davBaseUrl = `${nextcloudBase}/remote.php/dav/files/${encodeURIComponent(nextcloudUser)}`;\n\nconst pageToken = String($('dados principais').item.json.access_token || '');\nconst projectId = String($('dados principais').item.json.project_id || 'unknown_project');\nconst channelType = 'instagram';\nconst conversationId = String($('dados principais').item.json.numero_conversa || 'unknown_conversation');\n\n// ✅ Processa só 1 item\nconst it = $input.first();\n\nif (!nextcloudBase || !nextcloudUser || !nextcloudPass) {\n  return [\n    {\n      json: {\n        success: false,\n        attachment_index: it?.json?.attachment_index,\n        attachment_type: it?.json?.attachment_type,\n        original_url: it?.json?.attachment_url || '',\n        note: 'Missing Nextcloud credentials (global_secrets/project_secrets/env).',\n      },\n    },\n  ];\n}\n\nconst now = new Date();\nconst yyyy = String(now.getUTCFullYear());\nconst mm = String(now.getUTCMonth() + 1).padStart(2, '0');\nconst dd = String(now.getUTCDate()).padStart(2, '0');\n\nconst folderPath = `${mediaRoot}/${projectId}/${channelType}/${yyyy}/${mm}/${dd}/${conversationId}`;\nawait ensureDavFolders(davBaseUrl, folderPath, auth);\n\n// Guardrails para não derrubar o Task Runner\nconst MAX_INPUT_BYTES = 15 * 1024 * 1024; // limite de download (audio/video)\nconst attachmentUrl = String(it?.json?.attachment_url || '');\nconst attachmentType = String(it?.json?.attachment_type || 'file');\nconst attachmentIndex = it?.json?.attachment_index ?? 0;\n\nlet note = '';\nlet transcription = '';\nlet analysis = '';\n\ntry {\n  if (!attachmentUrl) {\n    return [\n      {\n        json: {\n          success: false,\n          attachment_index: attachmentIndex,\n          attachment_type: attachmentType,\n          original_url: '',\n          note: 'Missing attachment URL.',\n        },\n      },\n    ];\n  }\n\n  const dl = await downloadAttachment(attachmentUrl, pageToken);\n  if (!dl.ok) {\n    return [\n      {\n        json: {\n          success: false,\n          attachment_index: attachmentIndex,\n          attachment_type: attachmentType,\n          original_url: attachmentUrl,\n          note: `Download failed (status ${dl.status}).`,\n        },\n      },\n    ];\n  }\n\n  const fileBuffer = dl.buffer;\n  const mimeType = dl.mimeType || 'application/octet-stream';\n\n  if (fileBuffer.length > MAX_INPUT_BYTES) {\n    return [\n      {\n        json: {\n          success: false,\n          attachment_index: attachmentIndex,\n          attachment_type: attachmentType,\n          original_url: attachmentUrl,\n          note: `Attachment too large (${fileBuffer.length} bytes).`,\n        },\n      },\n    ];\n  }\n\n  const ext = (inferExt(mimeType, attachmentUrl) || 'bin').replace(/[^a-z0-9]/gi, '').toLowerCase() || 'bin';\n  const suffix = suffixFor(attachmentType, ext, mimeType);\n\n  const iso = new Date().toISOString().replace(/[:.]/g, '-');\n  const filename = `${iso}-in-${String(attachmentIndex).padStart(2, '0')}.${ext}`;\n\n  // 1) Upload WebDAV\n  const davFileUrl = `${davBaseUrl}/${encodePath(folderPath)}/${encodeURIComponent(filename)}`;\n  await axios.put(davFileUrl, fileBuffer, {\n    auth,\n    headers: { 'Content-Type': mimeType },\n    timeout: 120000,\n    maxBodyLength: Infinity,\n    maxContentLength: Infinity,\n  });\n\n  // 2) Criar share link (Nextcloud OCS)\n  const shareApiUrl = `${nextcloudBase}/ocs/v2.php/apps/files_sharing/api/v1/shares?format=json`;\n  const shareResp = await axios.post(\n    shareApiUrl,\n    formEncode({ path: `/${folderPath}/${filename}`, shareType: 3, permissions: 1 }),\n    {\n      auth,\n      headers: {\n        'OCS-APIRequest': 'true',\n        'Content-Type': 'application/x-www-form-urlencoded',\n        Accept: 'application/json',\n      },\n      timeout: 120000,\n    }\n  );\n\n  const shareUrl = String(shareResp?.data?.ocs?.data?.url || '');\n  if (!shareUrl) {\n    throw new Error(`Nextcloud share API error: ${JSON.stringify(shareResp?.data)}`);\n  }\n\n  const downloadUrl = shareUrl.endsWith('/download') ? shareUrl : `${shareUrl}/download`;\n\n  // 3) Áudio: transcrever igual aos nodes\n  if (attachmentType.toLowerCase() === 'audio') {\n    if (!openrouterKey) {\n      note = 'Audio received, but openrouter_api_key is missing (cannot transcribe automatically).';\n    } else {\n      try {\n        transcription = await transcribeOpenRouterLikeNodes(openrouterKey, fileBuffer, mimeType);\n      } catch (e) {\n        note = `Transcription failed: ${e?.response?.data ? JSON.stringify(e.response.data) : e.message}`;\n      }\n    }\n  }\n\n  return [\n    {\n      json: {\n        success: true,\n        attachment_index: attachmentIndex,\n        attachment_type: attachmentType,\n        mime_type: mimeType,\n        original_url: attachmentUrl,\n        nextcloud: {\n          path: `/${folderPath}/${filename}`,\n          share_url: shareUrl,\n          download_url: downloadUrl,\n        },\n        suffix,\n        transcription,\n        analysis,\n        note,\n      },\n    },\n  ];\n} catch (e) {\n  return [\n    {\n      json: {\n        success: false,\n        attachment_index: attachmentIndex,\n        attachment_type: attachmentType,\n        original_url: attachmentUrl,\n        note: e?.response?.data ? JSON.stringify(e.response.data) : e.message,\n      },\n    },\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,336],"id":"19530e81-dad3-42e1-9fa3-1a9a6d9e0604","name":"Process Attachment (Nextcloud)"},{"parameters":{"jsCode":"const text = ($('dados principais').item.json.conteudo_mensagem_text || '').toString().trim();\n\nconst lines = [];\nif (text) lines.push(text);\n\nlines.push('📎 Mídias recebidas:');\n\nfor (const item of items) {\n  const downloadUrl = item.json.nextcloud?.download_url || '';\n  const suffix = item.json.suffix || '';\n  if (downloadUrl) {\n    lines.push(`${downloadUrl}${suffix}`);\n  }\n  if (item.json.transcription) {\n    lines.push(`Transcrição: ${String(item.json.transcription).trim()}`);\n  }\n  if (item.json.analysis) {\n    lines.push(`Descrição: ${String(item.json.analysis).trim()}`);\n  }\n}\n\nconst media = items.map((it) => ({\n  type: it.json.attachment_type,\n  url: (it.json.nextcloud?.download_url || '') + (it.json.suffix || ''),\n  download_url: it.json.nextcloud?.download_url || '',\n  share_url: it.json.nextcloud?.share_url || '',\n  path: it.json.nextcloud?.path || '',\n  original_url: it.json.original_url || '',\n  mime_type: it.json.mime_type || '',\n  transcription: it.json.transcription || '',\n  analysis: it.json.analysis || '',\n}));\n\nreturn {\n  json: {\n    final_user_message: lines.filter(Boolean).join('\\n'),\n    media,\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,352],"id":"35674364-58a7-48a2-85f5-6c566b1b367c","name":"Build Final User Message (Attachments)"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.conversation_events (\n  project_id,\n  channel_identifier,\n  channel_type,\n  conversation_id,\n  direction,\n  message_type,\n  text,\n  media,\n  raw_payload,\n  metadata\n)\nVALUES (\n  NULLIF('{{ $('dados principais').item.json.project_id || '' }}', '')::uuid,\n  '{{ $('dados principais').item.json.page_id }}',\n  'messenger',\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  'in',\n  'media',\n  '{{ ($json.final_user_message || '').replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.media || []).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($('Messenger Trigger').item.json.body, (k, v) => (k === 'access_token' || k === 'openrouter_api_key' || k === 'elevenlabs_api_key' || k === 'nextcloud_password' || k === 'meta_master_token' || k === 'gemini_api_key') ? undefined : v).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify({ timestamp: $('dados principais').item.json.Timestamp, has_attachments: $('dados principais').item.json.has_attachments }).replace(/'/g, \"''\") }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-480,400],"id":"6798d9a9-0394-4c46-a2dc-8e441c1f390a","name":"Log Inbound Media Event (Postgres)","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"final-user-message-text","name":"final_user_message","value":"={{ $('dados principais').item.json.conteudo_mensagem_text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-704,-128],"id":"f1f41565-a4dc-41b0-a3f6-2f8cdf5dc59c","name":"Final User Message (Text)"}],"connections":{"Messenger Trigger":{"main":[[{"node":"dados principais","type":"main","index":0}]]},"dados principais":{"main":[[{"node":"Fetch Project Secrets","type":"main","index":0},{"node":"Log Inbound Event (Postgres)","type":"main","index":0}]]},"Fetch Project Secrets":"[REDACTED]","Processar mensagem?":{"main":[[{"node":"Check #delete Command","type":"main","index":0}]]},"Tem texto?":{"main":[[{"node":"Final User Message (Text)","type":"main","index":0}],[{"node":"Responder apenas texto (Messenger)","type":"main","index":0}]]},"Check #delete Command":{"main":[[{"node":"reset-user-n8n_chat_histories","type":"main","index":0}],[{"node":"Gerenciar Usuario (Postgres)","type":"main","index":0}]]},"Gerenciar Usuario (Postgres)":{"main":[[{"node":"Tem anexos?","type":"main","index":0}]]},"Tem anexos?":{"main":[[{"node":"Prepare Attachments Items","type":"main","index":0}],[{"node":"Tem texto?","type":"main","index":0}]]},"Prepare Attachments Items":{"main":[[{"node":"Process Attachment (Nextcloud)","type":"main","index":0}]]},"Process Attachment (Nextcloud)":{"main":[[{"node":"Build Final User Message (Attachments)","type":"main","index":0}]]},"Build Final User Message (Attachments)":{"main":[[{"node":"Log Inbound Media Event (Postgres)","type":"main","index":0},{"node":"Call Livia apenas o agente","type":"main","index":0}]]},"Final User Message (Text)":{"main":[[{"node":"Call Livia apenas o agente","type":"main","index":0}]]},"Call Livia apenas o agente":{"main":[[{"node":"Tratar resposta","type":"main","index":0}]]},"Tratar resposta":{"main":[[{"node":"Reposta da orquestra","type":"main","index":0}]]},"Reposta da orquestra":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar mensagem (Messenger)":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"Log Outbound Event (Postgres)","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Enviar mensagem (Messenger)","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"reset-user-n8n_chat_histories":{"main":[[{"node":"Reset User Data (SQL)","type":"main","index":0}]]},"Reset User Data (SQL)":{"main":[[{"node":"Send Reset Confirmation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"31175e88-2d8f-4620-8650-36ddb54fd149","activeVersionId":"31175e88-2d8f-4620-8650-36ddb54fd149","triggerCount":1,"shared":[{"updatedAt":"2026-01-13T21:08:20.846Z","createdAt":"2026-01-13T21:08:20.846Z","role":"workflow:owner","workflowId":"tOmn5OJJLDPfOcOT","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-16T01:05:14.826Z","createdAt":"2026-01-16T01:05:14.826Z","versionId":"31175e88-2d8f-4620-8650-36ddb54fd149","workflowId":"tOmn5OJJLDPfOcOT","nodes":[{"parameters":{"httpMethod":"POST","path":"100416489740216","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2720,-128],"id":"f7e5b991-cad6-4976-8591-891152fbe2af","name":"Messenger Trigger","webhookId":"a7735139-15ae-4bee-ab65-d9d3d6e8c8be"},{"parameters":{"assignments":{"assignments":[{"id":"fe3f9231-7606-4073-91e4-898bf3922a76","name":"tipo_mensagem","value":"={{ $json.body.entry?.[0]?.messaging?.[0]?.message?.text ? 'text' : ($json.body.entry?.[0]?.messaging?.[0]?.message?.attachments?.[0]?.type || 'unknown') }}","type":"string"},{"id":"9da1fcfc-e5ea-4433-9933-595b24f0ba42","name":"numero_conversa","value":"={{ $json.body.entry?.[0]?.messaging?.[0]?.sender?.id || '' }}","type":"string"},{"id":"ebaa7566-ec95-46f0-87ec-ba1adac53613","name":"nome_cliente","value":"={{ '' }}","type":"string"},{"id":"a8d6f721-a227-45b0-92e7-b7848a3b9185","name":"Timestamp","value":"={{ new Date(($json.body.entry?.[0]?.messaging?.[0]?.timestamp || Date.now())).toISOString() }}","type":"string"},{"id":"b59136d5-cb83-4472-8649-d859c68844a6","name":"conteudo_mensagem_text","value":"={{ $json.body.entry?.[0]?.messaging?.[0]?.message?.text || '' }}","type":"string"},{"id":"c69fba37-a5aa-4904-8f7f-dd24372d6524","name":"is_echo","value":"={{ $json.body.entry?.[0]?.messaging?.[0]?.message?.is_echo === true }}","type":"boolean"},{"id":"2531bbcd-fb58-47bb-bfb6-b218c34832fc","name":"has_attachments","value":"={{ !!$json.body.entry?.[0]?.messaging?.[0]?.message?.attachments?.length }}","type":"boolean"},{"id":"0a7c0d55-a3d8-478c-b760-9a5a857b8c07","name":"should_process","value":"={{ !!$json.body.entry?.[0]?.messaging?.[0]?.message && $json.body.entry?.[0]?.messaging?.[0]?.message?.is_echo !== true }}","type":"boolean"},{"id":"1ea27905-eaf1-41b3-b598-eb2f9cf66f61","name":"should_process_text","value":"={{ !!$json.body.entry?.[0]?.messaging?.[0]?.message?.text }}","type":"boolean"},{"id":"3ed47908-a803-4656-89d7-acaddfb8fd63","name":"page_id","value":"={{ $json.body.metadata?.channel_identifier || $json.body.entry?.[0]?.id || '' }}","type":"string"},{"id":"f5b6f612-8025-479b-b49b-78741efbb87d","name":"project_id","value":"={{ $json.body.metadata?.project_id || '' }}","type":"string"},{"id":"94777bac-550b-43dd-96f3-83e3f25229a2","name":"access_token","value":"={{ $json.body.metadata?.access_token || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2496,-128],"id":"e3e0e6be-64b7-416e-8e6f-de62bc75a63f","name":"dados principais"},{"parameters":{"operation":"executeQuery","query":"WITH project AS (\n  SELECT\n    openrouter_api_key,\n    elevenlabs_api_key,\n    gemini_api_key,\n    nextcloud_base_url,\n    nextcloud_username,\n    nextcloud_password,\n    nextcloud_media_root\n  FROM public.project_secrets\n  WHERE project_id = NULLIF('{{ $('dados principais').item.json.project_id || '' }}', '')::uuid\n  LIMIT 1\n),\n global AS (\n  SELECT\n    openrouter_api_key,\n    elevenlabs_api_key,\n    nextcloud_base_url,\n    nextcloud_username,\n    nextcloud_password\n  FROM public.global_secrets\n  ORDER BY created_at DESC\n  LIMIT 1\n)\nSELECT\n  COALESCE(project.openrouter_api_key, global.openrouter_api_key) AS openrouter_api_key,\n  COALESCE(project.elevenlabs_api_key, global.elevenlabs_api_key) AS elevenlabs_api_key,\n  project.gemini_api_key AS gemini_api_key,\n  COALESCE(project.nextcloud_base_url, global.nextcloud_base_url) AS nextcloud_base_url,\n  COALESCE(project.nextcloud_username, global.nextcloud_username) AS nextcloud_username,\n  COALESCE(project.nextcloud_password, global.nextcloud_password) AS nextcloud_password,\n  COALESCE(project.nextcloud_media_root, 'SuperBotMedia') AS nextcloud_media_root\nFROM (SELECT 1) AS base\nLEFT JOIN project ON true\nLEFT JOIN global ON true;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2272,-32],"id":"ead0ba38-4ff7-4ebd-8543-c9ad3e305c4b","name":"Fetch Project Secrets","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.conversation_events (\n  project_id,\n  channel_identifier,\n  channel_type,\n  conversation_id,\n  direction,\n  message_type,\n  text,\n  raw_payload,\n  metadata\n)\nVALUES (\n  NULLIF('{{ $('dados principais').item.json.project_id || '' }}', '')::uuid,\n  '{{ $('dados principais').item.json.page_id }}',\n  'messenger',\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  'in',\n  '{{ $('dados principais').item.json.tipo_mensagem }}',\n  '{{ ($('dados principais').item.json.conteudo_mensagem_text || '').replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($('Messenger Trigger').item.json.body, (k, v) => (k === 'access_token' || k === 'openrouter_api_key' || k === 'elevenlabs_api_key' || k === 'nextcloud_password' || k === 'meta_master_token' || k === 'gemini_api_key') ? undefined : v).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify({ timestamp: $('dados principais').item.json.Timestamp, is_echo: $('dados principais').item.json.is_echo, has_attachments: $('dados principais').item.json.has_attachments }).replace(/'/g, \"''\") }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2272,-224],"id":"cfb04c65-e15c-45f6-847b-d69ce0e1cf91","name":"Log Inbound Event (Postgres)","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7f508402-93a3-4c26-bf39-ecd52613bcef","leftValue":"={{ $('dados principais').item.json.should_process }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2048,-32],"id":"d25b339c-e8a8-4aca-bf1a-96f391562743","name":"Processar mensagem?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"520dad43-1dc3-49ce-8869-36775e5818d3","leftValue":"={{ $('dados principais').item.json.should_process_text }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-928,-32],"id":"f813c354-3b3b-4dda-904a-a6e24350a27c","name":"Tem texto?"},{"parameters":{"conditions":{"string":[{"value1":"={{ $('dados principais').item.json.conteudo_mensagem_text }}","operation":"contains","value2":"#delete"}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[-1824,-32],"id":"1441e86d-e99f-4385-b054-84052ff3d057","name":"Check #delete Command"},{"parameters":{"jsCode":"const axios = require('axios');\n\nconst recipientId = $('dados principais').first().json.numero_conversa;\nconst pageId = $('dados principais').first().json.page_id;\nconst token = $('dados principais').first().json.access_token;\n\nconst messageText = '✅ Seus dados foram resetados com sucesso!\\n\\nVocê pode começar uma nova conversa do zero. Como posso te ajudar?';\n\nconst url = `https://graph.facebook.com/v21.0/${pageId}/messages`;\n\nconst data = {\n  recipient: { id: recipientId },\n  messaging_type: 'RESPONSE',\n  message: { text: messageText }\n};\n\ntry {\n  const resp = await axios.post(url, data, {\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json'\n    }\n  });\n\n  return {\n    json: {\n      success: true,\n      reset_complete: true,\n      data: resp.data\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.response ? error.response.data : error.message\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1152,-208],"id":"d805eda9-8afe-4249-addf-f7351f27fbed","name":"Send Reset Confirmation"},{"parameters":{"operation":"executeQuery","query":"-- Gerenciar usuário multi-tenant com preservação de metadados\nINSERT INTO public.users (\n  id, \n  project_id,\n  name, \n  metadata, \n  created_at, \n  updated_at\n)\nVALUES (\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  NULLIF('{{ $('dados principais').item.json.project_id || '' }}', '')::uuid,\n  '{{ $('dados principais').item.json.nome_cliente }}',\n  '{}'::jsonb,\n  NOW(),\n  NOW()\n)\nON CONFLICT (id, project_id) DO UPDATE SET\n  name = EXCLUDED.name,\n  updated_at = NOW()\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1600,64],"id":"530b2566-ae06-4b7c-b1e3-162ca1c32185","name":"Gerenciar Usuario (Postgres)","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"caAnMvnvVXE0mLvT","mode":"list","cachedResultUrl":"/workflow/caAnMvnvVXE0mLvT","cachedResultName":"Agente Livia"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero_conversa":"={{ $('dados principais').item.json.numero_conversa }}","final_user_message":"={{ $json.final_user_message }}","numero_conversa_firstItem":"={{ $('dados principais').first().json.numero_conversa }}","client_context":"={{ '❓ [CLIENTE NÃO IDENTIFICADO VIA MESSENGER]\\nStatus: needs_cpf\\nInstrução: Tente solicitar o CPF para busca mais precisa.\\n' }}","birthday_alert":"={{ '' }}","customer_name_split":"={{ '' }}","id":"={{ $('Gerenciar Usuario (Postgres)').item.json.id }}","project_id":"={{ $('Gerenciar Usuario (Postgres)').item.json.project_id }}","channel_type":"={{ 'messenger' }}"},"matchingColumns":["numero_conversa","final_user_message","numero_conversa_firstItem","client_context","birthday_alert","customer_name_split","id","project_id","channel_type"],"schema":[{"id":"numero_conversa","displayName":"numero_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"final_user_message","displayName":"final_user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"numero_conversa_firstItem","displayName":"numero_conversa_firstItem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"client_context","displayName":"client_context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"birthday_alert","displayName":"birthday_alert","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"customer_name_split","displayName":"customer_name_split","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"project_id","displayName":"project_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"channel_type","displayName":"channel_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-480,64],"id":"105d63cf-39c5-4b72-ae69-4dff63a86e7c","name":"Call Livia apenas o agente"},{"parameters":{"jsCode":"const input = $input.first().json.output || '';\nconst output = input.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\nreturn [{ json: { result: output } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,64],"id":"5b4c0b29-9730-44dd-9dd1-f21e1b5ad62e","name":"Tratar resposta"},{"parameters":{"assignments":{"assignments":[{"id":"bb70c647-df05-4b35-ba0d-be8ff4ba4335","name":"messages","value":"={{ ($json.result || '').split(\"\\n\\n\").filter(m => m.trim() !== '') }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,64],"id":"b26180dd-721a-4e35-8eef-462cc9b17ce5","name":"Reposta da orquestra"},{"parameters":{"fieldToSplitOut":"messages","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[192,64],"id":"95eba91e-dd40-49b1-8e13-95292700e4a6","name":"Split Out1"},{"parameters":{"jsCode":"const axios = require('axios');\n\nconst recipientId = $('dados principais').first().json.numero_conversa; // PSID do Messenger\nconst token = $('dados principais').first().json.access_token;          // Page Access Token\n\nlet messageBody = ($json.messages || '').toString().trim();\nif (!messageBody) return { json: { success: true, skipped: true } };\n\n// Extrair URL do Markdown: ![alt](url)\nconst markdownMatch = messageBody.match(/!\\[.*?\\]\\((.*?)\\)/);\nif (markdownMatch) messageBody = markdownMatch[1];\n\n// Detectar tipo (#image/#video/#document/#pdf/#audio) — vamos focar em image aqui\nlet attachmentType = null;\nlet cleanUrl = messageBody;\n\nconst mediaUrlMatch = messageBody.match(/(https?:\\/\\/[^\\s]+#(?:image|video|document|pdf|audio))/i);\nif (mediaUrlMatch) {\n  const full = mediaUrlMatch[1];\n  if (full.includes('#image')) { attachmentType = 'image'; cleanUrl = full.replace('#image', '').trim(); }\n} else if (messageBody.includes('#image')) {\n  attachmentType = 'image';\n  cleanUrl = messageBody.replace('#image', '').trim();\n}\n\nif (attachmentType !== 'image') {\n  // Se não for imagem, cai no comportamento original (texto)\n  const resp = await axios.post(\n    `https://graph.facebook.com/v21.0/me/messages?access_token=${encodeURIComponent(token)}`,\n    {\n      recipient: { id: recipientId },\n      messaging_type: 'RESPONSE',\n      message: { text: messageBody }\n    },\n    { headers: { 'Content-Type': 'application/json' } }\n  );\n\n  return {\n    json: {\n      success: true,\n      attachmentType: 'text',\n      sent: { text: messageBody },\n      result: resp.data\n    }\n  };\n}\n\n// ===== 1) Baixar a imagem (o n8n baixa, não a Meta) =====\nconst dl = await axios.get(cleanUrl, {\n  responseType: 'arraybuffer',\n  // Ajuda alguns servidores que bloqueiam UA \"axios\"\n  headers: { 'User-Agent': 'Mozilla/5.0' },\n  maxRedirects: 5,\n  timeout: 60000,\n});\n\nconst fileBuffer = Buffer.from(dl.data);\nconst contentType = dl.headers?.['content-type'] || 'image/jpeg';\n\n// tenta inferir extensão\nlet ext = 'jpg';\nif (contentType.includes('png')) ext = 'png';\nelse if (contentType.includes('webp')) ext = 'webp';\nelse if (contentType.includes('gif')) ext = 'gif';\nelse if (contentType.includes('jpeg')) ext = 'jpg';\n\nconst filename = `image.${ext}`;\n\n// ===== 2) Upload da mídia para obter attachment_id =====\n// Endpoint do Attachment Upload API:\nconst uploadUrl = `https://graph.facebook.com/v21.0/me/message_attachments?access_token=${encodeURIComponent(token)}`;\n\n// Montar multipart manualmente\nconst boundary = '----n8nBoundary' + Math.random().toString(16).slice(2);\nconst CRLF = '\\r\\n';\n\nconst messageJson = JSON.stringify({\n  attachment: {\n    type: 'image',\n    payload: { is_reusable: true }\n  }\n});\n\n\nconst parts = [];\n// campo \"message\" (json)\nparts.push(Buffer.from(`--${boundary}${CRLF}`));\nparts.push(Buffer.from(`Content-Disposition: form-data; name=\"message\"${CRLF}`));\nparts.push(Buffer.from(`Content-Type: application/json; charset=utf-8${CRLF}${CRLF}`));\nparts.push(Buffer.from(messageJson + CRLF));\n\n// campo \"filedata\" (binário)\nparts.push(Buffer.from(`--${boundary}${CRLF}`));\nparts.push(Buffer.from(`Content-Disposition: form-data; name=\"filedata\"; filename=\"${filename}\"${CRLF}`));\nparts.push(Buffer.from(`Content-Type: ${contentType}${CRLF}${CRLF}`));\nparts.push(fileBuffer);\nparts.push(Buffer.from(CRLF));\n\n// fechar boundary\nparts.push(Buffer.from(`--${boundary}--${CRLF}`));\n\nconst multipartBody = Buffer.concat(parts);\n\nlet uploadResp;\ntry {\n  uploadResp = await axios.post(uploadUrl, multipartBody, {\n    headers: {\n      'Content-Type': `multipart/form-data; boundary=${boundary}`,\n      'Content-Length': multipartBody.length,\n    },\n    timeout: 60000,\n  });\n} catch (e) {\n  return {\n    json: {\n      success: false,\n      step: 'upload_attachment',\n      error: e?.response?.data || e.message,\n    }\n  };\n}\n\nconst attachmentId = uploadResp?.data?.attachment_id;\nif (!attachmentId) {\n  return {\n    json: {\n      success: false,\n      step: 'upload_attachment',\n      error: `attachment_id não retornou. Resp: ${JSON.stringify(uploadResp?.data)}`\n    }\n  };\n}\n\n// ===== 3) Enviar mensagem usando attachment_id =====\nlet sendResp;\ntry {\n  sendResp = await axios.post(\n    `https://graph.facebook.com/v21.0/me/messages?access_token=${encodeURIComponent(token)}`,\n    {\n      recipient: { id: recipientId },\n      messaging_type: 'RESPONSE',\n      message: {\n        attachment: {\n          type: 'image',\n          payload: { attachment_id: attachmentId }\n        }\n      }\n    },\n    { headers: { 'Content-Type': 'application/json' }, timeout: 60000 }\n  );\n} catch (e) {\n  return {\n    json: {\n      success: false,\n      step: 'send_message',\n      error: e?.response?.data || e.message,\n      attachment_id: attachmentId,\n    }\n  };\n}\n\nreturn {\n  json: {\n    success: true,\n    attachmentType: 'image',\n    sent: { type: 'image', url: `${cleanUrl}#image`, download_url: cleanUrl },\n    downloaded_from: cleanUrl,\n    attachment_id: attachmentId,\n    result: sendResp.data,\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,64],"id":"5114cb70-d017-4b15-836b-fa904f7a2c2d","name":"Enviar mensagem (Messenger)"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.conversation_events (\n  project_id,\n  channel_identifier,\n  channel_type,\n  conversation_id,\n  direction,\n  message_type,\n  text,\n  media,\n  raw_payload\n)\nVALUES (\n  NULLIF('{{ $('dados principais').item.json.project_id || '' }}', '')::uuid,\n  '{{ $('dados principais').item.json.page_id }}',\n  'messenger',\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  'out',\n  '{{ $json.attachmentType || 'text' }}',\n  '{{ (($json.sent && $json.sent.text) ? $json.sent.text : '').replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.sent || {}).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($json, (k, v) => (k === 'access_token' || k === 'openrouter_api_key' || k === 'elevenlabs_api_key' || k === 'nextcloud_password' || k === 'meta_master_token' || k === 'gemini_api_key') ? undefined : v).replace(/'/g, \"''\") }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,16],"id":"c1da7c63-ac92-43ad-8cdd-10238b7f85e8","name":"Log Outbound Event (Postgres)","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"jsCode":"const axios = require('axios');\n\nconst recipientId = $('dados principais').first().json.numero_conversa;\nconst pageId = $('dados principais').first().json.page_id || '100416489740216';\nconst token = $('dados principais').first().json.access_token;\n\nconst messageText = 'Não consegui processar essa mensagem no Messenger. Pode me dizer em texto como posso te ajudar?';\n\nconst url = `https://graph.facebook.com/v21.0/${pageId}/messages`;\n\nconst data = {\n  recipient: { id: recipientId },\n  messaging_type: 'RESPONSE',\n  message: { text: messageText }\n};\n\ntry {\n  const resp = await axios.post(url, data, {\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json'\n    }\n  });\n\n  return {\n    json: {\n      success: true,\n      data: resp.data\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.response ? error.response.data : error.message\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,64],"id":"cec37ba1-0f0f-4e0f-ba8e-571fa64bac18","name":"Responder apenas texto (Messenger)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[416,64],"id":"10ffd34d-7196-4a3f-8b6f-11cc4f77940e","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[864,240],"id":"8ae56b43-0a59-4750-9edb-2a6103e45a3a","name":"Wait","webhookId":"8b20e43c-d380-4615-a9a3-5de5015dcf0b"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[640,-128],"id":"3c826e4b-e5c7-4f2e-90ad-2cddaee0d08b","name":"No Operation, do nothing"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $('dados principais').item.json.project_id + ':messenger:' + $('dados principais').item.json.numero_conversa }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1600,-208],"id":"c030b328-d450-43f9-9528-428f457dfe61","name":"reset-user-n8n_chat_histories","alwaysOutputData":true,"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"deleteCommand":"delete","where":{"values":[{"column":"id","value":"={{ $('dados principais').item.json.numero_conversa }}"},{"column":"project_id","value":"={{ $('dados principais').item.json.project_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1376,-208],"id":"051e0998-9992-4f0e-ba98-95a1f429f396","name":"Reset User Data (SQL)","alwaysOutputData":true,"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has_attachments_condition","leftValue":"={{ $('dados principais').item.json.has_attachments }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1376,64],"id":"a47c398f-f6c3-4bed-9777-8a49f550aaa1","name":"Tem anexos?"},{"parameters":{"jsCode":"const attachments = $('Messenger Trigger').item.json.body.entry?.[0]?.messaging?.[0]?.message?.attachments || [];\nconst messageText = ($('dados principais').item.json.conteudo_mensagem_text || '').toString();\n\nif (!attachments.length) {\n  return [{ json: { attachment_index: 0, attachment_type: 'unknown', attachment_url: '', message_text: messageText } }];\n}\n\nreturn attachments.map((att, idx) => ({\n  json: {\n    attachment_index: idx,\n    attachment_type: att?.type || 'file',\n    attachment_url: att?.payload?.url || '',\n    message_text: messageText,\n    attachment: att,\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1152,256],"id":"92ec8358-1dfb-450a-913f-73d89c1c0c2b","name":"Prepare Attachments Items"},{"parameters":{"jsCode":"/**\n * n8n Code node (Node.js)\n * - Baixa anexo (imagem/áudio/vídeo/etc) com token da Meta se houver\n * - Salva no Nextcloud via WebDAV\n * - Cria share link (download)\n * - Se for áudio: transcreve IGUAL aos nodes (OpenRouter + google/gemini-2.5-flash-lite usando \"image_url\" data:audio/*;base64)\n */\n\nconst axios = require('axios');\nconst fs = require('fs');\n\nfunction encodePath(p) {\n  return p.split('/').map(encodeURIComponent).join('/');\n}\n\nasync function ensureDavFolders(davBaseUrl, folderPath, auth) {\n  const parts = folderPath.split('/').filter(Boolean);\n  let current = '';\n\n  for (const part of parts) {\n    current = current ? `${current}/${part}` : part;\n    const url = `${davBaseUrl}/${encodePath(current)}`;\n\n    try {\n      await axios.request({ method: 'MKCOL', url, auth, timeout: 120000 });\n    } catch (error) {\n      const status = error?.response?.status;\n      // 405: já existe; 301/302: redirect; 409: parent missing (pode acontecer em alguns davs)\n      if (status === 405 || status === 301 || status === 302 || status === 409) continue;\n      throw error;\n    }\n  }\n}\n\nfunction formEncode(obj) {\n  return Object.entries(obj)\n    .map(([k, v]) => `${encodeURIComponent(k)}=${encodeURIComponent(String(v))}`)\n    .join('&');\n}\n\nfunction inferExt(mimeType, url) {\n  const mt = (mimeType || '').toLowerCase();\n  if (mt.includes('jpeg')) return 'jpg';\n  if (mt.includes('png')) return 'png';\n  if (mt.includes('webp')) return 'webp';\n  if (mt.includes('gif')) return 'gif';\n  if (mt.includes('mp4')) return 'mp4';\n  if (mt.includes('mpeg')) return 'mp3';\n  if (mt.includes('mp3')) return 'mp3';\n  if (mt.includes('wav')) return 'wav';\n  if (mt.includes('ogg')) return 'ogg';\n  if (mt.includes('pdf')) return 'pdf';\n\n  try {\n    const clean = String(url || '').split('?')[0].split('#')[0];\n    const last = clean.split('/').pop() || '';\n    if (last.includes('.')) {\n      const ext = last.split('.').pop();\n      if (ext && ext.length <= 6) return ext.toLowerCase().replace(/[^a-z0-9]/g, '');\n    }\n  } catch (_) {}\n\n  return 'bin';\n}\n\nfunction suffixFor(type, ext, mimeType) {\n  const t = (type || '').toLowerCase();\n  const mt = (mimeType || '').toLowerCase();\n  if (t === 'audio') return '#audio';\n  if (t === 'image') return '#image';\n  if (t === 'video') return '#video';\n  if (t === 'file' && (ext || '').toLowerCase() === 'pdf') return '#pdf';\n  if (mt.startsWith('audio/')) return '#audio';\n  if (mt.startsWith('image/')) return '#image';\n  if (mt.startsWith('video/')) return '#video';\n  return '#document';\n}\n\nasync function downloadAttachment(url, pageToken) {\n  const attempt = async (headers) => {\n    const resp = await axios.get(url, {\n      responseType: 'arraybuffer',\n      headers,\n      timeout: 120000,\n      maxBodyLength: Infinity,\n      maxContentLength: Infinity,\n      validateStatus: () => true,\n      maxRedirects: 5,\n    });\n    return resp;\n  };\n\n  let resp = await attempt(pageToken ? { Authorization: `Bearer ${pageToken}` } : undefined);\n  if (resp.status < 200 || resp.status >= 300) resp = await attempt(undefined);\n\n  if (resp.status < 200 || resp.status >= 300) {\n    return { ok: false, status: resp.status, data: resp.data };\n  }\n\n  return {\n    ok: true,\n    status: resp.status,\n    buffer: Buffer.from(resp.data),\n    mimeType: resp.headers?.['content-type'] || '',\n  };\n}\n\n// === Transcrição igual aos seus nodes (OpenRouter + Gemini flash lite usando \"image_url\" com data:audio/*;base64) ===\nasync function transcribeOpenRouterLikeNodes(openrouterKey, fileBuffer, mimeType) {\n  const b64 = fileBuffer.toString('base64');\n\n  // No seu node você usa data:audio/mp3;base64, ...\n  // Aqui a gente usa o mime real quando for áudio, senão cai em audio/mpeg\n  const safeMime = (mimeType && mimeType.toLowerCase().startsWith('audio/')) ? mimeType : 'audio/mpeg';\n\n  const resp = await axios.post(\n    'https://openrouter.ai/api/v1/chat/completions',\n    {\n      model: 'google/gemini-2.5-flash-lite',\n      messages: [\n        {\n          role: 'user',\n          content: [\n            { type: 'text', text: 'faça a trancrição exata do audio.' },\n            {\n              type: 'image_url',\n              image_url: {\n                url: `data:${safeMime};base64,${b64}`,\n              },\n            },\n          ],\n        },\n      ],\n    },\n    {\n      headers: {\n        Authorization: `Bearer ${openrouterKey}`,\n        'Content-Type': 'application/json',\n      },\n      timeout: 180000,\n      maxBodyLength: Infinity,\n      maxContentLength: Infinity,\n    }\n  );\n\n  return String(resp?.data?.choices?.[0]?.message?.content || '').trim();\n}\n\n// ===================== EXECUÇÃO (n8n) =====================\n\nconst secrets = $('Fetch Project Secrets').first().json || {};\n\nlet nextcloudBase = String(secrets.nextcloud_base_url || process.env.NEXTCLOUD_BASE_URL || '');\nwhile (nextcloudBase.endsWith('/')) nextcloudBase = nextcloudBase.slice(0, -1);\n\nconst nextcloudUser = String(\n  secrets.nextcloud_username || process.env.NEXTCLOUD_USERNAME || process.env.NEXTCLOUD_USER || ''\n);\nconst nextcloudPass = String(\n  secrets.nextcloud_password || process.env.NEXTCLOUD_PASSWORD || process.env.NEXTCLOUD_PASS || ''\n);\nconst mediaRoot = String(secrets.nextcloud_media_root || process.env.NEXTCLOUD_MEDIA_ROOT || 'SuperBotMedia');\n\nconst openrouterKey = String(secrets.openrouter_api_key || process.env.OPENROUTER_API_KEY || '');\n\nconst auth = { username: nextcloudUser, password: nextcloudPass };\nconst davBaseUrl = `${nextcloudBase}/remote.php/dav/files/${encodeURIComponent(nextcloudUser)}`;\n\nconst pageToken = String($('dados principais').item.json.access_token || '');\nconst projectId = String($('dados principais').item.json.project_id || 'unknown_project');\nconst channelType = 'instagram';\nconst conversationId = String($('dados principais').item.json.numero_conversa || 'unknown_conversation');\n\n// ✅ Processa só 1 item\nconst it = $input.first();\n\nif (!nextcloudBase || !nextcloudUser || !nextcloudPass) {\n  return [\n    {\n      json: {\n        success: false,\n        attachment_index: it?.json?.attachment_index,\n        attachment_type: it?.json?.attachment_type,\n        original_url: it?.json?.attachment_url || '',\n        note: 'Missing Nextcloud credentials (global_secrets/project_secrets/env).',\n      },\n    },\n  ];\n}\n\nconst now = new Date();\nconst yyyy = String(now.getUTCFullYear());\nconst mm = String(now.getUTCMonth() + 1).padStart(2, '0');\nconst dd = String(now.getUTCDate()).padStart(2, '0');\n\nconst folderPath = `${mediaRoot}/${projectId}/${channelType}/${yyyy}/${mm}/${dd}/${conversationId}`;\nawait ensureDavFolders(davBaseUrl, folderPath, auth);\n\n// Guardrails para não derrubar o Task Runner\nconst MAX_INPUT_BYTES = 15 * 1024 * 1024; // limite de download (audio/video)\nconst attachmentUrl = String(it?.json?.attachment_url || '');\nconst attachmentType = String(it?.json?.attachment_type || 'file');\nconst attachmentIndex = it?.json?.attachment_index ?? 0;\n\nlet note = '';\nlet transcription = '';\nlet analysis = '';\n\ntry {\n  if (!attachmentUrl) {\n    return [\n      {\n        json: {\n          success: false,\n          attachment_index: attachmentIndex,\n          attachment_type: attachmentType,\n          original_url: '',\n          note: 'Missing attachment URL.',\n        },\n      },\n    ];\n  }\n\n  const dl = await downloadAttachment(attachmentUrl, pageToken);\n  if (!dl.ok) {\n    return [\n      {\n        json: {\n          success: false,\n          attachment_index: attachmentIndex,\n          attachment_type: attachmentType,\n          original_url: attachmentUrl,\n          note: `Download failed (status ${dl.status}).`,\n        },\n      },\n    ];\n  }\n\n  const fileBuffer = dl.buffer;\n  const mimeType = dl.mimeType || 'application/octet-stream';\n\n  if (fileBuffer.length > MAX_INPUT_BYTES) {\n    return [\n      {\n        json: {\n          success: false,\n          attachment_index: attachmentIndex,\n          attachment_type: attachmentType,\n          original_url: attachmentUrl,\n          note: `Attachment too large (${fileBuffer.length} bytes).`,\n        },\n      },\n    ];\n  }\n\n  const ext = (inferExt(mimeType, attachmentUrl) || 'bin').replace(/[^a-z0-9]/gi, '').toLowerCase() || 'bin';\n  const suffix = suffixFor(attachmentType, ext, mimeType);\n\n  const iso = new Date().toISOString().replace(/[:.]/g, '-');\n  const filename = `${iso}-in-${String(attachmentIndex).padStart(2, '0')}.${ext}`;\n\n  // 1) Upload WebDAV\n  const davFileUrl = `${davBaseUrl}/${encodePath(folderPath)}/${encodeURIComponent(filename)}`;\n  await axios.put(davFileUrl, fileBuffer, {\n    auth,\n    headers: { 'Content-Type': mimeType },\n    timeout: 120000,\n    maxBodyLength: Infinity,\n    maxContentLength: Infinity,\n  });\n\n  // 2) Criar share link (Nextcloud OCS)\n  const shareApiUrl = `${nextcloudBase}/ocs/v2.php/apps/files_sharing/api/v1/shares?format=json`;\n  const shareResp = await axios.post(\n    shareApiUrl,\n    formEncode({ path: `/${folderPath}/${filename}`, shareType: 3, permissions: 1 }),\n    {\n      auth,\n      headers: {\n        'OCS-APIRequest': 'true',\n        'Content-Type': 'application/x-www-form-urlencoded',\n        Accept: 'application/json',\n      },\n      timeout: 120000,\n    }\n  );\n\n  const shareUrl = String(shareResp?.data?.ocs?.data?.url || '');\n  if (!shareUrl) {\n    throw new Error(`Nextcloud share API error: ${JSON.stringify(shareResp?.data)}`);\n  }\n\n  const downloadUrl = shareUrl.endsWith('/download') ? shareUrl : `${shareUrl}/download`;\n\n  // 3) Áudio: transcrever igual aos nodes\n  if (attachmentType.toLowerCase() === 'audio') {\n    if (!openrouterKey) {\n      note = 'Audio received, but openrouter_api_key is missing (cannot transcribe automatically).';\n    } else {\n      try {\n        transcription = await transcribeOpenRouterLikeNodes(openrouterKey, fileBuffer, mimeType);\n      } catch (e) {\n        note = `Transcription failed: ${e?.response?.data ? JSON.stringify(e.response.data) : e.message}`;\n      }\n    }\n  }\n\n  return [\n    {\n      json: {\n        success: true,\n        attachment_index: attachmentIndex,\n        attachment_type: attachmentType,\n        mime_type: mimeType,\n        original_url: attachmentUrl,\n        nextcloud: {\n          path: `/${folderPath}/${filename}`,\n          share_url: shareUrl,\n          download_url: downloadUrl,\n        },\n        suffix,\n        transcription,\n        analysis,\n        note,\n      },\n    },\n  ];\n} catch (e) {\n  return [\n    {\n      json: {\n        success: false,\n        attachment_index: attachmentIndex,\n        attachment_type: attachmentType,\n        original_url: attachmentUrl,\n        note: e?.response?.data ? JSON.stringify(e.response.data) : e.message,\n      },\n    },\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,336],"id":"19530e81-dad3-42e1-9fa3-1a9a6d9e0604","name":"Process Attachment (Nextcloud)"},{"parameters":{"jsCode":"const text = ($('dados principais').item.json.conteudo_mensagem_text || '').toString().trim();\n\nconst lines = [];\nif (text) lines.push(text);\n\nlines.push('📎 Mídias recebidas:');\n\nfor (const item of items) {\n  const downloadUrl = item.json.nextcloud?.download_url || '';\n  const suffix = item.json.suffix || '';\n  if (downloadUrl) {\n    lines.push(`${downloadUrl}${suffix}`);\n  }\n  if (item.json.transcription) {\n    lines.push(`Transcrição: ${String(item.json.transcription).trim()}`);\n  }\n  if (item.json.analysis) {\n    lines.push(`Descrição: ${String(item.json.analysis).trim()}`);\n  }\n}\n\nconst media = items.map((it) => ({\n  type: it.json.attachment_type,\n  url: (it.json.nextcloud?.download_url || '') + (it.json.suffix || ''),\n  download_url: it.json.nextcloud?.download_url || '',\n  share_url: it.json.nextcloud?.share_url || '',\n  path: it.json.nextcloud?.path || '',\n  original_url: it.json.original_url || '',\n  mime_type: it.json.mime_type || '',\n  transcription: it.json.transcription || '',\n  analysis: it.json.analysis || '',\n}));\n\nreturn {\n  json: {\n    final_user_message: lines.filter(Boolean).join('\\n'),\n    media,\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,352],"id":"35674364-58a7-48a2-85f5-6c566b1b367c","name":"Build Final User Message (Attachments)"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.conversation_events (\n  project_id,\n  channel_identifier,\n  channel_type,\n  conversation_id,\n  direction,\n  message_type,\n  text,\n  media,\n  raw_payload,\n  metadata\n)\nVALUES (\n  NULLIF('{{ $('dados principais').item.json.project_id || '' }}', '')::uuid,\n  '{{ $('dados principais').item.json.page_id }}',\n  'messenger',\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  'in',\n  'media',\n  '{{ ($json.final_user_message || '').replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.media || []).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($('Messenger Trigger').item.json.body, (k, v) => (k === 'access_token' || k === 'openrouter_api_key' || k === 'elevenlabs_api_key' || k === 'nextcloud_password' || k === 'meta_master_token' || k === 'gemini_api_key') ? undefined : v).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify({ timestamp: $('dados principais').item.json.Timestamp, has_attachments: $('dados principais').item.json.has_attachments }).replace(/'/g, \"''\") }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-480,400],"id":"6798d9a9-0394-4c46-a2dc-8e441c1f390a","name":"Log Inbound Media Event (Postgres)","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"final-user-message-text","name":"final_user_message","value":"={{ $('dados principais').item.json.conteudo_mensagem_text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-704,-128],"id":"f1f41565-a4dc-41b0-a3f6-2f8cdf5dc59c","name":"Final User Message (Text)"}],"connections":{"Messenger Trigger":{"main":[[{"node":"dados principais","type":"main","index":0}]]},"dados principais":{"main":[[{"node":"Fetch Project Secrets","type":"main","index":0},{"node":"Log Inbound Event (Postgres)","type":"main","index":0}]]},"Fetch Project Secrets":"[REDACTED]","Processar mensagem?":{"main":[[{"node":"Check #delete Command","type":"main","index":0}]]},"Tem texto?":{"main":[[{"node":"Final User Message (Text)","type":"main","index":0}],[{"node":"Responder apenas texto (Messenger)","type":"main","index":0}]]},"Check #delete Command":{"main":[[{"node":"reset-user-n8n_chat_histories","type":"main","index":0}],[{"node":"Gerenciar Usuario (Postgres)","type":"main","index":0}]]},"Gerenciar Usuario (Postgres)":{"main":[[{"node":"Tem anexos?","type":"main","index":0}]]},"Tem anexos?":{"main":[[{"node":"Prepare Attachments Items","type":"main","index":0}],[{"node":"Tem texto?","type":"main","index":0}]]},"Prepare Attachments Items":{"main":[[{"node":"Process Attachment (Nextcloud)","type":"main","index":0}]]},"Process Attachment (Nextcloud)":{"main":[[{"node":"Build Final User Message (Attachments)","type":"main","index":0}]]},"Build Final User Message (Attachments)":{"main":[[{"node":"Log Inbound Media Event (Postgres)","type":"main","index":0},{"node":"Call Livia apenas o agente","type":"main","index":0}]]},"Final User Message (Text)":{"main":[[{"node":"Call Livia apenas o agente","type":"main","index":0}]]},"Call Livia apenas o agente":{"main":[[{"node":"Tratar resposta","type":"main","index":0}]]},"Tratar resposta":{"main":[[{"node":"Reposta da orquestra","type":"main","index":0}]]},"Reposta da orquestra":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar mensagem (Messenger)":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"Log Outbound Event (Postgres)","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Enviar mensagem (Messenger)","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"reset-user-n8n_chat_histories":{"main":[[{"node":"Reset User Data (SQL)","type":"main","index":0}]]},"Reset User Data (SQL)":{"main":[[{"node":"Send Reset Confirmation","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[]}