backups/dentaly---lívia-agent-(whatsapp)-pEsIOkgs3TGjSCIP.json
{"updatedAt":"2026-01-16T00:08:40.620Z","createdAt":"2026-01-02T15:32:29.093Z","id":"pEsIOkgs3TGjSCIP","name":"Dentaly - Lívia Agent (WhatsApp)","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"bcb5a971-ab27-45a0-aadc-2a89dd825602","name":"tipo_mensagem","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].type }}","type":"string"},{"id":"67cee7b9-929e-4591-91e8-44b9a65d0bb5","name":"=numero_conversa","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}","type":"string"},{"id":"bfadd523-669f-4d04-a1f4-bd3a0372f770","name":"nome_cliente","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.contacts[0].profile.name }}","type":"string"},{"id":"c9dbd257-2979-492b-a3e6-f936cc5115cd","name":"Timestamp","value":"={{ new Date($('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].timestamp * 1000).toISOString() }}","type":"string"},{"id":"053bd299-ae94-4a24-a5e0-9466fd947be5","name":"conteudo_mensagem_text","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].text.body }}","type":"string"},{"id":"5720ad0d-e009-47d9-a742-f24320c5e0be","name":"TIMEOUT","value":1,"type":"number"},{"id":"070ebb8d-94e8-4b47-b5e0-5d0485ea2c8c","name":"conversation_id","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}","type":"string"},{"id":"4742b3b1-ef97-4682-a92e-b47d3165a9d7","name":"account_id","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}","type":"string"},{"id":"0c98f973-3a36-4cb9-8a05-7025c960fad7","name":"FROM-ME-WINDOW","value":"120","type":"string"},{"id":"2993c17e-a043-4323-8348-6527d1119f9b","name":"phone_number_id","value":"={{ $json.body.entry[0].changes[0].value.metadata.phone_number_id }}","type":"string"},{"id":"project-id-dynamic","name":"project_id","value":"={{ $('WhatsApp Trigger').item.json.body.metadata?.project_id }}","type":"string"},{"id":"access-token-dynamic","name":"access_token","value":"={{ $json.body.metadata?.access_token || $env.SUPERBOT_MASTER_TOKEN || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,3072],"id":"3e3cb302-03ca-41e0-96e9-5702661eef95","name":"dados principais"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.conversation_events (\n  project_id,\n  channel_identifier,\n  channel_type,\n  conversation_id,\n  direction,\n  message_type,\n  text,\n  raw_payload,\n  metadata\n)\nVALUES (\n  COALESCE(NULLIF('{{ $('dados principais').item.json.project_id || '' }}', ''), '1785d020-50f9-49a9-81d7-64927e3e6f96')::uuid,\n  '{{ $('dados principais').item.json.phone_number_id }}',\n  'whatsapp',\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  'in',\n  '{{ $('dados principais').item.json.tipo_mensagem }}',\n  '{{ ($('dados principais').item.json.conteudo_mensagem_text || '').replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($('WhatsApp Trigger').item.json.body).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify({ timestamp: $('dados principais').item.json.Timestamp }).replace(/'/g, \"''\") }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-320,3072],"id":"7e043782-cbc7-440e-81c5-01fb5e365bc6","name":"Log Inbound Event (Postgres)","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"dataToSave":{"values":[{"key":"[REDACTED]","value":"={{ $json.numero_conversa }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-96,3456],"id":"feabd9bc-c2d5-41c3-99af-588941d659c5","name":"Execution Data"},{"parameters":{"conditions":{"string":[{"value1":"={{ $('dados principais').item.json.conteudo_mensagem_text }}","operation":"contains","value2":"#delete"}]}},"id":"a7af1318-d01f-4dde-8af7-d54db1157726","name":"Check #delete Command","type":"n8n-nodes-base.if","typeVersion":1,"position":[-320,3264]},{"parameters":{"jsCode":"const axios = require('axios');\n\nconst recipientNumber = $('dados principais').first().json.numero_conversa;\nconst phoneNumberId = $('dados principais').first().json.phone_number_id\nconst token = $('dados principais').first().json.access_token;\n\nconst messageBody = '✅ Seus dados foram resetados com sucesso!\\n\\nVocê pode começar uma nova conversa do zero. Como posso te ajudar?';\n\nconst url = `https://graph.facebook.com/v20.0/${phoneNumberId}/messages`;\n\nconst data = {\n  messaging_product: \"whatsapp\",\n  recipient_type: \"individual\",\n  to: recipientNumber,\n  type: \"text\",\n  text: {\n    body: messageBody\n  }\n};\n\nconst config = {\n  headers: { \n    'Authorization': `Bearer ${token}`, \n    'Content-Type': 'application/json'\n  }\n};\n\nreturn axios.post(url, data, config)\n  .then(response => {\n    return {\n      json: {\n        success: true,\n        reset_complete: true,\n        user_id: recipientNumber,\n        data: response.data\n      }\n    };\n  })\n  .catch(error => {\n    return {\n      json: {\n        success: false,\n        error: error.response ? error.response.data : error.message\n      }\n    };\n  });"},"id":"a249ea86-0b33-43c6-8db7-306b73bef58b","name":"Send Reset Confirmation","type":"n8n-nodes-base.code","typeVersion":2,"position":[592,3072]},{"parameters":{"assignments":{"assignments":[{"id":"c53cd9f9-77c1-4331-98ff-bfc9bdf95a3c","name":"MESSAGE","type":"string","value":"={{ $('dados principais').item.json.conteudo_mensagem_text }}"}]},"options":{}},"id":"ff6057ee-f8af-4650-af52-3302fb97a12b","name":"Text","type":"n8n-nodes-base.set","position":[2368,3264],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"219577d5-b028-48fc-90be-980f4171ab68","name":"MESSAGE","type":"string","value":"={{ $json.choices[0].message.content }}"}]},"options":{}},"id":"27edfe1e-9aae-4f0d-b87e-880635013c4c","name":"Audio","type":"n8n-nodes-base.set","position":[2256,3056],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"MESSAGE","type":"string","value":"=User request on the image:\n{{  $('WhatsApp Trigger').item.json.messages[0].image.caption || \"Describe the following image\"  }}\n\nImage description:\n{{ $json.choices[0].message.content }}"}]},"options":{}},"id":"cc53a2e0-a34d-43b4-8742-b68ae18c2e5a","name":"Image","type":"n8n-nodes-base.set","position":[2368,3456],"typeVersion":3.4},{"parameters":{"operation":"send","phoneNumberId":"=470271332838881","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"=You can only send text messages, images, audio files and PDF documents.","additionalFields":{}},"id":"361a31ef-fdc9-4fbb-a10f-4620bcccc626","name":"Not supported","type":"n8n-nodes-base.whatsApp","position":[1472,3984],"webhookId":"7fbb0f36-766d-45d1-98e9-f058073e8ab8","typeVersion":1,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"08fd0c80-307e-4f45-b1de-35192ee4ec5e","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"text"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"b7b64446-f1ea-4622-990c-22f3999a8269","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"audio"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"202af928-a324-411a-bf15-68a349e7bf9e","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"image"}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"c63299e9-6069-4bc6-afb9-7beebf6e3d69","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"document"}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5d3f388-9922-4907-aafb-d70a3f43e8bc","leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"button","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"button"}]},"options":{"fallbackOutput":"extra"}},"id":"4fca3394-2cfc-4670-b1b3-fd9fca246f64","name":"Input type","type":"n8n-nodes-base.switch","position":[1248,3392],"typeVersion":3.2},{"parameters":{"amount":"={{ $('dados principais').item.json.TIMEOUT }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3264,3280],"id":"37b6d82f-f902-45a3-bd0e-ad4569b1caac","name":"TIMEOUT","webhookId":"1368f44f-896c-48d2-94df-575d0cae8b67"},{"parameters":{"assignments":{"assignments":[{"id":"c7ab23fd-cefa-4334-bd7a-3bc6d20c40f3","name":"final_user_message","value":"={{ $json.final_user_message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4608,3280],"id":"6dd2e17c-5fb1-4092-afca-52e8a49ba6be","name":"Guardar Mensagem Final do Usuário"},{"parameters":{"operation":"get","key":"[REDACTED]","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3488,3280],"id":"8adf5dad-ad21-48e3-9750-aca61b6b28de","name":"GET FINAL DEBOUNCE VALUE","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2539a6bb-4bc5-419b-85d6-a2a456b14cca","leftValue":"={{ $now.toISO() }}","rightValue":"={{ $json.propertyName }}","operator":{"type":"dateTime","operation":"afterOrEquals"}},{"id":"4b43c656-7f85-476b-b670-c53794fea280","leftValue":"={{ $json.propertyName }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3712,3280],"id":"c56cc421-d523-410a-9e84-ea5bb9ab6bb3","name":"IS BATCH READY FOR PROCESSING?"},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3936,3280],"id":"b813e7b2-7a4f-4ba6-9157-cb910307a92c","name":"DELETE CONTROL TIMER KEY","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"value","key":"[REDACTED]","options":{}},"name":"GET Acumulador Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2592,3280],"id":"87baf827-345e-4548-8e79-22a6fd825db6","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"jsCode":"// Recupera o array anterior salvo em Redis (via nó GET)\nconst current = JSON.parse($json.value || '[]');\n\n// Função para tentar acessar o .MESSAGE de um nó sem causar erro\nfunction getSafeMessage(nodeName) {\n  try {\n    const nodeData = $(nodeName).first();\n    return nodeData?.json?.MESSAGE || null;\n  } catch (err) {\n    return null;\n  }\n}\n\n// Tenta resgatar a mensagem do primeiro nó que estiver disponível\nconst nova =\n  getSafeMessage('Text') ||\n  getSafeMessage('Audio') ||\n  getSafeMessage('Image') ||\n  getSafeMessage('File') ||\n  getSafeMessage('button') ||\n  '';\n\n// Adiciona ao array\ncurrent.push(nova);\n\n// Retorna o array atualizado\nreturn [{ json: { updatedList: current } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2816,3280],"id":"bc1a759c-68f4-4839-aa33-b25e2ad33352","name":"Code3"},{"parameters":{"operation":"set","key":"[REDACTED]","value":"={{ JSON.stringify($json.updatedList) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3040,3280],"id":"5f9ca5a3-4b96-48c8-81a8-c53c95dc2e63","name":"Redis3","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"value","key":"[REDACTED]","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4160,3280],"id":"2499bdc7-621c-4ce0-8b64-317498aeac9e","name":"Redis4","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"jsCode":"const arr = JSON.parse($json.value || \"[]\");\nconst finalMsg = arr.join(\" \");\nreturn [{ json: { final_user_message: finalMsg } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4384,3280],"id":"7e78f04b-c852-4c27-844f-a8a2915430bd","name":"Code4"},{"parameters":{"operation":"set","key":"[REDACTED]","value":"={{ $now.plus($('dados principais').item.json.TIMEOUT*1000).toISO() }}","keyType":"=automatic"},"name":"SET/UPDATE USER DEBOUNCE TIMER","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1024,3456],"id":"8f32947d-32ab-4b4b-8dab-8c23fd9bac7f","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1c4cc85d-f7e6-40bb-a159-e44090a9beee","name":"MESSAGE","value":"={{$('WhatsApp Trigger').item.json.messages[0].button.text}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2368,3648],"id":"98e89a96-efef-4eca-8952-deba299df2f3","name":"button"},{"parameters":{"assignments":{"assignments":[{"id":"26fb2457-2dff-49d3-b7b4-256028ba1a05","name":"messages","value":"={{ $json.result.split(\"\\n\\n\") }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5568,3552],"id":"021e1027-164c-41dd-9cd7-7ad3c98cec9d","name":"Reposta da orquestra"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[6304,3280],"id":"f69cf11d-7c67-445d-9612-81dae9c916c9","name":"Limit"},{"parameters":{"fieldToSplitOut":"messages","options":{}},"id":"167727f7-cb35-4143-88a5-bd0938cb73c2","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5856,3552]},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[6528,3616],"id":"0ff509d7-a2b3-437d-b092-35a7583e4760","name":"Redis6","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[6080,3552],"id":"35cfb82d-a1cd-44d2-8ffc-338101495397","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6320,3712],"id":"ebbb923a-d31e-47fe-8407-91b0da149edc","name":"Wait1","webhookId":"c0dc1582-1c03-4bae-a2f0-da0812b6e657"},{"parameters":{"jsCode":"// Suponha que a string venha como item.input\nconst input = $input.first().json.output;\n\n// Substitui **qualquer_coisa** por *qualquer_coisa*\nconst output = input.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n\nreturn [{ json: { result: output } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5056,3280],"id":"82d82d49-09fa-421a-8471-b21ad5122913","name":"Tratar resposta"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/918516351342682/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"status\": \"read\",\n    \"message_id\": \"{{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].id }}\"\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,3456],"id":"53567840-0769-434b-a687-13318f1e18e2","name":"Digitando1","executeOnce":true,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78db572a-6379-4d64-871f-50d4f40f04c6","leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"d5a86ea7-c828-4536-b912-7a78e8aca0f3","name":"Check if Input was Audio","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5280,3280]},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/r2fkFV8WAqXq2AqBpgJT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"=[REDACTED]"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.audio_script }}"},{"name":"model_id","value":"eleven_multilingual_v2"},{"name":"voice_settings","value":"={{ {\n  \"stability\": 0.5,\n  \"similarity_boost\": 0.5\n} }}"}]},"options":{}},"id":"8f36372c-97d6-4b52-b008-7c93da3a349a","name":"Generate Audio (ElevenLabs)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6048,2992]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + \"[REDACTED]\" }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"google/gemini-2.5-flash-lite"},{"name":"messages","value":"={{ [\n  {\n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"faça a trancrição exata do audio.\"\n      },\n      {\n        \"type\": \"image_url\",\n        \"image_url\": {\n          \"url\": \"data:audio/mp3;base64,\" + $json.data\n        }\n      }\n    ]\n  }\n] }}"}]},"options":{}},"id":"f77492b8-ce64-4b9f-8b8d-85da80da8a1f","name":"Transcribe Audio (OpenRouter)","type":"n8n-nodes-base.httpRequest","position":[2064,3040],"typeVersion":4.2},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[7440,3200],"id":"450509e2-d9fe-4b16-a182-4329aff04124","name":"Redis7","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"operation":"executeQuery","query":"-- Gerenciar usuário multi-tenant com preservação de metadados\nINSERT INTO public.users (\n  id, \n  project_id,\n  name, \n  metadata, \n  created_at, \n  updated_at\n)\nVALUES (\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  NULLIF('1785d020-50f9-49a9-81d7-64927e3e6f96', 'null')::uuid,\n  '{{ $('dados principais').item.json.nome_cliente }}',\n  '{}'::jsonb,\n  NOW(),\n  NOW()\n)\nON CONFLICT (id, project_id) DO UPDATE SET\n  name = EXCLUDED.name,\n  updated_at = NOW()\nRETURNING *;","options":{}},"id":"042ccb56-6d4d-499b-bc55-057fc5f24210","name":"Gerenciar Usuario (Postgres)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[128,3456],"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.OPENROUTER_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"google/gemini-2.5-flash-lite"},{"name":"messages","value":"={{ [\n  {\n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"text\",\n        \"text\": $('WhatsApp Trigger').item.json.messages[0].image.caption + \"Analyze this image. Describe\" || \"Analyze this image. Describe.\"\n      },\n      {\n        \"type\": \"image_url\",\n        \"image_url\": {\n          \"url\": \"data:image/jpeg;base64,\" + $json.data\n        }\n      }\n    ]\n  }\n] }}"}]},"options":{}},"id":"7b9b599e-aba0-4d2a-b9e5-9a0011e3723c","name":"Analyze Image (OpenRouter)1","type":"n8n-nodes-base.httpRequest","position":[2144,3456],"typeVersion":4.2},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"67e10d88-2a9d-40b7-b64e-ffa4d1a12a4a","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[1696,3456],"typeVersion":4.2,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}}},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"},"id":"665ceeb9-358b-465b-ae90-61b00693615b","name":"Get Image Url","type":"n8n-nodes-base.whatsApp","position":[1472,3456],"webhookId":"0b60e968-9507-49be-8d21-c22b3f83f7e9","typeVersion":1,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1920,3456],"id":"c6df89b0-ecd0-4019-a506-316c2a390ba0","name":"Extract from File3"},{"parameters":{"method":"POST","url":"https://ai.superbot.digital/webhook/ocr-supremo","sendBody":true,"bodyParameters":{"parameters":[{"name":"documents","value":"={{ [{\n  \"media_url\": $('WhatsApp Trigger').item.json.messages[0].document.url\n}] }}"}]},"options":{}},"id":"e1d58648-6e51-4ca6-92e5-542560d40310","name":"OCR Webhook1","type":"n8n-nodes-base.httpRequest","position":[2144,3840],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"MESSAGE","type":"string","value":"=User request on the file:\n{{  $('WhatsApp Trigger').item.json.messages[0].document.caption || \"Describe this file\" }}\n\nFile content:\n{{ $json.data[0].texto }}"}]},"options":{}},"id":"c0d950bd-4614-4a2e-bf3b-799a1c302250","name":"File","type":"n8n-nodes-base.set","position":[2368,3840],"typeVersion":3.4},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-768,4208],"id":"405fe61f-02e9-44de-a235-d59c3ae9ae69","name":"Redis","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"httpMethod":"POST","path":"974324942422221","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-768,3072],"id":"32908da2-7748-4977-b780-72b9989bf095","name":"WhatsApp Trigger","webhookId":"4cdb113a-5b60-4022-8691-8738eb0ebff7"},{"parameters":{"jsCode":"const axios = require('axios');\n\n// === 1. CONFIGURAÇÕES ===\nconst token =  $('dados principais').item.json.access_token;\nconst phoneNumberId = $('dados principais').first().json.phone_number_id ||  $('dados principais').item.json.phone_number_id; \nconst recipientNumber = $('dados principais').first().json.numero_conversa;\n\n// === 2. PREPARAR O BINÁRIO ===\n// No n8n Code Node (v2), o binário vem em items[0].binary\nconst binaryKey = Object.keys(items[0].binary)[0];\nconst binaryData = items[0].binary[binaryKey];\nconst fileBuffer = Buffer.from(binaryData.data, 'base64');\n\n// === 3. CONSTRUIR O MULTIPART MANUALLY (Substituindo Form-Data) ===\nconst boundary = '----n8nBoundary' + Math.random().toString(16).slice(2);\nconst CRLF = '\\r\\n';\n\nlet postData = [];\n\n// Campo: messaging_product\npostData.push(Buffer.from('--' + boundary + CRLF));\npostData.push(Buffer.from('Content-Disposition: form-data; name=\"messaging_product\"' + CRLF + CRLF));\npostData.push(Buffer.from('whatsapp' + CRLF));\n\n// Campo: type\npostData.push(Buffer.from('--' + boundary + CRLF));\npostData.push(Buffer.from('Content-Disposition: form-data; name=\"type\"' + CRLF + CRLF));\npostData.push(Buffer.from('audio/mpeg' + CRLF));\n\n// Campo: file (O arquivo em si)\npostData.push(Buffer.from('--' + boundary + CRLF));\npostData.push(Buffer.from('Content-Disposition: form-data; name=\"file\"; filename=\"audio.mp3\"' + CRLF));\npostData.push(Buffer.from('Content-Type: audio/mpeg' + CRLF + CRLF));\npostData.push(fileBuffer);\npostData.push(Buffer.from(CRLF));\n\n// Fechamento da Boundary\npostData.push(Buffer.from('--' + boundary + '--' + CRLF));\n\nconst payload = Buffer.concat(postData);\n\ntry {\n  // === 4. PASSO 1: UPLOAD DA MÍDIA ===\n  const uploadRes = await axios.post(\n    `https://graph.facebook.com/v20.0/${phoneNumberId}/media`,\n    payload,\n    {\n      headers: {\n        'Authorization': `Bearer ${token}`,\n        'Content-Type': `multipart/form-data; boundary=${boundary}`\n      }\n    }\n  );\n\n  const mediaId = uploadRes.data.id;\n  \n  // === 5. PASSO 2: ENVIAR A MENSAGEM DE ÁUDIO ===\n  const sendRes = await axios.post(\n    `https://graph.facebook.com/v20.0/${phoneNumberId}/messages`,\n    {\n      messaging_product: \"whatsapp\",\n      recipient_type: \"individual\",\n      to: recipientNumber,\n      type: \"audio\",\n      audio: { id: mediaId }\n    },\n    {\n      headers: {\n        'Authorization': `Bearer ${token}`,\n        'Content-Type': 'application/json'\n      }\n    }\n  );\n\n  return {\n    json: {\n      success: true,\n      media_id: mediaId,\n      result: sendRes.data\n    }\n  };\n\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.response ? error.response.data : error.message\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6256,2832],"id":"5fe4a833-c7d8-4517-a617-db135efebd29","name":"send audio","alwaysOutputData":true},{"parameters":{"jsCode":"const axios = require('axios');\n\nfunction encodePath(path) {\n  return path.split('/').map(encodeURIComponent).join('/');\n}\n\nasync function ensureDavFolders(davBaseUrl, folderPath, auth) {\n  const parts = folderPath.split('/').filter(Boolean);\n  let current = '';\n\n  for (const part of parts) {\n    current = current ? `${current}/${part}` : part;\n    const url = `${davBaseUrl}/${encodePath(current)}`;\n\n    try {\n      await axios.request({ method: 'MKCOL', url, auth });\n    } catch (error) {\n      const status = error?.response?.status;\n      if (status === 405 || status === 301 || status === 302 || status === 409) {\n        continue;\n      }\n      throw error;\n    }\n  }\n}\n\nconst token = $('dados principais').item.json.access_token;\nconst phoneNumberId = $('dados principais').first().json.phone_number_id || $('dados principais').item.json.phone_number_id;\nconst recipientNumber = $('dados principais').first().json.numero_conversa;\n\nconst projectId = $('dados principais').item.json.project_id || 'unknown_project';\nconst channelType = 'whatsapp';\nconst conversationId = recipientNumber;\n\nconst nextcloudBase = 'https://aplicativos-nextcloud.gtzkxz.easypanel.host';\nconst nextcloudUser = 'superbot';\nconst nextcloudPass = 'W3A7j-cLgdZ-Mfr23-SPWwq-63Htj';\nconst mediaRoot ='SuperBotMedia';\n\nif (!nextcloudBase || !nextcloudUser || !nextcloudPass) {\n  throw new Error('Missing NEXTCLOUD_BASE_URL/NEXTCLOUD_USER/NEXTCLOUD_PASS');\n}\n\nconst auth = { username: nextcloudUser, password: nextcloudPass };\n\nconst binaryKey = Object.keys(items[0].binary || {})[0];\nif (!binaryKey) {\n  throw new Error('No binary data found');\n}\n\nconst binaryData = items[0].binary[binaryKey];\nconst fileBuffer = Buffer.from(binaryData.data, 'base64');\nconst mimeType = binaryData.mimeType || binaryData.mime_type || 'application/octet-stream';\n\nconst now = new Date();\nconst yyyy = String(now.getUTCFullYear());\nconst mm = String(now.getUTCMonth() + 1).padStart(2, '0');\nconst dd = String(now.getUTCDate()).padStart(2, '0');\nconst iso = now.toISOString().replace(/[:.]/g, '-');\n\nconst inferredExt = binaryData.fileExtension || (mimeType.includes('/') ? mimeType.split('/')[1] : 'bin');\nconst ext = String(inferredExt || 'bin').replace(/[^a-z0-9]/gi, '') || 'bin';\n\nconst folderPath = `${mediaRoot}/${projectId}/${channelType}/${yyyy}/${mm}/${dd}/${conversationId}`;\nconst filename = `${iso}-reply.${ext}`;\n\nconst davBaseUrl = `${nextcloudBase}/remote.php/dav/files/${encodeURIComponent(nextcloudUser)}`;\nawait ensureDavFolders(davBaseUrl, folderPath, auth);\n\nconst davFileUrl = `${davBaseUrl}/${encodePath(folderPath)}/${encodeURIComponent(filename)}`;\nawait axios.put(davFileUrl, fileBuffer, {\n  auth,\n  headers: {\n    'Content-Type': mimeType\n  }\n});\n\nconst shareApiUrl = `${nextcloudBase}/ocs/v2.php/apps/files_sharing/api/v1/shares?format=json`;\n\nfunction formEncode(obj) {\n  return Object.entries(obj)\n    .map(([k, v]) => `${encodeURIComponent(k)}=${encodeURIComponent(String(v))}`)\n    .join('&');\n}\n\nconst shareBody = formEncode({\n  path: `/${folderPath}/${filename}`,\n  shareType: 3,\n  permissions: 1,\n});\n\nconst shareResp = await axios.post(shareApiUrl, shareBody, {\n  auth,\n  headers: {\n    'OCS-APIRequest': 'true',\n    'Content-Type': 'application/x-www-form-urlencoded',\n    Accept: 'application/json',\n  },\n});\n\nconst shareUrl = shareResp?.data?.ocs?.data?.url;\nif (!shareUrl) {\n  throw new Error(`Nextcloud share API error: ${JSON.stringify(shareResp?.data)}`);\n}\n\nconst downloadUrl = shareUrl.endsWith('/download') ? shareUrl : `${shareUrl}/download`;\n\nconst waUrl = `https://graph.facebook.com/v20.0/${phoneNumberId}/messages`;\nconst sendRes = await axios.post(\n  waUrl,\n  {\n    messaging_product: 'whatsapp',\n    recipient_type: 'individual',\n    to: recipientNumber,\n    type: 'audio',\n    audio: { link: downloadUrl }\n  },\n  {\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json'\n    }\n  }\n);\n\nreturn {\n  json: {\n    success: true,\n    nextcloud: {\n      path: `/${folderPath}/${filename}`,\n      share_url: shareUrl,\n      download_url: downloadUrl\n    },\n    result: sendRes.data\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6256,3008],"id":"3786d636-3ffc-4c4e-8fb9-84d265fd91bc","name":"send audio (Nextcloud)"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.conversation_events (\n  project_id,\n  channel_identifier,\n  channel_type,\n  conversation_id,\n  direction,\n  message_type,\n  text,\n  media,\n  raw_payload\n)\nVALUES (\n  COALESCE(NULLIF('{{ $('dados principais').item.json.project_id || '' }}', ''), '1785d020-50f9-49a9-81d7-64927e3e6f96')::uuid,\n  '{{ $('dados principais').item.json.phone_number_id }}',\n  'whatsapp',\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  'out',\n  'audio',\n  '',\n  '{{ JSON.stringify({ type: 'audio', url: $json.nextcloud?.download_url, share_url: $json.nextcloud?.share_url, path: $json.nextcloud?.path }).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6752,3296],"id":"1f4bb07f-5077-4e4b-8093-e16441f2ff6d","name":"Log Outbound Audio Event (Postgres)","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.conversation_events (\n  project_id,\n  channel_identifier,\n  channel_type,\n  conversation_id,\n  direction,\n  message_type,\n  text,\n  media,\n  raw_payload\n)\nVALUES (\n  COALESCE(NULLIF('{{ $('dados principais').item.json.project_id || '' }}', ''), '1785d020-50f9-49a9-81d7-64927e3e6f96')::uuid,\n  '{{ $('dados principais').item.json.phone_number_id }}',\n  'whatsapp',\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  'out',\n  '{{ $json.mediaType || 'text' }}',\n  '{{ ($('Loop Over Items1').item.json.messages || '').replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify({ type: $json.mediaType || 'text', body: $('Loop Over Items1').item.json.messages || '' }).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6752,3808],"id":"ed905552-81c7-4a62-84cf-e4b4b6d9d399","name":"Log Outbound Loop Message (Postgres)","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.conversation_events (\n  project_id,\n  channel_identifier,\n  channel_type,\n  conversation_id,\n  direction,\n  message_type,\n  text,\n  media,\n  raw_payload\n)\nVALUES (\n  COALESCE(NULLIF('{{ $('dados principais').item.json.project_id || '' }}', ''), '1785d020-50f9-49a9-81d7-64927e3e6f96')::uuid,\n  '{{ $('dados principais').item.json.phone_number_id }}',\n  'whatsapp',\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  'out',\n  '{{ $json.mediaType || 'text' }}',\n  '{{ ($('Code in JavaScript').first().json.whatsapp_text || '').replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify({ type: $json.mediaType || 'text', body: $('Code in JavaScript').first().json.whatsapp_text || '' }).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[7328,2848],"id":"fb051cbb-04b6-4d63-8abf-6c2d8c39def5","name":"Log Outbound Text1 Message (Postgres)","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"jsCode":"const axios = require('axios');\n\n// Token do seu Usuário de Sistema\nconst token = $('dados principais').first().json.access_token;\n\n// Pega o ID do áudio dinamicamente do webhook\nconst mediaId = $('WhatsApp Trigger').first().json.body.entry[0].changes[0].value.messages[0].audio.id;\n\ntry {\n  // 1. Buscar a URL real de download (Metadados)\n  const metaRes = await axios.get(`https://graph.facebook.com/v21.0/${mediaId}`, {\n    headers: { 'Authorization': `Bearer ${token}` }\n  });\n\n  const downloadUrl = metaRes.data.url;\n\n  // 2. Baixar o arquivo binário direto da Meta\n  const audioRes = await axios.get(downloadUrl, {\n    headers: { 'Authorization': `Bearer ${token}` },\n    responseType: 'arraybuffer'\n  });\n\n  // 3. Converter para Base64 para o Gemini/OpenRouter\n  const base64Audio = Buffer.from(audioRes.data).toString('base64');\n\n  return {\n    json: {\n      data: base64Audio,\n      mime_type: metaRes.data.mime_type,\n      success: true\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.response ? error.response.data : error.message\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,3040],"id":"2eae0ea4-18bd-4de8-b15b-5e4b89976d32","name":"transformar audio em base64"},{"parameters":{"promptType":"define","text":"={{ $json.result }}","options":{"systemMessage":"# PERSONA: ELEVENLABS WHATSAPP ARCHITECT (JSON MODE)\n\nVocê é um motor de processamento de mensagens para WhatsApp. Sua função é receber um texto e transformá-lo em uma estrutura JSON que separa o conteúdo sonoro do conteúdo visual (links/cupons).\n\n## REGRAS DE CONVERSÃO\n1. **Atitude no Áudio:** Se houver links, cupons ou códigos no texto original, você deve removê-los do `audio_script` e substituí-los por uma menção natural (ex: \"vou te deixar o link aqui embaixo\", \"o cupom já tá na conversa\").\n2. **Otimização ElevenLabs:** O `audio_script` deve conter marcações prosódicas (..., vírgulas, exclamações) para soar humano e espontâneo.\n3. **Preservação de Texto:** O `whatsapp_text` deve conter a mensagem completa, incluindo links, cupons e formatação Markdown (negrito, etc).\n4. **Resumidor de Idioma:** Sempre responda no idioma que a mensagem chegou.\n\n## FORMATO DE SAÍDA (ESTRITAMENTE JSON)\n{\n  \"audio_script\": \"Texto otimizado para a ElevenLabs (sem links, com menção que o link foi enviado)\",\n  \"whatsapp_text\": \"Texto completo para o usuário ler, com links e cupons\",\n  \"has_links\": true/false,\n  \"language\": \"ISO code (ex: pt-BR)\"\n}\n\n## EXEMPLO\nEntrada: \"Confira nosso site https://surf.com e use o cupom SURF10 para 10% de desconto!\"\nSaída:\n{\n  \"audio_script\": \"Dá uma olhada no nosso site... eu acabei de te mandar o link aqui embaixo! Ah, e aproveita que tem um cupom de dez por cento de desconto também, tá bom? É só ver na mensagem!\",\n  \"whatsapp_text\": \"Confira nosso site: https://surf.com e use o cupom *SURF10* para 10% de desconto!\",\n  \"has_links\": true,\n  \"language\": \"pt-BR\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[5504,2992],"id":"6d7a7f68-9556-4497-a64d-ece4a637ee2b","name":"AI Agent1"},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[5584,3216],"id":"a8dbfc19-262a-49b7-b61c-fc40f7a1f410","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"Prux8qgwDlD6Yvje","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// Acessando os dados do nó anterior (IA)\nconst response = JSON.parse($input.first().json.output); // Supondo que a saída da IA esteja em 'output'\n\nreturn {\n  audio_script: response.audio_script,\n  whatsapp_text: response.whatsapp_text,\n  should_send_text: response.has_links,\n  language: response.language\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5856,2992],"id":"86116138-174a-4497-bc20-05f67d993086","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f42528b-7d34-435f-9748-1b2271af94d1","leftValue":"={{ $('Code in JavaScript').item.json.should_send_text }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6640,3024],"id":"7344739b-ab13-40ef-b009-041321896750","name":"enviar texto?"},{"parameters":{"jsCode":"// Importa o Axios\nconst axios = require('axios');\n\n// Pega os dados\nconst recipientNumber = $('dados principais').first().json.numero_conversa;\nlet messageBody = $('Loop Over Items1').item.json.messages;\nconst phoneNumberId = $('dados principais').first().json.phone_number_id || '974324942422221'; \nconst token = $('dados principais').first().json.access_token;\n\nconst url = `https://graph.facebook.com/v20.0/${phoneNumberId}/messages`;\n\n// Extrair URL de formato Markdown se necessário: ![texto](url)\nconst markdownMatch = messageBody.match(/!\\[.*?\\]\\((.*?)\\)/);\nif (markdownMatch) {\n  messageBody = markdownMatch[1];\n}\n\n// Detectar tipo de mídia pelo sufixo #image, #video, #document\nlet mediaType = null;\nlet cleanUrl = messageBody;\n\n// NOVO: Extrair URL com #image/#video/#document mesmo se tiver texto antes\nconst mediaUrlMatch = messageBody.match(/(https?:\\/\\/[^\\s]+#(?:image|video|document|pdf))/i);\nif (mediaUrlMatch) {\n  const fullMediaUrl = mediaUrlMatch[1];\n  if (fullMediaUrl.includes('#image')) {\n    mediaType = 'image';\n    cleanUrl = fullMediaUrl.replace('#image', '').trim();\n  } else if (fullMediaUrl.includes('#video')) {\n    mediaType = 'video';\n    cleanUrl = fullMediaUrl.replace('#video', '').trim();\n  } else if (fullMediaUrl.includes('#document') || fullMediaUrl.includes('#pdf')) {\n    mediaType = 'document';\n    cleanUrl = fullMediaUrl.replace(/#document|#pdf/g, '').trim();\n  }\n} else if (messageBody.includes('#image')) {\n  mediaType = 'image';\n  cleanUrl = messageBody.replace('#image', '').trim();\n} else if (messageBody.includes('#video')) {\n  mediaType = 'video';\n  cleanUrl = messageBody.replace('#video', '').trim();\n} else if (messageBody.includes('#document') || messageBody.includes('#pdf')) {\n  mediaType = 'document';\n  cleanUrl = messageBody.replace(/#document|#pdf/g, '').trim();\n}\n\nlet data;\nif (mediaType) {\n  // Enviar como mídia - ignora qualquer texto e envia só a imagem\n  data = {\n    messaging_product: \"whatsapp\",\n    recipient_type: \"individual\",\n    to: recipientNumber,\n    type: mediaType,\n    [mediaType]: {\n      link: cleanUrl\n    }\n  };\n} else {\n  // Enviar como texto\n  data = {\n    messaging_product: \"whatsapp\",\n    recipient_type: \"individual\",\n    to: recipientNumber,\n    type: \"text\",\n    text: {\n      body: messageBody\n    }\n  };\n}\n\nconst config = {\n  headers: { \n    'Authorization': `Bearer ${token}`, \n    'Content-Type': 'application/json'\n  }\n};\n\n// Retorna a Promise do Axios\nreturn axios.post(url, data, config)\n  .then(response => {\n    return {\n      json: {\n        success: true,\n        mediaType: mediaType || 'text',\n        data: response.data\n      }\n    };\n  })\n  .catch(error => {\n    return {\n      json: {\n        success: false,\n        error: error.response ? error.response.data : error.message\n      }\n    };\n  });"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6528,3808],"id":"ec9e6e68-1eab-49ee-8f0e-59746c6de533","name":"Enviar texto"},{"parameters":{"jsCode":"// Importa o Axios\nconst axios = require('axios');\n\n// Pega os dados\nconst recipientNumber = $('dados principais').first().json.numero_conversa;\nlet messageBody = $('Code in JavaScript').first().json.whatsapp_text;\nconst phoneNumberId = $('dados principais').first().json.phone_number_id || 'ID_PADRAO_SE_FALTAR'; \nconst token = $('dados principais').item.json.access_token; \n\nconst url = `https://graph.facebook.com/v24.0/${phoneNumberId}/messages`;\n\n// Extrair URL de formato Markdown se necessário: ![texto](url)\nconst markdownMatch = messageBody.match(/!\\[.*?\\]\\((.*?)\\)/);\nif (markdownMatch) {\n  messageBody = markdownMatch[1];\n}\n\n// Detectar tipo de mídia pelo sufixo #image, #video, #document\nlet mediaType = null;\nlet cleanUrl = messageBody;\n\n// NOVO: Extrair URL com #image/#video/#document mesmo se tiver texto antes\nconst mediaUrlMatch = messageBody.match(/(https?:\\/\\/[^\\s]+#(?:image|video|document|pdf))/i);\nif (mediaUrlMatch) {\n  const fullMediaUrl = mediaUrlMatch[1];\n  if (fullMediaUrl.includes('#image')) {\n    mediaType = 'image';\n    cleanUrl = fullMediaUrl.replace('#image', '').trim();\n  } else if (fullMediaUrl.includes('#video')) {\n    mediaType = 'video';\n    cleanUrl = fullMediaUrl.replace('#video', '').trim();\n  } else if (fullMediaUrl.includes('#document') || fullMediaUrl.includes('#pdf')) {\n    mediaType = 'document';\n    cleanUrl = fullMediaUrl.replace(/#document|#pdf/g, '').trim();\n  }\n} else if (messageBody.includes('#image')) {\n  mediaType = 'image';\n  cleanUrl = messageBody.replace('#image', '').trim();\n} else if (messageBody.includes('#video')) {\n  mediaType = 'video';\n  cleanUrl = messageBody.replace('#video', '').trim();\n} else if (messageBody.includes('#document') || messageBody.includes('#pdf')) {\n  mediaType = 'document';\n  cleanUrl = messageBody.replace(/#document|#pdf/g, '').trim();\n}\n\nlet data;\nif (mediaType) {\n  // Enviar como mídia - ignora qualquer texto e envia só a imagem\n  data = {\n    messaging_product: \"whatsapp\",\n    recipient_type: \"individual\",\n    to: recipientNumber,\n    type: mediaType,\n    [mediaType]: {\n      link: cleanUrl\n    }\n  };\n} else {\n  // Enviar como texto\n  data = {\n    messaging_product: \"whatsapp\",\n    recipient_type: \"individual\",\n    to: recipientNumber,\n    type: \"text\",\n    text: {\n      body: messageBody\n    }\n  };\n}\n\nconst config = {\n  headers: { \n    'Authorization': `Bearer ${token}`, \n    'Content-Type': 'application/json'\n  }\n};\n\n// Retorna a Promise do Axios\nreturn axios.post(url, data, config)\n  .then(response => {\n    return {\n      json: {\n        success: true,\n        mediaType: mediaType || 'text',\n        data: response.data\n      }\n    };\n  })\n  .catch(error => {\n    return {\n      json: {\n        success: false,\n        error: error.response ? error.response.data : error.message\n      }\n    };\n  });"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6944,2944],"id":"94d6eeca-90a2-4c69-aecb-cf6185bb384d","name":"Enviar texto1"},{"parameters":{"method":"POST","url":"https://ai.superbot.digital/webhook/check-client-dentaly","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('dados principais').first().json.numero_conversa }}"},{"name":"cpf","value":"={{ $('Gerenciar Usuario (Postgres)').item.json.metadata?.cpf }}"},{"name":"project_id","value":"1785d020-50f9-49a9-81d7-64927e3e6f96"}]},"options":{}},"id":"cf5d1e52-f93a-48f9-af22-1c3eea5f0a67","name":"Pre-Check Client","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,3456]},{"parameters":{"jsCode":"const clientData = $input.item.json;\nconst now = new Date();\nconst currentMonth = now.getMonth() + 1;\nconst currentYear = now.getFullYear();\n\n// Acessar metadata do usuário para verificar se já ofertou\nlet userMetadata = {};\ntry {\n  userMetadata = $('Gerenciar Usuario (Postgres)').item.json.metadata || {};\n} catch (e) {}\n\nconst offerKey = `offered_bday_${currentYear}`;\n\nlet context = \"\";\nlet birthdayMessage = \"\";\n\nif (clientData.status === 'client') {\n  context += `✅ [CLIENTE IDENTIFICADO]\\n`;\n  context += `Nome: ${clientData.name}\\n`;\n  context += `ID: ${clientData.id}\\n`;\n  \n  if (clientData.birthDate) {\n    try {\n      const parts = clientData.birthDate.split('T')[0].split('-');\n      const bMonth = parseInt(parts[1]);\n      const bDay = parseInt(parts[2]);\n\n      // Só oferta se for o mês E se ainda não tiver ofertado este ano\n      if (bMonth === currentMonth && !userMetadata[offerKey]) {\n        birthdayMessage = `🎉 MÊS DO ANIVERSÁRIO DETECTADO! O cliente faz aniversário dia ${bDay}/${bMonth}.\\n>>> AÇÃO PROATIVA: Diga algo como: 'Estou vendo aqui que é o mês do seu aniversário. Parabéns! A Dentaly vai lhe presentear com uma Profilaxia Oral (limpeza completa). Você tem 7 dias para agendar e pode realizar o procedimento dentro de até 60 dias. Se quiser, já posso ajudar a agendar para você agora mesmo!'\\n➡️ IMPORTANTE: Após fazer a oferta, chame a tool save_user_info com dynamic_info: { \"${offerKey}\": true } para não repetir.`;\n      }\n    } catch(e){}\n  }\n\n  if (clientData.hasUpcomingAppointments) {\n    const next = clientData.upcomingAppointments[0];\n    context += `📅 PRÓXIMO AGENDAMENTO: ${next.date} às ${next.time}\\n`;\n  } else {\n    context += `🚫 Sem agendamentos futuros.\\n`;\n  }\n  \n  if (clientData.pendingReminder) {\n    context += `⚠️ LEMBRETE PENDENTE: Consulta em ${clientData.pendingReminder.date} às ${clientData.pendingReminder.time}. Pergunte se confirma.\\n`;\n  }\n\n} else {\n  context += `❓ [CLIENTE NÃO IDENTIFICADO VIA TELEFONE]\\n`;\n  context += `Status: ${clientData.status}\\n`;\n  context += `Instrução: Tente solicitar o CPF para busca mais precisa.\\n`;\n}\n\nreturn {\n  json: {\n    client_context: context,\n    birthday_alert: birthdayMessage\n  }\n};"},"id":"6ecd16f2-7f46-46bf-b1b8-40a9ee7a53ea","name":"Format Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[576,3456]},{"parameters":{"workflowId":{"__rl":true,"value":"caAnMvnvVXE0mLvT","mode":"list","cachedResultUrl":"/workflow/caAnMvnvVXE0mLvT","cachedResultName":"Agente Livia"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero_conversa":"={{ $('dados principais').item.json.numero_conversa }}","final_user_message":"={{ $json.final_user_message }}","numero_conversa_firstItem":"={{ $('dados principais').first().json.numero_conversa }}","client_context":"={{ $('Format Context').item.json.client_context }}","birthday_alert":"={{ $('Format Context').item.json.birthday_alert }}","customer_name_split":"={{ $json.customer_name.split }}","id":"={{ $('Gerenciar Usuario (Postgres)').item.json.id }}","project_id":"={{ $('Gerenciar Usuario (Postgres)').item.json.project_id }}","channel_type":"={{ 'whatsapp' }}"},"matchingColumns":["numero_conversa","final_user_message","numero_conversa_firstItem","client_context","birthday_alert","customer_name_split","id","project_id","channel_type"],"schema":[{"id":"numero_conversa","displayName":"numero_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"final_user_message","displayName":"final_user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"numero_conversa_firstItem","displayName":"numero_conversa_firstItem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"client_context","displayName":"client_context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"birthday_alert","displayName":"birthday_alert","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"customer_name_split","displayName":"customer_name_split","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"project_id","displayName":"project_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"channel_type","displayName":"channel_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[4832,3280],"name":"Call Livia apenas o agente","id":"69492864-d14a-4526-8591-08744258c272"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $('dados principais').item.json.project_id + ':whatsapp:' + $('dados principais').item.json.numero_conversa }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[16,3184],"id":"1f9b7415-ab09-48fd-91cc-142d72148faf","name":"reset-user-n8n_chat_histories","alwaysOutputData":true,"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"deleteCommand":"delete","where":{"values":[{"column":"id","value":"={{ $('dados principais').item.json.numero_conversa }}"},{"column":"project_id","value":"={{ $('dados principais').item.json.project_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[304,3136],"id":"aeafe84f-9b18-4ba6-b59d-701fc56660ec","name":"Reset User Data (SQL)","alwaysOutputData":true,"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}}],"connections":{"dados principais":{"main":[[{"node":"Check #delete Command","type":"main","index":0},{"node":"Log Inbound Event (Postgres)","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"Gerenciar Usuario (Postgres)","type":"main","index":0}]]},"Check #delete Command":{"main":[[{"node":"reset-user-n8n_chat_histories","type":"main","index":0}],[{"node":"Execution Data","type":"main","index":0}]]},"Text":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Audio":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Image":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Input type":{"main":[[{"node":"Text","type":"main","index":0}],[{"node":"transformar audio em base64","type":"main","index":0}],[{"node":"Get Image Url","type":"main","index":0}],[{"node":"OCR Webhook1","type":"main","index":0}],[{"node":"button","type":"main","index":0}],[{"node":"Not supported","type":"main","index":0}]]},"TIMEOUT":{"main":[[{"node":"GET FINAL DEBOUNCE VALUE","type":"main","index":0}]]},"Guardar Mensagem Final do Usuário":{"main":[[{"node":"Call Livia apenas o agente","type":"main","index":0}]]},"GET FINAL DEBOUNCE VALUE":{"main":[[{"node":"IS BATCH READY FOR PROCESSING?","type":"main","index":0}]]},"IS BATCH READY FOR PROCESSING?":{"main":[[{"node":"DELETE CONTROL TIMER KEY","type":"main","index":0}]]},"DELETE CONTROL TIMER KEY":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"GET Acumulador Redis":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"TIMEOUT","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Guardar Mensagem Final do Usuário","type":"main","index":0}]]},"SET/UPDATE USER DEBOUNCE TIMER":{"main":[[{"node":"Input type","type":"main","index":0}]]},"button":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Reposta da orquestra":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Redis6","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Tratar resposta":{"main":[[{"node":"Check if Input was Audio","type":"main","index":0}]]},"Digitando1":{"main":[[{"node":"SET/UPDATE USER DEBOUNCE TIMER","type":"main","index":0}]]},"Check if Input was Audio":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Reposta da orquestra","type":"main","index":0}]]},"Generate Audio (ElevenLabs)":{"main":[[{"node":"send audio (Nextcloud)","type":"main","index":0},{"node":"send audio","type":"main","index":0}]]},"Transcribe Audio (OpenRouter)":{"main":[[{"node":"Audio","type":"main","index":0}]]},"Gerenciar Usuario (Postgres)":{"main":[[{"node":"Pre-Check Client","type":"main","index":0}]]},"Analyze Image (OpenRouter)1":{"main":[[{"node":"Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Extract from File3","type":"main","index":0}]]},"Get Image Url":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Extract from File3":{"main":[[{"node":"Analyze Image (OpenRouter)1","type":"main","index":0}]]},"OCR Webhook1":{"main":[[{"node":"File","type":"main","index":0}]]},"File":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"dados principais","type":"main","index":0}]]},"send audio":{"main":[[]]},"send audio (Nextcloud)":{"main":[[{"node":"Log Outbound Audio Event (Postgres)","type":"main","index":0},{"node":"enviar texto?","type":"main","index":0}]]},"transformar audio em base64":{"main":[[{"node":"Transcribe Audio (OpenRouter)","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Generate Audio (ElevenLabs)","type":"main","index":0}]]},"enviar texto?":{"main":[[{"node":"Enviar texto1","type":"main","index":0}],[{"node":"Redis7","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Loop Over Items1","type":"main","index":0},{"node":"Log Outbound Loop Message (Postgres)","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Redis7","type":"main","index":0},{"node":"Log Outbound Text1 Message (Postgres)","type":"main","index":0}]]},"Pre-Check Client":{"main":[[{"node":"Format Context","type":"main","index":0}]]},"Format Context":{"main":[[{"node":"Digitando1","type":"main","index":0}]]},"Call Livia apenas o agente":{"main":[[{"node":"Tratar resposta","type":"main","index":0}]]},"reset-user-n8n_chat_histories":{"main":[[{"node":"Reset User Data (SQL)","type":"main","index":0}]]},"Reset User Data (SQL)":{"main":[[{"node":"Send Reset Confirmation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"WhatsApp Trigger":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"axios/1.12.0","content-length":"829","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"object":"whatsapp_business_account","entry":[{"id":"1361504355063136","changes":[{"value":{"messaging_product":"whatsapp","metadata":{"display_phone_number":"559223981263","phone_number_id":"974324942422221"},"contacts":[{"profile":{"name":"Guy Folkz"},"wa_id":"555193299031"}],"messages":[{"from":"555193299031","id":"wamid.[REDACTED]=","timestamp":"1768519984","text":{"body":"#delete"},"type":"text"}]},"field":"messages"}]}],"metadata":{"project_id":"1785d020-50f9-49a9-81d7-64927e3e6f96","channel_identifier":"974324942422221","channel_type":"whatsapp","access_token":"[REDACTED]"}},"webhookUrl":"https://ai.superbot.digital/webhook/974324942422221","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"4c556501-adc3-4703-a19c-0b4b1e82f014","activeVersionId":"4c556501-adc3-4703-a19c-0b4b1e82f014","triggerCount":1,"shared":[{"updatedAt":"2026-01-02T15:32:29.093Z","createdAt":"2026-01-02T15:32:29.093Z","role":"workflow:owner","workflowId":"pEsIOkgs3TGjSCIP","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-16T00:08:40.622Z","createdAt":"2026-01-16T00:08:40.622Z","versionId":"4c556501-adc3-4703-a19c-0b4b1e82f014","workflowId":"pEsIOkgs3TGjSCIP","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"bcb5a971-ab27-45a0-aadc-2a89dd825602","name":"tipo_mensagem","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].type }}","type":"string"},{"id":"67cee7b9-929e-4591-91e8-44b9a65d0bb5","name":"=numero_conversa","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}","type":"string"},{"id":"bfadd523-669f-4d04-a1f4-bd3a0372f770","name":"nome_cliente","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.contacts[0].profile.name }}","type":"string"},{"id":"c9dbd257-2979-492b-a3e6-f936cc5115cd","name":"Timestamp","value":"={{ new Date($('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].timestamp * 1000).toISOString() }}","type":"string"},{"id":"053bd299-ae94-4a24-a5e0-9466fd947be5","name":"conteudo_mensagem_text","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].text.body }}","type":"string"},{"id":"5720ad0d-e009-47d9-a742-f24320c5e0be","name":"TIMEOUT","value":1,"type":"number"},{"id":"070ebb8d-94e8-4b47-b5e0-5d0485ea2c8c","name":"conversation_id","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}","type":"string"},{"id":"4742b3b1-ef97-4682-a92e-b47d3165a9d7","name":"account_id","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}","type":"string"},{"id":"0c98f973-3a36-4cb9-8a05-7025c960fad7","name":"FROM-ME-WINDOW","value":"120","type":"string"},{"id":"2993c17e-a043-4323-8348-6527d1119f9b","name":"phone_number_id","value":"={{ $json.body.entry[0].changes[0].value.metadata.phone_number_id }}","type":"string"},{"id":"project-id-dynamic","name":"project_id","value":"={{ $('WhatsApp Trigger').item.json.body.metadata?.project_id }}","type":"string"},{"id":"access-token-dynamic","name":"access_token","value":"={{ $json.body.metadata?.access_token || $env.SUPERBOT_MASTER_TOKEN || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,3072],"id":"3e3cb302-03ca-41e0-96e9-5702661eef95","name":"dados principais"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.conversation_events (\n  project_id,\n  channel_identifier,\n  channel_type,\n  conversation_id,\n  direction,\n  message_type,\n  text,\n  raw_payload,\n  metadata\n)\nVALUES (\n  COALESCE(NULLIF('{{ $('dados principais').item.json.project_id || '' }}', ''), '1785d020-50f9-49a9-81d7-64927e3e6f96')::uuid,\n  '{{ $('dados principais').item.json.phone_number_id }}',\n  'whatsapp',\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  'in',\n  '{{ $('dados principais').item.json.tipo_mensagem }}',\n  '{{ ($('dados principais').item.json.conteudo_mensagem_text || '').replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($('WhatsApp Trigger').item.json.body).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify({ timestamp: $('dados principais').item.json.Timestamp }).replace(/'/g, \"''\") }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-320,3072],"id":"7e043782-cbc7-440e-81c5-01fb5e365bc6","name":"Log Inbound Event (Postgres)","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"dataToSave":{"values":[{"key":"[REDACTED]","value":"={{ $json.numero_conversa }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-96,3456],"id":"feabd9bc-c2d5-41c3-99af-588941d659c5","name":"Execution Data"},{"parameters":{"conditions":{"string":[{"value1":"={{ $('dados principais').item.json.conteudo_mensagem_text }}","operation":"contains","value2":"#delete"}]}},"id":"a7af1318-d01f-4dde-8af7-d54db1157726","name":"Check #delete Command","type":"n8n-nodes-base.if","typeVersion":1,"position":[-320,3264]},{"parameters":{"jsCode":"const axios = require('axios');\n\nconst recipientNumber = $('dados principais').first().json.numero_conversa;\nconst phoneNumberId = $('dados principais').first().json.phone_number_id\nconst token = $('dados principais').first().json.access_token;\n\nconst messageBody = '✅ Seus dados foram resetados com sucesso!\\n\\nVocê pode começar uma nova conversa do zero. Como posso te ajudar?';\n\nconst url = `https://graph.facebook.com/v20.0/${phoneNumberId}/messages`;\n\nconst data = {\n  messaging_product: \"whatsapp\",\n  recipient_type: \"individual\",\n  to: recipientNumber,\n  type: \"text\",\n  text: {\n    body: messageBody\n  }\n};\n\nconst config = {\n  headers: { \n    'Authorization': `Bearer ${token}`, \n    'Content-Type': 'application/json'\n  }\n};\n\nreturn axios.post(url, data, config)\n  .then(response => {\n    return {\n      json: {\n        success: true,\n        reset_complete: true,\n        user_id: recipientNumber,\n        data: response.data\n      }\n    };\n  })\n  .catch(error => {\n    return {\n      json: {\n        success: false,\n        error: error.response ? error.response.data : error.message\n      }\n    };\n  });"},"id":"a249ea86-0b33-43c6-8db7-306b73bef58b","name":"Send Reset Confirmation","type":"n8n-nodes-base.code","typeVersion":2,"position":[592,3072]},{"parameters":{"assignments":{"assignments":[{"id":"c53cd9f9-77c1-4331-98ff-bfc9bdf95a3c","name":"MESSAGE","type":"string","value":"={{ $('dados principais').item.json.conteudo_mensagem_text }}"}]},"options":{}},"id":"ff6057ee-f8af-4650-af52-3302fb97a12b","name":"Text","type":"n8n-nodes-base.set","position":[2368,3264],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"219577d5-b028-48fc-90be-980f4171ab68","name":"MESSAGE","type":"string","value":"={{ $json.choices[0].message.content }}"}]},"options":{}},"id":"27edfe1e-9aae-4f0d-b87e-880635013c4c","name":"Audio","type":"n8n-nodes-base.set","position":[2256,3056],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"MESSAGE","type":"string","value":"=User request on the image:\n{{  $('WhatsApp Trigger').item.json.messages[0].image.caption || \"Describe the following image\"  }}\n\nImage description:\n{{ $json.choices[0].message.content }}"}]},"options":{}},"id":"cc53a2e0-a34d-43b4-8742-b68ae18c2e5a","name":"Image","type":"n8n-nodes-base.set","position":[2368,3456],"typeVersion":3.4},{"parameters":{"operation":"send","phoneNumberId":"=470271332838881","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"=You can only send text messages, images, audio files and PDF documents.","additionalFields":{}},"id":"361a31ef-fdc9-4fbb-a10f-4620bcccc626","name":"Not supported","type":"n8n-nodes-base.whatsApp","position":[1472,3984],"webhookId":"7fbb0f36-766d-45d1-98e9-f058073e8ab8","typeVersion":1,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"08fd0c80-307e-4f45-b1de-35192ee4ec5e","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"text"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"b7b64446-f1ea-4622-990c-22f3999a8269","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"audio"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"202af928-a324-411a-bf15-68a349e7bf9e","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"image"}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"c63299e9-6069-4bc6-afb9-7beebf6e3d69","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"document"}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5d3f388-9922-4907-aafb-d70a3f43e8bc","leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"button","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"button"}]},"options":{"fallbackOutput":"extra"}},"id":"4fca3394-2cfc-4670-b1b3-fd9fca246f64","name":"Input type","type":"n8n-nodes-base.switch","position":[1248,3392],"typeVersion":3.2},{"parameters":{"amount":"={{ $('dados principais').item.json.TIMEOUT }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3264,3280],"id":"37b6d82f-f902-45a3-bd0e-ad4569b1caac","name":"TIMEOUT","webhookId":"1368f44f-896c-48d2-94df-575d0cae8b67"},{"parameters":{"assignments":{"assignments":[{"id":"c7ab23fd-cefa-4334-bd7a-3bc6d20c40f3","name":"final_user_message","value":"={{ $json.final_user_message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4608,3280],"id":"6dd2e17c-5fb1-4092-afca-52e8a49ba6be","name":"Guardar Mensagem Final do Usuário"},{"parameters":{"operation":"get","key":"[REDACTED]","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3488,3280],"id":"8adf5dad-ad21-48e3-9750-aca61b6b28de","name":"GET FINAL DEBOUNCE VALUE","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2539a6bb-4bc5-419b-85d6-a2a456b14cca","leftValue":"={{ $now.toISO() }}","rightValue":"={{ $json.propertyName }}","operator":{"type":"dateTime","operation":"afterOrEquals"}},{"id":"4b43c656-7f85-476b-b670-c53794fea280","leftValue":"={{ $json.propertyName }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3712,3280],"id":"c56cc421-d523-410a-9e84-ea5bb9ab6bb3","name":"IS BATCH READY FOR PROCESSING?"},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3936,3280],"id":"b813e7b2-7a4f-4ba6-9157-cb910307a92c","name":"DELETE CONTROL TIMER KEY","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"value","key":"[REDACTED]","options":{}},"name":"GET Acumulador Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2592,3280],"id":"87baf827-345e-4548-8e79-22a6fd825db6","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"jsCode":"// Recupera o array anterior salvo em Redis (via nó GET)\nconst current = JSON.parse($json.value || '[]');\n\n// Função para tentar acessar o .MESSAGE de um nó sem causar erro\nfunction getSafeMessage(nodeName) {\n  try {\n    const nodeData = $(nodeName).first();\n    return nodeData?.json?.MESSAGE || null;\n  } catch (err) {\n    return null;\n  }\n}\n\n// Tenta resgatar a mensagem do primeiro nó que estiver disponível\nconst nova =\n  getSafeMessage('Text') ||\n  getSafeMessage('Audio') ||\n  getSafeMessage('Image') ||\n  getSafeMessage('File') ||\n  getSafeMessage('button') ||\n  '';\n\n// Adiciona ao array\ncurrent.push(nova);\n\n// Retorna o array atualizado\nreturn [{ json: { updatedList: current } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2816,3280],"id":"bc1a759c-68f4-4839-aa33-b25e2ad33352","name":"Code3"},{"parameters":{"operation":"set","key":"[REDACTED]","value":"={{ JSON.stringify($json.updatedList) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3040,3280],"id":"5f9ca5a3-4b96-48c8-81a8-c53c95dc2e63","name":"Redis3","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"value","key":"[REDACTED]","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4160,3280],"id":"2499bdc7-621c-4ce0-8b64-317498aeac9e","name":"Redis4","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"jsCode":"const arr = JSON.parse($json.value || \"[]\");\nconst finalMsg = arr.join(\" \");\nreturn [{ json: { final_user_message: finalMsg } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4384,3280],"id":"7e78f04b-c852-4c27-844f-a8a2915430bd","name":"Code4"},{"parameters":{"operation":"set","key":"[REDACTED]","value":"={{ $now.plus($('dados principais').item.json.TIMEOUT*1000).toISO() }}","keyType":"=automatic"},"name":"SET/UPDATE USER DEBOUNCE TIMER","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1024,3456],"id":"8f32947d-32ab-4b4b-8dab-8c23fd9bac7f","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1c4cc85d-f7e6-40bb-a159-e44090a9beee","name":"MESSAGE","value":"={{$('WhatsApp Trigger').item.json.messages[0].button.text}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2368,3648],"id":"98e89a96-efef-4eca-8952-deba299df2f3","name":"button"},{"parameters":{"assignments":{"assignments":[{"id":"26fb2457-2dff-49d3-b7b4-256028ba1a05","name":"messages","value":"={{ $json.result.split(\"\\n\\n\") }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5568,3552],"id":"021e1027-164c-41dd-9cd7-7ad3c98cec9d","name":"Reposta da orquestra"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[6304,3280],"id":"f69cf11d-7c67-445d-9612-81dae9c916c9","name":"Limit"},{"parameters":{"fieldToSplitOut":"messages","options":{}},"id":"167727f7-cb35-4143-88a5-bd0938cb73c2","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5856,3552]},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[6528,3616],"id":"0ff509d7-a2b3-437d-b092-35a7583e4760","name":"Redis6","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[6080,3552],"id":"35cfb82d-a1cd-44d2-8ffc-338101495397","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6320,3712],"id":"ebbb923a-d31e-47fe-8407-91b0da149edc","name":"Wait1","webhookId":"c0dc1582-1c03-4bae-a2f0-da0812b6e657"},{"parameters":{"jsCode":"// Suponha que a string venha como item.input\nconst input = $input.first().json.output;\n\n// Substitui **qualquer_coisa** por *qualquer_coisa*\nconst output = input.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n\nreturn [{ json: { result: output } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5056,3280],"id":"82d82d49-09fa-421a-8471-b21ad5122913","name":"Tratar resposta"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/918516351342682/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"status\": \"read\",\n    \"message_id\": \"{{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].id }}\"\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,3456],"id":"53567840-0769-434b-a687-13318f1e18e2","name":"Digitando1","executeOnce":true,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78db572a-6379-4d64-871f-50d4f40f04c6","leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"d5a86ea7-c828-4536-b912-7a78e8aca0f3","name":"Check if Input was Audio","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5280,3280]},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/r2fkFV8WAqXq2AqBpgJT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"=[REDACTED]"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.audio_script }}"},{"name":"model_id","value":"eleven_multilingual_v2"},{"name":"voice_settings","value":"={{ {\n  \"stability\": 0.5,\n  \"similarity_boost\": 0.5\n} }}"}]},"options":{}},"id":"8f36372c-97d6-4b52-b008-7c93da3a349a","name":"Generate Audio (ElevenLabs)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6048,2992]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + \"[REDACTED]\" }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"google/gemini-2.5-flash-lite"},{"name":"messages","value":"={{ [\n  {\n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"faça a trancrição exata do audio.\"\n      },\n      {\n        \"type\": \"image_url\",\n        \"image_url\": {\n          \"url\": \"data:audio/mp3;base64,\" + $json.data\n        }\n      }\n    ]\n  }\n] }}"}]},"options":{}},"id":"f77492b8-ce64-4b9f-8b8d-85da80da8a1f","name":"Transcribe Audio (OpenRouter)","type":"n8n-nodes-base.httpRequest","position":[2064,3040],"typeVersion":4.2},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[7440,3200],"id":"450509e2-d9fe-4b16-a182-4329aff04124","name":"Redis7","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"operation":"executeQuery","query":"-- Gerenciar usuário multi-tenant com preservação de metadados\nINSERT INTO public.users (\n  id, \n  project_id,\n  name, \n  metadata, \n  created_at, \n  updated_at\n)\nVALUES (\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  NULLIF('1785d020-50f9-49a9-81d7-64927e3e6f96', 'null')::uuid,\n  '{{ $('dados principais').item.json.nome_cliente }}',\n  '{}'::jsonb,\n  NOW(),\n  NOW()\n)\nON CONFLICT (id, project_id) DO UPDATE SET\n  name = EXCLUDED.name,\n  updated_at = NOW()\nRETURNING *;","options":{}},"id":"042ccb56-6d4d-499b-bc55-057fc5f24210","name":"Gerenciar Usuario (Postgres)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[128,3456],"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.OPENROUTER_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"google/gemini-2.5-flash-lite"},{"name":"messages","value":"={{ [\n  {\n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"text\",\n        \"text\": $('WhatsApp Trigger').item.json.messages[0].image.caption + \"Analyze this image. Describe\" || \"Analyze this image. Describe.\"\n      },\n      {\n        \"type\": \"image_url\",\n        \"image_url\": {\n          \"url\": \"data:image/jpeg;base64,\" + $json.data\n        }\n      }\n    ]\n  }\n] }}"}]},"options":{}},"id":"7b9b599e-aba0-4d2a-b9e5-9a0011e3723c","name":"Analyze Image (OpenRouter)1","type":"n8n-nodes-base.httpRequest","position":[2144,3456],"typeVersion":4.2},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"67e10d88-2a9d-40b7-b64e-ffa4d1a12a4a","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[1696,3456],"typeVersion":4.2,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}}},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"},"id":"665ceeb9-358b-465b-ae90-61b00693615b","name":"Get Image Url","type":"n8n-nodes-base.whatsApp","position":[1472,3456],"webhookId":"0b60e968-9507-49be-8d21-c22b3f83f7e9","typeVersion":1,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1920,3456],"id":"c6df89b0-ecd0-4019-a506-316c2a390ba0","name":"Extract from File3"},{"parameters":{"method":"POST","url":"https://ai.superbot.digital/webhook/ocr-supremo","sendBody":true,"bodyParameters":{"parameters":[{"name":"documents","value":"={{ [{\n  \"media_url\": $('WhatsApp Trigger').item.json.messages[0].document.url\n}] }}"}]},"options":{}},"id":"e1d58648-6e51-4ca6-92e5-542560d40310","name":"OCR Webhook1","type":"n8n-nodes-base.httpRequest","position":[2144,3840],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"MESSAGE","type":"string","value":"=User request on the file:\n{{  $('WhatsApp Trigger').item.json.messages[0].document.caption || \"Describe this file\" }}\n\nFile content:\n{{ $json.data[0].texto }}"}]},"options":{}},"id":"c0d950bd-4614-4a2e-bf3b-799a1c302250","name":"File","type":"n8n-nodes-base.set","position":[2368,3840],"typeVersion":3.4},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-768,4208],"id":"405fe61f-02e9-44de-a235-d59c3ae9ae69","name":"Redis","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"httpMethod":"POST","path":"974324942422221","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-768,3072],"id":"32908da2-7748-4977-b780-72b9989bf095","name":"WhatsApp Trigger","webhookId":"4cdb113a-5b60-4022-8691-8738eb0ebff7"},{"parameters":{"jsCode":"const axios = require('axios');\n\n// === 1. CONFIGURAÇÕES ===\nconst token =  $('dados principais').item.json.access_token;\nconst phoneNumberId = $('dados principais').first().json.phone_number_id ||  $('dados principais').item.json.phone_number_id; \nconst recipientNumber = $('dados principais').first().json.numero_conversa;\n\n// === 2. PREPARAR O BINÁRIO ===\n// No n8n Code Node (v2), o binário vem em items[0].binary\nconst binaryKey = Object.keys(items[0].binary)[0];\nconst binaryData = items[0].binary[binaryKey];\nconst fileBuffer = Buffer.from(binaryData.data, 'base64');\n\n// === 3. CONSTRUIR O MULTIPART MANUALLY (Substituindo Form-Data) ===\nconst boundary = '----n8nBoundary' + Math.random().toString(16).slice(2);\nconst CRLF = '\\r\\n';\n\nlet postData = [];\n\n// Campo: messaging_product\npostData.push(Buffer.from('--' + boundary + CRLF));\npostData.push(Buffer.from('Content-Disposition: form-data; name=\"messaging_product\"' + CRLF + CRLF));\npostData.push(Buffer.from('whatsapp' + CRLF));\n\n// Campo: type\npostData.push(Buffer.from('--' + boundary + CRLF));\npostData.push(Buffer.from('Content-Disposition: form-data; name=\"type\"' + CRLF + CRLF));\npostData.push(Buffer.from('audio/mpeg' + CRLF));\n\n// Campo: file (O arquivo em si)\npostData.push(Buffer.from('--' + boundary + CRLF));\npostData.push(Buffer.from('Content-Disposition: form-data; name=\"file\"; filename=\"audio.mp3\"' + CRLF));\npostData.push(Buffer.from('Content-Type: audio/mpeg' + CRLF + CRLF));\npostData.push(fileBuffer);\npostData.push(Buffer.from(CRLF));\n\n// Fechamento da Boundary\npostData.push(Buffer.from('--' + boundary + '--' + CRLF));\n\nconst payload = Buffer.concat(postData);\n\ntry {\n  // === 4. PASSO 1: UPLOAD DA MÍDIA ===\n  const uploadRes = await axios.post(\n    `https://graph.facebook.com/v20.0/${phoneNumberId}/media`,\n    payload,\n    {\n      headers: {\n        'Authorization': `Bearer ${token}`,\n        'Content-Type': `multipart/form-data; boundary=${boundary}`\n      }\n    }\n  );\n\n  const mediaId = uploadRes.data.id;\n  \n  // === 5. PASSO 2: ENVIAR A MENSAGEM DE ÁUDIO ===\n  const sendRes = await axios.post(\n    `https://graph.facebook.com/v20.0/${phoneNumberId}/messages`,\n    {\n      messaging_product: \"whatsapp\",\n      recipient_type: \"individual\",\n      to: recipientNumber,\n      type: \"audio\",\n      audio: { id: mediaId }\n    },\n    {\n      headers: {\n        'Authorization': `Bearer ${token}`,\n        'Content-Type': 'application/json'\n      }\n    }\n  );\n\n  return {\n    json: {\n      success: true,\n      media_id: mediaId,\n      result: sendRes.data\n    }\n  };\n\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.response ? error.response.data : error.message\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6256,2832],"id":"5fe4a833-c7d8-4517-a617-db135efebd29","name":"send audio","alwaysOutputData":true},{"parameters":{"jsCode":"const axios = require('axios');\n\nfunction encodePath(path) {\n  return path.split('/').map(encodeURIComponent).join('/');\n}\n\nasync function ensureDavFolders(davBaseUrl, folderPath, auth) {\n  const parts = folderPath.split('/').filter(Boolean);\n  let current = '';\n\n  for (const part of parts) {\n    current = current ? `${current}/${part}` : part;\n    const url = `${davBaseUrl}/${encodePath(current)}`;\n\n    try {\n      await axios.request({ method: 'MKCOL', url, auth });\n    } catch (error) {\n      const status = error?.response?.status;\n      if (status === 405 || status === 301 || status === 302 || status === 409) {\n        continue;\n      }\n      throw error;\n    }\n  }\n}\n\nconst token = $('dados principais').item.json.access_token;\nconst phoneNumberId = $('dados principais').first().json.phone_number_id || $('dados principais').item.json.phone_number_id;\nconst recipientNumber = $('dados principais').first().json.numero_conversa;\n\nconst projectId = $('dados principais').item.json.project_id || 'unknown_project';\nconst channelType = 'whatsapp';\nconst conversationId = recipientNumber;\n\nconst nextcloudBase = 'https://aplicativos-nextcloud.gtzkxz.easypanel.host';\nconst nextcloudUser = 'superbot';\nconst nextcloudPass = 'W3A7j-cLgdZ-Mfr23-SPWwq-63Htj';\nconst mediaRoot ='SuperBotMedia';\n\nif (!nextcloudBase || !nextcloudUser || !nextcloudPass) {\n  throw new Error('Missing NEXTCLOUD_BASE_URL/NEXTCLOUD_USER/NEXTCLOUD_PASS');\n}\n\nconst auth = { username: nextcloudUser, password: nextcloudPass };\n\nconst binaryKey = Object.keys(items[0].binary || {})[0];\nif (!binaryKey) {\n  throw new Error('No binary data found');\n}\n\nconst binaryData = items[0].binary[binaryKey];\nconst fileBuffer = Buffer.from(binaryData.data, 'base64');\nconst mimeType = binaryData.mimeType || binaryData.mime_type || 'application/octet-stream';\n\nconst now = new Date();\nconst yyyy = String(now.getUTCFullYear());\nconst mm = String(now.getUTCMonth() + 1).padStart(2, '0');\nconst dd = String(now.getUTCDate()).padStart(2, '0');\nconst iso = now.toISOString().replace(/[:.]/g, '-');\n\nconst inferredExt = binaryData.fileExtension || (mimeType.includes('/') ? mimeType.split('/')[1] : 'bin');\nconst ext = String(inferredExt || 'bin').replace(/[^a-z0-9]/gi, '') || 'bin';\n\nconst folderPath = `${mediaRoot}/${projectId}/${channelType}/${yyyy}/${mm}/${dd}/${conversationId}`;\nconst filename = `${iso}-reply.${ext}`;\n\nconst davBaseUrl = `${nextcloudBase}/remote.php/dav/files/${encodeURIComponent(nextcloudUser)}`;\nawait ensureDavFolders(davBaseUrl, folderPath, auth);\n\nconst davFileUrl = `${davBaseUrl}/${encodePath(folderPath)}/${encodeURIComponent(filename)}`;\nawait axios.put(davFileUrl, fileBuffer, {\n  auth,\n  headers: {\n    'Content-Type': mimeType\n  }\n});\n\nconst shareApiUrl = `${nextcloudBase}/ocs/v2.php/apps/files_sharing/api/v1/shares?format=json`;\n\nfunction formEncode(obj) {\n  return Object.entries(obj)\n    .map(([k, v]) => `${encodeURIComponent(k)}=${encodeURIComponent(String(v))}`)\n    .join('&');\n}\n\nconst shareBody = formEncode({\n  path: `/${folderPath}/${filename}`,\n  shareType: 3,\n  permissions: 1,\n});\n\nconst shareResp = await axios.post(shareApiUrl, shareBody, {\n  auth,\n  headers: {\n    'OCS-APIRequest': 'true',\n    'Content-Type': 'application/x-www-form-urlencoded',\n    Accept: 'application/json',\n  },\n});\n\nconst shareUrl = shareResp?.data?.ocs?.data?.url;\nif (!shareUrl) {\n  throw new Error(`Nextcloud share API error: ${JSON.stringify(shareResp?.data)}`);\n}\n\nconst downloadUrl = shareUrl.endsWith('/download') ? shareUrl : `${shareUrl}/download`;\n\nconst waUrl = `https://graph.facebook.com/v20.0/${phoneNumberId}/messages`;\nconst sendRes = await axios.post(\n  waUrl,\n  {\n    messaging_product: 'whatsapp',\n    recipient_type: 'individual',\n    to: recipientNumber,\n    type: 'audio',\n    audio: { link: downloadUrl }\n  },\n  {\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json'\n    }\n  }\n);\n\nreturn {\n  json: {\n    success: true,\n    nextcloud: {\n      path: `/${folderPath}/${filename}`,\n      share_url: shareUrl,\n      download_url: downloadUrl\n    },\n    result: sendRes.data\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6256,3008],"id":"3786d636-3ffc-4c4e-8fb9-84d265fd91bc","name":"send audio (Nextcloud)"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.conversation_events (\n  project_id,\n  channel_identifier,\n  channel_type,\n  conversation_id,\n  direction,\n  message_type,\n  text,\n  media,\n  raw_payload\n)\nVALUES (\n  COALESCE(NULLIF('{{ $('dados principais').item.json.project_id || '' }}', ''), '1785d020-50f9-49a9-81d7-64927e3e6f96')::uuid,\n  '{{ $('dados principais').item.json.phone_number_id }}',\n  'whatsapp',\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  'out',\n  'audio',\n  '',\n  '{{ JSON.stringify({ type: 'audio', url: $json.nextcloud?.download_url, share_url: $json.nextcloud?.share_url, path: $json.nextcloud?.path }).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6752,3296],"id":"1f4bb07f-5077-4e4b-8093-e16441f2ff6d","name":"Log Outbound Audio Event (Postgres)","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.conversation_events (\n  project_id,\n  channel_identifier,\n  channel_type,\n  conversation_id,\n  direction,\n  message_type,\n  text,\n  media,\n  raw_payload\n)\nVALUES (\n  COALESCE(NULLIF('{{ $('dados principais').item.json.project_id || '' }}', ''), '1785d020-50f9-49a9-81d7-64927e3e6f96')::uuid,\n  '{{ $('dados principais').item.json.phone_number_id }}',\n  'whatsapp',\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  'out',\n  '{{ $json.mediaType || 'text' }}',\n  '{{ ($('Loop Over Items1').item.json.messages || '').replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify({ type: $json.mediaType || 'text', body: $('Loop Over Items1').item.json.messages || '' }).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6752,3808],"id":"ed905552-81c7-4a62-84cf-e4b4b6d9d399","name":"Log Outbound Loop Message (Postgres)","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.conversation_events (\n  project_id,\n  channel_identifier,\n  channel_type,\n  conversation_id,\n  direction,\n  message_type,\n  text,\n  media,\n  raw_payload\n)\nVALUES (\n  COALESCE(NULLIF('{{ $('dados principais').item.json.project_id || '' }}', ''), '1785d020-50f9-49a9-81d7-64927e3e6f96')::uuid,\n  '{{ $('dados principais').item.json.phone_number_id }}',\n  'whatsapp',\n  '{{ $('dados principais').item.json.numero_conversa }}',\n  'out',\n  '{{ $json.mediaType || 'text' }}',\n  '{{ ($('Code in JavaScript').first().json.whatsapp_text || '').replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify({ type: $json.mediaType || 'text', body: $('Code in JavaScript').first().json.whatsapp_text || '' }).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[7328,2848],"id":"fb051cbb-04b6-4d63-8abf-6c2d8c39def5","name":"Log Outbound Text1 Message (Postgres)","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"jsCode":"const axios = require('axios');\n\n// Token do seu Usuário de Sistema\nconst token = $('dados principais').first().json.access_token;\n\n// Pega o ID do áudio dinamicamente do webhook\nconst mediaId = $('WhatsApp Trigger').first().json.body.entry[0].changes[0].value.messages[0].audio.id;\n\ntry {\n  // 1. Buscar a URL real de download (Metadados)\n  const metaRes = await axios.get(`https://graph.facebook.com/v21.0/${mediaId}`, {\n    headers: { 'Authorization': `Bearer ${token}` }\n  });\n\n  const downloadUrl = metaRes.data.url;\n\n  // 2. Baixar o arquivo binário direto da Meta\n  const audioRes = await axios.get(downloadUrl, {\n    headers: { 'Authorization': `Bearer ${token}` },\n    responseType: 'arraybuffer'\n  });\n\n  // 3. Converter para Base64 para o Gemini/OpenRouter\n  const base64Audio = Buffer.from(audioRes.data).toString('base64');\n\n  return {\n    json: {\n      data: base64Audio,\n      mime_type: metaRes.data.mime_type,\n      success: true\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.response ? error.response.data : error.message\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,3040],"id":"2eae0ea4-18bd-4de8-b15b-5e4b89976d32","name":"transformar audio em base64"},{"parameters":{"promptType":"define","text":"={{ $json.result }}","options":{"systemMessage":"# PERSONA: ELEVENLABS WHATSAPP ARCHITECT (JSON MODE)\n\nVocê é um motor de processamento de mensagens para WhatsApp. Sua função é receber um texto e transformá-lo em uma estrutura JSON que separa o conteúdo sonoro do conteúdo visual (links/cupons).\n\n## REGRAS DE CONVERSÃO\n1. **Atitude no Áudio:** Se houver links, cupons ou códigos no texto original, você deve removê-los do `audio_script` e substituí-los por uma menção natural (ex: \"vou te deixar o link aqui embaixo\", \"o cupom já tá na conversa\").\n2. **Otimização ElevenLabs:** O `audio_script` deve conter marcações prosódicas (..., vírgulas, exclamações) para soar humano e espontâneo.\n3. **Preservação de Texto:** O `whatsapp_text` deve conter a mensagem completa, incluindo links, cupons e formatação Markdown (negrito, etc).\n4. **Resumidor de Idioma:** Sempre responda no idioma que a mensagem chegou.\n\n## FORMATO DE SAÍDA (ESTRITAMENTE JSON)\n{\n  \"audio_script\": \"Texto otimizado para a ElevenLabs (sem links, com menção que o link foi enviado)\",\n  \"whatsapp_text\": \"Texto completo para o usuário ler, com links e cupons\",\n  \"has_links\": true/false,\n  \"language\": \"ISO code (ex: pt-BR)\"\n}\n\n## EXEMPLO\nEntrada: \"Confira nosso site https://surf.com e use o cupom SURF10 para 10% de desconto!\"\nSaída:\n{\n  \"audio_script\": \"Dá uma olhada no nosso site... eu acabei de te mandar o link aqui embaixo! Ah, e aproveita que tem um cupom de dez por cento de desconto também, tá bom? É só ver na mensagem!\",\n  \"whatsapp_text\": \"Confira nosso site: https://surf.com e use o cupom *SURF10* para 10% de desconto!\",\n  \"has_links\": true,\n  \"language\": \"pt-BR\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[5504,2992],"id":"6d7a7f68-9556-4497-a64d-ece4a637ee2b","name":"AI Agent1"},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[5584,3216],"id":"a8dbfc19-262a-49b7-b61c-fc40f7a1f410","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"Prux8qgwDlD6Yvje","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// Acessando os dados do nó anterior (IA)\nconst response = JSON.parse($input.first().json.output); // Supondo que a saída da IA esteja em 'output'\n\nreturn {\n  audio_script: response.audio_script,\n  whatsapp_text: response.whatsapp_text,\n  should_send_text: response.has_links,\n  language: response.language\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5856,2992],"id":"86116138-174a-4497-bc20-05f67d993086","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f42528b-7d34-435f-9748-1b2271af94d1","leftValue":"={{ $('Code in JavaScript').item.json.should_send_text }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6640,3024],"id":"7344739b-ab13-40ef-b009-041321896750","name":"enviar texto?"},{"parameters":{"jsCode":"// Importa o Axios\nconst axios = require('axios');\n\n// Pega os dados\nconst recipientNumber = $('dados principais').first().json.numero_conversa;\nlet messageBody = $('Loop Over Items1').item.json.messages;\nconst phoneNumberId = $('dados principais').first().json.phone_number_id || '974324942422221'; \nconst token = $('dados principais').first().json.access_token;\n\nconst url = `https://graph.facebook.com/v20.0/${phoneNumberId}/messages`;\n\n// Extrair URL de formato Markdown se necessário: ![texto](url)\nconst markdownMatch = messageBody.match(/!\\[.*?\\]\\((.*?)\\)/);\nif (markdownMatch) {\n  messageBody = markdownMatch[1];\n}\n\n// Detectar tipo de mídia pelo sufixo #image, #video, #document\nlet mediaType = null;\nlet cleanUrl = messageBody;\n\n// NOVO: Extrair URL com #image/#video/#document mesmo se tiver texto antes\nconst mediaUrlMatch = messageBody.match(/(https?:\\/\\/[^\\s]+#(?:image|video|document|pdf))/i);\nif (mediaUrlMatch) {\n  const fullMediaUrl = mediaUrlMatch[1];\n  if (fullMediaUrl.includes('#image')) {\n    mediaType = 'image';\n    cleanUrl = fullMediaUrl.replace('#image', '').trim();\n  } else if (fullMediaUrl.includes('#video')) {\n    mediaType = 'video';\n    cleanUrl = fullMediaUrl.replace('#video', '').trim();\n  } else if (fullMediaUrl.includes('#document') || fullMediaUrl.includes('#pdf')) {\n    mediaType = 'document';\n    cleanUrl = fullMediaUrl.replace(/#document|#pdf/g, '').trim();\n  }\n} else if (messageBody.includes('#image')) {\n  mediaType = 'image';\n  cleanUrl = messageBody.replace('#image', '').trim();\n} else if (messageBody.includes('#video')) {\n  mediaType = 'video';\n  cleanUrl = messageBody.replace('#video', '').trim();\n} else if (messageBody.includes('#document') || messageBody.includes('#pdf')) {\n  mediaType = 'document';\n  cleanUrl = messageBody.replace(/#document|#pdf/g, '').trim();\n}\n\nlet data;\nif (mediaType) {\n  // Enviar como mídia - ignora qualquer texto e envia só a imagem\n  data = {\n    messaging_product: \"whatsapp\",\n    recipient_type: \"individual\",\n    to: recipientNumber,\n    type: mediaType,\n    [mediaType]: {\n      link: cleanUrl\n    }\n  };\n} else {\n  // Enviar como texto\n  data = {\n    messaging_product: \"whatsapp\",\n    recipient_type: \"individual\",\n    to: recipientNumber,\n    type: \"text\",\n    text: {\n      body: messageBody\n    }\n  };\n}\n\nconst config = {\n  headers: { \n    'Authorization': `Bearer ${token}`, \n    'Content-Type': 'application/json'\n  }\n};\n\n// Retorna a Promise do Axios\nreturn axios.post(url, data, config)\n  .then(response => {\n    return {\n      json: {\n        success: true,\n        mediaType: mediaType || 'text',\n        data: response.data\n      }\n    };\n  })\n  .catch(error => {\n    return {\n      json: {\n        success: false,\n        error: error.response ? error.response.data : error.message\n      }\n    };\n  });"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6528,3808],"id":"ec9e6e68-1eab-49ee-8f0e-59746c6de533","name":"Enviar texto"},{"parameters":{"jsCode":"// Importa o Axios\nconst axios = require('axios');\n\n// Pega os dados\nconst recipientNumber = $('dados principais').first().json.numero_conversa;\nlet messageBody = $('Code in JavaScript').first().json.whatsapp_text;\nconst phoneNumberId = $('dados principais').first().json.phone_number_id || 'ID_PADRAO_SE_FALTAR'; \nconst token = $('dados principais').item.json.access_token; \n\nconst url = `https://graph.facebook.com/v24.0/${phoneNumberId}/messages`;\n\n// Extrair URL de formato Markdown se necessário: ![texto](url)\nconst markdownMatch = messageBody.match(/!\\[.*?\\]\\((.*?)\\)/);\nif (markdownMatch) {\n  messageBody = markdownMatch[1];\n}\n\n// Detectar tipo de mídia pelo sufixo #image, #video, #document\nlet mediaType = null;\nlet cleanUrl = messageBody;\n\n// NOVO: Extrair URL com #image/#video/#document mesmo se tiver texto antes\nconst mediaUrlMatch = messageBody.match(/(https?:\\/\\/[^\\s]+#(?:image|video|document|pdf))/i);\nif (mediaUrlMatch) {\n  const fullMediaUrl = mediaUrlMatch[1];\n  if (fullMediaUrl.includes('#image')) {\n    mediaType = 'image';\n    cleanUrl = fullMediaUrl.replace('#image', '').trim();\n  } else if (fullMediaUrl.includes('#video')) {\n    mediaType = 'video';\n    cleanUrl = fullMediaUrl.replace('#video', '').trim();\n  } else if (fullMediaUrl.includes('#document') || fullMediaUrl.includes('#pdf')) {\n    mediaType = 'document';\n    cleanUrl = fullMediaUrl.replace(/#document|#pdf/g, '').trim();\n  }\n} else if (messageBody.includes('#image')) {\n  mediaType = 'image';\n  cleanUrl = messageBody.replace('#image', '').trim();\n} else if (messageBody.includes('#video')) {\n  mediaType = 'video';\n  cleanUrl = messageBody.replace('#video', '').trim();\n} else if (messageBody.includes('#document') || messageBody.includes('#pdf')) {\n  mediaType = 'document';\n  cleanUrl = messageBody.replace(/#document|#pdf/g, '').trim();\n}\n\nlet data;\nif (mediaType) {\n  // Enviar como mídia - ignora qualquer texto e envia só a imagem\n  data = {\n    messaging_product: \"whatsapp\",\n    recipient_type: \"individual\",\n    to: recipientNumber,\n    type: mediaType,\n    [mediaType]: {\n      link: cleanUrl\n    }\n  };\n} else {\n  // Enviar como texto\n  data = {\n    messaging_product: \"whatsapp\",\n    recipient_type: \"individual\",\n    to: recipientNumber,\n    type: \"text\",\n    text: {\n      body: messageBody\n    }\n  };\n}\n\nconst config = {\n  headers: { \n    'Authorization': `Bearer ${token}`, \n    'Content-Type': 'application/json'\n  }\n};\n\n// Retorna a Promise do Axios\nreturn axios.post(url, data, config)\n  .then(response => {\n    return {\n      json: {\n        success: true,\n        mediaType: mediaType || 'text',\n        data: response.data\n      }\n    };\n  })\n  .catch(error => {\n    return {\n      json: {\n        success: false,\n        error: error.response ? error.response.data : error.message\n      }\n    };\n  });"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6944,2944],"id":"94d6eeca-90a2-4c69-aecb-cf6185bb384d","name":"Enviar texto1"},{"parameters":{"method":"POST","url":"https://ai.superbot.digital/webhook/check-client-dentaly","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('dados principais').first().json.numero_conversa }}"},{"name":"cpf","value":"={{ $('Gerenciar Usuario (Postgres)').item.json.metadata?.cpf }}"},{"name":"project_id","value":"1785d020-50f9-49a9-81d7-64927e3e6f96"}]},"options":{}},"id":"cf5d1e52-f93a-48f9-af22-1c3eea5f0a67","name":"Pre-Check Client","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,3456]},{"parameters":{"jsCode":"const clientData = $input.item.json;\nconst now = new Date();\nconst currentMonth = now.getMonth() + 1;\nconst currentYear = now.getFullYear();\n\n// Acessar metadata do usuário para verificar se já ofertou\nlet userMetadata = {};\ntry {\n  userMetadata = $('Gerenciar Usuario (Postgres)').item.json.metadata || {};\n} catch (e) {}\n\nconst offerKey = `offered_bday_${currentYear}`;\n\nlet context = \"\";\nlet birthdayMessage = \"\";\n\nif (clientData.status === 'client') {\n  context += `✅ [CLIENTE IDENTIFICADO]\\n`;\n  context += `Nome: ${clientData.name}\\n`;\n  context += `ID: ${clientData.id}\\n`;\n  \n  if (clientData.birthDate) {\n    try {\n      const parts = clientData.birthDate.split('T')[0].split('-');\n      const bMonth = parseInt(parts[1]);\n      const bDay = parseInt(parts[2]);\n\n      // Só oferta se for o mês E se ainda não tiver ofertado este ano\n      if (bMonth === currentMonth && !userMetadata[offerKey]) {\n        birthdayMessage = `🎉 MÊS DO ANIVERSÁRIO DETECTADO! O cliente faz aniversário dia ${bDay}/${bMonth}.\\n>>> AÇÃO PROATIVA: Diga algo como: 'Estou vendo aqui que é o mês do seu aniversário. Parabéns! A Dentaly vai lhe presentear com uma Profilaxia Oral (limpeza completa). Você tem 7 dias para agendar e pode realizar o procedimento dentro de até 60 dias. Se quiser, já posso ajudar a agendar para você agora mesmo!'\\n➡️ IMPORTANTE: Após fazer a oferta, chame a tool save_user_info com dynamic_info: { \"${offerKey}\": true } para não repetir.`;\n      }\n    } catch(e){}\n  }\n\n  if (clientData.hasUpcomingAppointments) {\n    const next = clientData.upcomingAppointments[0];\n    context += `📅 PRÓXIMO AGENDAMENTO: ${next.date} às ${next.time}\\n`;\n  } else {\n    context += `🚫 Sem agendamentos futuros.\\n`;\n  }\n  \n  if (clientData.pendingReminder) {\n    context += `⚠️ LEMBRETE PENDENTE: Consulta em ${clientData.pendingReminder.date} às ${clientData.pendingReminder.time}. Pergunte se confirma.\\n`;\n  }\n\n} else {\n  context += `❓ [CLIENTE NÃO IDENTIFICADO VIA TELEFONE]\\n`;\n  context += `Status: ${clientData.status}\\n`;\n  context += `Instrução: Tente solicitar o CPF para busca mais precisa.\\n`;\n}\n\nreturn {\n  json: {\n    client_context: context,\n    birthday_alert: birthdayMessage\n  }\n};"},"id":"6ecd16f2-7f46-46bf-b1b8-40a9ee7a53ea","name":"Format Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[576,3456]},{"parameters":{"workflowId":{"__rl":true,"value":"caAnMvnvVXE0mLvT","mode":"list","cachedResultUrl":"/workflow/caAnMvnvVXE0mLvT","cachedResultName":"Agente Livia"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero_conversa":"={{ $('dados principais').item.json.numero_conversa }}","final_user_message":"={{ $json.final_user_message }}","numero_conversa_firstItem":"={{ $('dados principais').first().json.numero_conversa }}","client_context":"={{ $('Format Context').item.json.client_context }}","birthday_alert":"={{ $('Format Context').item.json.birthday_alert }}","customer_name_split":"={{ $json.customer_name.split }}","id":"={{ $('Gerenciar Usuario (Postgres)').item.json.id }}","project_id":"={{ $('Gerenciar Usuario (Postgres)').item.json.project_id }}","channel_type":"={{ 'whatsapp' }}"},"matchingColumns":["numero_conversa","final_user_message","numero_conversa_firstItem","client_context","birthday_alert","customer_name_split","id","project_id","channel_type"],"schema":[{"id":"numero_conversa","displayName":"numero_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"final_user_message","displayName":"final_user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"numero_conversa_firstItem","displayName":"numero_conversa_firstItem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"client_context","displayName":"client_context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"birthday_alert","displayName":"birthday_alert","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"customer_name_split","displayName":"customer_name_split","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"project_id","displayName":"project_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"channel_type","displayName":"channel_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[4832,3280],"name":"Call Livia apenas o agente","id":"69492864-d14a-4526-8591-08744258c272"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $('dados principais').item.json.project_id + ':whatsapp:' + $('dados principais').item.json.numero_conversa }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[16,3184],"id":"1f9b7415-ab09-48fd-91cc-142d72148faf","name":"reset-user-n8n_chat_histories","alwaysOutputData":true,"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"deleteCommand":"delete","where":{"values":[{"column":"id","value":"={{ $('dados principais').item.json.numero_conversa }}"},{"column":"project_id","value":"={{ $('dados principais').item.json.project_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[304,3136],"id":"aeafe84f-9b18-4ba6-b59d-701fc56660ec","name":"Reset User Data (SQL)","alwaysOutputData":true,"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}}],"connections":{"dados principais":{"main":[[{"node":"Check #delete Command","type":"main","index":0},{"node":"Log Inbound Event (Postgres)","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"Gerenciar Usuario (Postgres)","type":"main","index":0}]]},"Check #delete Command":{"main":[[{"node":"reset-user-n8n_chat_histories","type":"main","index":0}],[{"node":"Execution Data","type":"main","index":0}]]},"Text":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Audio":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Image":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Input type":{"main":[[{"node":"Text","type":"main","index":0}],[{"node":"transformar audio em base64","type":"main","index":0}],[{"node":"Get Image Url","type":"main","index":0}],[{"node":"OCR Webhook1","type":"main","index":0}],[{"node":"button","type":"main","index":0}],[{"node":"Not supported","type":"main","index":0}]]},"TIMEOUT":{"main":[[{"node":"GET FINAL DEBOUNCE VALUE","type":"main","index":0}]]},"Guardar Mensagem Final do Usuário":{"main":[[{"node":"Call Livia apenas o agente","type":"main","index":0}]]},"GET FINAL DEBOUNCE VALUE":{"main":[[{"node":"IS BATCH READY FOR PROCESSING?","type":"main","index":0}]]},"IS BATCH READY FOR PROCESSING?":{"main":[[{"node":"DELETE CONTROL TIMER KEY","type":"main","index":0}]]},"DELETE CONTROL TIMER KEY":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"GET Acumulador Redis":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"TIMEOUT","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Guardar Mensagem Final do Usuário","type":"main","index":0}]]},"SET/UPDATE USER DEBOUNCE TIMER":{"main":[[{"node":"Input type","type":"main","index":0}]]},"button":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Reposta da orquestra":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Redis6","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Tratar resposta":{"main":[[{"node":"Check if Input was Audio","type":"main","index":0}]]},"Digitando1":{"main":[[{"node":"SET/UPDATE USER DEBOUNCE TIMER","type":"main","index":0}]]},"Check if Input was Audio":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Reposta da orquestra","type":"main","index":0}]]},"Generate Audio (ElevenLabs)":{"main":[[{"node":"send audio (Nextcloud)","type":"main","index":0},{"node":"send audio","type":"main","index":0}]]},"Transcribe Audio (OpenRouter)":{"main":[[{"node":"Audio","type":"main","index":0}]]},"Gerenciar Usuario (Postgres)":{"main":[[{"node":"Pre-Check Client","type":"main","index":0}]]},"Analyze Image (OpenRouter)1":{"main":[[{"node":"Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Extract from File3","type":"main","index":0}]]},"Get Image Url":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Extract from File3":{"main":[[{"node":"Analyze Image (OpenRouter)1","type":"main","index":0}]]},"OCR Webhook1":{"main":[[{"node":"File","type":"main","index":0}]]},"File":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"dados principais","type":"main","index":0}]]},"send audio":{"main":[[]]},"send audio (Nextcloud)":{"main":[[{"node":"Log Outbound Audio Event (Postgres)","type":"main","index":0},{"node":"enviar texto?","type":"main","index":0}]]},"transformar audio em base64":{"main":[[{"node":"Transcribe Audio (OpenRouter)","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Generate Audio (ElevenLabs)","type":"main","index":0}]]},"enviar texto?":{"main":[[{"node":"Enviar texto1","type":"main","index":0}],[{"node":"Redis7","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Loop Over Items1","type":"main","index":0},{"node":"Log Outbound Loop Message (Postgres)","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Redis7","type":"main","index":0},{"node":"Log Outbound Text1 Message (Postgres)","type":"main","index":0}]]},"Pre-Check Client":{"main":[[{"node":"Format Context","type":"main","index":0}]]},"Format Context":{"main":[[{"node":"Digitando1","type":"main","index":0}]]},"Call Livia apenas o agente":{"main":[[{"node":"Tratar resposta","type":"main","index":0}]]},"reset-user-n8n_chat_histories":{"main":[[{"node":"Reset User Data (SQL)","type":"main","index":0}]]},"Reset User Data (SQL)":{"main":[[{"node":"Send Reset Confirmation","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[{"updatedAt":"2026-01-02T17:21:30.678Z","createdAt":"2026-01-02T17:21:30.678Z","id":"ZnlUtd5Un2HQcpz6","name":"dentaly"}]}