backups/dentaly---rag-ingestion-(with-chunking)-JetYpUFFIqmYwIZN.json
{"updatedAt":"2026-01-06T21:15:57.855Z","createdAt":"2026-01-06T14:12:50.708Z","id":"JetYpUFFIqmYwIZN","name":"Dentaly - RAG Ingestion (with Chunking)","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"rag-ingest","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[64,-80],"id":"0d3c21ab-081e-4552-80e4-5ddb5af5eb16","name":"Webhook (Docs)","webhookId":"269f363b-5825-4e0c-967b-1b91a893d730"},{"parameters":{"jsCode":"// Configurações\nconst CHUNK_SIZE = 600;\n\n// Dados de entrada\nconst content = $input.first().json.body.content;\nconst projectId = $input.first().json.body.project_id;\nconst title = $input.first().json.body.metadata?.title || 'Sem Título';\nconst source = $input.first().json.body.metadata?.source || 'API';\n\n// Divide por \"## \" (headers de seção)\nconst sections = content.split('## ').filter(s => s.trim());\n\nconst chunks = [];\nlet currentChunk = '';\n\nfor (let i = 0; i < sections.length; i++) {\n  const section = (i === 0 ? '' : '## ') + sections[i].trim();\n  \n  // Se seção é maior que CHUNK_SIZE, divide por \"---\" ou \"###\"\n  if (section.length > CHUNK_SIZE) {\n    if (currentChunk) {\n      chunks.push(currentChunk.trim());\n      currentChunk = '';\n    }\n    \n    // Tenta dividir por ---\n    const subParts = section.split('---').filter(p => p.trim());\n    for (const sub of subParts) {\n      if (sub.trim().length > 0) {\n        if (sub.length > CHUNK_SIZE) {\n          // Divide por ### se ainda grande\n          const miniParts = sub.split('### ').filter(p => p.trim());\n          for (let j = 0; j < miniParts.length; j++) {\n            const mini = (j > 0 ? '### ' : '') + miniParts[j].trim();\n            chunks.push(mini);\n          }\n        } else {\n          chunks.push(sub.trim());\n        }\n      }\n    }\n  }\n  // Se adicionar excede limite\n  else if ((currentChunk + ' ' + section).length > CHUNK_SIZE && currentChunk) {\n    chunks.push(currentChunk.trim());\n    currentChunk = section;\n  }\n  // Adiciona ao chunk atual\n  else {\n    currentChunk += (currentChunk ? ' ' : '') + section;\n  }\n}\n\n// Último chunk\nif (currentChunk.trim()) {\n  chunks.push(currentChunk.trim());\n}\n\n// Retorna\nreturn chunks.map((chunk, index) => ({\n  json: {\n    content: chunk,\n    project_id: projectId,\n    chunk_index: index,\n    total_chunks: chunks.length,\n    metadata: {\n      title,\n      source,\n      project_id: projectId,\n      chunk_index: index,\n      total_chunks: chunks.length\n    }\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,-80],"id":"4e91475d-0bff-45c4-9203-f0ecea6f776b","name":"Split into Chunks"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO public.project_knowledge_base (\n    project_id,\n    content,\n    metadata,\n    embedding\n)\nVALUES (\n    '{{ $('Split into Chunks').item.json.project_id }}'::uuid,\n    '{{ $('Split into Chunks').item.json.content.replace(/'/g, \"''\") }}',\n    '{{ JSON.stringify($('Split into Chunks').item.json.metadata).replace(/'/g, \"''\") }}'::jsonb,\n    '{{ JSON.stringify($json.data[0].embedding) }}'::vector\n)\nRETURNING id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[784,-80],"id":"27a0b647-4dd1-444e-b4cb-cec9526b606d","name":"Save to Vector Store","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1024,-80],"id":"ec8a015e-8019-4748-ba1a-7e33d2e2f8eb","name":"Aggregate Results"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"chunks_created\": {{ $json.data.length }},\n  \"ids\": {{ JSON.stringify($json.data.map(d => d.id)) }}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1264,-80],"id":"46a73e38-f7f1-456c-86c5-1a4cfc5d788a","name":"Respond to Webhook"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.content) }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,-64],"id":"d0359b7b-b1eb-4e73-ab86-4e05c16b0f15","name":"OpenAI Embeddings","credentials":{"openAiApi":{"id":"2tX5uZJLfXYaQKRZ","name":"OpenAi account 3"}}}],"connections":{"Webhook (Docs)":{"main":[[{"node":"Split into Chunks","type":"main","index":0}]]},"Split into Chunks":{"main":[[{"node":"OpenAI Embeddings","type":"main","index":0}]]},"Save to Vector Store":{"main":[[{"node":"Aggregate Results","type":"main","index":0}]]},"Aggregate Results":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenAI Embeddings":{"main":[[{"node":"Save to Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook (Docs)":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36","content-length":"4650","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7","content-type":"application/json","origin":"null","priority":"u=1, i","sec-ch-ua":"\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"177.10.2.193","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"177.10.2.193"},"params":{},"query":{},"body":{"project_id":"1785d020-50f9-49a9-81d7-64927e3e6f96","content":"# IDENTIDADE, POSICIONAMENTO E DIFERENCIAIS — DENTALY SAÚDE BUCAL INTEGRADA ## 1) Identidade da clínica **Nome:** Dentaly Saúde Bucal Integrada **Localização:** - Edifício Empire Center, 7º andar - Avenida Constantino Nery, 2789 - Bairro Chapada – Manaus – Amazonas – Brasil **Contexto geográfico:** - Clínica localizada em área urbana central de Manaus, no coração da região amazônica. **Experiência em odontologia:** - Mais de **25 anos de experiência em odontologia**, com atuação consolidada em Manaus. **Fundador e idealizador:** - Dr. Marcelo Lopes — Cirurgião-Dentista. --- ## 2) Posicionamento e propósito ### Proposta central - Clínica odontológica completa em um único local. - Reúne todas as especialidades odontológicas. - Atuação baseada em tecnologia avançada, odontologia minimamente invasiva e atendimento humanizado. ### Posicionamento - Referência nacional e internacional em odontologia moderna. - Foco em tratamentos seguros, previsíveis e confortáveis. ### Conceito-chave - **“Mais Tecnologia, Menos Dor.”** --- ## 3) Estrutura e tecnologia ### Centro cirúrgico próprio - Centro cirúrgico completo dentro da própria clínica. - Estrutura projetada conforme normas rigorosas de biossegurança. - Ambiente controlado, com monitoramento contínuo. - Permite realização de procedimentos de média e alta complexidade com segurança. ### Escaneamento intraoral - Tecnologia de escaneamento intraoral digital. - Substitui moldagens tradicionais com massas. - Proporciona mais conforto ao paciente. - Aumenta precisão e agilidade no planejamento dos tratamentos. ### Laser odontológico - Uso de tecnologia a laser em diversos procedimentos. - Reduz ou elimina necessidade de anestesia em alguns casos. - Evita ruído de instrumentos rotatórios. - Preserva tecidos saudáveis. - Reduz sangramento e acelera o pós-operatório. --- ## 4) Metodologia de tratamento — Sistema FASES® **Nome:** Sistema FASES® **Criador:** Dr. Marcelo Lopes **Tempo de desenvolvimento:** mais de 20 anos ### O que é - Metodologia própria que organiza diagnóstico e planejamento odontológico em etapas. - Cada caso é avaliado de forma integrada por uma equipe multidisciplinar. ### Como funciona - Os casos são apresentados ao corpo clínico. - A condução ocorre sob liderança de um diretor clínico responsável. - O objetivo é definir o melhor plano de tratamento para cada fase da vida do paciente. ### Benefícios - Planejamento global e integral. - Padronização da qualidade. - Maior previsibilidade clínica. - Redução de falhas. - Alinhamento entre todos os especialistas. --- ## 5) Equipe multidisciplinar ### Composição - Profissionais de todas as especialidades odontológicas. - Atuação conjunta ou sequencial conforme a necessidade do paciente. ### Diferencial - As decisões clínicas não são tomadas de forma isolada. - Os tratamentos são definidos em conjunto pelo corpo clínico. - Isso garante maior precisão, segurança e coerência no plano de tratamento. --- ## 6) Garantia de qualidade ### Garantia contratual - A Dentaly fornece **certificado de garantia permanente**, formalizado em contrato. ### Abrangência - Proteção contra defeitos de materiais utilizados. - Proteção contra falhas na execução dos procedimentos. ### Diferencial - Uma das poucas clínicas no Brasil a oferecer garantia contratual. - Parte da política de qualidade, transparência e segurança ao paciente. --- ## 7) História e valores ### Origem - A Dentaly nasce do sonho do Dr. Marcelo Lopes de reunir todos os especialistas em um único local. - Objetivo inicial: oferecer saúde bucal integral para todas as fases da vida. ### Evolução - Ao longo dos anos, tornou-se referência nacional e internacional. - Reconhecida pela odontologia sem dor e por métodos inovadores. ### Valores centrais - Humanização do atendimento. - Segurança. - Alta tecnologia. - Previsibilidade. - Conforto e bem-estar do paciente. --- ## 8) Resumo estratégico para uso da IA A Dentaly é: - Uma clínica odontológica completa, tecnológica e humanizada. - Estruturada com centro cirúrgico próprio, laser, escaneamento intraoral e metodologia FASES®. - Reconhecida pela odontologia sem dor e pela garantia contratual. A Dentaly oferece: - Todas as especialidades odontológicas. - Atendimento multidisciplinar integrado. - Planejamento personalizado. - Tratamentos modernos e minimamente invasivos.","metadata":{"title":"IDENTIDADE, POSICIONAMENTO E DIFERENCIAIS — DENTALY SAÚDE BUCAL INTEGRADA","source":"MANAGER_UI"}},"webhookUrl":"https://ai.superbot.digital/webhook/rag-ingest","executionMode":"production"}}]},"versionId":"4d3b6670-9caa-4fe3-96fa-89770eca6031","activeVersionId":"4d3b6670-9caa-4fe3-96fa-89770eca6031","triggerCount":1,"shared":[{"updatedAt":"2026-01-06T14:12:50.708Z","createdAt":"2026-01-06T14:12:50.708Z","role":"workflow:owner","workflowId":"JetYpUFFIqmYwIZN","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-06T17:57:48.800Z","createdAt":"2026-01-06T17:57:48.800Z","versionId":"4d3b6670-9caa-4fe3-96fa-89770eca6031","workflowId":"JetYpUFFIqmYwIZN","nodes":[{"parameters":{"httpMethod":"POST","path":"rag-ingest","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[64,-80],"id":"0d3c21ab-081e-4552-80e4-5ddb5af5eb16","name":"Webhook (Docs)","webhookId":"269f363b-5825-4e0c-967b-1b91a893d730"},{"parameters":{"jsCode":"// Configurações\nconst CHUNK_SIZE = 600;\n\n// Dados de entrada\nconst content = $input.first().json.body.content;\nconst projectId = $input.first().json.body.project_id;\nconst title = $input.first().json.body.metadata?.title || 'Sem Título';\nconst source = $input.first().json.body.metadata?.source || 'API';\n\n// Divide por \"## \" (headers de seção)\nconst sections = content.split('## ').filter(s => s.trim());\n\nconst chunks = [];\nlet currentChunk = '';\n\nfor (let i = 0; i < sections.length; i++) {\n  const section = (i === 0 ? '' : '## ') + sections[i].trim();\n  \n  // Se seção é maior que CHUNK_SIZE, divide por \"---\" ou \"###\"\n  if (section.length > CHUNK_SIZE) {\n    if (currentChunk) {\n      chunks.push(currentChunk.trim());\n      currentChunk = '';\n    }\n    \n    // Tenta dividir por ---\n    const subParts = section.split('---').filter(p => p.trim());\n    for (const sub of subParts) {\n      if (sub.trim().length > 0) {\n        if (sub.length > CHUNK_SIZE) {\n          // Divide por ### se ainda grande\n          const miniParts = sub.split('### ').filter(p => p.trim());\n          for (let j = 0; j < miniParts.length; j++) {\n            const mini = (j > 0 ? '### ' : '') + miniParts[j].trim();\n            chunks.push(mini);\n          }\n        } else {\n          chunks.push(sub.trim());\n        }\n      }\n    }\n  }\n  // Se adicionar excede limite\n  else if ((currentChunk + ' ' + section).length > CHUNK_SIZE && currentChunk) {\n    chunks.push(currentChunk.trim());\n    currentChunk = section;\n  }\n  // Adiciona ao chunk atual\n  else {\n    currentChunk += (currentChunk ? ' ' : '') + section;\n  }\n}\n\n// Último chunk\nif (currentChunk.trim()) {\n  chunks.push(currentChunk.trim());\n}\n\n// Retorna\nreturn chunks.map((chunk, index) => ({\n  json: {\n    content: chunk,\n    project_id: projectId,\n    chunk_index: index,\n    total_chunks: chunks.length,\n    metadata: {\n      title,\n      source,\n      project_id: projectId,\n      chunk_index: index,\n      total_chunks: chunks.length\n    }\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,-80],"id":"4e91475d-0bff-45c4-9203-f0ecea6f776b","name":"Split into Chunks"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO public.project_knowledge_base (\n    project_id,\n    content,\n    metadata,\n    embedding\n)\nVALUES (\n    '{{ $('Split into Chunks').item.json.project_id }}'::uuid,\n    '{{ $('Split into Chunks').item.json.content.replace(/'/g, \"''\") }}',\n    '{{ JSON.stringify($('Split into Chunks').item.json.metadata).replace(/'/g, \"''\") }}'::jsonb,\n    '{{ JSON.stringify($json.data[0].embedding) }}'::vector\n)\nRETURNING id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[784,-80],"id":"27a0b647-4dd1-444e-b4cb-cec9526b606d","name":"Save to Vector Store","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1024,-80],"id":"ec8a015e-8019-4748-ba1a-7e33d2e2f8eb","name":"Aggregate Results"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"chunks_created\": {{ $json.data.length }},\n  \"ids\": {{ JSON.stringify($json.data.map(d => d.id)) }}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1264,-80],"id":"46a73e38-f7f1-456c-86c5-1a4cfc5d788a","name":"Respond to Webhook"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.content) }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,-64],"id":"d0359b7b-b1eb-4e73-ab86-4e05c16b0f15","name":"OpenAI Embeddings","credentials":{"openAiApi":{"id":"2tX5uZJLfXYaQKRZ","name":"OpenAi account 3"}}}],"connections":{"Webhook (Docs)":{"main":[[{"node":"Split into Chunks","type":"main","index":0}]]},"Split into Chunks":{"main":[[{"node":"OpenAI Embeddings","type":"main","index":0}]]},"Save to Vector Store":{"main":[[{"node":"Aggregate Results","type":"main","index":0}]]},"Aggregate Results":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenAI Embeddings":{"main":[[{"node":"Save to Vector Store","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[]}