backups/elevenlabs---send-payment-okK52NvgEjnydUIL.json
{"updatedAt":"2026-01-10T18:10:53.827Z","createdAt":"2026-01-07T22:05:55.801Z","id":"okK52NvgEjnydUIL","name":"ElevenLabs - Send Payment","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"elevenlabs-send-payment","responseMode":"responseNode","options":{}},"id":"73baa975-2a63-48a5-8711-b1756d72c4d9","name":"Webhook - Send Payment","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1888,64],"webhookId":"elevenlabs-send-payment-v2"},{"parameters":{"jsCode":"// Função para formatar número de telefone brasileiro\nfunction formatBrazilianPhone(phone) {\n  if (!phone) return null;\n  \n  let cleaned = phone.replace(/\\D/g, '').replace(/^\\+/, '');\n  let formatted = cleaned;\n  \n  // Adicionar 55 se não tiver\n  if (!cleaned.startsWith('55')) {\n    formatted = '55' + cleaned;\n  }\n  \n  // CORRIGIR 9 DUPLICADO (14 dígitos: 55519932990031)\n  if (formatted.length === 14 && formatted[4] === '9' && formatted[5] === '9') {\n    formatted = formatted.slice(0, 5) + formatted.slice(6);\n  }\n  \n  // Se tiver 12 dígitos, adicionar 9\n  if (formatted.length === 12) {\n    formatted = formatted.slice(0, 4) + '9' + formatted.slice(4);\n  }\n  \n  // Se tiver menos de 12, adicionar DDD padrão 51\n  if (formatted.length < 12) {\n    formatted = '5551' + cleaned.replace(/^55/, '');\n    if (formatted.length === 12) {\n      formatted = formatted.slice(0, 4) + '9' + formatted.slice(4);\n    }\n  }\n  \n  // Validação final\n  if (formatted.length !== 13) {\n    console.error(`Número inválido: ${formatted} (${formatted.length} dígitos)`);\n    return null;\n  }\n  \n  return formatted;\n}\n\nconst pixFullCode = '00020101021126970014br.gov.bcb.[REDACTED] de Consulta de Boas Vindas5204000053039865406300.005802BR5919DENTALY S E E BUCAL6006MANAUS62070503***63040AD8';\nconst pixFullQR = 'https://aplicativos-nextcloud.gtzkxz.easypanel.host/s/MGPDPK4tq7WRfcB/download';\nconst pixHalfCode = '00020101021126910014br.gov.bcb.[REDACTED] da Consulta de Boas Vindas5204000053039865406150.005802BR5919DENTALY S E E BUCAL6006MANAUS62070503***630478B6';\nconst pixHalfQR = 'https://aplicativos-nextcloud.gtzkxz.easypanel.host/s/GoWszwqNsom4frR/download';\nconst cardLink = 'https://link.infinitepay.io/marcelo_lopes__/VC1DLTEtSQ-6vCwiyOyGR-340,00';\nconst whatsappComprovante = 'https://wa.me/555193448124';\n\nconst rawPhoneNumber = $input.item.json.body.phone_number;\nconst paymentMethod = $input.item.json.body.payment_method;\nconst customerName = $input.item.json.body.customer_name || 'Cliente';\n\nif (!rawPhoneNumber || !paymentMethod) {\n  return { error: true, message: 'phone_number e payment_method obrigatórios' };\n}\n\nconst phoneNumber = formatBrazilianPhone(rawPhoneNumber);\nconst phoneNumberWithout9 = phoneNumber ? phoneNumber.slice(0, 4) + phoneNumber.slice(5) : null;\n\nif (!phoneNumber) {\n  return { error: true, message: 'Número de telefone inválido' };\n}\n\nlet message = '';\nlet qrCodeUrl = null;\n\nswitch(paymentMethod) {\n  case 'pix_full':\n    message = `Olá ${customerName}! 😊\\n\\nAqui está o pagamento da sua *Consulta de Boas-Vindas na Dentaly*:\\n\\n💰 *Valor:* R$ 300,00\\n💳 *Forma:* PIX (Pagamento Integral)\\n\\n📱 *Código PIX Copia e Cola:*\\n${pixFullCode}\\n\\n⏰ *Validade:* 2 horas\\n\\n📸 *Após pagar, envie o comprovante aqui:*\\n👉 ${whatsappComprovante}\\n\\nQualquer dúvida, estamos à disposição! 💙\\n*Dentaly Saúde Bucal Integrada*`;\n    qrCodeUrl = pixFullQR;\n    break;\n  case 'pix_half':\n    message = `Olá ${customerName}! 😊\\n\\nAqui está o pagamento da *primeira parcela* da sua Consulta de Boas-Vindas:\\n\\n💰 *Valor:* R$ 150,00 (50%)\\n💳 *Forma:* PIX (Primeira Parcela)\\n\\n📱 *Código PIX Copia e Cola:*\\n${pixHalfCode}\\n\\n⏰ *Validade:* 2 horas\\n\\nℹ️ A segunda parcela de R$150 será cobrada no dia da consulta.\\n\\n📸 *Após pagar, envie o comprovante aqui:*\\n👉 ${whatsappComprovante}\\n\\nQualquer dúvida, estamos à disposição! 💙\\n*Dentaly Saúde Bucal Integrada*`;\n    qrCodeUrl = pixHalfQR;\n    break;\n  case 'card':\n    message = `Olá ${customerName}! 😊\\n\\nAqui está o link para pagamento da sua *Consulta de Boas-Vindas*:\\n\\n💰 *Valor:* R$ 340,00\\n💳 *Forma:* Cartão de Crédito\\n\\n🔗 *Link de Pagamento:*\\n${cardLink}\\n\\n✨ Você pode parcelar direto no link!\\n\\n⏰ *Validade:* 2 horas\\n\\n📸 *Após pagar, envie o comprovante aqui:*\\n👉 ${whatsappComprovante}\\n\\nQualquer dúvida, estamos à disposição! 💙\\n*Dentaly Saúde Bucal Integrada*`;\n    break;\n  default:\n    return { error: true, message: `Método inválido: ${paymentMethod}` };\n}\n\nreturn {\n  phone_number: phoneNumber,\n  phone_number_without_9: phoneNumberWithout9,\n  message: message,\n  payment_method: paymentMethod,\n  customer_name: customerName,\n  qr_code_url: qrCodeUrl,\n  retry_count: 0\n};"},"id":"2d83c5b6-769c-4e7b-a669-cdca6d75b843","name":"Build Payment Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,64]},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json; charset=utf-8"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=number","value":"={{ $json.phone_number }}"},{"name":"text","value":"={{ $json.message }}"}]},"options":{}},"id":"ba0d62cf-daa7-468b-9298-08b257a6d1de","name":"Send Text (First Try)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1488,64],"alwaysOutputData":true,"retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-error","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"any","operation":"exists"}}],"combinator":"or"},"options":{}},"id":"2f170244-d03a-427b-b53b-3c22223691b8","name":"Check if Failed","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1280,64]},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json; charset=utf-8"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=number","value":"={{ $('Build Payment Message').first().json.phone_number_without_9 }}"},{"name":"text","value":"={{ $('Build Payment Message').first().json.message }}"}]},"options":{}},"id":"362f3a2c-d8fa-4c6e-a493-1f85e84301e7","name":"Retry Without 9","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1072,-64],"alwaysOutputData":true,"retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{},"id":"95cd19b2-9a07-4312-887e-bd5c563cfadf","name":"Merge Attempts","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-880,64]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check-if-pix","leftValue":"={{ $('Build Payment Message').first().json.qr_code_url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"8ddfedd4-36cd-4d7f-a1ea-d60d93c45414","name":"Check if PIX","type":"n8n-nodes-base.if","typeVersion":2,"position":[-688,64]},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendMedia/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json; charset=utf-8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Build Payment Message').first().json.phone_number }}\",\n  \"mediatype\": \"image\",\n  \"media\": \"{{ $('Build Payment Message').first().json.qr_code_url }}\",\n  \"caption\": \"🔲 QR Code PIX - Escaneie para pagar\"\n}","options":{}},"id":"babbc0fb-9f6e-4684-ba37-fc568040e002","name":"Send QR Code","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,-32],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const paymentData = $('Build Payment Message').first().json;\nconst textResult = $('Merge Attempts').first().json;\n\nlet qrSent = false;\nif (paymentData.qr_code_url) {\n  const qrResult = $('Send QR Code').first().json;\n  qrSent = !qrResult.error;\n}\n\nreturn {\n  status: 'success',\n  message: 'Cobrança enviada com sucesso',\n  payment_method: paymentData.payment_method,\n  phone_number: paymentData.phone_number,\n  text_sent: !textResult.error,\n  qr_code_sent: qrSent\n};"},"id":"fb9210ca-4d25-45bd-92ac-998746e6faec","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,64]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"5b1fc88b-e7e6-4cee-b2cd-c7e7b3c7e735","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-80,64]}],"connections":{"Webhook - Send Payment":{"main":[[{"node":"Build Payment Message","type":"main","index":0}]]},"Build Payment Message":{"main":[[{"node":"Send Text (First Try)","type":"main","index":0}]]},"Send Text (First Try)":{"main":[[{"node":"Check if Failed","type":"main","index":0}]]},"Check if Failed":{"main":[[{"node":"Retry Without 9","type":"main","index":0}],[{"node":"Merge Attempts","type":"main","index":0}]]},"Retry Without 9":{"main":[[{"node":"Merge Attempts","type":"main","index":1}]]},"Merge Attempts":{"main":[[{"node":"Check if PIX","type":"main","index":0}]]},"Check if PIX":{"main":[[{"node":"Send QR Code","type":"main","index":0}],[{"node":"Format Response","type":"main","index":0}]]},"Send QR Code":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook - Send Payment":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"ElevenLabs/1.0","content-length":"89","accept":"*/*","accept-encoding":"gzip, deflate, br","content-type":"application/json","x-forwarded-for":"34.59.11.47","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"34.59.11.47"},"params":{},"query":{},"body":{"phone_number":"5551993448124","payment_method":"pix_full","customer_name":"Diego"},"webhookUrl":"https://ai.superbot.digital/webhook/elevenlabs-send-payment","executionMode":"production"}}]},"versionId":"2d4ae316-da9c-4671-8e78-d796e98b7dbc","activeVersionId":"2d4ae316-da9c-4671-8e78-d796e98b7dbc","triggerCount":1,"shared":[{"updatedAt":"2026-01-07T22:05:55.801Z","createdAt":"2026-01-07T22:05:55.801Z","role":"workflow:owner","workflowId":"okK52NvgEjnydUIL","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-10T18:10:53.814Z","createdAt":"2026-01-10T18:10:53.814Z","versionId":"2d4ae316-da9c-4671-8e78-d796e98b7dbc","workflowId":"okK52NvgEjnydUIL","nodes":[{"parameters":{"httpMethod":"POST","path":"elevenlabs-send-payment","responseMode":"responseNode","options":{}},"id":"73baa975-2a63-48a5-8711-b1756d72c4d9","name":"Webhook - Send Payment","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1888,64],"webhookId":"elevenlabs-send-payment-v2"},{"parameters":{"jsCode":"// Função para formatar número de telefone brasileiro\nfunction formatBrazilianPhone(phone) {\n  if (!phone) return null;\n  \n  let cleaned = phone.replace(/\\D/g, '').replace(/^\\+/, '');\n  let formatted = cleaned;\n  \n  // Adicionar 55 se não tiver\n  if (!cleaned.startsWith('55')) {\n    formatted = '55' + cleaned;\n  }\n  \n  // CORRIGIR 9 DUPLICADO (14 dígitos: 55519932990031)\n  if (formatted.length === 14 && formatted[4] === '9' && formatted[5] === '9') {\n    formatted = formatted.slice(0, 5) + formatted.slice(6);\n  }\n  \n  // Se tiver 12 dígitos, adicionar 9\n  if (formatted.length === 12) {\n    formatted = formatted.slice(0, 4) + '9' + formatted.slice(4);\n  }\n  \n  // Se tiver menos de 12, adicionar DDD padrão 51\n  if (formatted.length < 12) {\n    formatted = '5551' + cleaned.replace(/^55/, '');\n    if (formatted.length === 12) {\n      formatted = formatted.slice(0, 4) + '9' + formatted.slice(4);\n    }\n  }\n  \n  // Validação final\n  if (formatted.length !== 13) {\n    console.error(`Número inválido: ${formatted} (${formatted.length} dígitos)`);\n    return null;\n  }\n  \n  return formatted;\n}\n\nconst pixFullCode = '00020101021126970014br.gov.bcb.[REDACTED] de Consulta de Boas Vindas5204000053039865406300.005802BR5919DENTALY S E E BUCAL6006MANAUS62070503***63040AD8';\nconst pixFullQR = 'https://aplicativos-nextcloud.gtzkxz.easypanel.host/s/MGPDPK4tq7WRfcB/download';\nconst pixHalfCode = '00020101021126910014br.gov.bcb.[REDACTED] da Consulta de Boas Vindas5204000053039865406150.005802BR5919DENTALY S E E BUCAL6006MANAUS62070503***630478B6';\nconst pixHalfQR = 'https://aplicativos-nextcloud.gtzkxz.easypanel.host/s/GoWszwqNsom4frR/download';\nconst cardLink = 'https://link.infinitepay.io/marcelo_lopes__/VC1DLTEtSQ-6vCwiyOyGR-340,00';\nconst whatsappComprovante = 'https://wa.me/555193448124';\n\nconst rawPhoneNumber = $input.item.json.body.phone_number;\nconst paymentMethod = $input.item.json.body.payment_method;\nconst customerName = $input.item.json.body.customer_name || 'Cliente';\n\nif (!rawPhoneNumber || !paymentMethod) {\n  return { error: true, message: 'phone_number e payment_method obrigatórios' };\n}\n\nconst phoneNumber = formatBrazilianPhone(rawPhoneNumber);\nconst phoneNumberWithout9 = phoneNumber ? phoneNumber.slice(0, 4) + phoneNumber.slice(5) : null;\n\nif (!phoneNumber) {\n  return { error: true, message: 'Número de telefone inválido' };\n}\n\nlet message = '';\nlet qrCodeUrl = null;\n\nswitch(paymentMethod) {\n  case 'pix_full':\n    message = `Olá ${customerName}! 😊\\n\\nAqui está o pagamento da sua *Consulta de Boas-Vindas na Dentaly*:\\n\\n💰 *Valor:* R$ 300,00\\n💳 *Forma:* PIX (Pagamento Integral)\\n\\n📱 *Código PIX Copia e Cola:*\\n${pixFullCode}\\n\\n⏰ *Validade:* 2 horas\\n\\n📸 *Após pagar, envie o comprovante aqui:*\\n👉 ${whatsappComprovante}\\n\\nQualquer dúvida, estamos à disposição! 💙\\n*Dentaly Saúde Bucal Integrada*`;\n    qrCodeUrl = pixFullQR;\n    break;\n  case 'pix_half':\n    message = `Olá ${customerName}! 😊\\n\\nAqui está o pagamento da *primeira parcela* da sua Consulta de Boas-Vindas:\\n\\n💰 *Valor:* R$ 150,00 (50%)\\n💳 *Forma:* PIX (Primeira Parcela)\\n\\n📱 *Código PIX Copia e Cola:*\\n${pixHalfCode}\\n\\n⏰ *Validade:* 2 horas\\n\\nℹ️ A segunda parcela de R$150 será cobrada no dia da consulta.\\n\\n📸 *Após pagar, envie o comprovante aqui:*\\n👉 ${whatsappComprovante}\\n\\nQualquer dúvida, estamos à disposição! 💙\\n*Dentaly Saúde Bucal Integrada*`;\n    qrCodeUrl = pixHalfQR;\n    break;\n  case 'card':\n    message = `Olá ${customerName}! 😊\\n\\nAqui está o link para pagamento da sua *Consulta de Boas-Vindas*:\\n\\n💰 *Valor:* R$ 340,00\\n💳 *Forma:* Cartão de Crédito\\n\\n🔗 *Link de Pagamento:*\\n${cardLink}\\n\\n✨ Você pode parcelar direto no link!\\n\\n⏰ *Validade:* 2 horas\\n\\n📸 *Após pagar, envie o comprovante aqui:*\\n👉 ${whatsappComprovante}\\n\\nQualquer dúvida, estamos à disposição! 💙\\n*Dentaly Saúde Bucal Integrada*`;\n    break;\n  default:\n    return { error: true, message: `Método inválido: ${paymentMethod}` };\n}\n\nreturn {\n  phone_number: phoneNumber,\n  phone_number_without_9: phoneNumberWithout9,\n  message: message,\n  payment_method: paymentMethod,\n  customer_name: customerName,\n  qr_code_url: qrCodeUrl,\n  retry_count: 0\n};"},"id":"2d83c5b6-769c-4e7b-a669-cdca6d75b843","name":"Build Payment Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,64]},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json; charset=utf-8"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=number","value":"={{ $json.phone_number }}"},{"name":"text","value":"={{ $json.message }}"}]},"options":{}},"id":"ba0d62cf-daa7-468b-9298-08b257a6d1de","name":"Send Text (First Try)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1488,64],"alwaysOutputData":true,"retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-error","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"any","operation":"exists"}}],"combinator":"or"},"options":{}},"id":"2f170244-d03a-427b-b53b-3c22223691b8","name":"Check if Failed","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1280,64]},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json; charset=utf-8"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=number","value":"={{ $('Build Payment Message').first().json.phone_number_without_9 }}"},{"name":"text","value":"={{ $('Build Payment Message').first().json.message }}"}]},"options":{}},"id":"362f3a2c-d8fa-4c6e-a493-1f85e84301e7","name":"Retry Without 9","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1072,-64],"alwaysOutputData":true,"retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{},"id":"95cd19b2-9a07-4312-887e-bd5c563cfadf","name":"Merge Attempts","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-880,64]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check-if-pix","leftValue":"={{ $('Build Payment Message').first().json.qr_code_url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"8ddfedd4-36cd-4d7f-a1ea-d60d93c45414","name":"Check if PIX","type":"n8n-nodes-base.if","typeVersion":2,"position":[-688,64]},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendMedia/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json; charset=utf-8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Build Payment Message').first().json.phone_number }}\",\n  \"mediatype\": \"image\",\n  \"media\": \"{{ $('Build Payment Message').first().json.qr_code_url }}\",\n  \"caption\": \"🔲 QR Code PIX - Escaneie para pagar\"\n}","options":{}},"id":"babbc0fb-9f6e-4684-ba37-fc568040e002","name":"Send QR Code","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,-32],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const paymentData = $('Build Payment Message').first().json;\nconst textResult = $('Merge Attempts').first().json;\n\nlet qrSent = false;\nif (paymentData.qr_code_url) {\n  const qrResult = $('Send QR Code').first().json;\n  qrSent = !qrResult.error;\n}\n\nreturn {\n  status: 'success',\n  message: 'Cobrança enviada com sucesso',\n  payment_method: paymentData.payment_method,\n  phone_number: paymentData.phone_number,\n  text_sent: !textResult.error,\n  qr_code_sent: qrSent\n};"},"id":"fb9210ca-4d25-45bd-92ac-998746e6faec","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,64]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"5b1fc88b-e7e6-4cee-b2cd-c7e7b3c7e735","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-80,64]}],"connections":{"Webhook - Send Payment":{"main":[[{"node":"Build Payment Message","type":"main","index":0}]]},"Build Payment Message":{"main":[[{"node":"Send Text (First Try)","type":"main","index":0}]]},"Send Text (First Try)":{"main":[[{"node":"Check if Failed","type":"main","index":0}]]},"Check if Failed":{"main":[[{"node":"Retry Without 9","type":"main","index":0}],[{"node":"Merge Attempts","type":"main","index":0}]]},"Retry Without 9":{"main":[[{"node":"Merge Attempts","type":"main","index":1}]]},"Merge Attempts":{"main":[[{"node":"Check if PIX","type":"main","index":0}]]},"Check if PIX":{"main":[[{"node":"Send QR Code","type":"main","index":0}],[{"node":"Format Response","type":"main","index":0}]]},"Send QR Code":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[]}