backups/elevenlabs---escalate-to-human-7Kkcmj9NI2Tz90J0.json
{"updatedAt":"2026-01-10T18:22:12.123Z","createdAt":"2026-01-07T22:07:03.261Z","id":"7Kkcmj9NI2Tz90J0","name":"ElevenLabs - Escalate to Human","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"escalate-to-human-dentaly-elevenlabs","responseMode":"responseNode","options":{}},"id":"88bc0e81-a45f-403d-8ac9-e5ad89aa025f","name":"Webhook - Escalate to Human","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[32,-160],"webhookId":"elevenlabs-escalate-001"},{"parameters":{"jsCode":"// Extrair dados\nconst customerName = $input.item.json.body.customer_name || 'Cliente não identificado';\nconst customerPhone = $input.item.json.body.customer_phone || 'Não informado';\nconst conversationSummary = $input.item.json.body.conversation_summary || 'Sem resumo';\nconst reason = $input.item.json.body.reason || 'Não especificado';\n\n// Montar mensagem de notificação\nconst message = `🚨 *TRANSBORDO PARA ATENDIMENTO HUMANO*\\n\\n` +\n  `👤 *Cliente:* ${customerName}\\n` +\n  `📞 *Telefone:* ${customerPhone}\\n` +\n  `📋 *Motivo:* ${reason}\\n\\n` +\n  `💬 *Resumo da Conversa:*\\n${conversationSummary}\\n\\n` +\n  `⏰ *Data/Hora:* ${new Date().toLocaleString('pt-BR', { timeZone: 'America/Manaus' })}\\n\\n` +\n  `🤖 *Origem:* ElevenLabs (Ligação)`;\n\nreturn {\n  customer_name: customerName,\n  customer_phone: customerPhone,\n  conversation_summary: conversationSummary,\n  reason: reason,\n  notification_message: message,\n  team_whatsapp: '5551993448124'\n};"},"id":"1eb16262-7ab6-44e9-99aa-96f67d00e6a2","name":"Build Notification","type":"n8n-nodes-base.code","typeVersion":2,"position":[256,-160]},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.team_whatsapp }}"},{"name":"text","value":"={{ $json.notification_message }}"}]},"options":{}},"id":"d8206d65-4c73-42e1-8f04-aad0df823129","name":"Notify Team via WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,-160],"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const success = $input.first().json && !$input.first().json.error;\n\nif (success) {\n  return {\n    status: 'success',\n    message: 'Transbordo registrado e equipe notificada',\n    customer_name: $('Build Notification').first().json.customer_name,\n    customer_phone: $('Build Notification').first().json.customer_phone\n  };\n} else {\n  return {\n    status: 'error',\n    message: 'Erro ao notificar equipe'\n  };\n}"},"id":"008b8416-d04d-405a-adf2-1c72c82ea21c","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[704,-160]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"58430c6c-b683-4914-9476-2ce9aacae703","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[912,-160]}],"connections":{"Webhook - Escalate to Human":{"main":[[{"node":"Build Notification","type":"main","index":0}]]},"Build Notification":{"main":[[{"node":"Notify Team via WhatsApp","type":"main","index":0}]]},"Notify Team via WhatsApp":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook - Escalate to Human":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"ElevenLabs/1.0","content-length":"312","accept":"*/*","accept-encoding":"gzip, deflate, br","content-type":"application/json","x-forwarded-for":"34.59.11.47","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"34.59.11.47"},"params":{},"query":{},"body":{"customer_name":"Diego","customer_phone":"5551993448124","conversation_summary":"Cliente Diego Teste, CPF 03061524010, quer tratar de um assunto sério e pediu transferência para equipe humana.","reason":"Cliente quer tratar de assunto sério e pediu transferência para equipe humana."},"webhookUrl":"https://ai.superbot.digital/webhook/escalate-to-human-dentaly-elevenlabs","executionMode":"production"}}]},"versionId":"73f12c43-e797-4d69-9c75-1469c1fd15c4","activeVersionId":"73f12c43-e797-4d69-9c75-1469c1fd15c4","triggerCount":1,"shared":[{"updatedAt":"2026-01-07T22:07:03.261Z","createdAt":"2026-01-07T22:07:03.261Z","role":"workflow:owner","workflowId":"7Kkcmj9NI2Tz90J0","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-10T18:22:12.109Z","createdAt":"2026-01-10T18:22:12.109Z","versionId":"73f12c43-e797-4d69-9c75-1469c1fd15c4","workflowId":"7Kkcmj9NI2Tz90J0","nodes":[{"parameters":{"httpMethod":"POST","path":"escalate-to-human-dentaly-elevenlabs","responseMode":"responseNode","options":{}},"id":"88bc0e81-a45f-403d-8ac9-e5ad89aa025f","name":"Webhook - Escalate to Human","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[32,-160],"webhookId":"elevenlabs-escalate-001"},{"parameters":{"jsCode":"// Extrair dados\nconst customerName = $input.item.json.body.customer_name || 'Cliente não identificado';\nconst customerPhone = $input.item.json.body.customer_phone || 'Não informado';\nconst conversationSummary = $input.item.json.body.conversation_summary || 'Sem resumo';\nconst reason = $input.item.json.body.reason || 'Não especificado';\n\n// Montar mensagem de notificação\nconst message = `🚨 *TRANSBORDO PARA ATENDIMENTO HUMANO*\\n\\n` +\n  `👤 *Cliente:* ${customerName}\\n` +\n  `📞 *Telefone:* ${customerPhone}\\n` +\n  `📋 *Motivo:* ${reason}\\n\\n` +\n  `💬 *Resumo da Conversa:*\\n${conversationSummary}\\n\\n` +\n  `⏰ *Data/Hora:* ${new Date().toLocaleString('pt-BR', { timeZone: 'America/Manaus' })}\\n\\n` +\n  `🤖 *Origem:* ElevenLabs (Ligação)`;\n\nreturn {\n  customer_name: customerName,\n  customer_phone: customerPhone,\n  conversation_summary: conversationSummary,\n  reason: reason,\n  notification_message: message,\n  team_whatsapp: '5551993448124'\n};"},"id":"1eb16262-7ab6-44e9-99aa-96f67d00e6a2","name":"Build Notification","type":"n8n-nodes-base.code","typeVersion":2,"position":[256,-160]},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.team_whatsapp }}"},{"name":"text","value":"={{ $json.notification_message }}"}]},"options":{}},"id":"d8206d65-4c73-42e1-8f04-aad0df823129","name":"Notify Team via WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,-160],"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const success = $input.first().json && !$input.first().json.error;\n\nif (success) {\n  return {\n    status: 'success',\n    message: 'Transbordo registrado e equipe notificada',\n    customer_name: $('Build Notification').first().json.customer_name,\n    customer_phone: $('Build Notification').first().json.customer_phone\n  };\n} else {\n  return {\n    status: 'error',\n    message: 'Erro ao notificar equipe'\n  };\n}"},"id":"008b8416-d04d-405a-adf2-1c72c82ea21c","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[704,-160]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"58430c6c-b683-4914-9476-2ce9aacae703","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[912,-160]}],"connections":{"Webhook - Escalate to Human":{"main":[[{"node":"Build Notification","type":"main","index":0}]]},"Build Notification":{"main":[[{"node":"Notify Team via WhatsApp","type":"main","index":0}]]},"Notify Team via WhatsApp":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[]}