backups/elevenlabs---update-user-info-9cyHhF7CONtFJCQv.json
{"updatedAt":"2026-01-07T22:20:52.079Z","createdAt":"2026-01-07T22:05:14.722Z","id":"9cyHhF7CONtFJCQv","name":"ElevenLabs - Update User Info","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"update-user-info-elevenlabs","responseMode":"responseNode","options":{}},"id":"9dd21b1b-7731-454d-8d19-3e091d1696cf","name":"Webhook - ElevenLabs User Info","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,96],"webhookId":"elevenlabs-user-info-001"},{"parameters":{"jsCode":"// Extrair dados do body\nconst phoneNumber = $input.item.json.body.phone_number;\nconst name = $input.item.json.body.name || null;\nconst dynamicInfo = $input.item.json.body.dynamic_info || null;\n\n// Validar phone_number obrigatório\nif (!phoneNumber) {\n  return {\n    error: true,\n    message: \"phone_number é obrigatório\"\n  };\n}\n\n// Parsear dynamic_info se vier como string JSON\nlet parsedMetadata = {};\nif (dynamicInfo) {\n  try {\n    if (typeof dynamicInfo === 'string') {\n      parsedMetadata = JSON.parse(dynamicInfo);\n    } else {\n      parsedMetadata = dynamicInfo;\n    }\n  } catch (e) {\n    console.error('Erro ao parsear dynamic_info:', e);\n  }\n}\n\nreturn {\n  phone_number: phoneNumber,\n  name: name,\n  metadata: parsedMetadata,\n  project_id: \"1785d020-50f9-49a9-81d7-64927e3e6f96\"\n};"},"id":"d19f60ac-32f9-4d90-9f93-c9b35febe19b","name":"Process User Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,96]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO users (id, project_id, name, metadata, updated_at)\nVALUES (\n  '{{ $json.phone_number }}',\n  '{{ $json.project_id }}',\n  {{ $json.name ? \"'\" + $json.name + \"'\" : \"NULL\" }},\n  '{{ JSON.stringify($json.metadata) }}'::jsonb,\n  NOW()\n)\nON CONFLICT (id, project_id) \nDO UPDATE SET \n  name = COALESCE(EXCLUDED.name, users.name),\n  metadata = users.metadata || EXCLUDED.metadata,\n  updated_at = NOW()\nRETURNING *;","options":{}},"id":"12f3019e-ac36-4349-af9a-48a484a4f28b","name":"Save to PostgreSQL","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[48,96],"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"jsCode":"const success = $input.all().length > 0 && !$input.first().json.error;\n\nif (success) {\n  return {\n    status: \"success\",\n    message: \"Informações do usuário salvas com sucesso\",\n    data: $input.first().json\n  };\n} else {\n  return {\n    status: \"error\",\n    message: \"Erro ao salvar informações do usuário\"\n  };\n}"},"id":"919ac120-10f7-422e-89e3-0abafdd86b7a","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[272,96]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"e8cce1ef-3e04-417c-a5d9-ae1ea0b4bb1b","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[496,96]}],"connections":{"Webhook - ElevenLabs User Info":{"main":[[{"node":"Process User Data","type":"main","index":0}]]},"Process User Data":{"main":[[{"node":"Save to PostgreSQL","type":"main","index":0}]]},"Save to PostgreSQL":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook - ElevenLabs User Info":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"curl/8.12.1","content-length":"61","accept":"*/*","content-type":"application/json","x-forwarded-for":"177.10.2.193","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"177.10.2.193","accept-encoding":"gzip"},"params":{},"query":{},"body":{"phone_number":"555193299031","name":"Teste"},"webhookUrl":"https://ai.superbot.digital/webhook/update-user-info-elevenlabs","executionMode":"production"}}]},"versionId":"80fd3016-1039-45d2-a884-804acf9a187c","activeVersionId":"80fd3016-1039-45d2-a884-804acf9a187c","triggerCount":1,"shared":[{"updatedAt":"2026-01-07T22:05:14.722Z","createdAt":"2026-01-07T22:05:14.722Z","role":"workflow:owner","workflowId":"9cyHhF7CONtFJCQv","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-07T22:20:52.072Z","createdAt":"2026-01-07T22:20:52.072Z","versionId":"80fd3016-1039-45d2-a884-804acf9a187c","workflowId":"9cyHhF7CONtFJCQv","nodes":[{"parameters":{"httpMethod":"POST","path":"update-user-info-elevenlabs","responseMode":"responseNode","options":{}},"id":"9dd21b1b-7731-454d-8d19-3e091d1696cf","name":"Webhook - ElevenLabs User Info","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,96],"webhookId":"elevenlabs-user-info-001"},{"parameters":{"jsCode":"// Extrair dados do body\nconst phoneNumber = $input.item.json.body.phone_number;\nconst name = $input.item.json.body.name || null;\nconst dynamicInfo = $input.item.json.body.dynamic_info || null;\n\n// Validar phone_number obrigatório\nif (!phoneNumber) {\n  return {\n    error: true,\n    message: \"phone_number é obrigatório\"\n  };\n}\n\n// Parsear dynamic_info se vier como string JSON\nlet parsedMetadata = {};\nif (dynamicInfo) {\n  try {\n    if (typeof dynamicInfo === 'string') {\n      parsedMetadata = JSON.parse(dynamicInfo);\n    } else {\n      parsedMetadata = dynamicInfo;\n    }\n  } catch (e) {\n    console.error('Erro ao parsear dynamic_info:', e);\n  }\n}\n\nreturn {\n  phone_number: phoneNumber,\n  name: name,\n  metadata: parsedMetadata,\n  project_id: \"1785d020-50f9-49a9-81d7-64927e3e6f96\"\n};"},"id":"d19f60ac-32f9-4d90-9f93-c9b35febe19b","name":"Process User Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,96]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO users (id, project_id, name, metadata, updated_at)\nVALUES (\n  '{{ $json.phone_number }}',\n  '{{ $json.project_id }}',\n  {{ $json.name ? \"'\" + $json.name + \"'\" : \"NULL\" }},\n  '{{ JSON.stringify($json.metadata) }}'::jsonb,\n  NOW()\n)\nON CONFLICT (id, project_id) \nDO UPDATE SET \n  name = COALESCE(EXCLUDED.name, users.name),\n  metadata = users.metadata || EXCLUDED.metadata,\n  updated_at = NOW()\nRETURNING *;","options":{}},"id":"12f3019e-ac36-4349-af9a-48a484a4f28b","name":"Save to PostgreSQL","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[48,96],"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"jsCode":"const success = $input.all().length > 0 && !$input.first().json.error;\n\nif (success) {\n  return {\n    status: \"success\",\n    message: \"Informações do usuário salvas com sucesso\",\n    data: $input.first().json\n  };\n} else {\n  return {\n    status: \"error\",\n    message: \"Erro ao salvar informações do usuário\"\n  };\n}"},"id":"919ac120-10f7-422e-89e3-0abafdd86b7a","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[272,96]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"e8cce1ef-3e04-417c-a5d9-ae1ea0b4bb1b","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[496,96]}],"connections":{"Webhook - ElevenLabs User Info":{"main":[[{"node":"Process User Data","type":"main","index":0}]]},"Process User Data":{"main":[[{"node":"Save to PostgreSQL","type":"main","index":0}]]},"Save to PostgreSQL":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[]}