backups/envio-de-notificação,-envio-de-links-Y76yRWYdD9Y6OSUF.json
{"createdAt":"2025-06-12T19:21:28.199Z","updatedAt":"2025-09-14T22:40:45.359Z","id":"Y76yRWYdD9Y6OSUF","name":"envio de notificação, envio de links","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-160,-48],"id":"8443a7ae-20ca-4d39-9d0d-7be77450fa71","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"-- Seleciona interações que precisam de um lembrete de clique para links importantes\nSELECT\n  i.id AS interacao_id,\n  i.empresa_id,\n  i.contato_utilizado\nFROM\n  public.interacoes AS i\nLEFT JOIN\n  public.eventos_analytics AS ea ON i.empresa_id = ea.empresa_id\n  AND ea.tipo_evento = 'click'\n  -- 1. MELHORIA: Verifica se o clique corresponde a QUALQUER um dos links monitorados\n  AND ea.origem_evento_detalhada IN ('formulario_bitrix_whatsapp', 'atendimento_humano_link_whatsapp')\n  AND ea.timestamp_evento > i.link_bitrix_enviado_timestamp -- Apenas cliques APÓS o envio do link\nWHERE\n  -- 2. O gatilho principal: um link que requer monitoramento foi enviado\n  i.link_bitrix_enviado_timestamp IS NOT NULL\n  -- 3. Passou o tempo de espera (ex: 1 minuto para testes)\n  AND i.link_bitrix_enviado_timestamp < NOW() - INTERVAL '10 minutes'\n  -- 4. O lembrete de follow-up ainda não foi enviado\n  AND (i.followup_clique_link_enviado IS NULL OR i.followup_clique_link_enviado = FALSE)\n  -- 5. CORREÇÃO: Verifica se o lead não interagiu desde que o link foi enviado.\n  -- Usamos COALESCE para tratar casos onde o lead nunca enviou uma mensagem antes.\n\n  AND ea.id IS NULL;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[192,-16],"id":"8ad2478c-d1c5-4706-9efb-c08a5524c764","name":"Recebeu o link, mas não clicou","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1664,384],"id":"e07e81bf-f8bf-48ea-a13b-93518e0349c8"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1008,32],"id":"530b915c-22b5-47a5-b54c-402e6bbce419","name":"Wait","webhookId":"f7acff3c-7be6-440e-a10a-ebafd9233730"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[768,-48],"id":"76f33e9e-37be-4082-a334-2f88e76e42ab","name":"Enviar Lembrete via WhatsApp"},{"parameters":{"operation":"send","phoneNumberId":"705549915969226","recipientPhoneNumber":"={{ $json.contato_utilizado }}","textBody":"=Olá! Notei que você recebeu nosso link para continuarmos a conversa, mas ainda não clicou. Precisa de alguma ajuda ou ficou com alguma dúvida?","additionalFields":{}},"id":"536e8fa9-4e5c-4d89-8be2-ff580ded8b02","name":"Enviar Lembrete via WhatsApp1","type":"n8n-nodes-base.whatsApp","position":[1200,48],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1,"credentials":{"whatsAppApi":{"id":"0iKPfEsLxdLdpIgR","name":"WhatsApp dot"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE public.interacoes\nSET followup_clique_link_enviado = TRUE\nWHERE id = {{ $('Wait').item.json.interacao_id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1472,112],"id":"55322e53-e1be-4843-9c58-c1b72f4f2ee3","name":"Marcar Follow-up como Enviado","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Recebeu o link, mas não clicou","type":"main","index":0}]]},"Recebeu o link, mas não clicou":{"main":[[{"node":"Enviar Lembrete via WhatsApp","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Enviar Lembrete via WhatsApp","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Enviar Lembrete via WhatsApp1","type":"main","index":0}]]},"Enviar Lembrete via WhatsApp":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Enviar Lembrete via WhatsApp1":{"main":[[{"node":"Marcar Follow-up como Enviado","type":"main","index":0}]]},"Marcar Follow-up como Enviado":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f419a1dc-1cfa-417f-b3ed-3f5764cf9d01","triggerCount":1,"shared":[{"createdAt":"2025-06-12T19:21:28.199Z","updatedAt":"2025-06-12T19:21:28.199Z","role":"workflow:owner","workflowId":"Y76yRWYdD9Y6OSUF","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}