backups/escalonamento-para-humano-QWMlElGdFqH5yKom.json
{"updatedAt":"2026-01-03T20:08:05.844Z","createdAt":"2025-12-30T17:21:09.739Z","id":"QWMlElGdFqH5yKom","name":"Escalonamento para Humano","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"escalate-to-human","options":{}},"id":"59cc2df4-67d0-49e7-a4a2-360358f3ba09","name":"Webhook Escalonamento","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[192,-96],"webhookId":"fb5a8761-1e0a-4439-8a1b-106794686ff8"},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"+16197422267"},{"name":"text","value":"=⚠️ *Solicitação de Atendimento*\n\n👤 *Cliente:* {{ $json.body.customer_name }}\n📱 *Telefone:* {{ $json.body.customer_phone }}\n📝 *Motivo:* {{ $json.body.reason }}\n\n💬 *Resumo:* {{ $json.body.conversation_summary }}"}]},"options":{}},"id":"6bd05e68-135c-4f2c-adbf-50f1c37065b7","name":"Notificar Responsável","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,-448]},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.body.customer_phone }}"},{"name":"text","value":"Para falar com um humano agora mesmo, clique aqui: https://wa.me/16197422267"}]},"options":{}},"id":"2d1ffbe4-5ba7-457e-b92b-e3458b851ef6","name":"Notificar Cliente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,64]},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"+55 19 99981-9034"},{"name":"text","value":"=⚠️ *Solicitação de Atendimento*\n\n👤 *Cliente:* {{ $json.body.customer_name }}\n📱 *Telefone:* {{ $json.body.customer_phone }}\n📝 *Motivo:* {{ $json.body.reason }}\n\n💬 *Resumo:* {{ $json.body.conversation_summary }}"}]},"options":{}},"id":"f76c8b51-8117-4271-ad9b-937240760408","name":"Notificar Responsável1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,-208],"retryOnFail":true,"onError":"continueRegularOutput"}],"connections":{"Webhook Escalonamento":{"main":[[{"node":"Notificar Cliente","type":"main","index":0},{"node":"Notificar Responsável1","type":"main","index":0},{"node":"Notificar Responsável","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook Escalonamento":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"axios/1.12.0","content-length":"250","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"customer_name":"Diego","customer_phone":"555193299031","conversation_summary":"Cliente quer falar com um humano após várias mensagens de olá e pedidos de transferência.","reason":"Pedido explícito para transferência para atendimento humano."},"webhookUrl":"https://ai.superbot.digital/webhook/escalate-to-human","executionMode":"production"}}]},"versionId":"47fbe77c-16b5-4bba-a733-3229b2a6e5f4","activeVersionId":"47fbe77c-16b5-4bba-a733-3229b2a6e5f4","triggerCount":1,"shared":[{"updatedAt":"2025-12-30T17:21:09.739Z","createdAt":"2025-12-30T17:21:09.739Z","role":"workflow:owner","workflowId":"QWMlElGdFqH5yKom","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-03T20:08:05.804Z","createdAt":"2026-01-03T20:08:05.804Z","versionId":"47fbe77c-16b5-4bba-a733-3229b2a6e5f4","workflowId":"QWMlElGdFqH5yKom","nodes":[{"parameters":{"httpMethod":"POST","path":"escalate-to-human","options":{}},"id":"59cc2df4-67d0-49e7-a4a2-360358f3ba09","name":"Webhook Escalonamento","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[192,-96],"webhookId":"fb5a8761-1e0a-4439-8a1b-106794686ff8"},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"+16197422267"},{"name":"text","value":"=⚠️ *Solicitação de Atendimento*\n\n👤 *Cliente:* {{ $json.body.customer_name }}\n📱 *Telefone:* {{ $json.body.customer_phone }}\n📝 *Motivo:* {{ $json.body.reason }}\n\n💬 *Resumo:* {{ $json.body.conversation_summary }}"}]},"options":{}},"id":"6bd05e68-135c-4f2c-adbf-50f1c37065b7","name":"Notificar Responsável","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,-448]},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.body.customer_phone }}"},{"name":"text","value":"Para falar com um humano agora mesmo, clique aqui: https://wa.me/16197422267"}]},"options":{}},"id":"2d1ffbe4-5ba7-457e-b92b-e3458b851ef6","name":"Notificar Cliente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,64]},{"parameters":{"method":"POST","url":"https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"+55 19 99981-9034"},{"name":"text","value":"=⚠️ *Solicitação de Atendimento*\n\n👤 *Cliente:* {{ $json.body.customer_name }}\n📱 *Telefone:* {{ $json.body.customer_phone }}\n📝 *Motivo:* {{ $json.body.reason }}\n\n💬 *Resumo:* {{ $json.body.conversation_summary }}"}]},"options":{}},"id":"f76c8b51-8117-4271-ad9b-937240760408","name":"Notificar Responsável1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,-208],"retryOnFail":true,"onError":"continueRegularOutput"}],"connections":{"Webhook Escalonamento":{"main":[[{"node":"Notificar Cliente","type":"main","index":0},{"node":"Notificar Responsável1","type":"main","index":0},{"node":"Notificar Responsável","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[{"updatedAt":"2026-01-02T15:43:09.908Z","createdAt":"2026-01-02T15:43:09.908Z","id":"pgziJkRB2xHVUzON","name":"surf"}]}