backups/my-workflow-3-NCVJ2pLoi8xrMqTP.json
{"updatedAt":"2026-01-16T21:08:08.773Z","createdAt":"2026-01-16T21:08:08.773Z","id":"NCVJ2pLoi8xrMqTP","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":3}]}},"id":"0f287986-4239-47be-b6f1-080a0e0c8f42","name":"Cron (daily)","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-2208,64]},{"parameters":{"options":{}},"id":"176ca854-5691-404e-a79e-8901f60b9f80","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1952,64]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"495d10a2-0286-4bca-afde-8c1aeb7f1a91","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1744,64]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"9cf067a6-f930-4c09-855a-5c3c0f69a4a2","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1552,64]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"Folkz1","mode":"name"},"repository":{"__rl":true,"value":"superbot01","mode":"name"},"filePath":"backups"},"id":"878650dd-6f93-4a0d-a1bd-67b7a754a9f4","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1344,64],"alwaysOutputData":true,"webhookId":"931bf1c3-7003-42bb-b38c-61f76b3952cd","credentials":{"githubOAuth2Api":{"id":"u2FtlFcvTeikQzxM","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"2437530e-8de5-46ff-b7b2-a114e370146f","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1152,64]},{"parameters":{"filters":{"tags":"issue"},"requestOptions":{}},"id":"10fe6353-5672-4712-b11c-f3aa784794cc","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-992,64],"credentials":{"n8nApi":{"id":"hVcNRDGxZCADT9DH","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"bae8d008-0111-4069-a518-f9a21f76bab1","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-688,64]},{"parameters":{"batchSize":1,"options":{}},"id":"2e27f84c-3e32-46e0-a35e-27e7f8e50865","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-512,64]},{"parameters":{"conditions":{"string":[{"value1":"={{ Array.isArray($node['Combine file names [GITHUB]'].json.name) ? $node['Combine file names [GITHUB]'].json.name.join(',') : ($node['Combine file names [GITHUB]'].json.name || '') }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"b2b6e7d7-f34e-4555-8f1d-bd4b281b0069","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-272,-32]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"Folkz1","mode":"name"},"repository":{"__rl":true,"value":"issuemappern8n","mode":"name"},"filePath":"={{ `backups/${$binary.data.fileName}` }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"61315383-20d3-440c-8c8c-eb2301867ccf","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-48,-224],"webhookId":"abd01a03-efd3-444d-a88e-9ac50d4f58d2","credentials":{"githubOAuth2Api":{"id":"u2FtlFcvTeikQzxM","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"Folkz1","mode":"name"},"repository":{"__rl":true,"value":"issuemappern8n","mode":"name"},"filePath":"={{ `backups/${$binary.data.fileName}` }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"e999575a-fa90-4313-838a-a92920c315c0","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[160,224],"webhookId":"7a6c336f-05f4-4bee-b524-19e5b3791510","credentials":{"githubOAuth2Api":{"id":"u2FtlFcvTeikQzxM","name":"GitHub account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-304,512],"id":"bfd2102b-b5cd-46c5-95f8-09ae166b6093","name":"No Operation, do nothing"},{"parameters":{"jsCode":"function deepSanitize(obj) {\n  const SENSITIVE_KEYS = [\n    'token', 'access_token', 'refresh_token', 'api_key', 'apikey',\n    'authorization', 'password', 'secret', 'client_secret',\n    'key', 'privateKey', 'webhookUrl', 'bearer'\n  ];\n\n  if (Array.isArray(obj)) return obj.map(deepSanitize);\n\n  if (obj && typeof obj === 'object') {\n    const out = {};\n    for (const [k, v] of Object.entries(obj)) {\n      const lk = k.toLowerCase();\n\n      // remove campos sensíveis por nome\n      if (SENSITIVE_KEYS.includes(lk) || lk.includes('token') || lk.includes('secret') || lk.includes('password')) {\n        out[k] = '[REDACTED]';\n        continue;\n      }\n\n      out[k] = deepSanitize(v);\n    }\n    return out;\n  }\n\n  // mascara tokens em strings\n  if (typeof obj === 'string') {\n    let s = obj;\n\n    // padrões comuns (inclui APIFY)\n    s = s.replace(/APIFY_[A-Z_]*TOKEN\\s*[:=]\\s*[^\\\\s\\\"']+/gi, 'APIFY_TOKEN=[REDACTED]');\n    // \"Bearer xxxxx\"\n    s = s.replace(/Bearer\\\\s+[A-Za-z0-9\\\\-_.=]+/g, 'Bearer [REDACTED]');\n    // strings longas que parecem chave\n    s = s.replace(/[A-Za-z0-9_\\\\-]{32,}/g, (m) => (m.length >= 40 ? '[REDACTED]' : m));\n\n    return s;\n  }\n\n  return obj;\n}\n\nreturn items.map(item => {\n  item.json = deepSanitize(item.json);\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-832,64],"id":"0f42d5a8-10e5-4dd9-bae3-c1104b45e06a","name":"sanitizar segredos"}],"connections":{"Cron (daily)":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"sanitizar segredos","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"sanitizar segredos":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cbbba480-b9ad-409a-8ace-e03e4fe36451","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-16T21:08:08.773Z","createdAt":"2026-01-16T21:08:08.773Z","role":"workflow:owner","workflowId":"NCVJ2pLoi8xrMqTP","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":null,"tags":[]}