backups/notificar-error-whatsapp-issue-mapper-Xo2yAtEUFnUvJu3E.json
{"createdAt":"2026-01-16T11:23:30.072Z","updatedAt":"2026-01-16T21:21:39.717Z","id":"Xo2yAtEUFnUvJu3E","name":"Notificar Error Whatsapp issue mapper","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-112,-16],"id":"0c97ed6e-b3e5-4a42-a9cf-e399393a671c","name":"Error Trigger"},{"parameters":{"method":"POST","url":"https://apps-evolution-api.klx2s6.easypanel.host/message/sendText/teste","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"94844982814C-49AB-8CEE-F6E840AA3DF5"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=+555193299031"},{"name":"text","value":"={{ $json.output }}"}]},"options":{}},"id":"9bdc1142-a845-4050-9dae-d1edf6640baf","name":"Notify Team via WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,-160],"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Sistema (para o bot seguir o padrão WhatsApp):\n- Sempre responder em 3 blocos: *TÍTULO* (negrito), linha em branco, *RESUMO* (negrito) + texto, linha em branco, *DETALHES* (negrito) + texto.\n- Não usar emojis, não usar listas com marcadores.\n- Usar `monoespaçado` só para node/etapa/ação e termos técnicos (ex.: `HTTP Request`, `Set`, `Webhook`).\n- Basear-se somente em execution_str e workflow_str; se não der para cravar a causa, dizer que os logs não mostram a causa raiz e descrever o sintoma.\n\nEntrada:\nexecution_str: <<<{{ JSON.stringify($json.execution ?? {}, null, 2) }}>>>\nworkflow_str: <<<{{ JSON.stringify($json.workflow ?? {}, null, 2) }}>>>\n\nFormato de saída (exatamente assim, com quebras de linha):\n*TÍTULO CURTO DO AVISO*\n\\n\\n*Resumo:* <1 frase dizendo o que quebrou>\n\\n\\n*Detalhes:* <causa provável + onde ocorreu; se não houver, diga que os logs não mostram a causa raiz> <ação imediata em 1 frase no final, se necessário>","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[288,-16],"id":"8c3ed315-d426-4aa0-bdff-ef1a46f6c611","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[256,192],"id":"5b8e9364-3edb-4a08-a1be-ede6380574cc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ANP2wjvRxYQi3nw5","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://apps-evolution-api.klx2s6.easypanel.host/message/sendText/teste","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"94844982814C-49AB-8CEE-F6E840AA3DF5"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=+553187560753"},{"name":"text","value":"={{ $json.output }}"}]},"options":{}},"id":"e427a9ae-c231-4a84-90bd-583c6bbf7fe8","name":"Notify Team via WhatsApp1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,160],"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"=\"Dot da Digital Pixel\" <dot@digitalpixel.com.br>","toEmail":"={{ $json.payload.to }}","subject":"={{ $json.payload.subject }}","html":"={{ $json.payload.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[912,48],"id":"51365a2a-978f-4a16-9a17-940c7e48388d","name":"Send email","webhookId":"4bc2649d-246a-4db8-a818-e13289eef831","executeOnce":false,"alwaysOutputData":true,"credentials":{"smtp":{"id":"shOWMvBSkf2d8rpR","name":"SMTP account"}},"disabled":true,"onError":"continueRegularOutput"}],"connections":{"Error Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Notify Team via WhatsApp","type":"main","index":0},{"node":"Notify Team via WhatsApp1","type":"main","index":0},{"node":"Send email","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Error Trigger":[{"json":{"execution":{"id":"1117540","url":"https://n8n-n8n-worker.5ikbes.easypanel.host/workflow/E2VTyqtdpir69mJ8/executions/1117540","error":{"level":"warning","tags":{},"timestamp":1768593609860,"context":{"itemIndex":0,"messageTemplate":"Multiple matching items for item [0]","nodeCause":"Code_AvaliarLimiteDiario","descriptionKey":"pairedItemMultipleMatchesCodeNode","type":"paired_item_multiple_matches","parameter":"assignments"},"functionality":"regular","name":"NodeOperationError","node":{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"82e79498-c27a-450d-b7ea-94fd9c75d7c9","name":"empresa","value":"={{ $('BuscarEmpresaPorDominio').first().json ?? {} }}","type":"object"},{"id":"52f30193-387e-42c6-b37f-98449ef340d3","name":"=config_cadencia","value":"={{ $('config_cadencia').first().json ?? {} }}","type":"object"},{"id":"512f0164-2d78-4e1f-9290-0756dbf3f99b","name":"evento_ativo_db","value":"={{ $('dados_evento_ativo_carregado').first().json || null }}","type":"object"},{"id":"6be52415-cbcd-49a1-a2a0-1295a687fb24","name":"limite_diario","value":"={{ $('Code_AvaliarLimiteDiario').item.json.limite_diario_atingido }}","type":"boolean"}]},"includeOtherFields":false,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5248,848],"id":"a8f81fef-6ed7-43bf-b444-2091610066a5","name":"Organizar dados"},"messages":[],"message":"Multiple matches found","stack":"NodeOperationError: Multiple matches found\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_afd197edb2c1f848eae21a96a97fab23/node_modules/n8n-nodes-base/nodes/Set/v2/manual.mode.ts:256:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_afd197edb2c1f848eae21a96a97fab23/node_modules/n8n-nodes-base/nodes/Set/v2/SetV2.node.ts:351:48)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1254:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1428:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1760:38\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2337:11"},"lastNodeExecuted":"Organizar dados","mode":"trigger"},"workflow":{"id":"E2VTyqtdpir69mJ8","name":"[WF_Processor] ProcessarLoteDeEventos"}}}]},"versionId":"1cc90365-3ddb-461b-ab50-a845ff83f8c4","triggerCount":0,"shared":[{"createdAt":"2026-01-16T11:23:30.072Z","updatedAt":"2026-01-16T11:23:30.072Z","role":"workflow:owner","workflowId":"Xo2yAtEUFnUvJu3E","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}