backups/ocr-supremo-whatsap-api-U9qM85XKhGrmFcJn.json
{"updatedAt":"2026-01-02T15:43:40.392Z","createdAt":"2025-12-09T17:33:32.287Z","id":"U9qM85XKhGrmFcJn","name":"OCR supremo Whatsap api","active":true,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"documents","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-608,464],"id":"afd75b39-fda1-47a7-8786-a64429593800","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-384,464],"id":"15bead69-7506-44ee-a122-cf050e2ef446","name":"Loop Over Items"},{"parameters":{"url":"={{ $json.media_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,464],"id":"84eb6eb2-35ed-49fc-aebc-87e3edb12dc8","name":"Baixar documento","retryOnFail":true,"alwaysOutputData":true,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"14326187-d284-42e5-abfd-ed4f11b0d7de","leftValue":"={{ $json.status }}","rightValue":"processed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[288,464],"id":"14cc0650-285d-4a12-8013-018e42f055b2","name":"processed?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2528,704],"id":"262f2b83-2a12-4250-9454-4c059f098465","name":"No Operation, do nothing"},{"parameters":{"url":"={{ $('Loop Over Items').item.json.media_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,272],"id":"b9f31aa0-ed69-4104-8dee-c70c96f97659","name":"Baixar documento1","retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}},"onError":"continueRegularOutput"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2080,336],"id":"36d814f7-ffee-4608-9184-6b7c42f13c10","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"04bcced1-370e-4d29-8afa-d61aff551870","name":"resposta","value":"={{ $json.data }}","type":"string"},{"id":"3f5102b2-176d-4010-ae08-9a980a65e688","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1856,656],"id":"5e58f66a-b734-4354-b15b-624dc2d553f2","name":"Tratar saida"},{"parameters":{"assignments":{"assignments":[{"id":"04bcced1-370e-4d29-8afa-d61aff551870","name":"resposta","value":"={{ $json.data.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1648,48],"id":"2c8c9c9b-27c8-4182-bf95-fcbb8657d9af","name":"Tratar saida1"},{"parameters":{"method":"POST","url":"https://n8n-ocr-service.jz9bd8.easypanel.host/process-file","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"101020203030"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,464],"id":"821d4a36-d41d-406e-8dd8-8b263050e302","name":"Processar ocr-inteligente","retryOnFail":true,"alwaysOutputData":true,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1408,848],"id":"3f720007-dfe1-4964-b1f7-c70e89a45431","name":"Loop Over Items1","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"pages","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1184,848],"id":"059d9a47-2de7-45f0-ba26-f354718e6f4c","name":"Split Out2","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1632,656],"id":"6ac1baa6-3766-4cdb-ac58-42e25fa1a1f3","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"04bcced1-370e-4d29-8afa-d61aff551870","name":"resposta","value":"={{ $json.responses[0].textAnnotations[0].description }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1824,288],"id":"6e49c979-797e-447b-bae7-5af317dc4547","name":"Tratar saida2"},{"parameters":{"url":"={{ $('Loop Over Items').item.json.media_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,688],"id":"65b38164-64f5-4298-beda-438d3928cc06","name":"Baixar documento2","alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":2000,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://n8n-ocr-service.jz9bd8.easypanel.host/process-pdf-by-pages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"101020203030"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"return_content","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,848],"id":"15a2a779-9f41-43d1-a4ab-82b739929171","name":"Quebrar páginas de pdf","retryOnFail":true,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3b234b37-5058-4d8c-af04-3518fc54aa03","leftValue":"={{ $json.status }}","rightValue":"requires_ocr","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"42b7815a-cf60-468e-8bb4-100335deb634","leftValue":"={{ $json.status }}","rightValue":"single_page_pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[512,560],"id":"ca4d1cd9-d651-4a08-9feb-302bbf3c362d","name":"ocr single_page?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-160,-96],"id":"5d802ab7-997c-4256-81a7-8fb50c00c543","name":"No Operation, do nothing1"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1408,272],"id":"8c4d1540-ac22-44de-b724-2515ca0e82f2","name":"Extract from File1"},{"parameters":{"assignments":{"assignments":[{"id":"04bcced1-370e-4d29-8afa-d61aff551870","name":"pagina","value":"={{ $json.responses[0].responses[0].fullTextAnnotation.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1856,912],"id":"bf04b120-7f62-4794-8e68-b20c2daf1f25","name":"Tratar saida3"},{"parameters":{"httpMethod":"POST","path":"ocr-supremo","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1056,464],"id":"eca14d1f-d648-4aeb-8fe6-586b41da7c6c","name":"Webhook","webhookId":"fc3cf590-b490-480c-ae5d-68f6f04e0580"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[64,-96],"id":"781c9b96-b672-4231-bbc7-2b9c9db1dda9","name":"Aggregate1"},{"parameters":{"assignments":{"assignments":[{"id":"361dbb66-1d70-47d8-a869-9abd709a080d","name":"data","value":"={{ $json.data }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,-96],"id":"dba7ba13-1c8d-41a5-913d-8ad5bf081651","name":"saida webhook"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[512,-96],"id":"3d5b16cd-d5a8-4b2f-8de0-9eb782c53705","name":"Respond to Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d856e63-e6f2-4ab8-8cbc-1c7dd5e33bd9","leftValue":"={{ $json.filename }}","rightValue":".jpg","operator":{"type":"string","operation":"contains"}},{"id":"bd074170-d074-4176-afd8-144e169a9290","leftValue":"={{ $json.filename }}","rightValue":".png","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[960,368],"id":"168e7761-6eaa-44a4-a980-08ba6103fb82","name":"imagem?"},{"parameters":{"url":"={{ $('Loop Over Items').item.json.media_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,464],"id":"be43ff8d-6d9a-458b-91f7-b59387883370","name":"Baixar documento3","retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"04bcced1-370e-4d29-8afa-d61aff551870","name":"resposta","value":"={{ $json.responses[0].responses[0].fullTextAnnotation.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1856,464],"id":"00b3f868-f197-4309-9c84-de94540d4ae0","name":"Tratar saida4"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1408,464],"id":"a1cfc1d7-4fbf-4fcc-bb0c-e6bcaecf56a7","name":"Extract from File"},{"parameters":{"content":"## substitua pela sua apikey! \n","color":4},"type":"n8n-nodes-base.stickyNote","position":[-880,256],"typeVersion":1,"id":"f0098c1c-190d-4697-b441-f34f1ce5ef8c","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"b10f5328-b31f-4b95-9078-c02605438bed","name":"documents","value":"={{ $json.body.documents }}","type":"array"},{"id":"b3166d52-4b72-4ba7-b227-9e9c6a4166ee","name":"apikeygooglevision","value":"AIzaSyAbpkKeiUsb1BJojW-KtUPjE0buVm5myug","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-832,464],"id":"2cb8e39c-0958-4816-8242-8ce594e05568","name":"Tratar dados/cadastrar apikey"},{"parameters":{"assignments":{"assignments":[{"id":"c965de2d-9c2e-4fcc-89a0-72d3e6f71921","name":"texto","value":"={{ $json.resposta }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2304,368],"id":"4d5a488a-5439-4934-a38f-a66f3372c1cb","name":"Tratar dados individuais"},{"parameters":{"method":"POST","url":"=https://vision.googleapis.com/v1/files:annotate?key={{ $('Tratar dados/cadastrar apikey').item.json.apikeygooglevision }}","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"inputConfig\": {\n        \"content\": \"{{ $json.data }}\",\n        \"mimeType\": \"application/pdf\"\n      },\n      \"features\": [\n        {\n          \"type\": \"DOCUMENT_TEXT_DETECTION\"\n        }\n      ],\n      \"pages\": [1]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,464],"id":"585a8ff4-1249-4d0e-aa33-12094dea0786","name":"chamarOCR documentos"},{"parameters":{"method":"POST","url":"=https://vision.googleapis.com/v1/images:annotate?key={{ $('Tratar dados/cadastrar apikey').item.json.apikeygooglevision }}","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"requests\": [\n      {\n        \"image\": {\n          \"content\": \"{{ $json.data }}\"\n        },\n        \"features\": [\n          {\n            \"type\": \"TEXT_DETECTION\"\n          }\n        ]\n      }\n    ]\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,272],"id":"75209352-00b6-4486-bb1f-501c46687dd5","name":"chamarOCR imagem"},{"parameters":{"method":"POST","url":"=https://vision.googleapis.com/v1/files:annotate?key={{ $('Tratar dados/cadastrar apikey').item.json.apikeygooglevision }}","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"inputConfig\": {\n        \"content\": \"{{ $json.content_base64 }}\",\n        \"mimeType\": \"application/pdf\"\n      },\n      \"features\": [\n        {\n          \"type\": \"DOCUMENT_TEXT_DETECTION\"\n        }\n      ],\n      \"pages\": [1]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,848],"id":"e9a865a6-8f7c-4c68-8753-d9b39bcbdb70","name":"chamar OCR documento"}],"connections":{"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Baixar documento","type":"main","index":0}]]},"Baixar documento":{"main":[[{"node":"Processar ocr-inteligente","type":"main","index":0}]]},"processed?":{"main":[[{"node":"Tratar saida1","type":"main","index":0}],[{"node":"ocr single_page?","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Baixar documento1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Tratar dados individuais","type":"main","index":0}]]},"Tratar saida":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Tratar saida1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Processar ocr-inteligente":{"main":[[{"node":"processed?","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"chamar OCR documento","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Tratar saida","type":"main","index":0}]]},"Tratar saida2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Baixar documento2":{"main":[[{"node":"Quebrar páginas de pdf","type":"main","index":0}]]},"Quebrar páginas de pdf":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"ocr single_page?":{"main":[[{"node":"imagem?","type":"main","index":0}],[{"node":"Baixar documento2","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"chamarOCR imagem","type":"main","index":0}]]},"Tratar saida3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Tratar dados/cadastrar apikey","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"saida webhook","type":"main","index":0}]]},"saida webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"imagem?":{"main":[[{"node":"Baixar documento1","type":"main","index":0}],[{"node":"Baixar documento3","type":"main","index":0}]]},"Baixar documento3":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Tratar saida4":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Extract from File":{"main":[[{"node":"chamarOCR documentos","type":"main","index":0}]]},"Tratar dados/cadastrar apikey":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Tratar dados individuais":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"chamarOCR documentos":{"main":[[{"node":"Tratar saida4","type":"main","index":0}]]},"chamarOCR imagem":{"main":[[{"node":"Tratar saida2","type":"main","index":0}]]},"chamar OCR documento":{"main":[[{"node":"Tratar saida3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"axios/1.12.0","content-length":"193","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"documents":[{"media_url":"https://lookaside.fbsbx.com/whatsapp_business/attachments/?mid=2014036479360694&source=webhook&ext=1765302426&hash=[REDACTED]"}]},"webhookUrl":"https://ai.superbot.digital/webhook/ocr-supremo","executionMode":"production"}}]},"versionId":"4d188f28-4290-4874-ae66-249270428202","activeVersionId":"4d188f28-4290-4874-ae66-249270428202","triggerCount":1,"shared":[{"updatedAt":"2025-12-09T17:33:32.287Z","createdAt":"2025-12-09T17:33:32.287Z","role":"workflow:owner","workflowId":"U9qM85XKhGrmFcJn","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-02T15:43:40.382Z","createdAt":"2026-01-02T15:43:40.382Z","versionId":"4d188f28-4290-4874-ae66-249270428202","workflowId":"U9qM85XKhGrmFcJn","nodes":[{"parameters":{"fieldToSplitOut":"documents","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-608,464],"id":"afd75b39-fda1-47a7-8786-a64429593800","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-384,464],"id":"15bead69-7506-44ee-a122-cf050e2ef446","name":"Loop Over Items"},{"parameters":{"url":"={{ $json.media_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,464],"id":"84eb6eb2-35ed-49fc-aebc-87e3edb12dc8","name":"Baixar documento","retryOnFail":true,"alwaysOutputData":true,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"14326187-d284-42e5-abfd-ed4f11b0d7de","leftValue":"={{ $json.status }}","rightValue":"processed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[288,464],"id":"14cc0650-285d-4a12-8013-018e42f055b2","name":"processed?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2528,704],"id":"262f2b83-2a12-4250-9454-4c059f098465","name":"No Operation, do nothing"},{"parameters":{"url":"={{ $('Loop Over Items').item.json.media_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,272],"id":"b9f31aa0-ed69-4104-8dee-c70c96f97659","name":"Baixar documento1","retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}},"onError":"continueRegularOutput"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2080,336],"id":"36d814f7-ffee-4608-9184-6b7c42f13c10","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"04bcced1-370e-4d29-8afa-d61aff551870","name":"resposta","value":"={{ $json.data }}","type":"string"},{"id":"3f5102b2-176d-4010-ae08-9a980a65e688","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1856,656],"id":"5e58f66a-b734-4354-b15b-624dc2d553f2","name":"Tratar saida"},{"parameters":{"assignments":{"assignments":[{"id":"04bcced1-370e-4d29-8afa-d61aff551870","name":"resposta","value":"={{ $json.data.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1648,48],"id":"2c8c9c9b-27c8-4182-bf95-fcbb8657d9af","name":"Tratar saida1"},{"parameters":{"method":"POST","url":"https://n8n-ocr-service.jz9bd8.easypanel.host/process-file","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"101020203030"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,464],"id":"821d4a36-d41d-406e-8dd8-8b263050e302","name":"Processar ocr-inteligente","retryOnFail":true,"alwaysOutputData":true,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1408,848],"id":"3f720007-dfe1-4964-b1f7-c70e89a45431","name":"Loop Over Items1","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"pages","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1184,848],"id":"059d9a47-2de7-45f0-ba26-f354718e6f4c","name":"Split Out2","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1632,656],"id":"6ac1baa6-3766-4cdb-ac58-42e25fa1a1f3","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"04bcced1-370e-4d29-8afa-d61aff551870","name":"resposta","value":"={{ $json.responses[0].textAnnotations[0].description }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1824,288],"id":"6e49c979-797e-447b-bae7-5af317dc4547","name":"Tratar saida2"},{"parameters":{"url":"={{ $('Loop Over Items').item.json.media_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,688],"id":"65b38164-64f5-4298-beda-438d3928cc06","name":"Baixar documento2","alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":2000,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://n8n-ocr-service.jz9bd8.easypanel.host/process-pdf-by-pages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"101020203030"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"return_content","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,848],"id":"15a2a779-9f41-43d1-a4ab-82b739929171","name":"Quebrar páginas de pdf","retryOnFail":true,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3b234b37-5058-4d8c-af04-3518fc54aa03","leftValue":"={{ $json.status }}","rightValue":"requires_ocr","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"42b7815a-cf60-468e-8bb4-100335deb634","leftValue":"={{ $json.status }}","rightValue":"single_page_pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[512,560],"id":"ca4d1cd9-d651-4a08-9feb-302bbf3c362d","name":"ocr single_page?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-160,-96],"id":"5d802ab7-997c-4256-81a7-8fb50c00c543","name":"No Operation, do nothing1"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1408,272],"id":"8c4d1540-ac22-44de-b724-2515ca0e82f2","name":"Extract from File1"},{"parameters":{"assignments":{"assignments":[{"id":"04bcced1-370e-4d29-8afa-d61aff551870","name":"pagina","value":"={{ $json.responses[0].responses[0].fullTextAnnotation.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1856,912],"id":"bf04b120-7f62-4794-8e68-b20c2daf1f25","name":"Tratar saida3"},{"parameters":{"httpMethod":"POST","path":"ocr-supremo","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1056,464],"id":"eca14d1f-d648-4aeb-8fe6-586b41da7c6c","name":"Webhook","webhookId":"fc3cf590-b490-480c-ae5d-68f6f04e0580"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[64,-96],"id":"781c9b96-b672-4231-bbc7-2b9c9db1dda9","name":"Aggregate1"},{"parameters":{"assignments":{"assignments":[{"id":"361dbb66-1d70-47d8-a869-9abd709a080d","name":"data","value":"={{ $json.data }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,-96],"id":"dba7ba13-1c8d-41a5-913d-8ad5bf081651","name":"saida webhook"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[512,-96],"id":"3d5b16cd-d5a8-4b2f-8de0-9eb782c53705","name":"Respond to Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d856e63-e6f2-4ab8-8cbc-1c7dd5e33bd9","leftValue":"={{ $json.filename }}","rightValue":".jpg","operator":{"type":"string","operation":"contains"}},{"id":"bd074170-d074-4176-afd8-144e169a9290","leftValue":"={{ $json.filename }}","rightValue":".png","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[960,368],"id":"168e7761-6eaa-44a4-a980-08ba6103fb82","name":"imagem?"},{"parameters":{"url":"={{ $('Loop Over Items').item.json.media_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,464],"id":"be43ff8d-6d9a-458b-91f7-b59387883370","name":"Baixar documento3","retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"04bcced1-370e-4d29-8afa-d61aff551870","name":"resposta","value":"={{ $json.responses[0].responses[0].fullTextAnnotation.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1856,464],"id":"00b3f868-f197-4309-9c84-de94540d4ae0","name":"Tratar saida4"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1408,464],"id":"a1cfc1d7-4fbf-4fcc-bb0c-e6bcaecf56a7","name":"Extract from File"},{"parameters":{"content":"## substitua pela sua apikey! \n","color":4},"type":"n8n-nodes-base.stickyNote","position":[-880,256],"typeVersion":1,"id":"f0098c1c-190d-4697-b441-f34f1ce5ef8c","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"b10f5328-b31f-4b95-9078-c02605438bed","name":"documents","value":"={{ $json.body.documents }}","type":"array"},{"id":"b3166d52-4b72-4ba7-b227-9e9c6a4166ee","name":"apikeygooglevision","value":"AIzaSyAbpkKeiUsb1BJojW-KtUPjE0buVm5myug","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-832,464],"id":"2cb8e39c-0958-4816-8242-8ce594e05568","name":"Tratar dados/cadastrar apikey"},{"parameters":{"assignments":{"assignments":[{"id":"c965de2d-9c2e-4fcc-89a0-72d3e6f71921","name":"texto","value":"={{ $json.resposta }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2304,368],"id":"4d5a488a-5439-4934-a38f-a66f3372c1cb","name":"Tratar dados individuais"},{"parameters":{"method":"POST","url":"=https://vision.googleapis.com/v1/files:annotate?key={{ $('Tratar dados/cadastrar apikey').item.json.apikeygooglevision }}","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"inputConfig\": {\n        \"content\": \"{{ $json.data }}\",\n        \"mimeType\": \"application/pdf\"\n      },\n      \"features\": [\n        {\n          \"type\": \"DOCUMENT_TEXT_DETECTION\"\n        }\n      ],\n      \"pages\": [1]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,464],"id":"585a8ff4-1249-4d0e-aa33-12094dea0786","name":"chamarOCR documentos"},{"parameters":{"method":"POST","url":"=https://vision.googleapis.com/v1/images:annotate?key={{ $('Tratar dados/cadastrar apikey').item.json.apikeygooglevision }}","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"requests\": [\n      {\n        \"image\": {\n          \"content\": \"{{ $json.data }}\"\n        },\n        \"features\": [\n          {\n            \"type\": \"TEXT_DETECTION\"\n          }\n        ]\n      }\n    ]\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,272],"id":"75209352-00b6-4486-bb1f-501c46687dd5","name":"chamarOCR imagem"},{"parameters":{"method":"POST","url":"=https://vision.googleapis.com/v1/files:annotate?key={{ $('Tratar dados/cadastrar apikey').item.json.apikeygooglevision }}","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"inputConfig\": {\n        \"content\": \"{{ $json.content_base64 }}\",\n        \"mimeType\": \"application/pdf\"\n      },\n      \"features\": [\n        {\n          \"type\": \"DOCUMENT_TEXT_DETECTION\"\n        }\n      ],\n      \"pages\": [1]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,848],"id":"e9a865a6-8f7c-4c68-8753-d9b39bcbdb70","name":"chamar OCR documento"}],"connections":{"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Baixar documento","type":"main","index":0}]]},"Baixar documento":{"main":[[{"node":"Processar ocr-inteligente","type":"main","index":0}]]},"processed?":{"main":[[{"node":"Tratar saida1","type":"main","index":0}],[{"node":"ocr single_page?","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Baixar documento1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Tratar dados individuais","type":"main","index":0}]]},"Tratar saida":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Tratar saida1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Processar ocr-inteligente":{"main":[[{"node":"processed?","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"chamar OCR documento","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Tratar saida","type":"main","index":0}]]},"Tratar saida2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Baixar documento2":{"main":[[{"node":"Quebrar páginas de pdf","type":"main","index":0}]]},"Quebrar páginas de pdf":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"ocr single_page?":{"main":[[{"node":"imagem?","type":"main","index":0}],[{"node":"Baixar documento2","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"chamarOCR imagem","type":"main","index":0}]]},"Tratar saida3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Tratar dados/cadastrar apikey","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"saida webhook","type":"main","index":0}]]},"saida webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"imagem?":{"main":[[{"node":"Baixar documento1","type":"main","index":0}],[{"node":"Baixar documento3","type":"main","index":0}]]},"Baixar documento3":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Tratar saida4":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Extract from File":{"main":[[{"node":"chamarOCR documentos","type":"main","index":0}]]},"Tratar dados/cadastrar apikey":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Tratar dados individuais":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"chamarOCR documentos":{"main":[[{"node":"Tratar saida4","type":"main","index":0}]]},"chamarOCR imagem":{"main":[[{"node":"Tratar saida2","type":"main","index":0}]]},"chamar OCR documento":{"main":[[{"node":"Tratar saida3","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[{"updatedAt":"2026-01-02T15:43:09.908Z","createdAt":"2026-01-02T15:43:09.908Z","id":"pgziJkRB2xHVUzON","name":"surf"}]}