backups/pacific-surf-school---sunny-agent-(whatsapp)-jJPRW6DF0zHrNHCR.json
{"updatedAt":"2026-01-09T16:33:18.281Z","createdAt":"2025-12-01T17:33:56.190Z","id":"jJPRW6DF0zHrNHCR","name":"Pacific Surf School - Sunny Agent (WhatsApp)","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"bcb5a971-ab27-45a0-aadc-2a89dd825602","name":"tipo_mensagem","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].type }}","type":"string"},{"id":"67cee7b9-929e-4591-91e8-44b9a65d0bb5","name":"=numero_conversa","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}","type":"string"},{"id":"bfadd523-669f-4d04-a1f4-bd3a0372f770","name":"nome_cliente","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.contacts[0].profile.name }}","type":"string"},{"id":"c9dbd257-2979-492b-a3e6-f936cc5115cd","name":"Timestamp","value":"={{ new Date($('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].timestamp * 1000).toISOString() }}","type":"string"},{"id":"053bd299-ae94-4a24-a5e0-9466fd947be5","name":"conteudo_mensagem_text","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].text.body }}","type":"string"},{"id":"5720ad0d-e009-47d9-a742-f24320c5e0be","name":"TIMEOUT","value":1,"type":"number"},{"id":"070ebb8d-94e8-4b47-b5e0-5d0485ea2c8c","name":"conversation_id","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}","type":"string"},{"id":"4742b3b1-ef97-4682-a92e-b47d3165a9d7","name":"account_id","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}","type":"string"},{"id":"0c98f973-3a36-4cb9-8a05-7025c960fad7","name":"FROM-ME-WINDOW","value":"120","type":"string"},{"id":"2993c17e-a043-4323-8348-6527d1119f9b","name":"phone_number_id","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}","type":"string"},{"id":"171add33-8e94-4001-97f2-fff7f864711a","name":"phone_number_id","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8976,-416],"id":"be1a8e29-a47e-4085-9797-0ea952be780c","name":"dados principais"},{"parameters":{"conditions":{"string":[{"value1":"={{ $('dados principais').item.json.conteudo_mensagem_text }}","operation":"contains","value2":"#delete"}]}},"id":"eb8cc1ac-c894-49a7-b460-571f67c5e092","name":"Check #delete Command","type":"n8n-nodes-base.if","typeVersion":1,"position":[-8752,-400]},{"parameters":{"operation":"executeQuery","query":"=-- Limpar historico de mensagens\nDELETE FROM public.n8n_chat_histories \nWHERE session_id = '0624f30a-8774-4b19-9ba8-f029ab396144:{{ $('dados principais').item.json.numero_conversa }}';\n\n-- Limpar dados do usuário (metadata e nome)\nUPDATE public.users \nSET \n  name = '',\n  metadata = '{}'::jsonb,\n  updated_at = NOW()\nWHERE id = '{{ $('dados principais').item.json.numero_conversa }}' \n  AND project_id = '1785d020-50f9-49a9-81d7-64927e3e6f96'::uuid\nRETURNING id, name, metadata, updated_at;","additionalFields":{}},"id":"fdb21d76-5168-4896-98a3-4a7cc34b0862","name":"Reset User Data (SQL)","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-8416,-608],"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"jsCode":"const axios = require('axios');\n\nconst recipientNumber =$('dados principais').first().json.numero_conversa ;\nconst phoneNumberId = $('dados principais').first().json.phone_number_id;\nconst token = '[REDACTED]';\n\nconst messageBody = '✅ Your data has been reset successfully!\\n\\nYou can start a fresh conversation now. How can I help you?';\n\nconst url = `https://graph.facebook.com/v20.0/${phoneNumberId}/messages`;\n\nconst data = {\n  messaging_product: \"whatsapp\",\n  recipient_type: \"individual\",\n  to: recipientNumber,\n  type: \"text\",\n  text: {\n    body: messageBody\n  }\n};\n\nconst config = {\n  headers: { \n    'Authorization': `Bearer ${token}`, \n    'Content-Type': 'application/json'\n  }\n};\n\nreturn axios.post(url, data, config)\n  .then(response => {\n    return {\n      json: {\n        success: true,\n        reset_complete: true,\n        user_id: recipientNumber,\n        data: response.data\n      }\n    };\n  })\n  .catch(error => {\n    return {\n      json: {\n        success: false,\n        error: error.response ? error.response.data : error.message\n      }\n    };\n  });"},"id":"f1394bcd-1754-4723-aa57-18af802e6fed","name":"Send Reset Confirmation","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8048,-608]},{"parameters":{"dataToSave":{"values":[{"key":"[REDACTED]","value":"={{ $json.numero_conversa }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-8560,-336],"id":"65e73640-a5cc-4ed4-b564-65eb63e1fa24","name":"Execution Data"},{"parameters":{"assignments":{"assignments":[{"id":"c53cd9f9-77c1-4331-98ff-bfc9bdf95a3c","name":"MESSAGE","type":"string","value":"={{ $('dados principais').item.json.conteudo_mensagem_text }}"}]},"options":{}},"id":"40363e7b-e71b-4419-9710-e8a00ba7d09d","name":"Text","type":"n8n-nodes-base.set","position":[-6880,-720],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"219577d5-b028-48fc-90be-980f4171ab68","name":"MESSAGE","type":"string","value":"={{ $json.choices[0].message.content }}"}]},"options":{}},"id":"e8498b8d-b4ae-4e8b-b008-95690545b79c","name":"Audio","type":"n8n-nodes-base.set","position":[-6256,-944],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"MESSAGE","type":"string","value":"=User request on the image:\n{{  $('WhatsApp Trigger').item.json.messages[0].image.caption || \"Describe the following image\"  }}\n\nImage description:\n{{ $json.choices[0].message.content }}"}]},"options":{}},"id":"9fe56e19-8bce-4ba5-8ed3-365ec40c9ff9","name":"Image","type":"n8n-nodes-base.set","position":[-6544,-496],"typeVersion":3.4},{"parameters":{"operation":"send","phoneNumberId":"=470271332838881","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"=You can only send text messages, images, audio files and PDF documents.","additionalFields":{}},"id":"6b6c1233-1275-4200-b39f-9921179b90e3","name":"Not supported","type":"n8n-nodes-base.whatsApp","position":[-7888,176],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"08fd0c80-307e-4f45-b1de-35192ee4ec5e","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"text"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"b7b64446-f1ea-4622-990c-22f3999a8269","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"audio"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"202af928-a324-411a-bf15-68a349e7bf9e","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"image"}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"c63299e9-6069-4bc6-afb9-7beebf6e3d69","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"document"}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5d3f388-9922-4907-aafb-d70a3f43e8bc","leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"button","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"button"}]},"options":{"fallbackOutput":"extra"}},"id":"230042fb-55d7-424f-bf16-1d64fb3ded47","name":"Input type","type":"n8n-nodes-base.switch","position":[-7872,-480],"typeVersion":3.2},{"parameters":{"amount":"={{ $('dados principais').item.json.TIMEOUT }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-5232,-496],"id":"777773a2-9c0f-4f65-b71f-48c9bc44e616","name":"TIMEOUT","webhookId":"43deaaad-faa9-4ade-a67b-62ccd56e4e54"},{"parameters":{"assignments":{"assignments":[{"id":"c7ab23fd-cefa-4334-bd7a-3bc6d20c40f3","name":"final_user_message","value":"={{ $json.final_user_message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3888,-496],"id":"241089cb-2cdf-41d8-858f-8374a055729a","name":"Guardar Mensagem Final do Usuário"},{"parameters":{"operation":"get","key":"[REDACTED]","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5008,-496],"id":"78d9ee63-9668-4d37-8bc7-7914bf2b632f","name":"GET FINAL DEBOUNCE VALUE","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2539a6bb-4bc5-419b-85d6-a2a456b14cca","leftValue":"={{ $now.toISO() }}","rightValue":"={{ $json.propertyName }}","operator":{"type":"dateTime","operation":"afterOrEquals"}},{"id":"4b43c656-7f85-476b-b670-c53794fea280","leftValue":"={{ $json.propertyName }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4784,-496],"id":"cc3dffe1-6497-4615-a257-94a3ea591c0d","name":"IS BATCH READY FOR PROCESSING?"},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4560,-496],"id":"3fa7846a-acc8-46c7-82e6-691f5bed0dc6","name":"DELETE CONTROL TIMER KEY","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"value","key":"[REDACTED]","options":{}},"name":"GET Acumulador Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5904,-496],"id":"ad1f43d6-f8bb-4dfe-a77b-c4ce311cc17a","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"jsCode":"// Recupera o array anterior salvo em Redis (via nó GET)\nconst current = JSON.parse($json.value || '[]');\n\n// Função para tentar acessar o .MESSAGE de um nó sem causar erro\nfunction getSafeMessage(nodeName) {\n  try {\n    const nodeData = $(nodeName).first();\n    return nodeData?.json?.MESSAGE || null;\n  } catch (err) {\n    return null;\n  }\n}\n\n// Tenta resgatar a mensagem do primeiro nó que estiver disponível\nconst nova =\n  getSafeMessage('Text') ||\n  getSafeMessage('Audio') ||\n  getSafeMessage('Image') ||\n  getSafeMessage('File') ||\n  getSafeMessage('button') ||\n  '';\n\n// Adiciona ao array\ncurrent.push(nova);\n\n// Retorna o array atualizado\nreturn [{ json: { updatedList: current } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5680,-496],"id":"010ea36d-ce2d-4e6f-9881-6acc9ecc64fb","name":"Code3"},{"parameters":{"operation":"set","key":"[REDACTED]","value":"={{ JSON.stringify($json.updatedList) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5456,-496],"id":"c7ac3377-4446-499d-91fd-63febf3cc6fc","name":"Redis3","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"value","key":"[REDACTED]","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4336,-496],"id":"516935df-29c9-4afc-87a3-2a4988cee96a","name":"Redis4","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"jsCode":"const arr = JSON.parse($json.value || \"[]\");\nconst finalMsg = arr.join(\" \");\nreturn [{ json: { final_user_message: finalMsg } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4112,-496],"id":"106e488f-aa72-4018-901b-1c23fb1e35d8","name":"Code4"},{"parameters":{"operation":"set","key":"[REDACTED]","value":"={{ $now.plus($('dados principais').item.json.TIMEOUT*1000).toISO() }}","keyType":"=automatic"},"name":"SET/UPDATE USER DEBOUNCE TIMER","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-8096,-416],"id":"c0544dc1-d2df-4a8a-bf1c-d8c899b2cebe","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1c4cc85d-f7e6-40bb-a159-e44090a9beee","name":"MESSAGE","value":"={{$('WhatsApp Trigger').item.json.messages[0].button.text}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6880,-304],"id":"f8ae9bed-b125-474a-b02c-632f1e80ef29","name":"button"},{"parameters":{"assignments":{"assignments":[{"id":"26fb2457-2dff-49d3-b7b4-256028ba1a05","name":"messages","value":"={{ $json.result.split(\"\\n\\n\") }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1360,-464],"id":"e6aa7b44-de88-4456-9533-a2b0496034d1","name":"Reposta da orquestra"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[320,-336],"id":"62629cbf-fa90-4f61-b398-e198c2006e51","name":"Limit"},{"parameters":{"fieldToSplitOut":"messages","options":{}},"id":"a0ecd679-94d3-4dc9-ba1e-38662f8bdf66","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-992,-448]},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[800,-256],"id":"c45df443-561e-4efd-9fe1-5b91c26baab4","name":"Redis6","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-576,-416],"id":"895a5b8e-6bca-43e9-a926-a55a645e7205","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-240,-240],"id":"50b59433-de91-4ed4-8b9c-db1c44066e14","name":"Wait1","webhookId":"f0a59fa4-7cde-4676-9f75-c4afd7e73640"},{"parameters":{"jsCode":"// Suponha que a string venha como item.input\nconst input = $input.first().json.output;\n\n// Substitui **qualquer_coisa** por *qualquer_coisa*\nconst output = input.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n\nreturn [{ json: { result: output } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2304,-608],"id":"4f46880f-5579-48f4-8dcd-610fcf843fc3","name":"Tratar resposta"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/918516351342682/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"status\": \"read\",\n    \"message_id\": \"{{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].id }}\"\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8368,-416],"id":"04862845-a2aa-46f8-a6f2-f0e3fb34e5b8","name":"Digitando1","executeOnce":true,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78db572a-6379-4d64-871f-50d4f40f04c6","leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"a995d542-d33f-47d5-85ae-929977f24812","name":"Check if Input was Audio","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2128,-736]},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/r2fkFV8WAqXq2AqBpgJT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"[REDACTED]"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.audio_script }}"},{"name":"model_id","value":"eleven_multilingual_v2"},{"name":"voice_settings","value":"={{ {\n  \"stability\": 0.5,\n  \"similarity_boost\": 0.5\n} }}"}]},"options":{}},"id":"79ab3c7a-b356-464f-af2c-c13452c58262","name":"Generate Audio (ElevenLabs)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1344,-816]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer [REDACTED]"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"google/gemini-2.5-flash-lite"},{"name":"messages","value":"={{ [\n  {\n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"Transcribe this audio file verbatim.\"\n      },\n      {\n        \"type\": \"image_url\",\n        \"image_url\": {\n          \"url\": \"data:audio/mp3;base64,\" + $json.data\n        }\n      }\n    ]\n  }\n] }}"}]},"options":{}},"id":"6d924938-2d6a-4c8c-be7e-b79c68d482a8","name":"Transcribe Audio (OpenRouter)","type":"n8n-nodes-base.httpRequest","position":[-6800,-1088],"typeVersion":4.2},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-320,-720],"id":"9cfa1e80-7f9a-4c05-9075-e5e6f0679047","name":"Redis7","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"operation":"executeQuery","query":"-- Gerenciar usuário multi-tenant com preservação de metadados\nINSERT INTO public.users (\n  id, \n  project_id,\n  name, \n  metadata, \n  created_at, \n  updated_at\n)\nVALUES (\n  '{{ $json.body.entry[0].changes[0].value.contacts[0].wa_id }}',\n  '1785d020-50f9-49a9-81d7-64927e3e6f96'::uuid,\n  '',\n  '{}'::jsonb,\n  NOW(),\n  NOW()\n)\nON CONFLICT (id, project_id) DO UPDATE SET\n  name = EXCLUDED.name,\n  updated_at = NOW()\nRETURNING *;","options":{}},"id":"d2f580f2-f167-475b-a428-719f7e1e23d8","name":"Gerenciar Usuario (Postgres)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-9216,-432],"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer [REDACTED]"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"google/gemini-2.5-flash-lite"},{"name":"messages","value":"={{ [\n  {\n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"text\",\n        \"text\": $('WhatsApp Trigger').item.json.messages[0].image.caption + \"Analyze this image. Describe\" || \"Analyze this image. Describe.\"\n      },\n      {\n        \"type\": \"image_url\",\n        \"image_url\": {\n          \"url\": \"data:image/jpeg;base64,\" + $json.data\n        }\n      }\n    ]\n  }\n] }}"}]},"options":{}},"id":"7adc1bef-860a-45ac-86d9-7046fb391a59","name":"Analyze Image (OpenRouter)1","type":"n8n-nodes-base.httpRequest","position":[-6784,-480],"typeVersion":4.2},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"a1839e21-3124-4d2c-81d1-5d0231bbf93e","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[-7184,-480],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"aJncYJxPcd9HqT2c","name":"Header Auth account"},"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}}},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"},"id":"caec9b58-4dc7-450f-a41f-50865108b49e","name":"Get Image Url","type":"n8n-nodes-base.whatsApp","position":[-7312,-480],"webhookId":"280bd5de-32d7-4d8f-93d2-e91e3b0bc161","typeVersion":1,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-7008,-464],"id":"af20123d-f901-467f-8c1b-649143d598ec","name":"Extract from File3"},{"parameters":{"method":"POST","url":"https://ai.superbot.digital/webhook/ocr-supremo","sendBody":true,"bodyParameters":{"parameters":[{"name":"documents","value":"={{ [{\n  \"media_url\": $('WhatsApp Trigger').item.json.messages[0].document.url\n}] }}"}]},"options":{}},"id":"bcee4ec8-982c-402c-bfc7-1deb1053cf64","name":"OCR Webhook1","type":"n8n-nodes-base.httpRequest","position":[-7088,-80],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"MESSAGE","type":"string","value":"=User request on the file:\n{{  $('WhatsApp Trigger').item.json.messages[0].document.caption || \"Describe this file\" }}\n\nFile content:\n{{ $json.data[0].texto }}"}]},"options":{}},"id":"919ab549-6f74-4d2d-9abc-0b80ff17d327","name":"File","type":"n8n-nodes-base.set","position":[-6576,-80],"typeVersion":3.4},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3776,-624],"id":"8052e58d-0835-4c21-9361-67fa8fe824e8","name":"Redis","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"httpMethod":"POST","path":"861930443675861","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-9504,-432],"id":"5b35a824-0903-4861-b358-4c2548c658fc","name":"WhatsApp Trigger","webhookId":"f530aaff-bc9d-47f8-b5b0-0e85c1c4b0e5"},{"parameters":{"jsCode":"const axios = require('axios');\n\n// === 1. CONFIGURAÇÕES ===\nconst token = '[REDACTED]';\nconst phoneNumberId = $('dados principais').first().json.phone_number_id || '861930443675861'; \nconst recipientNumber = $('dados principais').first().json.numero_conversa;\n\n// === 2. PREPARAR O BINÁRIO ===\n// No n8n Code Node (v2), o binário vem em items[0].binary\nconst binaryKey = Object.keys(items[0].binary)[0];\nconst binaryData = items[0].binary[binaryKey];\nconst fileBuffer = Buffer.from(binaryData.data, 'base64');\n\n// === 3. CONSTRUIR O MULTIPART MANUALLY (Substituindo Form-Data) ===\nconst boundary = '----n8nBoundary' + Math.random().toString(16).slice(2);\nconst CRLF = '\\r\\n';\n\nlet postData = [];\n\n// Campo: messaging_product\npostData.push(Buffer.from('--' + boundary + CRLF));\npostData.push(Buffer.from('Content-Disposition: form-data; name=\"messaging_product\"' + CRLF + CRLF));\npostData.push(Buffer.from('whatsapp' + CRLF));\n\n// Campo: type\npostData.push(Buffer.from('--' + boundary + CRLF));\npostData.push(Buffer.from('Content-Disposition: form-data; name=\"type\"' + CRLF + CRLF));\npostData.push(Buffer.from('audio/mpeg' + CRLF));\n\n// Campo: file (O arquivo em si)\npostData.push(Buffer.from('--' + boundary + CRLF));\npostData.push(Buffer.from('Content-Disposition: form-data; name=\"file\"; filename=\"audio.mp3\"' + CRLF));\npostData.push(Buffer.from('Content-Type: audio/mpeg' + CRLF + CRLF));\npostData.push(fileBuffer);\npostData.push(Buffer.from(CRLF));\n\n// Fechamento da Boundary\npostData.push(Buffer.from('--' + boundary + '--' + CRLF));\n\nconst payload = Buffer.concat(postData);\n\ntry {\n  // === 4. PASSO 1: UPLOAD DA MÍDIA ===\n  const uploadRes = await axios.post(\n    `https://graph.facebook.com/v20.0/${phoneNumberId}/media`,\n    payload,\n    {\n      headers: {\n        'Authorization': `Bearer ${token}`,\n        'Content-Type': `multipart/form-data; boundary=${boundary}`\n      }\n    }\n  );\n\n  const mediaId = uploadRes.data.id;\n  \n  // === 5. PASSO 2: ENVIAR A MENSAGEM DE ÁUDIO ===\n  const sendRes = await axios.post(\n    `https://graph.facebook.com/v20.0/${phoneNumberId}/messages`,\n    {\n      messaging_product: \"whatsapp\",\n      recipient_type: \"individual\",\n      to: recipientNumber,\n      type: \"audio\",\n      audio: { id: mediaId }\n    },\n    {\n      headers: {\n        'Authorization': `Bearer ${token}`,\n        'Content-Type': 'application/json'\n      }\n    }\n  );\n\n  return {\n    json: {\n      success: true,\n      media_id: mediaId,\n      result: sendRes.data\n    }\n  };\n\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.response ? error.response.data : error.message\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1184,-816],"id":"32c3f243-87da-4b3b-b935-5dca3878b7bc","name":"send audio"},{"parameters":{"jsCode":"const axios = require('axios');\n\n// Token do seu Usuário de Sistema\nconst token = '[REDACTED]';\n\n// Pega o ID do áudio dinamicamente do webhook\nconst mediaId = $('WhatsApp Trigger').first().json.body.entry[0].changes[0].value.messages[0].audio.id;\n\ntry {\n  // 1. Buscar a URL real de download (Metadados)\n  const metaRes = await axios.get(`https://graph.facebook.com/v21.0/${mediaId}`, {\n    headers: { 'Authorization': `Bearer ${token}` }\n  });\n\n  const downloadUrl = metaRes.data.url;\n\n  // 2. Baixar o arquivo binário direto da Meta\n  const audioRes = await axios.get(downloadUrl, {\n    headers: { 'Authorization': `Bearer ${token}` },\n    responseType: 'arraybuffer'\n  });\n\n  // 3. Converter para Base64 para o Gemini/OpenRouter\n  const base64Audio = Buffer.from(audioRes.data).toString('base64');\n\n  return {\n    json: {\n      data: base64Audio,\n      mime_type: metaRes.data.mime_type,\n      success: true\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.response ? error.response.data : error.message\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7088,-1040],"id":"da82ee1a-31f5-4903-b042-901e10c4e641","name":"transformar audio em base64"},{"parameters":{"promptType":"define","text":"={{ $json.result }}","options":{"systemMessage":"# PERSONA: ELEVENLABS WHATSAPP ARCHITECT (JSON MODE)\n\nVocê é um motor de processamento de mensagens para WhatsApp. Sua função é receber um texto e transformá-lo em uma estrutura JSON que separa o conteúdo sonoro do conteúdo visual (links/cupons).\n\n## REGRAS DE CONVERSÃO\n1. **Atitude no Áudio:** Se houver links, cupons ou códigos no texto original, você deve removê-los do `audio_script` e substituí-los por uma menção natural (ex: \"vou te deixar o link aqui embaixo\", \"o cupom já tá na conversa\").\n2. **Otimização ElevenLabs:** O `audio_script` deve conter marcações prosódicas (..., vírgulas, exclamações) para soar humano e espontâneo.\n3. **Preservação de Texto:** O `whatsapp_text` deve conter a mensagem completa, incluindo links, cupons e formatação Markdown (negrito, etc).\n4. **Resumidor de Idioma:** Sempre responda no idioma que a mensagem chegou.\n\n## FORMATO DE SAÍDA (ESTRITAMENTE JSON)\n{\n  \"audio_script\": \"Texto otimizado para a ElevenLabs (sem links, com menção que o link foi enviado)\",\n  \"whatsapp_text\": \"Texto completo para o usuário ler, com links e cupons\",\n  \"has_links\": true/false,\n  \"language\": \"ISO code (ex: pt-BR)\"\n}\n\n## EXEMPLO\nEntrada: \"Confira nosso site https://surf.com e use o cupom SURF10 para 10% de desconto!\"\nSaída:\n{\n  \"audio_script\": \"Dá uma olhada no nosso site... eu acabei de te mandar o link aqui embaixo! Ah, e aproveita que tem um cupom de dez por cento de desconto também, tá bom? É só ver na mensagem!\",\n  \"whatsapp_text\": \"Confira nosso site: https://surf.com e use o cupom *SURF10* para 10% de desconto!\",\n  \"has_links\": true,\n  \"language\": \"pt-BR\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1920,-832],"id":"bef2f118-0d0b-4ce5-809a-7f94d1fcfe13","name":"AI Agent1"},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1952,-512],"id":"90aa9dc4-122f-4703-ae0d-a39d3c162122","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"Prux8qgwDlD6Yvje","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// Acessando os dados do nó anterior (IA)\nconst response = JSON.parse($input.first().json.output); // Supondo que a saída da IA esteja em 'output'\n\nreturn {\n  audio_script: response.audio_script,\n  whatsapp_text: response.whatsapp_text,\n  should_send_text: response.has_links,\n  language: response.language\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,-832],"id":"05734043-a5d3-4831-aabe-8015c81c76e3","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f42528b-7d34-435f-9748-1b2271af94d1","leftValue":"={{ $('Code in JavaScript').item.json.should_send_text }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-992,-816],"id":"f7796266-f24a-40d3-8a5e-09f3c67bc69f","name":"enviar texto?"},{"parameters":{"jsCode":"// Importa o Axios (disponível na maioria das instalações n8n self-hosted)\nconst axios = require('axios');\n\n// Pega os dados do item anterior\nconst recipientNumber = $('dados principais').first().json.numero_conversa;\nconst messageBody = $('Loop Over Items1').item.json.messages;\n// O ID do telefone pode vir do Switch ou de uma variável setada antes\nconst phoneNumberId = $('dados principais').first().json.phone_number_id || 'ID_PADRAO_SE_FALTAR'; \n\nconst token = '[REDACTED]'; // <--- COLOQUE SEU TOKEN AQUI\n\nconst url = `https://graph.facebook.com/v20.0/${phoneNumberId}/messages`;\n\nconst data = {\n  messaging_product: \"whatsapp\",\n  recipient_type: \"individual\",\n  to: recipientNumber,\n  type: \"text\",\n  text: {\n    body: messageBody\n  }\n};\n\nconst config = {\n  headers: { \n    'Authorization': `Bearer ${token}`, \n    'Content-Type': 'application/json'\n  }\n};\n\n// Retorna a Promise do Axios para o n8n esperar\nreturn axios.post(url, data, config)\n  .then(response => {\n    return {\n      json: {\n        success: true,\n        data: response.data\n      }\n    };\n  })\n  .catch(error => {\n    return {\n      json: {\n        success: false,\n        error: error.response ? error.response.data : error.message\n      }\n    };\n  });"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,-160],"id":"296bf106-69d8-44bc-b7fa-37603c3ef9e3","name":"Enviar texto"},{"parameters":{"jsCode":"// Importa o Axios (disponível na maioria das instalações n8n self-hosted)\nconst axios = require('axios');\n\n// Pega os dados do item anterior\nconst recipientNumber = $('dados principais').first().json.numero_conversa;\nconst messageBody = $('Code in JavaScript').first().json.whatsapp_text;\n// O ID do telefone pode vir do Switch ou de uma variável setada antes\nconst phoneNumberId = $('dados principais').first().json.phone_number_id || 'ID_PADRAO_SE_FALTAR'; \n\nconst token = '[REDACTED]'; // <--- COLOQUE SEU TOKEN AQUI\n\nconst url = `https://graph.facebook.com/v24.0/${phoneNumberId}/messages`;\n\nconst data = {\n  messaging_product: \"whatsapp\",\n  recipient_type: \"individual\",\n  to: recipientNumber,\n  type: \"text\",\n  text: {\n    body: messageBody\n  }\n};\n\nconst config = {\n  headers: { \n    'Authorization': `Bearer ${token}`, \n    'Content-Type': 'application/json'\n  }\n};\n\n// Retorna a Promise do Axios para o n8n esperar\nreturn axios.post(url, data, config)\n  .then(response => {\n    return {\n      json: {\n        success: true,\n        data: response.data\n      }\n    };\n  })\n  .catch(error => {\n    return {\n      json: {\n        success: false,\n        error: error.response ? error.response.data : error.message\n      }\n    };\n  });"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,-944],"id":"ed1c3b64-98fa-4eae-b1cf-1936111d06ff","name":"Enviar texto1"},{"parameters":{"workflowId":{"__rl":true,"value":"3Ponk6lKg0VL1oIW","mode":"list","cachedResultUrl":"/workflow/3Ponk6lKg0VL1oIW","cachedResultName":"livia only agente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero_conversa":"={{ $('dados principais').item.json.numero_conversa }}","final_user_message":"={{ $json.final_user_message }}","surf_level":"={{ $('Gerenciar Usuario (Postgres)').item.json.surf_level }}","notes":"={{ $('Gerenciar Usuario (Postgres)').item.json.notes }}","name":"={{ $('Gerenciar Usuario (Postgres)').item.json.name }}","id":"={{ $('Gerenciar Usuario (Postgres)').item.json.id }}","project_id":"={{ $('Gerenciar Usuario (Postgres)').item.json.project_id }}"},"matchingColumns":["numero_conversa","final_user_message","surf_level","notes","name","id","project_id"],"schema":[{"id":"numero_conversa","displayName":"numero_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"final_user_message","displayName":"final_user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"surf_level","displayName":"surf_level","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"project_id","displayName":"project_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-3008,-176],"name":"Call livia only agente","id":"35c069aa-a5dd-47e0-9712-3d5c8f659cbe"}],"connections":{"dados principais":{"main":[[{"node":"Check #delete Command","type":"main","index":0}]]},"Check #delete Command":{"main":[[{"node":"Reset User Data (SQL)","type":"main","index":0}],[{"node":"Execution Data","type":"main","index":0}]]},"Reset User Data (SQL)":{"main":[[{"node":"Send Reset Confirmation","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"Digitando1","type":"main","index":0}]]},"Text":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Audio":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Image":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Input type":{"main":[[{"node":"Text","type":"main","index":0}],[{"node":"transformar audio em base64","type":"main","index":0}],[{"node":"Get Image Url","type":"main","index":0}],[{"node":"OCR Webhook1","type":"main","index":0}],[{"node":"button","type":"main","index":0}],[{"node":"Not supported","type":"main","index":0}]]},"TIMEOUT":{"main":[[{"node":"GET FINAL DEBOUNCE VALUE","type":"main","index":0}]]},"Guardar Mensagem Final do Usuário":{"main":[[{"node":"Call livia only agente","type":"main","index":0}]]},"GET FINAL DEBOUNCE VALUE":{"main":[[{"node":"IS BATCH READY FOR PROCESSING?","type":"main","index":0}]]},"IS BATCH READY FOR PROCESSING?":{"main":[[{"node":"DELETE CONTROL TIMER KEY","type":"main","index":0}]]},"DELETE CONTROL TIMER KEY":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"GET Acumulador Redis":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"TIMEOUT","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Guardar Mensagem Final do Usuário","type":"main","index":0}]]},"SET/UPDATE USER DEBOUNCE TIMER":{"main":[[{"node":"Input type","type":"main","index":0}]]},"button":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Reposta da orquestra":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Redis6","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Tratar resposta":{"main":[[{"node":"Check if Input was Audio","type":"main","index":0}]]},"Digitando1":{"main":[[{"node":"SET/UPDATE USER DEBOUNCE TIMER","type":"main","index":0}]]},"Check if Input was Audio":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Reposta da orquestra","type":"main","index":0}]]},"Generate Audio (ElevenLabs)":{"main":[[{"node":"send audio","type":"main","index":0}]]},"Transcribe Audio (OpenRouter)":{"main":[[{"node":"Audio","type":"main","index":0}]]},"Gerenciar Usuario (Postgres)":{"main":[[{"node":"dados principais","type":"main","index":0}]]},"Analyze Image (OpenRouter)1":{"main":[[{"node":"Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Extract from File3","type":"main","index":0}]]},"Get Image Url":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Extract from File3":{"main":[[{"node":"Analyze Image (OpenRouter)1","type":"main","index":0}]]},"OCR Webhook1":{"main":[[{"node":"File","type":"main","index":0}]]},"File":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Gerenciar Usuario (Postgres)","type":"main","index":0}]]},"send audio":{"main":[[{"node":"enviar texto?","type":"main","index":0}]]},"transformar audio em base64":{"main":[[{"node":"Transcribe Audio (OpenRouter)","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Generate Audio (ElevenLabs)","type":"main","index":0}]]},"enviar texto?":{"main":[[{"node":"Enviar texto1","type":"main","index":0}],[{"node":"Redis7","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Redis7","type":"main","index":0}]]},"Call livia only agente":{"main":[[{"node":"Tratar resposta","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"WhatsApp Trigger":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"axios/1.12.0","content-length":"479","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"object":"whatsapp_business_account","entry":[{"id":"1382738039868227","changes":[{"value":{"messaging_product":"whatsapp","metadata":{"display_phone_number":"18588082669","phone_number_id":"861930443675861"},"contacts":[{"profile":{"name":"Guy Folkz"},"wa_id":"555193299031"}],"messages":[{"from":"555193299031","id":"wamid.[REDACTED]=","timestamp":"1767639229","text":{"body":"#delete"},"type":"text"}]},"field":"messages"}]}]},"webhookUrl":"https://ai.superbot.digital/webhook/861930443675861","executionMode":"production"}}]},"versionId":"8443dc93-fae6-4eb6-b5a1-8bbb9f167c6d","activeVersionId":"8443dc93-fae6-4eb6-b5a1-8bbb9f167c6d","triggerCount":1,"shared":[{"updatedAt":"2025-12-01T17:33:56.190Z","createdAt":"2025-12-01T17:33:56.190Z","role":"workflow:owner","workflowId":"jJPRW6DF0zHrNHCR","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-09T16:33:18.268Z","createdAt":"2026-01-09T16:33:18.268Z","versionId":"8443dc93-fae6-4eb6-b5a1-8bbb9f167c6d","workflowId":"jJPRW6DF0zHrNHCR","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"bcb5a971-ab27-45a0-aadc-2a89dd825602","name":"tipo_mensagem","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].type }}","type":"string"},{"id":"67cee7b9-929e-4591-91e8-44b9a65d0bb5","name":"=numero_conversa","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}","type":"string"},{"id":"bfadd523-669f-4d04-a1f4-bd3a0372f770","name":"nome_cliente","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.contacts[0].profile.name }}","type":"string"},{"id":"c9dbd257-2979-492b-a3e6-f936cc5115cd","name":"Timestamp","value":"={{ new Date($('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].timestamp * 1000).toISOString() }}","type":"string"},{"id":"053bd299-ae94-4a24-a5e0-9466fd947be5","name":"conteudo_mensagem_text","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].text.body }}","type":"string"},{"id":"5720ad0d-e009-47d9-a742-f24320c5e0be","name":"TIMEOUT","value":1,"type":"number"},{"id":"070ebb8d-94e8-4b47-b5e0-5d0485ea2c8c","name":"conversation_id","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}","type":"string"},{"id":"4742b3b1-ef97-4682-a92e-b47d3165a9d7","name":"account_id","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}","type":"string"},{"id":"0c98f973-3a36-4cb9-8a05-7025c960fad7","name":"FROM-ME-WINDOW","value":"120","type":"string"},{"id":"2993c17e-a043-4323-8348-6527d1119f9b","name":"phone_number_id","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}","type":"string"},{"id":"171add33-8e94-4001-97f2-fff7f864711a","name":"phone_number_id","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8976,-416],"id":"be1a8e29-a47e-4085-9797-0ea952be780c","name":"dados principais"},{"parameters":{"conditions":{"string":[{"value1":"={{ $('dados principais').item.json.conteudo_mensagem_text }}","operation":"contains","value2":"#delete"}]}},"id":"eb8cc1ac-c894-49a7-b460-571f67c5e092","name":"Check #delete Command","type":"n8n-nodes-base.if","typeVersion":1,"position":[-8752,-400]},{"parameters":{"operation":"executeQuery","query":"=-- Limpar historico de mensagens\nDELETE FROM public.n8n_chat_histories \nWHERE session_id = '0624f30a-8774-4b19-9ba8-f029ab396144:{{ $('dados principais').item.json.numero_conversa }}';\n\n-- Limpar dados do usuário (metadata e nome)\nUPDATE public.users \nSET \n  name = '',\n  metadata = '{}'::jsonb,\n  updated_at = NOW()\nWHERE id = '{{ $('dados principais').item.json.numero_conversa }}' \n  AND project_id = '1785d020-50f9-49a9-81d7-64927e3e6f96'::uuid\nRETURNING id, name, metadata, updated_at;","additionalFields":{}},"id":"fdb21d76-5168-4896-98a3-4a7cc34b0862","name":"Reset User Data (SQL)","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-8416,-608],"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"jsCode":"const axios = require('axios');\n\nconst recipientNumber =$('dados principais').first().json.numero_conversa ;\nconst phoneNumberId = $('dados principais').first().json.phone_number_id;\nconst token = '[REDACTED]';\n\nconst messageBody = '✅ Your data has been reset successfully!\\n\\nYou can start a fresh conversation now. How can I help you?';\n\nconst url = `https://graph.facebook.com/v20.0/${phoneNumberId}/messages`;\n\nconst data = {\n  messaging_product: \"whatsapp\",\n  recipient_type: \"individual\",\n  to: recipientNumber,\n  type: \"text\",\n  text: {\n    body: messageBody\n  }\n};\n\nconst config = {\n  headers: { \n    'Authorization': `Bearer ${token}`, \n    'Content-Type': 'application/json'\n  }\n};\n\nreturn axios.post(url, data, config)\n  .then(response => {\n    return {\n      json: {\n        success: true,\n        reset_complete: true,\n        user_id: recipientNumber,\n        data: response.data\n      }\n    };\n  })\n  .catch(error => {\n    return {\n      json: {\n        success: false,\n        error: error.response ? error.response.data : error.message\n      }\n    };\n  });"},"id":"f1394bcd-1754-4723-aa57-18af802e6fed","name":"Send Reset Confirmation","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8048,-608]},{"parameters":{"dataToSave":{"values":[{"key":"[REDACTED]","value":"={{ $json.numero_conversa }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-8560,-336],"id":"65e73640-a5cc-4ed4-b564-65eb63e1fa24","name":"Execution Data"},{"parameters":{"assignments":{"assignments":[{"id":"c53cd9f9-77c1-4331-98ff-bfc9bdf95a3c","name":"MESSAGE","type":"string","value":"={{ $('dados principais').item.json.conteudo_mensagem_text }}"}]},"options":{}},"id":"40363e7b-e71b-4419-9710-e8a00ba7d09d","name":"Text","type":"n8n-nodes-base.set","position":[-6880,-720],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"219577d5-b028-48fc-90be-980f4171ab68","name":"MESSAGE","type":"string","value":"={{ $json.choices[0].message.content }}"}]},"options":{}},"id":"e8498b8d-b4ae-4e8b-b008-95690545b79c","name":"Audio","type":"n8n-nodes-base.set","position":[-6256,-944],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"MESSAGE","type":"string","value":"=User request on the image:\n{{  $('WhatsApp Trigger').item.json.messages[0].image.caption || \"Describe the following image\"  }}\n\nImage description:\n{{ $json.choices[0].message.content }}"}]},"options":{}},"id":"9fe56e19-8bce-4ba5-8ed3-365ec40c9ff9","name":"Image","type":"n8n-nodes-base.set","position":[-6544,-496],"typeVersion":3.4},{"parameters":{"operation":"send","phoneNumberId":"=470271332838881","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"=You can only send text messages, images, audio files and PDF documents.","additionalFields":{}},"id":"6b6c1233-1275-4200-b39f-9921179b90e3","name":"Not supported","type":"n8n-nodes-base.whatsApp","position":[-7888,176],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"08fd0c80-307e-4f45-b1de-35192ee4ec5e","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"text"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"b7b64446-f1ea-4622-990c-22f3999a8269","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"audio"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"202af928-a324-411a-bf15-68a349e7bf9e","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"image"}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"c63299e9-6069-4bc6-afb9-7beebf6e3d69","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"document"}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5d3f388-9922-4907-aafb-d70a3f43e8bc","leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"button","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"button"}]},"options":{"fallbackOutput":"extra"}},"id":"230042fb-55d7-424f-bf16-1d64fb3ded47","name":"Input type","type":"n8n-nodes-base.switch","position":[-7872,-480],"typeVersion":3.2},{"parameters":{"amount":"={{ $('dados principais').item.json.TIMEOUT }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-5232,-496],"id":"777773a2-9c0f-4f65-b71f-48c9bc44e616","name":"TIMEOUT","webhookId":"43deaaad-faa9-4ade-a67b-62ccd56e4e54"},{"parameters":{"assignments":{"assignments":[{"id":"c7ab23fd-cefa-4334-bd7a-3bc6d20c40f3","name":"final_user_message","value":"={{ $json.final_user_message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3888,-496],"id":"241089cb-2cdf-41d8-858f-8374a055729a","name":"Guardar Mensagem Final do Usuário"},{"parameters":{"operation":"get","key":"[REDACTED]","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5008,-496],"id":"78d9ee63-9668-4d37-8bc7-7914bf2b632f","name":"GET FINAL DEBOUNCE VALUE","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2539a6bb-4bc5-419b-85d6-a2a456b14cca","leftValue":"={{ $now.toISO() }}","rightValue":"={{ $json.propertyName }}","operator":{"type":"dateTime","operation":"afterOrEquals"}},{"id":"4b43c656-7f85-476b-b670-c53794fea280","leftValue":"={{ $json.propertyName }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4784,-496],"id":"cc3dffe1-6497-4615-a257-94a3ea591c0d","name":"IS BATCH READY FOR PROCESSING?"},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4560,-496],"id":"3fa7846a-acc8-46c7-82e6-691f5bed0dc6","name":"DELETE CONTROL TIMER KEY","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"value","key":"[REDACTED]","options":{}},"name":"GET Acumulador Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5904,-496],"id":"ad1f43d6-f8bb-4dfe-a77b-c4ce311cc17a","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"jsCode":"// Recupera o array anterior salvo em Redis (via nó GET)\nconst current = JSON.parse($json.value || '[]');\n\n// Função para tentar acessar o .MESSAGE de um nó sem causar erro\nfunction getSafeMessage(nodeName) {\n  try {\n    const nodeData = $(nodeName).first();\n    return nodeData?.json?.MESSAGE || null;\n  } catch (err) {\n    return null;\n  }\n}\n\n// Tenta resgatar a mensagem do primeiro nó que estiver disponível\nconst nova =\n  getSafeMessage('Text') ||\n  getSafeMessage('Audio') ||\n  getSafeMessage('Image') ||\n  getSafeMessage('File') ||\n  getSafeMessage('button') ||\n  '';\n\n// Adiciona ao array\ncurrent.push(nova);\n\n// Retorna o array atualizado\nreturn [{ json: { updatedList: current } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5680,-496],"id":"010ea36d-ce2d-4e6f-9881-6acc9ecc64fb","name":"Code3"},{"parameters":{"operation":"set","key":"[REDACTED]","value":"={{ JSON.stringify($json.updatedList) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5456,-496],"id":"c7ac3377-4446-499d-91fd-63febf3cc6fc","name":"Redis3","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"value","key":"[REDACTED]","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4336,-496],"id":"516935df-29c9-4afc-87a3-2a4988cee96a","name":"Redis4","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"jsCode":"const arr = JSON.parse($json.value || \"[]\");\nconst finalMsg = arr.join(\" \");\nreturn [{ json: { final_user_message: finalMsg } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4112,-496],"id":"106e488f-aa72-4018-901b-1c23fb1e35d8","name":"Code4"},{"parameters":{"operation":"set","key":"[REDACTED]","value":"={{ $now.plus($('dados principais').item.json.TIMEOUT*1000).toISO() }}","keyType":"=automatic"},"name":"SET/UPDATE USER DEBOUNCE TIMER","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-8096,-416],"id":"c0544dc1-d2df-4a8a-bf1c-d8c899b2cebe","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1c4cc85d-f7e6-40bb-a159-e44090a9beee","name":"MESSAGE","value":"={{$('WhatsApp Trigger').item.json.messages[0].button.text}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6880,-304],"id":"f8ae9bed-b125-474a-b02c-632f1e80ef29","name":"button"},{"parameters":{"assignments":{"assignments":[{"id":"26fb2457-2dff-49d3-b7b4-256028ba1a05","name":"messages","value":"={{ $json.result.split(\"\\n\\n\") }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1360,-464],"id":"e6aa7b44-de88-4456-9533-a2b0496034d1","name":"Reposta da orquestra"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[320,-336],"id":"62629cbf-fa90-4f61-b398-e198c2006e51","name":"Limit"},{"parameters":{"fieldToSplitOut":"messages","options":{}},"id":"a0ecd679-94d3-4dc9-ba1e-38662f8bdf66","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-992,-448]},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[800,-256],"id":"c45df443-561e-4efd-9fe1-5b91c26baab4","name":"Redis6","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-576,-416],"id":"895a5b8e-6bca-43e9-a926-a55a645e7205","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-240,-240],"id":"50b59433-de91-4ed4-8b9c-db1c44066e14","name":"Wait1","webhookId":"f0a59fa4-7cde-4676-9f75-c4afd7e73640"},{"parameters":{"jsCode":"// Suponha que a string venha como item.input\nconst input = $input.first().json.output;\n\n// Substitui **qualquer_coisa** por *qualquer_coisa*\nconst output = input.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n\nreturn [{ json: { result: output } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2304,-608],"id":"4f46880f-5579-48f4-8dcd-610fcf843fc3","name":"Tratar resposta"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/918516351342682/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"status\": \"read\",\n    \"message_id\": \"{{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].id }}\"\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8368,-416],"id":"04862845-a2aa-46f8-a6f2-f0e3fb34e5b8","name":"Digitando1","executeOnce":true,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78db572a-6379-4d64-871f-50d4f40f04c6","leftValue":"={{ $('dados principais').item.json.tipo_mensagem }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"a995d542-d33f-47d5-85ae-929977f24812","name":"Check if Input was Audio","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2128,-736]},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/r2fkFV8WAqXq2AqBpgJT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"[REDACTED]"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.audio_script }}"},{"name":"model_id","value":"eleven_multilingual_v2"},{"name":"voice_settings","value":"={{ {\n  \"stability\": 0.5,\n  \"similarity_boost\": 0.5\n} }}"}]},"options":{}},"id":"79ab3c7a-b356-464f-af2c-c13452c58262","name":"Generate Audio (ElevenLabs)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1344,-816]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer [REDACTED]"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"google/gemini-2.5-flash-lite"},{"name":"messages","value":"={{ [\n  {\n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"Transcribe this audio file verbatim.\"\n      },\n      {\n        \"type\": \"image_url\",\n        \"image_url\": {\n          \"url\": \"data:audio/mp3;base64,\" + $json.data\n        }\n      }\n    ]\n  }\n] }}"}]},"options":{}},"id":"6d924938-2d6a-4c8c-be7e-b79c68d482a8","name":"Transcribe Audio (OpenRouter)","type":"n8n-nodes-base.httpRequest","position":[-6800,-1088],"typeVersion":4.2},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-320,-720],"id":"9cfa1e80-7f9a-4c05-9075-e5e6f0679047","name":"Redis7","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"operation":"executeQuery","query":"-- Gerenciar usuário multi-tenant com preservação de metadados\nINSERT INTO public.users (\n  id, \n  project_id,\n  name, \n  metadata, \n  created_at, \n  updated_at\n)\nVALUES (\n  '{{ $json.body.entry[0].changes[0].value.contacts[0].wa_id }}',\n  '1785d020-50f9-49a9-81d7-64927e3e6f96'::uuid,\n  '',\n  '{}'::jsonb,\n  NOW(),\n  NOW()\n)\nON CONFLICT (id, project_id) DO UPDATE SET\n  name = EXCLUDED.name,\n  updated_at = NOW()\nRETURNING *;","options":{}},"id":"d2f580f2-f167-475b-a428-719f7e1e23d8","name":"Gerenciar Usuario (Postgres)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-9216,-432],"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer [REDACTED]"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"google/gemini-2.5-flash-lite"},{"name":"messages","value":"={{ [\n  {\n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"text\",\n        \"text\": $('WhatsApp Trigger').item.json.messages[0].image.caption + \"Analyze this image. Describe\" || \"Analyze this image. Describe.\"\n      },\n      {\n        \"type\": \"image_url\",\n        \"image_url\": {\n          \"url\": \"data:image/jpeg;base64,\" + $json.data\n        }\n      }\n    ]\n  }\n] }}"}]},"options":{}},"id":"7adc1bef-860a-45ac-86d9-7046fb391a59","name":"Analyze Image (OpenRouter)1","type":"n8n-nodes-base.httpRequest","position":[-6784,-480],"typeVersion":4.2},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"a1839e21-3124-4d2c-81d1-5d0231bbf93e","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[-7184,-480],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"aJncYJxPcd9HqT2c","name":"Header Auth account"},"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}}},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"},"id":"caec9b58-4dc7-450f-a41f-50865108b49e","name":"Get Image Url","type":"n8n-nodes-base.whatsApp","position":[-7312,-480],"webhookId":"280bd5de-32d7-4d8f-93d2-e91e3b0bc161","typeVersion":1,"credentials":{"whatsAppApi":{"id":"WywWVQdJS8NCZOrw","name":"WhatsApp account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-7008,-464],"id":"af20123d-f901-467f-8c1b-649143d598ec","name":"Extract from File3"},{"parameters":{"method":"POST","url":"https://ai.superbot.digital/webhook/ocr-supremo","sendBody":true,"bodyParameters":{"parameters":[{"name":"documents","value":"={{ [{\n  \"media_url\": $('WhatsApp Trigger').item.json.messages[0].document.url\n}] }}"}]},"options":{}},"id":"bcee4ec8-982c-402c-bfc7-1deb1053cf64","name":"OCR Webhook1","type":"n8n-nodes-base.httpRequest","position":[-7088,-80],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"MESSAGE","type":"string","value":"=User request on the file:\n{{  $('WhatsApp Trigger').item.json.messages[0].document.caption || \"Describe this file\" }}\n\nFile content:\n{{ $json.data[0].texto }}"}]},"options":{}},"id":"919ab549-6f74-4d2d-9abc-0b80ff17d327","name":"File","type":"n8n-nodes-base.set","position":[-6576,-80],"typeVersion":3.4},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3776,-624],"id":"8052e58d-0835-4c21-9361-67fa8fe824e8","name":"Redis","credentials":{"redis":{"id":"5u4KF21CKqW3Z7I0","name":"Redis account"}}},{"parameters":{"httpMethod":"POST","path":"861930443675861","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-9504,-432],"id":"5b35a824-0903-4861-b358-4c2548c658fc","name":"WhatsApp Trigger","webhookId":"f530aaff-bc9d-47f8-b5b0-0e85c1c4b0e5"},{"parameters":{"jsCode":"const axios = require('axios');\n\n// === 1. CONFIGURAÇÕES ===\nconst token = '[REDACTED]';\nconst phoneNumberId = $('dados principais').first().json.phone_number_id || '861930443675861'; \nconst recipientNumber = $('dados principais').first().json.numero_conversa;\n\n// === 2. PREPARAR O BINÁRIO ===\n// No n8n Code Node (v2), o binário vem em items[0].binary\nconst binaryKey = Object.keys(items[0].binary)[0];\nconst binaryData = items[0].binary[binaryKey];\nconst fileBuffer = Buffer.from(binaryData.data, 'base64');\n\n// === 3. CONSTRUIR O MULTIPART MANUALLY (Substituindo Form-Data) ===\nconst boundary = '----n8nBoundary' + Math.random().toString(16).slice(2);\nconst CRLF = '\\r\\n';\n\nlet postData = [];\n\n// Campo: messaging_product\npostData.push(Buffer.from('--' + boundary + CRLF));\npostData.push(Buffer.from('Content-Disposition: form-data; name=\"messaging_product\"' + CRLF + CRLF));\npostData.push(Buffer.from('whatsapp' + CRLF));\n\n// Campo: type\npostData.push(Buffer.from('--' + boundary + CRLF));\npostData.push(Buffer.from('Content-Disposition: form-data; name=\"type\"' + CRLF + CRLF));\npostData.push(Buffer.from('audio/mpeg' + CRLF));\n\n// Campo: file (O arquivo em si)\npostData.push(Buffer.from('--' + boundary + CRLF));\npostData.push(Buffer.from('Content-Disposition: form-data; name=\"file\"; filename=\"audio.mp3\"' + CRLF));\npostData.push(Buffer.from('Content-Type: audio/mpeg' + CRLF + CRLF));\npostData.push(fileBuffer);\npostData.push(Buffer.from(CRLF));\n\n// Fechamento da Boundary\npostData.push(Buffer.from('--' + boundary + '--' + CRLF));\n\nconst payload = Buffer.concat(postData);\n\ntry {\n  // === 4. PASSO 1: UPLOAD DA MÍDIA ===\n  const uploadRes = await axios.post(\n    `https://graph.facebook.com/v20.0/${phoneNumberId}/media`,\n    payload,\n    {\n      headers: {\n        'Authorization': `Bearer ${token}`,\n        'Content-Type': `multipart/form-data; boundary=${boundary}`\n      }\n    }\n  );\n\n  const mediaId = uploadRes.data.id;\n  \n  // === 5. PASSO 2: ENVIAR A MENSAGEM DE ÁUDIO ===\n  const sendRes = await axios.post(\n    `https://graph.facebook.com/v20.0/${phoneNumberId}/messages`,\n    {\n      messaging_product: \"whatsapp\",\n      recipient_type: \"individual\",\n      to: recipientNumber,\n      type: \"audio\",\n      audio: { id: mediaId }\n    },\n    {\n      headers: {\n        'Authorization': `Bearer ${token}`,\n        'Content-Type': 'application/json'\n      }\n    }\n  );\n\n  return {\n    json: {\n      success: true,\n      media_id: mediaId,\n      result: sendRes.data\n    }\n  };\n\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.response ? error.response.data : error.message\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1184,-816],"id":"32c3f243-87da-4b3b-b935-5dca3878b7bc","name":"send audio"},{"parameters":{"jsCode":"const axios = require('axios');\n\n// Token do seu Usuário de Sistema\nconst token = '[REDACTED]';\n\n// Pega o ID do áudio dinamicamente do webhook\nconst mediaId = $('WhatsApp Trigger').first().json.body.entry[0].changes[0].value.messages[0].audio.id;\n\ntry {\n  // 1. Buscar a URL real de download (Metadados)\n  const metaRes = await axios.get(`https://graph.facebook.com/v21.0/${mediaId}`, {\n    headers: { 'Authorization': `Bearer ${token}` }\n  });\n\n  const downloadUrl = metaRes.data.url;\n\n  // 2. Baixar o arquivo binário direto da Meta\n  const audioRes = await axios.get(downloadUrl, {\n    headers: { 'Authorization': `Bearer ${token}` },\n    responseType: 'arraybuffer'\n  });\n\n  // 3. Converter para Base64 para o Gemini/OpenRouter\n  const base64Audio = Buffer.from(audioRes.data).toString('base64');\n\n  return {\n    json: {\n      data: base64Audio,\n      mime_type: metaRes.data.mime_type,\n      success: true\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.response ? error.response.data : error.message\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7088,-1040],"id":"da82ee1a-31f5-4903-b042-901e10c4e641","name":"transformar audio em base64"},{"parameters":{"promptType":"define","text":"={{ $json.result }}","options":{"systemMessage":"# PERSONA: ELEVENLABS WHATSAPP ARCHITECT (JSON MODE)\n\nVocê é um motor de processamento de mensagens para WhatsApp. Sua função é receber um texto e transformá-lo em uma estrutura JSON que separa o conteúdo sonoro do conteúdo visual (links/cupons).\n\n## REGRAS DE CONVERSÃO\n1. **Atitude no Áudio:** Se houver links, cupons ou códigos no texto original, você deve removê-los do `audio_script` e substituí-los por uma menção natural (ex: \"vou te deixar o link aqui embaixo\", \"o cupom já tá na conversa\").\n2. **Otimização ElevenLabs:** O `audio_script` deve conter marcações prosódicas (..., vírgulas, exclamações) para soar humano e espontâneo.\n3. **Preservação de Texto:** O `whatsapp_text` deve conter a mensagem completa, incluindo links, cupons e formatação Markdown (negrito, etc).\n4. **Resumidor de Idioma:** Sempre responda no idioma que a mensagem chegou.\n\n## FORMATO DE SAÍDA (ESTRITAMENTE JSON)\n{\n  \"audio_script\": \"Texto otimizado para a ElevenLabs (sem links, com menção que o link foi enviado)\",\n  \"whatsapp_text\": \"Texto completo para o usuário ler, com links e cupons\",\n  \"has_links\": true/false,\n  \"language\": \"ISO code (ex: pt-BR)\"\n}\n\n## EXEMPLO\nEntrada: \"Confira nosso site https://surf.com e use o cupom SURF10 para 10% de desconto!\"\nSaída:\n{\n  \"audio_script\": \"Dá uma olhada no nosso site... eu acabei de te mandar o link aqui embaixo! Ah, e aproveita que tem um cupom de dez por cento de desconto também, tá bom? É só ver na mensagem!\",\n  \"whatsapp_text\": \"Confira nosso site: https://surf.com e use o cupom *SURF10* para 10% de desconto!\",\n  \"has_links\": true,\n  \"language\": \"pt-BR\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1920,-832],"id":"bef2f118-0d0b-4ce5-809a-7f94d1fcfe13","name":"AI Agent1"},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1952,-512],"id":"90aa9dc4-122f-4703-ae0d-a39d3c162122","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"Prux8qgwDlD6Yvje","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// Acessando os dados do nó anterior (IA)\nconst response = JSON.parse($input.first().json.output); // Supondo que a saída da IA esteja em 'output'\n\nreturn {\n  audio_script: response.audio_script,\n  whatsapp_text: response.whatsapp_text,\n  should_send_text: response.has_links,\n  language: response.language\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,-832],"id":"05734043-a5d3-4831-aabe-8015c81c76e3","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f42528b-7d34-435f-9748-1b2271af94d1","leftValue":"={{ $('Code in JavaScript').item.json.should_send_text }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-992,-816],"id":"f7796266-f24a-40d3-8a5e-09f3c67bc69f","name":"enviar texto?"},{"parameters":{"jsCode":"// Importa o Axios (disponível na maioria das instalações n8n self-hosted)\nconst axios = require('axios');\n\n// Pega os dados do item anterior\nconst recipientNumber = $('dados principais').first().json.numero_conversa;\nconst messageBody = $('Loop Over Items1').item.json.messages;\n// O ID do telefone pode vir do Switch ou de uma variável setada antes\nconst phoneNumberId = $('dados principais').first().json.phone_number_id || 'ID_PADRAO_SE_FALTAR'; \n\nconst token = '[REDACTED]'; // <--- COLOQUE SEU TOKEN AQUI\n\nconst url = `https://graph.facebook.com/v20.0/${phoneNumberId}/messages`;\n\nconst data = {\n  messaging_product: \"whatsapp\",\n  recipient_type: \"individual\",\n  to: recipientNumber,\n  type: \"text\",\n  text: {\n    body: messageBody\n  }\n};\n\nconst config = {\n  headers: { \n    'Authorization': `Bearer ${token}`, \n    'Content-Type': 'application/json'\n  }\n};\n\n// Retorna a Promise do Axios para o n8n esperar\nreturn axios.post(url, data, config)\n  .then(response => {\n    return {\n      json: {\n        success: true,\n        data: response.data\n      }\n    };\n  })\n  .catch(error => {\n    return {\n      json: {\n        success: false,\n        error: error.response ? error.response.data : error.message\n      }\n    };\n  });"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,-160],"id":"296bf106-69d8-44bc-b7fa-37603c3ef9e3","name":"Enviar texto"},{"parameters":{"jsCode":"// Importa o Axios (disponível na maioria das instalações n8n self-hosted)\nconst axios = require('axios');\n\n// Pega os dados do item anterior\nconst recipientNumber = $('dados principais').first().json.numero_conversa;\nconst messageBody = $('Code in JavaScript').first().json.whatsapp_text;\n// O ID do telefone pode vir do Switch ou de uma variável setada antes\nconst phoneNumberId = $('dados principais').first().json.phone_number_id || 'ID_PADRAO_SE_FALTAR'; \n\nconst token = '[REDACTED]'; // <--- COLOQUE SEU TOKEN AQUI\n\nconst url = `https://graph.facebook.com/v24.0/${phoneNumberId}/messages`;\n\nconst data = {\n  messaging_product: \"whatsapp\",\n  recipient_type: \"individual\",\n  to: recipientNumber,\n  type: \"text\",\n  text: {\n    body: messageBody\n  }\n};\n\nconst config = {\n  headers: { \n    'Authorization': `Bearer ${token}`, \n    'Content-Type': 'application/json'\n  }\n};\n\n// Retorna a Promise do Axios para o n8n esperar\nreturn axios.post(url, data, config)\n  .then(response => {\n    return {\n      json: {\n        success: true,\n        data: response.data\n      }\n    };\n  })\n  .catch(error => {\n    return {\n      json: {\n        success: false,\n        error: error.response ? error.response.data : error.message\n      }\n    };\n  });"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,-944],"id":"ed1c3b64-98fa-4eae-b1cf-1936111d06ff","name":"Enviar texto1"},{"parameters":{"workflowId":{"__rl":true,"value":"3Ponk6lKg0VL1oIW","mode":"list","cachedResultUrl":"/workflow/3Ponk6lKg0VL1oIW","cachedResultName":"livia only agente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero_conversa":"={{ $('dados principais').item.json.numero_conversa }}","final_user_message":"={{ $json.final_user_message }}","surf_level":"={{ $('Gerenciar Usuario (Postgres)').item.json.surf_level }}","notes":"={{ $('Gerenciar Usuario (Postgres)').item.json.notes }}","name":"={{ $('Gerenciar Usuario (Postgres)').item.json.name }}","id":"={{ $('Gerenciar Usuario (Postgres)').item.json.id }}","project_id":"={{ $('Gerenciar Usuario (Postgres)').item.json.project_id }}"},"matchingColumns":["numero_conversa","final_user_message","surf_level","notes","name","id","project_id"],"schema":[{"id":"numero_conversa","displayName":"numero_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"final_user_message","displayName":"final_user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"surf_level","displayName":"surf_level","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"project_id","displayName":"project_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-3008,-176],"name":"Call livia only agente","id":"35c069aa-a5dd-47e0-9712-3d5c8f659cbe"}],"connections":{"dados principais":{"main":[[{"node":"Check #delete Command","type":"main","index":0}]]},"Check #delete Command":{"main":[[{"node":"Reset User Data (SQL)","type":"main","index":0}],[{"node":"Execution Data","type":"main","index":0}]]},"Reset User Data (SQL)":{"main":[[{"node":"Send Reset Confirmation","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"Digitando1","type":"main","index":0}]]},"Text":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Audio":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Image":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Input type":{"main":[[{"node":"Text","type":"main","index":0}],[{"node":"transformar audio em base64","type":"main","index":0}],[{"node":"Get Image Url","type":"main","index":0}],[{"node":"OCR Webhook1","type":"main","index":0}],[{"node":"button","type":"main","index":0}],[{"node":"Not supported","type":"main","index":0}]]},"TIMEOUT":{"main":[[{"node":"GET FINAL DEBOUNCE VALUE","type":"main","index":0}]]},"Guardar Mensagem Final do Usuário":{"main":[[{"node":"Call livia only agente","type":"main","index":0}]]},"GET FINAL DEBOUNCE VALUE":{"main":[[{"node":"IS BATCH READY FOR PROCESSING?","type":"main","index":0}]]},"IS BATCH READY FOR PROCESSING?":{"main":[[{"node":"DELETE CONTROL TIMER KEY","type":"main","index":0}]]},"DELETE CONTROL TIMER KEY":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"GET Acumulador Redis":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"TIMEOUT","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Guardar Mensagem Final do Usuário","type":"main","index":0}]]},"SET/UPDATE USER DEBOUNCE TIMER":{"main":[[{"node":"Input type","type":"main","index":0}]]},"button":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"Reposta da orquestra":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Redis6","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Tratar resposta":{"main":[[{"node":"Check if Input was Audio","type":"main","index":0}]]},"Digitando1":{"main":[[{"node":"SET/UPDATE USER DEBOUNCE TIMER","type":"main","index":0}]]},"Check if Input was Audio":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Reposta da orquestra","type":"main","index":0}]]},"Generate Audio (ElevenLabs)":{"main":[[{"node":"send audio","type":"main","index":0}]]},"Transcribe Audio (OpenRouter)":{"main":[[{"node":"Audio","type":"main","index":0}]]},"Gerenciar Usuario (Postgres)":{"main":[[{"node":"dados principais","type":"main","index":0}]]},"Analyze Image (OpenRouter)1":{"main":[[{"node":"Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Extract from File3","type":"main","index":0}]]},"Get Image Url":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Extract from File3":{"main":[[{"node":"Analyze Image (OpenRouter)1","type":"main","index":0}]]},"OCR Webhook1":{"main":[[{"node":"File","type":"main","index":0}]]},"File":{"main":[[{"node":"GET Acumulador Redis","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Gerenciar Usuario (Postgres)","type":"main","index":0}]]},"send audio":{"main":[[{"node":"enviar texto?","type":"main","index":0}]]},"transformar audio em base64":{"main":[[{"node":"Transcribe Audio (OpenRouter)","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Generate Audio (ElevenLabs)","type":"main","index":0}]]},"enviar texto?":{"main":[[{"node":"Enviar texto1","type":"main","index":0}],[{"node":"Redis7","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Redis7","type":"main","index":0}]]},"Call livia only agente":{"main":[[{"node":"Tratar resposta","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[{"updatedAt":"2026-01-02T15:43:09.908Z","createdAt":"2026-01-02T15:43:09.908Z","id":"pgziJkRB2xHVUzON","name":"surf"}]}