backups/rastreamento-de-links-LmDCWDAIQdCO18UD.json
{"createdAt":"2025-05-29T19:54:02.880Z","updatedAt":"2025-09-14T22:40:12.356Z","id":"LmDCWDAIQdCO18UD","name":"Rastreamento de links","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"whatsapp-redirect","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2096,-128],"id":"525ee7f0-9de9-4fcd-9d11-4211e42a3a5d","name":"Webhook","webhookId":"745c259d-8029-4802-839c-4594010fad91"},{"parameters":{"operation":"get","tableId":"empresas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.query.empresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1664,-128],"id":"c7250f89-df53-480d-9376-fb68879739ca","name":"buscar_empresa","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"interacoes","limit":1,"filters":{"conditions":[{"keyName":"empresa_id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1440,-128],"id":"63e0c3c6-a98c-4226-89d2-165f0f14fff5","name":"buscar_interacao","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id_evento_erro }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1216,-128],"id":"1cdbc2a4-ea7a-4ad7-97b1-2451317749d5","name":"buscar_erro","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0a1f2b5e-675f-4e7f-afa5-bb42240c8053","name":"timestamp","value":"={{ $now }}","type":"string"},{"id":"6567aae8-b909-48c8-9320-8d7733c8f708","name":"ip","value":"={{$json[\"headers\"][\"x-forwarded-for\"]}}","type":"string"},{"id":"0b326db8-6ba3-460f-8c8e-70b13c230321","name":"query.empresa","value":"={{ $json.query.empresa }}","type":"string"},{"id":"5abfce63-8f12-4d1a-9fc0-660447277fcd","name":"query.origem","value":"={{ $json.query.origem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1888,-128],"id":"e833a5bc-8287-4fa3-859c-aa357ad12a9d","name":"preparar_dados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0e79a358-1aed-4599-bd94-e52fa74efac4","leftValue":"={{ $json.identificador_link }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-336,-16],"id":"e0fcf664-303d-4db4-8d67-25f728adc954","name":"If"},{"parameters":{"respondWith":"redirect","redirectURL":"=https://api.whatsapp.com/send?phone=553133848620&text=Ol%C3%A1!%20Recebi%20uma%20mensagem%20da%20Digital%20Pixel%20informando%20que%20meu%20site%20{{encodeURIComponent($json.tipo_erro_site)}}%20est%C3%A1%20com%20o%20erro%20{{encodeURIComponent($json.detalhes_erro_payload)}}%3B","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-1008,-128],"id":"d99bc536-33e7-49d3-9631-581b36d18975","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"7717b4d3-cf26-45f0-b641-a94021ffb57e","name":"url_destino","value":"=https://api.whatsapp.com/send?phone=553133848620&text=Ol%C3%A1!%20Recebi%20uma%20mensagem%20da%20Digital%20Pixel%20informando%20que%20meu%20site%20{{encodeURIComponent($json.tipo_erro_site)}}%20est%C3%A1%20com%20o%20erro%20{{encodeURIComponent($json.detalhes_erro_payload)}}%3B","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-784,-128],"id":"099e73b9-14db-4a00-8f9c-1889f37c9188","name":"url_destio"},{"parameters":{"tableId":"metricas_cliques_links","fieldsUi":{"fieldValues":[{"fieldId":"identificador_link","fieldValue":"={{ $('preparar_dados').item.json.query.origem }}"},{"fieldId":"url_destino_base","fieldValue":"={{ $('url_destio').item.json.url_destino }}"},{"fieldId":"total_cliques","fieldValue":"=1"},{"fieldId":"data_primeiro_clique","fieldValue":"={{ $now }}"},{"fieldId":"data_ultimo_clique","fieldValue":"={{ $now }}"},{"fieldId":"data_criacao_registro","fieldValue":"={{ $now }}"},{"fieldId":"data_ultima_atualizacao_registro","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-128,80],"id":"63d2a83a-661b-4475-94e0-354a153d65c2","name":"criar_evento_analytics","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"metricas_cliques_links","filters":{"conditions":[{"keyName":"identificador_link","keyValue":"={{ $('preparar_dados').item.json.query.origem }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,-16],"id":"597ea52c-a0d0-47b6-8a8a-b14b5fc0614e","name":"buscar_evento_origem","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"metricas_cliques_links","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"total_cliques","fieldValue":"={{ $json.total_cliques + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-128,-128],"id":"68c3e992-05d4-4b31-b0a2-4950ea991dc9","name":"contador","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"path":"bitrix-form","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2096,448],"id":"2d503382-018f-4e0a-9bb6-2c77b8beca78","name":"Webhook1","webhookId":"745c259d-8029-4802-839c-4594010fad91"},{"parameters":{"operation":"get","tableId":"empresas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.query.empresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1664,448],"id":"494855b4-414e-4360-8dd6-dc81fd5095ae","name":"buscar_empresa1","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"interacoes","limit":1,"filters":{"conditions":[{"keyName":"empresa_id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1440,448],"id":"9e43696a-9e30-40f4-9a1d-c3041ee6a6f7","name":"buscar_interacao1","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id_evento_erro }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1216,448],"id":"0de9224c-c9d5-478c-9c1f-6cdf13ae9859","name":"buscar_erro1","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0a1f2b5e-675f-4e7f-afa5-bb42240c8053","name":"timestamp","value":"={{ $now }}","type":"string"},{"id":"6567aae8-b909-48c8-9320-8d7733c8f708","name":"ip","value":"={{$json[\"headers\"][\"x-forwarded-for\"]}}","type":"string"},{"id":"0b326db8-6ba3-460f-8c8e-70b13c230321","name":"query.empresa","value":"={{ $json.query.empresa }}","type":"string"},{"id":"5abfce63-8f12-4d1a-9fc0-660447277fcd","name":"query.origem","value":"={{ $json.query.origem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1888,448],"id":"51d49290-e3c8-4513-b252-17b28382cc3d","name":"preparar_dados1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0e79a358-1aed-4599-bd94-e52fa74efac4","leftValue":"={{ $json.identificador_link }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-336,544],"id":"c7476c2c-9ed5-4aed-84d9-d6ff497863d9","name":"If1"},{"parameters":{"respondWith":"redirect","redirectURL":"=https://b24-8b4sw7.bitrix24.site/crm_form_2g7b2","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-1008,448],"id":"f1c918af-7155-4444-876c-025e5aafdb59","name":"Respond to Webhook1"},{"parameters":{"assignments":{"assignments":[{"id":"7717b4d3-cf26-45f0-b641-a94021ffb57e","name":"url_destino","value":"=https://b24-8b4sw7.bitrix24.site/crm_form_2g7b2","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-784,448],"id":"c15598b1-64bd-4347-ba44-b6c7750d0584","name":"url_destio1"},{"parameters":{"tableId":"metricas_cliques_links","fieldsUi":{"fieldValues":[{"fieldId":"identificador_link","fieldValue":"={{ $('preparar_dados1').item.json.query.origem }}"},{"fieldId":"url_destino_base","fieldValue":"={{ $('url_destio1').item.json.url_destino }}"},{"fieldId":"total_cliques","fieldValue":"=1"},{"fieldId":"data_primeiro_clique","fieldValue":"={{ $now }}"},{"fieldId":"data_ultimo_clique","fieldValue":"={{ $now }}"},{"fieldId":"data_criacao_registro","fieldValue":"={{ $now }}"},{"fieldId":"data_ultima_atualizacao_registro","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-128,640],"id":"1c621eeb-0035-4643-bde7-05fb12958fce","name":"criar_evento_analytics1","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"metricas_cliques_links","filters":{"conditions":[{"keyName":"identificador_link","keyValue":"={{ $('preparar_dados1').item.json.query.origem }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,544],"id":"825ccd2b-f5e8-44b5-9484-5cbe6a1374b3","name":"buscar_evento_origem1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"metricas_cliques_links","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"total_cliques","fieldValue":"={{ $json.total_cliques + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-128,448],"id":"b921a615-e992-4f08-91c6-2a899f056efd","name":"contador1","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"path":"google-calender","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2096,1008],"id":"54c42cc7-161e-4618-8b9e-6b044f627592","name":"Webhook2","webhookId":"745c259d-8029-4802-839c-4594010fad91"},{"parameters":{"operation":"get","tableId":"empresas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.query.empresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1664,1008],"id":"f7da769e-c66c-4a5d-89e9-bf136efc08e0","name":"buscar_empresa2","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"interacoes","limit":1,"filters":{"conditions":[{"keyName":"empresa_id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1440,1008],"id":"8403bc44-99cb-42a9-9a14-01c4d18e1e28","name":"buscar_interacao2","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"eventos_erro","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id_evento_erro }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1216,1008],"id":"4b87620e-4707-424e-b96e-fa543edb2467","name":"buscar_erro2","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0a1f2b5e-675f-4e7f-afa5-bb42240c8053","name":"timestamp","value":"={{ $now }}","type":"string"},{"id":"6567aae8-b909-48c8-9320-8d7733c8f708","name":"ip","value":"={{$json[\"headers\"][\"x-forwarded-for\"]}}","type":"string"},{"id":"0b326db8-6ba3-460f-8c8e-70b13c230321","name":"query.empresa","value":"={{ $json.query.empresa }}","type":"string"},{"id":"5abfce63-8f12-4d1a-9fc0-660447277fcd","name":"query.origem","value":"={{ $json.query.origem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1888,1008],"id":"808134c1-c472-466a-a951-2c4b7684ea2f","name":"preparar_dados2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0e79a358-1aed-4599-bd94-e52fa74efac4","leftValue":"={{ $json.identificador_link }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-336,1104],"id":"ac84613f-89bd-494d-bd9c-7dfd91bb0216","name":"If2"},{"parameters":{"respondWith":"redirect","redirectURL":"=https://calendar.google.com/calendar/u/0/appointments/[REDACTED]=","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-1008,1008],"id":"87c3b17d-0bfb-4ea6-9d6d-fd6764096275","name":"Respond to Webhook2"},{"parameters":{"assignments":{"assignments":[{"id":"7717b4d3-cf26-45f0-b641-a94021ffb57e","name":"url_destino","value":"=https://calendar.google.com/calendar/u/0/appointments/[REDACTED]=","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-784,1008],"id":"129ba058-c363-4b89-b7e6-c987272b3562","name":"url_destio2"},{"parameters":{"tableId":"metricas_cliques_links","fieldsUi":{"fieldValues":[{"fieldId":"identificador_link","fieldValue":"={{ $('preparar_dados2').item.json.query.origem }}"},{"fieldId":"url_destino_base","fieldValue":"={{ $('url_destio2').item.json.url_destino }}"},{"fieldId":"total_cliques","fieldValue":"=1"},{"fieldId":"data_primeiro_clique","fieldValue":"={{ $now }}"},{"fieldId":"data_ultimo_clique","fieldValue":"={{ $now }}"},{"fieldId":"data_criacao_registro","fieldValue":"={{ $now }}"},{"fieldId":"data_ultima_atualizacao_registro","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-128,1200],"id":"584227d0-2894-4ba4-9404-0b66729d1bf7","name":"criar_evento_analytics2","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"metricas_cliques_links","filters":{"conditions":[{"keyName":"identificador_link","keyValue":"={{ $('preparar_dados2').item.json.query.origem }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,1104],"id":"8ae77ce1-b9e9-4572-936a-8dca712f1c52","name":"buscar_evento_origem2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"metricas_cliques_links","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"total_cliques","fieldValue":"={{ $json.total_cliques + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-128,1008],"id":"05993429-5873-4800-8c0b-29cf2a96beda","name":"contador2","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"tableId":"eventos_analytics","fieldsUi":{"fieldValues":[{"fieldId":"timestamp_evento","fieldValue":"={{ $now }}"},{"fieldId":"tipo_evento","fieldValue":"click"},{"fieldId":"origem_evento_detalhada","fieldValue":"={{ $('preparar_dados2').item.json.query.origem }}"},{"fieldId":"empresa_id","fieldValue":"={{ $('buscar_empresa2').item.json.id }}"},{"fieldId":"interacao_id","fieldValue":"={{ $('buscar_interacao2').item.json.id }}"},{"fieldId":"url_destino","fieldValue":"={{ $json.url_destino }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,912],"id":"d0ed377e-16ea-49ca-8663-bc490a8febd1","name":"log","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"tableId":"eventos_analytics","fieldsUi":{"fieldValues":[{"fieldId":"timestamp_evento","fieldValue":"={{ $now }}"},{"fieldId":"tipo_evento","fieldValue":"click"},{"fieldId":"origem_evento_detalhada","fieldValue":"={{ $('preparar_dados1').item.json.query.origem }}"},{"fieldId":"empresa_id","fieldValue":"={{ $('buscar_empresa1').item.json.id }}"},{"fieldId":"interacao_id","fieldValue":"={{ $('buscar_interacao1').item.json.id }}"},{"fieldId":"url_destino","fieldValue":"={{ $json.url_destino }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,352],"id":"79ace900-d94b-4729-859d-37ba05d7ac9f","name":"log1","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}},{"parameters":{"tableId":"eventos_analytics","fieldsUi":{"fieldValues":[{"fieldId":"timestamp_evento","fieldValue":"={{ $now }}"},{"fieldId":"tipo_evento","fieldValue":"click"},{"fieldId":"origem_evento_detalhada","fieldValue":"={{ $('preparar_dados').item.json.query.origem }}"},{"fieldId":"empresa_id","fieldValue":"={{ $('buscar_empresa').item.json.id }}"},{"fieldId":"interacao_id","fieldValue":"={{ $('buscar_interacao').item.json.id }}"},{"fieldId":"url_destino","fieldValue":"={{ $json.url_destino }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,-224],"id":"21cf4dc9-7e2a-4d21-a931-1e2f012aad9b","name":"log2","credentials":{"supabaseApi":{"id":"YcQ6MgjexzOsBhTu","name":"Supabase account"}}}],"connections":{"Webhook":{"main":[[{"node":"preparar_dados","type":"main","index":0}]]},"buscar_empresa":{"main":[[{"node":"buscar_interacao","type":"main","index":0}]]},"buscar_interacao":{"main":[[{"node":"buscar_erro","type":"main","index":0}]]},"buscar_erro":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"preparar_dados":{"main":[[{"node":"buscar_empresa","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"url_destio","type":"main","index":0}]]},"url_destio":{"main":[[{"node":"buscar_evento_origem","type":"main","index":0},{"node":"log2","type":"main","index":0}]]},"criar_evento_analytics":{"main":[[]]},"buscar_evento_origem":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"contador","type":"main","index":0}],[{"node":"criar_evento_analytics","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"preparar_dados1","type":"main","index":0}]]},"buscar_empresa1":{"main":[[{"node":"buscar_interacao1","type":"main","index":0}]]},"buscar_interacao1":{"main":[[{"node":"buscar_erro1","type":"main","index":0}]]},"buscar_erro1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"preparar_dados1":{"main":[[{"node":"buscar_empresa1","type":"main","index":0}]]},"If1":{"main":[[{"node":"contador1","type":"main","index":0}],[{"node":"criar_evento_analytics1","type":"main","index":0}]]},"Respond to Webhook1":{"main":[[{"node":"url_destio1","type":"main","index":0}]]},"url_destio1":{"main":[[{"node":"buscar_evento_origem1","type":"main","index":0},{"node":"log1","type":"main","index":0}]]},"buscar_evento_origem1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"preparar_dados2","type":"main","index":0}]]},"buscar_empresa2":{"main":[[{"node":"buscar_interacao2","type":"main","index":0}]]},"buscar_interacao2":{"main":[[{"node":"buscar_erro2","type":"main","index":0}]]},"buscar_erro2":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"preparar_dados2":{"main":[[{"node":"buscar_empresa2","type":"main","index":0}]]},"If2":{"main":[[{"node":"contador2","type":"main","index":0}],[{"node":"criar_evento_analytics2","type":"main","index":0}]]},"Respond to Webhook2":{"main":[[{"node":"url_destio2","type":"main","index":0}]]},"url_destio2":{"main":[[{"node":"buscar_evento_origem2","type":"main","index":0},{"node":"log","type":"main","index":0}]]},"buscar_evento_origem2":{"main":[[{"node":"If2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"n8n-n8n-start.5ikbes.easypanel.host","user-agent":"node-fetch/1.0 (+https://github.com/bitinn/node-fetch)","accept":"*/*","accept-encoding":"gzip,deflate","timeout":"3000","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n-n8n-start.5ikbes.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0af77e3b216a","x-real-ip":"172.18.0.1"},"params":{},"query":{"empresa":"1830","origem":"formulario_bitrix_whatsapp"},"body":{},"webhookUrl":"https://n8n-n8n-start.5ikbes.easypanel.host/webhook/bitrix-form","executionMode":"production"}}],"Webhook2":[{"json":{"headers":{"host":"n8n-n8n-start.5ikbes.easypanel.host","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX18t%2FVFsp0RBFrpnvSPFPH2SGYXq3eNuAi4%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19Zp0OHa5aSiJ7f5ybFO%2FhPrchEzhUcWWA%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.[REDACTED].[REDACTED]; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2Bnq25OW9vvyuOs3RpunopUlgEPev4eNd%2BZQUF6YnFL9cvYWYMkiq5MlBS%2FZ9J5jSwHHTHwRTQIsQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX18wbKZJYEgRK%2FTH9NshvH2wYFDiLz4NCoRcl4RkJ7hNY%[REDACTED]%[REDACTED]%2FQgIr7HtaEtlZekljqrf8do%3D; rl_trait=RudderEncrypt%[REDACTED]%[REDACTED]%2BYOGoQU7FuVKLfc6unEUw4e0lgrKIX%2Fmc7Yrezag%3D%3D; [REDACTED]=%7B%22distinct_id%22%3A%[REDACTED]%23ac592b00-1c52-43d7-ab94-586ba3c8f258%22%2C%22%24sesid%22%3A%5B1748628126942%2C%220197223e-2438-7a41-81cd-d6be7de1297a%22%2C1748626187320%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n-n8n-start.5ikbes.easypanel.host%2Fsetup%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2B4yTWKOmL%2FJJAWdUV62IbWsqUd8amQukXKd%2B1rnP%2F9ByVe6KG%2F0IuRHx36W9%[REDACTED]%2BTMu0rrutQ%3D%3D","priority":"u=0, i","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"177.10.4.58","x-forwarded-host":"n8n-n8n-start.5ikbes.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0af77e3b216a","x-real-ip":"177.10.4.58"},"params":{},"query":{"empresa":"1830","origem":"google_calender_whatsapp"},"body":{},"webhookUrl":"https://n8n-n8n-start.5ikbes.easypanel.host/webhook/google-calender","executionMode":"production"}}],"Webhook":[{"json":{"headers":{"host":"n8n-n8n-start.5ikbes.easypanel.host","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX18t%2FVFsp0RBFrpnvSPFPH2SGYXq3eNuAi4%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19Zp0OHa5aSiJ7f5ybFO%2FhPrchEzhUcWWA%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.[REDACTED].[REDACTED]; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX184gQ%[REDACTED]%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BlxNCgxY3oa4O0PzQB%[REDACTED]%2FiQx8yqkE18gkkBRxxzIeLzuaQPSwHV8f%[REDACTED]%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1829%2B14yr67%[REDACTED]%2FW0j%[REDACTED]%3D%3D; [REDACTED]=%7B%22distinct_id%22%3A%[REDACTED]%23ac592b00-1c52-43d7-ab94-586ba3c8f258%22%2C%22%24sesid%22%3A%5B1748628284493%2C%220197223e-2438-7a41-81cd-d6be7de1297a%22%2C1748626187320%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n-n8n-start.5ikbes.easypanel.host%2Fsetup%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX180fpzjS%2B60lS%2FE4k9AJOoCOG4vwobEGOYmkweK%2B0f39NQUf7mcHoXrW%[REDACTED]%3D%3D","priority":"u=0, i","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"177.10.4.58","x-forwarded-host":"n8n-n8n-start.5ikbes.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0af77e3b216a","x-real-ip":"177.10.4.58"},"params":{},"query":{"empresa":"1830","origem":"atendimento_humano_link_whatsapp"},"body":{},"webhookUrl":"https://n8n-n8n-start.5ikbes.easypanel.host/webhook/whatsapp-redirect","executionMode":"production"}}]},"versionId":"4e0e62ae-fab6-4681-abaf-b32c8f95a412","triggerCount":3,"shared":[{"createdAt":"2025-05-29T19:54:02.880Z","updatedAt":"2025-05-29T19:54:02.880Z","role":"workflow:owner","workflowId":"LmDCWDAIQdCO18UD","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}