backups/recebimento-email-telefone-apollo-M6KstTWw637WEYAC.json
{"createdAt":"2025-07-08T17:20:49.166Z","updatedAt":"2026-01-13T16:35:23.438Z","id":"M6KstTWw637WEYAC","name":"Recebimento-email-telefone-apollo","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"c3288262-e05f-46ef-8438-c4383d840cc1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-736,1632],"id":"7de7e1cb-1f4b-4625-8d7a-da11e2c2905b","name":"Webhook","webhookId":"c3288262-e05f-46ef-8438-c4383d840cc1"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO logs_erros_webhook (payload, motivo) VALUES ($1, \"Dados inválidos recebidos do webhook Apollo\");","options":{"queryReplacement":"={{ $('Webhook').item.json }}"}},"id":"adf81fe0-5bc9-4349-a05a-e61309491f4c","name":"Log Erro","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[736,1824],"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"12fbe3d1-3064-4f81-9de7-7c629fc5a2cb","leftValue":"={{ $json.body.people[0].id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e6d8bfe2-231a-4318-b7f7-e53a5c081e2a","name":"Check Dados Válidos1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[512,1632]},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contatos_empresa","mode":"list","cachedResultName":"contatos_empresa"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","status_contato":"inativo","descricao":"Placeholder invalidado após enriquecimento com telefone","data_atualizacao":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"empresa_id","displayName":"empresa_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"tipo_contato","displayName":"tipo_contato","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"valor_contato","displayName":"valor_contato","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"descricao","displayName":"descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fonte_contato","displayName":"fonte_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"data_adicao","displayName":"data_adicao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"whatsappbusiness","displayName":"whatsappbusiness","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"gmn","displayName":"gmn","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"whatsapp_valido","displayName":"whatsapp_valido","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"apollo_person_id","displayName":"apollo_person_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_confidence_score","displayName":"apollo_confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"apollo_job_title","displayName":"apollo_job_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_seniority_level","displayName":"apollo_seniority_level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_department","displayName":"apollo_department","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_phone_verified","displayName":"apollo_phone_verified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"apollo_email_verified","displayName":"apollo_email_verified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"classificacao_contato","displayName":"classificacao_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"prioridade_contato","displayName":"prioridade_contato","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"chatwoot_contact_id","displayName":"chatwoot_contact_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"chatwoot_sync_status","displayName":"chatwoot_sync_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chatwoot_sync_date","displayName":"chatwoot_sync_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"nome_contato","displayName":"nome_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cargo","displayName":"cargo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"quality_score","displayName":"quality_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"canal_preferencial","displayName":"canal_preferencial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_status","displayName":"email_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cargo_prioridade","displayName":"cargo_prioridade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"prioridade_fila","displayName":"prioridade_fila","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dominio","displayName":"dominio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"revelado","displayName":"revelado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"foi_disparado","displayName":"foi_disparado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"enviado_para_chatwoot","displayName":"enviado_para_chatwoot","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"data_captacao","displayName":"data_captacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"data_atualizacao","displayName":"data_atualizacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"chatwoot_conversation_id","displayName":"chatwoot_conversation_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"last_template_sent","displayName":"last_template_sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_interaction_date","displayName":"last_interaction_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_person_id","displayName":"apollo_api_person_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_enriched_at","displayName":"apollo_api_enriched_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_credits_used","displayName":"apollo_api_credits_used","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_enrichment_type","displayName":"apollo_api_enrichment_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_confidence_score","displayName":"apollo_api_confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_data_quality","displayName":"apollo_api_data_quality","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_last_updated","displayName":"apollo_api_last_updated","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_webhook_pending","displayName":"apollo_webhook_pending","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"apollo_webhook_url","displayName":"apollo_webhook_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_webhook_received_at","displayName":"apollo_webhook_received_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_enrichment_requested_at","displayName":"apollo_enrichment_requested_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"evolution_validation_date","displayName":"evolution_validation_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"tem_email","displayName":"tem_email","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"tem_telefone","displayName":"tem_telefone","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"valido","displayName":"valido","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"status_contato","displayName":"status_contato","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":true,"options":[{"name":"ativo","value":"ativo"},{"name":"inativo","value":"inativo"},{"name":"pendente_confirmacao","value":"pendente_confirmacao"},{"name":"bloqueado","value":"bloqueado"},{"name":"descadastrado_whatsapp","value":"descadastrado_whatsapp"}]},{"id":"bitrix_contact_id","displayName":"bitrix_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"bitrix_contact_created_at","displayName":"bitrix_contact_created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"bitrix_sync_status","displayName":"bitrix_sync_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1248,1760],"id":"8e5157df-7e3c-4931-9eec-fcf90031660c","name":"Update rows in a table","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1472,1632],"id":"2131f5ba-6cb1-4c2d-9478-c54be5910dac","name":"Merge"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1920,1632],"id":"2391d395-11bf-46d6-b72b-b77987ed7f41","name":"Loop Over Items"},{"parameters":{"jsCode":"// Pega os dados do contato original (placeholder) que buscamos no início\nconst contatoBase = $('Buscar contato associado').first().json;\n\n// Pega os dados do telefone atual que está sendo processado no loop\nconst telefoneAtual = $input.first().json;\n\n// Verifica se o número de telefone existe e é válido antes de prosseguir\nif (!telefoneAtual.numero) {\n  return { json: {}, isEmpty: true };\n}\n\n// 1. Monta o objeto do novo contato usando o contato original como base\nconst novoContato = {\n  // Copia TODOS os campos do contato original para o novo.\n  ...contatoBase,\n\n  // 2. Sobrescreve os campos necessários para o novo contato de telefone.\n  tipo_contato: 'whatsapp',\n  valor_contato: telefoneAtual.numero,\n  fonte_contato: 'apollo_api_webhook',\n  status_contato: 'ativo',\n  revelado: true,\n  \n  // --- CORREÇÕES E AJUSTES DA SUA ANÁLISE ---\n  tem_telefone: true, // <-- CORREÇÃO: Indica que este contato TEM um telefone.\n  valido: false,      // <-- NOVO: Inicia como 'false' e aguarda validação da Evolution.\n  // [REDACTED]\n\n  whatsapp_valido: telefoneAtual.status_cd === 'valid_number' ? true : false,\n  data_adicao: new Date().toISOString(),\n  data_atualizacao: new Date().toISOString(),\n\n  // 3. Zera o status de sincronização com o Chatwoot.\n  chatwoot_contact_id: null,\n  chatwoot_conversation_id: null,\n  chatwoot_sync_status: null,\n  chatwoot_sync_date: null,\n  enviado_para_chatwoot: false\n};\n\n// 4. REMOVE a chave primária antiga para que o DB gere uma nova.\ndelete novoContato.id;\n\n// Retorna o objeto completo, pronto para ser inserido no banco\nreturn {\n  json: novoContato\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,1728],"id":"688047b3-578b-4544-b21d-281164ea70f3","name":"Monta Novo Contato"},{"parameters":{"jsCode":"const people = $('Processar Dados Recebidos').first().json.body.people;\n\nconst telefonesSet = new Set();\n\nfor (const pessoa of people) {\n  if (Array.isArray(pessoa.phone_numbers)) {\n    for (const telefone of pessoa.phone_numbers) {\n      if (telefone.sanitized_number) {\n        telefonesSet.add(telefone.sanitized_number);\n      }\n    }\n  }\n}\n\n// Converte para array e retorna como JSON\nreturn Array.from(telefonesSet).map(numero => ({ numero }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1696,1632],"id":"e45a9077-a0e6-4462-aaf3-d7b51ade6cf3","name":"pegar_numeros"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contatos_empresa","mode":"list","cachedResultName":"contatos_empresa"},"columns":{"mappingMode":"defineBelow","value":{"whatsapp_valido":false,"apollo_phone_verified":true,"apollo_email_verified":false,"revelado":true,"apollo_webhook_pending":"={{ false }}","tem_email":"={{ $json.tem_email }}","tem_telefone":"={{ $json.tem_telefone }}","valido":"={{ $json.valido }}","empresa_id":"={{ $json.empresa_id }}","tipo_contato":"={{ $json.tipo_contato }}","valor_contato":"={{ $json.valor_contato }}","fonte_contato":"={{ $json.fonte_contato }}","data_adicao":"={{ $json.data_adicao }}","apollo_person_id":"={{ $json.apollo_person_id }}","apollo_confidence_score":"={{ $json.apollo_confidence_score }}","classificacao_contato":"={{ $json.classificacao_contato }}","prioridade_contato":"={{ $json.prioridade_contato }}","nome_contato":"={{ $json.nome_contato }}","cargo":"={{ $json.cargo }}","linkedin_url":"={{ $json.linkedin_url }}","quality_score":"={{ $json.quality_score }}","email_status":"={{ $json.email_status }}","prioridade_fila":"={{ $json.prioridade_fila }}","dominio":"={{ $json.dominio }}","data_captacao":"={{ $json.data_captacao }}","data_atualizacao":"={{ $json.data_atualizacao }}","apollo_api_data_quality":"={{ $json.apollo_api_data_quality }}","apollo_api_enrichment_type":"={{ $json.apollo_api_enrichment_type }}","apollo_api_last_updated":"={{ $json.apollo_api_last_updated }}","status_contato":"={{ $json.status_contato }}","apollo_api_credits_used":0,"apollo_api_confidence_score":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"empresa_id","displayName":"empresa_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"tipo_contato","displayName":"tipo_contato","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor_contato","displayName":"valor_contato","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"descricao","displayName":"descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fonte_contato","displayName":"fonte_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data_adicao","displayName":"data_adicao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"whatsappbusiness","displayName":"whatsappbusiness","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"gmn","displayName":"gmn","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"whatsapp_valido","displayName":"whatsapp_valido","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"apollo_person_id","displayName":"apollo_person_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"apollo_confidence_score","displayName":"apollo_confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"apollo_job_title","displayName":"apollo_job_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_seniority_level","displayName":"apollo_seniority_level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_department","displayName":"apollo_department","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_phone_verified","displayName":"apollo_phone_verified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"apollo_email_verified","displayName":"apollo_email_verified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"classificacao_contato","displayName":"classificacao_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prioridade_contato","displayName":"prioridade_contato","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chatwoot_contact_id","displayName":"chatwoot_contact_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"chatwoot_sync_status","displayName":"chatwoot_sync_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chatwoot_sync_date","displayName":"chatwoot_sync_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"nome_contato","displayName":"nome_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cargo","displayName":"cargo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"quality_score","displayName":"quality_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"canal_preferencial","displayName":"canal_preferencial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_status","displayName":"email_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cargo_prioridade","displayName":"cargo_prioridade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"prioridade_fila","displayName":"prioridade_fila","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"dominio","displayName":"dominio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"revelado","displayName":"revelado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"foi_disparado","displayName":"foi_disparado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"enviado_para_chatwoot","displayName":"enviado_para_chatwoot","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"data_captacao","displayName":"data_captacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"data_atualizacao","displayName":"data_atualizacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"chatwoot_conversation_id","displayName":"chatwoot_conversation_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"last_template_sent","displayName":"last_template_sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_interaction_date","displayName":"last_interaction_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_person_id","displayName":"apollo_api_person_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_enriched_at","displayName":"apollo_api_enriched_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"apollo_api_credits_used","displayName":"apollo_api_credits_used","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"apollo_api_enrichment_type","displayName":"apollo_api_enrichment_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"apollo_api_confidence_score","displayName":"apollo_api_confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"apollo_api_data_quality","displayName":"apollo_api_data_quality","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"apollo_api_last_updated","displayName":"apollo_api_last_updated","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"apollo_webhook_pending","displayName":"apollo_webhook_pending","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"apollo_webhook_url","displayName":"apollo_webhook_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_webhook_received_at","displayName":"apollo_webhook_received_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_enrichment_requested_at","displayName":"apollo_enrichment_requested_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"evolution_validation_date","displayName":"evolution_validation_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"tem_email","displayName":"tem_email","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"tem_telefone","displayName":"tem_telefone","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"valido","displayName":"valido","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"status_contato","displayName":"status_contato","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":true,"options":[{"name":"ativo","value":"ativo"},{"name":"inativo","value":"inativo"},{"name":"pendente_confirmacao","value":"pendente_confirmacao"},{"name":"bloqueado","value":"bloqueado"}]}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2368,1840],"id":"8a0b0163-5812-4af0-bd47-c1a84d75fe9c","name":"Insere Novo Contato","alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// 1) Entrada da Evolution (pode ser objeto ou array)\nconst evolutionResponse = $input.first().json;\n// 2) Contato que inserimos antes\nconst contatoInserido = $('Insere Novo Contato').first().json;\n\nconst updateData = {\n  id: contatoInserido.id,\n  whatsapp_valido: false,\n  valido: false,\n  whatsappbusiness: false,\n  prioridade: 0,                        // novo campo, padrão 0\n  data_atualizacao: new Date().toISOString()\n};\n\n// 3) Função auxiliar pra “marcar” válido/business e ajustar prioridade\nfunction marcaComoValido(isBiz) {\n  updateData.whatsapp_valido = true;\n  updateData.valido = true;\n  updateData.prioridade = 1;            // define prioridade quando válido\n  if (isBiz) {\n    updateData.whatsappbusiness = true;\n  }\n}\n\n// 4) Caso 1: { data: { exists, isBusiness } }\nif (\n  evolutionResponse.data &&\n  evolutionResponse.data.exists === true\n) {\n  marcaComoValido(evolutionResponse.data.isBusiness === true);\n}\n\n// 5) Caso 2: veio como array de objetos\nelse if (Array.isArray(evolutionResponse) && evolutionResponse.length) {\n  marcaComoValido(evolutionResponse[0].isBusiness === true);\n}\n\n// 6) Caso 3: veio “flat”, sem array nem data\nelse if (\n  typeof evolutionResponse === 'object' &&\n  evolutionResponse.isBusiness !== undefined\n) {\n  // assumimos que, se existe isBusiness, então existe\n  marcaComoValido(evolutionResponse.isBusiness === true);\n}\n\nreturn { json: updateData };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2864,2128],"id":"9e4a2575-3663-42ed-84f8-bd190f66b1b5","name":"Prepara Dados de Validação","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contatos_empresa","mode":"list","cachedResultName":"contatos_empresa"},"columns":{"mappingMode":"defineBelow","value":{"whatsappbusiness":"={{ $json.whatsapp_valido }}","whatsapp_valido":"={{ $json.whatsapp_valido }}","valido":"={{ $json.valido }}","id":"={{ $('Insere Novo Contato').first().json.id }}","data_atualizacao":"={{ $json.data_atualizacao }}","evolution_validation_date":"={{ $json.data_atualizacao }}","prioridade_contato":"={{ $json.prioridade }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"empresa_id","displayName":"empresa_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"tipo_contato","displayName":"tipo_contato","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"valor_contato","displayName":"valor_contato","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"descricao","displayName":"descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fonte_contato","displayName":"fonte_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"data_adicao","displayName":"data_adicao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"whatsappbusiness","displayName":"whatsappbusiness","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"gmn","displayName":"gmn","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"whatsapp_valido","displayName":"whatsapp_valido","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"apollo_person_id","displayName":"apollo_person_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_confidence_score","displayName":"apollo_confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"apollo_job_title","displayName":"apollo_job_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_seniority_level","displayName":"apollo_seniority_level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_department","displayName":"apollo_department","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_phone_verified","displayName":"apollo_phone_verified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"apollo_email_verified","displayName":"apollo_email_verified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"classificacao_contato","displayName":"classificacao_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"prioridade_contato","displayName":"prioridade_contato","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"chatwoot_contact_id","displayName":"chatwoot_contact_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"chatwoot_sync_status","displayName":"chatwoot_sync_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chatwoot_sync_date","displayName":"chatwoot_sync_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"nome_contato","displayName":"nome_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cargo","displayName":"cargo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"quality_score","displayName":"quality_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"canal_preferencial","displayName":"canal_preferencial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_status","displayName":"email_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cargo_prioridade","displayName":"cargo_prioridade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"prioridade_fila","displayName":"prioridade_fila","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dominio","displayName":"dominio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"revelado","displayName":"revelado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"foi_disparado","displayName":"foi_disparado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"enviado_para_chatwoot","displayName":"enviado_para_chatwoot","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"data_captacao","displayName":"data_captacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"data_atualizacao","displayName":"data_atualizacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"chatwoot_conversation_id","displayName":"chatwoot_conversation_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"last_template_sent","displayName":"last_template_sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_interaction_date","displayName":"last_interaction_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_person_id","displayName":"apollo_api_person_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_enriched_at","displayName":"apollo_api_enriched_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_credits_used","displayName":"apollo_api_credits_used","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_enrichment_type","displayName":"apollo_api_enrichment_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_confidence_score","displayName":"apollo_api_confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_data_quality","displayName":"apollo_api_data_quality","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_last_updated","displayName":"apollo_api_last_updated","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_webhook_pending","displayName":"apollo_webhook_pending","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"apollo_webhook_url","displayName":"apollo_webhook_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_webhook_received_at","displayName":"apollo_webhook_received_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_enrichment_requested_at","displayName":"apollo_enrichment_requested_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"evolution_validation_date","displayName":"evolution_validation_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"tem_email","displayName":"tem_email","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"tem_telefone","displayName":"tem_telefone","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"valido","displayName":"valido","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"status_contato","displayName":"status_contato","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":true,"options":[{"name":"ativo","value":"ativo"},{"name":"inativo","value":"inativo"},{"name":"pendente_confirmacao","value":"pendente_confirmacao"},{"name":"bloqueado","value":"bloqueado"},{"name":"descadastrado_whatsapp","value":"descadastrado_whatsapp"}],"removed":true},{"id":"bitrix_contact_id","displayName":"bitrix_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"bitrix_contact_created_at","displayName":"bitrix_contact_created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"bitrix_sync_status","displayName":"bitrix_sync_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3136,2192],"id":"da5803a5-d7c5-4067-9d38-2e796d76bd69","name":"Atualiza Status WhatsApp","alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2080,1424],"id":"fde6299b-d22d-4d46-92a6-6bc9ae0069e8","name":"No Operation, do nothing"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contatos_empresa","mode":"list","cachedResultName":"contatos_empresa"},"columns":{"mappingMode":"defineBelow","value":{"apollo_webhook_pending":"={{ false }}","id":"={{ $json.id }}","status_contato":"ativo","data_atualizacao":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"empresa_id","displayName":"empresa_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"tipo_contato","displayName":"tipo_contato","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"valor_contato","displayName":"valor_contato","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"descricao","displayName":"descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fonte_contato","displayName":"fonte_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"data_adicao","displayName":"data_adicao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"whatsappbusiness","displayName":"whatsappbusiness","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"gmn","displayName":"gmn","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"whatsapp_valido","displayName":"whatsapp_valido","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"apollo_person_id","displayName":"apollo_person_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_confidence_score","displayName":"apollo_confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"apollo_job_title","displayName":"apollo_job_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_seniority_level","displayName":"apollo_seniority_level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_department","displayName":"apollo_department","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_phone_verified","displayName":"apollo_phone_verified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"apollo_email_verified","displayName":"apollo_email_verified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"classificacao_contato","displayName":"classificacao_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"prioridade_contato","displayName":"prioridade_contato","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"chatwoot_contact_id","displayName":"chatwoot_contact_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"chatwoot_sync_status","displayName":"chatwoot_sync_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chatwoot_sync_date","displayName":"chatwoot_sync_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"nome_contato","displayName":"nome_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cargo","displayName":"cargo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"quality_score","displayName":"quality_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"canal_preferencial","displayName":"canal_preferencial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_status","displayName":"email_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cargo_prioridade","displayName":"cargo_prioridade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"prioridade_fila","displayName":"prioridade_fila","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dominio","displayName":"dominio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"revelado","displayName":"revelado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"foi_disparado","displayName":"foi_disparado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"enviado_para_chatwoot","displayName":"enviado_para_chatwoot","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"data_captacao","displayName":"data_captacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"data_atualizacao","displayName":"data_atualizacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"chatwoot_conversation_id","displayName":"chatwoot_conversation_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"last_template_sent","displayName":"last_template_sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_interaction_date","displayName":"last_interaction_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_person_id","displayName":"apollo_api_person_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_enriched_at","displayName":"apollo_api_enriched_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_credits_used","displayName":"apollo_api_credits_used","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_enrichment_type","displayName":"apollo_api_enrichment_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_confidence_score","displayName":"apollo_api_confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_data_quality","displayName":"apollo_api_data_quality","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_last_updated","displayName":"apollo_api_last_updated","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_webhook_pending","displayName":"apollo_webhook_pending","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"apollo_webhook_url","displayName":"apollo_webhook_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_webhook_received_at","displayName":"apollo_webhook_received_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_enrichment_requested_at","displayName":"apollo_enrichment_requested_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"evolution_validation_date","displayName":"evolution_validation_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"tem_email","displayName":"tem_email","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"tem_telefone","displayName":"tem_telefone","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"valido","displayName":"valido","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"status_contato","displayName":"status_contato","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":true,"options":[{"name":"ativo","value":"ativo"},{"name":"inativo","value":"inativo"},{"name":"pendente_confirmacao","value":"pendente_confirmacao"},{"name":"bloqueado","value":"bloqueado"}]}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2496,1440],"id":"9f6f3740-f8cd-481f-98aa-d3c1fdee665d","name":"Atualiza Placeholder","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2832,1472],"id":"fc09c797-4b7f-49e5-b67a-7e73d4fe4c4c","name":"Loop Over Items1"},{"parameters":{"jsCode":"// A entrada ($input) é o contato do nosso banco de dados, vindo do loop.\nconst contato = $input.first().json;\n\n// Monta o payload completo para a API do Chatwoot\nconst chatwootPayload = {\n  // Dados principais do contato\n  name: contato.nome_contato,\n  phone_number: contato.valor_contato, // O loop já garante que este é um contato de whatsapp\n  email: null, // Definimos como nulo, pois o identificador principal aqui é o telefone\n\n  // Atributos customizados ricos em detalhes\n  custom_attributes: {\n    // Dados do cargo e senioridade\n    cargo: contato.cargo || null,\n    cargo_apollo: contato.apollo_job_title || null,\n    departamento_apollo: contato.apollo_department || null,\n    senioridade_apollo: contato.apollo_seniority_level || null,\n    classificacao_cargo: contato.classificacao_contato || null,\n\n    // Dados da empresa e fontes\n    empresa_id: contato.empresa_id,\n    dominio: contato.dominio || null,\n    linkedin_url: contato.linkedin_url || null,\n    fonte_contato: contato.fonte_contato || 'apollo_api_webhook',\n    origem_contato: \"apollo_api_webhook\", // Origem deste workflow\n    fonte_dados: \"apollo_api\", // Fonte de dados deste workflow\n\n    // IDs e Status\n    apollo_person_id: contato.apollo_person_id || null,\n    supabase_id: contato.id,\n    tipo_contato: contato.tipo_contato,\n    whatsapp_valido: contato.whatsapp_valido,\n    email_status: contato.email_status || null,\n    quality_score: contato.quality_score || null,\n    \n    // Dados de priorização\n    prioridade_contato: contato.prioridade_contato || null,\n    lista_prioridade: contato.classificacao_contato || null,\n    prioridade_fila: contato.prioridade_fila || null,\n    \n    // Outros\n    canal_preferencial: contato.canal_preferencial || null,\n    data_enriquecimento: new Date().toISOString()\n  }\n};\n\n// Retorna o payload pronto e também os dados originais do contato para uso futuro\nreturn {\n  json: {\n    contatoOriginal: contato,\n    chatwootPayload: chatwootPayload\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,1568],"id":"9c937858-ace5-4c40-8df7-15db1ca13e36","name":"Monta Payload do Chatwoot"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"785d45e2-c5c1-425d-83b6-c026e3ed4730","leftValue":"={{ $('Busca Contato no Chatwoot').item.json.payload.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3488,1824],"id":"72ce937d-bc96-46a0-b8c4-51fac3743730","name":"Contato Existe?"},{"parameters":{"url":"https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.chatwootPayload.phone_number }}"}]},"options":{}},"id":"66623a0e-2634-400d-8103-5f0a59a469db","name":"Busca Contato no Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3280,1680],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Monta Payload do Chatwoot').item.json.chatwootPayload }}","options":{}},"id":"a788a221-2af5-4e2b-9d90-a4b09e39cd08","name":"Cria Contato no Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3808,1856],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"method":"PUT","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/contacts/{{ $('Busca Contato no Chatwoot').item.json.payload[0].id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Monta Payload do Chatwoot').item.json.chatwootPayload }}","options":{}},"id":"f1eeff7b-6778-4007-9d8d-f310bbad3404","name":"Cria Contato no Chatwoot1","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3776,1600],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4048,1872],"id":"7bf2e69a-9a19-4265-b000-1124c62fc6fa","name":"Junta Fluxo Chatwoot"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contatos_empresa","mode":"list","cachedResultName":"contatos_empresa"},"columns":{"mappingMode":"defineBelow","value":{"enviado_para_chatwoot":"={{ true }}","id":"={{ $('Monta Payload do Chatwoot').first().json.contatoOriginal.id }}","chatwoot_contact_id":"={{ $json.payload.id ?? $json.payload.contact.id }}","chatwoot_sync_status":"synced","chatwoot_sync_date":"={{ $now.toISO() }}","data_atualizacao":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"empresa_id","displayName":"empresa_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"tipo_contato","displayName":"tipo_contato","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"valor_contato","displayName":"valor_contato","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"descricao","displayName":"descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fonte_contato","displayName":"fonte_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"data_adicao","displayName":"data_adicao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"whatsappbusiness","displayName":"whatsappbusiness","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"gmn","displayName":"gmn","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"whatsapp_valido","displayName":"whatsapp_valido","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"apollo_person_id","displayName":"apollo_person_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_confidence_score","displayName":"apollo_confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"apollo_job_title","displayName":"apollo_job_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_seniority_level","displayName":"apollo_seniority_level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_department","displayName":"apollo_department","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_phone_verified","displayName":"apollo_phone_verified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"apollo_email_verified","displayName":"apollo_email_verified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"classificacao_contato","displayName":"classificacao_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"prioridade_contato","displayName":"prioridade_contato","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"chatwoot_contact_id","displayName":"chatwoot_contact_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chatwoot_sync_status","displayName":"chatwoot_sync_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chatwoot_sync_date","displayName":"chatwoot_sync_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"nome_contato","displayName":"nome_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cargo","displayName":"cargo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"quality_score","displayName":"quality_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"canal_preferencial","displayName":"canal_preferencial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_status","displayName":"email_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cargo_prioridade","displayName":"cargo_prioridade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"prioridade_fila","displayName":"prioridade_fila","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dominio","displayName":"dominio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"revelado","displayName":"revelado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"foi_disparado","displayName":"foi_disparado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"enviado_para_chatwoot","displayName":"enviado_para_chatwoot","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"data_captacao","displayName":"data_captacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"data_atualizacao","displayName":"data_atualizacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"chatwoot_conversation_id","displayName":"chatwoot_conversation_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"last_template_sent","displayName":"last_template_sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_interaction_date","displayName":"last_interaction_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_person_id","displayName":"apollo_api_person_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_enriched_at","displayName":"apollo_api_enriched_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_credits_used","displayName":"apollo_api_credits_used","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_enrichment_type","displayName":"apollo_api_enrichment_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_confidence_score","displayName":"apollo_api_confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_data_quality","displayName":"apollo_api_data_quality","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_last_updated","displayName":"apollo_api_last_updated","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_webhook_pending","displayName":"apollo_webhook_pending","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"apollo_webhook_url","displayName":"apollo_webhook_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_webhook_received_at","displayName":"apollo_webhook_received_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_enrichment_requested_at","displayName":"apollo_enrichment_requested_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"evolution_validation_date","displayName":"evolution_validation_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"tem_email","displayName":"tem_email","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"tem_telefone","displayName":"tem_telefone","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"valido","displayName":"valido","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"status_contato","displayName":"status_contato","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":true,"options":[{"name":"ativo","value":"ativo"},{"name":"inativo","value":"inativo"},{"name":"pendente_confirmacao","value":"pendente_confirmacao"},{"name":"bloqueado","value":"bloqueado"}],"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4272,1872],"id":"c9269c0f-c04b-4a9e-849e-2204421b74c4","name":"Sincroniza com Chatwoot","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3200,1392],"id":"60cea053-2e77-4dc3-9f55-4e77440f2c64","name":"No Operation, do nothing1"},{"parameters":{"method":"POST","url":"https://evolution-evolution.jz9bd8.easypanel.host/chat/fetchBusinessProfile/teste","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.valor_contato.replace(/^\\+/, '').replace(/^55(\\d{2})9(\\d{8})$/, '55$1$2') + '@s.whatsapp.net' }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2560,1968],"id":"c7fd0745-c370-4905-9256-99226245eade","name":"HTTP Request9","credentials":{"httpHeaderAuth":{"id":"BKV8Hv77VgBudTy8","name":"evolutionISM"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM public.contatos_empresa\nWHERE valor_contato LIKE 'placeholder_%@placeholder.com';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3408,1392],"id":"aa356623-b07a-43ac-975c-42c9cdae0bca","name":"Apagar Email placeholder","executeOnce":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM public.contatos_empresa\nWHERE valor_contato LIKE 'placeholder_%@placeholder.com';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1648,1360],"id":"e8eceb2e-36e5-431f-9403-7ec09da2c710","name":"Apagar Email placeholder1","executeOnce":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"=contatos_empresa","mode":"name"},"where":{"values":[{"column":"apollo_api_person_id","value":"={{ $json.body.people[0].id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[784,1584],"id":"ba994fd7-099b-423a-bfc7-6cc2cb188d1e","name":"Buscar contato associado","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40c2ff87-025b-4a60-bab8-9be362869543","leftValue":"={{ $('Buscar contato associado').item.json.valor_contato }}","rightValue":"@fakeexample.com","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,1600],"id":"e74f5ede-0add-4fad-a426-8757aa5f3a42","name":"Atualizar contato?"},{"parameters":{"jsCode":"// Extrair e formatar os dados do corpo do webhook (email, telefone, etc.)\nconst body = $input.item.json.body;\n$input.item.json.person = body.person;\nreturn $input.item;"},"id":"76cbf138-68f2-4e7c-9be0-61cdd47f916e","name":"Processar Dados Recebidos","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,1664]},{"parameters":{"method":"PATCH","url":"=https://api.apollo.io/api/v1/contacts/{{ $json.apollo_person_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cache-Control","value":"no-cache"},{"name":"accept","value":"application/json"},{"name":"x-api-key","value":"UsZ7tSGVx_H1GLC5j6urRg"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"direct_phone","value":"={{ $('Processar Dados Recebidos').item.json.body.people[0].phone_numbers[0].sanitized_number }}"}]},"options":{"timeout":30000}},"id":"d5bf6a7a-9c7e-4564-941f-4f40eeb617fc","name":"Atualizar contato apollo","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[992,1360],"alwaysOutputData":true,"onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"Processar Dados Recebidos","type":"main","index":0}]]},"Check Dados Válidos1":{"main":[[{"node":"Buscar contato associado","type":"main","index":0}],[{"node":"Log Erro","type":"main","index":0}]]},"Update rows in a table":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"pegar_numeros","type":"main","index":0},{"node":"Apagar Email placeholder1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Monta Novo Contato","type":"main","index":0}]]},"pegar_numeros":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Monta Novo Contato":{"main":[[{"node":"Insere Novo Contato","type":"main","index":0}]]},"Insere Novo Contato":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"Prepara Dados de Validação":{"main":[[{"node":"Atualiza Status WhatsApp","type":"main","index":0}]]},"Atualiza Status WhatsApp":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Atualiza Placeholder","type":"main","index":0}]]},"Atualiza Placeholder":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Monta Payload do Chatwoot","type":"main","index":0}]]},"Monta Payload do Chatwoot":{"main":[[{"node":"Busca Contato no Chatwoot","type":"main","index":0}]]},"Busca Contato no Chatwoot":{"main":[[{"node":"Contato Existe?","type":"main","index":0}]]},"Contato Existe?":{"main":[[{"node":"Cria Contato no Chatwoot1","type":"main","index":0}],[{"node":"Cria Contato no Chatwoot","type":"main","index":0}]]},"Cria Contato no Chatwoot1":{"main":[[{"node":"Junta Fluxo Chatwoot","type":"main","index":0}]]},"Cria Contato no Chatwoot":{"main":[[{"node":"Junta Fluxo Chatwoot","type":"main","index":1}]]},"Junta Fluxo Chatwoot":{"main":[[{"node":"Sincroniza com Chatwoot","type":"main","index":0}]]},"Sincroniza com Chatwoot":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"Prepara Dados de Validação","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Apagar Email placeholder","type":"main","index":0}]]},"Buscar contato associado":{"main":[[{"node":"Atualizar contato?","type":"main","index":0},{"node":"Atualizar contato apollo","type":"main","index":0}]]},"Atualizar contato?":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Update rows in a table","type":"main","index":0}]]},"Processar Dados Recebidos":{"main":[[{"node":"Check Dados Válidos1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Update rows in a table":[{"json":{"id":"11365","empresa_id":"1874","tipo_contato":"email","valor_contato":"disposable-lkatm@fakeexample.com","descricao":"Placeholder invalidado após enriquecimento com telefone","fonte_contato":"apollo_api_webhook","data_adicao":"2025-10-26T23:24:26.901Z","whatsappbusiness":null,"gmn":null,"whatsapp_valido":false,"apollo_person_id":"57d36ac6f651252c3106da05","apollo_confidence_score":"0.00","apollo_job_title":null,"apollo_seniority_level":null,"apollo_department":null,"apollo_phone_verified":false,"apollo_email_verified":false,"classificacao_contato":"A","prioridade_contato":5,"chatwoot_contact_id":8310,"chatwoot_sync_status":"synced","chatwoot_sync_date":"2025-10-26T23:40:33.662Z","nome_contato":"Fernando Fermann","cargo":"Administrative Director","linkedin_url":"http://www.linkedin.com/in/fernando-fermann-74a0a826","quality_score":50,"canal_preferencial":null,"email_status":"unknown","cargo_prioridade":null,"prioridade_fila":5,"dominio":"https://nutricao.maeterra.com.br","revelado":true,"foi_disparado":false,"enviado_para_chatwoot":true,"data_captacao":"2025-10-26T23:24:26.956Z","data_atualizacao":"2025-10-26T23:42:46.179Z","chatwoot_conversation_id":0,"last_template_sent":null,"last_interaction_date":null,"apollo_api_person_id":"57d36ac6f651252c3106da05","apollo_api_enriched_at":"2025-10-26T23:15:53.962Z","apollo_api_credits_used":0,"apollo_api_enrichment_type":"enrichment","apollo_api_confidence_score":null,"apollo_api_data_quality":"medium","apollo_api_last_updated":"2025-10-26T23:24:26.956Z","apollo_webhook_pending":false,"apollo_webhook_url":null,"apollo_webhook_received_at":null,"apollo_enrichment_requested_at":null,"evolution_validation_date":null,"tem_email":false,"tem_telefone":false,"valido":false,"status_contato":"inativo","bitrix_contact_id":null,"bitrix_contact_created_at":null,"bitrix_sync_status":"pending"}}],"Insere Novo Contato":[{"json":{"id":"11366","empresa_id":"1874","tipo_contato":"whatsapp","valor_contato":"+5551998084879","descricao":null,"fonte_contato":"apollo_api_webhook","data_adicao":"2025-10-26T23:45:15.364Z","whatsappbusiness":null,"gmn":null,"whatsapp_valido":false,"apollo_person_id":"57d36ac6f651252c3106da05","apollo_confidence_score":"0.00","apollo_job_title":null,"apollo_seniority_level":null,"apollo_department":null,"apollo_phone_verified":true,"apollo_email_verified":false,"classificacao_contato":"A","prioridade_contato":5,"chatwoot_contact_id":null,"chatwoot_sync_status":"pending","chatwoot_sync_date":null,"nome_contato":"Fernando Fermann","cargo":"Administrative Director","linkedin_url":"http://www.linkedin.com/in/fernando-fermann-74a0a826","quality_score":50,"canal_preferencial":null,"email_status":"unknown","cargo_prioridade":null,"prioridade_fila":5,"dominio":"https://nutricao.maeterra.com.br","revelado":true,"foi_disparado":false,"enviado_para_chatwoot":false,"data_captacao":"2025-10-26T23:24:26.956Z","data_atualizacao":"2025-10-26T23:45:15.364Z","chatwoot_conversation_id":null,"last_template_sent":null,"last_interaction_date":null,"apollo_api_person_id":null,"apollo_api_enriched_at":null,"apollo_api_credits_used":0,"apollo_api_enrichment_type":"enrichment","apollo_api_confidence_score":"0.00","apollo_api_data_quality":"medium","apollo_api_last_updated":"2025-10-26T23:24:26.956Z","apollo_webhook_pending":false,"apollo_webhook_url":null,"apollo_webhook_received_at":null,"apollo_enrichment_requested_at":null,"evolution_validation_date":null,"tem_email":false,"tem_telefone":true,"valido":false,"status_contato":"ativo","bitrix_contact_id":null,"bitrix_contact_created_at":null,"bitrix_sync_status":"pending"}}],"Webhook":[{"json":{"headers":{"host":"n8n-n8n-start.5ikbes.easypanel.host","user-agent":"Mechanize/2.8.1 Ruby/3.3.1p55 (http://github.com/sparklemotion/mechanize/)","content-length":"513","accept":"*/*","accept-charset":"ISO-8859-1,utf-8;q=0.7,*;q=0.7","accept-encoding":"gzip,deflate,identity","accept-language":"en-us,en;q=0.5","baggage":"transaction=DirectDialFulfillmentWorker+process,messaging.destination=direct_dial_fulfillment","content-type":"application/json","sentry-trace":"[REDACTED]","traceparent":"[REDACTED]","x-forwarded-for":"34.123.121.231","x-forwarded-host":"n8n-n8n-start.5ikbes.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"3a7ad55109c3","x-real-ip":"34.123.121.231"},"params":{},"query":{},"body":{"status":"success","total_requested_enrichments":1,"unique_enriched_records":1,"missing_records":0,"credits_consumed":8,"people":[{"id":"6152881a5191f9000158e5dd","status":"success","phone_numbers":[{"_id":"696603e022f8590001bf56d5","confidence_cd":"high","dnc_other_info":null,"dnc_status_cd":null,"dnc_status_updated_at":null,"raw_number":"+55 17 99602-0369","sanitized_number":"+5517996020369","status_cd":"valid_number","type_cd":"mobile","id":"696603e022f8590001bf56d5","key":"[REDACTED]"}]}]},"webhookUrl":"https://n8n-n8n-start.5ikbes.easypanel.host/webhook/c3288262-e05f-46ef-8438-c4383d840cc1","executionMode":"production"}}]},"versionId":"1d184236-45ca-41cf-a6ac-6b450c75eb95","triggerCount":1,"shared":[{"createdAt":"2025-07-08T17:20:49.166Z","updatedAt":"2025-07-08T17:20:49.166Z","role":"workflow:owner","workflowId":"M6KstTWw637WEYAC","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}