backups/registrar-logs-L8onGgCjpQMMsL42.json
{"createdAt":"2025-09-17T19:30:42.227Z","updatedAt":"2025-09-22T19:15:43.048Z","id":"L8onGgCjpQMMsL42","name":"Registrar logs","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"domain"},{"name":"status"},{"name":"empresa_id"},{"name":"action_type"},{"name":"from_status"},{"name":"to_status"},{"name":"reason"},{"name":"canal"},{"name":"destinatario"},{"name":"workflow_name"},{"name":"user_agent"},{"name":"ip_origem"},{"name":"etapa_cadencia"},{"name":"template_usado"},{"name":"dia_atual_na_cadencia","type":"number"},{"name":"execution_id"},{"name":"error_code"},{"name":"error_message"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1776,16],"id":"c9bb8ba8-9dd5-4080-ac61-80d0d3607331","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Pega o JSON plano de entrada\nconst input = $input.first().json;\n\n// Define os campos que devem ir para dentro do objeto 'action_details'\nconst detailFields = [\n  'from_status', 'to_status', 'reason', 'canal', 'destinatario', \n  'template_usado', 'etapa_cadencia', 'dia_atual_na_cadencia', \n  'error_code', 'error_message', 'workflow_id', 'user_agent', 'ip_origem'\n];\n\nconst action_details = {};\n\n// Coloca dentro de 'action_details' apenas os campos que foram enviados no JSON plano\nfor (const field of detailFields) {\n  if (input[field] !== undefined) {\n    action_details[field] = input[field];\n  }\n}\n\n// Normaliza empresa_id: remove aspas simples, duplas e espaços → converte para número\nlet empresaId = undefined;\nif (input.empresa_id !== undefined && input.empresa_id !== null) {\n  const cleaned = String(input.empresa_id)\n    .replace(/['\"]/g, '') // remove aspas simples e duplas\n    .trim();\n  empresaId = isNaN(Number(cleaned)) ? null : Number(cleaned);\n}\n\n// Monta o objeto final, estruturado para o banco de dados\nconst logParaSalvar = {\n  json: {\n    domain: input.domain,\n    status: input.status,\n    empresa_id: empresaId, // sempre número limpo\n    action_type: input.action_type,\n    workflow_name: input.workflow_name || $workflow.name,\n    execution_id: input.execution_id || $execution.id,\n    action_details: action_details\n  }\n};\n\nreturn [logParaSalvar];\n"},"id":"fcf82099-7a1f-4490-be75-0d4e8a923cdc","name":"Validar Entrada","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,32],"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    id, \n    nome_empresa_gmn as nome,\n    gmn_telefone as telefone,\n    emails_scraping as email,\n    status_cadencia_geral,\n    status_geral,\n    data_criacao as created_at,\n    data_ultima_atualizacao as updated_at\nFROM empresas \nWHERE id = $1","options":{"queryReplacement":"={{ $json.empresa_id }}"}},"id":"a77f191a-be79-472d-baba-213b8bee0d4f","name":"Buscar Empresa","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1168,32],"retryOnFail":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"\n// Encontra o dado do log (que tem o campo 'domain') e o dado da empresa (que tem o campo 'nome')\n// Isso é muito mais seguro do que assumir a ordem com first() e last()\nconst logInput = $('Validar Entrada').first().json;\nconst empresaData = $input.first().json;\n\n// Se um dos inputs não for encontrado, lança um erro claro\nif (!logInput || !empresaData) {\n  throw new Error(\"Não foi possível encontrar os dados do log ou da empresa na entrada do nó.\");\n}\n\n// Cria o objeto de log final, mesclando os dados\nconst finalLog = {\n  ...logInput, // 1. Copia todos os dados do log original\n  action_details: {\n    ...logInput.action_details, // 2. Copia os detalhes da ação que já existiam\n    \n    // 3. Adiciona os novos detalhes da empresa que foram buscados\n    empresa_nome: empresaData.nome,\n    empresa_telefone: empresaData.telefone,\n    empresa_email: empresaData.email,\n    empresa_status_atual: empresaData.status_cadencia_geral,\n  }\n};\n\nreturn [{ json: finalLog }];"},"id":"84f0fa42-a526-4888-91ca-736131100223","name":"Preparar Log","type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,48],"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"status-success","leftValue":"={{ $json.status }}","rightValue":"success","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"c7ef96b4-b2b0-47fa-a0f2-a3f7f5dad511","name":"Mensagem Enviada?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-640,16]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO domain_logs (\n  domain,\n  action_type,\n  status,\n  empresa_id,\n  workflow_name,\n  execution_id,\n  action_details,\n  user_agent,\n  ip_address,\n  workflow_id,\n  error_message,\n  created_at\n) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, NOW()) RETURNING *;","options":{"queryReplacement":"={{ [ $json.domain, $json.action_type, $json.status, $json.empresa_id, $json.workflow_name, $json.execution_id, JSON.stringify($json.action_details), $json.action_details.user_agent, $json.action_details.ip_origem, $json.action_details.workflow_id, $json.action_details.error_message ] }}"}},"id":"0b786c79-4fb9-4c57-92d6-aa71e7bfec80","name":"Log - Transição Sucesso","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-368,-144],"retryOnFail":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO domain_logs (\n  domain,\n  action_type,\n  status,\n  empresa_id,\n  workflow_name,\n  execution_id,\n  action_details,\n  user_agent,\n  ip_address,\n  workflow_id,\n  error_message,\n  created_at\n) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, NOW()) RETURNING *;","options":{"queryReplacement":"={{ [ $json.domain, $json.action_type, $json.status, $json.empresa_id, $json.workflow_name, $json.execution_id, JSON.stringify($json.action_details), $json.action_details.user_agent, $json.action_details.ip_origem, $json.action_details.workflow_id, $json.action_details.error_message ] }}"}},"id":"6de3ea41-f312-4c6b-8170-8dcc1640d40e","name":"Log - Erro Envio","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-352,176],"retryOnFail":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO domain_logs (\n  domain,\n  action_type,\n  status,\n  execution_id,\n  workflow_name,\n  empresa_id,\n  created_at\n) VALUES ($1, $2, $3, $4, $5, $6, NOW()) RETURNING *;","options":{"queryReplacement":"={{ [ $json.domain, 'workflow_completed', 'success', $json.execution_id, $json.workflow_name, $json.empresa_id ] }}"}},"id":"2f6e5884-f094-4faa-a5dc-b0eb57a8a03c","name":"Log - Finalização","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-32,0],"retryOnFail":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}},"onError":"continueRegularOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Validar Entrada","type":"main","index":0}]]},"Validar Entrada":{"main":[[{"node":"Buscar Empresa","type":"main","index":0}]]},"Buscar Empresa":{"main":[[{"node":"Preparar Log","type":"main","index":0}]]},"Preparar Log":{"main":[[{"node":"Mensagem Enviada?","type":"main","index":0}]]},"Mensagem Enviada?":{"main":[[{"node":"Log - Transição Sucesso","type":"main","index":0}],[{"node":"Log - Erro Envio","type":"main","index":0}]]},"Log - Transição Sucesso":{"main":[[{"node":"Log - Finalização","type":"main","index":0}]]},"Log - Erro Envio":{"main":[[{"node":"Log - Finalização","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"domain":"https://redeg2.com.br","status":"success","empresa_id":"'2552'","action_type":"cliente_respondeu_whastapp","from_status":null,"to_status":"interagindo_wa","reason":null,"canal":"whatsapp","destinatario":"555193299031","workflow_name":"[WF3] Atendimento WhatsApp","user_agent":null,"ip_origem":null,"etapa_cadencia":null,"template_usado":null,"dia_atual_na_cadencia":null,"execution_id":null,"error_code":null,"error_message":null}}]},"versionId":"71050202-6d73-49c9-8d2c-3defbc045a1f","triggerCount":0,"shared":[{"createdAt":"2025-09-17T19:30:42.227Z","updatedAt":"2025-09-17T19:30:42.227Z","role":"workflow:owner","workflowId":"L8onGgCjpQMMsL42","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}