backups/relatório-de-interações---email-com-áudio-QPHIP3DFx7EQ9YQN.json
{"updatedAt":"2026-01-09T19:55:58.413Z","createdAt":"2025-11-17T18:18:39.514Z","id":"QPHIP3DFx7EQ9YQN","name":"Relatório de Interações - Email com Áudio","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// WHATSAPP TEXT VERSION - Simplified per client request\n// Only: Date/Time (highlighted), Name, Phone, Email, Summary\nconst extractDataNode = $('Extrair Dados1').first().json;\nconst htmlNode = $('Gerar HTML1').first().json;\n\nfunction formatDateLarge(unixTimestamp) {\n    const date = new Date(unixTimestamp * 1000);\n    return date.toLocaleString('en-US', {\n        timeZone: 'America/Los_Angeles',\n        weekday: 'long',\n        month: 'long',\n        day: 'numeric',\n        year: 'numeric'\n    });\n}\n\nfunction formatTime(unixTimestamp) {\n    const date = new Date(unixTimestamp * 1000);\n    return date.toLocaleString('en-US', {\n        timeZone: 'America/Los_Angeles',\n        hour: 'numeric',\n        minute: '2-digit',\n        hour12: true\n    });\n}\n\nfunction translateValue(value) {\n    if (typeof value !== 'string') return value;\n    const translations = {\n        'não fornecido': 'Not provided',\n        'nao fornecido': 'Not provided'\n    };\n    const lowerValue = value.toLowerCase().trim();\n    return translations[lowerValue] || value;\n}\n\n// Build simplified WhatsApp message with DATE/TIME highlighted at top\nconst message = `📅 *${formatDateLarge(extractDataNode.start_time)}*\n🕐 *${formatTime(extractDataNode.start_time)} (PT)*\n\n━━━━━━━━━━━━━━━━━━━━\n\n*Name:* ${translateValue(extractDataNode.name)}\n*Phone:* ${translateValue(extractDataNode.phone_number)}\n*Email:* ${translateValue(extractDataNode.email)}\n\n━━━━━━━━━━━━━━━━━━━━\n\n📝 *SUMMARY*\n━━━━━━━━━━━━━━━━━━━━\n\n${extractDataNode.summary}`.trim();\n\nreturn {\n    json: {\n        text: message,\n        phone_number: translateValue(extractDataNode.phone_number),\n        customer_name: translateValue(extractDataNode.name),\n        conversation_id: extractDataNode.conversation_id\n    }\n};"},"id":"d4f4ccfd-87c0-43ac-8d4f-c71cc77726e2","name":"Gerar Texto WhatsApp","type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,-48]},{"parameters":{"method":"POST","url":"=https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=number","value":"+16197422267"},{"name":"text","value":"={{ $json.text }}"}]},"options":{}},"id":"33290396-abec-40b5-b24f-e822f9298b09","name":"Enviar WhatsApp Evolution","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,-64],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=number","value":"+18583665405"},{"name":"text","value":"={{ $json.text }}"}]},"options":{}},"id":"42f71c81-3da6-42e5-93bb-4b200d9b2c0c","name":"Enviar WhatsApp Esposa Emi","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,144],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"bc26c6f0-d7d0-4734-a9ff-463b76867a9b","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2016,-368],"id":"c57848bf-ed99-4d3f-9968-8a1b6a06d6e4","name":"Webhook1","webhookId":"bc26c6f0-d7d0-4734-a9ff-463b76867a9b"},{"parameters":{"assignments":{"assignments":[{"id":"conversation_id","name":"conversation_id","value":"={{ $json.body.data.conversation_id }}","type":"string"},{"id":"name","name":"name","value":"={{ $json.body.data.analysis.data_collection_results.name.value || 'Não fornecido' }}","type":"string"},{"id":"phone_number","name":"phone_number","value":"={{ \n  $json.body.data.metadata.phone_call ? \n  $json.body.data.metadata.phone_call.external_number : \n  ($json.body.data.analysis.data_collection_results.phone_number?.value || 'Não fornecido') \n}}","type":"string"},{"id":"email","name":"email","value":"={{ $json.body.data.analysis.data_collection_results.email.value || 'Não fornecido' }}","type":"string"},{"id":"call_duration","name":"call_duration","value":"={{ $json.body.data.metadata.call_duration_secs }}","type":"number"},{"id":"cost","name":"cost","value":"=","type":"number"},{"id":"start_time","name":"start_time","value":"={{ $json.body.data.metadata.start_time_unix_secs }}","type":"number"},{"id":"phone_call","name":"phone_call","value":"={{ $json.body.data.metadata.phone_call }}","type":"object"},{"id":"summary","name":"summary","value":"={{ $json.body.data.analysis.transcript_summary }}","type":"string"},{"id":"title","name":"title","value":"={{ $json.body.data.analysis.call_summary_title }}","type":"string"},{"id":"call_successful","name":"call_successful","value":"={{ $json.body.data.analysis.call_successful }}","type":"string"},{"id":"transcript","name":"transcript","value":"={{ $json.body.data.transcript }}","type":"array"},{"id":"data_collection","name":"data_collection","value":"={{ $json.body.data.analysis.data_collection_results }}","type":"object"},{"id":"termination_reason","name":"termination_reason","value":"={{ $json.body.data.metadata.termination_reason }}","type":"string"}]},"options":{}},"id":"c4666fe7-06d8-4aaf-9027-e0d9a949fd8b","name":"Extrair Dados1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1792,-368]},{"parameters":{"jsCode":"// NEW COMPACT EMAIL DESIGN - Mobile-First\n// Code for the n8n \"Generate HTML\" node - Updated Version (Compact Design)\n// This removes the large banner and shows critical info at the top\n\n// 1. GET DATA FROM PREVIOUS NODES\nconst extractDataNode = $('Extrair Dados1').first().json;\nconst audioUploadNode = $('Upload Áudio para Microserviço').first().json;\nconst webStatsData = $('Buscar Estatísticas do Mês web1').first().json;\nconst phoneStatsData = $input.first().json;\nconst audioUploadResponse = audioUploadNode;\n\n// Helper formatting functions\nfunction formatDuration(seconds) {\n    const mins = Math.floor(seconds / 60);\n    const secs = seconds % 60;\n    return `${mins}:${secs.toString().padStart(2, '0')}`;\n}\n\nfunction formatDate(unixTimestamp) {\n    const date = new Date(unixTimestamp * 1000);\n    return date.toLocaleString('en-US', {\n        timeZone: 'America/Los_Angeles',\n        month: 'short',\n        day: 'numeric',\n        year: 'numeric',\n        hour: 'numeric',\n        minute: '2-digit',\n        hour12: true\n    });\n}\n\nfunction formatDateShort(unixTimestamp) {\n    const date = new Date(unixTimestamp * 1000);\n    return date.toLocaleString('en-US', {\n        timeZone: 'America/Los_Angeles',\n        month: 'short',\n        day: 'numeric',\n        year: 'numeric'\n    });\n}\n\nfunction formatTime(unixTimestamp) {\n    const date = new Date(unixTimestamp * 1000);\n    return date.toLocaleString('en-US', {\n        timeZone: 'America/Los_Angeles',\n        hour: 'numeric',\n        minute: '2-digit',\n        hour12: true\n    });\n}\n\nfunction formatMinutes(seconds) {\n    const mins = Math.floor(seconds / 60);\n    return `${mins} min`;\n}\n\nfunction translateValue(value) {\n    if (typeof value !== 'string') return value;\n    const translations = {\n        'não fornecido': 'Not provided',\n        'nao fornecido': 'Not provided',\n        'não coletado': 'Not collected',\n        'nao coletado': 'Not collected',\n        'não definido': 'Undefined',\n        'nao definido': 'Undefined',\n        'indefinido': 'Undefined',\n        'desconhecido': 'Unknown'\n    };\n    const lowerValue = value.toLowerCase().trim();\n    return translations[lowerValue] || value;\n}\n\n// Format phone number for tel: link\nfunction formatPhoneForCall(phone) {\n    if (!phone || phone === 'Not provided' || phone === 'Não fornecido') return null;\n    // Remove non-numeric characters for the tel link\n    return phone.replace(/[^0-9+]/g, '');\n}\n\n// Process transcript\nconst transcript = extractDataNode.transcript || [];\nlet transcriptHTML = '';\n\ntranscript.forEach((turn) => {\n    const role = turn.role === 'agent' ? '🤖 Agent' : '👤 Customer';\n    const time = formatDuration(turn.time_in_call_secs || 0);\n    const message = turn.message || '(no message)';\n    const bgColor = turn.role === 'agent' ? '#EFF6FF' : '#F0FDF4';\n    const borderColor = turn.role === 'agent' ? '#2563EB' : '#16A34A';\n\n    transcriptHTML += `\n    <div style=\"margin-bottom: 10px; padding: 10px; background: ${bgColor}; border-left: 3px solid ${borderColor}; border-radius: 4px;\">\n      <div style=\"font-weight: 600; color: #1F2937; font-size: 12px;\">\n        ${role} <span style=\"color: #6B7280; font-weight: 400;\">(${time})</span>\n      </div>\n      <div style=\"color: #374151; font-size: 13px; margin-top: 4px;\">${message}</div>\n    </div>\n  `;\n});\n\n// Process collected data\nconst dataCollection = extractDataNode.data_collection || {};\nlet dataCollectionHTML = '';\n\nObject.keys(dataCollection).forEach(key => {\n    const item = dataCollection[key];\n    const hasValue = item.value !== null && item.value !== undefined;\n    const icon = hasValue ? '✅' : '❌';\n    const value = hasValue ? translateValue(item.value) : 'Not provided';\n\n    dataCollectionHTML += `\n    <div style=\"background: #F9FAFB; padding: 10px; border-radius: 6px; margin-bottom: 8px;\">\n      <div style=\"color: #6B7280; font-size: 11px; text-transform: uppercase;\">${icon} ${key.replace(/_/g, ' ')}</div>\n      <div style=\"color: #1F2937; font-weight: 500; font-size: 13px;\">${value}</div>\n    </div>\n  `;\n});\n\n// Monthly Statistics Logic\nconst now = new Date();\nconst pacificDateString = now.toLocaleString('en-US', {\n    timeZone: 'America/Los_Angeles',\n    year: 'numeric',\n    month: 'numeric',\n    day: 'numeric',\n    hour: 'numeric',\n    minute: 'numeric'\n});\nconst pacificDate = new Date(pacificDateString);\n\nconst currentMonth = pacificDate.getMonth();\nconst currentYear = pacificDate.getFullYear();\n\nconst monthName = now.toLocaleString('en-US', {\n    timeZone: 'America/Los_Angeles',\n    month: 'long',\n    year: 'numeric'\n});\n\nconst rawWebConversations = (webStatsData && webStatsData.conversations) ? webStatsData.conversations : [];\nconst rawPhoneConversations = (phoneStatsData && phoneStatsData.conversations) ? phoneStatsData.conversations : [];\n\nfunction filterCurrentMonth(conversations) {\n    return conversations.filter(conv => {\n        if (!conv.start_time_unix_secs) return false;\n        const convDate = new Date(conv.start_time_unix_secs * 1000);\n        const convPacificString = convDate.toLocaleString('en-US', {\n            timeZone: 'America/Los_Angeles',\n            year: 'numeric',\n            month: 'numeric',\n            day: 'numeric',\n            hour: 'numeric',\n            minute: 'numeric'\n        });\n        const convPacificDate = new Date(convPacificString);\n        return convPacificDate.getMonth() === currentMonth && convPacificDate.getFullYear() === currentYear;\n    });\n}\n\nconst monthlyWeb = filterCurrentMonth(rawWebConversations);\nconst monthlyPhone = filterCurrentMonth(rawPhoneConversations);\n\nconst widgetCallsCount = monthlyWeb.length;\nconst phoneCallsCount = monthlyPhone.length;\nconst totalCalls = widgetCallsCount + phoneCallsCount;\n\nconst durationWeb = monthlyWeb.reduce((sum, conv) => sum + (conv.call_duration_secs || 0), 0);\nconst durationPhone = monthlyPhone.reduce((sum, conv) => sum + (conv.call_duration_secs || 0), 0);\nconst totalSeconds = durationWeb + durationPhone;\n\nconst totalMinutes = Math.floor(totalSeconds / 60);\nconst avgDuration = totalCalls > 0 ? Math.floor(totalSeconds / totalCalls) : 0;\n\n// Determine origin and status\nconst isPhone = extractDataNode.phone_call !== null;\nconst origin = isPhone ? '📞 Phone' : '💻 Widget';\nconst statusIcon = extractDataNode.call_successful === 'success' ? '✅' : '⚠️';\nconst statusText = extractDataNode.call_successful === 'success' ? 'Success' : 'Issues';\n\n// Audio URL\nconst audioUrl = audioUploadResponse.url || '#';\nconst audioExpires = audioUploadResponse.expires_in_days || 30;\n\n// Phone number for click-to-call\nconst customerPhone = translateValue(extractDataNode.phone_number);\nconst phoneForCall = formatPhoneForCall(customerPhone);\n\n// Generate COMPACT HTML - Mobile-First Design with DATE/TIME HIGHLIGHTED\nconst html = `<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Call - ${translateValue(extractDataNode.name)} - ${formatDateShort(extractDataNode.start_time)}</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; background-color: #F3F4F6;\">\n  <div style=\"max-width: 600px; margin: 0 auto; padding: 12px;\">\n    \n    <!-- DATE AND TIME - SUPER HIGHLIGHTED AT TOP -->\n    <div style=\"background: linear-gradient(135deg, #1E40AF 0%, #3B82F6 100%); border-radius: 12px; padding: 20px; margin-bottom: 12px; text-align: center; box-shadow: 0 4px 12px rgba(30,64,175,0.3);\">\n      <div style=\"font-size: 28px; font-weight: 800; color: white; margin-bottom: 4px;\">📅 ${formatDateShort(extractDataNode.start_time)}</div>\n      <div style=\"font-size: 22px; font-weight: 700; color: #BFDBFE;\">🕐 ${formatTime(extractDataNode.start_time)} (PT)</div>\n    </div>\n    \n    <!-- CUSTOMER INFO -->\n    <div style=\"background: white; border-radius: 12px; padding: 16px; margin-bottom: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.08);\">\n      \n      <!-- CUSTOMER NAME -->\n      <div style=\"margin-bottom: 12px;\">\n        <div style=\"color: #6B7280; font-size: 11px; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 4px;\">Customer</div>\n        <div style=\"font-size: 20px; font-weight: 700; color: #1F2937;\">${translateValue(extractDataNode.name)}</div>\n      </div>\n      \n      <!-- PHONE - CLICKABLE BUTTON -->\n      <div style=\"margin-bottom: 12px;\">\n        <div style=\"color: #6B7280; font-size: 11px; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 4px;\">Phone</div>\n        ${phoneForCall ? \n          `<a href=\"tel:${phoneForCall}\" style=\"display: inline-block; background: #16A34A; color: white; padding: 12px 24px; border-radius: 8px; text-decoration: none; font-size: 18px; font-weight: 700;\">\n            📞 ${customerPhone}\n          </a>` :\n          `<div style=\"color: #9CA3AF; font-size: 16px;\">Not provided</div>`\n        }\n      </div>\n      \n      <!-- EMAIL -->\n      <div style=\"margin-bottom: 12px;\">\n        <div style=\"color: #6B7280; font-size: 11px; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 4px;\">Email</div>\n        <div style=\"font-size: 16px; font-weight: 500; color: #1F2937;\">${translateValue(extractDataNode.email)}</div>\n      </div>\n      \n    </div>\n    \n    <!-- QUICK SUMMARY -->\n    <div style=\"background: #EFF6FF; border-left: 4px solid #2563EB; border-radius: 8px; padding: 14px; margin-bottom: 12px;\">\n      <div style=\"font-weight: 600; color: #1F2937; margin-bottom: 6px; font-size: 14px;\">📝 Summary</div>\n      <div style=\"color: #374151; font-size: 14px; line-height: 1.5;\">${extractDataNode.summary}</div>\n    </div>\n    \n    <!-- MONTHLY STATS - COMPACT -->\n    <div style=\"background: #F9FAFB; border-radius: 12px; padding: 16px; margin-bottom: 12px;\">\n      <div style=\"font-weight: 600; color: #1F2937; margin-bottom: 12px; font-size: 14px;\">📈 ${monthName}</div>\n      <div style=\"display: flex; justify-content: space-around; text-align: center;\">\n        <div>\n          <div style=\"font-size: 22px; font-weight: 700; color: #2563EB;\">${totalCalls}</div>\n          <div style=\"font-size: 11px; color: #6B7280;\">Calls</div>\n        </div>\n        <div style=\"width: 1px; background: #E5E7EB;\"></div>\n        <div>\n          <div style=\"font-size: 22px; font-weight: 700; color: #16A34A;\">${totalMinutes}</div>\n          <div style=\"font-size: 11px; color: #6B7280;\">Minutes</div>\n        </div>\n        <div style=\"width: 1px; background: #E5E7EB;\"></div>\n        <div>\n          <div style=\"font-size: 22px; font-weight: 700; color: #8B5CF6;\">#${totalCalls}</div>\n          <div style=\"font-size: 11px; color: #6B7280;\">This Call</div>\n        </div>\n      </div>\n      <div style=\"text-align: center; margin-top: 10px; font-size: 11px; color: #6B7280;\">\n        📞 ${phoneCallsCount} phone • 💻 ${widgetCallsCount} widget • ⏱️ Avg: ${formatMinutes(avgDuration)}\n      </div>\n    </div>\n    \n    <!-- AUDIO -->\n    <div style=\"background: white; border-radius: 12px; padding: 16px; margin-bottom: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.08);\">\n      <div style=\"font-weight: 600; color: #1F2937; margin-bottom: 12px; font-size: 14px;\">🎧 Call Audio</div>\n      <audio controls style=\"width: 100%;\">\n        <source src=\"${audioUrl}\" type=\"audio/mpeg\">\n      </audio>\n      <div style=\"text-align: center; margin-top: 12px;\">\n        <a href=\"${audioUrl}\" style=\"display: inline-block; background: #2563EB; color: white; padding: 10px 20px; border-radius: 6px; text-decoration: none; font-size: 14px; font-weight: 600;\">\n          📥 Download\n        </a>\n      </div>\n      <div style=\"text-align: center; margin-top: 8px; font-size: 11px; color: #9CA3AF;\">Available for ${audioExpires} days</div>\n    </div>\n    \n    <!-- COLLECTED DATA - COMPACT -->\n    <div style=\"background: white; border-radius: 12px; padding: 16px; margin-bottom: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.08);\">\n      <div style=\"font-weight: 600; color: #1F2937; margin-bottom: 12px; font-size: 14px;\">📊 Collected Data</div>\n      <div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 8px;\">\n        ${dataCollectionHTML}\n      </div>\n    </div>\n    \n    <!-- TRANSCRIPT -->\n    <div style=\"background: white; border-radius: 12px; padding: 16px; box-shadow: 0 2px 8px rgba(0,0,0,0.08);\">\n      <div style=\"font-weight: 600; color: #1F2937; margin-bottom: 12px; font-size: 14px;\">💬 Transcript</div>\n      ${transcriptHTML}\n    </div>\n    \n    <!-- FOOTER -->\n    <div style=\"text-align: center; padding: 16px; color: #9CA3AF; font-size: 11px;\">\n      Pacific Surf School • ID: ${extractDataNode.conversation_id}\n    </div>\n    \n  </div>\n</body>\n</html>`;\n\nreturn {\n    json: {\n        html: html,\n        conversation_id: extractDataNode.conversation_id,\n        name: translateValue(extractDataNode.name),\n        subject: `${formatTime(extractDataNode.start_time)} - ${translateValue(extractDataNode.name)} - ${customerPhone !== 'Not provided' ? customerPhone : origin}`,\n        audio_url: audioUrl,\n        monthly_stats: {\n            total_calls: totalCalls,\n            total_minutes: totalMinutes,\n            phone_calls: phoneCallsCount,\n            widget_calls: widgetCallsCount\n        }\n    }\n};\n"},"id":"a3b32dc5-c802-4670-b724-0a00e4fb45d2","name":"Gerar HTML1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,-384]},{"parameters":{"fromEmail":"Sunny <noreply@superbot.digital>","toEmail":"sunny@pacificsurf.org","subject":"={{ $json.subject }}","html":"={{ $json.html }}","options":{"appendAttribution":false}},"id":"85b3c308-4052-49af-9392-409ff4f4bb3d","name":"Enviar Email3","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-528,-304],"webhookId":"90e3cadb-ef26-408e-bdcb-995f50040c7a","alwaysOutputData":true,"retryOnFail":true,"credentials":{"smtp":{"id":"ogzJewLaZMn0xj3c","name":"SMTP noreply@superbot.digital"}},"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"Sunny <noreply@superbot.digital>","toEmail":"emilioriccinetto@gmail.com","subject":"={{ $json.subject }}","emailFormat":"=html","html":"={{ $json.html }}","options":{"appendAttribution":false}},"id":"b36ad992-61ed-42dc-a801-82deb6de2932","name":"Enviar Email4","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-448,-656],"webhookId":"90e3cadb-ef26-408e-bdcb-995f50040c7a","alwaysOutputData":true,"retryOnFail":true,"credentials":{"smtp":{"id":"ogzJewLaZMn0xj3c","name":"SMTP noreply@superbot.digital"}},"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"Sunny <noreply@superbot.digital>","toEmail":"diegovilson.1999@gmail.com","subject":"={{ $('Gerar HTML1').first().json.subject }}","html":"={{ $('Gerar HTML1').first().json.html }}","options":{"appendAttribution":false}},"id":"60bd6bcb-f7e4-454b-a096-7d24290ef58a","name":"Enviar Email5","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-464,-496],"webhookId":"90e3cadb-ef26-408e-bdcb-995f50040c7a","alwaysOutputData":true,"retryOnFail":true,"credentials":{"smtp":{"id":"ogzJewLaZMn0xj3c","name":"SMTP noreply@superbot.digital"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.elevenlabs.io/v1/convai/conversations?agent_id=agent_9801k30bf7mge0hbxympamdr1bc0&page_size=100","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"46357c3b-50eb-4093-9810-6ad18febae71","name":"Buscar Estatísticas do Mês web1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1312,-368],"credentials":{"httpHeaderAuth":{"id":"aJncYJxPcd9HqT2c","name":"Header Auth account"}}},{"parameters":{"url":"=https://api.elevenlabs.io/v1/convai/conversations?agent_id=agent_7301k1ccpdvjevmb008rkgrkv21j&page_size=100","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"99885108-b6b6-4ced-a202-8678a70b8c74","name":"Buscar Estatísticas do Mês phone1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1104,-368],"credentials":{"httpHeaderAuth":{"id":"aJncYJxPcd9HqT2c","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"=https://n8n-upload-audio.gtzkxz.easypanel.host/upload/audio","sendBody":true,"bodyParameters":{"parameters":[{"name":"audio_url","value":"=https://api.elevenlabs.io/v1/convai/conversations/{{ $json.conversation_id }}/audio"},{"name":"api_key","value":"[REDACTED]"},{"name":"conversation_id","value":"={{ $json.conversation_id }}"}]},"options":{}},"id":"a96d4c56-a26c-4df5-9f41-215226314453","name":"Upload Áudio para Microserviço","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1520,-368],"retryOnFail":true}],"connections":{"Gerar Texto WhatsApp":{"main":[[{"node":"Enviar WhatsApp Evolution","type":"main","index":0},{"node":"Enviar WhatsApp Esposa Emi","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Extrair Dados1","type":"main","index":0}]]},"Extrair Dados1":{"main":[[{"node":"Upload Áudio para Microserviço","type":"main","index":0}]]},"Gerar HTML1":{"main":[[{"node":"Gerar Texto WhatsApp","type":"main","index":0},{"node":"Enviar Email4","type":"main","index":0},{"node":"Enviar Email5","type":"main","index":0},{"node":"Enviar Email3","type":"main","index":0}]]},"Buscar Estatísticas do Mês web1":{"main":[[{"node":"Buscar Estatísticas do Mês phone1","type":"main","index":0}]]},"Buscar Estatísticas do Mês phone1":{"main":[[{"node":"Gerar HTML1","type":"main","index":0}]]},"Upload Áudio para Microserviço":{"main":[[{"node":"Buscar Estatísticas do Mês web1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"ElevenLabs/1.0","content-length":"39272","accept":"*/*","accept-encoding":"gzip, deflate, br","content-type":"application/json","elevenlabs-signature":"t=1767986870,v0=[REDACTED]","x-forwarded-for":"34.59.11.47","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"34.59.11.47"},"params":{},"query":{},"body":{"type":"post_call_transcription","event_timestamp":1767986870,"data":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","conversation_id":"conv_2401kej3e9y5fpj8nck2b8d684zx","status":"done","user_id":"rIal6dHgCxf7KnSM1NYvgYcQdD93","branch_id":null,"version_id":null,"transcript":[{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":"Oi! Aqui é a Sunny da Pacific Surf School. Esta chamada pode ser gravada para fins de qualidade. Você está pronto para começar?","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":0,"conversation_turn_metrics":{"metrics":{"convai_tts_service_ttfb":{"elapsed_time":0.32488457099998413}}},"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":null},{"role":"user","agent_metadata":null,"message":"...","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":11,"conversation_turn_metrics":null,"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":"audio"},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":"Oi, você ainda está aí? Posso ajudar com alguma...","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":12,"conversation_turn_metrics":{"metrics":{"convai_llm_service_ttf_sentence":{"elapsed_time":0.526002526999946},"convai_llm_service_ttfb":{"elapsed_time":0.47157355200033635},"convai_llm_service_tt_last_sentence":{"elapsed_time":0.616013920000114},"convai_tts_service_ttfb":{"elapsed_time":0.13358092599992233}}},"rag_retrieval_info":null,"llm_usage":{"model_usage":{"gpt-4.1-mini":{"input":{"tokens":"[REDACTED]","price":0.000008},"input_cache_read":{"tokens":"[REDACTED]","price":0.0008832},"input_cache_write":{"tokens":"[REDACTED]","price":0},"output_total":{"tokens":"[REDACTED]","price":0.000024}}}},"interrupted":true,"original_message":"Oi, você ainda está aí? Posso ajudar com alguma coisa?","source_medium":null},{"role":"user","agent_metadata":null,"message":"Sim, estou pronto. Estou pronto.","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":14,"conversation_turn_metrics":{"metrics":{"convai_asr_trailing_service_latency":{"elapsed_time":0.2637083210001947}}},"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":"audio"},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":"Que ótimo! Obrigada por avisar. Qual é o seu nome?","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":19,"conversation_turn_metrics":{"metrics":{"convai_llm_service_ttf_sentence":{"elapsed_time":2.0887911810000332},"convai_llm_service_ttfb":{"elapsed_time":2.069915857000069},"convai_llm_service_tt_last_sentence":{"elapsed_time":2.353721734999908},"convai_tts_service_ttfb":{"elapsed_time":0.11651202100028968}}},"rag_retrieval_info":null,"llm_usage":{"model_usage":{"gpt-4.1-mini":{"input":{"tokens":"[REDACTED]","price":0.000019600000000000002},"input_cache_read":{"tokens":"[REDACTED]","price":0.0008832},"input_cache_write":{"tokens":"[REDACTED]","price":0},"output_total":{"tokens":"[REDACTED]","price":0.000025600000000000002}}}},"interrupted":false,"original_message":null,"source_medium":null},{"role":"user","agent_metadata":null,"message":"Diego.","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":24,"conversation_turn_metrics":{"metrics":{"convai_asr_trailing_service_latency":{"elapsed_time":0.2331911559999753}}},"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":"audio"},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":"Valeu, Diego! Você já tem uma reserva com a gente ou está buscando informações sobre as nossas aulas?","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":26,"conversation_turn_metrics":{"metrics":{"convai_llm_service_ttf_sentence":{"elapsed_time":1.4796055360002356},"convai_llm_service_ttfb":{"elapsed_time":1.4335565470000802},"convai_llm_service_tt_last_sentence":{"elapsed_time":1.7653799240001717},"convai_tts_service_ttfb":{"elapsed_time":0.11691541400023198}}},"rag_retrieval_info":null,"llm_usage":{"model_usage":{"gpt-4.1-mini":{"input":{"tokens":"[REDACTED]","price":0.0035628},"input_cache_read":{"tokens":"[REDACTED]","price":0},"input_cache_write":{"tokens":"[REDACTED]","price":0},"output_total":{"tokens":"[REDACTED]","price":0.00003680000000000001}}}},"interrupted":false,"original_message":null,"source_medium":null},{"role":"user","agent_metadata":null,"message":"Tenho sim. O código dela é 64199.","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":33,"conversation_turn_metrics":{"metrics":{"convai_asr_trailing_service_latency":{"elapsed_time":0.2823962689999462}}},"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":"audio"},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":null,"multivoice_message":null,"tool_calls":[{"type":"webhook","request_id":"call_mDF5vxRE45CjE7UCAeUs4m11","tool_name":"search_purchase_id","params_as_json":"{\"purchase_id\":\"64199\"}","tool_has_been_called":true,"tool_details":{"type":"webhook","method":"POST","url":"https://ai.superbot.digital/webhook/pacificsurf-search-purchase","headers":{},"path_params":{},"query_params":{},"body":"{\"purchase_id\": \"64199\"}"}}],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":40,"conversation_turn_metrics":{"metrics":{"convai_llm_service_ttfb":{"elapsed_time":0.9667384140002468},"convai_llm_tool_request_generation_latency":{"elapsed_time":0.9688958659999116}}},"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":null},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":null,"multivoice_message":null,"tool_calls":[],"tool_results":[{"request_id":"call_mDF5vxRE45CjE7UCAeUs4m11","tool_name":"search_purchase_id","result_value":"[{\"status\":200,\"total\":4,\"eligible_count\":4,\"data\":[{\"purchase_code\":\"64199\",\"reservation_code\":\"97474\",\"reservation_date\":\"2027-04-01 09:00:00\",\"friendly_date\":\"Thursday, April 1, 2027\",\"friendly_time\":\"9:00 AM\",\"customer\":\"TEST SUPERBOT\",\"customer_email\":\"test.superbot@test.com\",\"customer_phone\":\"(555) 000-0001\",\"school_name\":\"Pacific Beach / Mission beach \",\"checkins\":\"0\",\"noshows\":\"0\",\"attendees\":\"TEST SUPERBOT\",\"lesson_type_name\":\"Private - 4 Lessons (Buy 3 get one FREE)\",\"status\":\"upcoming\",\"is_past\":false,\"is_used\":false,\"is_eligible\":true},{\"purchase_code\":\"64199\",\"reservation_code\":\"97475\",\"reservation_date\":\"2027-03-22 10:45:00\",\"friendly_date\":\"Monday, March 22, 2027\",\"friendly_time\":\"10:45 AM\",\"customer\":\"TEST SUPERBOT\",\"customer_email\":\"test.superbot@test.com\",\"customer_phone\":\"(555) 000-0001\",\"school_name\":\"Pacific Beach / Mission beach \",\"checkins\":\"0\",\"noshows\":\"0\",\"attendees\":\"TEST SUPERBOT\",\"lesson_type_name\":\"Private - 4 Lessons (Buy 3 get one FREE)\",\"status\":\"upcoming\",\"is_past\":false,\"is_used\":false,\"is_eligible\":true},{\"purchase_code\":\"64199\",\"reservation_code\":\"97476\",\"reservation_date\":\"2027-04-05 13:00:00\",\"friendly_date\":\"Monday, April 5, 2027\",\"friendly_time\":\"1:00 PM\",\"customer\":\"TEST SUPERBOT\",\"customer_email\":\"test.superbot@test.com\",\"customer_phone\":\"(555) 000-0001\",\"school_name\":\"Pacific Beach / Mission beach \",\"checkins\":\"0\",\"noshows\":\"0\",\"attendees\":\"TEST SUPERBOT\",\"lesson_type_name\":\"Private - 4 Lessons (Buy 3 get one FREE)\",\"status\":\"upcoming\",\"is_past\":false,\"is_used\":false,\"is_eligible\":true},{\"purchase_code\":\"64199\",\"reservation_code\":\"97477\",\"reservation_date\":\"2027-04-19 14:45:00\",\"friendly_date\":\"Monday, April 19, 2027\",\"friendly_time\":\"2:45 PM\",\"customer\":\"TEST SUPERBOT\",\"customer_email\":\"test.superbot@test.com\",\"customer_phone\":\"(555) 000-0001\",\"school_name\":\"Pacific Beach / Mission beach \",\"checkins\":\"0\",\"noshows\":\"0\",\"attendees\":\"TEST SUPERBOT\",\"lesson_type_name\":\"Private - 4 Lessons (Buy 3 get one FREE)\",\"status\":\"upcoming\",\"is_past\":false,\"is_used\":false,\"is_eligible\":true}],\"eligible_reservations\":[{\"purchase_code\":\"64199\",\"reservation_code\":\"97474\",\"reservation_date\":\"2027-04-01 09:00:00\",\"friendly_date\":\"Thursday, April 1, 2027\",\"friendly_time\":\"9:00 AM\",\"customer\":\"TEST SUPERBOT\",\"customer_email\":\"test.superbot@test.com\",\"customer_phone\":\"(555) 000-0001\",\"school_name\":\"Pacific Beach / Mission beach \",\"checkins\":\"0\",\"noshows\":\"0\",\"attendees\":\"TEST SUPERBOT\",\"lesson_type_name\":\"Private - 4 Lessons (Buy 3 get one FREE)\",\"status\":\"upcoming\",\"is_past\":false,\"is_used\":false,\"is_eligible\":true},{\"purchase_code\":\"64199\",\"reservation_code\":\"97475\",\"reservation_date\":\"2027-03-22 10:45:00\",\"friendly_date\":\"Monday, March 22, 2027\",\"friendly_time\":\"10:45 AM\",\"customer\":\"TEST SUPERBOT\",\"customer_email\":\"test.superbot@test.com\",\"customer_phone\":\"(555) 000-0001\",\"school_name\":\"Pacific Beach / Mission beach \",\"checkins\":\"0\",\"noshows\":\"0\",\"attendees\":\"TEST SUPERBOT\",\"lesson_type_name\":\"Private - 4 Lessons (Buy 3 get one FREE)\",\"status\":\"upcoming\",\"is_past\":false,\"is_used\":false,\"is_eligible\":true},{\"purchase_code\":\"64199\",\"reservation_code\":\"97476\",\"reservation_date\":\"2027-04-05 13:00:00\",\"friendly_date\":\"Monday, April 5, 2027\",\"friendly_time\":\"1:00 PM\",\"customer\":\"TEST SUPERBOT\",\"customer_email\":\"test.superbot@test.com\",\"customer_phone\":\"(555) 000-0001\",\"school_name\":\"Pacific Beach / Mission beach \",\"checkins\":\"0\",\"noshows\":\"0\",\"attendees\":\"TEST SUPERBOT\",\"lesson_type_name\":\"Private - 4 Lessons (Buy 3 get one FREE)\",\"status\":\"upcoming\",\"is_past\":false,\"is_used\":false,\"is_eligible\":true},{\"purchase_code\":\"64199\",\"reservation_code\":\"97477\",\"reservation_date\":\"2027-04-19 14:45:00\",\"friendly_date\":\"Monday, April 19, 2027\",\"friendly_time\":\"2:45 PM\",\"customer\":\"TEST SUPERBOT\",\"customer_email\":\"test.superbot@test.com\",\"customer_phone\":\"(555) 000-0001\",\"school_name\":\"Pacific Beach / Mission beach \",\"checkins\":\"0\",\"noshows\":\"0\",\"attendees\":\"TEST SUPERBOT\",\"lesson_type_name\":\"Private - 4 Lessons (Buy 3 get one FREE)\",\"status\":\"upcoming\",\"is_past\":false,\"is_used\":false,\"is_eligible\":true}],\"completed_reservations\":[]}]","is_error":false,"tool_has_been_called":true,"tool_latency_secs":2.1477158200000304,"dynamic_variable_updates":[],"type":"webhook"}],"feedback":null,"llm_override":null,"time_in_call_secs":42,"conversation_turn_metrics":null,"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":null},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":"Diego, eu encontrei quatro aulas futuras na sua compra com o código 64199. Aqui estão elas: Número um é na quinta-feira, primeiro de abril de dois mil e vinte e sete, às nove da manhã para uma aula privada. Número dois é na segunda-feira, vinte e dois de março de dois mil e vinte e sete, às dez e quarenta e cinco da manhã, também privada. Número três é na segunda-feira, cinco de abril de dois mil e vinte e sete, à uma da tarde, privada. E número quatro é na segunda-feira, dezenove de abril de dois mil e vinte e sete, às duas e quarenta e cinco da tarde, privada. Qual dessas você gostaria de falar? Você pode dizer um, dois, três ou quatro, ou me dizer a data.","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":43,"conversation_turn_metrics":{"metrics":{"convai_llm_service_ttf_sentence":{"elapsed_time":1.2233767779998743},"convai_llm_service_ttfb":{"elapsed_time":0.8775541059999341},"convai_llm_service_tt_last_sentence":{"elapsed_time":3.9853912869998567},"convai_tts_service_ttfb":{"elapsed_time":0.19906843000035224}}},"rag_retrieval_info":null,"llm_usage":{"model_usage":{"gpt-4.1-mini":{"input":{"tokens":"[REDACTED]","price":0.0005736000000000001},"input_cache_read":{"tokens":"[REDACTED]","price":0.0017664},"input_cache_write":{"tokens":"[REDACTED]","price":0},"output_total":{"tokens":"[REDACTED]","price":0.00029120000000000003}}}},"interrupted":false,"original_message":null,"source_medium":null},{"role":"user","agent_metadata":null,"message":"...","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":87,"conversation_turn_metrics":{"metrics":{"convai_asr_trailing_service_latency":{"elapsed_time":0.2823962689999462}}},"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":"audio"},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":"Diego, você pode me dizer qual dessas aulas você quer falar? Pode ser o número ou a...","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":88,"conversation_turn_metrics":{"metrics":{"convai_llm_service_ttf_sentence":{"elapsed_time":0.6692682739999327},"convai_llm_service_ttfb":{"elapsed_time":0.5677104249998592},"convai_llm_service_tt_last_sentence":{"elapsed_time":0.8141882159998204},"convai_tts_service_ttfb":{"elapsed_time":0.20367749300021387}}},"rag_retrieval_info":null,"llm_usage":{"model_usage":{"gpt-4.1-mini":{"input":{"tokens":"[REDACTED]","price":0.0041291999999999995},"input_cache_read":{"tokens":"[REDACTED]","price":0},"input_cache_write":{"tokens":"[REDACTED]","price":0},"output_total":{"tokens":"[REDACTED]","price":0.0000432}}}},"interrupted":true,"original_message":"Diego, você pode me dizer qual dessas aulas você quer falar? Pode ser o número ou a data, como preferir.","source_medium":null},{"role":"user","agent_metadata":null,"message":"Cara, eu quero saber mais detalhes sobre aula número 1","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":92,"conversation_turn_metrics":{"metrics":{"convai_asr_trailing_service_latency":{"elapsed_time":0.28571340799999234}}},"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":"audio"},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":"Beleza, Diego! A aula número um é uma aula privada, marcada para quinta-feira, primeiro de abril de dois mil e vinte e sete, às nove da manhã, no Pacific Beach, em frente ao Wayfarer Beach Hotel, no nosso ponto de encontro com as tendas azuis na areia. O aluno inscrito é você mesmo, e a aula ainda não foi usada nem houve check-in. Posso ajudar com mais alguma coisa?","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":100,"conversation_turn_metrics":{"metrics":{"convai_llm_service_ttf_sentence":{"elapsed_time":0.6916797760000009},"convai_llm_service_ttfb":{"elapsed_time":0.6473786619999373},"convai_llm_service_tt_last_sentence":{"elapsed_time":1.9161165079999591},"convai_tts_service_ttfb":{"elapsed_time":0.13208351699995546}}},"rag_retrieval_info":null,"llm_usage":{"model_usage":{"gpt-4.1-mini":{"input":{"tokens":"[REDACTED]","price":0.0041456},"input_cache_read":{"tokens":"[REDACTED]","price":0},"input_cache_write":{"tokens":"[REDACTED]","price":0},"output_total":{"tokens":"[REDACTED]","price":0.00014720000000000003}}}},"interrupted":false,"original_message":null,"source_medium":null},{"role":"user","agent_metadata":null,"message":"Sim, eu quero reagendar ela para dia 15 de março do ano que vem também.","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":123,"conversation_turn_metrics":{"metrics":{"convai_asr_trailing_service_latency":{"elapsed_time":0.24772843000027933}}},"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":"audio"},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":"Claro, Diego! Para reagendar sua aula para o dia quinze de março de dois mil e vinte e sete, vou te oferecer os horários disponíveis um por um. Que tal às nove da manhã? Isso funciona para você?","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":131,"conversation_turn_metrics":{"metrics":{"convai_llm_service_ttf_sentence":{"elapsed_time":0.917774577000273},"convai_llm_service_ttfb":{"elapsed_time":0.8985595330000251},"convai_llm_service_tt_last_sentence":{"elapsed_time":1.457160432999899},"convai_tts_service_ttfb":{"elapsed_time":0.11209044400038692}}},"rag_retrieval_info":null,"llm_usage":{"model_usage":{"gpt-4.1-mini":{"input":{"tokens":"[REDACTED]","price":0.0041928},"input_cache_read":{"tokens":"[REDACTED]","price":0},"input_cache_write":{"tokens":"[REDACTED]","price":0},"output_total":{"tokens":"[REDACTED]","price":0.00007360000000000001}}}},"interrupted":false,"original_message":null,"source_medium":null},{"role":"user","agent_metadata":null,"message":"Pode ser às 9 da manhã.","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":144,"conversation_turn_metrics":{"metrics":{"convai_asr_trailing_service_latency":{"elapsed_time":0.34568677399965964}}},"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":"audio"},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":null,"multivoice_message":null,"tool_calls":[{"type":"webhook","request_id":"call_BfYqhDXoZcBgRH5LDsMesZkk","tool_name":"reschedule_booking","params_as_json":"{\"reservation_id\":97474,\"reservation_date\":\"2027-03-15\",\"reservation_time\":\"09:00:00\"}","tool_has_been_called":true,"tool_details":{"type":"webhook","method":"POST","url":"https://ai.superbot.digital/webhook/pacificsurf-reschedule-booking","headers":{},"path_params":{},"query_params":{},"body":"{\"reservation_id\": 97474, \"reservation_date\": \"2027-03-15\", \"reservation_time\": \"09:00:00\"}"}}],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":147,"conversation_turn_metrics":{"metrics":{"convai_llm_service_ttfb":{"elapsed_time":1.2056968560000314},"convai_llm_tool_request_generation_latency":{"elapsed_time":1.2067816170001606}}},"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":null},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":null,"multivoice_message":null,"tool_calls":[],"tool_results":[{"request_id":"call_BfYqhDXoZcBgRH5LDsMesZkk","tool_name":"reschedule_booking","result_value":"[{\"status\":200,\"reason\":\"Rescheduled to 2027-03-15 at 09:00:00. No fee applied.\"}]","is_error":false,"tool_has_been_called":true,"tool_latency_secs":3.1260085700000673,"dynamic_variable_updates":[],"type":"webhook"}],"feedback":null,"llm_override":null,"time_in_call_secs":150,"conversation_turn_metrics":null,"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":null},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":"Feito! Sua aula foi reagendada para o dia quinze de março de dois mil e vinte e sete, às nove da manhã. Você vai receber um e-mail de confirmação em breve. Posso ajudar com mais alguma coisa?","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":151,"conversation_turn_metrics":{"metrics":{"convai_llm_service_ttf_sentence":{"elapsed_time":0.8831150420000995},"convai_llm_service_ttfb":{"elapsed_time":0.7832601049999539},"convai_llm_service_tt_last_sentence":{"elapsed_time":1.833899938000286},"convai_tts_service_ttfb":{"elapsed_time":0.1104773719998775}}},"rag_retrieval_info":null,"llm_usage":{"model_usage":{"gpt-4.1-mini":{"input":{"tokens":"[REDACTED]","price":0.008464800000000001},"input_cache_read":{"tokens":"[REDACTED]","price":0},"input_cache_write":{"tokens":"[REDACTED]","price":0},"output_total":{"tokens":"[REDACTED]","price":0.0001328}}}},"interrupted":false,"original_message":null,"source_medium":null},{"role":"user","agent_metadata":null,"message":"Não, era isso. Obrigado. Ah, desculpa. Tenta cancelar essa aula agora pra mim, por favor?","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":166,"conversation_turn_metrics":{"metrics":{"convai_asr_trailing_service_latency":{"elapsed_time":0.29160232300000644}}},"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":"audio"},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":"Claro, Diego! Só para lembrar, cancelamentos feitos com mais de quarenta e oito horas de antecedência são totalmente reembolsáveis, mas dentro desse prazo não são reembolsáveis. Você confirma...","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":174,"conversation_turn_metrics":{"metrics":{"convai_llm_service_ttf_sentence":{"elapsed_time":0.8236976600001071},"convai_llm_service_ttfb":{"elapsed_time":0.8092958780002846},"convai_llm_service_tt_last_sentence":{"elapsed_time":1.875834593000036},"convai_tts_service_ttfb":{"elapsed_time":0.11255432899997686}}},"rag_retrieval_info":null,"llm_usage":{"model_usage":{"gpt-4.1-mini":{"input":{"tokens":"[REDACTED]","price":0.00008080000000000001},"input_cache_read":{"tokens":"[REDACTED]","price":0.0010496000000000001},"input_cache_write":{"tokens":"[REDACTED]","price":0},"output_total":{"tokens":"[REDACTED]","price":0.0001056}}}},"interrupted":true,"original_message":"Claro, Diego! Só para lembrar, cancelamentos feitos com mais de quarenta e oito horas de antecedência são totalmente reembolsáveis, mas dentro desse prazo não são reembolsáveis. Você confirma que quer cancelar a aula do dia quinze de março às nove da manhã? Posso seguir com o cancelamento?","source_medium":null},{"role":"user","agent_metadata":null,"message":"Beleza, eu quero cancelar.","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":184,"conversation_turn_metrics":{"metrics":{"convai_asr_trailing_service_latency":{"elapsed_time":0.24295905600001788}}},"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":"audio"},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":null,"multivoice_message":null,"tool_calls":[{"type":"webhook","request_id":"call_QFpPbjmroTIngRMQ3KWhqgya","tool_name":"cancel_booking","params_as_json":"{\"reservation_id\":97474}","tool_has_been_called":true,"tool_details":{"type":"webhook","method":"POST","url":"https://ai.superbot.digital/webhook/pacificsurf-cancel-booking","headers":{},"path_params":{},"query_params":{},"body":"{\"reservation_id\": 97474}"}}],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":188,"conversation_turn_metrics":{"metrics":{"convai_llm_service_ttfb":{"elapsed_time":1.3474593549999554},"convai_llm_tool_request_generation_latency":{"elapsed_time":1.3486978819996693}}},"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":null},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":null,"multivoice_message":null,"tool_calls":[],"tool_results":[{"request_id":"call_QFpPbjmroTIngRMQ3KWhqgya","tool_name":"cancel_booking","result_value":"Error code: 500. Details: HTTP 500 Internal Server Error","is_error":true,"tool_has_been_called":true,"tool_latency_secs":2.755331196000043,"dynamic_variable_updates":[],"type":"webhook"}],"feedback":null,"llm_override":null,"time_in_call_secs":191,"conversation_turn_metrics":null,"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":null},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":"Diego, estou tendo um problema técnico para cancelar sua aula no momento. Posso transferir você para um atendente humano para resolver isso, ou prefere que eu anote seu contato para que nossa equipe entre em contato?","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":192,"conversation_turn_metrics":{"metrics":{"convai_llm_service_ttf_sentence":{"elapsed_time":1.0719105799998943},"convai_llm_service_ttfb":{"elapsed_time":0.696423422999942},"convai_llm_service_tt_last_sentence":{"elapsed_time":1.7329650419997051},"convai_tts_service_ttfb":{"elapsed_time":0.23373348999984955}}},"rag_retrieval_info":null,"llm_usage":{"model_usage":{"gpt-4.1-mini":{"input":{"tokens":"[REDACTED]","price":0.0086208},"input_cache_read":{"tokens":"[REDACTED]","price":0},"input_cache_write":{"tokens":"[REDACTED]","price":0},"output_total":{"tokens":"[REDACTED]","price":0.00009920000000000001}}}},"interrupted":false,"original_message":null,"source_medium":null},{"role":"user","agent_metadata":null,"message":"Obrigado, era só isso.","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":205,"conversation_turn_metrics":{"metrics":{"convai_asr_trailing_service_latency":{"elapsed_time":0.25865387800013195}}},"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":"audio"},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":"Thanks for calling Pacific Surf School — see you at the beach!","multivoice_message":null,"tool_calls":[],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":210,"conversation_turn_metrics":{"metrics":{"convai_llm_service_ttfb":{"elapsed_time":1.5520313189999797},"convai_llm_tool_request_generation_latency":{"elapsed_time":1.5582119880000391},"convai_tts_service_ttfb":{"elapsed_time":0.36825558100008493}}},"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":null},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":null,"multivoice_message":null,"tool_calls":[{"type":"system","request_id":"call_mgzTqe2fmPw4VwcNLFRr81rt","tool_name":"end_call","params_as_json":"{\"reason\":\"Call ended by user\",\"system__message_to_speak\":\"Thanks for calling Pacific Surf School — see you at the beach!\"}","tool_has_been_called":true,"tool_details":null}],"tool_results":[],"feedback":null,"llm_override":null,"time_in_call_secs":210,"conversation_turn_metrics":{"metrics":{"convai_llm_service_ttfb":{"elapsed_time":1.5520313189999797},"convai_llm_tool_request_generation_latency":{"elapsed_time":1.5582119880000391},"convai_tts_service_ttfb":{"elapsed_time":0.36825558100008493}}},"rag_retrieval_info":null,"llm_usage":null,"interrupted":false,"original_message":null,"source_medium":null},{"role":"agent","agent_metadata":{"agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","branch_id":null,"workflow_node_id":null},"message":null,"multivoice_message":null,"tool_calls":[],"tool_results":[{"request_id":"call_mgzTqe2fmPw4VwcNLFRr81rt","tool_name":"end_call","result_value":"{\"result_type\":\"end_call_success\",\"status\":\"success\",\"reason\":\"Call ended by user\",\"message\":null}","is_error":false,"tool_has_been_called":true,"tool_latency_secs":0.5008438079998996,"dynamic_variable_updates":[],"type":"system","result":{"result_type":"end_call_success","status":"success","reason":"Call ended by user","message":null}}],"feedback":null,"llm_override":null,"time_in_call_secs":214,"conversation_turn_metrics":null,"rag_retrieval_info":null,"llm_usage":{"model_usage":{"gpt-4.1-mini":{"input":{"tokens":"[REDACTED]","price":0.0043416},"input_cache_read":{"tokens":"[REDACTED]","price":0},"input_cache_write":{"tokens":"[REDACTED]","price":0},"output_total":{"tokens":"[REDACTED]","price":0.00006080000000000001}}}},"interrupted":false,"original_message":null,"source_medium":null}],"metadata":{"start_time_unix_secs":1767986639,"accepted_time_unix_secs":1767986645,"call_duration_secs":221,"cost":1945,"deletion_settings":{"deletion_time_unix_secs":null,"deleted_logs_at_time_unix_secs":null,"deleted_audio_at_time_unix_secs":null,"deleted_transcript_at_time_unix_secs":null,"delete_transcript_and_pii":false,"delete_audio":false},"feedback":{"type":null,"overall_score":null,"likes":0,"dislikes":0,"rating":null,"comment":null},"authorization_method":"public","charging":{"dev_discount":false,"is_burst":false,"tier":"pro","llm_usage":{"irreversible_generation":{"model_usage":{"gpt-4.1-mini":{"input":{"tokens":"[REDACTED]","price":0.0381396},"input_cache_read":{"tokens":"[REDACTED]","price":0.0045824},"input_cache_write":{"tokens":"[REDACTED]","price":0},"output_total":{"tokens":"[REDACTED]","price":0.0010400000000000001}}}},"initiated_generation":{"model_usage":{"gpt-4.1-mini":{"input":{"tokens":"[REDACTED]","price":0.04836680000000001},"input_cache_read":{"tokens":"[REDACTED]","price":0.0045824},"input_cache_write":{"tokens":"[REDACTED]","price":0},"output_total":{"tokens":"[REDACTED]","price":0.0011792}}}}},"llm_price":0.05412840000000001,"llm_charge":273,"call_charge":1672,"free_minutes_consumed":0,"free_llm_dollars_consumed":0},"phone_call":null,"batch_call":null,"termination_reason":"end_call tool was called.","error":null,"warnings":[],"main_language":"pt-br","rag_usage":null,"text_only":false,"features_usage":{"language_detection":{"enabled":true,"used":false},"transfer_to_agent":{"enabled":false,"used":false},"transfer_to_number":{"enabled":true,"used":false},"multivoice":{"enabled":false,"used":false},"dtmf_tones":{"enabled":true,"used":false},"external_mcp_servers":{"enabled":false,"used":false},"pii_zrm_workspace":false,"pii_zrm_agent":false,"tool_dynamic_variable_updates":{"enabled":false,"used":false},"is_livekit":true,"voicemail_detection":{"enabled":false,"used":false},"workflow":{"enabled":false,"tool_node":{"enabled":false,"used":false},"standalone_agent_node":{"enabled":false,"used":false},"phone_number_node":{"enabled":false,"used":false},"end_node":{"enabled":false,"used":false}},"agent_testing":{"enabled":false,"tests_ran_after_last_modification":false,"tests_ran_in_last_7_days":false},"versioning":{"enabled":false,"used":false}},"eleven_assistant":{"is_eleven_assistant":false},"initiator_id":null,"conversation_initiation_source":"react_sdk","conversation_initiation_source_version":"0.5.0","timezone":"America/Los_Angeles","initiation_trigger":{"trigger_type":"default"},"async_metadata":null,"whatsapp":null,"agent_created_from":"unknown","agent_last_updated_from":"ui"},"analysis":{"evaluation_criteria_results":{},"data_collection_results":{"phone_number":{"data_collection_id":"phone_number","value":"(555) 000-0001","json_schema":{"type":"string","description":"Phone number provided by the client.","enum":null,"is_system_provided":false,"dynamic_variable":"","constant_value":""},"rationale":"The phone number is available in the tool result of 'search_purchase_id' with call ID 'call_mDF5vxRE45CjE7UCAeUs4m11'. The value is '(555) 000-0001'."},"email":{"data_collection_id":"email","value":"test.superbot@test.com","json_schema":{"type":"string","description":"The customer’s email address should be in standard email format (e.g., [example@email.com](mailto:example@email.com)) and must not include special characters such as accents.","enum":null,"is_system_provided":false,"dynamic_variable":"","constant_value":""},"rationale":"The tool result from the `search_purchase_id` tool call contains the customer's email address: `test.superbot@test.com`. This email address is in standard email format and does not include special characters such as accents."},"reservation_id":{"data_collection_id":"reservation_id","value":97474,"json_schema":{"type":"integer","description":"It will be collected through the return of the tools: search_booking_phone or search_purchase_id","enum":null,"is_system_provided":false,"dynamic_variable":"","constant_value":""},"rationale":"O 'purchase_id' 64199 foi usado na ferramenta 'search_purchase_id'. O 'reservation_id' 97474 foi usado nas ferramentas 'reschedule_booking' e 'cancel_booking'."},"purchase_id":{"data_collection_id":"purchase_id","value":null,"json_schema":{"type":"integer","description":"## Data Collection — purchase_id (7-digit Purchase Code)\n\n• Capture the code exactly as provided, then normalize:\n  – If the code starts with a letter “P” (or “p”) before the digits (e.g., “P1234567”, “#P-123-4567”), **ignore the letter and any non-digits** and keep **only the 7 numeric digits** as the purchase_id.\n  – Otherwise, require **exactly 7 digits**.\n\n• NEVER overwrite this value with numbers coming from tools or system text.\n\n• If, after normalization, you don’t have exactly 7 digits, ask the visitor to repeat it slowly, one digit at a time, until you capture 7 digits.\n\n• Once captured and confirmed, **LOCK** the value. Do not modify it unless the visitor says it’s wrong or provides a new code.\n","enum":null,"is_system_provided":false,"dynamic_variable":"","constant_value":""},"rationale":"O usuário informa o código da compra como '64199'. Este código tem menos de 7 dígitos, mas é usado pela ferramenta `search_purchase_id` e confirmado pelo agente. No entanto, de acordo com as instruções, o valor fornecido pelo usuário deve ter exatamente 7 dígitos. Como o código fornecido tem menos de 7 dígitos, o valor não pode ser extraído."},"name":{"data_collection_id":"name","value":"Diego","json_schema":{"type":"string","description":"The customer’s name on the other end of the line.","enum":null,"is_system_provided":false,"dynamic_variable":"","constant_value":""},"rationale":"The customer's name is explicitly stated as 'Diego' by the user at 2026-01-09T11:24:23-08:00."}},"call_successful":"success","transcript_summary":"Diego contacted Pacific Surf School to inquire about his surf lessons. He provided his purchase ID, and the agent found four upcoming lessons. Diego requested details about the first lesson and then asked to reschedule it for March 15th at 9 AM, which was successfully done. He then requested to cancel the rescheduled lesson, but the agent encountered a technical issue and offered to transfer him to a human agent or have the team contact him. Diego declined and ended the call.\n","call_summary_title":"Reschedule, Cancel Surf Lesson"},"conversation_initiation_client_data":{"conversation_config_override":{"turn":null,"tts":{"voice_id":null,"stability":null,"speed":null,"similarity_boost":null},"conversation":{"text_only":null},"agent":{"first_message":null,"language":"pt-br","prompt":null}},"custom_llm_extra_body":{},"user_id":"rIal6dHgCxf7KnSM1NYvgYcQdD93","source_info":{"source":"react_sdk","version":"0.5.0"},"dynamic_variables":{"system__agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","system__agent_turns":12,"system__current_agent_turns":12,"system__current_subagent_turns":12,"system__current_agent_id":"agent_7301k1ccpdvjevmb008rkgrkv21j","system__conversation_id":"conv_2401kej3e9y5fpj8nck2b8d684zx","system__call_duration_secs":220,"system__time_utc":"2026-01-09T19:27:40.456164+00:00","system__time":"Friday, 11:27 09 January 2026","system__timezone":"America/Los_Angeles","system__caller_id":null,"system__called_number":null,"system__call_sid":null}}}},"webhookUrl":"https://ai.superbot.digital/webhook/bc26c6f0-d7d0-4734-a9ff-463b76867a9b","executionMode":"production"}}]},"versionId":"959735ae-110f-4a41-84a0-2f11d2abc505","activeVersionId":"959735ae-110f-4a41-84a0-2f11d2abc505","triggerCount":1,"shared":[{"updatedAt":"2025-11-17T18:18:39.514Z","createdAt":"2025-11-17T18:18:39.514Z","role":"workflow:owner","workflowId":"QPHIP3DFx7EQ9YQN","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-09T19:55:58.396Z","createdAt":"2026-01-09T19:55:58.396Z","versionId":"959735ae-110f-4a41-84a0-2f11d2abc505","workflowId":"QPHIP3DFx7EQ9YQN","nodes":[{"parameters":{"jsCode":"// WHATSAPP TEXT VERSION - Simplified per client request\n// Only: Date/Time (highlighted), Name, Phone, Email, Summary\nconst extractDataNode = $('Extrair Dados1').first().json;\nconst htmlNode = $('Gerar HTML1').first().json;\n\nfunction formatDateLarge(unixTimestamp) {\n    const date = new Date(unixTimestamp * 1000);\n    return date.toLocaleString('en-US', {\n        timeZone: 'America/Los_Angeles',\n        weekday: 'long',\n        month: 'long',\n        day: 'numeric',\n        year: 'numeric'\n    });\n}\n\nfunction formatTime(unixTimestamp) {\n    const date = new Date(unixTimestamp * 1000);\n    return date.toLocaleString('en-US', {\n        timeZone: 'America/Los_Angeles',\n        hour: 'numeric',\n        minute: '2-digit',\n        hour12: true\n    });\n}\n\nfunction translateValue(value) {\n    if (typeof value !== 'string') return value;\n    const translations = {\n        'não fornecido': 'Not provided',\n        'nao fornecido': 'Not provided'\n    };\n    const lowerValue = value.toLowerCase().trim();\n    return translations[lowerValue] || value;\n}\n\n// Build simplified WhatsApp message with DATE/TIME highlighted at top\nconst message = `📅 *${formatDateLarge(extractDataNode.start_time)}*\n🕐 *${formatTime(extractDataNode.start_time)} (PT)*\n\n━━━━━━━━━━━━━━━━━━━━\n\n*Name:* ${translateValue(extractDataNode.name)}\n*Phone:* ${translateValue(extractDataNode.phone_number)}\n*Email:* ${translateValue(extractDataNode.email)}\n\n━━━━━━━━━━━━━━━━━━━━\n\n📝 *SUMMARY*\n━━━━━━━━━━━━━━━━━━━━\n\n${extractDataNode.summary}`.trim();\n\nreturn {\n    json: {\n        text: message,\n        phone_number: translateValue(extractDataNode.phone_number),\n        customer_name: translateValue(extractDataNode.name),\n        conversation_id: extractDataNode.conversation_id\n    }\n};"},"id":"d4f4ccfd-87c0-43ac-8d4f-c71cc77726e2","name":"Gerar Texto WhatsApp","type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,-48]},{"parameters":{"method":"POST","url":"=https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=number","value":"+16197422267"},{"name":"text","value":"={{ $json.text }}"}]},"options":{}},"id":"33290396-abec-40b5-b24f-e822f9298b09","name":"Enviar WhatsApp Evolution","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,-64],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://aplicativos-evolution-api.gtzkxz.easypanel.host/message/sendText/Superbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"CDB0312919CB-4C38-AE84-9B4C393FF61A"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=number","value":"+18583665405"},{"name":"text","value":"={{ $json.text }}"}]},"options":{}},"id":"42f71c81-3da6-42e5-93bb-4b200d9b2c0c","name":"Enviar WhatsApp Esposa Emi","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,144],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"bc26c6f0-d7d0-4734-a9ff-463b76867a9b","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2016,-368],"id":"c57848bf-ed99-4d3f-9968-8a1b6a06d6e4","name":"Webhook1","webhookId":"bc26c6f0-d7d0-4734-a9ff-463b76867a9b"},{"parameters":{"assignments":{"assignments":[{"id":"conversation_id","name":"conversation_id","value":"={{ $json.body.data.conversation_id }}","type":"string"},{"id":"name","name":"name","value":"={{ $json.body.data.analysis.data_collection_results.name.value || 'Não fornecido' }}","type":"string"},{"id":"phone_number","name":"phone_number","value":"={{ \n  $json.body.data.metadata.phone_call ? \n  $json.body.data.metadata.phone_call.external_number : \n  ($json.body.data.analysis.data_collection_results.phone_number?.value || 'Não fornecido') \n}}","type":"string"},{"id":"email","name":"email","value":"={{ $json.body.data.analysis.data_collection_results.email.value || 'Não fornecido' }}","type":"string"},{"id":"call_duration","name":"call_duration","value":"={{ $json.body.data.metadata.call_duration_secs }}","type":"number"},{"id":"cost","name":"cost","value":"=","type":"number"},{"id":"start_time","name":"start_time","value":"={{ $json.body.data.metadata.start_time_unix_secs }}","type":"number"},{"id":"phone_call","name":"phone_call","value":"={{ $json.body.data.metadata.phone_call }}","type":"object"},{"id":"summary","name":"summary","value":"={{ $json.body.data.analysis.transcript_summary }}","type":"string"},{"id":"title","name":"title","value":"={{ $json.body.data.analysis.call_summary_title }}","type":"string"},{"id":"call_successful","name":"call_successful","value":"={{ $json.body.data.analysis.call_successful }}","type":"string"},{"id":"transcript","name":"transcript","value":"={{ $json.body.data.transcript }}","type":"array"},{"id":"data_collection","name":"data_collection","value":"={{ $json.body.data.analysis.data_collection_results }}","type":"object"},{"id":"termination_reason","name":"termination_reason","value":"={{ $json.body.data.metadata.termination_reason }}","type":"string"}]},"options":{}},"id":"c4666fe7-06d8-4aaf-9027-e0d9a949fd8b","name":"Extrair Dados1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1792,-368]},{"parameters":{"jsCode":"// NEW COMPACT EMAIL DESIGN - Mobile-First\n// Code for the n8n \"Generate HTML\" node - Updated Version (Compact Design)\n// This removes the large banner and shows critical info at the top\n\n// 1. GET DATA FROM PREVIOUS NODES\nconst extractDataNode = $('Extrair Dados1').first().json;\nconst audioUploadNode = $('Upload Áudio para Microserviço').first().json;\nconst webStatsData = $('Buscar Estatísticas do Mês web1').first().json;\nconst phoneStatsData = $input.first().json;\nconst audioUploadResponse = audioUploadNode;\n\n// Helper formatting functions\nfunction formatDuration(seconds) {\n    const mins = Math.floor(seconds / 60);\n    const secs = seconds % 60;\n    return `${mins}:${secs.toString().padStart(2, '0')}`;\n}\n\nfunction formatDate(unixTimestamp) {\n    const date = new Date(unixTimestamp * 1000);\n    return date.toLocaleString('en-US', {\n        timeZone: 'America/Los_Angeles',\n        month: 'short',\n        day: 'numeric',\n        year: 'numeric',\n        hour: 'numeric',\n        minute: '2-digit',\n        hour12: true\n    });\n}\n\nfunction formatDateShort(unixTimestamp) {\n    const date = new Date(unixTimestamp * 1000);\n    return date.toLocaleString('en-US', {\n        timeZone: 'America/Los_Angeles',\n        month: 'short',\n        day: 'numeric',\n        year: 'numeric'\n    });\n}\n\nfunction formatTime(unixTimestamp) {\n    const date = new Date(unixTimestamp * 1000);\n    return date.toLocaleString('en-US', {\n        timeZone: 'America/Los_Angeles',\n        hour: 'numeric',\n        minute: '2-digit',\n        hour12: true\n    });\n}\n\nfunction formatMinutes(seconds) {\n    const mins = Math.floor(seconds / 60);\n    return `${mins} min`;\n}\n\nfunction translateValue(value) {\n    if (typeof value !== 'string') return value;\n    const translations = {\n        'não fornecido': 'Not provided',\n        'nao fornecido': 'Not provided',\n        'não coletado': 'Not collected',\n        'nao coletado': 'Not collected',\n        'não definido': 'Undefined',\n        'nao definido': 'Undefined',\n        'indefinido': 'Undefined',\n        'desconhecido': 'Unknown'\n    };\n    const lowerValue = value.toLowerCase().trim();\n    return translations[lowerValue] || value;\n}\n\n// Format phone number for tel: link\nfunction formatPhoneForCall(phone) {\n    if (!phone || phone === 'Not provided' || phone === 'Não fornecido') return null;\n    // Remove non-numeric characters for the tel link\n    return phone.replace(/[^0-9+]/g, '');\n}\n\n// Process transcript\nconst transcript = extractDataNode.transcript || [];\nlet transcriptHTML = '';\n\ntranscript.forEach((turn) => {\n    const role = turn.role === 'agent' ? '🤖 Agent' : '👤 Customer';\n    const time = formatDuration(turn.time_in_call_secs || 0);\n    const message = turn.message || '(no message)';\n    const bgColor = turn.role === 'agent' ? '#EFF6FF' : '#F0FDF4';\n    const borderColor = turn.role === 'agent' ? '#2563EB' : '#16A34A';\n\n    transcriptHTML += `\n    <div style=\"margin-bottom: 10px; padding: 10px; background: ${bgColor}; border-left: 3px solid ${borderColor}; border-radius: 4px;\">\n      <div style=\"font-weight: 600; color: #1F2937; font-size: 12px;\">\n        ${role} <span style=\"color: #6B7280; font-weight: 400;\">(${time})</span>\n      </div>\n      <div style=\"color: #374151; font-size: 13px; margin-top: 4px;\">${message}</div>\n    </div>\n  `;\n});\n\n// Process collected data\nconst dataCollection = extractDataNode.data_collection || {};\nlet dataCollectionHTML = '';\n\nObject.keys(dataCollection).forEach(key => {\n    const item = dataCollection[key];\n    const hasValue = item.value !== null && item.value !== undefined;\n    const icon = hasValue ? '✅' : '❌';\n    const value = hasValue ? translateValue(item.value) : 'Not provided';\n\n    dataCollectionHTML += `\n    <div style=\"background: #F9FAFB; padding: 10px; border-radius: 6px; margin-bottom: 8px;\">\n      <div style=\"color: #6B7280; font-size: 11px; text-transform: uppercase;\">${icon} ${key.replace(/_/g, ' ')}</div>\n      <div style=\"color: #1F2937; font-weight: 500; font-size: 13px;\">${value}</div>\n    </div>\n  `;\n});\n\n// Monthly Statistics Logic\nconst now = new Date();\nconst pacificDateString = now.toLocaleString('en-US', {\n    timeZone: 'America/Los_Angeles',\n    year: 'numeric',\n    month: 'numeric',\n    day: 'numeric',\n    hour: 'numeric',\n    minute: 'numeric'\n});\nconst pacificDate = new Date(pacificDateString);\n\nconst currentMonth = pacificDate.getMonth();\nconst currentYear = pacificDate.getFullYear();\n\nconst monthName = now.toLocaleString('en-US', {\n    timeZone: 'America/Los_Angeles',\n    month: 'long',\n    year: 'numeric'\n});\n\nconst rawWebConversations = (webStatsData && webStatsData.conversations) ? webStatsData.conversations : [];\nconst rawPhoneConversations = (phoneStatsData && phoneStatsData.conversations) ? phoneStatsData.conversations : [];\n\nfunction filterCurrentMonth(conversations) {\n    return conversations.filter(conv => {\n        if (!conv.start_time_unix_secs) return false;\n        const convDate = new Date(conv.start_time_unix_secs * 1000);\n        const convPacificString = convDate.toLocaleString('en-US', {\n            timeZone: 'America/Los_Angeles',\n            year: 'numeric',\n            month: 'numeric',\n            day: 'numeric',\n            hour: 'numeric',\n            minute: 'numeric'\n        });\n        const convPacificDate = new Date(convPacificString);\n        return convPacificDate.getMonth() === currentMonth && convPacificDate.getFullYear() === currentYear;\n    });\n}\n\nconst monthlyWeb = filterCurrentMonth(rawWebConversations);\nconst monthlyPhone = filterCurrentMonth(rawPhoneConversations);\n\nconst widgetCallsCount = monthlyWeb.length;\nconst phoneCallsCount = monthlyPhone.length;\nconst totalCalls = widgetCallsCount + phoneCallsCount;\n\nconst durationWeb = monthlyWeb.reduce((sum, conv) => sum + (conv.call_duration_secs || 0), 0);\nconst durationPhone = monthlyPhone.reduce((sum, conv) => sum + (conv.call_duration_secs || 0), 0);\nconst totalSeconds = durationWeb + durationPhone;\n\nconst totalMinutes = Math.floor(totalSeconds / 60);\nconst avgDuration = totalCalls > 0 ? Math.floor(totalSeconds / totalCalls) : 0;\n\n// Determine origin and status\nconst isPhone = extractDataNode.phone_call !== null;\nconst origin = isPhone ? '📞 Phone' : '💻 Widget';\nconst statusIcon = extractDataNode.call_successful === 'success' ? '✅' : '⚠️';\nconst statusText = extractDataNode.call_successful === 'success' ? 'Success' : 'Issues';\n\n// Audio URL\nconst audioUrl = audioUploadResponse.url || '#';\nconst audioExpires = audioUploadResponse.expires_in_days || 30;\n\n// Phone number for click-to-call\nconst customerPhone = translateValue(extractDataNode.phone_number);\nconst phoneForCall = formatPhoneForCall(customerPhone);\n\n// Generate COMPACT HTML - Mobile-First Design with DATE/TIME HIGHLIGHTED\nconst html = `<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Call - ${translateValue(extractDataNode.name)} - ${formatDateShort(extractDataNode.start_time)}</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; background-color: #F3F4F6;\">\n  <div style=\"max-width: 600px; margin: 0 auto; padding: 12px;\">\n    \n    <!-- DATE AND TIME - SUPER HIGHLIGHTED AT TOP -->\n    <div style=\"background: linear-gradient(135deg, #1E40AF 0%, #3B82F6 100%); border-radius: 12px; padding: 20px; margin-bottom: 12px; text-align: center; box-shadow: 0 4px 12px rgba(30,64,175,0.3);\">\n      <div style=\"font-size: 28px; font-weight: 800; color: white; margin-bottom: 4px;\">📅 ${formatDateShort(extractDataNode.start_time)}</div>\n      <div style=\"font-size: 22px; font-weight: 700; color: #BFDBFE;\">🕐 ${formatTime(extractDataNode.start_time)} (PT)</div>\n    </div>\n    \n    <!-- CUSTOMER INFO -->\n    <div style=\"background: white; border-radius: 12px; padding: 16px; margin-bottom: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.08);\">\n      \n      <!-- CUSTOMER NAME -->\n      <div style=\"margin-bottom: 12px;\">\n        <div style=\"color: #6B7280; font-size: 11px; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 4px;\">Customer</div>\n        <div style=\"font-size: 20px; font-weight: 700; color: #1F2937;\">${translateValue(extractDataNode.name)}</div>\n      </div>\n      \n      <!-- PHONE - CLICKABLE BUTTON -->\n      <div style=\"margin-bottom: 12px;\">\n        <div style=\"color: #6B7280; font-size: 11px; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 4px;\">Phone</div>\n        ${phoneForCall ? \n          `<a href=\"tel:${phoneForCall}\" style=\"display: inline-block; background: #16A34A; color: white; padding: 12px 24px; border-radius: 8px; text-decoration: none; font-size: 18px; font-weight: 700;\">\n            📞 ${customerPhone}\n          </a>` :\n          `<div style=\"color: #9CA3AF; font-size: 16px;\">Not provided</div>`\n        }\n      </div>\n      \n      <!-- EMAIL -->\n      <div style=\"margin-bottom: 12px;\">\n        <div style=\"color: #6B7280; font-size: 11px; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 4px;\">Email</div>\n        <div style=\"font-size: 16px; font-weight: 500; color: #1F2937;\">${translateValue(extractDataNode.email)}</div>\n      </div>\n      \n    </div>\n    \n    <!-- QUICK SUMMARY -->\n    <div style=\"background: #EFF6FF; border-left: 4px solid #2563EB; border-radius: 8px; padding: 14px; margin-bottom: 12px;\">\n      <div style=\"font-weight: 600; color: #1F2937; margin-bottom: 6px; font-size: 14px;\">📝 Summary</div>\n      <div style=\"color: #374151; font-size: 14px; line-height: 1.5;\">${extractDataNode.summary}</div>\n    </div>\n    \n    <!-- MONTHLY STATS - COMPACT -->\n    <div style=\"background: #F9FAFB; border-radius: 12px; padding: 16px; margin-bottom: 12px;\">\n      <div style=\"font-weight: 600; color: #1F2937; margin-bottom: 12px; font-size: 14px;\">📈 ${monthName}</div>\n      <div style=\"display: flex; justify-content: space-around; text-align: center;\">\n        <div>\n          <div style=\"font-size: 22px; font-weight: 700; color: #2563EB;\">${totalCalls}</div>\n          <div style=\"font-size: 11px; color: #6B7280;\">Calls</div>\n        </div>\n        <div style=\"width: 1px; background: #E5E7EB;\"></div>\n        <div>\n          <div style=\"font-size: 22px; font-weight: 700; color: #16A34A;\">${totalMinutes}</div>\n          <div style=\"font-size: 11px; color: #6B7280;\">Minutes</div>\n        </div>\n        <div style=\"width: 1px; background: #E5E7EB;\"></div>\n        <div>\n          <div style=\"font-size: 22px; font-weight: 700; color: #8B5CF6;\">#${totalCalls}</div>\n          <div style=\"font-size: 11px; color: #6B7280;\">This Call</div>\n        </div>\n      </div>\n      <div style=\"text-align: center; margin-top: 10px; font-size: 11px; color: #6B7280;\">\n        📞 ${phoneCallsCount} phone • 💻 ${widgetCallsCount} widget • ⏱️ Avg: ${formatMinutes(avgDuration)}\n      </div>\n    </div>\n    \n    <!-- AUDIO -->\n    <div style=\"background: white; border-radius: 12px; padding: 16px; margin-bottom: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.08);\">\n      <div style=\"font-weight: 600; color: #1F2937; margin-bottom: 12px; font-size: 14px;\">🎧 Call Audio</div>\n      <audio controls style=\"width: 100%;\">\n        <source src=\"${audioUrl}\" type=\"audio/mpeg\">\n      </audio>\n      <div style=\"text-align: center; margin-top: 12px;\">\n        <a href=\"${audioUrl}\" style=\"display: inline-block; background: #2563EB; color: white; padding: 10px 20px; border-radius: 6px; text-decoration: none; font-size: 14px; font-weight: 600;\">\n          📥 Download\n        </a>\n      </div>\n      <div style=\"text-align: center; margin-top: 8px; font-size: 11px; color: #9CA3AF;\">Available for ${audioExpires} days</div>\n    </div>\n    \n    <!-- COLLECTED DATA - COMPACT -->\n    <div style=\"background: white; border-radius: 12px; padding: 16px; margin-bottom: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.08);\">\n      <div style=\"font-weight: 600; color: #1F2937; margin-bottom: 12px; font-size: 14px;\">📊 Collected Data</div>\n      <div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 8px;\">\n        ${dataCollectionHTML}\n      </div>\n    </div>\n    \n    <!-- TRANSCRIPT -->\n    <div style=\"background: white; border-radius: 12px; padding: 16px; box-shadow: 0 2px 8px rgba(0,0,0,0.08);\">\n      <div style=\"font-weight: 600; color: #1F2937; margin-bottom: 12px; font-size: 14px;\">💬 Transcript</div>\n      ${transcriptHTML}\n    </div>\n    \n    <!-- FOOTER -->\n    <div style=\"text-align: center; padding: 16px; color: #9CA3AF; font-size: 11px;\">\n      Pacific Surf School • ID: ${extractDataNode.conversation_id}\n    </div>\n    \n  </div>\n</body>\n</html>`;\n\nreturn {\n    json: {\n        html: html,\n        conversation_id: extractDataNode.conversation_id,\n        name: translateValue(extractDataNode.name),\n        subject: `${formatTime(extractDataNode.start_time)} - ${translateValue(extractDataNode.name)} - ${customerPhone !== 'Not provided' ? customerPhone : origin}`,\n        audio_url: audioUrl,\n        monthly_stats: {\n            total_calls: totalCalls,\n            total_minutes: totalMinutes,\n            phone_calls: phoneCallsCount,\n            widget_calls: widgetCallsCount\n        }\n    }\n};\n"},"id":"a3b32dc5-c802-4670-b724-0a00e4fb45d2","name":"Gerar HTML1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,-384]},{"parameters":{"fromEmail":"Sunny <noreply@superbot.digital>","toEmail":"sunny@pacificsurf.org","subject":"={{ $json.subject }}","html":"={{ $json.html }}","options":{"appendAttribution":false}},"id":"85b3c308-4052-49af-9392-409ff4f4bb3d","name":"Enviar Email3","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-528,-304],"webhookId":"90e3cadb-ef26-408e-bdcb-995f50040c7a","alwaysOutputData":true,"retryOnFail":true,"credentials":{"smtp":{"id":"ogzJewLaZMn0xj3c","name":"SMTP noreply@superbot.digital"}},"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"Sunny <noreply@superbot.digital>","toEmail":"emilioriccinetto@gmail.com","subject":"={{ $json.subject }}","emailFormat":"=html","html":"={{ $json.html }}","options":{"appendAttribution":false}},"id":"b36ad992-61ed-42dc-a801-82deb6de2932","name":"Enviar Email4","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-448,-656],"webhookId":"90e3cadb-ef26-408e-bdcb-995f50040c7a","alwaysOutputData":true,"retryOnFail":true,"credentials":{"smtp":{"id":"ogzJewLaZMn0xj3c","name":"SMTP noreply@superbot.digital"}},"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"Sunny <noreply@superbot.digital>","toEmail":"diegovilson.1999@gmail.com","subject":"={{ $('Gerar HTML1').first().json.subject }}","html":"={{ $('Gerar HTML1').first().json.html }}","options":{"appendAttribution":false}},"id":"60bd6bcb-f7e4-454b-a096-7d24290ef58a","name":"Enviar Email5","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-464,-496],"webhookId":"90e3cadb-ef26-408e-bdcb-995f50040c7a","alwaysOutputData":true,"retryOnFail":true,"credentials":{"smtp":{"id":"ogzJewLaZMn0xj3c","name":"SMTP noreply@superbot.digital"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.elevenlabs.io/v1/convai/conversations?agent_id=agent_9801k30bf7mge0hbxympamdr1bc0&page_size=100","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"46357c3b-50eb-4093-9810-6ad18febae71","name":"Buscar Estatísticas do Mês web1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1312,-368],"credentials":{"httpHeaderAuth":{"id":"aJncYJxPcd9HqT2c","name":"Header Auth account"}}},{"parameters":{"url":"=https://api.elevenlabs.io/v1/convai/conversations?agent_id=agent_7301k1ccpdvjevmb008rkgrkv21j&page_size=100","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"99885108-b6b6-4ced-a202-8678a70b8c74","name":"Buscar Estatísticas do Mês phone1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1104,-368],"credentials":{"httpHeaderAuth":{"id":"aJncYJxPcd9HqT2c","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"=https://n8n-upload-audio.gtzkxz.easypanel.host/upload/audio","sendBody":true,"bodyParameters":{"parameters":[{"name":"audio_url","value":"=https://api.elevenlabs.io/v1/convai/conversations/{{ $json.conversation_id }}/audio"},{"name":"api_key","value":"[REDACTED]"},{"name":"conversation_id","value":"={{ $json.conversation_id }}"}]},"options":{}},"id":"a96d4c56-a26c-4df5-9f41-215226314453","name":"Upload Áudio para Microserviço","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1520,-368],"retryOnFail":true}],"connections":{"Gerar Texto WhatsApp":{"main":[[{"node":"Enviar WhatsApp Evolution","type":"main","index":0},{"node":"Enviar WhatsApp Esposa Emi","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Extrair Dados1","type":"main","index":0}]]},"Extrair Dados1":{"main":[[{"node":"Upload Áudio para Microserviço","type":"main","index":0}]]},"Gerar HTML1":{"main":[[{"node":"Gerar Texto WhatsApp","type":"main","index":0},{"node":"Enviar Email4","type":"main","index":0},{"node":"Enviar Email5","type":"main","index":0},{"node":"Enviar Email3","type":"main","index":0}]]},"Buscar Estatísticas do Mês web1":{"main":[[{"node":"Buscar Estatísticas do Mês phone1","type":"main","index":0}]]},"Buscar Estatísticas do Mês phone1":{"main":[[{"node":"Gerar HTML1","type":"main","index":0}]]},"Upload Áudio para Microserviço":{"main":[[{"node":"Buscar Estatísticas do Mês web1","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[{"updatedAt":"2026-01-02T15:43:09.908Z","createdAt":"2026-01-02T15:43:09.908Z","id":"pgziJkRB2xHVUzON","name":"surf"}]}