backups/send-payment-to-patient-q5jhb9y9KQc8mGtp.json
{"updatedAt":"2026-01-02T17:22:02.179Z","createdAt":"2025-11-23T22:47:34.546Z","id":"q5jhb9y9KQc8mGtp","name":"Send Payment to Patient","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"send-payment","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-144,112],"id":"bc2ae4bf-1b6e-4fb1-a518-9ffe8ec58f27","webhookId":"f1a2c9b4-78c5-48e4-8e4a-9fd2b26e0c89"},{"parameters":{"jsCode":"// Recebe apenas dados do cliente do body\nconst nome = $json.nome;\nconst email = $json.email;\nconst phone = $json.phone;\n\n// Informações de pagamento ESTÁTICAS (fixas na tool)\nconst payment = {\n  amount: 150.00,\n  description: \"Consulta de Boas-Vindas - Dentaly\",\n  paymentLink: \"https://pay.dentaly.com.br/consulta-boas-vindas\",\n  qrCode: \"https://qr.dentaly.com.br/qr_consulta.png\",\n  copyPaste: \"00020126580014BR.GOV.BCB.[REDACTED]***6304E2CA\"\n};\n\n// Objeto do paciente\nconst patient = {\n  name: nome,\n  email: email,\n  phone: phone\n};\n\nconst emailMessage = `Olá ${patient.name}!\n\nConforme conversamos, segue o link para pagamento da sua Consulta de Boas-Vindas.\n\n💰 Valor: R$ ${payment.amount.toFixed(2)}\n📋 Descrição: ${payment.description}\n\n🔗 Link de Pagamento:\n${payment.paymentLink}\n\n📱 QR Code Pix:\n${payment.qrCode}\n\n📋 Código Copia e Cola:\n${payment.copyPaste}\n\nApós a confirmação do pagamento, seu agendamento estará garantido!\n\nQualquer dúvida, estamos à disposição.\n\nAtenciosamente,\nEquipe Dentaly`;\n\nconst whatsappMessage = `Olá ${patient.name}! 👋\n\nSegue o link para pagamento da sua *Consulta de Boas-Vindas*:\n\n💰 *Valor:* R$ ${payment.amount.toFixed(2)}\n📋 *Descrição:* ${payment.description}\n\n🔗 *Link de Pagamento:*\n${payment.paymentLink}\n\n📱 *QR Code Pix:*\n${payment.qrCode}\n\n📋 *Código Copia e Cola:*\n\\`\\`\\`${payment.copyPaste}\\`\\`\\`\n\nApós a confirmação do pagamento, seu agendamento estará garantido! ✅\n\nQualquer dúvida, estamos à disposição. 😊`;\n\nreturn {\n  patient,\n  payment,\n  emailMessage,\n  whatsappMessage\n};"},"name":"Prepare Messages","type":"n8n-nodes-base.code","typeVersion":2,"position":[64,112],"id":"a62772d6-34b8-44d6-848f-d52fe7f51165"},{"parameters":{"fromEmail":"sunny@luzestrategica.com.br","toEmail":"={{ $('Webhook').item.json.body.email }}","subject":"Link de Pagamento - Consulta Dentaly","emailFormat":"text","text":"={{ $json.emailMessage }}","options":{}},"name":"Send Email to Patient","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[384,0],"id":"1280ccb1-22a6-48bc-97a7-6dba0a92496d","webhookId":"e2cbac31-06ba-47b0-9773-0a0aa1e2579a","credentials":{"smtp":{"id":"ogzJewLaZMn0xj3c","name":"SMTP noreply@superbot.digital"}}},{"parameters":{"operation":"send","additionalFields":{}},"name":"Send WhatsApp to Patient","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[400,288],"id":"f3db1c50-7870-4f36-9081-3b2701992d53","webhookId":"32c3ee1b-9b40-482f-9f5b-1adebc1547be","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"assign-1","name":"status","value":"payment_link_sent","type":"string"},{"id":"assign-2","name":"sentTo","value":"= {{ $('Webhook').item.json.body.email }} / {{ $('Webhook').item.json.body.phone }}","type":"string"},{"id":"assign-3","name":"emailSent","value":true,"type":"boolean"},{"id":"assign-4","name":"whatsappSent","value":true,"type":"boolean"}]},"options":{}},"name":"Return Success","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1008,128],"id":"9fcd06fd-e076-486a-8e7a-c97b9bb2c80c","executeOnce":false},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1312,112],"id":"0fdb2760-ffbf-4f9b-b2ee-f71138aaf7bc","name":"Respond to Webhook","executeOnce":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[768,112],"id":"e52cece6-a5c5-4e83-be6b-765098128cab","name":"Merge"}],"connections":{"Webhook":{"main":[[{"node":"Prepare Messages","type":"main","index":0}]]},"Prepare Messages":{"main":[[{"node":"Send Email to Patient","type":"main","index":0},{"node":"Send WhatsApp to Patient","type":"main","index":0}]]},"Send Email to Patient":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Send WhatsApp to Patient":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Return Success":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Return Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-n8n-start.gtzkxz.easypanel.host","user-agent":"ElevenLabs/1.0","content-length":"80","accept":"*/*","accept-encoding":"gzip, deflate, br","content-type":"application/json","x-forwarded-for":"34.59.11.47","x-forwarded-host":"n8n-n8n-start.gtzkxz.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"34.59.11.47"},"params":{},"query":{},"body":{"nome":"Diego","email":"diegovilson.1999@gmail.com","phone":"51993448124"},"webhookUrl":"https://n8n-n8n-start.gtzkxz.easypanel.host/webhook/send-payment","executionMode":"production"}}]},"versionId":"73d7b5a0-142c-46d7-aa7b-d2a731d7f01f","activeVersionId":"73d7b5a0-142c-46d7-aa7b-d2a731d7f01f","triggerCount":1,"shared":[{"updatedAt":"2025-11-23T22:47:34.546Z","createdAt":"2025-11-23T22:47:34.546Z","role":"workflow:owner","workflowId":"q5jhb9y9KQc8mGtp","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-02T17:22:02.171Z","createdAt":"2026-01-02T17:22:02.171Z","versionId":"73d7b5a0-142c-46d7-aa7b-d2a731d7f01f","workflowId":"q5jhb9y9KQc8mGtp","nodes":[{"parameters":{"httpMethod":"POST","path":"send-payment","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-144,112],"id":"bc2ae4bf-1b6e-4fb1-a518-9ffe8ec58f27","webhookId":"f1a2c9b4-78c5-48e4-8e4a-9fd2b26e0c89"},{"parameters":{"jsCode":"// Recebe apenas dados do cliente do body\nconst nome = $json.nome;\nconst email = $json.email;\nconst phone = $json.phone;\n\n// Informações de pagamento ESTÁTICAS (fixas na tool)\nconst payment = {\n  amount: 150.00,\n  description: \"Consulta de Boas-Vindas - Dentaly\",\n  paymentLink: \"https://pay.dentaly.com.br/consulta-boas-vindas\",\n  qrCode: \"https://qr.dentaly.com.br/qr_consulta.png\",\n  copyPaste: \"00020126580014BR.GOV.BCB.[REDACTED]***6304E2CA\"\n};\n\n// Objeto do paciente\nconst patient = {\n  name: nome,\n  email: email,\n  phone: phone\n};\n\nconst emailMessage = `Olá ${patient.name}!\n\nConforme conversamos, segue o link para pagamento da sua Consulta de Boas-Vindas.\n\n💰 Valor: R$ ${payment.amount.toFixed(2)}\n📋 Descrição: ${payment.description}\n\n🔗 Link de Pagamento:\n${payment.paymentLink}\n\n📱 QR Code Pix:\n${payment.qrCode}\n\n📋 Código Copia e Cola:\n${payment.copyPaste}\n\nApós a confirmação do pagamento, seu agendamento estará garantido!\n\nQualquer dúvida, estamos à disposição.\n\nAtenciosamente,\nEquipe Dentaly`;\n\nconst whatsappMessage = `Olá ${patient.name}! 👋\n\nSegue o link para pagamento da sua *Consulta de Boas-Vindas*:\n\n💰 *Valor:* R$ ${payment.amount.toFixed(2)}\n📋 *Descrição:* ${payment.description}\n\n🔗 *Link de Pagamento:*\n${payment.paymentLink}\n\n📱 *QR Code Pix:*\n${payment.qrCode}\n\n📋 *Código Copia e Cola:*\n\\`\\`\\`${payment.copyPaste}\\`\\`\\`\n\nApós a confirmação do pagamento, seu agendamento estará garantido! ✅\n\nQualquer dúvida, estamos à disposição. 😊`;\n\nreturn {\n  patient,\n  payment,\n  emailMessage,\n  whatsappMessage\n};"},"name":"Prepare Messages","type":"n8n-nodes-base.code","typeVersion":2,"position":[64,112],"id":"a62772d6-34b8-44d6-848f-d52fe7f51165"},{"parameters":{"fromEmail":"sunny@luzestrategica.com.br","toEmail":"={{ $('Webhook').item.json.body.email }}","subject":"Link de Pagamento - Consulta Dentaly","emailFormat":"text","text":"={{ $json.emailMessage }}","options":{}},"name":"Send Email to Patient","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[384,0],"id":"1280ccb1-22a6-48bc-97a7-6dba0a92496d","webhookId":"e2cbac31-06ba-47b0-9773-0a0aa1e2579a","credentials":{"smtp":{"id":"ogzJewLaZMn0xj3c","name":"SMTP noreply@superbot.digital"}}},{"parameters":{"operation":"send","additionalFields":{}},"name":"Send WhatsApp to Patient","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[400,288],"id":"f3db1c50-7870-4f36-9081-3b2701992d53","webhookId":"32c3ee1b-9b40-482f-9f5b-1adebc1547be","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"assign-1","name":"status","value":"payment_link_sent","type":"string"},{"id":"assign-2","name":"sentTo","value":"= {{ $('Webhook').item.json.body.email }} / {{ $('Webhook').item.json.body.phone }}","type":"string"},{"id":"assign-3","name":"emailSent","value":true,"type":"boolean"},{"id":"assign-4","name":"whatsappSent","value":true,"type":"boolean"}]},"options":{}},"name":"Return Success","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1008,128],"id":"9fcd06fd-e076-486a-8e7a-c97b9bb2c80c","executeOnce":false},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1312,112],"id":"0fdb2760-ffbf-4f9b-b2ee-f71138aaf7bc","name":"Respond to Webhook","executeOnce":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[768,112],"id":"e52cece6-a5c5-4e83-be6b-765098128cab","name":"Merge"}],"connections":{"Webhook":{"main":[[{"node":"Prepare Messages","type":"main","index":0}]]},"Prepare Messages":{"main":[[{"node":"Send Email to Patient","type":"main","index":0},{"node":"Send WhatsApp to Patient","type":"main","index":0}]]},"Send Email to Patient":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Send WhatsApp to Patient":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Return Success":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Return Success","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[{"updatedAt":"2026-01-02T17:21:30.678Z","createdAt":"2026-01-02T17:21:30.678Z","id":"ZnlUtd5Un2HQcpz6","name":"dentaly"}]}