backups/sincronizar-ao-bitrix-2Cf2HczhDilOh1QE.json
{"createdAt":"2025-09-24T20:33:50.896Z","updatedAt":"2026-01-16T20:28:58.773Z","id":"2Cf2HczhDilOh1QE","name":"Sincronizar ao bitrix","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-6000,176],"id":"5a6d6b5a-32d1-43b8-aacb-239396575c64","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-5552,560],"id":"97923fc6-27cb-4c0b-aec9-d14e39dc8220","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"62bc84a1-4a67-41bc-8a2d-c4c652a62885","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4832,816],"id":"bdbcb1a6-2a6c-4b86-920a-043841dc9ac8","name":"empresa existe?"},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.company.list.json","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"WEB\": \"{{ $('Loop Over Items').first().json.dominio }}\"\n  },\n  \"select\": [ \"ID\", \"TITLE\", \"EMAIL\", \"PHONE\" ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5024,816],"id":"1e27288d-2014-49af-a25d-527fdd816399","name":"empresa existe?1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2288,528],"id":"33fa0e36-a50d-41e2-98e3-687e974c2cc1","name":"Loop Over Items1"},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.company.add.json","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('normalizar contatos e criar payload').item.json.bitrix_payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4656,928],"id":"402076b3-0729-4e97-a6d9-22ecebc8dcda","name":"Cria Company no Bitrix"},{"parameters":{"jsCode":"// Pega todos os itens que chegaram no nó\nconst items = $input.all();\n\n// Extrai só os valores da chave \"result\"\nconst results = items.map(item => item.json.result);\n\n// Retorna como array no padrão do n8n\nreturn [\n  {\n    json: {\n      results\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2064,352],"id":"46ec5092-3acd-4d3d-9ec7-bcd6394291a5","name":"Code in JavaScript1"},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.dominio }}","status":"success","empresa_id":"='{{ $json.id }}'","to_status":"=","canal":"crm bitrix","workflow_name":"Sincronizar ao bitrix","destinatario":"=vendedor","from_status":"=","template_usado":"=","action_type":"enviado-bitrix","reason":"=deal criada no bitrix para vendedor explorar oportunidade","dia_atual_na_cadencia":0,"user_agent":"sistema"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[16,976],"id":"be640449-f788-48aa-bb2f-d0135f0c89d9","name":"Call 'Registrar logs'1"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contatos_empresa","mode":"list","cachedResultName":"contatos_empresa"},"where":{"values":[{"column":"empresa_id","value":"={{ $('Loop Over Items').item.json.id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5424,800],"id":"0cf8c539-8a05-4865-bb8e-94a8e3f53019","name":"Selecionar contatos","alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"jsCode":"// --- Código unificado: agrupa contatos + monta payload Bitrix ---\n// tenta pegar o array via expressão (se disponível) senão usa items[0].json\nlet payloadArray;\ntry {\n  payloadArray = (typeof $ === 'function' || typeof $ === 'object') ? $('Loop Over Items').first().json : undefined;\n} catch (e) {\n  payloadArray = undefined;\n}\nif (!payloadArray) payloadArray = items[0]?.json;\n\n// src: primeiro item do array ou objeto (contém os dados da empresa do nó 'Buscar empresas com erros ativos')\nconst src = Array.isArray(payloadArray) ? payloadArray[0] : (payloadArray || {});\n\n// ---------- helpers ----------\nconst firstNonEmpty = (...vals) => {\n  for (const v of vals) {\n    if (v !== undefined && v !== null) {\n      const s = (typeof v === 'string') ? v.trim() : v;\n      if (s !== '' && s !== '[]' && s !== 'null') return s;\n    }\n  }\n  return null;\n};\n\nfunction nameFromUrl(url) {\n  try {\n    if (!url) return null;\n    let maybe = String(url).trim();\n    if (!/^https?:\\\\/i.test(maybe)) {\n      maybe = (maybe.startsWith('www.') ? 'https://' + maybe : 'https://' + maybe);\n    }\n    const u = new URL(maybe);\n    const host = u.hostname.replace(/^www\\\\./i, '');\n    const firstPart = host.split('.')[0];\n    return firstPart ? (firstPart.charAt(0).toUpperCase() + firstPart.slice(1)) : host;\n  } catch (e) {\n    return null;\n  }\n}\n\nfunction safeParseArray(s) {\n  if (!s) return [];\n  if (Array.isArray(s)) return s;\n  try {\n    const parsed = JSON.parse(s);\n    return Array.isArray(parsed) ? parsed : [parsed].filter(Boolean);\n  } catch (e) {\n    if (typeof s === 'string') {\n      return s.split(',').map(x => x.trim()).filter(Boolean);\n    }\n    return [];\n  }\n}\n\nconst normalizePhone = p => ('' + p).replace(/[^\\\\d+]/g, '');\n\n// ---------- Parte A: lógica de contatos (seu código antigo) ----------\n// Objeto final que o nó vai retornar.\nconst output = {\n  todosOsContatosDaEmpresa: {\n    emails: [],\n    telefones: []\n  },\n  contatosQualificadosParaCriar: []\n};\n\n// Um objeto temporário para agrupar pessoas.\nconst pessoasAgrupadas = {};\n\n// Pega todos os .json dos itens de entrada (do nó 'Selecionar contatos')\nlet contatosDoBanco = [];\ntry {\n  if (typeof $items === 'function') {\n    contatosDoBanco = $items().map(item => item.json);\n  } else {\n    contatosDoBanco = items.map(i => i.json);\n  }\n} catch (e) {\n  // fallback: se nada veio, tenta usar src como único contato\n  if (src && Object.keys(src).length) contatosDoBanco = [src];\n}\n\n// Loop para processar cada contato da lista.\nfor (const contato of contatosDoBanco) {\n  if (!contato) continue;\n\n  const emailValido = contato.valor_contato && !contato.valor_contato.endsWith('@fakeexample.com');\n\n  // --- Parte 1: Agrupar TODOS os e-mails e telefones --\n  if (contato.tipo_contato === 'email') {\n    // [FILTRO APLICADO] Só adiciona se for um e-mail válido\n    if (emailValido) {\n      output.todosOsContatosDaEmpresa.emails.push({\n        VALUE: contato.valor_contato,\n        VALUE_TYPE: 'WORK'\n      });\n    }\n  } else if (contato.tipo_contato === 'whatsapp' || contato.tipo_contato === 'telefone') {\n    output.todosOsContatosDaEmpresa.telefones.push({\n      VALUE: contato.valor_contato,\n      VALUE_TYPE: 'WORK'\n    });\n  }\n\n  // --- Parte 2: Filtrar e preparar os contatos qualificados (Pessoas) ---\n  const classificacao = contato.classificacao_contato;\n  const fonte = contato.fonte_contato || '';\n\n  if ((classificacao === 'A' || classificacao === 'B') && fonte.includes('apollo')) {\n    const nomeKey = contato.nome_contato || (`sem_nome_${contato.valor_contato || Math.random()}`);\n    if (!pessoasAgrupadas[nomeKey]) {\n      pessoasAgrupadas[nomeKey] = {\n        nome: contato.nome_contato ? contato.nome_contato.split(' ')[0] : '',\n        sobrenome: contato.nome_contato ? contato.nome_contato.split(' ').slice(1).join(' ') : '',\n        cargo: contato.cargo || contato.apollo_job_title || '',\n        linkedin: contato.linkedin_url || '',\n        emails: [],\n        telefones: []\n      };\n    }\n\n    if (contato.tipo_contato === 'email') {\n      // [FILTRO APLICADO] Só adiciona se for um e-mail válido\n      if (emailValido) {\n        pessoasAgrupadas[nomeKey].emails.push({\n          VALUE: contato.valor_contato,\n          VALUE_TYPE: 'WORK'\n        });\n      }\n    } else if (contato.tipo_contato === 'whatsapp' || contato.tipo_contato === 'telefone') {\n      pessoasAgrupadas[nomeKey].telefones.push({\n        VALUE: contato.valor_contato,\n        VALUE_TYPE: 'WORK'\n      });\n    }\n  }\n}\n\n// Salva os contatos qualificados\noutput.contatosQualificadosParaCriar = Object.values(pessoasAgrupadas);\n\n// ---------- Parte B: lógica de empresa (preparação do payload) ----------\n// pega dados de scraping do src (o primeiro item)\nconst candidateName = firstNonEmpty(\n  src.nome_empresa_gmn,\n  src.nome_empresa_pagina,\n  src.nome_empresa,\n  src.gmn_name,\n  src.apollo_organization_name // Adicionado fallback para nome do Apollo\n);\nconst fallbackFromDomain = nameFromUrl(firstNonEmpty(src.dominio, src.gmn_website, src.url_inicial));\nconst companyName = candidateName || fallbackFromDomain || 'Empresa sem nome';\n\nconst domainValue = firstNonEmpty(src.dominio, src.gmn_website, src.url_inicial);\n\n// telefones/emails vindos do scraping bruto\nconst scrapingPhones = safeParseArray(src.telefones_scraping).map(p => ({ VALUE: normalizePhone(p), VALUE_TYPE: 'WORK' }));\n// [FILTRO APLICADO] Filtra os e-mails do scraping\nconst scrapingEmails = safeParseArray(src.emails_scraping)\n  .filter(e => e && !e.endsWith('@fakeexample.com'))\n  .map(e => ({ VALUE: e, VALUE_TYPE: 'WORK' }));\n\n// telefones/emails agregados pelo seu processamento (prioridade)\n// 'output.todosOsContatosDaEmpresa.emails' JÁ FOI FILTRADO na Parte A\n// 'scrapingEmails' JÁ FOI FILTRADO logo acima\nconst aggregatedPhones = Array.isArray(output.todosOsContatosDaEmpresa.telefones) && output.todosOsContatosDaEmpresa.telefones.length\n  ? output.todosOsContatosDaEmpresa.telefones\n  : scrapingPhones;\n\nconst aggregatedEmails = Array.isArray(output.todosOsContatosDaEmpresa.emails) && output.todosOsContatosDaEmpresa.emails.length\n  ? output.todosOsContatosDaEmpresa.emails\n  : scrapingEmails;\n\n// WEB: Adiciona o domínio principal + o LinkedIn do Apollo\nconst webField = [];\nif (domainValue) {\n  webField.push({ VALUE: domainValue, VALUE_TYPE: 'WORK' });\n}\nconst apolloLinkedin = firstNonEmpty(src.apollo_linkedin_url);\nif (apolloLinkedin) {\n  webField.push({ VALUE: apolloLinkedin, VALUE_TYPE: 'LINKEDIN' });\n}\n\n// ASSIGNED_BY_ID: tenta usar um campo vindo do item (assigned_by_id), se não existir usa fallback\nconst firstItem = contatosDoBanco[0] || {};\nconst assignedBy = firstItem.assigned_by_id || firstItem.user_id || src.assigned_by_id || 6662; // ajuste se necessário\n\n// [ATUALIZADO] Monta o objeto FIELDS exatamente como a API do Bitrix espera\nconst companyFields = {\n  TITLE: companyName,\n  COMPANY_TYPE: \"CUSTOMER\",\n  WEB: webField,\n  PHONE: aggregatedPhones,\n  EMAIL: aggregatedEmails, // Esta lista agora está filtrada\n  SOURCE_ID: \"ISSUEMPER\",\n  COMMENTS: `Erro: ${src.nome_erro || firstItem.nome_erro || ''} - ${src.detalhes_erro_payload || firstItem.detalhes_erro_payload || ''}`,\n  ASSIGNED_BY_ID: Number(assignedBy || 6662),\n  OPENED: \"Y\",\n\n  // --- [INÍCIO] NOVOS CAMPOS ADICIONADOS (Apollo + GMN) ---\n\n  // Mapeamento Direto do Apollo (Campos Padrão Bitrix)\n  REVENUE: (firstNonEmpty(src.apollo_annual_revenue) && !isNaN(Number(src.apollo_annual_revenue))) \n    ? Number(src.apollo_annual_revenue) \n    : null,\n  \n  INDUSTRY: firstNonEmpty(src.apollo_industry),\n\n  // [ATUALIZADO] Mapeando N° de Funcionários para AMBOS os campos\n  EMPLOYEES: firstNonEmpty(src.apollo_estimated_employees) ? String(src.apollo_estimated_employees) : null,\n  UF_CRM_1706038190620: firstNonEmpty(src.apollo_estimated_employees) ? String(src.apollo_estimated_employees) : null,\n\n  // Endereço (usando GMN e Apollo)\n  ADDRESS: firstNonEmpty(src.gmn_endereco), // Endereço principal (do GMN)\n  ADDRESS_CITY: firstNonEmpty(src.apollo_city), // Cidade (do Apollo)\n  ADDRESS_PROVINCE: firstNonEmpty(src.apollo_state), // Estado (do Apollo)\n  ADDRESS_COUNTRY: firstNonEmpty(src.apollo_country), // País (do Apollo)\n\n  // Mapeamento de Campos Customizados (UFs)\n  // UF_CRM_1695654680334 = Razão Social\n  UF_CRM_1695654680334: firstNonEmpty(src.apollo_organization_name), \n  \n  // --- [INÍCIO] ATUALIZAÇÃO CAMPO DESCRIÇÃO (UF_CRM_1645104897) ---\n  // UF_CRM_1645104897 = Descrição\n  // Não pode ser array. Vamos formatar como texto.\n  UF_CRM_1645104897: (() => {\n    const keywords = src.apollo_keywords;\n    const technologies = src.apollo_technologies;\n    const descriptionParts = [];\n\n    if (Array.isArray(keywords) && keywords.length > 0) {\n      // Limita a 30 keywords para legibilidade e junta com \", \"\n      const keywordsToShow = keywords.slice(0, 30).join(', ');\n      descriptionParts.push(`Keywords: ${keywordsToShow}${keywords.length > 30 ? '...' : ''}`);\n    }\n\n    if (Array.isArray(technologies) && technologies.length > 0) {\n      // Junta tecnologias com \", \"\n      const techToShow = technologies.join(', ');\n      descriptionParts.push(`Tecnologias: ${techToShow}`);\n    }\n    \n    // Retorna a string unida por quebra de linha (\"\\n\"), ou null se vazia\n    return descriptionParts.length > 0 ? descriptionParts.join('\\n') : null;\n  })(),\n  // --- [FIM] ATUALIZAÇÃO CAMPO DESCRIÇÃO ---\n\n  // --- [FIM] NOVOS CAMPOS ADICIONADOS ---\n};\n\n// adiciona campo custom domain, se tivermos (já existia)\n// Tentei usar UF_CRM_DOMAIN mas não vi na sua lista de campos. \n// Se você tiver um campo customizado para \"Domínio\", substitua 'UF_CRM_DOMAIN' abaixo.\n// Por exemplo, se for 'UF_CRM_12345678', troque.\nif (domainValue) companyFields.UF_CRM_DOMAIN = domainValue;\n\n// opcional: metadados para debug (já existia)\ncompanyFields.__source_payload_id = src.id || null;\ncompanyFields.__source_domain = domainValue || null;\n\n// Montagens dos payloads (duas formas para usar conforme seu flow)\nconst bitrix_payload = {\n  fields: companyFields,\n  params: {\n    REGISTER_SONET_EVENT: \"Y\"\n  }\n};\n\n// formato alternativo (alguns usuários preferem FIELDS maiúsculo) — mantive para compatibilidade\nconst payloadToSend = {\n  FIELDS: companyFields\n};\n\n// --- Retorno final (para o próximo node) ---\nreturn [\n  {\n    json: {\n      ok: true,\n      output,                 // seus contatos agrupados + qualificados\n      payloadToSend,          // formato FIELDS (legacy)\n      bitrix_payload,         // formato { fields, params } para crm.company.add\n      raw_source: src,\n      debug: {\n        sampleTitle: companyName,\n        scrapingPhonesCount: scrapingPhones.length,\n        aggregatedPhonesCount: aggregatedPhones.length,\n        scrapingEmailsCount: aggregatedEmails.length,\n        aggregatedEmailsCount: aggregatedEmails.length\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5232,816],"id":"619a47ea-0db2-43fb-b95d-d978b2c18ad9","name":"normalizar contatos e criar payload"},{"parameters":{"assignments":{"assignments":[{"id":"32f155aa-9b4f-48b9-b7e8-ae7580fa792a","name":"contatosQualificadosParaCriar","value":"={{ $('normalizar contatos e criar payload').item.json.output.contatosQualificadosParaCriar }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2736,528],"id":"22449ed1-a52b-4365-bc17-2cf42a4737ef","name":"buscar contatos qualificados","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.contact.add.json","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payloadToSend }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1824,704],"id":"abface53-aa7c-46d9-ab54-daeeeae54ac9","name":"criar contato","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Function node: prepara payload para crm.contact.add (1 item por contato)\n// Adiciona o domínio empresarial vindo de $('Loop Over Items').first().json\n// e mantém LinkedIn + sites do contato. Retorna 1 item por contato com payloadToSend.\n\nconst itemsIn = $items();\nconst outputs = [];\n\n// ---------- helpers ----------\nconst firstNonEmpty = (...vals) => {\n  for (const v of vals) {\n    if (v !== undefined && v !== null) {\n      const s = (typeof v === 'string') ? v.trim() : v;\n      if (s !== '' && s !== '[]' && s !== 'null') return s;\n    }\n  }\n  return null;\n};\nconst normalizePhone = p => ('' + p).replace(/[^\\d+]/g, '');\nconst safeParseArray = s => {\n  if (!s) return [];\n  if (Array.isArray(s)) return s;\n  try {\n    const parsed = JSON.parse(s);\n    return Array.isArray(parsed) ? parsed : [parsed].filter(Boolean);\n  } catch (e) {\n    if (typeof s === 'string') return s.split(',').map(x => x.trim()).filter(Boolean);\n    return [];\n  }\n};\nconst uniqByValue = arr => {\n  const seen = new Set();\n  return (arr || []).filter(o => {\n    const v = o && o.VALUE ? String(o.VALUE).trim() : '';\n    if (!v) return false;\n    if (seen.has(v)) return false;\n    seen.add(v);\n    return true;\n  });\n};\n\n// ---------- pegar dados da empresa via $('Loop Over Items').first().json ----------\nlet companyLoop = null;\ntry {\n  // usa a expressão que você informou funcionar no seu fluxo\n  if (typeof $ === 'function' || typeof $ === 'object') {\n    try { companyLoop = $('Loop Over Items').first().json; } catch (e) { companyLoop = null; }\n  }\n} catch (e) {\n  companyLoop = null;\n}\n\n// fallbacks caso não encontre com $('Loop Over Items')\nif (!companyLoop && itemsIn.length) {\n  // tenta achar em itemsIn[0] se ele for o que contém o company info\n  const candidate = itemsIn[0].json || {};\n  // se candidate parece ser o objeto grande (com dominio/gmn_website), usa ele\n  if (candidate.dominio || candidate.gmn_website || candidate.url_inicial) companyLoop = candidate;\n}\n\n// extrai domínio da empresa (prioridade como você pediu)\nconst companyDomainFromLoop = firstNonEmpty(\n  companyLoop?.dominio,\n  companyLoop?.gmn_website,\n  companyLoop?.url_inicial,\n  companyLoop?.website,\n  companyLoop?.gmn_website // repetido por segurança\n) || null;\n\n// também extrai nome/endereço/rating caso queira usar nos comments\nconst companyTitleFromLoop = firstNonEmpty(\n  companyLoop?.nome_empresa_pagina,\n  companyLoop?.nome_empresa_gmn,\n  companyLoop?.nome_empresa\n) || null;\nconst companyAddressFromLoop = firstNonEmpty(companyLoop?.gmn_endereco, companyLoop?.endereco, companyLoop?.address) || null;\nconst companyPlaceIdFromLoop = firstNonEmpty(companyLoop?.gmn_place_id, companyLoop?.place_id) || null;\nconst companyRatingFromLoop = (companyLoop && companyLoop.gmn_rating !== undefined && companyLoop.gmn_rating !== null) ? companyLoop.gmn_rating : null;\n\n// tenta companyId do node \"Cria Company no Bitrix\" (se existir)\nlet companyIdFromNode = null;\ntry {\n  if (typeof $node !== 'undefined' && $node['Cria Company no Bitrix'] && $node['Cria Company no Bitrix'].json) {\n    const n = $node['Cria Company no Bitrix'].json;\n    companyIdFromNode = n.result?.ID || n.result || n.companyId || n.COMPANY_ID || n.ID || null;\n  }\n} catch (e) {\n  companyIdFromNode = null;\n}\n\n// ---------- processa cada item (cada item contém contatosQualificadosParaCriar + possivelmente dados da empresa) ----------\nfor (const item of itemsIn) {\n  const body = item.json || {};\n\n  // contatos do item\n  const contatos =\n    body.contatosQualificadosParaCriar ||\n    body.output?.contatosQualificadosParaCriar ||\n    body.payload?.contatosQualificadosParaCriar ||\n    body.contatosQualificados ||\n    [];\n\n  // tenta extrair companyId deste item (se já criado anteriormente)\n  const candidateCompanyId =\n    body.COMPANY_ID ||\n    body.companyId ||\n    body.company_id ||\n    body.result?.ID ||\n    body.createCompanyResult?.result?.ID ||\n    body.createCompanyResult?.ID ||\n    null;\n  const companyId = candidateCompanyId || companyIdFromNode || null;\n\n  // prioridade de domínio: se no loop específico houver domínio, usa; senão usa o do item\n  const companyDomain = companyDomainFromLoop || firstNonEmpty(body.dominio, body.gmn_website, body.url_inicial, body.website) || null;\n  const companyTitle = companyTitleFromLoop || firstNonEmpty(body.nome_empresa_pagina, body.nome_empresa_gmn, body.nome_empresa, body.company_title) || null;\n  const companyAddress = companyAddressFromLoop || firstNonEmpty(body.gmn_endereco, body.endereco, body.address) || null;\n  const companyPlaceId = companyPlaceIdFromLoop || firstNonEmpty(body.gmn_place_id, body.place_id) || null;\n  const companyRating = companyRatingFromLoop || (body.gmn_rating !== undefined && body.gmn_rating !== null ? body.gmn_rating : null);\n\n  // aggregated contacts (opcional) — se você quiser priorizar estes para preencher contatos\n  const aggregatedEmails = Array.isArray(body.output?.todosOsContatosDaEmpresa?.emails) ? body.output.todosOsContatosDaEmpresa.emails : [];\n  const aggregatedPhones = Array.isArray(body.output?.todosOsContatosDaEmpresa?.telefones) ? body.output.todosOsContatosDaEmpresa.telefones : [];\n\n  // normaliza agregados\n  const normalizedAggEmails = aggregatedEmails.map(e => (typeof e === 'string' ? { VALUE: e, VALUE_TYPE: 'WORK' } : { VALUE: e.VALUE || e.value || '', VALUE_TYPE: e.VALUE_TYPE || e.value_type || 'WORK' })).filter(e=>e.VALUE);\n  const normalizedAggPhones = aggregatedPhones.map(p => (typeof p === 'string' ? { VALUE: normalizePhone(p), VALUE_TYPE: 'WORK' } : { VALUE: normalizePhone(p.VALUE || p.value || ''), VALUE_TYPE: p.VALUE_TYPE || p.value_type || 'WORK' })).filter(p=>p.VALUE);\n\n  // percorre contatos e monta payload individual\n  for (const contato of contatos) {\n    if (!contato) continue;\n\n    // emails/telefones do próprio contato\n    const contactEmailsRaw = Array.isArray(contato.emails) ? contato.emails : (contato.email ? [contato.email] : []);\n    const contactPhonesRaw = Array.isArray(contato.telefones) ? contato.telefones : (contato.telefone ? [contato.telefone] : []);\n\n    const contactEmails = contactEmailsRaw\n      .map(e => (typeof e === 'string' ? { VALUE: e, VALUE_TYPE: 'WORK' } : { VALUE: e.VALUE || e.value || '', VALUE_TYPE: e.VALUE_TYPE || e.value_type || 'WORK' }))\n      .filter(e => e.VALUE);\n\n    const contactPhones = contactPhonesRaw\n      .map(p => (typeof p === 'string' ? { VALUE: normalizePhone(p), VALUE_TYPE: 'WORK' } : { VALUE: normalizePhone(p.VALUE || p.value || ''), VALUE_TYPE: p.VALUE_TYPE || p.value_type || 'WORK' }))\n      .filter(p => p.VALUE);\n\n    // WEBs do contato: linkedin + websites do contato + site corporativo da empresa (APENAS o domínio empresarial, não o linkedin)\n    const contactWebs = [];\n\n    // linkedin (coloca como LINKEDIN)\n    const linkedin = firstNonEmpty(contato.linkedin, contato.linkedin_url, contato.linkedinUrl);\n    if (linkedin) contactWebs.push({ VALUE: linkedin, VALUE_TYPE: 'LINKEDIN' });\n\n    // sites especificos do contato (websites pode ser string/array/json)\n    const sitesContato = safeParseArray(contato.websites || contato.web || contato.website || contato.websites_scraping || []);\n    for (const w of sitesContato) {\n      if (w) contactWebs.push({ VALUE: w, VALUE_TYPE: 'WORK' });\n    }\n\n    // adicionar site corporativo (Website - Corporativo - No Contato)\n    if (companyDomain) {\n      // garantimos que companyDomain não seja o linkedin (alguns links sociais podem ter linkedin da company)\n      const lower = String(companyDomain).toLowerCase();\n      if (!lower.includes('linkedin.com')) {\n        contactWebs.push({ VALUE: companyDomain, VALUE_TYPE: 'WORK' });\n      }\n    }\n\n    // adicionar também links sociais do item (facebook/instagram/company linkedin) se existirem (body.links_sociais_scraping)\n    const socialLinks = safeParseArray(body.links_sociais_scraping || body.links_sociais || []);\n    for (const s of socialLinks) {\n      if (s && !String(s).toLowerCase().includes('linkedin.com')) contactWebs.push({ VALUE: s, VALUE_TYPE: 'WORK' });\n      // se for linkedin social da empresa, vamos manter em WORK para o contato também (mas já temos o linkedin do contato)\n    }\n\n    // dedupe webs/emails/phones\n    const finalWebs = uniqByValue(contactWebs);\n    const finalEmails = uniqByValue((contactEmails || []).concat(normalizedAggEmails));\n    const finalPhones = uniqByValue((contactPhones || []).concat(normalizedAggPhones));\n\n    // split nome/sobrenome se necessário (se usuário enviar full name)\n    let nome = contato.nome || contato.firstName || '';\n    let sobrenome = contato.sobrenome || contato.lastName || contato.LAST_NAME || '';\n    if (!nome && contato.nome_completo) {\n      const parts = (contato.nome_completo + '').split(' ').filter(Boolean);\n      nome = parts.shift() || '';\n      sobrenome = parts.join(' ') || sobrenome;\n    }\n\n    // montar comments com info extra (address, place_id, rating, origem)\n    const commentsArr = [];\n    if (contato.origem) commentsArr.push(`Origem: ${contato.origem}`);\n    if (companyTitle) commentsArr.push(`Empresa: ${companyTitle}`);\n    if (companyAddress) commentsArr.push(`Endereço empresa: ${companyAddress}`);\n    if (companyPlaceId) commentsArr.push(`gmn_place_id: ${companyPlaceId}`);\n    if (companyRating !== null) commentsArr.push(`gmn_rating: ${companyRating}`);\n    if (contato.observacoes) commentsArr.push(`Obs: ${contato.observacoes}`);\n    const COMMENTS = commentsArr.join(' | ');\n\n    // monta fields para crm.contact.add\n    const fields = {\n      NAME: nome,\n      LAST_NAME: sobrenome,\n      SECOND_NAME: contato.segundo_nome || contato.middleName || '',\n      POST: contato.cargo || contato.post || contato.title || '',\n      EMAIL: finalEmails,\n      PHONE: finalPhones,\n      WEB: finalWebs,\n      SOURCE_ID: contato.source_id || 'ISSUEMAPPER_APOLLO',\n      ASSIGNED_BY_ID: Number(item.json.ASSIGNED_BY_ID || item.json.assigned_by_id || item.json.assignedBy || 6662),\n      COMMENTS: COMMENTS || (contato.comentarios || contato.notes || '')\n    };\n\n    // COMPANY_ID se existir\n    if (companyId) fields.COMPANY_ID = Number(companyId);\n\n    // inclui campo custom temporário com o site da empresa (substitua por UF_CRM_... se quiser)\n    if (companyDomain) fields.__company_website = companyDomain;\n\n    // payload final pronto para HTTP Request node do Bitrix\n    const payloadToSend = { FIELDS: fields };\n\n    // retorna o item para o próximo node (HTTP Request)\n    outputs.push({\n      json: {\n        payloadToSend,\n        originalContact: contato,\n        debug: {\n          companyIdUsed: companyId || null,\n          companyDomain,\n          companyTitle,\n          emailsCount: finalEmails.length,\n          phonesCount: finalPhones.length,\n          websCount: finalWebs.length\n        }\n      }\n    });\n  } // fim for contatos\n} // fim for itemsIn\n\nreturn outputs;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2512,528],"id":"b1e521ff-9947-4d31-96d8-30dadc4013df","name":"payload para criação de contato","alwaysOutputData":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":40}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-6320,560],"id":"6eda2886-bee5-480a-b9ad-4904125399f3","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5328,464],"id":"b5419e6f-3f79-4c69-8731-b8947dc04479","name":"No Operation, do nothing"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1056,-48],"id":"3938937c-617e-4857-9693-faffb8d36d81","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-736,-48],"id":"601c8543-426b-47d6-8b1b-90cb24de941c","name":"Loop Over Items2"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[0,368],"id":"2ab38137-68ca-42e6-a504-fa848e08ca92"},{"parameters":{"assignments":{"assignments":[{"id":"5a700e43-dd0e-4afa-874b-63f555b836f2","name":"results","value":"={{ $('Code in JavaScript1').item.json.results }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1312,0],"id":"0ef0fbb4-e3f2-4c83-9d9e-fc5ff8977f7e","name":"REsultado dos contatos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff5276b2-ec7c-48f8-9e6d-5403a89200af","leftValue":"={{ $json.results[0] }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1840,352],"id":"63bad393-5c57-40ce-a4a6-35be9944d42a","name":"Tem contatos?"},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.deal.add.json","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"TITLE\": \"{{ $('Loop Over Items').first().json.dominio }} - Erro {{ $('Loop Over Items').first().json.nome_erro }}\",\n    \"CATEGORY_ID\": 32,\n    \"COMPANY_ID\": \"{{ $('Merge1').first().json.bitrix_company_id }}\",\n    \"ASSIGNED_BY_ID\": \"6662\",\n    \"OPPORTUNITY\": \"\",\n    \"CURRENCY_ID\": \"BRL\",\n    \"SOURCE_ID\": \"ISSUEMAPPER\",\n    \"UF_CRM_1709745928\": \"{{ $('Loop Over Items').first().json.dominio }}\",\n    \"UF_CRM_NOVO_ID_RAZAO_SOCIAL\": \"{{ $('Loop Over Items').first().json.apollo_organization_name }}\",\n    \"UF_CRM_1706038449500\": \"{{ String($('Loop Over Items').first().json.apollo_estimated_employees || '') }}\",\n    \"UF_CRM_642ED8B515527\": \"{{ (() => { const src = $('Loop Over Items').first().json; const keywords = src.apollo_keywords; const technologies = src.apollo_technologies; const descriptionParts = []; if (Array.isArray(keywords) && keywords.length > 0) { const keywordsToShow = keywords.slice(0, 30).join(', '); descriptionParts.push(`Keywords: ${keywordsToShow}${keywords.length > 30 ? '...' : ''}`); } if (Array.isArray(technologies) && technologies.length > 0) { const techToShow = technologies.join(', '); descriptionParts.push(`Tecnologias: ${techToShow}`); } return descriptionParts.length > 0 ? descriptionParts.join('\\\\n') : null; })() }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1520,16],"id":"1a8e35f3-02b0-490f-8461-0c1ea3691224","name":"Cria Deal no Bitrix2"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-32,-224],"id":"a624664e-e29a-4b70-82dc-45b7733a8dcd","name":"Aggregate"},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.deal.contact.add.json","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"id\": \"{{ $('Cria Deal no Bitrix2').item.json.result }}\",\n  \"fields\": {\n    \"CONTACT_ID\": \"{{ $json.results }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,112],"id":"99cd034d-8b7b-45b1-964f-4ce7cbf9d65b","name":"Adicionar contato"},{"parameters":{"assignments":{"assignments":[{"id":"ef61dfe1-1a1a-4c4c-b91e-3f4028094a85","name":"deal_id","value":"={{ $json.result }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,608],"id":"8791d4c6-9bc6-4582-a000-5559483a4380","name":"normalizar"},{"parameters":{"assignments":{"assignments":[{"id":"ef61dfe1-1a1a-4c4c-b91e-3f4028094a85","name":"deal_id","value":"={{ $('Cria Deal no Bitrix2').first().json.result }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,192],"id":"2383dabb-5f89-41fc-a3b5-ba9d90b14bfe","name":"normalizar1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-768,368],"id":"de042895-063d-4ae9-a0ff-2e8ba4016889","name":"Merge"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  e.*, -- O asterisco (*) pega TODAS as colunas da tabela \"empresas\"\n  ee.tipo_erro_site,\n  ee.nome_erro,\n  ee.detalhes_erro_payload\nFROM empresas e\nINNER JOIN eventos_erro ee ON e.id = ee.empresa_id\nWHERE ee.status_processamento_evento = 'novo_nao_processado'\n  AND e.bitrix_company_id IS NULL -- Garante que ainda não foi pro Bitrix;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5984,1024],"id":"639accc6-836a-4b56-9dab-8021b1d41aed","name":"Buscar empresas com erros ativos","alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.company.fields","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5792,176],"id":"b77bc2a8-da81-41ad-8965-62845d4756d9","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.deal.add.json","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"TITLE\": \"{{ $('Loop Over Items').first().json.dominio }} - Erro {{ $('Loop Over Items').first().json.nome_erro }}\",\n    \"CATEGORY_ID\": 32,\n    \"COMPANY_ID\": \"{{ $('Merge1').first().json.bitrix_company_id }}\",\n    \"ASSIGNED_BY_ID\": \"6662\",\n    \"OPPORTUNITY\": \"\",\n    \"CURRENCY_ID\": \"BRL\",\n    \"SOURCE_ID\": \"ISSUEMAPPER\",\n    \"UF_CRM_1709745928\": \"{{ $('Loop Over Items').first().json.dominio }}\",\n    \"UF_CRM_NOVO_ID_RAZAO_SOCIAL\": \"{{ $('Loop Over Items').first().json.apollo_organization_name }}\",\n    \"UF_CRM_1706038449500\": \"{{ String($('Loop Over Items').first().json.apollo_estimated_employees || '') }}\",\n    \"UF_CRM_642ED8B515527\": \"{{ (() => { const src = $('Loop Over Items').first().json; const keywords = src.apollo_keywords; const technologies = src.apollo_technologies; const descriptionParts = []; if (Array.isArray(keywords) && keywords.length > 0) { const keywordsToShow = keywords.slice(0, 30).join(', '); descriptionParts.push(`Keywords: ${keywordsToShow}${keywords.length > 30 ? '...' : ''}`); } if (Array.isArray(technologies) && technologies.length > 0) { const techToShow = technologies.join(', '); descriptionParts.push(`Tecnologias: ${techToShow}`); } return descriptionParts.length > 0 ? descriptionParts.join('\\\\n') : null; })() }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1392,512],"id":"a605d42c-a4c0-4259-aae7-162160109663","name":"Cria Deal no Bitrix1"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  e.*, -- Pega todas as colunas da empresa\n  ee.tipo_erro_site,\n  ee.nome_erro,\n  ee.detalhes_erro_payload\nFROM\n  empresas e\nINNER JOIN\n  eventos_erro ee ON e.id = ee.empresa_id\nWHERE\n  -- Regra 1: O evento de erro deve ser novo\n  ee.status_processamento_evento = 'novo_nao_processado'\n\n  -- Regra 2: A empresa deve estar apta para cadência\n  AND e.status_cadencia_geral = 'apta_para_nova_cadencia'\n\n  -- Regra 3: A empresa não pode estar em pausa\n  AND (\n    e.timestamp_proxima_tentativa_permitida IS NULL\n    OR e.timestamp_proxima_tentativa_permitida <= NOW()\n  )\n\n  -- Regra 4 (NOVA): O evento de erro foi criado nas últimas 15 horas\n  AND ee.data_criacao >= NOW() - INTERVAL '15 hours';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5904,544],"id":"12dea992-d24f-4fec-9c43-fb06068a2676","name":"Buscar empresas com erros ativos1","alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"assignments":{"assignments":[{"id":"fdbd2f47-e56e-464a-9d2b-44589f79dcf7","name":"bitrix_company_id","value":"={{ $('Loop Over Items').first().json.bitrix_company_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4576,656],"id":"baee407d-c0cf-4746-a865-9a4021bf786e","name":"(Set ID Existente)"},{"parameters":{"assignments":{"assignments":[{"id":"fdbd2f47-e56e-464a-9d2b-44589f79dcf7","name":"bitrix_company_id","value":"={{ $json.result }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4448,928],"id":"227e3643-f836-4561-92c1-9d5765d34f78","name":"Set (Set ID Nova)"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-4208,752],"id":"ff8e69ec-019b-43f7-a670-5662908f6239","name":"Merge1"},{"parameters":{"jsCode":"// Recupera resultados das duas buscas (por ID e por Website)\nconst dealsById = $('Existe um deal ativo?').item.json.result || [];\nconst dealsByDomain = $('Verificar Deal por Website').item.json.result || [];\n\n// Une todos os deals encontrados, removendo duplicatas por ID\nconst allDeals = [...dealsById];\nfor (const d of dealsByDomain) {\n  if (!allDeals.find(existing => existing.ID === d.ID)) {\n    allDeals.push(d);\n  }\n}\n\nlet podeCriar = true;\nlet motivoBloqueio = null;\nconst agora = new Date();\n\n// Configuração de Cooldown para 'PERDA_PADRAO' (ex: 90 dias, ou conforme motivo)\nconst COOLDOWN_DIAS_PADRAO = 90; \n// Poderíamos buscar da config se tivéssemos carregado, mas aqui vamos assumir regra fixa ou dados do deal\n// Se precisarmos da config dinâmica aqui, teríamos que tê-la carregado antes. \n// Por simplificação: Deals FECHADOS recentemente bloqueiam.\n\nfor (const deal of allDeals) {\n  // 1. Se tem Deal ABERTO -> BLOQUEIA\n  if (deal.CLOSED === 'N') {\n    podeCriar = false;\n    motivoBloqueio = `Deal Aberto Encontrado (ID: ${deal.ID}, Stage: ${deal.STAGE_ID})`;\n    break;\n  }\n\n  // 2. Se tem Deal FECHADO -> Verifica Cooldown\n  if (deal.CLOSED === 'Y') {\n    // Verifica se foi ganho ou perdido (Stage de sucesso costuma ser WON)\n    // Se foi GANHO, talvez a regra seja diferente (cliente ativo). Vamos assumir: Cliente Ativo = Não aborda.\n    // if (deal.STAGE_ID === 'WON') { ... } \n\n    // Verifica Data de Fechamento\n    if (deal.CLOSEDATE) {\n        const closeDate = new Date(deal.CLOSEDATE);\n        const diffTime = Math.abs(agora - closeDate);\n        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); \n\n        if (diffDays < COOLDOWN_DIAS_PADRAO) {\n            podeCriar = false;\n            motivoBloqueio = `Deal Fechado Recentemente (ID: ${deal.ID}, ${diffDays} dias atrás). Cooldown de ${COOLDOWN_DIAS_PADRAO} dias.`;\n            break;\n        }\n    }\n  }\n}\n\nreturn {\n  pode_criar: podeCriar,\n  motivo_bloqueio: motivoBloqueio,\n  matches_encontrados: allDeals.length,\n  ...$input.first().json // Mantém dados originais\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3056,864],"id":"808a14ad-b1bb-4a5b-8ded-7ed1b3527a62","name":"Verificar Regras de Negocio"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.pode_criar }}","value2":true}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[-2832,864],"id":"67c68105-5c20-4ced-a341-fbf5fcc67e25","name":"Pode Criar Deal?"},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.deal.list.json","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"COMPANY_ID\": \"{{ $json.bitrix_company_id }}\",\n    \"CATEGORY_ID\": 32\n  },\n  \"select\": [ \"ID\", \"STAGE_ID\", \"CLOSED\", \"CLOSEDATE\", \"DATE_CREATE\" ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3952,704],"id":"ff4c57a0-5b41-4627-bee1-a60378ee0fc6","name":"Existe um deal ativo?","alwaysOutputData":true},{"parameters":{"operation":"executeQuery","query":"UPDATE empresas\nSET\n  bitrix_sync_status = 'synced',\n  bitrix_company_id = '{{ $('Merge1').first().json.bitrix_company_id }}',\n  bitrix_deal_id = '{{ $json.deal_id }}',\n  bitrix_company_created_at = NOW()\nWHERE\n  id = {{ $('Loop Over Items').first().json.id }}\n  RETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-480,384],"id":"fe9cc5ea-5c66-4fa8-b685-f963aa493f64","name":"Atualizar tabela empresa","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"jsCode":"// Normaliza o domínio removendo protocolo, www, e trailing slash\nconst rawDomain = $input.first().json.dominio || $('Loop Over Items').first().json.dominio;\n\nlet cleanDomain = String(rawDomain)\n  .toLowerCase()\n  .replace(/^https?:\\/\\//, '')  // Remove http:// ou https://\n  .replace(/^www\\./, '')         // Remove www.\n  .replace(/\\/$/, '')            // Remove trailing slash\n  .trim();\n\nreturn {\n  clean_domain: cleanDomain,\n  original_domain: rawDomain\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3744,704],"id":"5086faac-46ff-477a-adf9-e39ff70655ad","name":"Normalizar Domínio"},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.deal.list.json","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"%UF_CRM_1709745928\": \"{{ $json.clean_domain }}\",\n    \"CATEGORY_ID\": 32\n  },\n  \"select\": [ \"ID\", \"STAGE_ID\", \"CLOSED\", \"CLOSEDATE\", \"DATE_CREATE\" ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3504,720],"id":"f8e77fac-5e6f-49a8-a938-5fc601c75dfb","name":"Verificar Deal por Website"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Selecionar contatos","type":"main","index":0}]]},"empresa existe?":{"main":[[{"node":"(Set ID Existente)","type":"main","index":0}],[{"node":"Cria Company no Bitrix","type":"main","index":0}]]},"empresa existe?1":{"main":[[{"node":"empresa existe?","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}],[{"node":"criar contato","type":"main","index":0}]]},"Cria Company no Bitrix":{"main":[[{"node":"Set (Set ID Nova)","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Tem contatos?","type":"main","index":0}]]},"Call 'Registrar logs'1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Selecionar contatos":{"main":[[{"node":"normalizar contatos e criar payload","type":"main","index":0}]]},"normalizar contatos e criar payload":{"main":[[{"node":"empresa existe?1","type":"main","index":0}]]},"buscar contatos qualificados":{"main":[[{"node":"payload para criação de contato","type":"main","index":0}]]},"criar contato":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"payload para criação de contato":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Buscar empresas com erros ativos1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Adicionar contato","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"REsultado dos contatos":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Tem contatos?":{"main":[[{"node":"Cria Deal no Bitrix2","type":"main","index":0}],[{"node":"Cria Deal no Bitrix1","type":"main","index":0}]]},"Cria Deal no Bitrix2":{"main":[[{"node":"REsultado dos contatos","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"normalizar1","type":"main","index":0}]]},"Adicionar contato":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"normalizar":{"main":[[{"node":"Merge","type":"main","index":1}]]},"normalizar1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Atualizar tabela empresa","type":"main","index":0}]]},"Cria Deal no Bitrix1":{"main":[[{"node":"normalizar","type":"main","index":0}]]},"Buscar empresas com erros ativos1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"(Set ID Existente)":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Set (Set ID Nova)":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Existe um deal ativo?","type":"main","index":0}]]},"Verificar Regras de Negocio":{"main":[[{"node":"Pode Criar Deal?","type":"main","index":0}]]},"Pode Criar Deal?":{"main":[[{"node":"buscar contatos qualificados","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Existe um deal ativo?":{"main":[[{"node":"Normalizar Domínio","type":"main","index":0}]]},"Atualizar tabela empresa":{"main":[[{"node":"Call 'Registrar logs'1","type":"main","index":0}]]},"Normalizar Domínio":{"main":[[{"node":"Verificar Deal por Website","type":"main","index":0}]]},"Verificar Deal por Website":{"main":[[{"node":"Verificar Regras de Negocio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}],"Schedule Trigger":[{"json":{"timestamp":"2026-01-16T08:40:14.008-03:00","Readable date":"January 16th 2026, 8:40:14 am","Readable time":"8:40:14 am","Day of week":"Friday","Year":"2026","Month":"January","Day of month":"16","Hour":"08","Minute":"40","Second":"14","Timezone":"America/Sao_Paulo (UTC-03:00)"}}],"Buscar empresas com erros ativos1":[{"json":{"id":4482,"dominio":"https://empresa-teste-webhook.com.br","nome_empresa_pagina":"Empresa Teste Webhook Ltda"}}]},"versionId":"d672542a-ef69-409e-a075-71c4745e1d80","triggerCount":1,"shared":[{"createdAt":"2025-09-24T20:33:50.896Z","updatedAt":"2025-09-24T20:33:50.896Z","role":"workflow:owner","workflowId":"2Cf2HczhDilOh1QE","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}