backups/sincronizar-ao-bitrix-2Cf2HczhDilOh1QE.json
{"createdAt":"2025-09-24T20:33:50.896Z","updatedAt":"2026-01-16T01:23:51.722Z","id":"2Cf2HczhDilOh1QE","name":"Sincronizar ao bitrix","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-6576,-624],"id":"bf928418-1e2a-44c1-b2a8-10b211da0b76","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-6128,-240],"id":"98af305d-36cc-4378-8d2b-6d6075ec6e9d","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"62bc84a1-4a67-41bc-8a2d-c4c652a62885","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5408,32],"id":"a027e706-05e9-4a1d-90a5-f38434ee3429","name":"empresa existe?"},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.company.list.json","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"WEB\": \"{{ $('Loop Over Items').first().json.dominio }}\"\n  },\n  \"select\": [ \"ID\", \"TITLE\", \"EMAIL\", \"PHONE\" ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5600,32],"id":"2f1a6dee-bfd6-481c-a6bd-d24fa9c933ae","name":"empresa existe?1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2864,-272],"id":"e15bb9fc-16ca-4680-809f-f312f32b077a","name":"Loop Over Items1"},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.company.add.json","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('normalizar contatos e criar payload').item.json.bitrix_payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5232,144],"id":"58ab71ea-0560-4ee3-aa81-679328edb9d9","name":"Cria Company no Bitrix"},{"parameters":{"jsCode":"// Pega todos os itens que chegaram no nó\nconst items = $input.all();\n\n// Extrai só os valores da chave \"result\"\nconst results = items.map(item => item.json.result);\n\n// Retorna como array no padrão do n8n\nreturn [\n  {\n    json: {\n      results\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2640,-448],"id":"bd2df5f1-3cb4-4f27-82da-9f887a1cb3cb","name":"Code in JavaScript1"},{"parameters":{"workflowId":{"__rl":true,"value":"L8onGgCjpQMMsL42","mode":"list","cachedResultName":"Registrar logs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.dominio }}","status":"success","empresa_id":"='{{ $json.id }}'","to_status":"=","canal":"crm bitrix","workflow_name":"Sincronizar ao bitrix","destinatario":"=vendedor","from_status":"=","template_usado":"=","action_type":"enviado-bitrix","reason":"=deal criada no bitrix para vendedor explorar oportunidade","dia_atual_na_cadencia":0,"user_agent":"sistema"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_status","displayName":"from_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"to_status","displayName":"to_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinatario","displayName":"destinatario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_agent","displayName":"user_agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ip_origem","displayName":"ip_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa_cadencia","displayName":"etapa_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"template_usado","displayName":"template_usado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dia_atual_na_cadencia","displayName":"dia_atual_na_cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-560,192],"id":"38c9a058-9632-4a76-a248-cd84f6e2d280","name":"Call 'Registrar logs'1"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contatos_empresa","mode":"list","cachedResultName":"contatos_empresa"},"where":{"values":[{"column":"empresa_id","value":"={{ $('Loop Over Items').item.json.id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6000,16],"id":"cb9b743f-3879-4adb-9874-5ac89f2ad101","name":"Selecionar contatos","alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"jsCode":"// --- Código unificado: agrupa contatos + monta payload Bitrix ---\n// tenta pegar o array via expressão (se disponível) senão usa items[0].json\nlet payloadArray;\ntry {\n  payloadArray = (typeof $ === 'function' || typeof $ === 'object') ? $('Loop Over Items').first().json : undefined;\n} catch (e) {\n  payloadArray = undefined;\n}\nif (!payloadArray) payloadArray = items[0]?.json;\n\n// src: primeiro item do array ou objeto (contém os dados da empresa do nó 'Buscar empresas com erros ativos')\nconst src = Array.isArray(payloadArray) ? payloadArray[0] : (payloadArray || {});\n\n// ---------- helpers ----------\nconst firstNonEmpty = (...vals) => {\n  for (const v of vals) {\n    if (v !== undefined && v !== null) {\n      const s = (typeof v === 'string') ? v.trim() : v;\n      if (s !== '' && s !== '[]' && s !== 'null') return s;\n    }\n  }\n  return null;\n};\n\nfunction nameFromUrl(url) {\n  try {\n    if (!url) return null;\n    let maybe = String(url).trim();\n    if (!/^https?:\\\\/i.test(maybe)) {\n      maybe = (maybe.startsWith('www.') ? 'https://' + maybe : 'https://' + maybe);\n    }\n    const u = new URL(maybe);\n    const host = u.hostname.replace(/^www\\\\./i, '');\n    const firstPart = host.split('.')[0];\n    return firstPart ? (firstPart.charAt(0).toUpperCase() + firstPart.slice(1)) : host;\n  } catch (e) {\n    return null;\n  }\n}\n\nfunction safeParseArray(s) {\n  if (!s) return [];\n  if (Array.isArray(s)) return s;\n  try {\n    const parsed = JSON.parse(s);\n    return Array.isArray(parsed) ? parsed : [parsed].filter(Boolean);\n  } catch (e) {\n    if (typeof s === 'string') {\n      return s.split(',').map(x => x.trim()).filter(Boolean);\n    }\n    return [];\n  }\n}\n\nconst normalizePhone = p => ('' + p).replace(/[^\\\\d+]/g, '');\n\n// ---------- Parte A: lógica de contatos (seu código antigo) ----------\n// Objeto final que o nó vai retornar.\nconst output = {\n  todosOsContatosDaEmpresa: {\n    emails: [],\n    telefones: []\n  },\n  contatosQualificadosParaCriar: []\n};\n\n// Um objeto temporário para agrupar pessoas.\nconst pessoasAgrupadas = {};\n\n// Pega todos os .json dos itens de entrada (do nó 'Selecionar contatos')\nlet contatosDoBanco = [];\ntry {\n  if (typeof $items === 'function') {\n    contatosDoBanco = $items().map(item => item.json);\n  } else {\n    contatosDoBanco = items.map(i => i.json);\n  }\n} catch (e) {\n  // fallback: se nada veio, tenta usar src como único contato\n  if (src && Object.keys(src).length) contatosDoBanco = [src];\n}\n\n// Loop para processar cada contato da lista.\nfor (const contato of contatosDoBanco) {\n  if (!contato) continue;\n\n  const emailValido = contato.valor_contato && !contato.valor_contato.endsWith('@fakeexample.com');\n\n  // --- Parte 1: Agrupar TODOS os e-mails e telefones --\n  if (contato.tipo_contato === 'email') {\n    // [FILTRO APLICADO] Só adiciona se for um e-mail válido\n    if (emailValido) {\n      output.todosOsContatosDaEmpresa.emails.push({\n        VALUE: contato.valor_contato,\n        VALUE_TYPE: 'WORK'\n      });\n    }\n  } else if (contato.tipo_contato === 'whatsapp' || contato.tipo_contato === 'telefone') {\n    output.todosOsContatosDaEmpresa.telefones.push({\n      VALUE: contato.valor_contato,\n      VALUE_TYPE: 'WORK'\n    });\n  }\n\n  // --- Parte 2: Filtrar e preparar os contatos qualificados (Pessoas) ---\n  const classificacao = contato.classificacao_contato;\n  const fonte = contato.fonte_contato || '';\n\n  if ((classificacao === 'A' || classificacao === 'B') && fonte.includes('apollo')) {\n    const nomeKey = contato.nome_contato || (`sem_nome_${contato.valor_contato || Math.random()}`);\n    if (!pessoasAgrupadas[nomeKey]) {\n      pessoasAgrupadas[nomeKey] = {\n        nome: contato.nome_contato ? contato.nome_contato.split(' ')[0] : '',\n        sobrenome: contato.nome_contato ? contato.nome_contato.split(' ').slice(1).join(' ') : '',\n        cargo: contato.cargo || contato.apollo_job_title || '',\n        linkedin: contato.linkedin_url || '',\n        emails: [],\n        telefones: []\n      };\n    }\n\n    if (contato.tipo_contato === 'email') {\n      // [FILTRO APLICADO] Só adiciona se for um e-mail válido\n      if (emailValido) {\n        pessoasAgrupadas[nomeKey].emails.push({\n          VALUE: contato.valor_contato,\n          VALUE_TYPE: 'WORK'\n        });\n      }\n    } else if (contato.tipo_contato === 'whatsapp' || contato.tipo_contato === 'telefone') {\n      pessoasAgrupadas[nomeKey].telefones.push({\n        VALUE: contato.valor_contato,\n        VALUE_TYPE: 'WORK'\n      });\n    }\n  }\n}\n\n// Salva os contatos qualificados\noutput.contatosQualificadosParaCriar = Object.values(pessoasAgrupadas);\n\n// ---------- Parte B: lógica de empresa (preparação do payload) ----------\n// pega dados de scraping do src (o primeiro item)\nconst candidateName = firstNonEmpty(\n  src.nome_empresa_gmn,\n  src.nome_empresa_pagina,\n  src.nome_empresa,\n  src.gmn_name,\n  src.apollo_organization_name // Adicionado fallback para nome do Apollo\n);\nconst fallbackFromDomain = nameFromUrl(firstNonEmpty(src.dominio, src.gmn_website, src.url_inicial));\nconst companyName = candidateName || fallbackFromDomain || 'Empresa sem nome';\n\nconst domainValue = firstNonEmpty(src.dominio, src.gmn_website, src.url_inicial);\n\n// telefones/emails vindos do scraping bruto\nconst scrapingPhones = safeParseArray(src.telefones_scraping).map(p => ({ VALUE: normalizePhone(p), VALUE_TYPE: 'WORK' }));\n// [FILTRO APLICADO] Filtra os e-mails do scraping\nconst scrapingEmails = safeParseArray(src.emails_scraping)\n  .filter(e => e && !e.endsWith('@fakeexample.com'))\n  .map(e => ({ VALUE: e, VALUE_TYPE: 'WORK' }));\n\n// telefones/emails agregados pelo seu processamento (prioridade)\n// 'output.todosOsContatosDaEmpresa.emails' JÁ FOI FILTRADO na Parte A\n// 'scrapingEmails' JÁ FOI FILTRADO logo acima\nconst aggregatedPhones = Array.isArray(output.todosOsContatosDaEmpresa.telefones) && output.todosOsContatosDaEmpresa.telefones.length\n  ? output.todosOsContatosDaEmpresa.telefones\n  : scrapingPhones;\n\nconst aggregatedEmails = Array.isArray(output.todosOsContatosDaEmpresa.emails) && output.todosOsContatosDaEmpresa.emails.length\n  ? output.todosOsContatosDaEmpresa.emails\n  : scrapingEmails;\n\n// WEB: Adiciona o domínio principal + o LinkedIn do Apollo\nconst webField = [];\nif (domainValue) {\n  webField.push({ VALUE: domainValue, VALUE_TYPE: 'WORK' });\n}\nconst apolloLinkedin = firstNonEmpty(src.apollo_linkedin_url);\nif (apolloLinkedin) {\n  webField.push({ VALUE: apolloLinkedin, VALUE_TYPE: 'LINKEDIN' });\n}\n\n// ASSIGNED_BY_ID: tenta usar um campo vindo do item (assigned_by_id), se não existir usa fallback\nconst firstItem = contatosDoBanco[0] || {};\nconst assignedBy = firstItem.assigned_by_id || firstItem.user_id || src.assigned_by_id || 6662; // ajuste se necessário\n\n// [ATUALIZADO] Monta o objeto FIELDS exatamente como a API do Bitrix espera\nconst companyFields = {\n  TITLE: companyName,\n  COMPANY_TYPE: \"CUSTOMER\",\n  WEB: webField,\n  PHONE: aggregatedPhones,\n  EMAIL: aggregatedEmails, // Esta lista agora está filtrada\n  SOURCE_ID: \"ISSUEMPER\",\n  COMMENTS: `Erro: ${src.nome_erro || firstItem.nome_erro || ''} - ${src.detalhes_erro_payload || firstItem.detalhes_erro_payload || ''}`,\n  ASSIGNED_BY_ID: Number(assignedBy || 6662),\n  OPENED: \"Y\",\n\n  // --- [INÍCIO] NOVOS CAMPOS ADICIONADOS (Apollo + GMN) ---\n\n  // Mapeamento Direto do Apollo (Campos Padrão Bitrix)\n  REVENUE: (firstNonEmpty(src.apollo_annual_revenue) && !isNaN(Number(src.apollo_annual_revenue))) \n    ? Number(src.apollo_annual_revenue) \n    : null,\n  \n  INDUSTRY: firstNonEmpty(src.apollo_industry),\n\n  // [ATUALIZADO] Mapeando N° de Funcionários para AMBOS os campos\n  EMPLOYEES: firstNonEmpty(src.apollo_estimated_employees) ? String(src.apollo_estimated_employees) : null,\n  UF_CRM_1706038190620: firstNonEmpty(src.apollo_estimated_employees) ? String(src.apollo_estimated_employees) : null,\n\n  // Endereço (usando GMN e Apollo)\n  ADDRESS: firstNonEmpty(src.gmn_endereco), // Endereço principal (do GMN)\n  ADDRESS_CITY: firstNonEmpty(src.apollo_city), // Cidade (do Apollo)\n  ADDRESS_PROVINCE: firstNonEmpty(src.apollo_state), // Estado (do Apollo)\n  ADDRESS_COUNTRY: firstNonEmpty(src.apollo_country), // País (do Apollo)\n\n  // Mapeamento de Campos Customizados (UFs)\n  // UF_CRM_1695654680334 = Razão Social\n  UF_CRM_1695654680334: firstNonEmpty(src.apollo_organization_name), \n  \n  // --- [INÍCIO] ATUALIZAÇÃO CAMPO DESCRIÇÃO (UF_CRM_1645104897) ---\n  // UF_CRM_1645104897 = Descrição\n  // Não pode ser array. Vamos formatar como texto.\n  UF_CRM_1645104897: (() => {\n    const keywords = src.apollo_keywords;\n    const technologies = src.apollo_technologies;\n    const descriptionParts = [];\n\n    if (Array.isArray(keywords) && keywords.length > 0) {\n      // Limita a 30 keywords para legibilidade e junta com \", \"\n      const keywordsToShow = keywords.slice(0, 30).join(', ');\n      descriptionParts.push(`Keywords: ${keywordsToShow}${keywords.length > 30 ? '...' : ''}`);\n    }\n\n    if (Array.isArray(technologies) && technologies.length > 0) {\n      // Junta tecnologias com \", \"\n      const techToShow = technologies.join(', ');\n      descriptionParts.push(`Tecnologias: ${techToShow}`);\n    }\n    \n    // Retorna a string unida por quebra de linha (\"\\n\"), ou null se vazia\n    return descriptionParts.length > 0 ? descriptionParts.join('\\n') : null;\n  })(),\n  // --- [FIM] ATUALIZAÇÃO CAMPO DESCRIÇÃO ---\n\n  // --- [FIM] NOVOS CAMPOS ADICIONADOS ---\n};\n\n// adiciona campo custom domain, se tivermos (já existia)\n// Tentei usar UF_CRM_DOMAIN mas não vi na sua lista de campos. \n// Se você tiver um campo customizado para \"Domínio\", substitua 'UF_CRM_DOMAIN' abaixo.\n// Por exemplo, se for 'UF_CRM_12345678', troque.\nif (domainValue) companyFields.UF_CRM_DOMAIN = domainValue;\n\n// opcional: metadados para debug (já existia)\ncompanyFields.__source_payload_id = src.id || null;\ncompanyFields.__source_domain = domainValue || null;\n\n// Montagens dos payloads (duas formas para usar conforme seu flow)\nconst bitrix_payload = {\n  fields: companyFields,\n  params: {\n    REGISTER_SONET_EVENT: \"Y\"\n  }\n};\n\n// formato alternativo (alguns usuários preferem FIELDS maiúsculo) — mantive para compatibilidade\nconst payloadToSend = {\n  FIELDS: companyFields\n};\n\n// --- Retorno final (para o próximo node) ---\nreturn [\n  {\n    json: {\n      ok: true,\n      output,                 // seus contatos agrupados + qualificados\n      payloadToSend,          // formato FIELDS (legacy)\n      bitrix_payload,         // formato { fields, params } para crm.company.add\n      raw_source: src,\n      debug: {\n        sampleTitle: companyName,\n        scrapingPhonesCount: scrapingPhones.length,\n        aggregatedPhonesCount: aggregatedPhones.length,\n        scrapingEmailsCount: aggregatedEmails.length,\n        aggregatedEmailsCount: aggregatedEmails.length\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5808,32],"id":"171c9966-d75b-4308-8748-a47cbe2056a5","name":"normalizar contatos e criar payload"},{"parameters":{"assignments":{"assignments":[{"id":"32f155aa-9b4f-48b9-b7e8-ae7580fa792a","name":"contatosQualificadosParaCriar","value":"={{ $('normalizar contatos e criar payload').item.json.output.contatosQualificadosParaCriar }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3312,-272],"id":"03a468ae-c364-4d64-b12f-4d19c305f1e9","name":"buscar contatos qualificados","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.contact.add.json","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payloadToSend }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2400,-96],"id":"5f245473-1225-4304-9768-bf8cbcd7dc24","name":"criar contato","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Function node: prepara payload para crm.contact.add (1 item por contato)\n// Adiciona o domínio empresarial vindo de $('Loop Over Items').first().json\n// e mantém LinkedIn + sites do contato. Retorna 1 item por contato com payloadToSend.\n\nconst itemsIn = $items();\nconst outputs = [];\n\n// ---------- helpers ----------\nconst firstNonEmpty = (...vals) => {\n  for (const v of vals) {\n    if (v !== undefined && v !== null) {\n      const s = (typeof v === 'string') ? v.trim() : v;\n      if (s !== '' && s !== '[]' && s !== 'null') return s;\n    }\n  }\n  return null;\n};\nconst normalizePhone = p => ('' + p).replace(/[^\\d+]/g, '');\nconst safeParseArray = s => {\n  if (!s) return [];\n  if (Array.isArray(s)) return s;\n  try {\n    const parsed = JSON.parse(s);\n    return Array.isArray(parsed) ? parsed : [parsed].filter(Boolean);\n  } catch (e) {\n    if (typeof s === 'string') return s.split(',').map(x => x.trim()).filter(Boolean);\n    return [];\n  }\n};\nconst uniqByValue = arr => {\n  const seen = new Set();\n  return (arr || []).filter(o => {\n    const v = o && o.VALUE ? String(o.VALUE).trim() : '';\n    if (!v) return false;\n    if (seen.has(v)) return false;\n    seen.add(v);\n    return true;\n  });\n};\n\n// ---------- pegar dados da empresa via $('Loop Over Items').first().json ----------\nlet companyLoop = null;\ntry {\n  // usa a expressão que você informou funcionar no seu fluxo\n  if (typeof $ === 'function' || typeof $ === 'object') {\n    try { companyLoop = $('Loop Over Items').first().json; } catch (e) { companyLoop = null; }\n  }\n} catch (e) {\n  companyLoop = null;\n}\n\n// fallbacks caso não encontre com $('Loop Over Items')\nif (!companyLoop && itemsIn.length) {\n  // tenta achar em itemsIn[0] se ele for o que contém o company info\n  const candidate = itemsIn[0].json || {};\n  // se candidate parece ser o objeto grande (com dominio/gmn_website), usa ele\n  if (candidate.dominio || candidate.gmn_website || candidate.url_inicial) companyLoop = candidate;\n}\n\n// extrai domínio da empresa (prioridade como você pediu)\nconst companyDomainFromLoop = firstNonEmpty(\n  companyLoop?.dominio,\n  companyLoop?.gmn_website,\n  companyLoop?.url_inicial,\n  companyLoop?.website,\n  companyLoop?.gmn_website // repetido por segurança\n) || null;\n\n// também extrai nome/endereço/rating caso queira usar nos comments\nconst companyTitleFromLoop = firstNonEmpty(\n  companyLoop?.nome_empresa_pagina,\n  companyLoop?.nome_empresa_gmn,\n  companyLoop?.nome_empresa\n) || null;\nconst companyAddressFromLoop = firstNonEmpty(companyLoop?.gmn_endereco, companyLoop?.endereco, companyLoop?.address) || null;\nconst companyPlaceIdFromLoop = firstNonEmpty(companyLoop?.gmn_place_id, companyLoop?.place_id) || null;\nconst companyRatingFromLoop = (companyLoop && companyLoop.gmn_rating !== undefined && companyLoop.gmn_rating !== null) ? companyLoop.gmn_rating : null;\n\n// tenta companyId do node \"Cria Company no Bitrix\" (se existir)\nlet companyIdFromNode = null;\ntry {\n  if (typeof $node !== 'undefined' && $node['Cria Company no Bitrix'] && $node['Cria Company no Bitrix'].json) {\n    const n = $node['Cria Company no Bitrix'].json;\n    companyIdFromNode = n.result?.ID || n.result || n.companyId || n.COMPANY_ID || n.ID || null;\n  }\n} catch (e) {\n  companyIdFromNode = null;\n}\n\n// ---------- processa cada item (cada item contém contatosQualificadosParaCriar + possivelmente dados da empresa) ----------\nfor (const item of itemsIn) {\n  const body = item.json || {};\n\n  // contatos do item\n  const contatos =\n    body.contatosQualificadosParaCriar ||\n    body.output?.contatosQualificadosParaCriar ||\n    body.payload?.contatosQualificadosParaCriar ||\n    body.contatosQualificados ||\n    [];\n\n  // tenta extrair companyId deste item (se já criado anteriormente)\n  const candidateCompanyId =\n    body.COMPANY_ID ||\n    body.companyId ||\n    body.company_id ||\n    body.result?.ID ||\n    body.createCompanyResult?.result?.ID ||\n    body.createCompanyResult?.ID ||\n    null;\n  const companyId = candidateCompanyId || companyIdFromNode || null;\n\n  // prioridade de domínio: se no loop específico houver domínio, usa; senão usa o do item\n  const companyDomain = companyDomainFromLoop || firstNonEmpty(body.dominio, body.gmn_website, body.url_inicial, body.website) || null;\n  const companyTitle = companyTitleFromLoop || firstNonEmpty(body.nome_empresa_pagina, body.nome_empresa_gmn, body.nome_empresa, body.company_title) || null;\n  const companyAddress = companyAddressFromLoop || firstNonEmpty(body.gmn_endereco, body.endereco, body.address) || null;\n  const companyPlaceId = companyPlaceIdFromLoop || firstNonEmpty(body.gmn_place_id, body.place_id) || null;\n  const companyRating = companyRatingFromLoop || (body.gmn_rating !== undefined && body.gmn_rating !== null ? body.gmn_rating : null);\n\n  // aggregated contacts (opcional) — se você quiser priorizar estes para preencher contatos\n  const aggregatedEmails = Array.isArray(body.output?.todosOsContatosDaEmpresa?.emails) ? body.output.todosOsContatosDaEmpresa.emails : [];\n  const aggregatedPhones = Array.isArray(body.output?.todosOsContatosDaEmpresa?.telefones) ? body.output.todosOsContatosDaEmpresa.telefones : [];\n\n  // normaliza agregados\n  const normalizedAggEmails = aggregatedEmails.map(e => (typeof e === 'string' ? { VALUE: e, VALUE_TYPE: 'WORK' } : { VALUE: e.VALUE || e.value || '', VALUE_TYPE: e.VALUE_TYPE || e.value_type || 'WORK' })).filter(e=>e.VALUE);\n  const normalizedAggPhones = aggregatedPhones.map(p => (typeof p === 'string' ? { VALUE: normalizePhone(p), VALUE_TYPE: 'WORK' } : { VALUE: normalizePhone(p.VALUE || p.value || ''), VALUE_TYPE: p.VALUE_TYPE || p.value_type || 'WORK' })).filter(p=>p.VALUE);\n\n  // percorre contatos e monta payload individual\n  for (const contato of contatos) {\n    if (!contato) continue;\n\n    // emails/telefones do próprio contato\n    const contactEmailsRaw = Array.isArray(contato.emails) ? contato.emails : (contato.email ? [contato.email] : []);\n    const contactPhonesRaw = Array.isArray(contato.telefones) ? contato.telefones : (contato.telefone ? [contato.telefone] : []);\n\n    const contactEmails = contactEmailsRaw\n      .map(e => (typeof e === 'string' ? { VALUE: e, VALUE_TYPE: 'WORK' } : { VALUE: e.VALUE || e.value || '', VALUE_TYPE: e.VALUE_TYPE || e.value_type || 'WORK' }))\n      .filter(e => e.VALUE);\n\n    const contactPhones = contactPhonesRaw\n      .map(p => (typeof p === 'string' ? { VALUE: normalizePhone(p), VALUE_TYPE: 'WORK' } : { VALUE: normalizePhone(p.VALUE || p.value || ''), VALUE_TYPE: p.VALUE_TYPE || p.value_type || 'WORK' }))\n      .filter(p => p.VALUE);\n\n    // WEBs do contato: linkedin + websites do contato + site corporativo da empresa (APENAS o domínio empresarial, não o linkedin)\n    const contactWebs = [];\n\n    // linkedin (coloca como LINKEDIN)\n    const linkedin = firstNonEmpty(contato.linkedin, contato.linkedin_url, contato.linkedinUrl);\n    if (linkedin) contactWebs.push({ VALUE: linkedin, VALUE_TYPE: 'LINKEDIN' });\n\n    // sites especificos do contato (websites pode ser string/array/json)\n    const sitesContato = safeParseArray(contato.websites || contato.web || contato.website || contato.websites_scraping || []);\n    for (const w of sitesContato) {\n      if (w) contactWebs.push({ VALUE: w, VALUE_TYPE: 'WORK' });\n    }\n\n    // adicionar site corporativo (Website - Corporativo - No Contato)\n    if (companyDomain) {\n      // garantimos que companyDomain não seja o linkedin (alguns links sociais podem ter linkedin da company)\n      const lower = String(companyDomain).toLowerCase();\n      if (!lower.includes('linkedin.com')) {\n        contactWebs.push({ VALUE: companyDomain, VALUE_TYPE: 'WORK' });\n      }\n    }\n\n    // adicionar também links sociais do item (facebook/instagram/company linkedin) se existirem (body.links_sociais_scraping)\n    const socialLinks = safeParseArray(body.links_sociais_scraping || body.links_sociais || []);\n    for (const s of socialLinks) {\n      if (s && !String(s).toLowerCase().includes('linkedin.com')) contactWebs.push({ VALUE: s, VALUE_TYPE: 'WORK' });\n      // se for linkedin social da empresa, vamos manter em WORK para o contato também (mas já temos o linkedin do contato)\n    }\n\n    // dedupe webs/emails/phones\n    const finalWebs = uniqByValue(contactWebs);\n    const finalEmails = uniqByValue((contactEmails || []).concat(normalizedAggEmails));\n    const finalPhones = uniqByValue((contactPhones || []).concat(normalizedAggPhones));\n\n    // split nome/sobrenome se necessário (se usuário enviar full name)\n    let nome = contato.nome || contato.firstName || '';\n    let sobrenome = contato.sobrenome || contato.lastName || contato.LAST_NAME || '';\n    if (!nome && contato.nome_completo) {\n      const parts = (contato.nome_completo + '').split(' ').filter(Boolean);\n      nome = parts.shift() || '';\n      sobrenome = parts.join(' ') || sobrenome;\n    }\n\n    // montar comments com info extra (address, place_id, rating, origem)\n    const commentsArr = [];\n    if (contato.origem) commentsArr.push(`Origem: ${contato.origem}`);\n    if (companyTitle) commentsArr.push(`Empresa: ${companyTitle}`);\n    if (companyAddress) commentsArr.push(`Endereço empresa: ${companyAddress}`);\n    if (companyPlaceId) commentsArr.push(`gmn_place_id: ${companyPlaceId}`);\n    if (companyRating !== null) commentsArr.push(`gmn_rating: ${companyRating}`);\n    if (contato.observacoes) commentsArr.push(`Obs: ${contato.observacoes}`);\n    const COMMENTS = commentsArr.join(' | ');\n\n    // monta fields para crm.contact.add\n    const fields = {\n      NAME: nome,\n      LAST_NAME: sobrenome,\n      SECOND_NAME: contato.segundo_nome || contato.middleName || '',\n      POST: contato.cargo || contato.post || contato.title || '',\n      EMAIL: finalEmails,\n      PHONE: finalPhones,\n      WEB: finalWebs,\n      SOURCE_ID: contato.source_id || 'ISSUEMAPPER_APOLLO',\n      ASSIGNED_BY_ID: Number(item.json.ASSIGNED_BY_ID || item.json.assigned_by_id || item.json.assignedBy || 6662),\n      COMMENTS: COMMENTS || (contato.comentarios || contato.notes || '')\n    };\n\n    // COMPANY_ID se existir\n    if (companyId) fields.COMPANY_ID = Number(companyId);\n\n    // inclui campo custom temporário com o site da empresa (substitua por UF_CRM_... se quiser)\n    if (companyDomain) fields.__company_website = companyDomain;\n\n    // payload final pronto para HTTP Request node do Bitrix\n    const payloadToSend = { FIELDS: fields };\n\n    // retorna o item para o próximo node (HTTP Request)\n    outputs.push({\n      json: {\n        payloadToSend,\n        originalContact: contato,\n        debug: {\n          companyIdUsed: companyId || null,\n          companyDomain,\n          companyTitle,\n          emailsCount: finalEmails.length,\n          phonesCount: finalPhones.length,\n          websCount: finalWebs.length\n        }\n      }\n    });\n  } // fim for contatos\n} // fim for itemsIn\n\nreturn outputs;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3088,-272],"id":"324c4ca2-07cf-4f21-b841-5d2c46ef9f34","name":"payload para criação de contato","alwaysOutputData":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":40}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-6896,-240],"id":"e404e305-7c9c-4e7d-b97e-e441687bf547","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5904,-336],"id":"46b351fb-2b11-4e44-abdb-43ba7b793550","name":"No Operation, do nothing"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1632,-848],"id":"6099e674-ea8a-4576-aaba-72b3f14075a3","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1312,-848],"id":"e01730f4-cd5a-4a85-91a8-699d76a3fdde","name":"Loop Over Items2"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-576,-432],"id":"e77a9a89-e400-4697-84af-46a595d3b071"},{"parameters":{"assignments":{"assignments":[{"id":"5a700e43-dd0e-4afa-874b-63f555b836f2","name":"results","value":"={{ $('Code in JavaScript1').item.json.results }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1888,-800],"id":"9cd500d9-30d2-4b25-83c6-2c5770b4e8d4","name":"REsultado dos contatos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff5276b2-ec7c-48f8-9e6d-5403a89200af","leftValue":"={{ $json.results[0] }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2416,-448],"id":"bb6f79c4-f05d-411d-aeed-73b978712f73","name":"Tem contatos?"},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.deal.add.json","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"TITLE\": \"{{ $('Loop Over Items').first().json.dominio }} - Erro {{ $('Loop Over Items').first().json.nome_erro }}\",\n    \"CATEGORY_ID\": 32,\n    \"COMPANY_ID\": \"{{ $('Merge1').first().json.bitrix_company_id }}\",\n    \"ASSIGNED_BY_ID\": \"6662\",\n    \"OPPORTUNITY\": \"\",\n    \"CURRENCY_ID\": \"BRL\",\n    \"SOURCE_ID\": \"ISSUEMAPPER\",\n    \"UF_CRM_1709745928\": \"{{ $('Loop Over Items').first().json.dominio }}\",\n    \"UF_CRM_NOVO_ID_RAZAO_SOCIAL\": \"{{ $('Loop Over Items').first().json.apollo_organization_name }}\",\n    \"UF_CRM_1706038449500\": \"{{ String($('Loop Over Items').first().json.apollo_estimated_employees || '') }}\",\n    \"UF_CRM_642ED8B515527\": \"{{ (() => { const src = $('Loop Over Items').first().json; const keywords = src.apollo_keywords; const technologies = src.apollo_technologies; const descriptionParts = []; if (Array.isArray(keywords) && keywords.length > 0) { const keywordsToShow = keywords.slice(0, 30).join(', '); descriptionParts.push(`Keywords: ${keywordsToShow}${keywords.length > 30 ? '...' : ''}`); } if (Array.isArray(technologies) && technologies.length > 0) { const techToShow = technologies.join(', '); descriptionParts.push(`Tecnologias: ${techToShow}`); } return descriptionParts.length > 0 ? descriptionParts.join('\\\\n') : null; })() }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2096,-784],"id":"18ec7947-b9be-49cb-abd8-711926111123","name":"Cria Deal no Bitrix2"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-608,-1024],"id":"a5a9e8de-a53f-445d-ab31-e5b19125aa16","name":"Aggregate"},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.deal.contact.add.json","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"id\": \"{{ $('Cria Deal no Bitrix2').item.json.result }}\",\n  \"fields\": {\n    \"CONTACT_ID\": \"{{ $json.results }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-928,-688],"id":"86897c92-e716-41b5-8d0a-2e018458584f","name":"Adicionar contato"},{"parameters":{"assignments":{"assignments":[{"id":"ef61dfe1-1a1a-4c4c-b91e-3f4028094a85","name":"deal_id","value":"={{ $json.result }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,-192],"id":"d50d4146-6e28-48ee-858c-a182389e41c8","name":"normalizar"},{"parameters":{"assignments":{"assignments":[{"id":"ef61dfe1-1a1a-4c4c-b91e-3f4028094a85","name":"deal_id","value":"={{ $('Cria Deal no Bitrix2').first().json.result }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,-608],"id":"6682bbb8-1a0b-4c10-99e2-751b8935aef5","name":"normalizar1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1344,-432],"id":"cdd6f249-1911-48ed-b33f-d8a41b2cbb41","name":"Merge"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  e.*, -- O asterisco (*) pega TODAS as colunas da tabela \"empresas\"\n  ee.tipo_erro_site,\n  ee.nome_erro,\n  ee.detalhes_erro_payload\nFROM empresas e\nINNER JOIN eventos_erro ee ON e.id = ee.empresa_id\nWHERE ee.status_processamento_evento = 'novo_nao_processado'\n  AND e.bitrix_company_id IS NULL -- Garante que ainda não foi pro Bitrix;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6560,240],"id":"4e254012-2c9e-40c4-a4cf-08f3290ed8d9","name":"Buscar empresas com erros ativos","alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.company.fields","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6368,-624],"id":"c6063a11-0168-4e64-8d19-3d6dcfc01556","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.deal.add.json","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"TITLE\": \"{{ $('Loop Over Items').first().json.dominio }} - Erro {{ $('Loop Over Items').first().json.nome_erro }}\",\n    \"CATEGORY_ID\": 32,\n    \"COMPANY_ID\": \"{{ $('Merge1').first().json.bitrix_company_id }}\",\n    \"ASSIGNED_BY_ID\": \"6662\",\n    \"OPPORTUNITY\": \"\",\n    \"CURRENCY_ID\": \"BRL\",\n    \"SOURCE_ID\": \"ISSUEMAPPER\",\n    \"UF_CRM_1709745928\": \"{{ $('Loop Over Items').first().json.dominio }}\",\n    \"UF_CRM_NOVO_ID_RAZAO_SOCIAL\": \"{{ $('Loop Over Items').first().json.apollo_organization_name }}\",\n    \"UF_CRM_1706038449500\": \"{{ String($('Loop Over Items').first().json.apollo_estimated_employees || '') }}\",\n    \"UF_CRM_642ED8B515527\": \"{{ (() => { const src = $('Loop Over Items').first().json; const keywords = src.apollo_keywords; const technologies = src.apollo_technologies; const descriptionParts = []; if (Array.isArray(keywords) && keywords.length > 0) { const keywordsToShow = keywords.slice(0, 30).join(', '); descriptionParts.push(`Keywords: ${keywordsToShow}${keywords.length > 30 ? '...' : ''}`); } if (Array.isArray(technologies) && technologies.length > 0) { const techToShow = technologies.join(', '); descriptionParts.push(`Tecnologias: ${techToShow}`); } return descriptionParts.length > 0 ? descriptionParts.join('\\\\n') : null; })() }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1968,-288],"id":"e4d876a9-1580-45fd-bbe7-bd3420528c2a","name":"Cria Deal no Bitrix1"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  e.*, -- Pega todas as colunas da empresa\n  ee.tipo_erro_site,\n  ee.nome_erro,\n  ee.detalhes_erro_payload\nFROM\n  empresas e\nINNER JOIN\n  eventos_erro ee ON e.id = ee.empresa_id\nWHERE\n  -- Regra 1: O evento de erro deve ser novo\n  ee.status_processamento_evento = 'novo_nao_processado'\n\n  -- Regra 2: A empresa deve estar apta para cadência\n  AND e.status_cadencia_geral = 'apta_para_nova_cadencia'\n\n  -- Regra 3: A empresa não pode estar em pausa\n  AND (\n    e.timestamp_proxima_tentativa_permitida IS NULL\n    OR e.timestamp_proxima_tentativa_permitida <= NOW()\n  )\n\n  -- Regra 4 (NOVA): O evento de erro foi criado nas últimas 15 horas\n  AND ee.data_criacao >= NOW() - INTERVAL '15 hours';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6480,-256],"id":"21ed4394-13ea-422a-aff8-0104a21170d0","name":"Buscar empresas com erros ativos1","alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"assignments":{"assignments":[{"id":"fdbd2f47-e56e-464a-9d2b-44589f79dcf7","name":"bitrix_company_id","value":"={{ $('Loop Over Items').first().json.bitrix_company_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5152,-144],"id":"00210123-c4aa-40a5-8cc3-fa31a447acb0","name":"(Set ID Existente)"},{"parameters":{"assignments":{"assignments":[{"id":"fdbd2f47-e56e-464a-9d2b-44589f79dcf7","name":"bitrix_company_id","value":"={{ $json.result }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5024,144],"id":"be436d14-ede5-45e7-826e-bc2bf497328c","name":"Set (Set ID Nova)"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-4784,-48],"id":"d51e2a7c-5c8d-4527-a9dd-6688e3ea5d25","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"29b09725-386c-43f7-8ff4-a6917a35aa51","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3632,80],"id":"83bb1860-d2c5-413a-92e7-3e35422775ae","name":"Pode Criar Deal?"},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.deal.list.json","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"COMPANY_ID\": \"{{ $json.bitrix_company_id }}\",\n    \"CATEGORY_ID\": 32,\n    \"CLOSED\": \"N\"\n  },\n  \"select\": [ \"ID\" ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4528,-96],"id":"48b2cd77-e327-43a7-afd7-cf72503e1f51","name":"Existe um deal ativo?","alwaysOutputData":true},{"parameters":{"operation":"executeQuery","query":"UPDATE empresas\nSET\n  bitrix_sync_status = 'synced',\n  bitrix_company_id = '{{ $('Merge1').first().json.bitrix_company_id }}',\n  bitrix_deal_id = '{{ $json.deal_id }}',\n  bitrix_company_created_at = NOW()\nWHERE\n  id = {{ $('Loop Over Items').first().json.id }}\n  RETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1056,-416],"id":"053c72da-0292-4912-9b73-8750839949fb","name":"Atualizar tabela empresa","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"jsCode":"// Normaliza o domínio removendo protocolo, www, e trailing slash\nconst rawDomain = $input.first().json.dominio || $('Loop Over Items').first().json.dominio;\n\nlet cleanDomain = String(rawDomain)\n  .toLowerCase()\n  .replace(/^https?:\\/\\//, '')  // Remove http:// ou https://\n  .replace(/^www\\./, '')         // Remove www.\n  .replace(/\\/$/, '')            // Remove trailing slash\n  .trim();\n\nreturn {\n  clean_domain: cleanDomain,\n  original_domain: rawDomain\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4320,-96],"id":"d2d43ef4-82ae-4915-97b2-04cd72e98643","name":"Normalizar Domínio"},{"parameters":{"method":"POST","url":"https://digitalpixel.bitrix24.com.br/rest/1/2yfxwn2un78ymb26/crm.deal.list.json","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"%UF_CRM_1709745928\": \"{{ $json.clean_domain }}\",\n    \"CATEGORY_ID\": 32,\n    \"CLOSED\": \"N\"\n  },\n  \"select\": [ \"ID\" ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4080,-80],"id":"c5133767-9e03-4087-bb42-3799583b491e","name":"Verificar Deal por Website"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Selecionar contatos","type":"main","index":0}]]},"empresa existe?":{"main":[[{"node":"(Set ID Existente)","type":"main","index":0}],[{"node":"Cria Company no Bitrix","type":"main","index":0}]]},"empresa existe?1":{"main":[[{"node":"empresa existe?","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}],[{"node":"criar contato","type":"main","index":0}]]},"Cria Company no Bitrix":{"main":[[{"node":"Set (Set ID Nova)","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Tem contatos?","type":"main","index":0}]]},"Call 'Registrar logs'1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Selecionar contatos":{"main":[[{"node":"normalizar contatos e criar payload","type":"main","index":0}]]},"normalizar contatos e criar payload":{"main":[[{"node":"empresa existe?1","type":"main","index":0}]]},"buscar contatos qualificados":{"main":[[{"node":"payload para criação de contato","type":"main","index":0}]]},"criar contato":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"payload para criação de contato":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Buscar empresas com erros ativos1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Adicionar contato","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"REsultado dos contatos":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Tem contatos?":{"main":[[{"node":"Cria Deal no Bitrix2","type":"main","index":0}],[{"node":"Cria Deal no Bitrix1","type":"main","index":0}]]},"Cria Deal no Bitrix2":{"main":[[{"node":"REsultado dos contatos","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"normalizar1","type":"main","index":0}]]},"Adicionar contato":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"normalizar":{"main":[[{"node":"Merge","type":"main","index":1}]]},"normalizar1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Atualizar tabela empresa","type":"main","index":0}]]},"Cria Deal no Bitrix1":{"main":[[{"node":"normalizar","type":"main","index":0}]]},"Buscar empresas com erros ativos1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"(Set ID Existente)":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Set (Set ID Nova)":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Existe um deal ativo?","type":"main","index":0}]]},"Pode Criar Deal?":{"main":[[{"node":"buscar contatos qualificados","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Existe um deal ativo?":{"main":[[{"node":"Normalizar Domínio","type":"main","index":0}]]},"Atualizar tabela empresa":{"main":[[{"node":"Call 'Registrar logs'1","type":"main","index":0}]]},"Normalizar Domínio":{"main":[[{"node":"Verificar Deal por Website","type":"main","index":0}]]},"Verificar Deal por Website":{"main":[[{"node":"Pode Criar Deal?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}],"Schedule Trigger":[{"json":{"timestamp":"2026-01-14T08:40:10.012-03:00","Readable date":"January 14th 2026, 8:40:10 am","Readable time":"8:40:10 am","Day of week":"Wednesday","Year":"2026","Month":"January","Day of month":"14","Hour":"08","Minute":"40","Second":"10","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"7aab560d-79db-43aa-a17f-94aa6d20542b","triggerCount":1,"shared":[{"createdAt":"2025-09-24T20:33:50.896Z","updatedAt":"2025-09-24T20:33:50.896Z","role":"workflow:owner","workflowId":"2Cf2HczhDilOh1QE","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}