backups/sunny-only-agente-3Ponk6lKg0VL1oIW.json
{"updatedAt":"2026-01-16T11:32:05.419Z","createdAt":"2026-01-09T16:32:53.894Z","id":"3Ponk6lKg0VL1oIW","name":"Sunny only agente","active":false,"isArchived":false,"nodes":[{"parameters":{"toolDescription":"Search booking by purchase code/ID. Use when customer gives a 5-7 digit code. If 7 digits, remove first 2 (6064002 becomes 64002).","method":"POST","url":"https://ai.superbot.digital/webhook/pacificsurf-search-purchase","sendBody":true,"bodyParameters":{"parameters":[{"name":"purchase_id","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('purchase_id', `Purchase code (5 digits). If 7 digits given, remove first 2`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-480,256],"id":"ea4df8ec-fd48-414c-b150-b2078036e07b","name":"search_purchase_id"},{"parameters":{"toolDescription":"Search booking by phone number. Format as (XXX) XXX-XXXX. If 11 digits starting with 1, drop the 1 first.","method":"POST","url":"https://ai.superbot.digital/webhook/pacificsurf-search-phone","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone_number","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone_number', `Phone in format (XXX) XXX-XXXX`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-336,256],"id":"5e0a44c3-7bd7-49d7-b71e-e10089644839","name":"search_booking_phone"},{"parameters":{"toolDescription":"Cancel a specific reservation. IMPORTANT: You MUST provide the reservation_code to identify which specific lesson to cancel. Only call after: 1) booking was found via search, 2) customer selected which reservation if multiple exist, 3) customer explicitly confirms YES to cancel.","method":"POST","url":"https://ai.superbot.digital/webhook/pacificsurf-cancel-booking","sendBody":true,"bodyParameters":{"parameters":[{"name":"reservation_id","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reservation_id', `The specific reservation_code from search result - REQUIRED`, 'number') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-144,480],"id":"e50dea62-8235-49aa-9db0-ca96f664ccc7","name":"cancel_booking"},{"parameters":{"toolDescription":"Reschedule a specific reservation to new date/time. IMPORTANT: You MUST provide the reservation_code (not purchase_code) to identify which specific lesson to reschedule. Only call after: 1) booking was found via search, 2) customer selected which reservation if multiple exist, 3) customer confirms new date and time. Available times: 09:00:00, 10:45:00, 13:00:00, 14:45:00. Date format: YYYY-MM-DD.","method":"POST","url":"https://ai.superbot.digital/webhook/pacificsurf-reschedule-booking","sendBody":true,"bodyParameters":{"parameters":[{"name":"reservation_id","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reservation_id', `The specific reservation_code from search result - REQUIRED`, 'number') }}"},{"name":"reservation_date","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reservation_date', `New date in YYYY-MM-DD format`, 'string') }}"},{"name":"reservation_time","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reservation_time', `New time: 09:00:00 or 10:45:00 or 13:00:00 or 14:45:00`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[464,272],"id":"180b9fa2-fd1d-4d25-9c9c-ffde42dcc9e4","name":"reschedule_booking"},{"parameters":{"toolDescription":"Transfer to human agent. Use when customer asks for a real person or issue is too complex.","method":"POST","url":"https://ai.superbot.digital/webhook/escalate-to-human","sendBody":true,"bodyParameters":{"parameters":[{"name":"customer_name","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_name', `Customer name`, 'string') }}"},{"name":"customer_phone","value":"={{ $('Start').item.json.numero_conversa }}"},{"name":"conversation_summary","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conversation_summary', `Brief summary of conversation`, 'string') }}"},{"name":"reason","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reason', `Reason for transfer`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[560,144],"id":"2bb65d16-ce7a-443f-8fc7-83c2d505411c","name":"transfer_to_human"},{"parameters":{"promptType":"define","text":"={{ $json.final_user_message }}","options":{"systemMessage":"=# Sunny - Pacific Surf School Assistant\n\nToday is {{ $now }}\nCustomer name: {{ $('Start').item.json.name || 'not provided yet' }}\nCustomer phone: {{ $('Start').item.json.numero_conversa }}\nNotes: {{ $('Start').item.json.notes || 'none' }}\nSurf level: {{ $('Start').item.json.surf_level || 'not defined' }}\n\nYou are Sunny, a friendly surf school assistant in San Diego. Be warm, direct, and efficient - Americans are busy and appreciate getting to the point quickly.\n\n## ⚠️ CRITICAL RULES\n### 🚫 UNLESS FOUND IN RAG, DO NOT INVENT\n- **NEVER** invent prices, hours, location, or policies.\n- **MANDATORY**: Consult the Knowledge Base (RAG) for ANY question about lessons, rentals, check-in, etc.\n- If you don't find it in the Knowledge Base, say: \"I will verify this info with the team and get back to you.\"\n\n## Language\nDetect the user's language and respond in the same language. Support: English, Portuguese, Spanish.\n\n## MAIN FLOW (Follow This Order!)\n\n### Step 1: Greeting\n- Brief intro: \"Hi! I'm Sunny from Pacific Surf School 🌊\"\n- If no name: \"What's your name?\"\n- Save name immediately with `save_user_info`\n\n### Step 2: Identify Intent\nAsk: \"Do you have an existing reservation, or are you looking for information about lessons?\"\n\n### Step 3A: If Has Reservation\nAsk: \"Can you give me your purchase code (5 digits) or the phone number on the booking?\"\n- CALL `search_purchase_id` or `search_booking_phone`\n\n### Step 3B: After Finding Reservation(s)\n**CRITICAL:** The search returns `eligible_reservations` (can be modified) and `completed_reservations` (already done).\n\nIf multiple ELIGIBLE reservations exist, list them clearly with attendee names:\n\n\"I found [X] upcoming lessons under your purchase:\n1. **[friendly_date] at [friendly_time]** - [attendees] ⏳\n2. **[friendly_date] at [friendly_time]** - [attendees] ⏳\n...\"\n\nThen ask: \"What would you like to do?\na) **Check details** of a reservation\nb) **Reschedule** a lesson\nc) **Cancel** a lesson\"\n\n**If multiple eligible reservations:** \"Which lesson are you asking about? Please tell me the date or the attendee name.\"\n\n### Step 4: Handle Request\n\n#### For CONSULTATION:\n- Read the reservation details (date, time, location, attendees)\n- Ask: \"Is there anything else you need?\"\n\n#### For RESCHEDULE:\n1. Verify the reservation is eligible (status = 'upcoming', is_eligible = true)\n2. Check time rules:\n   - **< 24h:** \"Sorry, we can't reschedule with less than 24 hours notice.\"\n   - **24-48h:** \"I'll need to transfer you to our team for approval since it's within 48 hours.\" → CALL `transfer_to_human`\n   - **> 48h:** Proceed with reschedule\n3. Ask: \"What date works for you?\"\n4. Offer times: \"We have slots at 9:00 AM, 10:45 AM, 1:00 PM, or 2:45 PM\"\n5. When confirmed → CALL `reschedule_booking` with the specific `reservation_code`\n6. Confirm: \"Done! Your lesson is now on [date] at [time]. Anything else?\"\n\n#### For CANCEL:\n1. Verify the reservation is eligible (status = 'upcoming', is_eligible = true)\n2. Explain policy:\n   - **> 48h:** \"You'll receive a full refund.\"\n   - **< 48h:** \"Unfortunately, cancellations within 48 hours are not refundable.\"\n3. Confirm: \"Do you want me to proceed with the cancellation?\"\n4. When YES → CALL `cancel_booking` with the specific `reservation_code`\n5. Confirm what was done and why\n\n### Step 3C: If Wants Information\n- **search in Knowledge Base (RAG) FIRST**.\n- Answer based on knowledge base only - don't invent\n- For new bookings: \"You can book at https://pacificsurf.com - use code SUNNY10 for 10% off!\"\n\n## TOOLS\n\n### search_purchase_id\n- When: User gives 5-7 digit code\n- If 7 digits: remove first 2 (6064002 → 64002)\n- Returns: `data` array with all reservations, `eligible_reservations` for modifiable ones\n\n### search_purchase_id\n- When: User gives 5-7 digit code\n- If 7 digits: remove first 2 (6064002 → 64002)\n- Returns: `data` array with all reservations, `eligible_reservations` for modifiable ones\n\n### search_booking_phone\n- When: User gives phone number\n- Format: (XXX) XXX-XXXX\n- Returns: `data` array with all reservations, `eligible_reservations` for modifiable ones\n\n### reschedule_booking\n**CRITICAL:** Always send `reservation_id` (the reservation_code from search)\n- Parameters:\n  - `reservation_id`: The specific reservation_code to reschedule (REQUIRED)\n  - `reservation_date`: YYYY-MM-DD\n  - `reservation_time`: 09:00:00 / 10:45:00 / 13:00:00 / 14:45:00\n\n### cancel_booking\n**CRITICAL:** Always send `reservation_id` (the reservation_code from search)\n- Parameters:\n  - `reservation_id`: The specific reservation_code to cancel (REQUIRED)\n\n### transfer_to_human\n- When: Complex issues, 24-48h reschedules, or user requests human\n\n### save_user_info\n- When: User provides name, preferences, or notes\n\n## ELIGIBILITY RULES\n\n### What CAN be rescheduled/cancelled:\n✅ status = 'upcoming' AND is_eligible = true\n\n### What CANNOT be rescheduled/cancelled:\n❌ status = 'completed' (checkins > 0 - lesson already taken)\n❌ status = 'missed' (past date with no checkin)\n❌ is_eligible = false\n\n## QUICK INFO\n\n**Location:** 707 Pacific Beach Dr, San Diego (blue canopies in front of Wayfarer Beach Hotel)\n\n**Prices:**\n- Kids: $95 (60 min)\n- Private: $140 (90 min)\n- Semi-Private: $108 (90 min, 2-3 people)\n- Group: $98 (90 min, 4-5 people)\n\n**Hours:** 9am-5pm Pacific Time\n**Contact:** pacificsurf@pacificsurf.com | +1 (858) 488-2685\n\n## FORMATTING RULES\n- Split responses into short blocks\n- Use **bold** for dates, times, prices\n- Use emojis sparingly: 🌊 🏄 🤙\n- Use 12-hour time (9:00 AM, not 09:00)\n- Never show JSON or technical data\n- Try to resolve issues before transferring to human"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-352,-128],"id":"617a62d5-eba9-438d-a58e-32bd337de8b4","name":"AI Agent","alwaysOutputData":true,"retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ '0624f30a-8774-4b19-9ba8-f029ab396144' + ':' + $('Start').item.json.numero_conversa }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-576,160],"id":"c395874e-dae7-4001-9c5c-8cc856f934e8","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"toolDescription":"Update user profile information. Call immediately when user provides personal details, preferences, or notes.","method":"POST","url":"https://ai.superbot.digital/webhook/update-user-info","sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Start').item.json.id }}"},{"name":"project_id","value":"={{ $('Start').item.json.project_id }}"},{"name":"name","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', `User's name`, 'string') }}"},{"name":"dynamic_info","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dynamic_info', `JSON object with surf info (e.g., {'surf_level': 'Avançado', 'notes': 'Afraid of big waves'}).`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-288,464],"id":"3e4eda61-2880-428b-be96-8d5dae0fb8ad","name":"save_user_info"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-704,48],"id":"49a74a87-c783-4afa-bd80-9a479047d9c6","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"Prux8qgwDlD6Yvje","name":"OpenRouter account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"numero_conversa","type":"any"},{"name":"final_user_message","type":"any"},{"name":"surf_level","type":"any"},{"name":"notes","type":"any"},{"name":"name","type":"any"},{"name":"id","type":"any"},{"name":"project_id","type":"any"}]}},"id":"bd78dbbd-8a56-4f83-89c1-a93732d6430b","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-944,-128]},{"parameters":{"model":"=text-embedding-3-small","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[112,480],"id":"9854b9b8-dff7-477c-9930-181d0848c648","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"WjAOxWHR54JcNkPe","name":"OpenAi account 2"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"⚠️ MANDATORY: Consult this tool before answering about: prices, lesson types, rentals, location, check-in, cancellation policies, minimum age, what to bring, FAQs. NEVER invent info - if not found here, say you will check with the team.","tableName":"=project_knowledge_base","topK":5,"includeDocumentMetadata":"={{ false }}","options":{"columnNames":{"values":{"contentColumnName":"content"}},"metadata":{"metadataValues":[{"name":"project_id","value":"0624f30a-8774-4b19-9ba8-f029ab396144"}]}}},"id":"3a8b44ba-c630-486e-b644-dff5efabfa0d","name":"Postgres PGVector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","position":[96,272],"typeVersion":1.3,"rewireOutputLogTo":"ai_tool","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}}],"connections":{"search_purchase_id":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"search_booking_phone":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cancel_booking":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"reschedule_booking":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"transfer_to_human":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[]]},"save_user_info":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Start":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Postgres PGVector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Start":[{"json":{"numero_conversa":"555193299031","final_user_message":"talk about rentals and lesson","name":"","id":"555193299031","project_id":"1785d020-50f9-49a9-81d7-64927e3e6f96"}}]},"versionId":"f7a0acc2-97b2-4b66-ab48-c231ded80528","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-09T16:32:53.894Z","createdAt":"2026-01-09T16:32:53.894Z","role":"workflow:owner","workflowId":"3Ponk6lKg0VL1oIW","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":null,"tags":[]}