backups/superbot---rag-manager-api-Szxp5JJ1CivEgHX6.json
{"updatedAt":"2026-01-06T21:15:42.160Z","createdAt":"2026-01-06T14:32:23.655Z","id":"Szxp5JJ1CivEgHX6","name":"Superbot - RAG Manager API","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"rag-manager","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-928,80],"id":"228fd953-d4cf-40d3-a5eb-7a813166911d","name":"Webhook (API)","webhookId":"18948f33-6995-4ff4-b79b-918602bccb7d"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","type":"string"},"conditions":[{"id":"is-list","leftValue":"={{ $json.body.action }}","rightValue":"list","operator":{"type":"string","operation":"equals","name":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","type":"string"},"conditions":[{"id":"is-delete","leftValue":"={{ $json.body.action }}","rightValue":"delete","operator":{"type":"string","operation":"equals","name":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","type":"string"},"conditions":[{"id":"is-get-projects","leftValue":"={{ $json.body.action }}","rightValue":"get_projects","operator":{"type":"string","operation":"equals","name":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","type":"string"},"conditions":[{"id":"is-delete-all","leftValue":"={{ $json.body.action }}","rightValue":"delete_all","operator":{"type":"string","operation":"equals","name":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3,"position":[-704,80],"id":"a85471fb-82fe-4281-9ab4-bbc9d2644454","name":"Action Router"},{"parameters":{"operation":"executeQuery","query":"SELECT id, content, metadata, created_at \nFROM public.project_knowledge_base \nWHERE project_id = '{{ $json.body.project_id }}'::uuid\nORDER BY metadata->>'title', (metadata->>'chunk_index')::int NULLS FIRST, created_at DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-448,-64],"id":"a124cd27-47cb-464a-8e6b-8c47139cba24","name":"List Documents","alwaysOutputData":false,"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM public.project_knowledge_base \nWHERE id = '{{ $json.body.id }}'::uuid \nAND project_id = '{{ $json.body.project_id }}'::uuid;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-448,80],"id":"825239d6-355f-4103-91d9-e1a74984db4f","name":"Delete Document","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT p.id, p.project_slug, c.name as company_name \nFROM public.projects p\nJOIN public.companies c ON p.company_id = c.id\nORDER BY c.name;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-448,224],"id":"d439c973-402b-4ab3-8040-be6c2b9a6369","name":"Get Projects","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM public.project_knowledge_base \nWHERE project_id = '{{ $json.body.project_id }}'::uuid\nRETURNING id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-448,368],"id":"665efa66-7be3-4ea9-b995-d889d8756c05","name":"Delete All Documents","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-176,80],"id":"7b106a1b-36bb-448b-9115-97400cc81dfd","name":"Aggregate"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[48,80],"id":"ddfa844c-f7a7-4d0d-828b-a27e3518d68c","name":"Respond to Webhook"}],"connections":{"Webhook (API)":{"main":[[{"node":"Action Router","type":"main","index":0}]]},"Action Router":{"main":[[{"node":"List Documents","type":"main","index":0}],[{"node":"Delete Document","type":"main","index":0}],[{"node":"Get Projects","type":"main","index":0}],[{"node":"Delete All Documents","type":"main","index":0}]]},"List Documents":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Delete Document":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Get Projects":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Delete All Documents":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4d926cd1-fb93-4740-8652-d68faebc4766","activeVersionId":"4d926cd1-fb93-4740-8652-d68faebc4766","triggerCount":1,"shared":[{"updatedAt":"2026-01-06T14:32:23.655Z","createdAt":"2026-01-06T14:32:23.655Z","role":"workflow:owner","workflowId":"Szxp5JJ1CivEgHX6","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-06T17:24:24.056Z","createdAt":"2026-01-06T17:24:24.056Z","versionId":"4d926cd1-fb93-4740-8652-d68faebc4766","workflowId":"Szxp5JJ1CivEgHX6","nodes":[{"parameters":{"httpMethod":"POST","path":"rag-manager","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-928,80],"id":"228fd953-d4cf-40d3-a5eb-7a813166911d","name":"Webhook (API)","webhookId":"18948f33-6995-4ff4-b79b-918602bccb7d"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","type":"string"},"conditions":[{"id":"is-list","leftValue":"={{ $json.body.action }}","rightValue":"list","operator":{"type":"string","operation":"equals","name":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","type":"string"},"conditions":[{"id":"is-delete","leftValue":"={{ $json.body.action }}","rightValue":"delete","operator":{"type":"string","operation":"equals","name":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","type":"string"},"conditions":[{"id":"is-get-projects","leftValue":"={{ $json.body.action }}","rightValue":"get_projects","operator":{"type":"string","operation":"equals","name":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","type":"string"},"conditions":[{"id":"is-delete-all","leftValue":"={{ $json.body.action }}","rightValue":"delete_all","operator":{"type":"string","operation":"equals","name":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3,"position":[-704,80],"id":"a85471fb-82fe-4281-9ab4-bbc9d2644454","name":"Action Router"},{"parameters":{"operation":"executeQuery","query":"SELECT id, content, metadata, created_at \nFROM public.project_knowledge_base \nWHERE project_id = '{{ $json.body.project_id }}'::uuid\nORDER BY metadata->>'title', (metadata->>'chunk_index')::int NULLS FIRST, created_at DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-448,-64],"id":"a124cd27-47cb-464a-8e6b-8c47139cba24","name":"List Documents","alwaysOutputData":false,"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM public.project_knowledge_base \nWHERE id = '{{ $json.body.id }}'::uuid \nAND project_id = '{{ $json.body.project_id }}'::uuid;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-448,80],"id":"825239d6-355f-4103-91d9-e1a74984db4f","name":"Delete Document","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT p.id, p.project_slug, c.name as company_name \nFROM public.projects p\nJOIN public.companies c ON p.company_id = c.id\nORDER BY c.name;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-448,224],"id":"d439c973-402b-4ab3-8040-be6c2b9a6369","name":"Get Projects","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM public.project_knowledge_base \nWHERE project_id = '{{ $json.body.project_id }}'::uuid\nRETURNING id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-448,368],"id":"665efa66-7be3-4ea9-b995-d889d8756c05","name":"Delete All Documents","credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-176,80],"id":"7b106a1b-36bb-448b-9115-97400cc81dfd","name":"Aggregate"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[48,80],"id":"ddfa844c-f7a7-4d0d-828b-a27e3518d68c","name":"Respond to Webhook"}],"connections":{"Webhook (API)":{"main":[[{"node":"Action Router","type":"main","index":0}]]},"Action Router":{"main":[[{"node":"List Documents","type":"main","index":0}],[{"node":"Delete Document","type":"main","index":0}],[{"node":"Get Projects","type":"main","index":0}],[{"node":"Delete All Documents","type":"main","index":0}]]},"List Documents":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Delete Document":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Get Projects":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Delete All Documents":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[]}