backups/tool---envio-de-email-agendamento-PXLYjOoxNATb9qMs.json
{"updatedAt":"2026-01-02T15:44:44.289Z","createdAt":"2025-11-19T14:32:11.110Z","id":"PXLYjOoxNATb9qMs","name":"Tool - Envio de email agendamento","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"elevenlabs-sunny-email","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"b7372448-4ada-4b9a-937d-cfe126aebdde","name":"Webhook","webhookId":"50ad624b-768b-484c-aee8-c32c1e575b4b"},{"parameters":{"jsCode":"// Itera sobre os itens recebidos do Webhook\nreturn items.map(item => {\n  \n  // 1. Pega os dados vindos do Webhook\n  const clientName = item.json.body.name || \"Surfer\"; // Fallback caso o nome venha vazio\n  const clientEmail = item.json.body.email;\n\n  // 2. Cria o HTML usando Template String e injeta o nome na variável ${clientName}\n  // Nota: Removi a parte de \"Forwarded Message\" para o email parecer profissional e direto\n  const htmlEmail = `\n  <!DOCTYPE html>\n  <html>\n    <head>\n      <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\">\n    </head>\n    <body style=\"margin:0;padding:0;font-family:Arial,sans-serif;background-color:#f4f4f4\">\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f4f4f4;padding:20px 0\">\n        <tbody>\n          <tr>\n            <td align=\"center\">\n              <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#ffffff;border-radius:8px;overflow:hidden\">\n                <tbody>\n                  <tr>\n                    <td align=\"center\" style=\"padding:20px;background-color:#006699\"> \n                      <img src=\"https://i.imgur.com/Asnurof.png\" alt=\"Pacific Surf School\" style=\"max-width:200px; height:auto; display:block;\"> \n                    </td>\n                  </tr>\n                  <tr>\n                    <td style=\"padding:30px;color:#333333;font-size:16px;line-height:1.5\">\n                      <!-- AQUI O NOME É INSERIDO DINAMICAMENTE -->\n                      <p style=\"margin:0\">Hello <strong>${clientName}</strong>!</p>\n                      \n                      <p style=\"margin:15px 0 0 0\"> Ready to ride the waves? We’ve made it easy to book your next adventure with us. </p>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"center\" style=\"padding:20px\"> \n                      <a href=\"https://secure.pacificsurf.com/booking-now/?cu=JBS-674d9635e8a475e7dcad0d5f21529ffb&amp;af=JBA-3221628507c9badd2d396126314cbefe\" style=\"background-color:#28a745;color:#ffffff;text-decoration:none;padding:12px 24px;font-size:16px;border-radius:5px;display:inline-block\"> Book Your Surf Class </a>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"center\" style=\"padding:10px 20px 20px 20px\"> \n                      <a href=\"https://secure.pacificsurf.com/booking-now?cu=JBS-e4321fa805ca03a5c33e8ae2d319cbb8&amp;af=JBA-890e81db45577a1b8adf01ae7493ca09&amp;showall=S\" style=\"background-color:#007bff;color:#ffffff;text-decoration:none;padding:12px 24px;font-size:16px;border-radius:5px;display:inline-block\"> Rent Surf Equipment </a>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td style=\"padding:30px;color:#333333;font-size:16px;line-height:1.5\">\n                      <p style=\"margin:0 0 15px 0\"> Just pick the option that works best for you, choose your date and time, and you’ll be ready to hit the waves. </p>\n                      <p style=\"margin:0 0 15px 0\"> If you need any help or have questions, feel free to reply to this email — I’ll be happy to guide you. </p>\n                      <p style=\"margin:0\"> See you at the beach! 🌴🌊 </p>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"center\" style=\"padding:20px;font-size:12px;color:#999999;background-color:#f9f9f9\">\n                      © Pacific Surf School \n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </body>\n  </html>\n  `;\n\n  // 3. Retorna o objeto JSON pronto para o nó do Gmail/Outlook\n  return {\n    json: {\n      to_email: clientEmail,\n      email_subject: \"Pacific Surf - Booking System Links\",\n      email_body_html: htmlEmail\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"85d2221a-5d6c-44ae-a3e0-e29570add92c","name":"Code in JavaScript"},{"parameters":{"fromEmail":"Sunny <noreply@superbot.digital>","toEmail":"={{ $json.to_email }}","subject":"={{ $json.email_subject }}","html":"={{ $json.email_body_html }}","options":{"appendAttribution":false}},"id":"77037b0c-8404-4b88-bd1a-1a86d2917b21","name":"Enviar Email1","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[384,0],"webhookId":"90e3cadb-ef26-408e-bdcb-995f50040c7a","credentials":{"smtp":{"id":"ogzJewLaZMn0xj3c","name":"SMTP noreply@superbot.digital"}},"onError":"continueErrorOutput"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1056,-176],"id":"31021ac6-6cb5-489d-9b29-4274dafe6f6a","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"cdf66343-f3f8-4dc8-96d0-87b993a4767d","name":"Status","value":"Enviado com sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,-176],"id":"f0a37087-1c99-483f-b8e1-f5e051df9ae3","name":"Retorno sucesso"},{"parameters":{"assignments":{"assignments":[{"id":"cdf66343-f3f8-4dc8-96d0-87b993a4767d","name":"Status","value":"Erro no envio do email","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,80],"id":"461ea161-dd57-429a-8b24-bb7d28a71cdc","name":"Retorno falha"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":404}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1072,112],"id":"c571f308-c1cf-48fa-8f98-457687f5b5e4","name":"Respond to Webhook1"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Enviar Email1","type":"main","index":0}]]},"Enviar Email1":{"main":[[{"node":"Retorno sucesso","type":"main","index":0}],[{"node":"Retorno falha","type":"main","index":0}]]},"Retorno sucesso":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Retorno falha":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"ElevenLabs/1.0","content-length":"49","accept":"*/*","accept-encoding":"gzip, deflate, br","content-type":"application/json","x-forwarded-for":"34.59.11.47","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"34.59.11.47"},"params":{},"query":{},"body":{"email":"max3arteaga@gmail.com","name":"Max"},"webhookUrl":"https://ai.superbot.digital/webhook/elevenlabs-sunny-email","executionMode":"production"}}]},"versionId":"3674cef6-37c2-48f9-ae17-7a148f6b6d45","activeVersionId":"3674cef6-37c2-48f9-ae17-7a148f6b6d45","triggerCount":1,"shared":[{"updatedAt":"2025-11-19T14:32:11.110Z","createdAt":"2025-11-19T14:32:11.110Z","role":"workflow:owner","workflowId":"PXLYjOoxNATb9qMs","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-02T15:44:44.282Z","createdAt":"2026-01-02T15:44:44.282Z","versionId":"3674cef6-37c2-48f9-ae17-7a148f6b6d45","workflowId":"PXLYjOoxNATb9qMs","nodes":[{"parameters":{"httpMethod":"POST","path":"elevenlabs-sunny-email","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"b7372448-4ada-4b9a-937d-cfe126aebdde","name":"Webhook","webhookId":"50ad624b-768b-484c-aee8-c32c1e575b4b"},{"parameters":{"jsCode":"// Itera sobre os itens recebidos do Webhook\nreturn items.map(item => {\n  \n  // 1. Pega os dados vindos do Webhook\n  const clientName = item.json.body.name || \"Surfer\"; // Fallback caso o nome venha vazio\n  const clientEmail = item.json.body.email;\n\n  // 2. Cria o HTML usando Template String e injeta o nome na variável ${clientName}\n  // Nota: Removi a parte de \"Forwarded Message\" para o email parecer profissional e direto\n  const htmlEmail = `\n  <!DOCTYPE html>\n  <html>\n    <head>\n      <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\">\n    </head>\n    <body style=\"margin:0;padding:0;font-family:Arial,sans-serif;background-color:#f4f4f4\">\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f4f4f4;padding:20px 0\">\n        <tbody>\n          <tr>\n            <td align=\"center\">\n              <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#ffffff;border-radius:8px;overflow:hidden\">\n                <tbody>\n                  <tr>\n                    <td align=\"center\" style=\"padding:20px;background-color:#006699\"> \n                      <img src=\"https://i.imgur.com/Asnurof.png\" alt=\"Pacific Surf School\" style=\"max-width:200px; height:auto; display:block;\"> \n                    </td>\n                  </tr>\n                  <tr>\n                    <td style=\"padding:30px;color:#333333;font-size:16px;line-height:1.5\">\n                      <!-- AQUI O NOME É INSERIDO DINAMICAMENTE -->\n                      <p style=\"margin:0\">Hello <strong>${clientName}</strong>!</p>\n                      \n                      <p style=\"margin:15px 0 0 0\"> Ready to ride the waves? We’ve made it easy to book your next adventure with us. </p>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"center\" style=\"padding:20px\"> \n                      <a href=\"https://secure.pacificsurf.com/booking-now/?cu=JBS-674d9635e8a475e7dcad0d5f21529ffb&amp;af=JBA-3221628507c9badd2d396126314cbefe\" style=\"background-color:#28a745;color:#ffffff;text-decoration:none;padding:12px 24px;font-size:16px;border-radius:5px;display:inline-block\"> Book Your Surf Class </a>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"center\" style=\"padding:10px 20px 20px 20px\"> \n                      <a href=\"https://secure.pacificsurf.com/booking-now?cu=JBS-e4321fa805ca03a5c33e8ae2d319cbb8&amp;af=JBA-890e81db45577a1b8adf01ae7493ca09&amp;showall=S\" style=\"background-color:#007bff;color:#ffffff;text-decoration:none;padding:12px 24px;font-size:16px;border-radius:5px;display:inline-block\"> Rent Surf Equipment </a>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td style=\"padding:30px;color:#333333;font-size:16px;line-height:1.5\">\n                      <p style=\"margin:0 0 15px 0\"> Just pick the option that works best for you, choose your date and time, and you’ll be ready to hit the waves. </p>\n                      <p style=\"margin:0 0 15px 0\"> If you need any help or have questions, feel free to reply to this email — I’ll be happy to guide you. </p>\n                      <p style=\"margin:0\"> See you at the beach! 🌴🌊 </p>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"center\" style=\"padding:20px;font-size:12px;color:#999999;background-color:#f9f9f9\">\n                      © Pacific Surf School \n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </body>\n  </html>\n  `;\n\n  // 3. Retorna o objeto JSON pronto para o nó do Gmail/Outlook\n  return {\n    json: {\n      to_email: clientEmail,\n      email_subject: \"Pacific Surf - Booking System Links\",\n      email_body_html: htmlEmail\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"85d2221a-5d6c-44ae-a3e0-e29570add92c","name":"Code in JavaScript"},{"parameters":{"fromEmail":"Sunny <noreply@superbot.digital>","toEmail":"={{ $json.to_email }}","subject":"={{ $json.email_subject }}","html":"={{ $json.email_body_html }}","options":{"appendAttribution":false}},"id":"77037b0c-8404-4b88-bd1a-1a86d2917b21","name":"Enviar Email1","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[384,0],"webhookId":"90e3cadb-ef26-408e-bdcb-995f50040c7a","credentials":{"smtp":{"id":"ogzJewLaZMn0xj3c","name":"SMTP noreply@superbot.digital"}},"onError":"continueErrorOutput"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1056,-176],"id":"31021ac6-6cb5-489d-9b29-4274dafe6f6a","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"cdf66343-f3f8-4dc8-96d0-87b993a4767d","name":"Status","value":"Enviado com sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,-176],"id":"f0a37087-1c99-483f-b8e1-f5e051df9ae3","name":"Retorno sucesso"},{"parameters":{"assignments":{"assignments":[{"id":"cdf66343-f3f8-4dc8-96d0-87b993a4767d","name":"Status","value":"Erro no envio do email","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,80],"id":"461ea161-dd57-429a-8b24-bb7d28a71cdc","name":"Retorno falha"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":404}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1072,112],"id":"c571f308-c1cf-48fa-8f98-457687f5b5e4","name":"Respond to Webhook1"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Enviar Email1","type":"main","index":0}]]},"Enviar Email1":{"main":[[{"node":"Retorno sucesso","type":"main","index":0}],[{"node":"Retorno falha","type":"main","index":0}]]},"Retorno sucesso":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Retorno falha":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[{"updatedAt":"2026-01-02T15:43:09.908Z","createdAt":"2026-01-02T15:43:09.908Z","id":"pgziJkRB2xHVUzON","name":"surf"}]}