backups/tool-elevenlabs-dentaly-search-appointment-n01PhkntLakyPsKa.json
{"updatedAt":"2026-01-05T15:44:14.439Z","createdAt":"2026-01-03T17:00:49.446Z","id":"n01PhkntLakyPsKa","name":"TOOL elevenlabs-dentaly-search-appointment","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"elevenlabs-dentaly-search-appointment","responseMode":"responseNode","options":{}},"id":"7caaf6a4-0518-4ad5-97c9-7e959dfeeab8","name":"Webhook - ElevenLabs Search","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-96,-80],"webhookId":"04234351-94f4-40c8-9439-ddb3d8a02595"},{"parameters":{"url":"https://api.clinicorp.com/rest/v1/patient/get","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"subscriber_id","value":"dentaly"},{"name":"Phone","value":"={{ $json.body.phone_number }}"},{"name":"OtherDocumentId","value":"={{ $json.body.cpf }}"}]},"options":{}},"id":"99cb17a6-0f35-4fa8-848e-d82b822d9d85","name":"Clinicorp - Get Patient","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,-80],"credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}}},{"parameters":{"url":"https://api.clinicorp.com/rest/v1/patient/list_appointments","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"subscriber_id","value":"dentaly"},{"name":"PatientId","value":"={{ $json.PatientId }}"}]},"options":{}},"id":"d25439b1-8a77-4b0a-abd6-2ff2ec43fe3d","name":"Clinicorp - List Appointments","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,-80],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}}},{"parameters":{"jsCode":"const now = new Date();\nconst appointments = $input.all();\n\n// Filtra agendamentos futuros e ordena pelo mais próximo\nconst upcoming = appointments\n  .map(a => ({\n    id: a.json.id,\n    date: a.json.date,\n    time: a.json.fromTime,\n    rawDate: new Date(a.json.date)\n  }))\n  .filter(a => a.rawDate >= now)\n  .sort((a, b) => a.rawDate - b.rawDate);\n\nif (upcoming.length === 0) {\n  return [{ json: { found: false, message: \"Nenhum agendamento futuro encontrado.\" } }];\n}\n\nconst next = upcoming[0];\nreturn [{\n  json: {\n    found: true,\n    appointment_id: next.id,\n    date: next.date,\n    time: next.time,\n    formatted_message: `Você tem uma consulta para o dia ${new Date(next.date).toLocaleDateString('pt-BR')} às ${next.time}.`\n  }\n}];"},"id":"86851814-9a66-449d-b10d-85aa17dae14e","name":"Filtrar Próxima Consulta","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-80]},{"parameters":{"options":{}},"id":"4cba4da6-dc82-4102-9629-6584348f6890","name":"Responder ElevenLabs","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[768,-80]}],"connections":{"Webhook - ElevenLabs Search":{"main":[[{"node":"Clinicorp - Get Patient","type":"main","index":0}]]},"Clinicorp - Get Patient":{"main":[[{"node":"Clinicorp - List Appointments","type":"main","index":0}]]},"Clinicorp - List Appointments":{"main":[[{"node":"Filtrar Próxima Consulta","type":"main","index":0}]]},"Filtrar Próxima Consulta":{"main":[[{"node":"Responder ElevenLabs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook - ElevenLabs Search":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"axios/1.12.0","content-length":"31","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"phone_number":"555193299031"},"webhookUrl":"https://ai.superbot.digital/webhook/elevenlabs-dentaly-search-appointment","executionMode":"production"}}]},"versionId":"215d65b3-8b1c-4ecd-8c45-c8aa56062058","activeVersionId":"215d65b3-8b1c-4ecd-8c45-c8aa56062058","triggerCount":1,"shared":[{"updatedAt":"2026-01-03T17:00:49.446Z","createdAt":"2026-01-03T17:00:49.446Z","role":"workflow:owner","workflowId":"n01PhkntLakyPsKa","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-05T15:44:14.407Z","createdAt":"2026-01-05T15:44:14.407Z","versionId":"215d65b3-8b1c-4ecd-8c45-c8aa56062058","workflowId":"n01PhkntLakyPsKa","nodes":[{"parameters":{"httpMethod":"POST","path":"elevenlabs-dentaly-search-appointment","responseMode":"responseNode","options":{}},"id":"7caaf6a4-0518-4ad5-97c9-7e959dfeeab8","name":"Webhook - ElevenLabs Search","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-96,-80],"webhookId":"04234351-94f4-40c8-9439-ddb3d8a02595"},{"parameters":{"url":"https://api.clinicorp.com/rest/v1/patient/get","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"subscriber_id","value":"dentaly"},{"name":"Phone","value":"={{ $json.body.phone_number }}"},{"name":"OtherDocumentId","value":"={{ $json.body.cpf }}"}]},"options":{}},"id":"99cb17a6-0f35-4fa8-848e-d82b822d9d85","name":"Clinicorp - Get Patient","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,-80],"credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}}},{"parameters":{"url":"https://api.clinicorp.com/rest/v1/patient/list_appointments","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"subscriber_id","value":"dentaly"},{"name":"PatientId","value":"={{ $json.PatientId }}"}]},"options":{}},"id":"d25439b1-8a77-4b0a-abd6-2ff2ec43fe3d","name":"Clinicorp - List Appointments","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,-80],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"Le6FXKFzermnVnZq","name":"clinicorp dentaly"}}},{"parameters":{"jsCode":"const now = new Date();\nconst appointments = $input.all();\n\n// Filtra agendamentos futuros e ordena pelo mais próximo\nconst upcoming = appointments\n  .map(a => ({\n    id: a.json.id,\n    date: a.json.date,\n    time: a.json.fromTime,\n    rawDate: new Date(a.json.date)\n  }))\n  .filter(a => a.rawDate >= now)\n  .sort((a, b) => a.rawDate - b.rawDate);\n\nif (upcoming.length === 0) {\n  return [{ json: { found: false, message: \"Nenhum agendamento futuro encontrado.\" } }];\n}\n\nconst next = upcoming[0];\nreturn [{\n  json: {\n    found: true,\n    appointment_id: next.id,\n    date: next.date,\n    time: next.time,\n    formatted_message: `Você tem uma consulta para o dia ${new Date(next.date).toLocaleDateString('pt-BR')} às ${next.time}.`\n  }\n}];"},"id":"86851814-9a66-449d-b10d-85aa17dae14e","name":"Filtrar Próxima Consulta","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-80]},{"parameters":{"options":{}},"id":"4cba4da6-dc82-4102-9629-6584348f6890","name":"Responder ElevenLabs","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[768,-80]}],"connections":{"Webhook - ElevenLabs Search":{"main":[[{"node":"Clinicorp - Get Patient","type":"main","index":0}]]},"Clinicorp - Get Patient":{"main":[[{"node":"Clinicorp - List Appointments","type":"main","index":0}]]},"Clinicorp - List Appointments":{"main":[[{"node":"Filtrar Próxima Consulta","type":"main","index":0}]]},"Filtrar Próxima Consulta":{"main":[[{"node":"Responder ElevenLabs","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[{"updatedAt":"2026-01-02T17:21:30.678Z","createdAt":"2026-01-02T17:21:30.678Z","id":"ZnlUtd5Un2HQcpz6","name":"dentaly"}]}