backups/tool---envio-de-email-promocional-WYLy0bRhDu25tWXq.json
{"updatedAt":"2026-01-02T15:43:57.424Z","createdAt":"2025-11-28T20:29:14.585Z","id":"WYLy0bRhDu25tWXq","name":"Tool - Envio de email promocional","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"promotional-email","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-976,-48],"id":"69245c33-731a-4ab8-afa7-5b578613cb8c","name":"Webhook","webhookId":"afc27766-cfe7-4e55-9133-ebc77f5afeb3"},{"parameters":{"assignments":{"assignments":[{"id":"campaign-title-id","name":"campaign_title","value":"Black Friday","type":"string"},{"id":"60300d87-3927-4163-bb68-9f927c8ac8c9","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"8476c6c7-ea14-469c-a5c2-c5b9ab848dc2","name":"name","value":"={{ $json.body.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-752,-48],"id":"6e0dc498-8fff-4377-afb2-bbe6b8de3afb","name":"Set Campaign Title"},{"parameters":{"jsCode":"// Itera sobre os itens recebidos\nreturn items.map(item => {\n  \n  // 1. Pega os dados vindos do Webhook e do Set node\n  const clientName = $input.first().json.name || \"Surfer\";\n  const clientEmail = $input.first().json.email;\n  const campaignTitle = $input.first().json.campaign_title || \"Black Friday + Cyber Monday VIP Surf Deal\";\n\n  // 2. Cria o HTML usando Template String\n  const htmlEmail = `\n  <!DOCTYPE html>\n  <html>\n    <head>\n      <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\">\n    </head>\n    <body style=\"margin:0;padding:0;font-family:Arial,sans-serif;background-color:#f4f4f4\">\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f4f4f4;padding:20px 0\">\n        <tbody>\n          <tr>\n            <td align=\"center\">\n              <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#ffffff;border-radius:8px;overflow:hidden\">\n                <tbody>\n                  <tr>\n                    <td align=\"center\" style=\"padding:20px;background-color:#006699\"> \n                      <img src=\"https://i.imgur.com/Asnurof.png\" alt=\"Pacific Surf School\" style=\"max-width:200px; height:auto; display:block;\"> \n                    </td>\n                  </tr>\n                  <tr>\n                    <td style=\"padding:30px;color:#333333;font-size:16px;line-height:1.5\">\n                      <h1 style=\"color:#006699;text-align:center;margin-bottom:20px\">${campaignTitle}</h1>\n                      <p style=\"margin:0\">Hi <strong>${clientName}</strong>!</p>\n                      \n                      <p style=\"margin:15px 0 0 0\">\n                        Our <strong>Black Friday + Cyber Monday event</strong> is live, and I didn’t want you to miss it.\n                      </p>\n                      <p style=\"margin:10px 0 0 0\">\n                        Because you’re already a Pacific Surf client, you were randomly selected for our \n                        <strong>VIP early-access list</strong>.\n                      </p>\n                      <p style=\"margin:10px 0 0 0\">\n                        You now get <strong>30% off all our surf lessons</strong> — the biggest discount we offer all year.\n                      </p>\n                      \n                      <div style=\"background-color:#e3f2fd;border-left:4px solid #006699;padding:15px;margin:20px 0;\">\n                        <p style=\"margin:0;font-weight:bold;font-size:18px\">\n                          🌊 30% OFF all surf lessons — VIP offer\n                        </p>\n                        <p style=\"margin:8px 0 0 0\">\n                          Private lessons that normally cost \n                          <span style=\"text-decoration:line-through;color:#999\">$140</span> \n                          are now just <strong>$98</strong>.\n                        </p>\n                        <p style=\"margin:4px 0 0 0\">\n                          Group lessons for 5 people, normally \n                          <span style=\"text-decoration:line-through;color:#999\">$392</span>, \n                          are now <strong>$274</strong> when using the code \n                          <strong style=\"background:#fff;padding:2px 5px;border:1px dashed #006699\">SUNNY30</strong>.\n                        </p>\n                        <p style=\"margin:10px 0 0 0\">\n                          We released only a few discounted spots — and now \n                          <strong>only 11 remain</strong>. They’re being booked fast.\n                        </p>\n                      </div>\n\n                      <p style=\"margin:10px 0 0 0\">\n                        The discount is valid for <strong>online reservations made until 11:59 PM, Monday — December 1st</strong>,\n                        and the lessons can be used any time until <strong>June 1st, 2026</strong>.\n                      </p>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"center\" style=\"padding:20px\"> \n                      <a href=\"https://secure.pacificsurf.com/booking-now/?cu=JBS-674d9635e8a475e7dcad0d5f21529ffb&af=JBA-3221628507c9badd2d396126314cbefe\" style=\"background-color:#28a745;color:#ffffff;text-decoration:none;padding:12px 24px;font-size:16px;border-radius:5px;display:inline-block;margin-bottom:10px\">\n                        Secure Your Spot (30% OFF)\n                      </a>\n                      <br>\n                      <a href=\"https://secure.pacificsurf.com/booking-now?cu=JBS-e4321fa805ca03a5c33e8ae2d319cbb8&af=JBA-890e81db45577a1b8adf01ae7493ca09&showall=S\" style=\"background-color:#007bff;color:#ffffff;text-decoration:none;padding:12px 24px;font-size:16px;border-radius:5px;display:inline-block\">\n                        Rent Surf Equipment\n                      </a>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td style=\"padding:30px;color:#333333;font-size:16px;line-height:1.5\">\n                      <p style=\"margin:0\">See you at the beach! 🌴🌊</p>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"center\" style=\"padding:20px;font-size:12px;color:#999999;background-color:#f9f9f9\">\n                      © Pacific Surf School \n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </body>\n  </html>\n  `;\n\n  // 3. Retorna o objeto JSON pronto para o nó de envio de email\n  return {\n    json: {\n      to_email: clientEmail,\n      email_subject: `Pacific Surf - ${campaignTitle} 🌊`,\n      email_body_html: htmlEmail\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,-48],"id":"ab7affa8-04f4-4686-b46c-f3789551581e","name":"Generate HTML"},{"parameters":{"fromEmail":"Sunny <pacificsurf@superbot.digital>","toEmail":"={{ $('Set Campaign Title').item.json.email }}","subject":"={{ $json.email_subject }}","html":"={{ $json.email_body_html }}","options":{"appendAttribution":false}},"id":"0764b08a-0bf2-45e3-a604-55c0b277fbf1","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-320,-48],"webhookId":"d2e684e8-4d0c-4928-adc2-31daa73cc456","credentials":{"smtp":{"id":"5QaDH159hXXi6gxr","name":"SMTP surf hostinger"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"status-success","name":"Status","value":"Enviado com sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,-144],"id":"4b879595-e2f6-4808-8a88-1f371784a3e5","name":"Success Status"},{"parameters":{"assignments":{"assignments":[{"id":"status-error","name":"Status","value":"Erro no envio do email","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,64],"id":"ef1826fb-987c-45c7-b182-4b533515cdd4","name":"Error Status"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[128,-144],"id":"f4a2dcd5-d106-48b6-b8b8-fea84fd37832","name":"Respond Success"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":404}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[128,64],"id":"0814afaf-e403-4ac5-b222-bbbb91b19d29","name":"Respond Error"}],"connections":{"Webhook":{"main":[[{"node":"Set Campaign Title","type":"main","index":0}]]},"Set Campaign Title":{"main":[[{"node":"Generate HTML","type":"main","index":0}]]},"Generate HTML":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Success Status","type":"main","index":0}],[{"node":"Error Status","type":"main","index":0}]]},"Success Status":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Error Status":{"main":[[{"node":"Respond Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-n8n-start.gtzkxz.easypanel.host","user-agent":"ElevenLabs/1.0","content-length":"59","accept":"*/*","accept-encoding":"gzip, deflate, br","content-type":"application/json","x-forwarded-for":"34.59.11.47","x-forwarded-host":"n8n-n8n-start.gtzkxz.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"34.59.11.47"},"params":{},"query":{},"body":{"email":"diegovilson.1999@gmail.com","name":"Emilio Ricci"},"webhookUrl":"https://n8n-n8n-start.gtzkxz.easypanel.host/webhook/promotional-email","executionMode":"production"}}]},"versionId":"19e86526-1f10-46ad-9715-62522fe8fbf2","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-11-28T20:29:14.585Z","createdAt":"2025-11-28T20:29:14.585Z","role":"workflow:owner","workflowId":"WYLy0bRhDu25tWXq","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-01-02T15:43:09.908Z","createdAt":"2026-01-02T15:43:09.908Z","id":"pgziJkRB2xHVUzON","name":"surf"}]}