backups/update-user-info-563iMEudhA79ixvj.json
{"updatedAt":"2026-01-05T17:32:35.518Z","createdAt":"2025-12-09T17:55:42.436Z","id":"563iMEudhA79ixvj","name":"Update User Info","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"update-user-info","responseMode":"responseNode","options":{}},"id":"10ec8867-16d5-44c8-b942-857ed976e85b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[96,-48],"webhookId":"update-user-info"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"6c86daa4-4204-46c7-ab32-32918d5cebb0","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[640,-48]},{"parameters":{"operation":"executeQuery","query":"=UPDATE public.users SET name = CASE WHEN '{{ $json.body.name }}' = '' THEN name ELSE '{{ $json.body.name }}' END, metadata = CASE WHEN '{{ $json.body.dynamic_info }}' = '' THEN metadata ELSE metadata || '{{ $json.body.dynamic_info }}'::jsonb END, updated_at = NOW() WHERE id = '{{ $json.body.id }}' AND project_id = '{{ $json.body.project_id }}'::uuid RETURNING *;","additionalFields":{}},"id":"af72a9c4-0736-4e36-a37b-1c175c656434","name":"Update Postgres","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[384,-48],"retryOnFail":true,"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}},"onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"Update Postgres","type":"main","index":0}]]},"Update Postgres":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"ai.superbot.digital","user-agent":"axios/1.12.0","content-length":"63","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ai.superbot.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6ded5c78ff82","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"id":"555193299031","name":"Diego","surf_level":"","notes":""},"webhookUrl":"https://ai.superbot.digital/webhook/update-user-info","executionMode":"production"}}]},"versionId":"7cb64b50-92f6-4dbe-86ae-1789d8be19a8","activeVersionId":"7cb64b50-92f6-4dbe-86ae-1789d8be19a8","triggerCount":1,"shared":[{"updatedAt":"2025-12-09T17:55:42.436Z","createdAt":"2025-12-09T17:55:42.436Z","role":"workflow:owner","workflowId":"563iMEudhA79ixvj","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-05T14:24:08.206Z","createdAt":"2026-01-05T14:24:08.206Z","versionId":"7cb64b50-92f6-4dbe-86ae-1789d8be19a8","workflowId":"563iMEudhA79ixvj","nodes":[{"parameters":{"httpMethod":"POST","path":"update-user-info","responseMode":"responseNode","options":{}},"id":"10ec8867-16d5-44c8-b942-857ed976e85b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[96,-48],"webhookId":"update-user-info"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"6c86daa4-4204-46c7-ab32-32918d5cebb0","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[640,-48]},{"parameters":{"operation":"executeQuery","query":"=UPDATE public.users SET name = CASE WHEN '{{ $json.body.name }}' = '' THEN name ELSE '{{ $json.body.name }}' END, metadata = CASE WHEN '{{ $json.body.dynamic_info }}' = '' THEN metadata ELSE metadata || '{{ $json.body.dynamic_info }}'::jsonb END, updated_at = NOW() WHERE id = '{{ $json.body.id }}' AND project_id = '{{ $json.body.project_id }}'::uuid RETURNING *;","additionalFields":{}},"id":"af72a9c4-0736-4e36-a37b-1c175c656434","name":"Update Postgres","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[384,-48],"retryOnFail":true,"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}},"onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"Update Postgres","type":"main","index":0}]]},"Update Postgres":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[]}