backups/user-reset-handler-(#delete)-ceGAafiJH0IeuTgS.json
{"updatedAt":"2026-01-05T17:24:59.346Z","createdAt":"2026-01-05T15:03:11.141Z","id":"ceGAafiJH0IeuTgS","name":"User Reset Handler (#delete)","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"user-reset","responseMode":"responseNode","options":{}},"id":"feaab928-aadc-478a-9f40-41c4f942b324","name":"Webhook - Reset Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-176,48],"webhookId":"user-reset"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.message }}","operation":"equals","value2":"#delete"}]}},"id":"78cb0392-cd06-4e83-8306-9a6eaab92aa6","name":"Check if #delete","type":"n8n-nodes-base.if","typeVersion":1,"position":[64,48]},{"parameters":{"operation":"executeQuery","query":"=-- Limpar histórico de mensagens\nDELETE FROM public.message_history \nWHERE session_id = '{{ $json.body.phone_number }}';\n\n-- Limpar dados do usuário (metadata e nome)\nUPDATE public.users \nSET \n  name = '',\n  metadata = '{}'::jsonb,\n  updated_at = NOW()\nWHERE id = '{{ $json.body.phone_number }}' \n  AND project_id = '{{ $json.body.project_id }}'::uuid;\n\n-- Retornar confirmação\nSELECT \n  '{{ $json.body.phone_number }}' as user_id,\n  'reset_complete' as status,\n  NOW() as reset_at;","additionalFields":{}},"id":"756d028c-3370-40f7-a8e7-62a0522f425a","name":"Reset User Data (Postgres)","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[272,-32],"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"message\": \"Dados resetados com sucesso! Você pode começar uma nova conversa.\", \"user_id\": $json.user_id } }}","options":{}},"id":"7e8375a4-df1b-4efb-9035-d6d935e76341","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[496,-32]},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": false, \"message\": \"Comando inválido. Use exatamente '#delete' para resetar seus dados.\" } }}","options":{}},"id":"68ec8b40-f9c6-497b-9ee7-cb74ed2b8d4d","name":"Respond Invalid Command","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[496,128]}],"connections":{"Webhook - Reset Trigger":{"main":[[{"node":"Check if #delete","type":"main","index":0}]]},"Check if #delete":{"main":[[{"node":"Reset User Data (Postgres)","type":"main","index":0}],[{"node":"Respond Invalid Command","type":"main","index":0}]]},"Reset User Data (Postgres)":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"131c6197-df35-40d1-865d-330f919994ab","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T15:03:11.141Z","createdAt":"2026-01-05T15:03:11.141Z","role":"workflow:owner","workflowId":"ceGAafiJH0IeuTgS","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":null,"tags":[]}