backups/wf_apollo_enriquecimento-DCt4ntVufANWvV29.json
{"createdAt":"2025-07-03T21:19:11.380Z","updatedAt":"2026-01-16T20:29:04.243Z","id":"DCt4ntVufANWvV29","name":"WF_Apollo_Enriquecimento","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Acessa o primeiro item que chega ao nó, que contém todo o JSON da resposta do Apollo.\nconst searchResults = $input.first().json;\n\nconsole.log('=== PREPARANDO LISTA DE CONTATOS PARA A IA ===');\n\n// 1. VERIFICAÇÃO DE SEGURANÇA E EXTRAÇÃO DOS DADOS:\n// Confirma se a resposta do Apollo existe e contém a propriedade 'people'.\nif (!searchResults || !Array.isArray(searchResults.people)) {\n    console.log(\"A propriedade 'people' não foi encontrada ou não é uma lista. Encerrando.\");\n    return [{\n        json: {\n            success: false,\n            erro: \"A propriedade 'people' não foi encontrada na busca.\",\n            contatos_para_ia: []\n        }\n    }];\n}\n\n// ACHATAMENTO DA LISTA:\n// O método .flat() transforma a lista de listas (ex: [[a,b], [c,d]]) em uma única lista ([a,b,c,d]).\n// Isso garante que todos os contatos de todas as sub-listas sejam processados juntos.\nconst pessoas = searchResults.people.flat();\n\nif (pessoas.length === 0) {\n    console.log('Nenhuma pessoa encontrada na lista final. Encerrando o processamento.');\n    return [{\n        json: {\n            success: false,\n            erro: 'Nenhuma pessoa encontrada na busca.',\n            contatos_para_ia: []\n        }\n    }];\n}\n\nconsole.log(`Encontrados e achatados ${pessoas.length} contatos. Formatando para a IA...`);\n\n// 2. MAPEAMENTO E LIMPEZA:\n// Transforma a lista completa em uma lista simples, contendo apenas o que a IA precisa.\nconst contatos_para_ia = pessoas.map(person => {\n    return {\n        id: person.id,          // Essencial para o passo de enriquecimento futuro\n        nome: person.name,      // Nome completo do contato\n        cargo: person.title,    // O principal dado para a análise da IA\n        linkedin_url: person.linkedin_url || '' // Incluindo o LinkedIn para referência futura\n    };\n});\n\n// 3. RETORNO ESTRUTURADO:\n// Envia a lista limpa para o próximo nó do workflow (o nó de IA).\nreturn [{\n    json: {\n        success: true,\n        contatos_para_ia: contatos_para_ia\n    }\n}];\n"},"id":"f5e484b8-06bb-465d-91a8-2fbbaaa9b4d6","name":"Processar People Search","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,2544],"alwaysOutputData":true},{"parameters":{"jsCode":"// =================================================================\n// FUNÇÕES DE APOIO\n// =================================================================\n\n/**\n * Função para definir a prioridade da fila (1 a 5) com base nos critérios.\n * @param {string} classificacao - 'A', 'B', ou 'C', fornecida pela IA.\n * @param {boolean} temTelefone - Se o contato tem telefone.\n * @param {boolean} emailVerificado - Se o e-mail é verificado.\n * @returns {number} - A prioridade de 1 a 5.\n */\nfunction getPrioridade(classificacao, temTelefone, emailVerificado) {\n  if (classificacao === 'A' || classificacao === 'B') {\n    if (temTelefone && emailVerificado) return 1;\n    if (temTelefone && !emailVerificado) return 2;\n    if (!temTelefone && emailVerificado) return 3;\n  }\n  if (classificacao === 'C') {\n    if (temTelefone && emailVerificado) return 4;\n    if (temTelefone || emailVerificado) return 5;\n  }\n  return 5; // Prioridade mais baixa para qualquer outro caso.\n}\n\n/**\n * Função para formatar números de telefone.\n * @param {string} rawPhone - O número de telefone bruto.\n * @returns {string} - O número de telefone formatado.\n */\nfunction formatarTelefone(rawPhone) {\n  if (!rawPhone || typeof rawPhone !== 'string') return '';\n  const numeroLimpo = rawPhone.replace(/\\D/g, '');\n  if (numeroLimpo.startsWith('55') && numeroLimpo.length === 13) {\n    const ddd = numeroLimpo.substring(2, 4);\n    const numeroLocal = numeroLimpo.substring(4);\n    if (numeroLocal.startsWith('9')) {\n      return `55${ddd}${numeroLocal.substring(1)}`;\n    }\n  }\n  return numeroLimpo;\n}\n\n/**\n * Gera um email aleatório e único para contatos sem email válido.\n * @param {string} baseId - O ID do contato para ajudar a criar um email único.\n * @returns {string} - Um email aleatório no formato placeholder_[ID]_[timestamp]@placeholder.com\n */\nfunction gerarEmailAleatorio(baseId) {\n  const timestamp = Date.now();\n  const idPart = baseId ? String(baseId).replace(/[^a-zA-Z0-9]/g, '') : 'id_nao_encontrado';\n  return `placeholder_${idPart}_${timestamp}@placeholder.com`;\n}\n\n\n// =================================================================\n// LÓGICA PRINCIPAL DE PROCESSAMENTO\n// =================================================================\n\n// 1. Captura resultados do nó de enriquecimento (HTTP Request) e dados originais\nconst enrichmentResults = $input.all();\nconst pessoasOriginais = $('Preparar payload para Apollo').all().map(node => node.json);\n\n// 2. Captura dados da empresa\nconst empresaData = $('Processar People Search').first().json;\n\n// 3. Monta cada resultado enriquecido\nconst resultados = enrichmentResults.map((item, index) => {\n  const enrichment = item.json;\n  const orig = pessoasOriginais[index] || {};\n  let contato = {};\n\n  if (enrichment && enrichment.person) {\n    const p = enrichment.person;\n    // Telefone\n    let telRaw = '';\n    if (Array.isArray(p.phone_numbers) && p.phone_numbers.length) {\n      telRaw = p.phone_numbers[0].sanitized_number || p.phone_numbers[0].raw_number || '';\n    }\n    const telefone = formatarTelefone(telRaw);\n\n    // Email\n    let email = p.email || orig.email || '';\n    if (email === 'email_not_unlocked@domain.com' || !email.includes('@')) {\n      email = gerarEmailAleatorio(p.id || orig.id);\n    }\n\n    // Nome e cargo\n    const nomeCompleto = `${p.first_name || orig.first_name || ''} ${p.last_name || orig.last_name || ''}`.trim();\n    const cargoFinal = p.title || orig.title || '';\n\n    // Flags e status\n    const temTelefone = telefone.length >= 10;\n    const temNome = nomeCompleto.length >= 2;\n    const validStatus = ['verified','unverified','unknown','invalid'];\n    let emailStatus = (p.email_status || 'unknown').toLowerCase();\n    if (!validStatus.includes(emailStatus)) emailStatus = 'unknown';\n\n    // Classificação e prioridade\n    const classificacao = orig.classificacao_contato || 'C';\n    const prioridade = getPrioridade(classificacao, temTelefone, emailStatus === 'verified');\n\n    // Quality score\n    let qualityScore = 0;\n    if (p.first_name && p.last_name) qualityScore += 20;\n    if (p.title) qualityScore += 30;\n    if (email && emailStatus === 'verified') qualityScore += 30;\n    if (telefone) qualityScore += 20;\n    const dataQuality = qualityScore >= 80 ? 'high' : qualityScore >= 50 ? 'medium' : 'low';\n\n    contato = {\n      empresa_id: empresaData.empresa_id,\n      nome_contato: nomeCompleto,\n      cargo: cargoFinal,\n      apollo_job_title: cargoFinal,\n      linkedin_url: p.linkedin_url || orig.linkedin_url || '',\n      apollo_api_person_id: p.id || orig.id || null,\n      apollo_email_verified: emailStatus === 'verified',\n      email_status: emailStatus,\n      classificacao_contato: classificacao,\n      prioridade_contato: prioridade,\n      quality_score: qualityScore,\n      apollo_api_data_quality: dataQuality,\n      fonte_contato: 'apollo_api_webhook',\n      status_contato: 'pendente_confirmacao',\n      whatsapp_valido: false,\n      chatwoot_sync_status: 'pending_apollo_data',\n      revelado: true,\n      apollo_webhook_pending: true,\n      apollo_webhook_url: 'https://n8n-n8n-start.5ikbes.easypanel.host/webhook/apollo-enrichment-confirmation',\n      apollo_enrichment_requested_at: new Date().toISOString(),\n      enviado_para_chatwoot: false,\n      foi_disparado: false,\n      tem_email: true,\n      tem_telefone: temTelefone,\n      tem_nome: temNome,\n      valido: false,\n      email: email,\n      telefone: temTelefone ? telefone : null,\n      apollo_api_enriched_at: new Date().toISOString(),\n      apollo_api_enrichment_type: 'enrichment'\n    };\n  } else {\n    // Fallback sem enriquecimento Apollo\n    let email = orig.email || '';\n    if (email === 'email_not_unlocked@domain.com' || !email.includes('@')) {\n      email = gerarEmailAleatorio(orig.id);\n    }\n    const nomeCompleto = `${orig.first_name || ''} ${orig.last_name || ''}`.trim();\n    const clasific = orig.classificacao_contato || 'C';\n    const prioridade = getPrioridade(clasific, false, false);\n\n    contato = {\n      empresa_id: empresaData.empresa_id,\n      nome_contato: nomeCompleto,\n      cargo: orig.title || '',\n      apollo_job_title: orig.title || '',\n      linkedin_url: orig.linkedin_url || '',\n      apollo_api_person_id: orig.id || null,\n      apollo_email_verified: false,\n      email_status: 'unknown',\n      classificacao_contato: clasific,\n      prioridade_contato: prioridade,\n      quality_score: 30,\n      apollo_api_data_quality: 'low',\n      fonte_contato: 'apollo_api_search_only',\n      status_contato: 'pendente_confirmacao',\n      tem_email: true,\n      tem_telefone: false,\n      tem_nome: nomeCompleto.length >= 2,\n      valido: false,\n      email: email\n      // (adapte outros campos de fallback conforme necessário)\n    };\n  }\n\n  return { json: contato };\n});\n\n// 4. REMOVER DUPLICATAS PELO apollo_api_person_id\nconst resultadosUnicos = Array.from(\n  new Map(\n    resultados.map(item => [\n      item.json.apollo_api_person_id,\n      item\n    ])\n  ).values()\n);\n\n// 5. RETORNAR SÓ OS ÚNICOS\nreturn resultadosUnicos;\n"},"id":"16acd09a-9ecf-48bc-aa9d-c5a300447356","name":"Processar Enrichment","type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,2464],"alwaysOutputData":true},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"contatos_empresa","mode":"list","cachedResultName":"contatos_empresa"},"columns":{"mappingMode":"defineBelow","value":{"empresa_id":"={{ $('Busca de empresa teste').item.json.id }}","nome_contato":"={{ $('Processar Enrichment').item.json.nome_contato }}","cargo":"={{ $('Processar Enrichment').item.json.cargo }}","linkedin_url":"={{ $('Processar Enrichment').item.json.linkedin_url }}","apollo_person_id":"={{ $json.contact.id }}","apollo_email_verified":"={{ $('Criar contato Apollo').item.json.contact.email_status === 'verified' }}","email_status":"={{ $('Criar contato Apollo').item.json.contact.email_status }}","classificacao_contato":"={{ $('Processar Enrichment').item.json.classificacao_contato }}","prioridade_contato":"={{ $('Processar Enrichment').item.json.prioridade_contato }}","quality_score":"={{ $('Processar Enrichment').item.json.quality_score }}","fonte_contato":"={{ $('Processar Enrichment').item.json.fonte_contato }}","status_contato":"={{ $('Processar Enrichment').item.json.status_contato }}","revelado":"={{ $('Processar Enrichment').item.json.revelado }}","enviado_para_chatwoot":"={{ $('Processar Enrichment').item.json.enviado_para_chatwoot }}","foi_disparado":"={{ $('Processar Enrichment').item.json.foi_disparado }}","apollo_api_enriched_at":"={{ $('Processar Enrichment').item.json.apollo_api_enriched_at }}","apollo_api_enrichment_type":"={{ $('Processar Enrichment').item.json.apollo_api_enrichment_type }}","apollo_api_data_quality":"={{ $('Processar Enrichment').item.json.apollo_api_data_quality }}","apollo_confidence_score":0,"apollo_api_credits_used":0,"apollo_api_person_id":"={{ $('Apollo People Enrichment').item.json.person.id }}","tipo_contato":"email","data_adicao":"={{ $now }}","prioridade_fila":"={{ $('Processar Enrichment').item.json.prioridade_contato }}","dominio":"={{ $('Marcar Como Processing3').first().json.dominio }}","valor_contato":"={{ $('Criar contato Apollo').item.json.contact.email || ('disposable-' + Math.random().toString(36).slice(2,7) + '@fakeexample.com') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"empresa_id","displayName":"empresa_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"tipo_contato","displayName":"tipo_contato","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor_contato","displayName":"valor_contato","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"descricao","displayName":"descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fonte_contato","displayName":"fonte_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data_adicao","displayName":"data_adicao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"whatsappbusiness","displayName":"whatsappbusiness","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"gmn","displayName":"gmn","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"whatsapp_valido","displayName":"whatsapp_valido","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"apollo_person_id","displayName":"apollo_person_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"apollo_confidence_score","displayName":"apollo_confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"apollo_job_title","displayName":"apollo_job_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"apollo_seniority_level","displayName":"apollo_seniority_level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"apollo_department","displayName":"apollo_department","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"apollo_phone_verified","displayName":"apollo_phone_verified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"apollo_email_verified","displayName":"apollo_email_verified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"classificacao_contato","displayName":"classificacao_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prioridade_contato","displayName":"prioridade_contato","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chatwoot_contact_id","displayName":"chatwoot_contact_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"chatwoot_sync_status","displayName":"chatwoot_sync_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chatwoot_sync_date","displayName":"chatwoot_sync_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"nome_contato","displayName":"nome_contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cargo","displayName":"cargo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"quality_score","displayName":"quality_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"canal_preferencial","displayName":"canal_preferencial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_status","displayName":"email_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cargo_prioridade","displayName":"cargo_prioridade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"prioridade_fila","displayName":"prioridade_fila","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"dominio","displayName":"dominio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"revelado","displayName":"revelado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"foi_disparado","displayName":"foi_disparado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"enviado_para_chatwoot","displayName":"enviado_para_chatwoot","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"data_captacao","displayName":"data_captacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"data_atualizacao","displayName":"data_atualizacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"chatwoot_conversation_id","displayName":"chatwoot_conversation_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"last_template_sent","displayName":"last_template_sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_interaction_date","displayName":"last_interaction_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_person_id","displayName":"apollo_api_person_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"apollo_api_enriched_at","displayName":"apollo_api_enriched_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"apollo_api_credits_used","displayName":"apollo_api_credits_used","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"apollo_api_enrichment_type","displayName":"apollo_api_enrichment_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"apollo_api_confidence_score","displayName":"apollo_api_confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"apollo_api_data_quality","displayName":"apollo_api_data_quality","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"apollo_api_last_updated","displayName":"apollo_api_last_updated","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"apollo_webhook_pending","displayName":"apollo_webhook_pending","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"apollo_webhook_url","displayName":"apollo_webhook_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apollo_webhook_received_at","displayName":"apollo_webhook_received_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"apollo_enrichment_requested_at","displayName":"apollo_enrichment_requested_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"evolution_validation_date","displayName":"evolution_validation_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"tem_email","displayName":"tem_email","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"tem_telefone","displayName":"tem_telefone","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"valido","displayName":"valido","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"status_contato","displayName":"status_contato","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":true,"options":[{"name":"ativo","value":"ativo"},{"name":"inativo","value":"inativo"},{"name":"pendente_confirmacao","value":"pendente_confirmacao"},{"name":"bloqueado","value":"bloqueado"},{"name":"descadastrado_whatsapp","value":"descadastrado_whatsapp"}]},{"id":"bitrix_contact_id","displayName":"bitrix_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"bitrix_contact_created_at","displayName":"bitrix_contact_created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"bitrix_sync_status","displayName":"bitrix_sync_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"75672ceb-99d3-45e7-b526-9ad00049ab76","name":"Inserir Contato","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[128,2528],"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"apollo_logs","mode":"list","cachedResultName":"apollo_logs"},"columns":{"mappingMode":"defineBelow","value":{"empresa_id":"={{ $('Busca de empresa teste').item.json.id }}","status_code":200,"credits_consumed":"={{ $('Analisar quais funcionários enriquecer').first().json.output.total_selecionado }}","execution_context":"={{ JSON.stringify({\"workflow\": \"apollo_duas_etapas\", \"step\": \"completion\", \"total_pessoas\": $('Processar People Search').first().json.pessoas_selecionadas}) }}","tokens_consumidos":"[REDACTED]","tempo_resposta_ms":0,"rate_limit_remaining":0,"endpoint_usado":"https://api.apollo.io/api/v1/people/match?reveal_personal_emails=true&reveal_phone_number=true&webhook_url=https://n8n-n8n-start.5ikbes.easypanel.host/webhook/c3288262-e05f-46ef-8438-c4383d840cc1"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"endpoint_usado","displayName":"endpoint_usado","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"request_payload","displayName":"request_payload","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":false},{"id":"response_payload","displayName":"response_payload","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":false},{"id":"status_code","displayName":"status_code","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"tokens_consumidos","displayName":"tokens_consumidos","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"tempo_resposta_ms","displayName":"tempo_resposta_ms","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"erro_detalhes","displayName":"erro_detalhes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data_execucao","displayName":"data_execucao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"api_endpoint_type","displayName":"api_endpoint_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"credits_consumed","displayName":"credits_consumed","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"rate_limit_remaining","displayName":"rate_limit_remaining","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"rate_limit_reset_at","displayName":"rate_limit_reset_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"api_version","displayName":"api_version","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"batch_id","displayName":"batch_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"execution_context","displayName":"execution_context","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"54946f45-6b40-4e6b-ac0d-b9452eaff665","name":"Log Completion","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[592,2512],"executeOnce":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 5-9 * * 1-5"}]}},"id":"07d3e09a-a7a7-4009-86f2-e0fa47add922","name":"Schedule Trigger4","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4992,2624]},{"parameters":{"operation":"executeQuery","query":"-- Buscar empresas com eventos novos que precisam de enriquecimento\nSELECT\n    e.id,\n    e.nome_empresa_gmn,\n    e.dominio,\n    e.apollo_enrichment_status,\n    e.apollo_last_enrichment,\n    e.total_contatos_apollo,\n    e.total_contatos_apify,\n    COUNT(ev.id) AS eventos_novos\nFROM empresas e\nJOIN eventos_erro ev \n  ON e.id = ev.empresa_id\nWHERE ev.status_processamento_evento = 'novo_nao_processado'\n  AND (\n      e.apollo_enrichment_status IS NULL\n      OR e.apollo_enrichment_status IN ('pending', 'failed', 'rate_limited')\n      OR (COALESCE(e.total_contatos_apollo, 0) + COALESCE(e.total_contatos_apify, 0)) = 0\n      OR e.apollo_last_enrichment < NOW() - INTERVAL '30 days'\n  )\n  AND e.apollo_enrichment_status NOT IN ('processing','completed')\n  AND e.dominio IS NOT NULL\n  AND e.dominio <> ''\nGROUP BY\n    e.id,\n    e.nome_empresa_gmn,\n    e.dominio,\n    e.apollo_enrichment_status,\n    e.apollo_last_enrichment,\n    e.total_contatos_apollo,\n    e.total_contatos_apify\nORDER BY RANDOM()\nLIMIT 1;","options":{}},"id":"0455ff39-d3c6-437a-85e9-e6947c169f9d","name":"Buscar Empresas Para Enriquecer4","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4672,2336],"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-empresa-exists","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"42323b66-beaa-484e-9aba-87854d975680","name":"Check Empresa Exists4","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4304,2640]},{"parameters":{"operation":"executeQuery","query":"UPDATE empresas SET apollo_enrichment_status = 'processing', apollo_last_enrichment = NOW() WHERE id = {{ $json.id }} RETURNING *;","options":{}},"id":"f7f8b992-6c4d-4aa4-acac-0d0d91617b4f","name":"Marcar Como Processing3","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4080,2640],"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE empresas SET apollo_enrichment_status = 'completed', apollo_last_enrichment = NOW(), apollo_api_credits_used_month = apollo_api_credits_used_month + {{ $('Analisar quais funcionários enriquecer').first().json.output.total_selecionado }} WHERE id = {{ $('Busca de empresa teste').item.json.id }} RETURNING *;","options":{}},"id":"db4c8db8-39ef-46f7-a78c-92afdbeff5d3","name":"Finalizar Enriquecimento4","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,2528],"executeOnce":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"url":"={{ \"https://api.apollo.io/api/v1/organizations/enrich?domain=\" + $json.dominio.replace(/^https?:\\/\\//, '').replace(/^www\\./, '').split('/')[0] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"domain\": \"{{ $json.dominio.replace(/^https?:\\/\\//, '').replace(/^www\\./, '').split('/')[0] }}\"\n}","options":{"timeout":30000}},"id":"3908d936-8b46-4402-aa7b-d45dc8fb908e","name":"Apollo organization enrich","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-3856,2592],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"d4NbYWGhktXF9UCQ","name":"Apollo.io API"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.apollo.io/api/v1/people/match?reveal_personal_emails=true&reveal_phone_number=true&webhook_url=https://n8n-n8n-start.5ikbes.easypanel.host/webhook/c3288262-e05f-46ef-8438-c4383d840cc1","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cache-Control","value":"no-cache"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"first_name\": \"{{ $json.first_name || '' }}\",\n  \"last_name\": \"{{ $json.last_name || '' }}\",\n  \"organization_name\": \"{{ $('Apollo organization enrich').item.json.organization.name || '' }}\",\n  \"linkedin_url\": \"{{ $json.linkedin_url || '' }}\"\n}","options":{"timeout":30000}},"id":"ace651ab-89aa-4194-ac17-775740db1b92","name":"Apollo People Enrichment","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-672,2464],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"d4NbYWGhktXF9UCQ","name":"Apollo.io API"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d9d6cda6-eff3-4ffb-923e-bcc6e2392a28","leftValue":"={{ $('Apollo organization enrich').item.json.organization.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"32ba95cf-54ab-4a1c-8c6a-8b7b7a725572","leftValue":"={{ $('Apollo organization enrich').item.json.organization.estimated_num_employees }}","rightValue":10,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3408,2608],"id":"9181f4a1-686d-4959-89df-c1c8c59accd1","name":"If"},{"parameters":{"operation":"executeQuery","query":"UPDATE empresas SET apollo_enrichment_status = 'completed', apollo_last_enrichment = NOW() WHERE id = {{ $('Marcar Como Processing3').item.json.id }} RETURNING *;","options":{}},"id":"40cf9bf4-367d-43b0-b185-7a6bbe2dcd2f","name":"Finalizar Enriquecimento5","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3136,2864],"executeOnce":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d9d6cda6-eff3-4ffb-923e-bcc6e2392a28","leftValue":"={{ $json.people }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2880,2560],"id":"cd3be8d4-2326-4d00-9cea-4b9263896500","name":"encontrou pessoas?"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2432,2544],"id":"ebd9760d-1799-4d92-877d-e9f4fce209ab","name":"Merge"},{"parameters":{"jsonSchemaExample":"{\n  \"total_selecionado\": 2,\n  \"pessoas_selecionadas\": [\n    {\n      \"id\": \"4\",\n      \"classificacao\": \"A\"\n    },\n    {\n      \"id\": \"1\",\n      \"classificacao\": \"A\"\n    }\n\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1168,2672],"id":"12b1492a-8059-4f71-96da-66c525d1a5a6","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1360,2672],"id":"6ac9fca3-a350-4f41-9554-3126c1d6a335","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ANP2wjvRxYQi3nw5","name":"OpenAi account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"people"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2208,2544],"id":"afed6c47-b245-499b-821c-943db4154853","name":"Aggregate"},{"parameters":{"operation":"executeQuery","query":"UPDATE empresas SET apollo_enrichment_status = 'completed', apollo_last_enrichment = NOW() WHERE id = {{ $('Marcar Como Processing3').item.json.id }} RETURNING *;","options":{}},"id":"a09377cb-5422-4f00-b612-2e212b564ff4","name":"Finalizar Enriquecimento7","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2688,3040],"executeOnce":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"method":"POST","url":"https://api.apollo.io/api/v1/mixed_people/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"organization_ids\": [\"{{ $('Apollo organization enrich').first().json.organization.id }}\"],\n  \"person_locations\": [\"Brazil\", \"Brasil\"],\n  \"per_page\": 10,\n  \"include_similar_titles\": true,\n\"person_titles\": [\n  \"ceo\", \"chief executive officer\", \"founder\", \"co‑founder\", \"owner\", \"president\",\n  \"managing partner\", \"sócio\", \"sócia\", \"diretor executivo\", \"diretora executiva\",\n  \"cto\", \"chief technology officer\", \"cfo\", \"chief financial officer\",\n  \"cmo\", \"chief marketing officer\", \"head of marketing\", \"head of growth\",\n  \"head of product\", \"head of digital\", \"vp marketing\", \"vice president marketing\",\n  \"vp growth\", \"vice president growth\", \"marketing director\", \"diretor de marketing\",\n  \"diretor de produto\", \"product director\", \"product manager\",\n  \"gerente de marketing\", \"gerente de produto\", \"growth manager\",\n  \"coordenador de marketing\", \"coordenador de produto\", \"analista de marketing\",\n  \"analista de produto\", \"ux\", \"ui\", \"content manager\", \"social media manager\"\n],\n  \"employment_statuses\": [\"currently_employed\"]\n}","options":{"timeout":30000}},"id":"37f9f7c1-9591-49da-ad04-70f786832d0e","name":"busca com filtros1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2624,2736],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"d4NbYWGhktXF9UCQ","name":"Apollo.io API"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.apollo.io/api/v1/mixed_people/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"organization_ids\": [\"{{ $('Apollo organization enrich').first().json.organization.id }}\"],\n  \"person_locations\": [\"Brazil\", \"Brasil\"],\n  \"per_page\": 100,\n  \"employment_statuses\": [\"currently_employed\"]\n}","options":{"timeout":30000}},"id":"2a878e0c-0191-44f2-b065-d0ffc795df27","name":"busca sem filtros","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3120,2576],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"d4NbYWGhktXF9UCQ","name":"Apollo.io API"}},"onError":"continueRegularOutput"},{"parameters":{"content":"## atualize aqui","height":360,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-4144,2544],"typeVersion":1,"id":"f0dbeb18-5720-4f05-9041-f7c215591312","name":"Sticky Note"},{"parameters":{"operation":"executeQuery","query":"UPDATE \"public\".\"empresas\"\nSET\n  -- IDs\n  apollo_organization_id = '{{ $json.organization.id }}',\n\n  -- Campos do seu cliente\n  apollo_organization_name = '{{ $json.organization.name ? $json.organization.name.replace(/'/g, \"''\") : null }}',\n  apollo_annual_revenue = '{{ $json.organization.organization_revenue_printed }}',\n  apollo_industry = '{{ $json.organization.industry }}',\n  apollo_city = '{{ $json.organization.city }}',\n  apollo_state = '{{ $json.organization.state }}',\n  apollo_linkedin_url = '{{ $json.organization.linkedin_url }}',\n  apollo_country = '{{ $json.organization.country }}',\n\n  -- Outros campos ricos\n  apollo_estimated_employees = {{ $json.organization.estimated_num_employees || 'null' }},\n  \n  -- === CORREÇÃO DOS ARRAYS ===\n  -- Converte o texto JSON (escapando aspas simples) em um array nativo do Postgres\n  apollo_keywords = (\n    SELECT array_agg(value) \n    FROM json_array_elements_text('{{ $json.organization.keywords ? JSON.stringify($json.organization.keywords).replace(/'/g, \"''\") : '[]' }}')\n  ),\n  apollo_technologies = (\n    SELECT array_agg(value) \n    FROM json_array_elements_text('{{ $json.organization.technology_names ? JSON.stringify($json.organization.technology_names).replace(/'/g, \"''\") : '[]' }}')\n  )\n\nWHERE\n  -- Referencia o ID da empresa que iniciou este fluxo\n  id = {{ $('Marcar Como Processing3').first().json.id }}\n  RETURNING*;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3648,2592],"id":"495c0a7b-f89c-4ac8-824f-e83979fa8fe9","name":"Enriquecer empresa","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"promptType":"define","text":"={{ $json.contatos_para_ia }}","hasOutputParser":true,"options":{"systemMessage":"=Você é um analista sênior de inteligência de mercado e prospecção B2B, com a única tarefa de analisar uma lista de contatos, classificar seus cargos e selecionar os 2 melhores para enriquecimento.\n\nObjetivo Central:\nAnalisar uma lista de contatos, atribuir a cada um uma classificação de hierarquia (A, B, ou C) e, com base nisso, selecionar os 2 contatos de maior potencial, retornando seus IDs, a classificação e a contagem total de selecionados.\n\nContexto da Prospecção:\nA empresa para a qual você trabalha vende uma solução para websites com problemas (performance, instabilidade, segurança). O objetivo é encontrar as pessoas dentro de uma organização que têm o poder ou a influência para decidir sobre a contratação desse tipo de serviço.\n\nobs: Importante:\nAs listas abaixo são referências para ajudar na classificação dos cargos, mas não representam uma lista exaustiva. Como os títulos de cargos podem variar bastante entre empresas, é essencial que você avalie também variações, sinônimos e cargos semelhantes que cumpram o mesmo papel.\nO foco principal da sua análise deve ser identificar pessoas com autoridade ou influência na decisão de resolver problemas no site — mesmo que o cargo não apareça literalmente nas listas fornecidas.\n\nCRITÉRIOS DE CLASSIFICAÇÃO (Sua Lógica Principal)\nVocê DEVE classificar cada cargo em uma das três listas abaixo.\n\nLISTA A (Alta Prioridade - Líderes Operacionais com Influência):\n\nDescrição: Gestores ou profissionais de áreas que se preocupam com a presença digital, performance do site e imagem da empresa (Tecnologia, Marketing, Produto). Suas recomendações são cruciais.\n\n\nLISTA B (Média Prioridade - Decisores Estratégicos):\n\nDescrição: Pessoas com autoridade final sobre a estratégia, direção e orçamento da empresa. Em empresas menores, são eles que decidem sobre problemas no site.\n\n\n\nLISTA C (Baixa Prioridade - Especialistas Táticos/Operacionais):\n\nDescrição: Profissionais com papéis técnicos e de execução diária, que geralmente não possuem poder de decisão sobre investimentos ou estratégia.\n\n\nREGRAS DE SELEÇÃO E SAÍDA\nAnálise e Seleção: Analise todos os contatos da lista de entrada, classifique-os internamente e selecione os 2 melhores seguindo a hierarquia: Lista A > Lista B > Lista C.\n\nOrdem de Prioridade na Saída:\nOs contatos selecionados devem ser ordenados primeiro pela classificação hierárquica (A > B > C) e, dentro de cada classificação, pela relevância do cargo (ex: CEO antes de Diretoria; Diretoria antes de Gerência, e assim por diante). Em caso de empate técnico, utilize a ordem de entrada como critério secundário.\n\nFormato de Saída Obrigatório: Sua resposta DEVE ser um objeto JSON válido. O objeto deve conter uma chave total_selecionado com a contagem numérica de contatos e uma chave pessoas_selecionadas com a lista de objetos. Cada objeto na lista deve conter o id e a classificacao que você atribuiu.\n\nNÃO inclua justificativas ou qualquer outro texto fora do formato JSON solicitado.\n\nEXEMPLO DE ENTRADA (O que você receberá):\n[\n  {\"id\": \"1\", \"nome\": \"Ana Silva\", \"cargo\": \"Diretora Executiva\"},\n  {\"id\": \"2\", \"nome\": \"Bruno Costa\", \"cargo\": \"Analista de Marketing\"},\n  {\"id\": \"3\", \"nome\": \"Carla Dias\", \"cargo\": \"Head de Growth\"},\n  {\"id\": \"4\", \"nome\": \"David Souza\", \"cargo\": \"CEO e Fundador\"},\n  {\"id\": \"5\", \"nome\": \"Elisa Ferreira\", \"cargo\": \"Estagiária\"}\n]\n\nEXEMPLO DE SAÍDA (O que você DEVE retornar):\n{\n  \"total_selecionado\": 2,\n  \"pessoas_selecionadas\": [\n    {\n      \"id\": \"4\",\n      \"classificacao\": \"A\"\n    },\n    {\n      \"id\": \"1\",\n      \"classificacao\": \"A\"\n    }\n  ]\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1376,2448],"id":"28269a25-3c0c-4bfd-9ab0-b1132648ee92","name":"Analisar quais funcionários enriquecer"},{"parameters":{"jsCode":"// 1. OBTER OS DADOS DE MÚLTIPLAS FONTES\nconst resultadoIA = $input.first().json.output;\nconst todosOsContatosBrutos = $('Aggregate').first().json.people;\n\n// 2. VERIFICAÇÃO DE SEGURANÇA\nif (!resultadoIA || !Array.isArray(resultadoIA.pessoas_selecionadas) || resultadoIA.pessoas_selecionadas.length === 0) {\n  console.log('A IA não retornou uma lista de pessoas selecionadas. Encerrando.');\n  return []; \n}\nif (!todosOsContatosBrutos || !Array.isArray(todosOsContatosBrutos)) {\n  console.log(\"Não foi possível encontrar a lista 'people' no nó Aggregate. Verifique o nome do nó e sua saída.\");\n  return [];\n}\n\n// 3. CORREÇÃO DA ESTRUTURA DE DADOS\nconst todosOsContatosOriginais = todosOsContatosBrutos.flat();\n\n// 4. MAPEAR IDS SELECIONADOS E SUAS CLASSIFICAÇÕES\nconst pessoasSelecionadas = resultadoIA.pessoas_selecionadas;\nconst totalDesejado = resultadoIA.total_selecionado;\n\nconst classificacaoMap = new Map();\nconst idsSelecionados = new Set();\n\nfor (const pessoa of pessoasSelecionadas) {\n  const id = String(pessoa.id).trim();\n  idsSelecionados.add(id);\n  classificacaoMap.set(id, pessoa.classificacao);\n}\n\n// 5. FILTRAR E ENRIQUECER APENAS OS CONTATOS SELECIONADOS\nconst contatosSelecionados = todosOsContatosOriginais\n  .filter(contato => {\n    const contatoId = String(contato.id || contato._id).trim();\n    return idsSelecionados.has(contatoId);\n  })\n  .slice(0, totalDesejado) // Garante que não excede o total_selecionado\n  .map(contato => {\n    const contatoId = String(contato.id || contato._id).trim();\n    return {\n      ...contato,\n      classificacao_contato: classificacaoMap.get(contatoId)\n    };\n  });\n\nconsole.log(`Total solicitado pela IA: ${totalDesejado}`);\nconsole.log(`Contatos enriquecidos retornados: ${contatosSelecionados.length}/${pessoasSelecionadas.length}`);\n\n// 6. RETORNAR OS DADOS NO FORMATO ESPERADO\nreturn contatosSelecionados.map(contato => ({ json: contato }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-992,2480],"id":"af8d6941-cfc5-43c1-80a7-dadaeb773678","name":"Preparar payload para Apollo"},{"parameters":{"method":"POST","url":"https://api.apollo.io/v1/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"first_name\": \"{{ $json.nome_contato ? $json.nome_contato.split(' ')[0] : '' }}\",\n  \"last_name\": \"{{ $json.nome_contato ? $json.nome_contato.split(' ').slice(1).join(' ') : '' }}\",\n  \"title\": \"{{ $json.cargo || '' }}\",\n  \"email\": \"{{ $json.email && !$json.email.includes('@placeholder.com') ? $json.email : '' }}\",\n  \"organization_name\": \"{{ $('Enriquecer empresa').item.json.apollo_organization_name || '' }}\",\n  \"label_names\": [\"Enriquecido_via_n8n\"],\n  \"linkedin_url\": \"{{ $json.linkedin_url || '' }}\",\n  \"phone_numbers\": \"{{ $json.telefone ? [$json.telefone] : [] }}\"\n}\n","options":{"timeout":30000}},"id":"09e8f031-4777-4139-917a-8518e6185268","name":"Criar contato Apollo","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-144,2480],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"d4NbYWGhktXF9UCQ","name":"Apollo.io API"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"limit":1,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4640,2656],"id":"646ca908-115a-486e-9fb2-bfaca2272cc3","name":"Busca de empresa teste","credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}}],"connections":{"Processar Enrichment":{"main":[[{"node":"Criar contato Apollo","type":"main","index":0}]]},"Inserir Contato":{"main":[[{"node":"Finalizar Enriquecimento4","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"Busca de empresa teste","type":"main","index":0}]]},"Buscar Empresas Para Enriquecer4":{"main":[[]]},"Check Empresa Exists4":{"main":[[{"node":"Marcar Como Processing3","type":"main","index":0}]]},"Marcar Como Processing3":{"main":[[{"node":"Apollo organization enrich","type":"main","index":0}]]},"Finalizar Enriquecimento4":{"main":[[{"node":"Log Completion","type":"main","index":0}]]},"Apollo organization enrich":{"main":[[{"node":"Enriquecer empresa","type":"main","index":0}]]},"Apollo People Enrichment":{"main":[[{"node":"Processar Enrichment","type":"main","index":0}]]},"Processar People Search":{"main":[[{"node":"Analisar quais funcionários enriquecer","type":"main","index":0}]]},"If":{"main":[[{"node":"busca sem filtros","type":"main","index":0}],[{"node":"Finalizar Enriquecimento5","type":"main","index":0}]]},"encontrou pessoas?":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"busca com filtros1","type":"main","index":0}],[{"node":"Finalizar Enriquecimento7","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Analisar quais funcionários enriquecer","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Analisar quais funcionários enriquecer","type":"ai_languageModel","index":0}]]},"Aggregate":{"main":[[{"node":"Processar People Search","type":"main","index":0}]]},"busca com filtros1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"busca sem filtros":{"main":[[{"node":"encontrou pessoas?","type":"main","index":0}]]},"Enriquecer empresa":{"main":[[{"node":"If","type":"main","index":0}]]},"Analisar quais funcionários enriquecer":{"main":[[{"node":"Preparar payload para Apollo","type":"main","index":0}]]},"Preparar payload para Apollo":{"main":[[{"node":"Apollo People Enrichment","type":"main","index":0}]]},"Criar contato Apollo":{"main":[[{"node":"Inserir Contato","type":"main","index":0}]]},"Busca de empresa teste":{"main":[[{"node":"Check Empresa Exists4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger4":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger4":[{"json":{"timestamp":"2026-01-13T09:10:00.009-03:00","Readable date":"January 13th 2026, 9:10:00 am","Readable time":"9:10:00 am","Day of week":"Tuesday","Year":"2026","Month":"January","Day of month":"13","Hour":"09","Minute":"10","Second":"00","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"94677c3e-6088-41dc-b1bf-4a80a66c2d07","triggerCount":1,"shared":[{"createdAt":"2025-07-03T21:19:11.380Z","updatedAt":"2025-07-03T21:19:11.380Z","role":"workflow:owner","workflowId":"DCt4ntVufANWvV29","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}