backups/wf_chatwoot_sync-drDsgxMx3QxI2ZpP.json
{"createdAt":"2025-07-05T21:29:22.789Z","updatedAt":"2025-10-17T17:38:20.382Z","id":"drDsgxMx3QxI2ZpP","name":"WF_Chatwoot_Sync","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-contatos-existem","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"exists","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"fb8bb6c7-71b6-44de-bd69-ad8fe67e9386","name":"Check Contatos Existem","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1168,32]},{"parameters":{"jsCode":"// Processar e preparar dados dos contatos para Chatwoot\nconst items = $input.all();\nconst contatosProcessados = [];\n\nfor (const item of items) {\n  const contato = item.json;\n  \n  // Limpar e formatar telefone\n  let telefoneFormatado = null;\n  if (contato.valor_contato && ['whatsapp', 'telefone_geral'].includes(contato.tipo_contato)) {\n    telefoneFormatado = contato.valor_contato.replace(/\\D/g, '');\n    if (telefoneFormatado.length >= 10) {\n      if (telefoneFormatado.startsWith('55')) {\n        telefoneFormatado = '+' + telefoneFormatado;\n      } else if (telefoneFormatado.length === 11 || telefoneFormatado.length === 10) {\n        telefoneFormatado = '+55' + telefoneFormatado;\n      }\n    }\n  }\n  \n  // Determinar nome do contato\n  let nomeContato = contato.nome_contato || 'Contato';\n  if (!contato.nome_contato && contato.nome_empresa_gmn) {\n    nomeContato = `Contato - ${contato.nome_empresa_gmn}`;\n  }\n  \n  // Determinar email\n  let emailContato = null;\n  if (contato.tipo_contato === 'email' && contato.valor_contato) {\n    emailContato = contato.valor_contato.toLowerCase().trim();\n  }\n  \n  // Preparar custom attributes\n  const customAttributes = {\n    supabase_id: contato.id.toString(),\n    empresa_dominio: contato.empresa_dominio || contato.dominio,\n    origem_contato: contato.fonte_contato || 'unknown',\n    classificacao_contato: contato.classificacao_contato || 'C',\n    prioridade_cadencia: contato.prioridade_contato || 5,\n    data_enriquecimento: new Date().toISOString().split('T')[0]\n  };\n  \n  // Adicionar dados Apollo se disponíveis\n  if (contato.apollo_person_id) {\n    customAttributes.apollo_person_id = contato.apollo_person_id;\n    customAttributes.cargo_apollo = contato.apollo_job_title || contato.cargo;\n    customAttributes.departamento_apollo = contato.apollo_department;\n    customAttributes.senioridade_apollo = contato.apollo_seniority_level;\n    customAttributes.apollo_confidence = contato.apollo_email_verified ? 'high' : 'medium';\n  }\n  \n  if (contato.linkedin_url) {\n    customAttributes.links_sociais = contato.linkedin_url;\n  }\n  \n  // Preparar labels/tags\n  const labels = [];\n  labels.push(`fonte:${contato.fonte_contato || 'unknown'}`);\n  labels.push(`classe:${contato.classificacao_contato || 'C'}`);\n  \n  if (contato.apollo_person_id) {\n    labels.push('apollo:enriched');\n  }\n  \n  if (contato.whatsapp_valido) {\n    labels.push('whatsapp:validado');\n  }\n  \n  if (contato.apollo_email_verified) {\n    labels.push('email:verificado');\n  }\n  \n  if (contato.empresa_dominio) {\n    const domain = contato.empresa_dominio.replace(/https?:\\/\\//, '').split('/')[0];\n    labels.push(`dominio:${domain}`);\n  }\n\n  // <<< INÍCIO DA ADIÇÃO >>>\n  // Adicionar etiqueta de canal com base no tipo_contato do seu banco de dados\n  if (contato.tipo_contato === 'email') {\n    labels.push('email');\n  } else if (['whatsapp', 'telefone_geral'].includes(contato.tipo_contato)) {\n    labels.push('whatsapp');\n  }\n  // <<< FIM DA ADIÇÃO >>>\n  \n  // Preparar dados para Chatwoot\n  const chatwootData = {\n    supabase_id: contato.id,\n    empresa_id: contato.empresa_id,\n    tipo_contato: contato.tipo_contato,\n    nome: nomeContato,\n    email: emailContato,\n    telefone: telefoneFormatado,\n    empresa: contato.nome_empresa_gmn || 'Empresa não identificada',\n    cargo: contato.cargo || contato.apollo_job_title,\n    custom_attributes: customAttributes,\n    labels: labels,\n    // Dados para busca de duplicatas\n    busca_email: emailContato,\n    busca_telefone: telefoneFormatado\n  };\n  \n  contatosProcessados.push({ json: chatwootData });\n}\n\nreturn contatosProcessados;"},"id":"4cd41da7-6a8b-44d2-8857-6c9e915f8de5","name":"Processar Dados Contatos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1056,-272]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-acao-create","leftValue":"={{ $json.action }}","rightValue":"create","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"800cb9f5-efaa-420d-b38c-65b23deb316b","name":"Switch Create/Update","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,-32]},{"parameters":{"method":"POST","url":"https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Processar Dados Contatos').item.json.nome }}\",\n  \"email\": \"{{ $('Processar Dados Contatos').item.json.email || \"\" }}\",\n  \"phone_number\": \"{{ $('Processar Dados Contatos').item.json.telefone }}\",\n  \"company\": \"{{ $('Processar Dados Contatos').item.json.empresa }}\",\n  \"custom_attributes\": {{ JSON.stringify($('Processar Dados Contatos').item.json.custom_attributes) }},\n  \"labels\": {{ JSON.stringify($('Processar Dados Contatos').item.json.labels) }}\n}","options":{}},"id":"2ff2dc3a-8729-4cf2-b728-dfe899a5b4f4","name":"Criar Contato Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,-48],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"method":"PUT","url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/contacts/{{ $json.contactData.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Processar Dados Contatos').item.json.nome }}\",\n  \"email\": \"{{ $('Processar Dados Contatos').item.json.email || $json.chatwoot_existing_data.email }}\",\n  \"phone_number\": \"{{ $('Processar Dados Contatos').item.json.telefone || $json.contactData.phone_number }}\",\n  \"company\": \"{{ $('Processar Dados Contatos').item.json.empresa }}\",\n  \"custom_attributes\": {{ JSON.stringify(Object.assign($('Processar Dados Contatos').item.json.custom_attributes || {}, $json.contactData.custom_attributes)) }},\n  \"labels\": {{ JSON.stringify([...($('Processar Dados Contatos').item.json.labels || [])].filter((v, i, a) => a.indexOf(v) === i)) }}\n}","options":{}},"id":"35f87a75-d30f-4bc4-b136-6d7cf83b2b69","name":"Atualizar Contato Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,160],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"=contatos_empresa","mode":"name"},"dataMode":"defineBelow","columnToMatchOn":"id","valueToMatchOn":"={{ $json.payload.contact.custom_attributes.supabase_id }}","valuesToSend":{"values":[{"column":"chatwoot_sync_status","value":"synced"},{"column":"chatwoot_contact_id","value":"={{ $json.payload.contact.id }}"},{"column":"enviado_para_chatwoot","value":"true"},{"column":"chatwoot_sync_date","value":"={{$now}}"}]},"options":{}},"id":"31dc07e8-8398-406c-ae42-1deaed7cbc3a","name":"Atualizar Status Supabase","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[192,-48],"alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"-- Log da sincronização\nINSERT INTO chatwoot_sync_logs (\n  contato_id,\n  chatwoot_contact_id,\n  action_type,\n  sync_status,\n  sync_timestamp,\n  response_data\n) VALUES (\n  {{ $('Processar Dados Contatos').item.json.supabase_id }},\n  {{ $json.id }},\n  '{{ $('Switch Create/Update').item.json.chatwoot_action }}',\n  'success',\n  NOW(),\n  '{{ JSON.stringify($json) }}'::jsonb\n);","options":{}},"id":"bbc2a25e-492a-47f2-8e41-c496058ade91","name":"Log Sincronização","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[448,-48],"alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contatos_empresa","mode":"list"},"dataMode":"defineBelow","columnToMatchOn":"id","valueToMatchOn":"={{ $('Loop Over Items').item.json.id }}","valuesToSend":{"values":[{"column":"chatwoot_sync_status","value":"synced"},{"column":"enviado_para_chatwoot","value":"true"},{"column":"chatwoot_sync_date","value":"={{$now}}"},{"column":"chatwoot_contact_id","value":"={{ $json.payload.id }}"}]},"options":{}},"id":"d5c7f924-83e4-4ce6-87fc-8fbf9db52080","name":"Atualizar Status Supabase1","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[192,192],"alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"-- Log da sincronização\nINSERT INTO chatwoot_sync_logs (\n  contato_id,\n  chatwoot_contact_id,\n  action_type,\n  sync_status,\n  sync_timestamp,\n  response_data\n) VALUES (\n  {{ $('Processar Dados Contatos').item.json.supabase_id }},\n  {{ $('Atualizar Contato Chatwoot').item.json.payload.id }},\n  '{{ $('Switch Create/Update').item.json.chatwoot_action }}',\n  'success',\n  NOW(),\n  '{{ JSON.stringify($json) }}'::jsonb\n);","options":{}},"id":"b6bf74fc-d2b8-430c-8fe9-85c094858af4","name":"Log Sincronização1","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[480,192],"alwaysOutputData":true,"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1600,32],"id":"97438033-2a13-4f4b-a204-38c6b73f53d5","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1376,-80],"id":"a6181247-c32c-43cc-97ab-2d790e71a94a","name":"No Operation, do nothing1"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2064,32],"id":"7b9b4360-3fe7-43ef-8d3c-075abbf13c3d","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"740d48b4-82ce-412c-be5b-fc4adb79f167","leftValue":"={{ $json.tipo_contato }}","rightValue":"email","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,-288],"id":"bfe00cb0-555f-49a5-ac58-a4c11f519be2","name":"email?"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-432,-256],"id":"013a9bf7-7da7-4525-a3af-9bc7f8fefea5","name":"Merge"},{"parameters":{"jsCode":"// Pega os dados que vieram do nó anterior\nconst items = $input.all();\n\n// O resultado da API do Chatwoot vem dentro de um array, então pegamos o primeiro item\nconst searchResult = items[0].json[0];\n\n// Verificamos o array 'payload'\nconst payload = $input.first().json.payload;\n\nif (payload && payload.length > 0) {\n  // Se o payload existe e tem itens, o contato foi ENCONTRADO\n  const existingContact = payload[0];\n  \n  // Retornamos um objeto com a ação 'update' e os dados do contato\n  return [{\n    json: {\n      action: 'update',\n      contactId: existingContact.id, // ID do contato para usar na atualização\n      contactData: existingContact   // Todos os dados do contato\n    }\n  }];\n\n} else {\n  // Se o payload está vazio, o contato NÃO EXISTE\n  \n  // Retornamos um objeto com a ação 'create'\n  return [{\n    json: {\n      action: 'create'\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,-256],"id":"dd612ffd-c9ff-4a4b-834a-ac760fbb3882","name":"Code"},{"parameters":{"operation":"executeQuery","query":"-- Buscar contatos pendentes de sincronização com Chatwoot\nSELECT \n    c.id,\n    c.empresa_id,\n    c.tipo_contato,\n    c.valor_contato,\n    c.nome_contato,\n    c.cargo,\n    c.fonte_contato,\n    c.classificacao_contato,\n    c.prioridade_contato,\n    c.apollo_person_id,\n    c.apollo_job_title,\n    c.apollo_department,\n    c.apollo_seniority_level,\n    c.apollo_email_verified,\n    c.apollo_phone_verified,\n    c.whatsapp_valido,\n    c.linkedin_url,\n    c.quality_score,\n    c.canal_preferencial,\n    c.email_status,\n    c.cargo_prioridade,\n    c.dominio,\n    e.nome_empresa_gmn,\n    e.dominio as empresa_dominio,\n    e.gmn_endereco,\n    e.gmn_telefone\nFROM contatos_empresa c\nJOIN empresas e ON c.empresa_id = e.id\nWHERE c.chatwoot_sync_status = 'pending'\n  AND c.enviado_para_chatwoot = false\n  AND (\n    (c.tipo_contato = 'email' AND c.valor_contato IS NOT NULL AND c.valor_contato != '')\n    OR \n    (c.tipo_contato IN ('whatsapp', 'telefone_geral') AND c.valor_contato IS NOT NULL AND c.valor_contato != '')\n  )\nORDER BY \n  c.prioridade_contato ASC,\n  c.classificacao_contato ASC,\n  c.data_captacao DESC\nLIMIT 500;","options":{}},"id":"e09a18dd-f36f-45b2-a8a8-e62e96232e97","name":"Buscar Contatos Pendentes","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-1888,32],"credentials":{"postgres":{"id":"kdY0L5cBEpidbggQ","name":"Postgres issuemapper"}}},{"parameters":{"url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/contacts/search?q={{ $json.email }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,-400],"id":"fa1cc417-7671-45c5-884e-86913563f8ba","name":"Buscar contatos email","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://chatwoot-im-chatwoot.5ikbes.easypanel.host/api/v1/accounts/1/contacts/search?q={{ $json.telefone }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,-144],"id":"90d69460-f786-4ede-bf3b-e529f849605b","name":"Buscar contatos chatwoot whatsapp","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"JllMlV1RDbqP4Wer","name":"chatwoot"}},"onError":"continueRegularOutput"}],"connections":{"Check Contatos Existem":{"main":[[{"node":"Processar Dados Contatos","type":"main","index":0}]]},"Processar Dados Contatos":{"main":[[{"node":"email?","type":"main","index":0}]]},"Switch Create/Update":{"main":[[{"node":"Criar Contato Chatwoot","type":"main","index":0}],[{"node":"Atualizar Contato Chatwoot","type":"main","index":0}]]},"Criar Contato Chatwoot":{"main":[[{"node":"Atualizar Status Supabase","type":"main","index":0}]]},"Atualizar Contato Chatwoot":{"main":[[{"node":"Atualizar Status Supabase1","type":"main","index":0}]]},"Atualizar Status Supabase":{"main":[[{"node":"Log Sincronização","type":"main","index":0}]]},"Atualizar Status Supabase1":{"main":[[{"node":"Log Sincronização1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Check Contatos Existem","type":"main","index":0}]]},"Log Sincronização":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Log Sincronização1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Buscar Contatos Pendentes","type":"main","index":0}]]},"email?":{"main":[[{"node":"Buscar contatos email","type":"main","index":0}],[{"node":"Buscar contatos chatwoot whatsapp","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch Create/Update","type":"main","index":0}]]},"Buscar Contatos Pendentes":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Buscar contatos email":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Buscar contatos chatwoot whatsapp":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-09-04T15:00:00.004-03:00","Readable date":"September 4th 2025, 3:00:00 pm","Readable time":"3:00:00 pm","Day of week":"Thursday","Year":"2025","Month":"September","Day of month":"04","Hour":"15","Minute":"00","Second":"00","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"e911e139-a377-490e-a3ba-9e7b2d9b9de1","triggerCount":1,"shared":[{"createdAt":"2025-07-05T21:29:22.789Z","updatedAt":"2025-07-05T21:29:22.789Z","role":"workflow:owner","workflowId":"drDsgxMx3QxI2ZpP","projectId":"jzOAAIdP7BZ8Ke70"}],"tags":[{"createdAt":"2025-09-14T22:34:56.645Z","updatedAt":"2025-09-14T22:34:56.645Z","id":"hHX4poQqtegzPhSb","name":"issue"}]}