backups/whatsapp-WykGLWd2qmeYLchw.json
{"updatedAt":"2026-01-16T00:03:52.309Z","createdAt":"2025-12-06T20:24:27.472Z","id":"WykGLWd2qmeYLchw","name":"Recebimento facebook/instagram/whatsapp","active":true,"isArchived":false,"nodes":[{"parameters":{"respondWith":"text","responseBody":"={{ $json.query[\"hub.challenge\"] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-768,208],"id":"d0c50409-09af-4748-82a0-1be4438f4ee1","name":"Respond to Webhook1"},{"parameters":{"path":"meta","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1056,208],"id":"72333cf5-04ae-4755-ad01-5f5c9d99e5ab","name":"Webhook1","webhookId":"497a4a1e-9fdf-458b-b0aa-c16aac5e0b0c"},{"parameters":{"operation":"executeQuery","query":"  WITH input AS (\n    SELECT $1::text AS channel_identifier\n  )\n  SELECT\n    p.agent_workflow_id,\n    p.id as project_id,\n    COALESCE(c.channel_identifier, input.channel_identifier) as channel_identifier,\n    c.channel_type,\n    c.access_token\n  FROM input\n  LEFT JOIN public.channels c ON c.channel_identifier = input.channel_identifier\n  LEFT JOIN public.projects p ON c.project_id = p.id;","options":{"queryReplacement":"= {{ $json.body.entry?.[0]?.changes?.[0]?.value?.metadata?.phone_number_id || $json.body.entry?.[0]?.changes?.[0]?.value?.id || $json.body.entry?.[0]?.id || '' }}"}},"id":"4c4a80df-8e34-4508-9035-b7d4d0d39ad6","name":"Fetch Tenant Info","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-720,-80],"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=https://ai.superbot.digital/webhook/{{ $json.channel_identifier }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  ...$('Webhook meta').item.json.body,\n  metadata: {\n    ...($('Webhook meta').item.json.body.metadata || {}),\n    project_id: $json.project_id,\n    channel_identifier: $json.channel_identifier,\n    channel_type: $json.channel_type,\n    access_token: $json.access_token\n  }\n} }}","options":{}},"id":"abc6930a-cd0b-4411-a6cc-0d1f92cbf126","name":"Dynamic Agent Call","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-464,-80]},{"parameters":{"httpMethod":"POST","path":"meta","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-960,-80],"id":"1f7175dd-86ec-48e6-a5c5-bfdb6d008e95","name":"Webhook meta","webhookId":"497a4a1e-9fdf-458b-b0aa-c16aac5e0b0c"}],"connections":{"Webhook1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Fetch Tenant Info":{"main":[[{"node":"Dynamic Agent Call","type":"main","index":0}]]},"Webhook meta":{"main":[[{"node":"Fetch Tenant Info","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"0b875135-3586-4b6b-a4ad-6025bd272a67","activeVersionId":"0b875135-3586-4b6b-a4ad-6025bd272a67","triggerCount":2,"shared":[{"updatedAt":"2025-12-06T20:24:27.472Z","createdAt":"2025-12-06T20:24:27.472Z","role":"workflow:owner","workflowId":"WykGLWd2qmeYLchw","projectId":"zyT6Lzq0Jawtq8wZ"}],"activeVersion":{"updatedAt":"2026-01-16T00:03:52.311Z","createdAt":"2026-01-16T00:03:52.311Z","versionId":"0b875135-3586-4b6b-a4ad-6025bd272a67","workflowId":"WykGLWd2qmeYLchw","nodes":[{"parameters":{"respondWith":"text","responseBody":"={{ $json.query[\"hub.challenge\"] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-768,208],"id":"d0c50409-09af-4748-82a0-1be4438f4ee1","name":"Respond to Webhook1"},{"parameters":{"path":"meta","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1056,208],"id":"72333cf5-04ae-4755-ad01-5f5c9d99e5ab","name":"Webhook1","webhookId":"497a4a1e-9fdf-458b-b0aa-c16aac5e0b0c"},{"parameters":{"operation":"executeQuery","query":"  WITH input AS (\n    SELECT $1::text AS channel_identifier\n  )\n  SELECT\n    p.agent_workflow_id,\n    p.id as project_id,\n    COALESCE(c.channel_identifier, input.channel_identifier) as channel_identifier,\n    c.channel_type,\n    c.access_token\n  FROM input\n  LEFT JOIN public.channels c ON c.channel_identifier = input.channel_identifier\n  LEFT JOIN public.projects p ON c.project_id = p.id;","options":{"queryReplacement":"= {{ $json.body.entry?.[0]?.changes?.[0]?.value?.metadata?.phone_number_id || $json.body.entry?.[0]?.changes?.[0]?.value?.id || $json.body.entry?.[0]?.id || '' }}"}},"id":"4c4a80df-8e34-4508-9035-b7d4d0d39ad6","name":"Fetch Tenant Info","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-720,-80],"credentials":{"postgres":{"id":"XkopfZF03eoudUSD","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=https://ai.superbot.digital/webhook/{{ $json.channel_identifier }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  ...$('Webhook meta').item.json.body,\n  metadata: {\n    ...($('Webhook meta').item.json.body.metadata || {}),\n    project_id: $json.project_id,\n    channel_identifier: $json.channel_identifier,\n    channel_type: $json.channel_type,\n    access_token: $json.access_token\n  }\n} }}","options":{}},"id":"abc6930a-cd0b-4411-a6cc-0d1f92cbf126","name":"Dynamic Agent Call","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-464,-80]},{"parameters":{"httpMethod":"POST","path":"meta","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-960,-80],"id":"1f7175dd-86ec-48e6-a5c5-bfdb6d008e95","name":"Webhook meta","webhookId":"497a4a1e-9fdf-458b-b0aa-c16aac5e0b0c"}],"connections":{"Webhook1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Fetch Tenant Info":{"main":[[{"node":"Dynamic Agent Call","type":"main","index":0}]]},"Webhook meta":{"main":[[{"node":"Fetch Tenant Info","type":"main","index":0}]]}},"authors":"Emilio Ricci","name":null,"description":null},"tags":[]}